Repository dotnet/maui, pull requests merged in 2021-10, with the labels that each got.

#2806 Adjust margin calculations
  src/Core/src/Layouts/LayoutExtensions.cs
  src/Core/tests/UnitTests/Layouts/LayoutExtensionTests.cs
Labels: area/layout 🔲

#2822 Rename Development Guide
  .github/DEVELOPMENT.md
  README.md
Labels: area/infrastructure 🏗️

#2826 Update DEVELOPMENT.md
  .github/DEVELOPMENT.md
Labels: area/infrastructure 🏗️

#2823 Resolve the IDE/CLI solution issues
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-blazor/MauiApp.1.App.sln
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.App.sln
Labels: area/templates 📄

#1235 Implement ImageSource property in WinUI ButtonHandler
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.Impl.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.Windows.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.cs
  src/Controls/src/Core/Platform/Windows/Extensions/ButtonExtensions.cs
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Windows.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/Windows/ImageExtensions.cs
  src/Core/src/Platform/Windows/MauiButton.cs
Labels: platform/windows 🪟

#2742 [Windows] Port CursorPosition for Entry handler
  src/Compatibility/Core/src/Windows/EntryRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml.cs
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/src/Platform/Windows/MauiTextBox.cs
Labels: area/controls 🎮

#3185 Use win10-* for the RIDs
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Controls/samples/Controls.Sample.SingleProject/Maui.Controls.Sample.SingleProject.csproj
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: area/templates 📄
