Repository dotnet/maui, pull requests merged in 2021-05, with the labels that each got.

#921 [Build] Sign release branches by default
  eng/pipelines/handlers.yml
Labels: t/housekeeping ♻︎

#968 [Housekeeping] Remove AppKit references
  src/Core/src/Handlers/IViewHandler.Mac.cs
  src/Core/src/Handlers/Layout/LayoutHandler.iOS.cs
  src/Core/src/Handlers/Page/PageHandler.iOS.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.iOS.cs
  src/Core/src/Platform/iOS/ActivationState.cs
  src/Core/src/Platform/iOS/ColorExtensions.cs
  src/Core/src/Platform/iOS/CoreGraphicsExtensions.cs
  src/Core/src/Platform/iOS/DateExtensions.cs
Labels: housekeeping

#875 Implement native events in WinUI SearchBarHandler
  src/Compatibility/Core/src/WinUI/SearchBarRenderer.cs
  src/Controls/src/Core/HandlerImpl/SearchBar.Impl.cs
  src/Core/src/Core/ISearchBar.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/tests/DeviceTests/Stubs/SearchBarStub.cs
Labels: windows

#739 Implement basic Editor properties in WinUI
  src/Compatibility/Core/src/WinUI/EditorRenderer.cs
  src/Compatibility/Core/src/WinUI/EntryRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/MainPage.cs
  src/Core/src/Handlers/Editor/EditorHandler.Windows.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: windows

#1005 [Housekeeping] Fix WinUI font issue in TextBoxExtensions
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: housekeeping

#1015 [Housekeeping] Allow pages without content
  src/Core/src/Handlers/Page/PageHandler.Android.cs
  src/Core/src/Handlers/Page/PageHandler.Windows.cs
  src/Core/src/Handlers/Page/PageHandler.cs
  src/Core/src/Handlers/Page/PageHandler.iOS.cs
Labels: housekeeping

#933 Update .NET 6 dependencies to preview 4
  eng/Microsoft.Extensions.targets
  src/BlazorWebView/src/core/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/core/Android/WebKitWebViewClient.cs
  src/BlazorWebView/src/core/Microsoft.AspNetCore.Components.WebView.Maui.csproj
  src/BlazorWebView/src/core/Windows/WebView2WebViewManager.cs
  src/BlazorWebView/src/core/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/core/iOS/IOSWebViewManager.cs
Labels: t/housekeeping ♻︎

#891 Implement more properties in WinUI LabelHandler
  src/Compatibility/Core/src/WinUI/AlignmentExtensions.cs
  src/Compatibility/Core/src/WinUI/LabelRenderer.cs
  src/Core/src/Handlers/Label/LabelHandler.Windows.cs
  src/Core/src/Platform/Windows/AlignmentExtensions.cs
  src/Core/src/Platform/Windows/TextBlockExtensions.cs
Labels: windows

#777 Implement StepperHandler in WinUI
  src/Core/src/Handlers/Stepper/StepperHandler.Windows.cs
  src/Core/src/Platform/Windows/MauiStepper.cs
  src/Core/src/Platform/Windows/StepperExtensions.cs
  src/Core/src/Platform/Windows/Styles/MauiStepperStyle.xaml
  src/Core/src/Platform/Windows/Styles/Resources.xaml
Labels: windows

#816 Implement ReturnType property in WinUI EntryHandler
  src/Compatibility/Core/src/WinUI/EntryRenderer.cs
  src/Compatibility/Core/src/WinUI/Extensions.cs
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/src/Platform/Windows/ReturnTypeExtensions.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: windows
