Repository dotnet/maui, pull requests merged in 2021-04, with the labels that each got.

#638 Fix Android infinite height bug
  src/Core/src/Handlers/View/AbstractViewHandler.Android.cs
Labels: layout

#693 [Housekeeping] Include missing Stepper.Impl.cs class
  src/Controls/src/Core/HandlerImpl/Stepper.Impl.cs
  src/Controls/src/Core/Stepper.cs
Labels: housekeeping

#719 Implement IsToggled property in WinUI SwitchHandler
  src/Compatibility/Core/src/AppHostBuilderExtensions.cs
  src/Controls/src/Core/HandlerImpl/Switch.Impl.cs
  src/Core/src/Core/ISwitch.cs
  src/Core/src/Handlers/Switch/SwitchHandler.Android.cs
  src/Core/src/Handlers/Switch/SwitchHandler.Standard.cs
  src/Core/src/Handlers/Switch/SwitchHandler.Windows.cs
  src/Core/src/Handlers/Switch/SwitchHandler.cs
  src/Core/src/Handlers/Switch/SwitchHandler.iOS.cs
  src/Core/src/Platform/Android/SwitchExtensions.cs
  src/Core/src/Platform/Windows/SwitchExtensions.cs
  src/Core/src/Platform/iOS/SwitchExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/SwitchStub.cs
Labels: windows

#757 [android] cleanup FormsViewGroup Android Studio project
  src/Compatibility/Core/src/Android.FormsViewGroup/Jars/formsviewgroup.jar
  src/Compatibility/Core/src/AndroidNative/.gitignore
  src/Compatibility/Core/src/AndroidNative/FormsViewGroup/build.gradle
  src/Compatibility/Core/src/AndroidNative/FormsViewGroup/src/main/AndroidManifest.xml
  src/Compatibility/Core/src/AndroidNative/FormsViewGroup/src/main/res/drawable-hdpi/ic_launcher.png
  src/Compatibility/Core/src/AndroidNative/FormsViewGroup/src/main/res/drawable-mdpi/ic_launcher.png
  src/Compatibility/Core/src/AndroidNative/FormsViewGroup/src/main/res/drawable-xhdpi/ic_launcher.png
  src/Compatibility/Core/src/AndroidNative/FormsViewGroup/src/main/res/values-v11/styles.xml
  src/Compatibility/Core/src/AndroidNative/FormsViewGroup/src/main/res/values-v14/styles.xml
  src/Compatibility/Core/src/AndroidNative/FormsViewGroup/src/main/res/values/strings.xml
  src/Compatibility/Core/src/AndroidNative/FormsViewGroup/src/main/res/values/styles.xml
  src/Compatibility/Core/src/AndroidNative/build.gradle
Labels: t/housekeeping ♻︎

#724 Implement MaxLines property in WinUI LabelHandler
  src/Compatibility/Core/src/Windows/LabelRenderer.cs
  src/Core/src/Handlers/Label/LabelHandler.Windows.cs
  src/Core/src/Platform/Windows/TextBlockExtensions.cs
Labels: windows

#720 Implement Text property in WinUI SearchBarHandler
  src/Compatibility/Core/src/WinUI/SearchBarRenderer.cs
  src/Core/src/Handlers/Picker/PickerHandler.Windows.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
Labels: windows

#721 Implement Progress property in WinUI ProgressBarHandler
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.Windows.cs
  src/Core/src/Platform/Windows/ProgressBarExtensions.cs
Labels: windows

#741 Implement Placeholder property in WinUI SearchBarHandler
  src/Compatibility/Core/src/WinUI/SearchBarRenderer.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
Labels: windows

#817 Implement MaxLength property in WinUI EntryHandler
  src/Compatibility/Core/src/WinUI/EntryRenderer.cs
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: windows

#740 Implement CharacterSpacing property in WinUI SearchBarHandler
  src/Compatibility/Core/src/WinUI/SearchBarRenderer.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Platform/Windows/CharacterSpacingExtensions.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
Labels: windows

#818 Implement IsReadOnly property in WinUI EntryHandler
  src/Compatibility/Core/src/WinUI/EntryRenderer.cs
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: windows

#723 Implement Date property in WinUI DatePickerHandler
  src/Compatibility/Core/src/WinUI/DatePickerRenderer.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Windows.cs
  src/Core/src/Platform/Windows/DatePickerExtensions.cs
Labels: windows

#722 Implement Time property in WinUI TimePickerHandler
  src/Compatibility/Core/src/WinUI/TimePickerRenderer.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.Windows.cs
  src/Core/src/Platform/Windows/TimePickerExtensions.cs
Labels: windows

#819 Implement Placeholder property in WinUI EntryHandler
  src/Compatibility/Core/src/WinUI/EntryRenderer.cs
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: windows

#718 Implement basic SliderHandler properties in WinUI
  src/Compatibility/Core/src/WinUI/SliderRenderer.cs
  src/Core/src/Handlers/Slider/SliderHandler.Windows.cs
  src/Core/src/Platform/Windows/SliderExtensions.cs
Labels: windows

#779 Implement PickerHandler in WinUI
  src/Compatibility/Core/src/WinUI/PickerRenderer.cs
  src/Core/src/Handlers/Picker/PickerHandler.Windows.cs
  src/Core/src/Platform/Windows/CharacterSpacingExtensions.cs
  src/Core/src/Platform/Windows/ColorConverter.cs
  src/Core/src/Platform/Windows/MauiCombobox.cs
  src/Core/src/Platform/Windows/PickerExtensions.cs
  src/Core/src/Platform/Windows/Styles/MauiComboBoxStyle.xaml
  src/Core/src/Platform/Windows/Styles/Resources.xaml
  src/Core/src/Platform/iOS/MauiPicker.cs
  src/Core/src/Platform/iOS/PickerExtensions.cs
  src/Core/src/Primitives/LockableObservableListWrapper.cs
Labels: windows

#863 Implement WinUI SliderHandler events (DragStarted, etc)
  src/Compatibility/Core/src/WinUI/SliderRenderer.cs
  src/Controls/src/Core/AppHostBuilderExtensions.cs
  src/Core/src/Handlers/Slider/SliderHandler.Windows.cs
  src/Core/src/Platform/Windows/SliderExtensions.cs
Labels: windows
