Repository dotnet/maui, pull requests merged in 2021-09, with the labels that each got.

#1478 Implement IsTextPredictionEnabled in WinUI Editor
  src/Compatibility/Core/src/Windows/EditorRenderer.cs
  src/Core/src/Handlers/Editor/EditorHandler.Windows.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: platform/windows 🪟

#2366 Bump Android samples to use API 31
  src/Compatibility/ControlGallery/src/Android/Properties/AndroidManifest.xml
  src/Controls/samples/Controls.Sample.Droid/Properties/AndroidManifest.xml
  src/Controls/samples/Controls.Sample.SingleProject/Platforms/Android/AndroidManifest.xml
  src/Essentials/samples/Samples/Platforms/Android/AndroidManifest.xml
  src/TestUtils/samples/DeviceTests.Sample/Platforms/Android/AndroidManifest.xml
Labels: t/housekeeping ♻︎

#2386 Try start vs4mac with local dotnet
  .config/dotnet-tools.json
  eng/cake/dotnet.cake
Labels: t/housekeeping ♻︎

#2504 Update WebView2 to 1.0.961.33
  eng/Microsoft.Extensions.targets
  src/BlazorWebView/samples/BlazorWinFormsApp/Form1.cs
  src/BlazorWebView/samples/BlazorWinFormsApp/Form1.designer.cs
  src/BlazorWebView/samples/BlazorWinFormsApp/Form1.resx
  src/BlazorWebView/samples/BlazorWinFormsApp/Pages/Other.razor
  src/BlazorWebView/src/Maui/Windows/SharedSource/ICoreWebView2AcceleratorKeyPressedEventArgsWrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/IWebView2Wrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebView2Wrapper.cs
  src/BlazorWebView/src/WebView2/ICoreWebView2AcceleratorKeyPressedEventArgsWrapper.cs
  src/BlazorWebView/src/WebView2/IWebView2Wrapper.cs
  src/BlazorWebView/src/WebView2/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/WindowsFormsCoreWebView2AcceleratorKeyPressedEventArgsWrapper.cs
  src/BlazorWebView/src/WindowsForms/WindowsFormsWebView2Wrapper.cs
  src/BlazorWebView/src/Wpf/WpfCoreWebView2AcceleratorKeyPressedEventArgsWrapper.cs
  src/BlazorWebView/src/Wpf/WpfWebView2Wrapper.cs
Labels: area/blazor 🕸️

#2615 [Core] Fix issue invalidating shapes
  src/Controls/src/Core/HandlerImpl/Line.Impl.cs
  src/Controls/src/Core/HandlerImpl/Path.Impl.cs
  src/Controls/src/Core/HandlerImpl/Polygon.Impl.cs
  src/Controls/src/Core/HandlerImpl/Polyline.Impl.cs
  src/Controls/src/Core/HandlerImpl/Rectangle.Impl.cs
Labels: t/bug, area/drawing ✏️

#1554 Implement Keyboard property in WinUI Entry
  src/Compatibility/Core/src/Windows/EntryRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/src/Platform/Windows/KeyboardExtensions.cs
  src/Core/src/Platform/Windows/MauiTextBox.cs
  src/Core/src/Platform/Windows/ReturnTypeExtensions.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: platform/windows 🪟

#2676 Add (Preview) to MAUI template names for now
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-contentpage-csharp/.template.config/template.json
  src/Templates/src/templates/maui-contentpage-xaml/.template.config/template.json
  src/Templates/src/templates/maui-contentview-csharp/.template.config/template.json
  src/Templates/src/templates/maui-contentview-xaml/.template.config/template.json
  src/Templates/src/templates/maui-lib/.template.config/template.json
  src/Templates/src/templates/maui-mobile/.template.config/template.json
Labels: area/templates 📄

#1007 Implement more WinUI SwitchHandler properties
  src/Compatibility/Core/src/Windows/SwitchRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwitchPage.xaml
  src/Controls/src/Core/HandlerImpl/Switch.Impl.cs
  src/Core/src/Handlers/Switch/SwitchHandler.Windows.cs
  src/Core/src/Platform/ImageSourceExtensions.cs
  src/Core/src/Platform/Windows/FrameworkElementExtensions.cs
  src/Core/src/Platform/Windows/ReflectionExtensions.cs
  src/Core/src/Platform/Windows/SwitchExtensions.cs
Labels: platform/windows 🪟

#1477 Implement IsTextPredictionEnabled in WinUI Entry
  src/Compatibility/Core/src/Windows/EntryRenderer.cs
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: platform/windows 🪟

#1149 Implement ThumbColor property in WinUI Slider
  src/Controls/samples/Controls.Sample/Pages/Controls/SliderPage.xaml
  src/Core/src/Handlers/Slider/SliderHandler.Windows.cs
  src/Core/src/Platform/Windows/BrushHelpers.cs
  src/Core/src/Platform/Windows/MauiSlider.cs
  src/Core/src/Platform/Windows/SliderExtensions.cs
  src/Core/src/Platform/Windows/Styles/MauiSliderStyle.xaml
  src/Core/src/Platform/Windows/Styles/Resources.xaml
Labels: platform/windows 🪟

#2706 Call defaults in some handlers
  src/Core/src/Handlers/Editor/EditorHandler.Windows.cs
  src/Core/src/Handlers/Label/LabelHandler.Android.cs
  src/Core/src/Handlers/Picker/PickerHandler.Android.cs
  src/Core/src/Handlers/Picker/PickerHandler.Windows.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
Labels: t/housekeeping ♻︎

#2734 Update Maui.Graphics and SkiaSharp
  NuGet.config
  eng/Microsoft.Extensions.targets
  eng/scripts/patch-vs.ps1
  src/SingleProject/Resizetizer/src/ResizetizerPackages.projitems
Labels: area/drawing ✏️

#1726 Windows - Added PointerReleasedEvent to match functionality
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
Labels: area/controls 🎮
