Repository dotnet/maui, pull requests merged in 2021-11, with the labels that each got.

#3191 BlazorWebView support for loading custom static assets
  src/BlazorWebView/samples/BlazorWinFormsApp/CustomFilesBlazorWebView.cs
  src/BlazorWebView/samples/BlazorWinFormsApp/Form1.cs
  src/BlazorWebView/samples/BlazorWinFormsApp/Form1.designer.cs
  src/BlazorWebView/samples/BlazorWpfApp/CustomFilesBlazorWebView.cs
  src/BlazorWebView/samples/BlazorWpfApp/MainWindow.xaml
  src/BlazorWebView/samples/BlazorWpfApp/MainWindow.xaml.cs
  src/BlazorWebView/samples/WebViewAppShared/InMemoryStaticFileProvider.cs
  src/BlazorWebView/samples/WebViewAppShared/StaticFilesContents.cs
  src/BlazorWebView/samples/WebViewAppShared/WebViewAppShared.csproj
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/IBlazorWebView.cs
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
  src/Controls/samples/Controls.Sample/Pages/Blazor/BlazorPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Blazor/CustomBlazorWebView.cs
Labels: area/blazor 🕸️

#3165 Clean up Shell Chrome Behaviors
  src/Controls/samples/Controls.Sample/Pages/AppShell.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/ShellGalleries/ShellChromeGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Core/ShellGalleries/ShellChromeGallery.xaml
  src/Controls/src/Core/Handlers/Shell/Windows/ShellItemView.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellSectionView.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellView.cs
  src/Controls/src/Core/Shell/BackButtonBehavior.cs
  src/Controls/src/Core/Shell/Shell.cs
Labels: area/shell 🐢

#2772 [X] Incremental SourceGenerator
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/src/SourceGen/Controls.SourceGen.csproj
Labels: area/Xaml </>, do-not-merge

#3018 Implement .NET 6 features for templates.
  src/Templates/src/templates/maui-blazor/App.xaml.cs
  src/Templates/src/templates/maui-blazor/Data/WeatherForecast.cs
  src/Templates/src/templates/maui-blazor/Data/WeatherForecastService.cs
  src/Templates/src/templates/maui-blazor/GlobalUsings.cs
  src/Templates/src/templates/maui-blazor/MainPage.xaml.cs
  src/Templates/src/templates/maui-blazor/MauiProgram.cs
  src/Templates/src/templates/maui-blazor/Platforms/Android/MainActivity.cs
  src/Templates/src/templates/maui-blazor/Platforms/Android/MainApplication.cs
  src/Templates/src/templates/maui-blazor/Platforms/MacCatalyst/AppDelegate.cs
  src/Templates/src/templates/maui-blazor/Platforms/MacCatalyst/Program.cs
  src/Templates/src/templates/maui-blazor/Platforms/Windows/App.xaml.cs
  src/Templates/src/templates/maui-blazor/Platforms/iOS/AppDelegate.cs
  src/Templates/src/templates/maui-blazor/Platforms/iOS/Program.cs
  src/Templates/src/templates/maui-lib/Class1.cs
  src/Templates/src/templates/maui-lib/Platforms/Android/PlatformClass1.cs
  src/Templates/src/templates/maui-lib/Platforms/MacCatalyst/PlatformClass1.cs
  src/Templates/src/templates/maui-lib/Platforms/Windows/PlatformClass1.cs
  src/Templates/src/templates/maui-lib/Platforms/iOS/PlatformClass1.cs
  src/Templates/src/templates/maui-mobile/App.xaml.cs
  src/Templates/src/templates/maui-mobile/GlobalUsings.cs
  src/Templates/src/templates/maui-mobile/MainPage.xaml.cs
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/MauiProgram.cs
  src/Templates/src/templates/maui-mobile/Platforms/Android/MainActivity.cs
  src/Templates/src/templates/maui-mobile/Platforms/Android/MainApplication.cs
  src/Templates/src/templates/maui-mobile/Platforms/MacCatalyst/AppDelegate.cs
  src/Templates/src/templates/maui-mobile/Platforms/MacCatalyst/Program.cs
  src/Templates/src/templates/maui-mobile/Platforms/Windows/App.xaml.cs
  src/Templates/src/templates/maui-mobile/Platforms/iOS/AppDelegate.cs
  src/Templates/src/templates/maui-mobile/Platforms/iOS/Program.cs
Labels: area/templates 📄

#3227 Fix BlazorWebView designer ancestor InDesignMode check
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
Labels: area/blazor 🕸️

#3230 Fix path separator to work on mac for clean cake target
  eng/cake/helpers.cake
Labels: t/housekeeping ♻︎

#3268 Expose the window hwnd
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
Labels: area/desktop 🖥️

#3282 Fix font path on catalyst
  src/Core/src/Fonts/FontRegistrar.iOS.cs
Labels: area/fonts 🅰️

#3297 [Windows] Signal native text changes to Editor
  src/Core/src/Handlers/Editor/EditorHandler.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮

#3247 [Housekeeping] Created settings page in the .NET MAUI Gallery
  src/Controls/samples/Controls.Sample/Pages/Base/BasePage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/MultiWindowPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/MultiWindowPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/SettingsPage.xaml
  src/Controls/samples/Controls.Sample/Pages/SettingsPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/CoreViewModel.cs
  src/Controls/samples/Controls.Sample/ViewModels/SettingsViewModel.cs
Labels: t/housekeeping ♻︎

#3281 [workload] move SingleProject.targets to Microsoft.Maui.Sdk
  .nuspec/Microsoft.Maui.Controls.targets
  eng/cake/dotnet.cake
  src/Compatibility/ControlGallery/src/Core/Directory.Build.targets
  src/Compatibility/ControlGallery/src/Core/Source.Build.targets
  src/Compatibility/ControlGallery/src/WinUI/Directory.Build.targets
  src/Controls/samples/Maui.InTree.targets
  src/Controls/src/Build.Tasks/Controls.Build.Tasks-net6.csproj
  src/Controls/src/Build.Tasks/Controls.Build.Tasks.csproj
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/Xaml.UnitTests/MSBuild/_Directory.Build.targets
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Essentials/samples/Maui.InTree.targets
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/TestUtils/samples/DeviceTests.Sample/TestUtils.DeviceTests.Sample.csproj
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Sdk.After.targets
Labels: area/setup 🪄

#3315 Propagate BindingContent to Border children
  src/Controls/samples/Controls.Sample/Pages/CompatibilityPage.xaml
  src/Controls/samples/Controls.Sample/Pages/ControlsPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/GesturesPage.xaml
  src/Controls/samples/Controls.Sample/Pages/CorePage.xaml
  src/Controls/samples/Controls.Sample/Pages/LayoutsPage.xaml
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml
  src/Controls/samples/Controls.Sample/Pages/OthersPage.xaml
  src/Controls/samples/Controls.Sample/Pages/UserInterfacePage.xaml
  src/Controls/samples/Controls.Sample/XamlApp.xaml
  src/Controls/src/Core/Border.cs
  src/Core/tests/UnitTests/TestCategory.cs
  src/Core/tests/UnitTests/Views/BorderTests.cs
Labels: t/bug, area/drawing ✏️

#2710 Remove usage of IsolatedStorage
  .config/dotnet-tools.json
  src/Compatibility/ControlGallery/src/Android/CacheService.cs
  src/Compatibility/Core/src/Android/Forms.cs
  src/Compatibility/Core/src/Windows/WindowsBasePlatformServices.cs
  src/Compatibility/Core/src/Windows/WindowsIsolatedStorage.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Controls/DualScreen/test/MockPlatformServices.cs
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/IIsolatedStorageFile.cs
  src/Controls/src/Core/IPlatformServices.cs
  src/Controls/src/Core/UriImageSource.cs
  src/Controls/tests/Core.UnitTests/ImageButtonUnitTest.cs
  src/Controls/tests/Core.UnitTests/ImageTests.cs
  src/Controls/tests/Core.UnitTests/MarshalingObservableCollectionTests.cs
  src/Controls/tests/Core.UnitTests/MockPlatformServices.cs
  src/Controls/tests/Core.UnitTests/UriImageSourceTests.cs
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
Labels: area/migration 🚚

#3332 [iOS] Fix Shell NavigationBar and TabBar color issues on iOS 15
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Compatibility/Core/src/iOS/Renderers/SafeShellTabBarAppearanceTracker.cs
  src/Compatibility/Core/src/iOS/Renderers/ShellNavBarAppearanceTracker.cs
Labels: t/bug, area/shell 🐢

#3276 Fix incorrect error message for accessing `Device.PlatformServices` before `Init()` call
  src/Controls/src/Core/Device.cs
Labels: t/housekeeping ♻︎, area/migration 🚚

#3328 Added Repo statistics to the readme
  README.md
Labels: area/infrastructure 🏗️

#3341 Use a non-shared folder for tests
  eng/cake/dotnet.cake
Labels: area/infrastructure 🏗️

#3267 [workload] setup C# implicit global usings from MSBuild
  src/Controls/samples/Controls.Sample.Tests/Controls.Sample.Tests.csproj
  src/Controls/samples/Controls.Sample.Tests/MauiTests.cs
  src/Controls/samples/Controls.Sample.Tests/MockPlatformServices.cs
  src/Templates/src/templates/maui-blazor/GlobalUsings.cs
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-lib/MauiLib1.csproj
  src/Templates/src/templates/maui-mobile/GlobalUsings.cs
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/AutoImport.props
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Sdk.After.targets
Labels: area/setup 🪄, area/templates 📄

#3334 [Housekeeping] Border control Device Tests
  src/Core/tests/DeviceTests/Handlers/Border/BorderHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Border/BorderHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Border/BorderHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/BorderStub.cs
  src/Core/tests/DeviceTests/TestCategory.cs
Labels: t/housekeeping ♻︎, area/controls 🎮

#3365 Add latest preview announcement post "Current News"
  README.md
Labels: t/housekeeping ♻︎

#3362 [Proposal] Obsolete AndExpand
  src/Compatibility/ControlGallery/src/Core/Compatibility.ControlGallery.Core-net6.csproj
  src/Compatibility/ControlGallery/test/Android.UITests/Compatibility.ControlGallery.Android.UITests.csproj
  src/Compatibility/ControlGallery/test/WinUI.UITests/WinUI.UITests.csproj
  src/Compatibility/ControlGallery/test/iOS.UITests/Compatibility.ControlGallery.iOS.UITests.csproj
  src/Controls/Maps/src/Map.cs
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample-net6.csproj
  src/Controls/samples/Controls.Sample/Pages/Blazor/BlazorPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Compatibility/AndExpandPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/AndExpandPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/GalleryBuilder.cs
  src/Controls/samples/Controls.Sample/Pages/Core/TapGestureGalleryPage.cs
  src/Controls/samples/Controls.Sample/ViewModels/CompatibilityViewModel.cs
  src/Controls/src/Core/Layout/AndExpandLayoutManager.cs
  src/Controls/src/Core/Layout/StackBase.cs
  src/Controls/src/Core/Layout/StackLayout.cs
  src/Controls/src/Core/Layout/StackLayoutManager.cs
  src/Controls/src/Core/LayoutOptions.cs
  src/Controls/src/Core/LayoutOptionsConverter.cs
  src/Controls/src/Core/LegacyLayouts/RelativeLayout.cs
  src/Controls/src/Core/ListView.cs
  src/Controls/src/Core/RefreshView.cs
  src/Controls/src/Core/TableView.cs
  src/Controls/tests/Core.UnitTests/Layouts/AndExpandTests.cs
  src/Controls/tests/Xaml.UnitTests/Controls.Xaml.UnitTests-net6.csproj
Labels: proposal/open, area/layout 🔲

#3298 [Android] Fix mismatch date issue in DatePicker
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮

#3320 Update issue templates to use GitHub forms (beta)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/spec.md
  .github/ISSUE_TEMPLATE/spec.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#3413 Fix GitHub actions
  .github/workflows/backport-trigger.yml
  .github/workflows/dotnet-format-daily.yml
  .github/workflows/rebase-trigger.yml
Labels: t/housekeeping ♻︎

#3418 Remove the temporary patch
  eng/pipelines/common/provision.yml
  eng/scripts/patch-vs.ps1
Labels: area/infrastructure 🏗️

#3426 Update issue template version boxes
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#3428 Build projects in parallel
  eng/cake/dotnet.cake
Labels: area/infrastructure 🏗️

#3427 Add `repro.md` to issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/repro.md
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#2807 [Android] Update SecureStorage to use EncryptedSharedPreferences
  eng/Microsoft.Extensions.targets
  eng/devices/android.cake
  eng/devices/ios.cake
  src/Controls/samples/Controls.Sample/Extensions/EssentialsExtensions.cs
  src/Controls/samples/Controls.Sample/Extensions/IEssentialsBuilder.cs
  src/Essentials/samples/Samples/View/SecureStoragePage.xaml
  src/Essentials/src/Essentials-net6.csproj
  src/Essentials/src/Preferences/Preferences.android.cs
  src/Essentials/src/SecureStorage/SecureStorage.android.cs
  src/Essentials/src/SecureStorage/SecureStorage.shared.cs
  src/Essentials/test/DeviceTests/Tests/Preferences_Tests.cs
  src/Essentials/test/DeviceTests/Tests/SecureStorage_Tests.cs
Labels: area/essentials 🍞

#3262 Added meta and icons for item templates
  src/Templates/src/templates/maui-contentpage-csharp/.template.config/ide.host.json
  src/Templates/src/templates/maui-contentpage-csharp/.template.config/ide/MauiPageCSFile.ico
  src/Templates/src/templates/maui-contentpage-csharp/.template.config/template.json
  src/Templates/src/templates/maui-contentpage-xaml/.template.config/ide.host.json
  src/Templates/src/templates/maui-contentpage-xaml/.template.config/ide/MauiPageXamlFile.ico
  src/Templates/src/templates/maui-contentpage-xaml/.template.config/template.json
  src/Templates/src/templates/maui-contentview-csharp/.template.config/ide.host.json
  src/Templates/src/templates/maui-contentview-csharp/.template.config/ide/MauiContentViewCSFile.ico
  src/Templates/src/templates/maui-contentview-csharp/.template.config/template.json
  src/Templates/src/templates/maui-contentview-xaml/.template.config/ide.host.json
  src/Templates/src/templates/maui-contentview-xaml/.template.config/ide/MauiContentViewXamlFile.ico
  src/Templates/src/templates/maui-contentview-xaml/.template.config/template.json
Labels: area/templates 📄

#3450 [Blazor] Force conversion from static web assets to happen after project references have been resolved
  src/BlazorWebView/src/Maui/build/Microsoft.AspNetCore.Components.WebView.Maui.targets
Labels: area/blazor 🕸️

#3442 Don't queue up layout changes from ScrollView
  src/Controls/src/Core/HandlerImpl/ScrollView.Impl.cs
  src/Controls/src/Core/Layout.cs
Labels: area/layout 🔲

#1202 MAUI 395 port editor Autosize to handler
  src/Controls/samples/Controls.Sample/Pages/Controls/EditorPage.xaml
  src/Controls/samples/Controls.Sample/XamlApp.xaml.cs
  src/Controls/src/Core/Editor.cs
  src/Controls/src/Core/HandlerImpl/Editor.Impl.cs
  src/Controls/src/Core/HandlerImpl/Editor/Editor.Impl.cs
  src/Controls/src/Core/Platform/IElementExtensions.cs
  src/Controls/tests/DeviceTests/Elements/EditorTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.iOS.cs
Labels: do-not-merge, community ✨

#3502 [Windows] Fix issue setting the Image Background
  src/Controls/samples/Controls.Sample/Pages/Controls/ImagePage.xaml
  src/Core/src/Handlers/Image/ImageHandler.cs
Labels: t/bug, platform/windows 🪟, area/image :framed_picture:

#3503 [Housekeeping] Slider issues using Minimum and Maximum values
  src/Controls/samples/Controls.Sample/Pages/Controls/SliderPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SliderPage.xaml.cs
Labels: t/bug, t/housekeeping ♻︎, area/controls 🎮

#3508 Add demands for macOS
  eng/pipelines/handlers.yml
Labels: t/housekeeping ♻︎

#3454 iOS 13+ always uses the scenes if there is one registered in the manifest
  src/Core/src/Platform/iOS/HandlerExtensions.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.cs
Labels: platform/iOS 🍎, area/controls 🎮

#3409 [Windows] Button border properties
  src/Compatibility/Core/src/Windows/ButtonRenderer.cs
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
  src/Core/src/Handlers/Button/ButtonHandler.Standard.cs
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/Windows/MauiButton.cs
  src/Core/tests/DeviceTests/Stubs/ButtonStub.cs
  src/Core/tests/DeviceTests/Stubs/ImageButtonStub.cs
  src/Core/tests/UnitTests/TestClasses/ButtonStub.cs
Labels: platform/windows 🪟, area/controls 🎮

#3497 Modifed XAML Source Generator to emit MemberNotNull attributes for named XAML controls
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
Labels: area/Xaml </>

#3484 Add extension to add an IView to a GridLayout at specific column/row
  src/Controls/src/Core/Layout/GridLayout.cs
  src/Controls/src/Core/Layout/GridLayoutExtensions.cs
  src/Controls/tests/Core.UnitTests/Layouts/GridLayoutExtensionTests.cs
Labels: area/layout 🔲

#3453 Several fixes and changes to the dispatchers
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2482.cs
  src/Compatibility/Core/src/Windows/ListViewRenderer.cs
  src/Compatibility/Core/src/Windows/WindowsPlatformServices.cs
  src/Compatibility/Core/src/iOS/VisualElementTracker.cs
  src/Controls/samples/Controls.Sample/Startup.cs
  src/Controls/samples/Controls.Sample/ViewModels/MainViewModel.cs
  src/Controls/src/Core/AnimationExtensions.cs
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/BindableObject.cs
  src/Controls/src/Core/BindingExpression.cs
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/DispatcherExtensions.cs
  src/Controls/src/Core/Items/MarshalingObservableCollection.cs
  src/Controls/src/Core/Layout.cs
  src/Controls/src/Core/ListProxy.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/GroupedItemTemplateCollection.cs
  src/Controls/src/Core/TypedBinding.cs
  src/Controls/tests/Core.UnitTests/MarshalingObservableCollectionTests.cs
  src/Controls/tests/Core.UnitTests/MockPlatformServices.cs
  src/Controls/tests/DeviceTests/TestBase.cs
  src/Core/src/Dispatching/Dispatcher.Android.cs
  src/Core/src/Dispatching/Dispatcher.Standard.cs
  src/Core/src/Dispatching/Dispatcher.Windows.cs
  src/Core/src/Dispatching/Dispatcher.cs
  src/Core/src/Dispatching/Dispatcher.iOS.cs
  src/Core/src/Dispatching/DispatcherExtensions.cs
  src/Core/src/Dispatching/IDispatcher.cs
  src/Core/tests/DeviceTests/TestBase.cs
  src/Core/tests/UnitTests/Dispatching/DispatcherTests.cs
  src/Core/tests/UnitTests/TestClasses/DispatcherStub.cs
  src/Essentials/samples/Samples/App.xaml.cs
Labels: area/controls 🎮

#3540 Update WebView2 version to 1.0.1020.30
  eng/Microsoft.Extensions.targets
Labels: area/blazor 🕸️

#3532 BlazorWebView WPF/WinForms build targets need to go into NUPKG
  src/BlazorWebView/src/WindowsForms/Microsoft.AspNetCore.Components.WebView.WindowsForms.csproj
  src/BlazorWebView/src/Wpf/Microsoft.AspNetCore.Components.WebView.Wpf.csproj
Labels: area/blazor 🕸️

#3411 [iOS, Windows, Android] Button border properties
  src/Compatibility/Core/src/Windows/ButtonRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/BorderElementManager.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Startup.cs
  src/Controls/src/Core/Button.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.Impl.cs
  src/Controls/src/Core/HandlerImpl/ImageButton/ImageButton.Impl.cs
  src/Core/src/Core/IButton.cs
  src/Core/src/Core/IButtonStroke.cs
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
  src/Core/src/Handlers/Button/ButtonHandler.Standard.cs
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
  src/Core/src/Handlers/Button/ButtonHandler.cs
  src/Core/src/Handlers/Button/ButtonHandler.iOS.cs
  src/Core/src/Platform/Android/ButtonExtensions.cs
  src/Core/src/Platform/Android/CheckBoxExtensions.cs
  src/Core/src/Platform/Android/ColorExtensions.cs
  src/Core/src/Platform/Android/ColorStateListExtensions.cs
  src/Core/src/Platform/Android/ColorStates.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
  src/Core/src/Platform/Android/DatePickerExtensions.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
  src/Core/src/Platform/Android/PickerExtensions.cs
  src/Core/src/Platform/Android/SearchViewExtensions.cs
  src/Core/src/Platform/Android/SwitchExtensions.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/iOS/ButtonExtensions.cs
  src/Core/tests/DeviceTests/Stubs/ButtonStub.cs
  src/Core/tests/DeviceTests/Stubs/ImageButtonStub.cs
  src/Core/tests/UnitTests/TestClasses/ButtonStub.cs
Labels: area/controls 🎮

#3557 Move versions to Versions.props and Build WASDK
  Directory.Build.props
  NuGet.config
  eng/Microsoft.Extensions.targets
  eng/Versions.props
  eng/cake/dotnet.cake
  eng/pipelines/common/provision.yml
  src/DotNet/DotNet.csproj
  src/Templates/src/Microsoft.Maui.Templates.csproj
Labels: area/infrastructure 🏗️

#3521 Trigger frame events when the frame changes
  src/Controls/samples/Controls.Sample/Pages/Core/TransformationsPage.xaml
  src/Core/src/CommandMapper.cs
  src/Core/src/CommandMapperExtensions.cs
  src/Core/src/Handlers/Border/BorderHandler.iOS.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.iOS.cs
  src/Core/src/Handlers/View/ViewHandler.Windows.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Handlers/View/ViewHandler.iOS.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.Android.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.Windows.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.iOS.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/View/ViewHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/View/ViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/View/ViewHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/View/ViewHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/StubBaseHandler.cs
Labels: area/layout 🔲

#3589 [Windows] Implement Stepper ValueChanged event
  src/Controls/samples/Controls.Sample/Pages/Controls/StepperPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/StepperPage.xaml.cs
  src/Core/src/Handlers/Stepper/StepperHandler.Windows.cs
Labels: t/bug, platform/windows 🪟

#3588 [Windows] Fix issue not rendering Border if Background is null
  src/Core/src/Platform/Windows/ContentPanel.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️

#3587 [Android] Fix issue drawing a Border without define the border width
  src/Core/src/Graphics/MauiDrawable.Android.cs
Labels: t/bug, area/drawing ✏️

#3590 [Windows] Fix issues updating Background colors (animation) in some controls
  src/Controls/src/Core/HandlerImpl/BoxView.Impl.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: t/bug, platform/windows 🪟

#3399 [Android] Fix crash using SearchHandler on Shell
  src/Compatibility/Core/src/iOS/Renderers/SearchHandlerAppearanceTracker.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/EditorPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/ShellGalleries/ShellChromeGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Core/ShellGalleries/ShellChromeGallery.xaml
  src/Controls/samples/Controls.Sample/Resources/Images/mic.png
  src/Controls/src/Core/Platform/Android/Shell/SearchHandlerAppearanceTracker.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: t/bug, platform/android 🤖, area/shell 🐢

#3222 Setup first set of Automation Properties
  src/Compatibility/Core/src/AppHostBuilderExtensions.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.cs
  src/Controls/src/Core/HandlerImpl/Element/Element.Android.cs
  src/Controls/src/Core/HandlerImpl/Element/Element.Impl.cs
  src/Controls/src/Core/HandlerImpl/Element/Element.Standard.cs
  src/Controls/src/Core/HandlerImpl/Element/Element.Windows.cs
  src/Controls/src/Core/HandlerImpl/Element/Element.cs
  src/Controls/src/Core/HandlerImpl/Element/Element.iOS.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/Platform/Android/AutomationPropertiesProvider.cs
  src/Controls/src/Core/Properties/AssemblyInfo.cs
  src/Controls/tests/DeviceTests/Elements/ElementTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.iOS.cs
  src/Core/src/Platform/Android/HandlerExtensions.cs
Labels: area/a11y

#3529 Update Essentials Screenshot API, capture native frames.
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Standard/ViewExtensions.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Essentials/src/Screenshot/Screenshot.android.cs
  src/Essentials/src/Screenshot/Screenshot.ios.cs
  src/Essentials/src/Screenshot/Screenshot.tvos.cs
  src/Essentials/src/Screenshot/Screenshot.uwp.cs
  src/Essentials/test/DeviceTests/Tests/Screenshot_Tests.cs
Labels: partner/ui-tools, area/essentials 🍞

#2810 [AndroidX.targets] Bump to net6.0-android31.0 AndroidX packages.
  eng/AndroidX.targets
Labels: area/infrastructure 🏗️
