Repository dotnet/maui, pull requests merged in 2021-07, with the labels that each got.

#1526 [Housekeeping] Changes in the Gallery
  src/Controls/samples/Controls.Sample/Pages/Core/ClickGestureGalleryPage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/DragAndDropBetweenLayouts.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/DragAndDropBetweenLayouts.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/PanGestureGalleryPage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/PinchGestureTestPage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/SwipeGestureGalleryPage.cs
  src/Controls/samples/Controls.Sample/Pages/GesturesPage.xaml
  src/Controls/samples/Controls.Sample/Pages/GesturesPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml
  src/Controls/samples/Controls.Sample/Resources/Fonts/SegoeUI-Bold-Italic.ttf
  src/Controls/samples/Controls.Sample/Resources/Fonts/SegoeUI-Bold.ttf
  src/Controls/samples/Controls.Sample/Resources/Fonts/SegoeUI-Italic.ttf
  src/Controls/samples/Controls.Sample/Resources/Fonts/SegoeUI.ttf
  src/Controls/samples/Controls.Sample/Startup.cs
  src/Controls/samples/Controls.Sample/ViewModels/CoreViewModel.cs
  src/Controls/samples/Controls.Sample/ViewModels/GesturesViewModel.cs
  src/Controls/samples/Controls.Sample/ViewModels/MainViewModel.cs
  src/Controls/samples/Controls.Sample/XamlApp.xaml
Labels: t/housekeeping ♻︎

#1479 Implement VerticalTextAlignment in WinUI Label
  src/Compatibility/Core/src/WinUI/LabelRenderer.cs
  src/Core/src/Handlers/Label/LabelHandler.Android.cs
  src/Core/src/Handlers/Label/LabelHandler.Standard.cs
  src/Core/src/Handlers/Label/LabelHandler.Windows.cs
  src/Core/src/Handlers/Label/LabelHandler.cs
  src/Core/src/Handlers/Label/LabelHandler.iOS.cs
  src/Core/src/Platform/Windows/AlignmentExtensions.cs
  src/Core/src/Platform/Windows/TextBlockExtensions.cs
Labels: platform/windows 🪟

#1544 [Housekeeping] Update the Gallery adding samples to validate Wiki Status
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ProgressBarPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ProgressBarPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml
  src/Controls/samples/Controls.Sample/ViewModels/EntryViewModel.cs
  src/Controls/samples/Controls.Sample/ViewModels/SearchBarViewModel.cs
Labels: t/housekeeping ♻︎

#1605 [Housekeeping] More samples in the Gallery to validate shimmed controls
  src/Controls/samples/Controls.Sample/Pages/Compatibility/CarouselViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/IndicatorViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/SwipeViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/SwipeViewPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/CompatibilityViewModel.cs
Labels: t/housekeeping ♻︎

#1476 Implement TextAlignments properties in WinUI Entry
  src/Compatibility/Core/src/WinUI/EntryRenderer.cs
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: platform/windows 🪟

#1553 Implement Keyboard property in WinUI Editor
  src/Compatibility/Core/src/WinUI/EditorRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/EditorPage.xaml
  src/Core/src/Handlers/Editor/EditorHandler.Windows.cs
  src/Core/src/Platform/Windows/KeyboardExtensions.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: platform/windows 🪟

#1546 Implement TextColor in WinUI SearchBar
  src/Compatibility/Core/src/WinUI/SearchBarRenderer.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
Labels: platform/windows 🪟

#1641 Essentials: Port xamarin/Essentials#1754
  src/Essentials/src/DeviceDisplay/DeviceDisplay.android.cs
Labels: area/essentials 🍞

#1638 Essentials: Port xamarin/Essentials#1837
  src/Essentials/src/WebAuthenticator/WebAuthenticator.android.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.macos.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.netstandard.watchos.tizen.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.shared.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.uwp.cs
Labels: area/essentials 🍞

#1643 Essentials: Port xamarin/Essentials#1731
  src/Essentials/src/DeviceDisplay/DeviceDisplay.ios.cs
Labels: area/essentials 🍞

#1674 [Housekeeping] Add ContentView samples in the Gallery
  src/Controls/samples/Controls.Sample/Controls/CardView/CardView.xaml
  src/Controls/samples/Controls.Sample/Controls/CardView/CardView.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Layouts/ContentViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Layouts/ContentViewPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Layouts/TemplatedViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Layouts/TemplatedViewPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/LayoutsViewModel.cs
Labels: t/housekeeping ♻︎

#1642 Essentials: Port xamarin/Essentials#1756
  src/Essentials/src/PhoneDialer/PhoneDialer.android.cs
Labels: area/essentials 🍞

#1640 Essentials: Port xamarin/Essentials#1734
  src/Essentials/src/MediaPicker/MediaPicker.ios.cs
Labels: area/essentials 🍞

#1639 Essentials: Port xamarin/Essentials#1765
  src/Essentials/src/MediaPicker/MediaPicker.ios.cs
Labels: area/essentials 🍞
