Repository dotnet/maui, pull requests merged in 2022-04, with the labels that each got.

#5712 Fix cake
  .github/DEVELOPMENT.md
  eng/cake/dotnet.cake
  src/Controls/DualScreen/src/Controls.DualScreen.csproj
Labels: area/infrastructure 🏗️

#5737 Exclude Templates folder from running device tests CI
  eng/pipelines/device-tests.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#5733 Use SizeToFit for SearchBar when constraints are infinite
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
Labels: platform/macOS 🍏, platform/iOS 🍎, control-entry

#5644 Modal Size and fix modal touch events
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellRenderer.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
Labels: area/modal

#5736 Fix ResourceDictionary template
  src/Templates/src/templates/maui-resourcedictionary-xaml/.template.config/ide.host.json
  src/Templates/src/templates/maui-resourcedictionary-xaml/.template.config/ide/MauiResourceDictionaryXamlFile.ico
  src/Templates/src/templates/maui-resourcedictionary-xaml/.template.config/template.json
Labels: t/housekeeping ♻︎, area/templates 📄

#5795 Essentials Location Permissions Set result after cleanup of iOS LocationManager
  src/Essentials/src/Permissions/Permissions.ios.tvos.watchos.cs
Labels: platform/iOS 🍎, area/essentials 🍞

#5718 Wire up WindowOverlay to the Window Density
  src/Core/src/WindowOverlay/WindowOverlay.Android.cs
  src/Core/src/WindowOverlay/WindowOverlay.cs
Labels: area/tooling ⚙️, partner/ui-tools

#5777 Update BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
Labels: area/blazor 🕸️

#5798 [Windows] Fix crash setting Execute mode in Windows SwipeItems
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.Windows.cs
Labels: t/bug, platform/windows 🪟, area/SwipeView

#5805 Remove unused cssFallbackTypeName on Element
  src/Controls/src/Core/Element_StyleSheets.cs
Labels: area/controls 🎮

#5581 Made MaxLength property consistent across all platforms
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.cs
  src/Controls/tests/DeviceTests/Elements/SearchBar/SearchBarTests.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
  src/Core/src/Platform/Windows/MauiAutoSuggestBox.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: area/controls 🎮

#5680 Use fallbacks for font sizes when getting font from Span on Android
  src/Controls/src/Core/FontExtensions.cs
  src/Controls/src/Core/Platform/Android/Extensions/FormattedStringExtensions.cs
Labels: area/controls 🎮

#5793 [Bug] [AppAction] [Android] Prevent AppAction double handling on Android
  src/Essentials/src/AppActions/AppActions.android.cs
Labels: platform/android 🤖, area/essentials 🍞

#5800 Surface exception for not supported phone number on iOS PhoneDialer
  src/Essentials/src/PhoneDialer/PhoneDialer.ios.cs
Labels: platform/iOS 🍎, area/essentials 🍞

#5806 [ci] Add CoherentParentDependency="Microsoft.Maui.Graphics"
  eng/Version.Details.xml
Labels: area/infrastructure 🏗️

#5830 Allow restricted permissions for Geolocation on Android
  src/Essentials/src/Geolocation/Geolocation.android.cs
  src/Essentials/src/Permissions/Permissions.shared.cs
Labels: platform/android 🤖, area/essentials 🍞

#5838 Revert Maestro bumps for now
  eng/Version.Details.xml
  eng/Versions.props
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
Labels: area/infrastructure 🏗️

#5809 Remove NETSTANDARD1 defines
  src/Controls/src/Core/BindingExpression.cs
  src/Controls/src/Core/Internals/Legacy/FileAccess.cs
  src/Controls/src/Core/Internals/Legacy/FileMode.cs
  src/Controls/src/Core/Internals/Legacy/FileShare.cs
  src/Controls/src/Core/InvalidNavigationException.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/src/Core/Shell/ShellNavigatingEventArgs.cs
  src/Controls/src/Core/UnsolvableConstraintsException.cs
  src/Controls/src/Core/VisualElement_StyleSheet.cs
  src/Controls/src/Core/XamlParseException.cs
  src/Controls/src/Core/XmlnsDefinitionAttribute.cs
  src/Controls/src/Xaml/ApplyPropertiesVisitor.cs
  src/Core/src/Platform/ReflectionExtensions.cs
Labels: area/architecture

#5763 Fixing image shadows on Windows
  src/Core/src/Platform/Windows/ShadowExtensions.cs
Labels: area/drawing ✏️

#5802 [Blazor] Initial support for configuring the underlying Web view settings
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/BlazorWebViewHandler.cs
  src/BlazorWebView/src/Maui/IBlazorWebView.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/SharedSource/BlazorWebViewInitializedEventArgs.cs
  src/BlazorWebView/src/SharedSource/BlazorWebViewInitializingEventArgs.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
  src/Templates/src/templates/maui-blazor/MauiProgram.cs
Labels: area/blazor 🕸️

#5789 [Android] Clip Border content based on StrokeShape property
  src/Core/src/Platform/Android/ContentViewGroup.cs
  src/Core/src/Platform/Android/StrokeExtensions.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️

#5853 Remove Default Storage Permission for Android SingleProject
  src/Controls/samples/Controls.Sample.SingleProject/Platforms/Android/AndroidManifest.xml
Labels: area/templates 📄

#5744 Run all navigation through async update
  src/Controls/src/Core/HandlerImpl/NavigationPage/NavigationPage.Impl.cs
  src/Controls/src/Core/NavigationPageToolbar.cs
  src/Controls/tests/Core.UnitTests/ToolbarTests.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
  src/Core/src/Platform/Android/Navigation/StackNavigationManager.cs
Labels: area/navigation 🧭

#5829 VersionTracking correctly handle version downgrades (e.g. via TestFlight)
  src/Essentials/src/VersionTracking/VersionTracking.shared.cs
  src/Essentials/test/DeviceTests/Tests/VersionTracking_Tests.cs
Labels: area/essentials 🍞

#5865 Less verbose Windows lifecycle logging
  src/Controls/samples/Controls.Sample/Startup.cs
Labels: platform/windows 🪟

#5773 Fix Android Radio Button
  _omnisharp.sln
  src/Controls/src/Core/RadioButton.cs
Labels: area/controls 🎮, control-radiobutton

#5867 Close Web Message Channel Ports in Android Blazor Hybrid
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
Labels: area/blazor 🕸️

#5869 Update WindowsAppSDK to 1.0.2
  eng/Versions.props
Labels: platform/windows 🪟, area/desktop 🖥️, area/infrastructure 🏗️

#5870 Fix Windows local dotnet builds
  src/Workload/Shared/FrameworkList.targets
Labels: platform/windows 🪟, area/infrastructure 🏗️

#5875 Also allow things to build with dotnet
  eng/cake/dotnet.cake
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: area/infrastructure 🏗️

#5896 Don't do manifest things for unpackaged apps
  .nuspec/AutoImport.InTree.props
  .nuspec/Microsoft.Maui.Controls.SingleProject.targets
  .nuspec/Microsoft.Maui.Resizetizer.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/AutoImport.props
Labels: t/bug, area/single project ☝️, platform/windows 🪟, area/desktop 🖥️

#5261 Fix some crashing tests
  eng/pipelines/device-tests.yml
  eng/provisioning/provisioning.csx
  src/Controls/src/Core/Handlers/Items/Android/SelectableViewHolder.cs
  src/Controls/src/Core/Platform/Android/DragAndDropGestureHandler.cs
  src/Controls/src/Core/Platform/Android/Extensions/BrushExtensions.cs
  src/Controls/src/Core/Platform/Android/Extensions/ToolbarExtensions.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
  src/Core/src/Fonts/FontManager.Android.cs
  src/Core/src/Platform/Android/ApplicationExtensions.cs
  src/Core/src/Platform/Android/DrawableExtensions.cs
  src/Core/src/Platform/Android/SemanticExtensions.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Android.cs
  src/Core/tests/DeviceTests/Handlers/Slider/SliderHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Services/FontManagerTests.Android.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#4945 Update WebAuthenticator sample package versions
  src/Essentials/samples/Sample.Server.WebAuthenticator/Essentials.Sample.Server.WebAuthenticator.csproj
  src/Essentials/samples/Sample.Server.WebAuthenticator/Startup.cs
Labels: area/essentials 🍞

#5897 Prevent ScrollView on Android and Windows from entering a bad layout state
  src/Controls/src/Core/HandlerImpl/ScrollView.Impl.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Android.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Windows.cs
  src/Core/src/Platform/Android/ContentViewGroup.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
  src/Core/src/Platform/Android/LayoutViewGroup.cs
  src/Core/src/Platform/Android/MauiScrollView.cs
Labels: t/bug, area/layout 🔲

#5672 BlazorWebView public API tracking
  eng/Microsoft.Extensions.targets
  eng/Versions.props
  src/BlazorWebView/src/Directory.Build.props
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Microsoft.AspNetCore.Components.WebView.Maui.csproj
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-android/PublicAPI.Shipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-android/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-ios/PublicAPI.Shipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-ios/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-maccatalyst/PublicAPI.Shipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-maccatalyst/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.19041/PublicAPI.Shipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.19041/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.20348/PublicAPI.Shipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.20348/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0/PublicAPI.Shipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/PublicAPI.Shipped.txt
  src/BlazorWebView/src/WindowsForms/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Wpf/PublicAPI.Shipped.txt
  src/BlazorWebView/src/Wpf/PublicAPI.Unshipped.txt
Labels: area/infrastructure 🏗️

#5880 [Blazor] Support unpackaged Win UI apps
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
Labels: area/blazor 🕸️

#5646 Ensure GroupValueChangedMessage is received
  src/Controls/src/Core/RadioButton.cs
  src/Controls/src/Core/RadioButtonGroupController.cs
Labels: area/controls 🎮

#5866 Updating SupportedOSPlatformVersion property in project templates
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-lib/MauiLib1.csproj
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: area/templates 📄

#5827 Add a vscode workspace and some build tasks
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  maui.code-workspace
Labels: area/infrastructure 🏗️

#5623 Fix Label.VerticalTextAlignment on Windows
  src/Core/src/Handlers/Label/LabelHandler.Windows.cs
  src/Core/src/Handlers/Label/LabelHandler.cs
Labels: platform/windows 🪟, area/controls 🎮, control-label

#5919 Update iOS / Mac Catalyst Blazor Hybrid APIs
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-ios/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-maccatalyst/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
Labels: platform/macOS 🍏, area/blazor 🕸️, area/desktop 🖥️

#5981 Use SizeToFit when measuring Editor on iOS with infinite constraints
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
Labels: area/layout 🔲

#5739 Add pending changes in Alerts (RTL, Keyboard)
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Android.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Windows.cs
  src/Core/src/Platform/Windows/KeyboardExtensions.cs
Labels: t/housekeeping ♻︎, area/controls 🎮, control-dialogalert

#5998 WinForms/WPF/MAUI-Windows API review changes
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.19041/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.20348/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/SharedSource/BlazorWebViewServiceCollectionExtensions.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/WindowsForms/IWindowsFormsBlazorWebViewBuilder.cs
  src/BlazorWebView/src/WindowsForms/Microsoft.AspNetCore.Components.WebView.WindowsForms.csproj
  src/BlazorWebView/src/WindowsForms/PublicAPI.Shipped.txt
  src/BlazorWebView/src/WindowsForms/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/WindowsForms/RootComponent.cs
  src/BlazorWebView/src/WindowsForms/RootComponentCollectionExtensions.cs
  src/BlazorWebView/src/WindowsForms/WindowsFormsBlazorWebViewBuilder.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/IWpfBlazorWebViewBuilder.cs
  src/BlazorWebView/src/Wpf/Microsoft.AspNetCore.Components.WebView.Wpf.csproj
  src/BlazorWebView/src/Wpf/PublicAPI.Shipped.txt
  src/BlazorWebView/src/Wpf/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Wpf/RootComponent.cs
  src/BlazorWebView/src/Wpf/WpfBlazorWebViewBuilder.cs
Labels: area/blazor 🕸️

#5889 [android] Update to latest AndroidX packages with better Trimmable support.
  eng/AndroidX.targets
Labels: area/infrastructure 🏗️

#5936 Keep the text wrapping/truncation and max lines stuff in Controls
  src/Controls/src/Core/HandlerImpl/Button/Button.Android.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.Standard.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.Windows.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.iOS.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.Android.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.Standard.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.Windows.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.iOS.cs
  src/Controls/src/Core/Platform/Android/Extensions/ButtonExtensions.cs
  src/Controls/src/Core/Platform/Android/Extensions/TextViewExtensions.cs
  src/Controls/src/Core/Platform/Windows/Extensions/ButtonExtensions.cs
  src/Controls/src/Core/Platform/Windows/Extensions/TextBlockExtensions.cs
  src/Controls/src/Core/Platform/iOS/Extensions/ButtonExtensions.cs
  src/Controls/src/Core/Platform/iOS/Extensions/TextExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Button/ButtonTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Button/ButtonTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Button/ButtonTests.cs
  src/Controls/tests/DeviceTests/Elements/Button/ButtonTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/LabelTests.cs
  src/Core/src/Core/ILabel.cs
  src/Core/src/Core/ILineBreakMode.cs
  src/Core/src/Core/ITextButton.cs
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
  src/Core/src/Handlers/Button/ButtonHandler.Standard.cs
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
  src/Core/src/Handlers/Button/ButtonHandler.cs
  src/Core/src/Handlers/Button/ButtonHandler.iOS.cs
  src/Core/src/Handlers/Label/LabelHandler.Android.cs
  src/Core/src/Handlers/Label/LabelHandler.Standard.cs
  src/Core/src/Handlers/Label/LabelHandler.Windows.cs
  src/Core/src/Handlers/Label/LabelHandler.cs
  src/Core/src/Handlers/Label/LabelHandler.iOS.cs
  src/Core/src/Platform/Android/ButtonExtensions.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/Windows/TextBlockExtensions.cs
  src/Core/src/Platform/iOS/ButtonExtensions.cs
  src/Core/src/Platform/iOS/LabelExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Label/LabelHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Label/LabelHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Label/LabelHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/ButtonStub.cs
  src/Core/tests/DeviceTests/Stubs/LabelStub.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
Labels: area/controls 🎮

#5984 Remove downcasts in BlazorWebView
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/Android/WebKitWebViewClient.cs
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/BlazorWebViewHandler.cs
  src/BlazorWebView/src/Maui/IBlazorWebView.cs
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-android/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-ios/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-maccatalyst/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.19041/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.20348/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
Labels: area/blazor 🕸️

#5979 Maui Windows unpackaged app fails to start
  src/Compatibility/Core/src/Windows/ImageElementManager.cs
  src/Core/src/Platform/Windows/ImageViewExtensions.cs
Labels: area/desktop 🖥️, area/publishing 🏁

#6042 [Housekeeping] Update samples in Gallery to use BackgroundColor and Background properties everywhere
  src/Controls/samples/Controls.Sample/Pages/Controls/BoxViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/DatePickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EditorPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ImagePage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SliderPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/StepperPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwitchPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/TimePickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BrushesPage.xaml
Labels: t/bug, t/housekeeping ♻︎

#6039 Make RC1 current version in bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎

#6014 Update ASP.NET Core Packages to 6.0.4 And Remove Coherent Dependency
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/blazor 🕸️, area/infrastructure 🏗️

#5982 BlazorWebView API review changes: Shared sources
  src/BlazorWebView/src/Maui/BlazorWebViewHandler.cs
  src/BlazorWebView/src/Maui/IMauiBlazorWebViewBuilder.cs
  src/BlazorWebView/src/Maui/MauiBlazorWebViewBuilder.cs
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-android/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-ios/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-maccatalyst/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.19041/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.20348/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/SharedSource/BlazorWebViewServiceCollectionExtensions.cs
Labels: area/blazor 🕸️

#5996 [iOS] Add vertical text alignment to Editor
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
  src/Core/src/Platform/iOS/TextViewExtensions.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry

#6097 Static content hot reload (CSS only for now)
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/StaticContentHotReloadManager.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
Labels: area/blazor 🕸️

#6113 Remove uses-sdk from the manifest
  src/BlazorWebView/tests/MauiDeviceTests/Platforms/Android/AndroidManifest.xml
  src/Controls/samples/Controls.Sample.Profiling/Platforms/Android/AndroidManifest.xml
  src/Controls/samples/Controls.Sample.Sandbox/Platforms/Android/AndroidManifest.xml
  src/Controls/samples/Controls.Sample.SingleProject/Platforms/Android/AndroidManifest.xml
  src/Essentials/samples/Samples/Platforms/Android/AndroidManifest.xml
  src/Essentials/test/DeviceTests/Platforms/Android/AndroidManifest.xml
  src/TestUtils/samples/DeviceTests.Sample/Platforms/Android/AndroidManifest.xml
Labels: area/single project ☝️, platform/android 🤖

#6079 Use the correct text in the [Obsolete] attributes
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/TargetIdiom.cs
Labels: t/housekeeping ♻︎, area/essentials 🍞

#6089 Fix WinUI class libraries a bit better
  .nuspec/Microsoft.Maui.Controls.SingleProject.props
  src/Workload/Microsoft.Maui.Sdk/Sdk/WinUI.targets
Labels: t/bug, area/single project ☝️, p/0, partner/winui

#6114 Include margin in Frame's DesiredSize
  src/Controls/src/Core/HandlerImpl/Frame.Impl.cs
Labels: area/layout 🔲

#6130 Remove Build Tasks that are now implicitly included
  src/Workload/Shared/FrameworkList.targets
Labels: area/infrastructure 🏗️

#6023 Create Flyout.Details inside Fragment
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/PlatformBehaviorTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.Android.cs
  src/Core/src/Platform/Android/Navigation/ScopedFragment.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/ElementExtensions.cs
Labels: area/navigation 🧭, partner/android

#6143 Blazor Hybrid Android Prevent Repeated Blazor Instantiation
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/Android/WebKitWebViewClient.cs
Labels: platform/android 🤖, area/blazor 🕸️

#6131 Remove old maestro feeds
  NuGet.config
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#6172 Remove the hard Tizen dependency
  eng/pipelines/common/provision.yml
  src/DotNet/DotNet.csproj
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.json
Labels: t/bug, p/0, area/infrastructure 🏗️, fatal, partner/tizen

#6106 Views spanning both auto and star cells should not contribute to the Auto size
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#6185 [Windows] Avoid highlight default color in Label Spans
  src/Controls/src/Core/Platform/Windows/Extensions/FormattedStringExtensions.cs
Labels: t/bug, platform/windows 🪟, control-label

#6184 [Windows] Avoid Released event fired twice
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
Labels: t/bug, platform/windows 🪟, control-button

#6139 Create custom Automation Peer for MauiButton
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
  src/Core/src/Platform/Windows/MauiButton.cs
  src/Core/src/Platform/Windows/MauiButtonAutomationPeer.cs
Labels: area/a11y, area/controls 🎮, control-button

#6053 [Android] Fix crash adding/removing SwipeItems dynamically in the SwipeView
  src/Controls/src/Core/SwipeView.cs
Labels: t/bug, platform/android 🤖, t/housekeeping ♻︎, area/SwipeView

#5892 Clean-up and fix VisualTreeElementExtensions hit testing
  src/Controls/samples/Controls.Sample/Pages/HitTestingPage.xaml
  src/Controls/samples/Controls.Sample/Pages/HitTestingPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/MainViewModel.cs
  src/Core/src/Core/Extensions/VisualTreeElementExtensions.cs
Labels: t/housekeeping ♻︎

#6201 Add Try/Catch wrapper around iOS StatusBar rendering
  src/Essentials/src/Screenshot/Screenshot.ios.cs
Labels: partner/ui-tools

#6137 Use known row/column width/height when doing initial measure
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#6167 Improved Shell benchmark
  src/Core/tests/Benchmarks/Benchmarks/ShellBenchmarker.cs
Labels: t/housekeeping ♻︎, area/perf 🏎️

#6217 Use infinity for measure constraints when determining auto sizes
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#6186 Support dotnet build with UseMauiCore
  .nuspec/Microsoft.Maui.Controls.SingleProject.props
  eng/cake/dotnet.cake
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Controls.Sdk.After.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Controls.Sdk.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Core.Sdk.After.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Core.Sdk.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Sdk.After.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Sdk.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Sdk.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/WinUI.NetCore.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/WinUI.targets
Labels: area/single project ☝️, platform/windows 🪟, p/0, fatal

#6236 [ci] Add dependabot
  .github/dependabot.yml
Labels: area/infrastructure 🏗️

#6230 [Windows] Fix ListView menu events not working
  src/Controls/src/Core/Compatibility/Handlers/ListView/Windows/CellControl.cs
Labels: t/bug, platform/windows 🪟, area/ListView

#6245 Remove nuspec for old stuff
  .nuspec/Microsoft.Maui.Controls.Compatibility.AppLinks.nuspec
  .nuspec/Microsoft.Maui.Controls.Compatibility.GTK.nuspec
  .nuspec/Microsoft.Maui.Controls.Compatibility.Maps.GTK.nuspec
  .nuspec/Microsoft.Maui.Controls.Compatibility.Maps.WPF.nuspec
  .nuspec/Microsoft.Maui.Controls.Compatibility.Maps.nuspec
  .nuspec/Microsoft.Maui.Controls.Compatibility.Visual.Material.nuspec
  .nuspec/Microsoft.Maui.Controls.Compatibility.Visual.Material.targets
  .nuspec/Microsoft.Maui.Controls.Compatibility.WPF.nuspec
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#6299 [dependabot] Add packages to ignore on dependabot
  .github/dependabot.yml
Labels: area/infrastructure 🏗️

#6249 [Android] SelectableItemsViewAdapter: update SelectableViewHolder on selection changes
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/SelectionGalleries/SelectionGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/SelectionGalleries/VisualStatesGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/SelectionGalleries/VisualStatesGallery.xaml.cs
  src/Controls/src/Core/Handlers/Items/Android/Adapters/SelectableItemsViewAdapter.cs
Labels: platform/android 🤖, area/collectionview 📃

#5941 [Blazor] Use static AppOriginUri everywhere
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
Labels: area/blazor 🕸️

#5834 Add Essentials Maps TryOpen
  src/Essentials/samples/Samples/Platforms/Android/AndroidManifest.xml
  src/Essentials/samples/Samples/ViewModel/MapsViewModel.cs
  src/Essentials/src/Launcher/Launcher.android.cs
  src/Essentials/src/Map/Map.android.cs
  src/Essentials/src/Map/Map.ios.watchos.macos.cs
  src/Essentials/src/Map/Map.netstandard.tvos.cs
  src/Essentials/src/Map/Map.shared.cs
  src/Essentials/src/Map/Map.tizen.cs
  src/Essentials/src/Map/Map.uwp.cs
  src/Essentials/src/Platform/PlatformUtils.android.cs
Labels: t/enhancement ☀️, area/essentials 🍞

#6322 Tweak templates to fix accessibility bugs
  src/Templates/src/templates/maui-mobile/MainPage.xaml
Labels: area/a11y, area/templates 📄

#6306 Use Android AppCompat Everywhere
  src/Core/src/Platform/Android/MauiDatePicker.cs
  src/Core/src/Platform/Android/MauiPicker.cs
  src/Core/src/Platform/Android/MauiTimePicker.cs
Labels: platform/android 🤖, area/controls 🎮

#6312 Update template styles
  src/Templates/src/templates/maui-mobile/Resources/Styles.xaml
Labels: area/Xaml </>, area/a11y, area/templates 📄

#5664 [C] remove Font usage from Controls
  src/Compatibility/ControlGallery/src/UITests.Shared/PlatformQueries.cs
  src/Compatibility/ControlGallery/src/UITests.Shared/Tests/ButtonUITests.cs
  src/Compatibility/Core/src/Android/AppCompat/ButtonRenderer.cs
  src/Compatibility/Core/src/Android/FastRenderers/ButtonRenderer.cs
  src/Compatibility/Core/src/Windows/ButtonRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/ButtonRenderer.cs
  src/Controls/src/Build.Tasks/BindablePropertyReferenceExtensions.cs
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
  src/Controls/src/Core/Button.cs
  src/Controls/src/Core/DatePicker.cs
  src/Controls/src/Core/Editor.cs
  src/Controls/src/Core/Entry.cs
  src/Controls/src/Core/FontElement.cs
  src/Controls/src/Core/FontExtensions.cs
  src/Controls/src/Core/FontTypeConverter.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.Impl.cs
  src/Controls/src/Core/HandlerImpl/DatePicker.Impl.cs
  src/Controls/src/Core/HandlerImpl/Editor/Editor.Impl.cs
  src/Controls/src/Core/HandlerImpl/Entry/Entry.Impl.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.Impl.cs
  src/Controls/src/Core/HandlerImpl/Picker.Impl.cs
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.Impl.cs
  src/Controls/src/Core/HandlerImpl/SearchBar/SearchBar.Impl.cs
  src/Controls/src/Core/HandlerImpl/TimePicker.Impl.cs
  src/Controls/src/Core/IFontElement.cs
  src/Controls/src/Core/Label.cs
  src/Controls/src/Core/Picker.cs
  src/Controls/src/Core/RadioButton.cs
  src/Controls/src/Core/SearchBar.cs
  src/Controls/src/Core/Shell/SearchHandler.cs
  src/Controls/src/Core/Span.cs
  src/Controls/src/Core/TimePicker.cs
  src/Controls/src/Core/Xaml/TypeConversionExtensions.cs
  src/Controls/tests/Core.UnitTests/ButtonUnitTest.cs
  src/Controls/tests/Core.UnitTests/FontUnitTests.cs
Labels: area/controls 🎮

#6065 [X] Remove hacks for StaticResourceExtension
  src/Controls/src/Xaml/MarkupExtensions/StaticResourceExtension.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz59818.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Bz59818.xaml.cs
Labels: area/Xaml </>

#6382 Update `maui-blazor` template to enforce Android 23+
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
Labels: area/blazor 🕸️

#6390 Throw exception if users uses incompatible pages
  src/Controls/src/Core/Shell/ShellContent.cs
Labels: area/shell 🐢

#6394 Fix android image loading into views
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiCustomTarget.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiCustomViewTarget.java
  src/Core/src/maui.aar
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.cs
Labels: platform/android 🤖, control-image

#6262 Generate MSIX when publishing
  .nuspec/Microsoft.Maui.Controls.SingleProject.props
Labels: platform/windows 🪟, area/publishing 🏁

#6316 Allow closing of windows when using a MainPage
  src/Controls/src/Core/HandlerImpl/Application.Impl.cs
  src/Essentials/src/Essentials.csproj
Labels: area/desktop 🖥️

#6318 Add VC Redist dependency to Windows templates
  src/Templates/src/templates/maui-blazor/Platforms/Windows/Package.appxmanifest
  src/Templates/src/templates/maui-mobile/Platforms/Windows/Package.appxmanifest
Labels: platform/windows 🪟, area/publishing 🏁

#6372 Fix the BackgroundColor to Background update
  src/BlazorWebView/tests/MauiDeviceTests/TestBase.cs
  src/Compatibility/Core/src/Windows/BackgroundTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/ViewHandlerDelegator.cs
  src/Controls/src/Core/Compatibility/Handlers/VisualElementRenderer.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.cs
  src/Controls/tests/DeviceTests/Elements/Page/PageTests.cs
  src/Controls/tests/DeviceTests/TestBase.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.cs
  src/Core/src/Handlers/Element/ElementHandler.cs
  src/Core/src/Handlers/Page/PageHandler.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
  src/Core/tests/DeviceTests/Stubs/ImageStub.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
Labels: area/controls 🎮, control-pages

#6388 Fix FlyoutIsPresented permutations
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutRenderer.cs
  src/Controls/src/Core/HandlerImpl/Shell.Impl.cs
  src/Controls/src/Core/Handlers/Shell/ShellHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellView.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/tests/Core.UnitTests/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
Labels: platform/windows 🪟, area/shell 🐢

#6384 Adds FlowDirection Design TypeConverter
  src/Controls/src/Core.Design/AttributeTableBuilder.cs
  src/Controls/src/Core.Design/Controls.Core.Design.csproj
  src/Controls/src/Core.Design/FlowDirectionDesignTypeConverter.cs
Labels: area/Xaml </>

#6246 Remove interfering keyboard focus logic
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/IShellSearchView.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/SearchHandlerAppearanceTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutRecyclerAdapter.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellSearchView.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Platform/Android/LayoutViewGroup.cs
  src/Core/src/Platform/Android/SearchViewExtensions.cs
Labels: area/a11y, area/shell 🐢, area/controls 🎮, control-entry, control-general

#6425 Tweak template styles some more
  src/Templates/src/templates/maui-mobile/Resources/Styles.xaml
Labels: area/templates 📄

#6264 Fix ArcSegment rendering
  src/Controls/src/Core/Shapes/PathGeometry.cs
Labels: t/bug, area/drawing ✏️

#6191 [Windows] Not render shadows on without a ShadowColor
  src/Controls/src/Core/Shadow.cs
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️

#6220 [Windows] Fix crash using SwipeView inside CollectionView
  src/Controls/src/Core/Platform/Windows/CollectionView/ItemContentControl.cs
Labels: t/bug, platform/windows 🪟, area/SwipeView

#6341 Handle content hiding separately for hot restart scenarios
  src/BlazorWebView/src/Maui/build/Microsoft.AspNetCore.Components.WebView.Maui.targets
Labels: area/tooling ⚙️, area-blazor

#6459 [Tizen] Non-Nullable NativeParent
  src/BlazorWebView/src/Maui/Tizen/BlazorWebViewHandler.Tizen.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellItemView.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellNavBar.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellSearchView.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellSectionHandler.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellSectionStack.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellView.cs
  src/Controls/src/Core/Platform/Tizen/Shell/TVShellSectionHandler.cs
  src/Core/src/Handlers/Border/BorderHandler.Tizen.cs
  src/Core/src/Handlers/Button/ButtonHandler.Tizen.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Tizen.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Tizen.cs
  src/Core/src/Handlers/Editor/EditorHandler.Tizen.cs
  src/Core/src/Handlers/Entry/EntryHandler.Tizen.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.Tizen.cs
  src/Core/src/Handlers/Image/ImageHandler.Tizen.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Tizen.cs
  src/Core/src/Handlers/IndicatorView/IndicatorViewHandler.Tizen.cs
  src/Core/src/Handlers/Label/LabelHandler.Tizen.cs
  src/Core/src/Handlers/Layout/LayoutHandler.Tizen.cs
  src/Core/src/Handlers/Picker/PickerHandler.Tizen.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Tizen.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Tizen.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Tizen.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Tizen.cs
  src/Core/src/Handlers/SwipeItemView/SwipeItemViewHandler.Tizen.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.Tizen.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.Tizen.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Tizen.cs
Labels: t/housekeeping ♻︎, area/architecture, platform/tizen

#5994 Correctly render Shape Background (and BackgroundColor)
  src/Core/src/Graphics/ShapeDrawable.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Android.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Windows.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.iOS.cs
  src/Core/tests/DeviceTests/Handlers/Border/BorderHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/ShapeView/ShapeViewHandlerTests.cs
  src/Core/tests/DeviceTests/Stubs/EllipseStub.cs
  src/Core/tests/DeviceTests/Stubs/LineStub.cs
  src/Core/tests/DeviceTests/Stubs/PathStub.cs
  src/Core/tests/DeviceTests/Stubs/PolygonStub.cs
  src/Core/tests/DeviceTests/Stubs/PolylineStub.cs
  src/Core/tests/DeviceTests/Stubs/RectangleStub.cs
  src/Core/tests/DeviceTests/Stubs/RoundRectangleStub.cs
Labels: t/bug, area/drawing ✏️

#6342 Fix SwipeItems.CollectionChanged sender issue
  src/Controls/src/Core/SwipeItems.cs
Labels: t/bug, area/SwipeView

#6234 [Housekeeping | Windows] Revert changes in Button focus default behavior
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Core/src/Platform/Windows/MauiButton.cs
Labels: platform/windows 🪟, t/housekeeping ♻︎, control-button

#5817 Rendering Shapes without explicit bounds.
  src/Controls/samples/Controls.Sample.Sandbox/App.xaml
  src/Controls/samples/Controls.Sample.Sandbox/App.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/MauiProgram.cs
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/OpenSans-Regular.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Images/dotnet_bot.svg
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Images/monkeyface.png
  src/Controls/samples/Controls.Sample.Sandbox/Resources/appicon.svg
  src/Controls/samples/Controls.Sample.Sandbox/Resources/appiconfg.svg
  src/Controls/samples/Controls.Sample.Sandbox/Views/AnalogClockDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/AnalogClockDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/BabyElephantDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/BabyElephantDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/BrushesDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/BrushesDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/CatDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/CatDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/ClipArtManDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/ClipArtManDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/ClipDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/ClipDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/EllipseDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/EllipseDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/FlowerDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/FlowerDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/HelloDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/HelloDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/InvertedXamagonDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/InvertedXamagonDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/LineDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/LineDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/MainPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/MainPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/MonkeyFaceDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/MonkeyFaceDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathAspectDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathAspectDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathGeometryDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathGeometryDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathRenderTransformDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathRenderTransformDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathRenderTransformExamplesDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathRenderTransformExamplesDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PolygonDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PolygonDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PolylineDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PolylineDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/RectangleDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/RectangleDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/SpiralDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/SpiralDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/SpiralRunnerDemoPage.cs
  src/Controls/src/Core/HandlerImpl/Ellipse.Impl.cs
  src/Controls/src/Core/HandlerImpl/Path.Impl.cs
  src/Controls/src/Core/HandlerImpl/Polygon.Impl.cs
  src/Controls/src/Core/HandlerImpl/Polyline.Impl.cs
  src/Controls/src/Core/Shapes/Shape.cs
Labels: area/drawing ✏️

#6492 Fix WebView2 Runtime download link for Blazor MAUI
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
Labels: area/blazor 🕸️

#6511 Move colors into separate file
  src/Templates/src/templates/maui-mobile/App.xaml
  src/Templates/src/templates/maui-mobile/Resources/Colors.xaml
  src/Templates/src/templates/maui-mobile/Resources/Styles.xaml
Labels: area/templates 📄

#5917 Fix cleanup and wiring up when changing out the content on window
  src/Controls/src/Core/HandlerImpl/TabbedPage/TabbedPage.Windows.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.Android.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.Windows.cs
  src/Core/src/Handlers/Toolbar/ToolbarHandler.Windows.cs
  src/Core/src/Handlers/Window/WindowHandler.Windows.cs
  src/Core/src/Platform/Android/Navigation/NavigationRootManager.cs
  src/Core/src/Platform/ElementExtensions.cs
  src/Core/src/Platform/ToPlatformException.cs
  src/Core/src/Platform/Windows/MauiNavigationView.cs
  src/Core/src/Platform/Windows/NavigationRootManager.cs
  src/Core/src/Platform/Windows/RootNavigationView.xaml.cs
  src/Core/src/Platform/Windows/WindowRootView.cs
Labels: t/bug, area/shell 🐢

#6409 Fix AmbigousMatchException between duplicated types Core and Controls
  src/Controls/src/Core/Element.cs
  src/Controls/src/Core/ElementTemplate.cs
  src/Controls/src/Core/GestureElement.cs
  src/Controls/src/Core/IElementDefinition.cs
  src/Controls/src/Core/Page.cs
  src/Controls/src/Core/ResourcesExtensions.cs
  src/Controls/src/Core/View.cs
  src/Controls/tests/Core.UnitTests/ResourceDictionaryTests.cs
Labels: t/bug

#6326 Fix Toolbar property calculation when you have nested Nav Pages
  src/Controls/samples/Controls.Sample/Pages/Core/SemanticsPage.xaml.cs
  src/Controls/src/Core/Element.cs
  src/Controls/src/Core/HandlerImpl/NavigationPage/NavigationPage.Impl.cs
  src/Controls/src/Core/HandlerImpl/Page.Impl.cs
  src/Controls/src/Core/MenuItemTracker.cs
  src/Controls/src/Core/NavigationPageToolbar.cs
  src/Controls/tests/Core.UnitTests/ToolbarTests.cs
Labels: area/navigation 🧭

#6364 [Core] Fix issue not finding IAnimationManager
  src/Controls/src/Core/ViewExtensions.cs
Labels: t/bug, area/animation 🎬

#6319 Updated Default project template
  src/Templates/src/templates/maui-mobile/AppShell.xaml
  src/Templates/src/templates/maui-mobile/MainPage.xaml
  src/Templates/src/templates/maui-mobile/MainPage.xaml.cs
  src/Templates/src/templates/maui-mobile/Resources/Styles.xaml
Labels: t/housekeeping ♻︎, area/templates 📄

#6563 Remove the ShapesDemo from the sandbox
  src/Controls/samples/Controls.Sample.Sandbox/App.xaml
  src/Controls/samples/Controls.Sample.Sandbox/App.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/MauiProgram.cs
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/OpenSans-Regular.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Images/dotnet_bot.svg
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Images/monkeyface.png
  src/Controls/samples/Controls.Sample.Sandbox/Resources/appicon.svg
  src/Controls/samples/Controls.Sample.Sandbox/Resources/appiconfg.svg
  src/Controls/samples/Controls.Sample.Sandbox/Views/AnalogClockDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/AnalogClockDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/BabyElephantDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/BabyElephantDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/BrushesDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/BrushesDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/CatDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/CatDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/ClipArtManDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/ClipArtManDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/ClipDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/ClipDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/EllipseDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/EllipseDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/FlowerDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/FlowerDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/HelloDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/HelloDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/InvertedXamagonDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/InvertedXamagonDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/LineDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/LineDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/MainPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/MainPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/MonkeyFaceDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/MonkeyFaceDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathAspectDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathAspectDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathGeometryDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathGeometryDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathRenderTransformDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathRenderTransformDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathRenderTransformExamplesDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PathRenderTransformExamplesDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PolygonDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PolygonDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/PolylineDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/PolylineDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/RectangleDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/RectangleDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/SpiralDemoPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Views/SpiralDemoPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Views/SpiralRunnerDemoPage.cs
Labels: t/housekeeping ♻︎

#6513 [WinUI] NavigationView fixing margins and corner radius
  src/Controls/src/Core/HandlerImpl/TabbedPage/TabbedPage.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Windows.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.Windows.cs
  src/Core/src/Platform/Windows/FrameworkElementExtensions.cs
  src/Core/src/Platform/Windows/MauiNavigationView.cs
  src/Core/src/Platform/Windows/RootNavigationView.xaml.cs
  src/Core/src/Platform/Windows/Styles/WindowRootViewStyle.xaml
  src/Core/src/Platform/Windows/WindowRootViewStyle.xaml
Labels: platform/windows 🪟, area/navigation 🧭, area/shell 🐢

#6543 Don't clear images to avoid Glide not loading images
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiCustomViewTarget.java
  src/Core/src/maui.aar
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.cs
  src/Core/tests/DeviceTests/Services/ImageSource/BaseImageSourceServiceTests.Android.cs
  src/Core/tests/DeviceTests/Services/ImageSource/BaseImageSourceServiceTests.iOS.cs
  src/Core/tests/DeviceTests/Services/ImageSource/FileImageSourceServiceTests.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: t/bug, platform/android 🤖, area/image :framed_picture:

#6536 [Android] Fix positioning issues on Label Spans
  src/Compatibility/Core/src/Android/FastRenderers/LabelRenderer.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.Android.cs
  src/Controls/src/Core/Platform/Android/Extensions/FormattedStringExtensions.cs
  src/Core/src/Handlers/Label/LabelHandler.Android.cs
  src/Core/src/Platform/Android/MauiTextView.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
Labels: t/bug, platform/android 🤖, control-label

#6548 [android] update AOT profile
  .nuspec/maui-blazor.aotprofile
  .nuspec/maui-blazor.aotprofile.txt
  .nuspec/maui.aotprofile
  .nuspec/maui.aotprofile.txt
  src/ProfiledAot/src/CommonMethods.cs
  src/ProfiledAot/src/maui/App.xaml
  src/ProfiledAot/src/maui/MainPage.xaml.cs
Labels: area/perf 🏎️

#6608 [Windows] Fix wrong shadow size on Label inside CollectionView
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️

#6431 Fix viewcell margins on listview
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ViewCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ViewCellRenderer.cs
  src/Controls/src/Core/HandlerImpl/Toolbar/Toolbar.Android.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ViewToHandlerConverter.cs
  src/Core/src/Handlers/ViewHandlerExtensions.Android.cs
  src/Core/src/Handlers/ViewHandlerExtensions.Windows.cs
  src/Core/src/Handlers/ViewHandlerExtensions.iOS.cs
  src/Core/src/Platform/Android/LayoutViewGroup.cs
  src/Core/src/Platform/Windows/LayoutPanel.cs
  src/Core/src/Platform/iOS/LayoutView.cs
Labels: area/ListView

#6497 [Windows] MenuBarItems are now rendered when Shell.Title is not set
  src/Controls/src/Core/ShellToolbar.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Windows.cs
Labels: platform/windows 🪟, area/shell 🐢

#6628 [singleproject] fix changing $(ApplicationDisplayVersion) inside VS
  src/Workload/Microsoft.Maui.Sdk/Sdk/WinUI.targets
Labels: area/single project ☝️

#6588 [Tizen] Fix GetPath to return a correct path
  src/Core/src/ImageSources/FileImageSourceService/FileImageSourceService.Tizen.cs
Labels: platform/tizen

#6637 Avoid unnecessary final measure call on Auto/Auto cell
  src/Core/src/Layouts/GridLayoutManager.cs
Labels: area/layout 🔲

#6636 Restore and fix tvOS checks and annotations and remove PlatformVersion
  .editorconfig
  src/Compatibility/ControlGallery/src/iOS/CustomRenderers.cs
  src/Compatibility/Core/src/Windows/Platform.cs
  src/Compatibility/Core/src/iOS/CollectionView/ItemsViewController.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Compatibility/Core/src/iOS/PlatformRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/NavigationRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/PageRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/PhoneFlyoutPageRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TabbedRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/FlyoutPage/iOS/PhoneFlyoutPageRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/CellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/EntryCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ListViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/TextCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/SafeShellTabBarAppearanceTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutLayoutManager.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellNavBarAppearanceTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellScrollViewTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRootRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellTableViewController.cs
  src/Controls/src/Core/Compatibility/Handlers/TabbedPage/iOS/TabbedRenderer.cs
  src/Controls/src/Core/Compatibility/iOS/ResourcesProvider.cs
  src/Controls/src/Core/Handlers/Items/iOS/GroupableItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewLayout.cs
  src/Controls/src/Core/Platform/GestureManager/GestureManager.iOS.cs
  src/Controls/src/Core/Platform/iOS/ModalWrapper.cs
  src/Core/src/Fonts/FontManager.iOS.cs
  src/Core/src/Handlers/Application/ApplicationHandler.iOS.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.iOS.cs
  src/Core/src/Handlers/ViewHandlerExtensions.iOS.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
  src/Core/src/Handlers/Window/WindowHandler.iOS.cs
  src/Core/src/Platform/Android/PlatformVersion.cs
  src/Core/src/Platform/Windows/PlatformVersion.cs
  src/Core/src/Platform/iOS/ApplicationExtensions.cs
  src/Core/src/Platform/iOS/ColorExtensions.cs
  src/Core/src/Platform/iOS/MauiPageControl.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.cs
  src/Core/src/Platform/iOS/MauiUISceneDelegate.cs
  src/Core/src/Platform/iOS/PlatformVersion.cs
  src/Core/src/Platform/iOS/SwitchExtensions.cs
  src/Core/src/Platform/iOS/TabbedViewExtensions.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.macos.cs
  src/Essentials/src/Screenshot/Screenshot.ios.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
Labels: area/architecture

#6516 Fix MAUI Blazor crash for multi-window Windows apps
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.19041/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net6.0-windows10.0.20348/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/Windows/BlazorWebView.Windows.cs
Labels: area/blazor 🕸️

#6673 [templates] add Android INTERNET permission
  src/Templates/src/templates/maui-blazor/Platforms/Android/AndroidManifest.xml
  src/Templates/src/templates/maui-mobile/Platforms/Android/AndroidManifest.xml
Labels: platform/android 🤖, area/templates 📄

#6665 Trigger the Font update for IFontElement controls
  src/Controls/src/Core/Button.cs
  src/Controls/src/Core/DatePicker.cs
  src/Controls/src/Core/Editor.cs
  src/Controls/src/Core/Entry.cs
  src/Controls/src/Core/Label.cs
  src/Controls/src/Core/Picker.cs
  src/Controls/src/Core/RadioButton.cs
  src/Controls/src/Core/SearchBar.cs
  src/Controls/src/Core/TimePicker.cs
  src/Controls/tests/Core.UnitTests/FontElementUnitTests.cs
  src/Controls/tests/Core.UnitTests/TestClasses/FontElementHandlerStub.cs
Labels: t/bug, p/0, area/controls 🎮

#6627 Update AdaptiveTrigger to support multi-window
  src/Controls/src/Core/AdaptiveTrigger.cs
  src/Controls/src/Core/DisplayInfoExtensions.cs
  src/Controls/tests/Core.UnitTests/AdaptiveTriggerTests.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.android.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.uwp.cs
Labels: t/bug, area/Xaml </>

#6678 Update to rc2
  .github/DEVELOPMENT.md
Labels: area/infrastructure 🏗️

#6677 Ensure Grid is only using visible Views for * height/width calculations
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#6085 Fix for 3848 - FlexLayout doesn't measure content
  src/Core/src/Layouts/FlexLayoutManager.cs
Labels: t/bug, area/layout 🔲

#6013 Fix nullable annotations for `Preferences`
  src/Essentials/src/Preferences/Preferences.shared.cs
Labels: area/essentials 🍞

#6432 Blazor Hybrid iOS Safe Areas
  src/Templates/src/templates/maui-blazor/wwwroot/css/app.css
  src/Templates/src/templates/maui-blazor/wwwroot/index.html
Labels: area/blazor 🕸️, platform/iOS 🍎

#6685 [Shell/Win] Replace missing `PaneCustomContent` with `PaneHeader` prop for the FlyoutHeader
  src/Controls/src/Core/Handlers/Shell/ShellHandler.Windows.cs
Labels: area/shell 🐢

#3396 [Core] Implement BackgroundImageSource in PageHandler
  src/Controls/samples/Controls.Sample/Pages/Core/ContentPageGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/ContentPageGallery.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/CoreViewModel.cs
  src/Controls/src/Core/HandlerImpl/Page.Impl.cs
  src/Core/src/Core/IViewBackgroundImagePart.cs
  src/Core/src/Handlers/Page/PageHandler.Android.cs
  src/Core/src/Handlers/Page/PageHandler.Standard.cs
  src/Core/src/Handlers/Page/PageHandler.Windows.cs
  src/Core/src/Handlers/Page/PageHandler.iOS.cs
  src/Core/src/Handlers/View/ViewHandler.Android.cs
  src/Core/src/Handlers/View/ViewHandler.Standard.cs
  src/Core/src/Handlers/View/ViewHandler.Tizen.cs
  src/Core/src/Handlers/View/ViewHandler.Windows.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Handlers/View/ViewHandler.iOS.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Windows/ControlExtensions.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: area/controls 🎮, control-pages

#6668 [X] find the TargetT of Setter for VSM in Triggers
  src/Controls/src/Core/BindablePropertyConverter.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui6367.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui6367.xaml.cs
Labels: area/Xaml </>
