Repository dotnet/maui, pull requests merged in 2022-07, with the labels that each got.

#8455 Call disconnect on previous handler with Shell
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutRecyclerAdapter.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutTemplatedContentRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFragmentContainer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFragmentStateAdapter.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellItemRendererBase.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellRenderer.cs
  src/Controls/src/Core/HandlerImpl/Shell.Impl.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Stubs/ContextStub.cs
Labels: area/shell 🐢

#8394 [android] fix MauiSplashScreen on Android 12+
  src/Core/src/Platform/Android/Resources/values/styles.xml
Labels: area/single project ☝️, platform/android 🤖

#8475 Update DEVELOPMENT.md
  .github/DEVELOPMENT.md
Labels: area/infrastructure 🏗️

#8451 Ensure the iOS ScrollView content container is at least the ScrollView size
  src/Controls/src/Core/HandlerImpl/ScrollView/ScrollView.Impl.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
Labels: area/layout 🔲

#8269 [Android] Fix crash using Shadows on ListView ViewCell
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ViewCellRenderer.cs
Labels: t/bug, platform/android 🤖, fatal, area/ListView

#8555 Capture UI context when triggering UI actions
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
Labels: t/housekeeping ♻︎, area/testing

#8539 Replace Newtonsoft.Json dependency with System.Text.Json in Resizetizer
  src/SingleProject/Resizetizer/src/AppleIconAssetsGenerator.cs
  src/SingleProject/Resizetizer/src/ResizetizerPackages.projitems
  src/SingleProject/Resizetizer/test/UnitTests/Resizetizer.UnitTests.csproj
Labels: area/single project ☝️

#8203 [net7] include net6 templates
  Directory.Build.props
  eng/Versions.props
  eng/cake/dotnet.cake
  eng/pipelines/handlers.yml
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
  src/Workload/Microsoft.NET.Sdk.Maui/Microsoft.NET.Sdk.Maui.csproj
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.json
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.targets
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.targets
Labels: area/setup 🪄, area/templates 📄

#8591 [ios] Set block to null when cancelled
  src/Core/src/Dispatching/Dispatcher.iOS.cs
Labels: platform/macOS 🍏, platform/iOS 🍎, t/housekeeping ♻︎, area/dispatching

#8015 [Android] Set the correct font using IsPassword property on Entry
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-entry

#8569 Just call Arrange to set the Frame
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutLayoutManager.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/UIContainerView.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: t/bug, area/shell 🐢

#8599 [xamlc] add compiled PointTypeConverter
  src/Controls/src/Build.Tasks/CompiledConverters/PointTypeConverter.cs
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
  src/Controls/tests/Xaml.UnitTests/CompiledTypeConverter.xaml
  src/Controls/tests/Xaml.UnitTests/CompiledTypeConverter.xaml.cs
Labels: area/Xaml </>, area/perf 🏎️

#7371 Fix for odd Cursor behavior
  src/Controls/src/Core/Platform/Android/Extensions/EditTextExtensions.cs
  src/Controls/src/Core/Platform/Windows/Extensions/TextBoxExtensions.cs
  src/Controls/src/Core/Platform/iOS/Extensions/TextExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.iOS.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/src/Handlers/Editor/EditorHandler.Windows.cs
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/src/Handlers/Entry/EntryHandler.iOS.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
  src/Core/src/Platform/Android/MauiAppCompatEditText.cs
  src/Core/src/Platform/Windows/MauiPasswordTextBox.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/MauiTextField.cs
  src/Core/src/Platform/iOS/TextFieldExtensions.cs
  src/Core/src/Platform/iOS/TextInputExtensions.cs
  src/Core/src/Platform/iOS/TextViewExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.cs
  src/Core/tests/DeviceTests/Handlers/TextInput/TextInputHandlerTests.cs
Labels: t/bug, platform/windows 🪟, platform/android 🤖, platform/iOS 🍎, area/controls 🎮

#8476 Fix DatePicker on iOS so that it can GC
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiDatePicker.cs
  src/Core/src/Platform/iOS/MauiDatePickerDelegate.cs
  src/Core/src/Platform/iOS/MauiDoneAccessoryView.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Tests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
Labels: area/controls 🎮

#8665 Make ListView Context Menu show up in correct position on Windows
  src/Controls/samples/Controls.Sample/Pages/Compatibility/ListViewGalleries/ListViewContextActions.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/ListViewGalleries/ListViewContextActions.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/ListViewModel.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Windows/CellControl.cs
Labels: area/ListView

#8542 Propagate appearing/disappearing/deactivated
  src/Controls/src/Core/FlyoutPage.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/FlyoutPageUnitTests.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.Android.cs
Labels: t/bug, area/lifecycle 🔁

#8618 [Shell] Fixes for Shell issues with iOS and Mac
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/SearchHandlerAppearanceTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutContentRenderer.cs
Labels: area/shell 🐢, partner/macios

#8660 Ensure Flex items have updated values from FlexLayout children before layout
  src/Controls/src/Core/Layout/FlexLayout.cs
  src/Controls/tests/Core.UnitTests/Layouts/FlexLayoutTests.cs
Labels: area/layout 🔲

#5745 Re-enable Shell Tests
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/Stubs/ContextStub.cs
Labels: area/shell 🐢

#7898 [iOS/Catalyst] Fix Alert on modal page
  src/Controls/src/Core/Platform/AlertManager/AlertManager.iOS.cs
Labels: t/bug, platform/iOS 🍎, area/modal, control-dialogalert

#8740 Add bot rule to manage 's/move-to-vs-feedback' issues
  .github/fabricbot.json
Labels: area/infrastructure 🏗️

#8748 Add [Category] to Essentials tests and use MauiAssets
  src/Essentials/samples/Samples/Essentials.Sample.csproj
  src/Essentials/samples/Samples/Platforms/Mac/Resources/FileSystemTemplate.txt
  src/Essentials/samples/Samples/Platforms/MacCatalyst/Resources/FileSystemTemplate.txt
  src/Essentials/samples/Samples/Platforms/Tizen/res/FileSystemTemplate.txt
  src/Essentials/samples/Samples/Platforms/Windows/FileSystemTemplate.txt
  src/Essentials/samples/Samples/Platforms/iOS/Resources/FileSystemTemplate.txt
  src/Essentials/samples/Samples/Resources/Raw/FileSystemTemplate.txt
  src/Essentials/samples/Samples/ViewModel/FileSystemViewModel.cs
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Essentials/test/DeviceTests/Platforms/Windows/AppBundleFile.txt
  src/Essentials/test/DeviceTests/Platforms/Windows/AppBundleFile_NoExtension
  src/Essentials/test/DeviceTests/Platforms/Windows/Folder/AppBundleFile_Nested.txt
  src/Essentials/test/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Essentials/test/DeviceTests/Platforms/iOS/Resources/AppBundleFile.txt
  src/Essentials/test/DeviceTests/Platforms/iOS/Resources/AppBundleFile_NoExtension
  src/Essentials/test/DeviceTests/Platforms/iOS/Resources/Folder/AppBundleFile_Nested.txt
  src/Essentials/test/DeviceTests/Resources/Raw/AppBundleFile.txt
  src/Essentials/test/DeviceTests/Resources/Raw/AppBundleFile_NoExtension
  src/Essentials/test/DeviceTests/Resources/Raw/Folder/AppBundleFile_Nested.txt
  src/Essentials/test/DeviceTests/Tests/Accelerometer_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Android/FileProvider_Tests.cs
  src/Essentials/test/DeviceTests/Tests/AppActions_Tests.cs
  src/Essentials/test/DeviceTests/Tests/AppInfo_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Barometer_Shared.cs
  src/Essentials/test/DeviceTests/Tests/Battery_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Clipboard_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Compass_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Connectivity_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Contacts_Tests.cs
  src/Essentials/test/DeviceTests/Tests/DeviceDisplay_Tests.cs
  src/Essentials/test/DeviceTests/Tests/DeviceInfo_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Email_Tests.cs
  src/Essentials/test/DeviceTests/Tests/FileSystem_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Flashlight_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Geocoding_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Geolocation_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Gyroscope_Tests.cs
  src/Essentials/test/DeviceTests/Tests/HapticFeedback_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Launcher_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Magnetometer_Tests.cs
  src/Essentials/test/DeviceTests/Tests/MainThread_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Maps_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Permissions_Tests.cs
  src/Essentials/test/DeviceTests/Tests/PhoneDialer_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Preferences_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Screenshot_Tests.cs
  src/Essentials/test/DeviceTests/Tests/SecureStorage_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Share_Tests.cs
  src/Essentials/test/DeviceTests/Tests/VersionTracking_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Vibration_Tests.cs
  src/Essentials/test/DeviceTests/Tests/WebAuthenticator_Tests.cs
Labels: t/housekeeping ♻︎, area/essentials 🍞

#8682 Update xharness / show emulator for local runs
  .config/dotnet-tools.json
  eng/devices/android.cake
Labels: area/infrastructure 🏗️

#8536 More Unpackaged Support
  .nuspec/Microsoft.Maui.Controls.SingleProject.targets
  .nuspec/Microsoft.Maui.Resizetizer.targets
  src/Essentials/samples/Samples/Essentials.Sample.csproj
  src/Essentials/samples/Samples/Platforms/Windows/Package.appxmanifest
  src/Essentials/src/AppInfo/AppInfo.uwp.cs
  src/Essentials/src/FileSystem/FileSystem.uwp.cs
  src/Essentials/src/Platform/WindowStateManager.uwp.cs
  src/Essentials/src/Preferences/Preferences.uwp.cs
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Essentials/test/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Essentials/test/DeviceTests/Tests/AppInfo_Tests.cs
  src/Essentials/test/DeviceTests/Tests/VersionTracking_Tests.cs
Labels: platform/windows 🪟, area/essentials 🍞

#6871 [workload] Remove Microsoft.Maui.Dependencies pack
  Microsoft.Maui-mac.slnf
  Microsoft.Maui.Packages-mac.slnf
  Microsoft.Maui.Packages.slnf
  Microsoft.Maui.sln
  omnisharp.json
  src/Controls/Foldable/src/Controls.Foldable.csproj
  src/Workload/Microsoft.Maui.Dependencies/Microsoft.Maui.Dependencies.csproj
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.json
  src/Workload/README.md
Labels: area/infrastructure 🏗️

#8791 [Tizen] Add the missing patches to net6.0 branch
  src/Controls/src/Core/Platform/Tizen/Shell/ShellView.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Tizen.cs
Labels: platform/tizen

#5654 [android] remove ColorStateList(int[][],int[]) usage
  eng/BannedSymbols.txt
  src/Compatibility/Core/src/Android/AppCompat/CheckBoxRendererBase.cs
  src/Compatibility/Core/src/Android/AppCompat/TabbedPageRenderer.cs
  src/Compatibility/Core/src/Android/ColorExtensions.cs
  src/Compatibility/Core/src/Android/TextColorSwitcher.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellBottomNavViewAppearanceTracker.cs
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/src/Platform/Android/ColorStateListExtensions.cs
  src/Core/src/Platform/Android/ColorStates.cs
  src/Core/src/Platform/Android/DatePickerExtensions.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
  src/Core/src/Platform/Android/PickerExtensions.cs
  src/Core/src/Platform/Android/SearchViewExtensions.cs
  src/Core/src/maui.aar
Labels: area/perf 🏎️

#7527 [Android] Fix issue creating ColorStateLists from extension methods
  src/Controls/samples/Controls.Sample/Pages/Controls/CheckBoxPage.xaml
  src/Core/src/Platform/Android/CheckBoxExtensions.cs
  src/Core/src/Platform/Android/ColorStateListExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-checkbox

#7719 Fix issue rendering Brushes binding GradientStop colors
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
Labels: t/bug, area/drawing ✏️, control-frame

#7267 [Controls.Core] Handle Null Values for AdaptiveTrigger
  src/Controls/src/Core/AdaptiveTrigger.cs
Labels: area/controls 🎮

#8797 [Tizen] Update resizetizer for Tizen for Net6
  .nuspec/Microsoft.Maui.Resizetizer.targets
  src/Controls/samples/Controls.Sample/Platforms/Tizen/tizen-manifest.xml
  src/SingleProject/Resizetizer/src/GenerateTizenManifest.cs
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/TizenIconManifestUpdater.cs
  src/SingleProject/Resizetizer/src/TizenSplashUpdater.cs
  src/Templates/src/templates/maui-blazor/Platforms/Tizen/tizen-manifest.xml
  src/Templates/src/templates/maui-mobile/Platforms/Tizen/tizen-manifest.xml
Labels: area/single project ☝️, partner/tizen

#8505 Fix DatePicker on Android so that it can GC
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBase.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests/Memory/MemoryTestFixture.cs
  src/Core/tests/DeviceTests/Memory/MemoryTestOrdering.cs
  src/Core/tests/DeviceTests/Memory/MemoryTestTypes.cs
  src/Core/tests/DeviceTests/Memory/MemoryTests.cs
Labels: area/controls 🎮

#8829 [Housekeeping] Fix net6.0 branch build
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Shipped.txt
Labels: t/housekeeping ♻︎

#8653 Set Window Parent before initialize the child ContentPage
  src/Controls/src/Core/HandlerImpl/Application/Application.Impl.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/src/Core/Page.cs
  src/Controls/tests/Core.UnitTests/FlyoutPageUnitTests.cs
  src/Controls/tests/Core.UnitTests/NavigationPageLifecycleTests.cs
  src/Controls/tests/Core.UnitTests/NavigationUnitTest.cs
  src/Controls/tests/Core.UnitTests/PageLifeCycleTests.cs
  src/Controls/tests/Core.UnitTests/PageTests.cs
  src/Controls/tests/Core.UnitTests/ShellTestBase.cs
  src/Controls/tests/Core.UnitTests/TestClasses/TestApp.cs
  src/Controls/tests/Core.UnitTests/TestClasses/TestWindow.cs
  src/Controls/tests/Core.UnitTests/ToolbarTests.cs
  src/Controls/tests/Core.UnitTests/ToolbarTrackerTests.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/Stubs/ApplicationStub.cs
Labels: t/bug

#8843 [xamlc] add compiled ImageSourceConverter
  src/Controls/src/Build.Tasks/CompiledConverters/ImageSourceTypeConverter.cs
  src/Controls/src/Core/ImageSourceConverter.cs
  src/Controls/tests/Xaml.UnitTests/CompiledTypeConverter.xaml
  src/Controls/tests/Xaml.UnitTests/CompiledTypeConverter.xaml.cs
Labels: area/Xaml </>, area/perf 🏎️

#8344 [Android] Fix issue using Entry IsPassword with IsReadOnly property
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-entry

#8674 [Windows] Fix issue updating Entry Text without taking into account MaxLength
  src/Core/src/Core/Extensions/ITextInputExtensions.cs
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-entry

#8407 [Android] Fix crash on Picker with null and fix up handler to not use INCC
  src/Controls/src/Core/HandlerImpl/Picker/Picker.Impl.cs
  src/Controls/src/Core/HandlerImpl/Picker/Picker.cs
  src/Controls/src/Core/Picker.cs
  src/Controls/tests/Core.UnitTests/PickerTests.cs
  src/Controls/tests/DeviceTests/Elements/Picker/PickerTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Picker/PickerTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Picker/PickerTests.cs
  src/Controls/tests/DeviceTests/Elements/Picker/PickerTests.iOS.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Core/Extensions/IPickerExtension.cs
  src/Core/src/Handlers/Picker/PickerHandler.Android.cs
  src/Core/src/Handlers/Picker/PickerHandler.Standard.cs
  src/Core/src/Handlers/Picker/PickerHandler.Tizen.cs
  src/Core/src/Handlers/Picker/PickerHandler.Windows.cs
  src/Core/src/Handlers/Picker/PickerHandler.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-picker

#7084 [Android] Correctly notify CheckBox Color changes
  src/Controls/src/Core/HandlerImpl/CheckBox.Impl.cs
  src/Controls/src/Core/HandlerImpl/CheckBox/CheckBox.Impl.cs
  src/Controls/src/Core/HandlerImpl/CheckBox/CheckBox.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
  src/Controls/tests/DeviceTests/Elements/CheckBox/CheckBoxTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/CheckBox/CheckBoxTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/CheckBox/CheckBoxTests.cs
  src/Controls/tests/DeviceTests/Elements/CheckBox/CheckBoxTests.iOS.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-checkbox

#8757 [MacCatalyst] Fix crash using Slider using Mac UIDeviceFamily
  src/Core/src/Handlers/Slider/SliderHandler.iOS.cs
  src/Core/src/Platform/iOS/SliderExtensions.cs
Labels: t/bug, platform/macOS 🍏, area/controls 🎮, fatal, control-slider

#8520 [Windows] Update Border StrokeTickness even if StrokeShape is null
  src/Core/src/Platform/Windows/StrokeExtensions.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️, partner/ui-tools

#8856 [C] attache the right handler
  src/Controls/src/Core/AdaptiveTrigger.cs
Labels: area/Xaml </>, t/housekeeping ♻︎

#8273 [Windows] Fix crash using animations and changing View sizes (negative values)
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
Labels: t/bug, area/animation 🎬, fatal

#7610 [iOS] Fix issue updating Slider Maximum value
  src/Core/src/Platform/iOS/SliderExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Slider/SliderHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Slider/SliderHandlerTests.iOS.cs
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, control-slider

#7991 [Windows] Fix DatePicker Format not working
  src/Controls/samples/Controls.Sample/Pages/Controls/DatePickerPage.xaml
  src/Core/src/Platform/Windows/CalendarDatePickerExtensions.cs
  src/Core/src/Platform/Windows/DatePickerExtensions.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/tests/UnitTests/Views/BorderTests.cs
  src/Core/tests/UnitTests/Views/DatePickerTests.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-datetimepicker

#8408 [Windows] Fix wrong RadialGradient on Border
  src/Core/src/Graphics/PaintExtensions.Windows.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️

#7992 [Android] Fix clear button not working on Entry
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-entry

#8913 Make Date/Time Pickers on Android only pop up when tapped/clicked/enter key hit
  src/Core/src/Platform/Android/MauiDatePicker.cs
  src/Core/src/Platform/Android/MauiTimePicker.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: area/controls 🎮, control-datetimepicker

#8917 [SingleProject] Fix SplashScreen behavior on Tizen
  .nuspec/Microsoft.Maui.Resizetizer.targets
  src/SingleProject/Resizetizer/src/TizenSplashUpdater.cs
Labels: area/single project ☝️, partner/tizen

#8933 Add Admin check for removing needs-info labels
  .github/fabricbot.json
Labels: area/infrastructure 🏗️

#8533 Invalidate Path if something in a PathFigure or PathGeometry changes
  src/Controls/src/Core/Shapes/Path.cs
  src/Controls/src/Core/Shapes/PathFigure.cs
  src/Controls/src/Core/Shapes/PathGeometry.cs
Labels: t/bug, platform/windows 🪟, platform/android 🤖, area/drawing ✏️, platform/iOS 🍎

#7926 [Android] Fix Border Background not changed to Brush once we set the Gradient
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/Core/tests/DeviceTests/Handlers/Border/BorderHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Stubs/LinearGradientPaintStub.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️

#8930 Make CalendarDatePickerExtensions.ToDateFormat internal until .NET 7
  src/Core/src/Platform/Windows/CalendarDatePickerExtensions.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: platform/windows 🪟, area/controls 🎮

#7995 [Windows] Fix DatePicker TextColor property
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Windows.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.Windows.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.cs
  src/Core/src/Platform/Windows/DatePickerExtensions.cs
  src/Core/src/Platform/Windows/PickerExtensions.cs
  src/Core/src/Platform/Windows/TimePickerExtensions.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.iOS.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-datetimepicker

#9016 Use $(_MauiDotNetTfm) instead of hardcoded net6.0
  src/Graphics/samples/GraphicsTester.Android/GraphicsTester.Android.csproj
  src/Graphics/samples/GraphicsTester.Mac/GraphicsTester.Mac.csproj
  src/Graphics/samples/GraphicsTester.MacCatalyst/GraphicsTester.MacCatalyst.csproj
  src/Graphics/samples/GraphicsTester.Portable/GraphicsTester.Portable.csproj
  src/Graphics/samples/GraphicsTester.Skia.Console/GraphicsTester.Skia.Console.csproj
  src/Graphics/samples/GraphicsTester.Skia.Gtk/GraphicsTester.Skia.Gtk.csproj
  src/Graphics/samples/GraphicsTester.Skia.Mac/GraphicsTester.Skia.Mac.csproj
  src/Graphics/samples/GraphicsTester.Skia.Tizen/GraphicsTester.Skia.Tizen.csproj
  src/Graphics/samples/GraphicsTester.Skia.Windows/GraphicsTester.Skia.Windows.csproj
  src/Graphics/samples/GraphicsTester.WinUI.Desktop/GraphicsTester.WinUI.Desktop.csproj
  src/Graphics/samples/GraphicsTester.iOS/GraphicsTester.iOS.csproj
  src/Graphics/src/Graphics.Skia.WPF/Graphics.Skia.WPF.csproj
  src/Graphics/tests/Graphics.Benchmarks/Graphics.Benchmarks.csproj
  src/Graphics/tests/Graphics.Tests/Graphics.Tests.csproj
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#8418 Handle null/empty PropertyName in the INPC.PropertyChanged event
  src/Compatibility/Core/src/Android/CollectionView/PropertyChangedEventArgsExtensions.cs
  src/Compatibility/Core/src/Windows/PropertyChangedEventArgsExtensions.cs
  src/Compatibility/Core/src/iOS/CollectionView/PropertyChangedEventArgsExtensions.cs
  src/Controls/src/Core/Handlers/Items/iOS/PropertyChangedEventArgsExtensions.cs
  src/Controls/src/Core/PropertyChangedEventArgsExtensions.cs
  src/Controls/tests/Core.UnitTests/PropertyChangedEventArgsExtensionsTests.cs
Labels: area/controls 🎮

#8849 [xamlc] add compiled StrokeShapeTypeConverter
  src/Controls/src/Build.Tasks/CompiledConverters/PointTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/StrokeShapeTypeConverter.cs
  src/Controls/src/Core/Shapes/StrokeShapeTypeConverter.cs
  src/Controls/tests/Core.UnitTests/StrokeShapeTests.cs
  src/Controls/tests/Xaml.UnitTests/CompiledTypeConverter.xaml
  src/Controls/tests/Xaml.UnitTests/CompiledTypeConverter.xaml.cs
Labels: area/Xaml </>, area/perf 🏎️

#9038 Make CalendarDatePickerExtensions public
  src/Core/src/Platform/Windows/CalendarDatePickerExtensions.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: platform/windows 🪟, area/controls 🎮
