Repository dotnet/maui, pull requests merged in 2022-05, with the labels that each got.

#6060 Avoid notify changes from a null or disposed control
  src/Core/src/PropertyMapper.cs
Labels: t/bug, t/housekeeping ♻︎, area/controls 🎮

#5854 Remove iOS Compat ColorExtension ToUIColor overlap
  src/Compatibility/ControlGallery/src/iOS/AppDelegate.cs
  src/Compatibility/ControlGallery/src/iOS/CustomRenderers/_12372CustomRenderer.cs
  src/Compatibility/ControlGallery/src/iOS/SearchbarEffect.cs
  src/Compatibility/Core/src/iOS/Cells/CellRenderer.cs
  src/Compatibility/Core/src/iOS/Cells/EntryCellRenderer.cs
  src/Compatibility/Core/src/iOS/Cells/SwitchCellRenderer.cs
  src/Compatibility/Core/src/iOS/Cells/TextCellRenderer.cs
  src/Compatibility/Core/src/iOS/Extensions/CompatibilityColorExtensions.cs
  src/Compatibility/Core/src/iOS/Platform.cs
  src/Compatibility/Core/src/iOS/Renderers/ActivityIndicatorRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/BoxRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/ButtonRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/CarouselPageRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/DatePickerRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/EditorRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/EntryRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/FormsCheckBox.cs
  src/Compatibility/Core/src/iOS/Renderers/ImageRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/IndicatorViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/LabelRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/ListViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/NavigationRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/PageRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/PhoneFlyoutPageRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/PickerRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/ProgressBarRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/RefreshViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/ScrollViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/SearchBarRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/SliderRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/SwipeViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/SwitchRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TabbedRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TableViewModelRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TabletFlyoutPageRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TimePickerRenderer.cs
  src/Compatibility/Core/src/iOS/ViewRenderer.cs
  src/Compatibility/Core/src/iOS/VisualElementRenderer.cs
  src/Compatibility/Core/tests/iOS/BackgroundColorTests.cs
  src/Compatibility/Core/tests/iOS/BackgroundTests.cs
  src/Compatibility/Core/tests/iOS/CornerRadiusTests.cs
  src/Compatibility/Core/tests/iOS/HtmlLabelTests.cs
  src/Compatibility/Maps/src/iOS/MapRenderer.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.iOS.cs
Labels: platform/iOS 🍎, area/migration 🚚

#5708 Fix incorrect clipping using RoundRectangleGeometry
  src/Controls/src/Core/Shapes/RoundRectangleGeometry.cs
Labels: t/bug, area/drawing ✏️

#4912 Rework use of ObtainStyledAttributes so we can enable `AndroidLinkResources`
  .nuspec/Microsoft.Maui.Controls.targets
  src/Controls/src/Core/Platform/Android/Extensions/ToolbarExtensions.cs
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/AndroidNative/maui/src/main/res/values/strings.xml
  src/Core/src/maui.aar
  src/DotNet/DotNet.csproj
Labels: t/enhancement ☀️, platform/android 🤖, area/app-size 🤏, area/perf 🏎️

#6501 Clean up the windows code a bit
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Core/src/Hosting/MauiAppBuilder.cs
  src/Core/src/Platform/Windows/RootNavigationView.cs
  src/Core/src/Platform/Windows/RootNavigationView.xaml
  src/TestUtils/src/DeviceTests.Runners/TestDispatcher.cs
  src/TestUtils/src/DeviceTests.Runners/TestServices.cs
  src/TestUtils/src/DeviceTests.Runners/TestWindow.cs
Labels: platform/windows 🪟, area/hosting 🧩

#6749 Only set AccessibilityTraits for heading when it matters
  src/Core/src/Platform/iOS/SemanticExtensions.cs
Labels: area/a11y

#6756 [Android] Fix issue with View as EmptyView of CollectionView
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/EmptyViewGalleries/EmptyViewGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/EmptyViewGalleries/EmptyViewNullGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/EmptyViewGalleries/EmptyViewNullGallery.xaml.cs
  src/Controls/src/Core/Handlers/Items/Android/Adapters/EmptyViewAdapter.cs
Labels: area/collectionview 📃

#6696 Register for page selected ViewPager2
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
Labels: area/controls 🎮

#6681 Exclude platform-specific items using metadata
  .nuspec/Microsoft.Maui.Controls.SingleProject.targets
Labels: area/tooling ⚙️

#4863 Add svg to default copied bundle items for mac/ios
  .nuspec/AutoImport.InTree.props
  src/Workload/Microsoft.Maui.Sdk/Sdk/AutoImport.props
Labels: t/enhancement ☀️, platform/macOS 🍏, area/single project ☝️, platform/iOS 🍎, community ✨, delighter

#6686 Remove remaining asserts from PR 6237
  src/Compatibility/Core/src/iOS/EventTracker.cs
  src/Core/src/Platform/iOS/MauiView.cs
  src/Core/src/Platform/iOS/MenuExtensions.cs
  src/Essentials/src/Browser/Browser.ios.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.watchos.cs
Labels: area/infrastructure 🏗️

#6711 Fix Opacity for Wrapper Views
  src/Core/src/Handlers/View/ViewHandler.cs
Labels: area/controls 🎮

#6762 Fix margin related measuring with CV
  src/Controls/src/Core/Handlers/Items/Android/ItemContentView.cs
  src/Controls/src/Core/Handlers/Items/Android/SizedItemContentView.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/ItemContentControl.cs
Labels: platform/android 🤖, area/collectionview 📃

#6743 Android WebAuthenticator fallback to system browser if Chrome Custom tabs are not available
  src/Essentials/src/WebAuthenticator/WebAuthenticator.android.cs
Labels: platform/android 🤖, area/essentials 🍞

#6682 [Android] Fix usage of SimpleViewHolder on COllectionView Header and Footer
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/DemoFilteredItemSource.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterView.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/HeaderFooterGalleries/HeaderFooterView.xaml.cs
  src/Controls/src/Core/Handlers/Items/Android/ItemContentView.cs
Labels: area/collectionview 📃

#6739 Ensure glide targets run once
  src/Core/AndroidNative/HOWTOBUILD
  src/Core/AndroidNative/README.md
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiCustomTarget.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiCustomViewTarget.java
  src/Core/src/ImageSources/Android/ImageLoaderCallback.cs
  src/Core/src/maui.aar
Labels: platform/android 🤖, area/image :framed_picture:, p/0

#6758 Revert "Add VC Redist dependency to Windows templates"
  src/Templates/src/templates/maui-blazor/Platforms/Windows/Package.appxmanifest
  src/Templates/src/templates/maui-mobile/Platforms/Windows/Package.appxmanifest
Labels: platform/windows 🪟, area/publishing 🏁

#6785 [Windows] Render RadioButton ControlTemplate
  src/Compatibility/Core/src/Windows/RadioButtonRenderer.cs
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.Android.cs
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.iOS.cs
  src/Core/src/Platform/Windows/RadioButtonExtensions.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-radiobutton

#6770 Fix the file check for the AppxManifest
  src/Essentials/src/Permissions/Permissions.uwp.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.uwp.cs
Labels: area/essentials 🍞

#6787 Remove closure from AddSpecific and AddWeakSpecific
  src/Core/src/MauiContext.cs
Labels: t/enhancement ☀️, area/perf 🏎️

#6759 Fix various measure/layout issues with android flyout
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ContainerView.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellContentView.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutTemplatedContentRenderer.cs
Labels: area/layout 🔲

#6788 Fix operator precedence
  src/Core/src/Platform/iOS/DatePickerExtensions.cs
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, control-datetimepicker

#6615 [Tizen] Bump Tizen.UIExtensions from 0.6.0-pre1 to 0.8.0-pre1
  eng/Versions.props
Labels: area/infrastructure 🏗️, platform/tizen

#6789 Fix overlapping text with Label spans
  src/Controls/src/Core/Platform/Android/Extensions/FormattedStringExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-label

#6802 Remove `Current` from HapticFeedback
  src/Essentials/src/HapticFeedback/HapticFeedback.shared.cs
Labels: area/essentials 🍞

#6546 [iOS] Observable collection events not firing in the correct order with CollectionView.BeginInvokeOnMainThread
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/ItemsSourceGenerator.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/ObservableCodeCollectionViewGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/ObservableCollectionGallery.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ObservableItemsSource.cs
Labels: t/bug, platform/iOS 🍎, area/collectionview 📃

#6765 [GH-6523] Fix toolbar text color
  src/Controls/src/Core/HandlerImpl/Toolbar/Toolbar.Android.cs
  src/Controls/src/Core/HandlerImpl/Toolbar/Toolbar.Windows.cs
  src/Controls/src/Core/Platform/ImageExtensions.cs
  src/Controls/src/Core/Platform/Windows/Extensions/ImageExtensions.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
Labels: area/navigation 🧭

#6819 Merge the BackgroundImageSource into Background
  src/Controls/src/Core/HandlerImpl/Brush.Impl.cs
  src/Controls/src/Core/HandlerImpl/Page.Impl.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.cs
  src/Controls/src/Core/ImageBrush.cs
  src/Controls/src/Core/ImageSource.cs
  src/Core/src/Core/IViewBackgroundImagePart.cs
  src/Core/src/Handlers/View/ViewHandler.Android.cs
  src/Core/src/Handlers/View/ViewHandler.Standard.cs
  src/Core/src/Handlers/View/ViewHandler.Windows.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Handlers/View/ViewHandler.iOS.cs
  src/Core/src/ImageSources/ImageSourcePaint.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Standard/ViewExtensions.cs
  src/Core/src/Platform/Tizen/ViewExtensions.cs
  src/Core/src/Platform/Windows/ControlExtensions.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: t/bug, t/enhancement ☀️, area/controls 🎮, control-pages

#6816 Lay out ScrollView inset view at correct size on Android
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Android.cs
Labels: area/layout 🔲

#6797 Reinstate Forms hack for unconstrained FlexLayout measurement
  src/Controls/src/Core/Layout/FlexLayout.cs
  src/Core/src/Layouts/FlexLayoutManager.cs
Labels: area/layout 🔲

#6820 Add default BackgroundColor to controls in Styles
  src/ProfiledAot/src/maui/App.xaml
  src/Templates/src/templates/maui-mobile/App.xaml
  src/Templates/src/templates/maui-mobile/Resources/Styles/Colors.xaml
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
Labels: area/templates 📄, area/controls 🎮

#6832 Fix the device tests
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
Labels: area/infrastructure 🏗️

#6834 [android] update AOT profiles
  .nuspec/maui-blazor.aotprofile
  .nuspec/maui-blazor.aotprofile.txt
  .nuspec/maui.aotprofile
  .nuspec/maui.aotprofile.txt
  src/ProfiledAot/src/CommonMethods.cs
Labels: area/perf 🏎️

#6828 Visibility should affect the container if there is one
  src/Core/src/Handlers/View/ViewHandler.cs
Labels: t/bug, area/controls 🎮

#6767 Move some of the require props into Core and fix #6529
  .nuspec/Microsoft.Maui.Controls.SingleProject.props
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Core.Sdk.After.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Core.Sdk.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/WinUI.NetCore.targets
Labels: area/single project ☝️, platform/windows 🪟, p/1

#6827 Add a locked flyout immediately to the view
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutTemplatedContentRenderer.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
Labels: platform/android 🤖, area/shell 🐢

#6818 Show SearchHandler on Windows
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Windows.cs
Labels: area/shell 🐢, area/controls 🎮

#6851 Fix Border.Stroke clipped issue
  src/Core/src/Graphics/MauiDrawable.Android.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️

#6622 [src/Templates] Remove preview language
  src/Templates/src/templates/maui-blazor/.template.config/template.in.json
  src/Templates/src/templates/maui-contentpage-csharp/.template.config/template.json
  src/Templates/src/templates/maui-contentpage-xaml/.template.config/template.json
  src/Templates/src/templates/maui-contentview-csharp/.template.config/template.json
  src/Templates/src/templates/maui-contentview-xaml/.template.config/template.json
  src/Templates/src/templates/maui-lib/.template.config/template.in.json
  src/Templates/src/templates/maui-mobile/.template.config/template.in.json
  src/Templates/src/templates/maui-resourcedictionary-xaml/.template.config/template.json
Labels: area/blazor 🕸️, area/templates 📄

#6840 Cache checkbox locally
  src/Core/src/Platform/ElementExtensions.cs
  src/Core/src/Platform/HandlerNotFoundException.cs
  src/Core/src/Platform/iOS/MauiCheckBox.cs
Labels: control-checkbox

#6601 [Android] Update the adapter used by RecyclerViewScrollListener
  src/Controls/src/Core/Handlers/Items/Android/Adapters/ItemsViewAdapter.cs
  src/Controls/src/Core/Handlers/Items/Android/CarouselViewOnScrollListener.cs
  src/Controls/src/Core/Handlers/Items/Android/MauiCarouselRecyclerView.cs
  src/Controls/src/Core/Handlers/Items/Android/MauiRecyclerView.cs
  src/Controls/src/Core/Handlers/Items/Android/RecyclerViewScrollListener.cs
Labels: area/collectionview 📃, partner/android

#6812 Fix Share does not block when awaited on iOS
  src/Essentials/src/Share/Share.ios.cs
Labels: platform/iOS 🍎, area/essentials 🍞

#6889 [C] Various fixes related to unapplying VSM
  src/Controls/src/Core/BindableObject.cs
  src/Controls/src/Core/VisualStateManager.cs
  src/Controls/tests/Core.UnitTests/VisualStateManagerTests.cs
Labels: area/Xaml </>

#6878 Comment out measure all strategy on iOS 15 for grouping
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewLayout.cs
Labels: area/layout 🔲

#6897 [Windows] Fix crash using shadows with Shell
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️

#6893 Ensure Permissions.LocationWhenInUse returns Restricted when coarse permission is granted
  src/Essentials/src/Permissions/Permissions.android.cs
Labels: platform/android 🤖, area/essentials 🍞

#5826 Add Geolocation iOS14+ Reduced Accuracy Support
  src/Essentials/docs/Microsoft.Maui.Essentials/GeolocationRequest.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/Location.xml
  src/Essentials/src/Geolocation/Geolocation.ios.macos.cs
  src/Essentials/src/Geolocation/GeolocationRequest.shared.cs
  src/Essentials/src/Types/Location.shared.cs
  src/Essentials/src/Types/LocationExtensions.android.cs
  src/Essentials/src/Types/LocationExtensions.ios.tvos.watchos.macos.cs
  src/Essentials/src/Types/LocationExtensions.uwp.cs
  src/Essentials/test/DeviceTests/Tests/Geolocation_Tests.cs
Labels: platform/iOS 🍎, area/essentials 🍞

#6898 Avoid Glide target re-use when loading the same image into the same view
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiCustomTarget.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiCustomViewTarget.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiGlideModule.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/fallback/ImageLoaderCallbackModelLoader.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/fallback/ImageLoaderCallbackModelLoaderFactory.java
  src/Core/src/Transforms/Metadata.xml
  src/Core/src/maui.aar
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.Android.cs
Labels: t/bug, platform/android 🤖, area/image :framed_picture:, p/0

#6902 [ListView] Reuse already created ViewCellContainer for infinite height GetDesiredSize scenario
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ListViewAdapter.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ListViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ViewCellRenderer.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
Labels: area/ListView

#6884 [Tizen] Update ShellHandler
  src/Compatibility/Core/src/Tizen/HandlerToRendererShim.cs
  src/Controls/src/Core/Handlers/Items/Tizen/ItemTemplateAdaptor.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellFlyoutItemAdaptor.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellNavBar.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellView.cs
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Core/src/Handlers/IViewHandler.Tizen.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.Tizen.cs
Labels: area/shell 🐢, platform/tizen

#6841 [Entry/Win] Fixed cursor jumping to the beginning of a PasswordBox
  src/Controls/src/Core/Platform/Windows/Extensions/TextBoxExtensions.cs
  src/Core/src/Platform/Windows/MauiPasswordTextBox.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-entry

#6836 Force parent invalidation on Margin and LayoutOptions changes
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
Labels: t/bug, area/layout 🔲

#6874 Set GenerateDocumentationFile=true for Core and Controls.Core
  src/Controls/src/Core/AnimationExtensions.cs
  src/Controls/src/Core/Command.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Windows/CellControl.cs
  src/Controls/src/Core/Controls.Core.csproj
  src/Controls/src/Core/Page.cs
  src/Controls/src/Core/Registrar.cs
  src/Controls/src/Core/Routing.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/SwipeView.cs
  src/Core/src/Core.csproj
  src/Core/src/Core/IScrollView.cs
  src/Core/src/Primitives/Font.cs
  src/Core/src/WindowOverlay/WindowOverlay.iOS.cs
  src/Workload/Microsoft.Maui.Controls.Ref/Microsoft.Maui.Controls.Ref.csproj
  src/Workload/Microsoft.Maui.Core.Ref/Microsoft.Maui.Core.Ref.csproj
Labels: area/docs 📓

#6901 [Windows] [Shell] Fix Flyout Background so it gets set in Locked behavior mode
  src/Controls/src/Core/Handlers/Shell/ShellHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellView.cs
Labels: platform/windows 🪟, area/shell 🐢

#6907 Set GenerateDocumentationFile=true for MAUI Essentials
  src/Essentials/src/Essentials.csproj
  src/Essentials/src/Screenshot/Screenshot.shared.cs
  src/Essentials/src/Share/Share.shared.cs
  src/Workload/Microsoft.Maui.Essentials.Ref/Microsoft.Maui.Essentials.Ref.csproj
Labels: area/docs 📓

#6853 [Core] Fix crash in DeviceStateTrigger
  src/Controls/src/Core/DeviceStateTrigger.cs
  src/Controls/tests/Core.UnitTests/DeviceStateTriggerTests.cs
Labels: t/bug, area/controls 🎮, fatal

#4345 [iOS] Add dismiss keyboard button to EditorHandler
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiDoneAccessoryView.cs
  src/Core/src/Platform/iOS/MauiTimePicker.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry

#6945 [Tizen] Update Background implements
  src/Core/src/Handlers/View/ViewHandler.Tizen.cs
  src/Core/src/Platform/Tizen/MauiBackgroundImage.cs
  src/Core/src/Platform/Tizen/ViewExtensions.cs
Labels: platform/tizen

#6900 Add Windows Icon to .exe and set Window Icon at runtime
  .nuspec/Microsoft.Maui.Resizetizer.targets
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/SkiaSharpAppIconTools.cs
  src/SingleProject/Resizetizer/src/WindowsIconGenerator.cs
Labels: area/desktop 🖥️

#6955 Disable ViewPager2 interaction if there are no tabs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellSectionRenderer.cs
Labels: area/shell 🐢

#6960 Include route parameters when switching flyouts
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellNavigationManager.cs
  src/Controls/tests/Core.UnitTests/ShellParameterPassingTests.cs
Labels: area/navigation 🧭

#6964 Respect BarTextColor in Windows MenuBar
  src/Controls/src/Core/NavigationPageToolbar.cs
  src/Controls/src/Core/Platform/Windows/Extensions/ToolbarExtensions.cs
  src/Core/src/Platform/Windows/MauiToolbar.xaml.cs
Labels: area/controls 🎮, control-menubar

#6970 [Windows] Set WinUI picker description to title
  src/Core/src/Handlers/Picker/PickerHandler.Windows.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
Labels: platform/windows 🪟, area/a11y, area/controls 🎮, control-picker

#6968 Fix sandbox project
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml.cs
Labels: area/infrastructure 🏗️

#6985 Don't set the Switch.IsOn unnecessarily
  src/Core/src/Handlers/Switch/SwitchHandler.Android.cs
  src/Core/src/Handlers/Switch/SwitchHandler.Tizen.cs
  src/Core/src/Handlers/Switch/SwitchHandler.Windows.cs
  src/Core/src/Handlers/Switch/SwitchHandler.iOS.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/HandlerTestBase.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Windows.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
Labels: t/bug, area/controls 🎮, control-switch

#6956 Move loose resource items under a folder
  .nuspec/Microsoft.Maui.Resizetizer.targets
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-blazor/Resources/AppIcon/appicon.svg
  src/Templates/src/templates/maui-blazor/Resources/AppIcon/appiconfg.svg
  src/Templates/src/templates/maui-blazor/Resources/Splash/splash.svg
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/Resources/AppIcon/appicon.svg
  src/Templates/src/templates/maui-mobile/Resources/AppIcon/appiconfg.svg
  src/Templates/src/templates/maui-mobile/Resources/Splash/splash.svg
Labels: area/templates 📄

#6813 iOS modals use `Window.ModalNavigationManager` vs `Application.NavigationProxy`
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/src/Core/Platform/iOS/ModalWrapper.cs
  src/Controls/src/Core/Shell/ShellNavigationManager.cs
  src/Controls/src/Core/Shell/ShellNavigationParameters.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.iOS.cs
Labels: platform/iOS 🍎, area/modal, control-dialogalert

#6988 [Windows] Fix setting the initial Value on Slider
  src/Core/src/Handlers/Slider/SliderHandler.Windows.cs
  src/Core/src/Platform/Windows/SliderExtensions.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-slider

#6982 [X] Process ContentProperty before Add()
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Xaml/ApplyPropertiesVisitor.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui6944.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui6944.xaml.cs
Labels: area/Xaml </>, area/layout 🔲

#6974 [Tizen] Update CollectionView item measure
  src/Controls/src/Core/Handlers/Items/Tizen/ItemTemplateAdaptor.cs
Labels: area/collectionview 📃, platform/tizen

#6663 [Windows] Correctly size the ImageButton BitmapImage
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-button

#5879 [iOS] Implement iOS Platform Specifics
  src/Compatibility/Core/src/iOS/Renderers/DatePickerRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/EntryRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/NavigationRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/ScrollViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/SearchBarRenderer.cs
  src/Controls/samples/Controls.Sample/ViewModels/PlatformSpecificsViewModel.cs
  src/Controls/src/Core/HandlerImpl/DatePicker.Impl.cs
  src/Controls/src/Core/HandlerImpl/DatePicker/DatePicker.Android.cs
  src/Controls/src/Core/HandlerImpl/DatePicker/DatePicker.Impl.cs
  src/Controls/src/Core/HandlerImpl/DatePicker/DatePicker.Standard.cs
  src/Controls/src/Core/HandlerImpl/DatePicker/DatePicker.Windows.cs
  src/Controls/src/Core/HandlerImpl/DatePicker/DatePicker.cs
  src/Controls/src/Core/HandlerImpl/DatePicker/DatePicker.iOS.cs
  src/Controls/src/Core/HandlerImpl/Entry/Entry.cs
  src/Controls/src/Core/HandlerImpl/Entry/Entry.iOS.cs
  src/Controls/src/Core/HandlerImpl/NavigationPage/NavigationPage.cs
  src/Controls/src/Core/HandlerImpl/NavigationPage/NavigationPage.iOS.cs
  src/Controls/src/Core/HandlerImpl/Picker/Picker.Android.cs
  src/Controls/src/Core/HandlerImpl/Picker/Picker.Impl.cs
  src/Controls/src/Core/HandlerImpl/Picker/Picker.Standard.cs
  src/Controls/src/Core/HandlerImpl/Picker/Picker.Windows.cs
  src/Controls/src/Core/HandlerImpl/Picker/Picker.cs
  src/Controls/src/Core/HandlerImpl/Picker/Picker.iOS.cs
  src/Controls/src/Core/HandlerImpl/ScrollView/ScrollView.Android.cs
  src/Controls/src/Core/HandlerImpl/ScrollView/ScrollView.Impl.cs
  src/Controls/src/Core/HandlerImpl/ScrollView/ScrollView.Standard.cs
  src/Controls/src/Core/HandlerImpl/ScrollView/ScrollView.Windows.cs
  src/Controls/src/Core/HandlerImpl/ScrollView/ScrollView.cs
  src/Controls/src/Core/HandlerImpl/ScrollView/ScrollView.iOS.cs
  src/Controls/src/Core/HandlerImpl/SearchBar/SearchBar.cs
  src/Controls/src/Core/HandlerImpl/SearchBar/SearchBar.iOS.cs
  src/Controls/src/Core/HandlerImpl/TimePicker.Impl.cs
  src/Controls/src/Core/HandlerImpl/TimePicker/TimePicker.Android.cs
  src/Controls/src/Core/HandlerImpl/TimePicker/TimePicker.Impl.cs
  src/Controls/src/Core/HandlerImpl/TimePicker/TimePicker.Standard.cs
  src/Controls/src/Core/HandlerImpl/TimePicker/TimePicker.Windows.cs
  src/Controls/src/Core/HandlerImpl/TimePicker/TimePicker.cs
  src/Controls/src/Core/HandlerImpl/TimePicker/TimePicker.iOS.cs
  src/Controls/src/Core/Platform/iOS/Extensions/NavigationPageExtensions.cs
  src/Controls/src/Core/Platform/iOS/Extensions/ScrollViewExtensions.cs
  src/Controls/src/Core/Platform/iOS/Extensions/SearchBarExtensions.cs
  src/Controls/src/Core/Platform/iOS/Extensions/TextExtensions.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.MacCatalyst.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.MacCatalyst.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.iOS.cs
  src/Core/src/Platform/iOS/PickerExtensions.cs
Labels: platform/iOS 🍎, area/controls 🎮

#5626 Bump templates to be visible in VS 17.3 and up
  src/Templates/src/templates/maui-blazor/.template.config/ide.host.json
  src/Templates/src/templates/maui-contentpage-csharp/.template.config/ide.host.json
  src/Templates/src/templates/maui-contentpage-xaml/.template.config/ide.host.json
  src/Templates/src/templates/maui-contentview-csharp/.template.config/ide.host.json
  src/Templates/src/templates/maui-contentview-xaml/.template.config/ide.host.json
  src/Templates/src/templates/maui-lib/.template.config/ide.host.json
  src/Templates/src/templates/maui-mobile/.template.config/ide.host.json
  src/Templates/src/templates/maui-resourcedictionary-xaml/.template.config/ide.host.json
Labels: t/housekeeping ♻︎, area/templates 📄

#6794 Remove Frame arrange/measure overrides
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Windows/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/iOS/FrameRenderer.cs
  src/Controls/src/Core/HandlerImpl/Frame.Impl.cs
  src/Core/src/Handlers/ViewHandlerExtensions.Android.cs
Labels: area/layout 🔲, control-frame

#7023 Animated gifs cannot/should not be resized
  .nuspec/Microsoft.Maui.Resizetizer.targets
Labels: t/bug, area/single project ☝️

#7016 Remove platform-specific density calculations from the cross-platform objects
  src/Controls/src/Core/Shapes/EllipseGeometry.cs
  src/Controls/src/Core/Shapes/LineGeometry.cs
  src/Controls/src/Core/Shapes/PathGeometry.cs
  src/Controls/src/Core/Shapes/RectangleGeometry.cs
  src/Controls/src/Core/Shapes/RoundRectangleGeometry.cs
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/Core/src/Platform/Android/ContentViewGroup.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
  src/Core/src/Platform/Android/WrapperView.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️, control-border

#7038 Disable the AndroidLinkResources optimization
  .nuspec/Microsoft.Maui.Controls.targets
Labels: platform/android 🤖, p/0, area/perf 🏎️, fatal

#7031 Fix Shell Template Colors and Apply Styles to Shell
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
Labels: area/templates 📄

#7030 Move Tizen ElmSharp package reference to bundledversions
  eng/Microsoft.Extensions.targets
  eng/Versions.props
  src/Workload/Microsoft.Maui.Dependencies/Microsoft.Maui.Dependencies.csproj
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
Labels: area/setup 🪄

#7039 Remove the now-extraneous platform invalidation service;
  src/Controls/src/Core/Compatibility/Android/PlatformInvalidate.cs
  src/Controls/src/Core/Compatibility/Tizen/PlatformInvalidate.cs
  src/Controls/src/Core/Compatibility/Windows/PlatformInvalidate.cs
  src/Controls/src/Core/Compatibility/iOS/PlatformInvalidate.cs
  src/Controls/src/Core/IPlatformInvalidate.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
Labels: area/layout 🔲

#7048 [android] update AOT profile for `AndroidLinkResources`
  .nuspec/maui-blazor.aotprofile
  .nuspec/maui-blazor.aotprofile.txt
  .nuspec/maui.aotprofile
  .nuspec/maui.aotprofile.txt
Labels: area/app-size 🤏

#7044 Template Color updates
  src/Templates/src/templates/maui-mobile/Resources/Styles/Colors.xaml
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
Labels: area/templates 📄

#7052 Update `About Assets` Instructions
  src/Templates/src/templates/maui-blazor/Resources/Raw/AboutAssets.txt
  src/Templates/src/templates/maui-mobile/Resources/Raw/AboutAssets.txt
Labels: area/blazor 🕸️, area/templates 📄

#7071 Don't directly reference the tizen nuget
  .nuspec/Microsoft.Maui.Controls.MultiTargeting.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
Labels: p/0

#7049 Avoid having every access of Bounds or Frame allocate a new Rect
  src/BlazorWebView/tests/MauiDeviceTests/HandlerTestBase.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
Labels: area/perf 🏎️, area/controls 🎮

#7042 [Housekeeping] Fix issue in Shapes Transform sample
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/TransformPlaygroundGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesPage.xaml
Labels: area/drawing ✏️, t/housekeeping ♻︎

#7072 Revert the PRs that moved Tizen out and added a pack step for library templates
  .nuspec/Microsoft.Maui.Controls.MultiTargeting.targets
  eng/Microsoft.Extensions.targets
  eng/Versions.props
  eng/cake/dotnet.cake
  src/Core/src/Core.csproj
  src/Workload/Microsoft.Maui.Dependencies/Microsoft.Maui.Dependencies.csproj
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
Labels: p/0

#7102 Disconnect from PropertyChanged when handler removed
  src/Controls/src/Core/HandlerImpl/Toolbar/Toolbar.Android.cs
  src/Controls/src/Core/Platform/Android/Extensions/ToolbarExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: area/shell 🐢

#7104 Unsubscribing from wrong incoming page
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
Labels: area/shell 🐢

#7077 [Windows] Fix GraphicsView to support gestures
  src/Controls/samples/Controls.Sample/Pages/Others/GraphicsViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Others/GraphicsViewPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/GraphicsView.Impl.cs
  src/Core/src/Platform/Windows/PlatformTouchGraphicsView.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️

#7173 Generate a rollback json based on the package version
  src/Workload/Microsoft.NET.Sdk.Maui/Microsoft.NET.Sdk.Maui.csproj
Labels: area/infrastructure 🏗️

#7110 Fix iOS Shell Tests (still no CI <3)
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/PlatformBehaviorTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.iOS.cs
Labels: t/housekeeping ♻︎, area/shell 🐢

#7162 [Tizen] Update ScrollViewHandler
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Tizen.cs
Labels: area/layout 🔲

#7106 Ensure CSS can be used in SVG files
  .github/dependabot.yml
  eng/Microsoft.Extensions.targets
  eng/Versions.props
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/Resizetizer.csproj
  src/SingleProject/Resizetizer/src/ResizetizerPackages.projitems
  src/SingleProject/Resizetizer/test/UnitTests/ResizetizeImagesTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/SkiaSharpSvgToolsTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/images/not_working.svg
  src/SingleProject/Resizetizer/test/UnitTests/images/yes_working.svg
  src/Workload/Microsoft.Maui.Resizetizer.Sdk/Microsoft.Maui.Resizetizer.Sdk.csproj
  src/Workload/Shared/Svg.Skia.targets
Labels: area/single project ☝️

#7183 Allow AbsoluteLayout children to auto size when height/width are not proportional
  src/Core/src/Layouts/AbsoluteLayoutManager.cs
Labels: area/layout 🔲

#7225 Added pending lifecycle events hooks
  src/Controls/samples/Controls.Sample/MauiProgram.cs
  src/Controls/samples/Controls.Sample/MauiWindow.cs
  src/Controls/samples/Controls.Sample/XamlApp.xaml.cs
  src/Core/src/Hosting/LifecycleEvents/AppHostBuilderExtensions.Android.cs
  src/Core/src/Hosting/LifecycleEvents/AppHostBuilderExtensions.Windows.cs
  src/Core/src/Platform/Android/MauiAppCompatActivity.Lifecycle.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.cs
Labels: area/lifecycle 🔁

#7236 Allow LayoutView to pass touches to child controls when CascadeInputTransparent is false
  src/Controls/src/Core/Platform/GestureManager/GestureManager.iOS.cs
  src/Controls/tests/DeviceTests/GestureTests.iOS.cs
  src/Core/src/Platform/iOS/LayoutView.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.iOS.cs
Labels: area/layout 🔲

#7241 Cleanup cake file, add targets, fix for iOS Pair
  build.cake
  eng/cake/dotnet.cake
  eng/cake/helpers.cake
  eng/package.ps1
  src/DotNet/DotNet.csproj
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#7247 [Android] Render Border without set a Stroke
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/Core/src/Platform/Android/StrokeExtensions.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Border/BorderHandlerTests.Android.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️

#7297 Propagate layout requests up the tree for Content/Layout Views
  src/Controls/src/Core/Compatibility/Handlers/iOS/FrameRenderer.cs
  src/Core/src/Platform/iOS/ContentView.cs
  src/Core/src/Platform/iOS/LayoutView.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: area/layout 🔲

#7308 Setup WinUI to run window scoped tests in new window
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Stubs/MauiAppNewWindowStub.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.Android.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.Windows.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.iOS.cs
  src/Core/src/Handlers/Window/WindowHandler.Windows.cs
  src/Core/src/Platform/Windows/StackNavigationManager.cs
Labels: platform/windows 🪟, area/infrastructure 🏗️

#7287 [Tizen] Update ShellView
  src/Controls/src/Core/Platform/Tizen/Shell/ShellItemView.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellMoreTabs.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellNavBar.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellSectionHandler.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellSectionStack.cs
  src/Controls/src/Core/Platform/Tizen/Shell/ShellView.cs
Labels: area/shell 🐢, platform/tizen

#7327 [Android] Fix Stepper sizing
  src/Core/src/Handlers/Stepper/StepperHandler.Android.cs
  src/Core/src/Platform/Android/MauiStepper.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-stepper

#7338 Create Window Specific Orientation Extensions
  src/Controls/src/Core/FlyoutPage.cs
  src/Controls/tests/Core.UnitTests/FlyoutPageUnitTests.cs
  src/Core/src/Platform/Android/WindowExtensions.cs
  src/Core/src/Platform/Standard/WindowExtensions.cs
  src/Core/src/Platform/Tizen/WindowExtensions.cs
  src/Core/src/Platform/Windows/WindowExtensions.cs
  src/Core/src/Platform/iOS/WindowExtensions.cs
Labels: area/FlyoutPage

#7302 [iOS] Fix some naming cells
  src/Controls/src/Core/Handlers/Items/iOS/CarouselTemplatedCell.cs
  src/Controls/src/Core/Handlers/Items/iOS/HorizontalCell.cs
  src/Controls/src/Core/Handlers/Items/iOS/HorizontalDefaultCell.cs
  src/Controls/src/Core/Handlers/Items/iOS/HorizontalDefaultSupplementalView.cs
  src/Controls/src/Core/Handlers/Items/iOS/HorizontalTemplatedHeaderView.cs
  src/Controls/src/Core/Handlers/Items/iOS/VerticalCell.cs
  src/Controls/src/Core/Handlers/Items/iOS/VerticalDefaultCell.cs
  src/Controls/src/Core/Handlers/Items/iOS/VerticalDefaultSupplementalView.cs
  src/Controls/src/Core/Handlers/Items/iOS/VerticalSupplementaryView.cs
Labels: area/layout 🔲

#7411 [Android] Fix crash removing items in ListView
  src/Core/src/Handlers/Layout/LayoutHandler.Android.cs
  src/Core/src/Platform/Android/ViewGroupExtensions.cs
Labels: t/bug, platform/android 🤖, fatal, area/ListView

#7245 [X] Add compiled converters
  src/Controls/docs/Microsoft.Maui.Controls/FlowDirectionConverter.xml
  src/Controls/src/Build.Tasks/CompiledConverters/EnumTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/FlexBasisTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/FontSizeTypeConverter.cs
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
  src/Controls/src/Core.Design/AttributeTableBuilder.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/src/Xaml/ApplyPropertiesVisitor.cs
  src/Core/src/Converters/FlexEnumsConverters.cs
  src/Core/src/Converters/FlowDirectionTypeConverter.cs
  src/Core/src/Layouts/FlexEnums.cs
  src/Core/src/Primitives/FlowDirection.cs
Labels: area/Xaml </>

#7309 Fix RTL in AbsoluteLayout
  src/Core/src/Layouts/AbsoluteLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/AbsoluteLayoutManagerTests.cs
Labels: area/layout 🔲

#7301 Ensure that Grid is propagating the BindingContext to the row/col definitions
  src/Controls/src/Core/Layout/Grid.cs
  src/Controls/tests/Core.UnitTests/Layouts/GridLayoutTests.cs
Labels: area/layout 🔲

#7379 Remove the padding around checkboxes
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Android.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Windows.cs
  src/Core/src/Platform/Android/Resources/values/styles.xml
  src/Core/src/Platform/Windows/ResourceDictionaryExtensions.cs
  src/Core/src/Platform/iOS/MauiCheckBox.cs
Labels: area/controls 🎮

#7412 [Android] Fixed crash using Path in ControlTemplate ContentView
  src/Controls/src/Core/VisualElement.cs
Labels: t/bug, area/layout 🔲, platform/android 🤖, area/drawing ✏️, fatal

#7336 [Windows] Fix Shadows sizing issue
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️

#7349 Fix BlazorWebView disposal
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Android/BlazorAndroidWebView.cs
Labels: area/blazor 🕸️

#7452 Fix WinUI Modal to work with lack of root panel
  src/Controls/samples/Controls.Sample/Pages/Core/ModalPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/ModalPage.xaml.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.Windows.cs
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
  src/Core/src/Platform/Windows/NavigationRootManager.cs
  src/Core/src/Platform/Windows/RootPanel.cs
  src/Core/src/Platform/Windows/WindowExtensions.cs
Labels: platform/windows 🪟, area/modal

#7467 [Android] Fix issues clipping content in Border
  src/Controls/src/Core/Shapes/EllipseGeometry.cs
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/Core/src/Platform/Android/ContentViewGroup.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️

#7484 Remove Unsupported "!!" null-checking syntax from BlazorWebView
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Android/WebKitWebViewClient.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
Labels: area/blazor 🕸️

#7415 Fix swapping root page from Shell to Non Shell
  src/Controls/src/Core/HandlerImpl/Window/Window.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.Android.cs
Labels: area/shell 🐢

#6371 Use .NET 6 built-in dotnet format tool
  .github/workflows/dotnet-format-daily.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#7235 [Handlers] Make sure to update Content on handlers when the ControlTemplate changes
  src/Controls/src/Core/ContentView.cs
  src/Controls/src/Core/HandlerImpl/ContentView/ContentView.Impl.cs
  src/Controls/tests/DeviceTests/Elements/ContentView/ContentViewTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/ContentView/ContentViewTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/ContentView/ContentViewTests.cs
  src/Controls/tests/DeviceTests/Elements/ContentView/ContentViewTests.iOS.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
Labels: area/controls 🎮

#7485 Resolving TableView/ListView issues
  eng/cake/dotnet.cake
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/CellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ListViewAdapter.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ListViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ViewCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/TableView/Android/TableViewRenderer.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.Android.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.iOS.cs
Labels: area/ListView

#7511 Set GenerateDocumentationFile=true for Compatibility and Xaml and pack a special docs artifact
  eng/cake/dotnet.cake
  eng/pipelines/common/pack.yml
  src/Compatibility/Core/src/Compatibility.csproj
  src/Compatibility/Core/src/Tizen/Native/DateChangedEventArgs.cs
  src/Compatibility/Core/src/Tizen/Native/Entry.cs
  src/Compatibility/Core/src/Tizen/Native/FlyoutPage.cs
  src/Compatibility/Core/src/Tizen/Native/ListView.cs
  src/Compatibility/Core/src/Tizen/Native/TextHelper.cs
  src/Compatibility/Core/src/Tizen/Renderers/CarouselPageRenderer.cs
  src/Compatibility/Core/src/Tizen/Renderers/LayoutRenderer.cs
  src/Compatibility/Core/src/Tizen/Renderers/ListViewRenderer.cs
  src/Compatibility/Core/src/Tizen/Renderers/SearchBarRenderer.cs
  src/Compatibility/Core/src/Tizen/Renderers/ViewRenderer.cs
  src/Compatibility/Core/src/Tizen/Renderers/VisualElementRenderer.cs
  src/Compatibility/Core/src/Windows/CellControl.cs
  src/Controls/src/Xaml/Controls.Xaml.csproj
  src/Workload/Microsoft.Maui.Controls.Ref/Microsoft.Maui.Controls.Ref.csproj
Labels: area/docs 📓

#7544 If the FlyoutBehavior is "Flyout" show toolbar
  src/Controls/src/Core/ShellToolbar.cs
  src/Controls/tests/Core.UnitTests/ShellToolbarTests.cs
Labels: area/shell 🐢

#7439 Align the controls used in the different templates
  src/Templates/src/templates/maui-contentpage-csharp/NewPage1.cs
  src/Templates/src/templates/maui-contentpage-xaml/NewPage1.xaml
  src/Templates/src/templates/maui-contentview-csharp/NewContent1.cs
  src/Templates/src/templates/maui-contentview-xaml/NewContent1.xaml
Labels: area/templates 📄

#7438 Avoid crash with invalid cast using RadioButtonGroup.GroupName with a View
  src/Controls/src/Core/RadioButtonGroup.cs
Labels: t/bug, area/controls 🎮, control-radiobutton

#7519 Just a small styling error I noticed just now
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
Labels: area/templates 📄

#7447 [iOS] Fix cell size changed on CollectionView
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/TemplatedCell.cs
  src/Controls/src/Core/VisualElement.cs
Labels: area/collectionview 📃

#7609 [iOS] Fix ActivityIndicator with initial IsRunning value to False
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiActivityIndicator.cs
Labels: t/bug, platform/iOS 🍎, control-activityindicator

#5918 [workload] Remove Microsoft.Maui.Extensions pack
  Microsoft.Maui-mac.slnf
  Microsoft.Maui.Packages-mac.slnf
  Microsoft.Maui.Packages.slnf
  Microsoft.Maui.sln
  omnisharp.json
  src/Workload/Microsoft.Maui.Extensions/Microsoft.Maui.Extensions.csproj
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.json
  src/Workload/README.md
Labels: area/setup 🪄
