Repository dotnet/maui, pull requests merged in 2022-03, with the labels that each got.

#4936 Windows FlowDirection
  src/Compatibility/Core/src/Android/Forms.cs
  src/Compatibility/Core/src/Windows/Forms.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Controls/docs/Microsoft.Maui.Controls/Device.xml
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/tests/Core.UnitTests/EffectiveFlowDirectionExtensions.cs
  src/Controls/tests/Core.UnitTests/FlowDirectionTests.cs
  src/Controls/tests/Core.UnitTests/MockPlatformServices.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
  src/Core/src/Core/IWindow.cs
  src/Core/src/Handlers/Window/WindowHandler.Windows.cs
  src/Core/src/Handlers/Window/WindowHandler.cs
  src/Core/src/MauiContextExtensions.cs
  src/Core/src/Platform/Android/MauiContextExtensions.cs
  src/Core/src/Platform/Standard/MauiContextExtensions.cs
  src/Core/src/Platform/Windows/MauiContextExtensions.cs
  src/Core/src/Platform/Windows/PlatformMethods.cs
  src/Core/src/Platform/iOS/MauiContextExtensions.cs
  src/Core/tests/DeviceTests/Stubs/WindowStub.cs
  src/Essentials/samples/Samples/View/AppInfoPage.xaml
  src/Essentials/src/AppInfo/AppInfo.android.cs
  src/Essentials/src/AppInfo/AppInfo.ios.tvos.watchos.macos.cs
  src/Essentials/src/AppInfo/AppInfo.netstandard.cs
  src/Essentials/src/AppInfo/AppInfo.shared.cs
  src/Essentials/src/AppInfo/AppInfo.uwp.cs
  src/Essentials/src/AppInfo/LayoutDirection.shared.cs
  src/Essentials/test/DeviceTests/Tests/DeviceInfo_Tests.cs
Labels: area/a11y

#4998 Make sure RadioButtonExtensions.UpdateTextColor applies to RadioButton only
  src/Core/src/Platform/Windows/RadioButtonExtensions.cs
Labels: control-radiobutton

#5011 Fix iOS CollectionView update when not visible
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ObservableItemsSource.cs
Labels: t/housekeeping ♻︎, area/collectionview 📃

#5013 [shell] minor performance improvements
  src/Controls/src/Core/Routing.cs
  src/Controls/src/Core/Shell/RouteRequestBuilder.cs
  src/Controls/src/Core/Shell/ShellUriHandler.cs
  src/Core/tests/Benchmarks/Benchmarks/ShellBenchmarker.cs
  src/Core/tests/Benchmarks/Program.cs
Labels: area/perf 🏎️

#5008 Implement IBorder on Windows
  src/Core/src/Handlers/Border/BorderHandler.Windows.cs
  src/Core/src/Platform/Windows/BorderExtensions.cs
  src/Core/src/Platform/Windows/ContentPanel.cs
  src/Core/src/Platform/Windows/StrokeExtensions.cs
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: area/drawing ✏️

#5010 Remove unused ExportFontAttribute.EmbeddedFontResourceId property
  src/Controls/docs/Microsoft.Maui.Controls/ExportFontAttribute.xml
  src/Controls/src/Core/ExportFontAttribute.cs
Labels: t/housekeeping ♻︎, area/fonts 🅰️

#4491 Remove unsupported targets in Device class
  src/Compatibility/ControlGallery/src/Core/GalleryPages/ButtonGallery.cs
  src/Compatibility/ControlGallery/src/Core/GalleryPages/CellsGalleries/ProductViewCell.cs
  src/Compatibility/ControlGallery/src/Core/GalleryPages/ImageSourcesGallery.cs
  src/Compatibility/ControlGallery/src/Core/GalleryPages/LabelGallery.cs
  src/Compatibility/ControlGallery/src/Core/GalleryPages/SwipeViewGalleries/CustomSwipeItemGallery.cs
  src/Compatibility/ControlGallery/src/Core/TestCases.cs
  src/Compatibility/ControlGallery/src/Core/XamStore/StoreShell.xaml.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla22229.xaml.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1683.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1705_2.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2482.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue3343.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue5132.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue6491.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue773.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue8801.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselItemsGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/ExampleTemplates.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/ReorderingGalleries/GroupedReorderingGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/ReorderingGalleries/UngroupedReorderingGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/CustomSwipeItemGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeItemIconGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Core/DevicePage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/DevicePage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml
  src/Controls/samples/Controls.Sample/ViewModels/CoreViewModel.cs
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/DeviceStateTrigger.cs
  src/Controls/src/Core/OnPlatform.cs
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Controls/src/Xaml/MarkupExtensions/OnPlatformExtension.cs
  src/Controls/src/Xaml/XamlParser.cs
  src/Controls/tests/Xaml.UnitTests/MarkupExpressionParserTests.cs
  src/Controls/tests/Xaml.UnitTests/OnPlatformTests.cs
  src/Essentials/samples/Samples/ViewModel/FilePickerViewModel.cs
  src/Essentials/src/DeviceInfo/DeviceInfo.uwp.cs
  src/Essentials/src/FilePicker/FilePicker.uwp.cs
  src/Essentials/src/Types/DevicePlatform.shared.cs
  src/Essentials/test/DeviceTests/Tests/DeviceInfo_Tests.cs
Labels: area/Xaml </>

#5003 [Android] Changes to avoid an EditText issue with RecyclerView scroll
  src/Compatibility/Core/src/Android/Renderers/EditorRenderer.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
Labels: platform/android 🤖, t/housekeeping ♻︎, area/controls 🎮

#4995 Implement InputTransparent
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/samples/Controls.Sample/Pages/Core/InputTransparentPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/InputTransparentPage.xaml.cs
  src/Controls/samples/Controls.Sample/Startup.cs
  src/Controls/samples/Controls.Sample/ViewModels/CoreViewModel.cs
  src/Controls/src/Core/HandlerImpl/Layout/Layout.Android.cs
  src/Controls/src/Core/HandlerImpl/Layout/Layout.Standard.cs
  src/Controls/src/Core/HandlerImpl/Layout/Layout.Windows.cs
  src/Controls/src/Core/HandlerImpl/Layout/Layout.iOS.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/Layout/Layout.cs
  src/Controls/tests/Core.UnitTests/Layouts/LayoutTests.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/Controls/tests/DeviceTests/GestureTests.iOS.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Core/IView.cs
  src/Core/src/Handlers/Layout/LayoutHandler.Android.cs
  src/Core/src/Handlers/Layout/LayoutHandler.Windows.cs
  src/Core/src/Handlers/Layout/LayoutHandler.cs
  src/Core/src/Handlers/View/ViewHandler.Android.cs
  src/Core/src/Handlers/View/ViewHandler.Standard.cs
  src/Core/src/Handlers/View/ViewHandler.Windows.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Handlers/View/ViewHandler.iOS.cs
  src/Core/src/Platform/Android/LayoutViewGroup.cs
  src/Core/src/Platform/Android/WrapperView.cs
  src/Core/src/Platform/Standard/ViewExtensions.cs
  src/Core/src/Platform/Windows/LayoutPanel.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/SearchBarExtensions.cs
  src/Core/src/Platform/iOS/TextFieldExtensions.cs
  src/Core/src/Platform/iOS/TextViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/tests/Benchmarks/Stubs/StubBase.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Android.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Windows.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.iOS.cs
  src/Core/tests/DeviceTests/Handlers/View/ViewHandlerTests.cs
  src/Core/tests/DeviceTests/Services/Dispatching/DispatcherTests.cs
  src/Core/tests/DeviceTests/Stubs/StubBase.cs
  src/Core/tests/UnitTests/Dispatching/DispatcherTests.cs
  src/Core/tests/UnitTests/Layouts/ZIndexTests.cs
  src/Core/tests/UnitTests/TestClasses/ViewStub.cs
Labels: area/controls 🎮

#4967 Remove Controls.Picker.TextTransform binding
  src/Controls/src/Core/DatePicker.cs
  src/Controls/src/Core/Picker.cs
  src/Controls/src/Core/TimePicker.cs
Labels: area/controls 🎮, control-picker

#5035 [Android] Correctly render shadow navigating back
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml
  src/Core/src/Platform/Android/WrapperView.cs
Labels: platform/android 🤖, area/drawing ✏️, high

#5002 [Android] ClipRect in MauiScrollView Draw method
  src/Compatibility/Core/src/Android/Renderers/ScrollViewRenderer.cs
  src/Core/src/Platform/Android/MauiScrollView.cs
Labels: area/layout 🔲, platform/android 🤖, t/housekeeping ♻︎

#5071 Respect UserAppTheme in RequestedTheme
  src/Compatibility/Core/src/Android/AppCompat/FormsAppCompatActivity.cs
  src/Compatibility/Core/src/iOS/Renderers/PageRenderer.cs
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/HandlerImpl/Application.Impl.cs
  src/Controls/tests/Core.UnitTests/AppThemeTests.cs
  src/Essentials/src/AppInfo/AppInfo.ios.tvos.watchos.macos.cs
Labels: t/bug, area/a11y

#5051 Fix Path shapes rendering issues
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/AddRemoveClipGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/AnimateShapeGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/AutoSizeShapesGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/AutoSizeShapesGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ClipCornerRadiusGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ClipCornerRadiusGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ClipGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ClipGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ClipPerformanceGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ClipViewsGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ClipViewsGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/EllipseGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/EllipseGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/LineCapGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/LineCapGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/LineGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/LineGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/LineJoinGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/LineJoinGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PathAspectGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PathAspectGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PathGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PathGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PathLayoutOptionsGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PathLayoutOptionsGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PathTransformStringGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PathTransformStringGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PolygonGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PolygonGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PolylineGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PolylineGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/RectangleGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/RectangleGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ShapeAppThemeGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ShapeAppThemeGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ShapesGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesPage.xaml.cs
  src/Controls/src/Core/Shapes/PathGeometry.cs
  src/Controls/src/Core/Shapes/Shape.cs
  src/Core/src/Graphics/ShapeDrawable.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Android.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Standard.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Windows.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.iOS.cs
Labels: area/drawing ✏️, high

#5092 [Android] Avoid crash if not set the RefreshColor property
  src/Controls/src/Core/HandlerImpl/RefreshView.Impl.cs
Labels: t/bug, platform/android 🤖, fatal, control-refreshview

#3343 CarouselView android handler
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/CarouselViewGalleries/CarouselViewPage.xaml.cs
  src/Controls/src/Core/Handlers/Items/Android/Adapters/CarouselViewAdapter.cs
  src/Controls/src/Core/Handlers/Items/Android/CarouselSpacingItemDecoration.cs
  src/Controls/src/Core/Handlers/Items/Android/CarouselViewLoopManager.cs
  src/Controls/src/Core/Handlers/Items/Android/CarouselViewOnScrollListener.cs
  src/Controls/src/Core/Handlers/Items/Android/IMauiCarouselRecyclerView.cs
  src/Controls/src/Core/Handlers/Items/Android/IMauiRecyclerView.cs
  src/Controls/src/Core/Handlers/Items/Android/MauiCarouselRecyclerView.cs
  src/Controls/src/Core/Handlers/Items/Android/MauiRecyclerView.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Android.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
Labels: area/collectionview 📃

#4991 Fix template build to use correct slashes on all platforms
  src/Templates/src/Microsoft.Maui.Templates.csproj
  src/Templates/src/templates/maui-blazor/.template.config/template.in.json
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-lib/.template.config/template.in.json
  src/Templates/src/templates/maui-lib/MauiLib1.csproj
  src/Templates/src/templates/maui-mobile/.template.config/template.in.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: area/templates 📄

#5059 Add support for configuring WebViewSettings via DI
  src/BlazorWebView/samples/BlazorWinFormsApp/Form1.cs
  src/BlazorWebView/samples/BlazorWpfApp/MainWindow.xaml.cs
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/BlazorWebViewHandler.cs
  src/BlazorWebView/src/Maui/BlazorWebViewRegistrationExtensions.cs
  src/BlazorWebView/src/Maui/MauiBlazorMarkerService.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/BlazorWebViewDeveloperTools.cs
  src/BlazorWebView/src/SharedSource/BlazorWebViewServiceCollectionExtensions.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/WindowsForms/WindowsFormsBlazorMarkerService.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/WpfBlazorMarkerService.cs
  src/BlazorWebView/tests/MauiDeviceTests/Elements/BlazorWebViewTests.cs
  src/Controls/samples/Controls.Sample/Pages/Blazor/BlazorPage.xaml.cs
  src/Controls/samples/Controls.Sample/Startup.cs
  src/Core/src/Hosting/HandlerMauiAppBuilderExtensions.cs
  src/Templates/src/templates/maui-blazor/MauiProgram.cs
Labels: area/blazor 🕸️

#5074 License matches other .NET projects
  LICENSE.txt
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#4922 [Blazor] Align our Blazor Maui template with the Blazor RTM template
  src/Templates/src/templates/maui-blazor/Main.razor
  src/Templates/src/templates/maui-blazor/Pages/Counter.razor
  src/Templates/src/templates/maui-blazor/Shared/MainLayout.razor.css
  src/Templates/src/templates/maui-blazor/Shared/NavMenu.razor.css
  src/Templates/src/templates/maui-blazor/Shared/SurveyPrompt.razor
  src/Templates/src/templates/maui-blazor/wwwroot/css/app.css
  src/Templates/src/templates/maui-blazor/wwwroot/index.html
Labels: area/blazor 🕸️

#5109 Make sure StrokeDashArray property invalidate the Shape.
  src/Controls/src/Core/HandlerImpl/Shape/Shape.Android.cs
  src/Controls/src/Core/HandlerImpl/Shape/Shape.Impl.cs
  src/Controls/src/Core/HandlerImpl/Shape/Shape.Standard.cs
  src/Controls/src/Core/HandlerImpl/Shape/Shape.Windows.cs
  src/Controls/src/Core/HandlerImpl/Shape/Shape.cs
  src/Controls/src/Core/HandlerImpl/Shape/Shape.iOS.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Standard.cs
Labels: area/drawing ✏️

#5125 [loc] Add file to update LocProject.json with template json loc files
  eng/automation/scripts/update-locproject.ps1
  eng/pipelines/common/localization-handoff.yml
Labels: area/localization

#5103 Optimize ConfigureFonts and Logging during startup
  src/Controls/tests/Core.UnitTests/Log.cs
  src/Core/src/Fonts/EmbeddedFontLoader.Windows.cs
  src/Core/src/Fonts/EmbeddedFontLoader.cs
  src/Core/src/Fonts/EmbeddedFontLoader.iOS.cs
  src/Core/src/Fonts/FileSystemEmbeddedFontLoader.cs
  src/Core/src/Fonts/FontManager.Android.cs
  src/Core/src/Fonts/FontManager.Standard.cs
  src/Core/src/Fonts/FontManager.Windows.cs
  src/Core/src/Fonts/FontManager.iOS.cs
  src/Core/src/Fonts/FontRegistrar.cs
  src/Core/src/Hosting/Fonts/FontsMauiAppBuilderExtensions.cs
  src/Core/src/Hosting/MauiAppBuilder.cs
  src/Core/src/Hosting/ServiceProviderExtensions.cs
Labels: area/fonts 🅰️

#5134 Update Bug Report template to add `s/needs-verification` label
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎

#5001 [Android] Update cursor visibility when IsReadOnly Property changes on Entry
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: platform/android 🤖, t/housekeeping ♻︎, area/controls 🎮, control-entry

#5141 FabricBot rule to add area/controls to issues when control-X label is applied
  .github/fabricbot.json
Labels: area/infrastructure 🏗️

#5155 [essentials] minor perf improvement around app actions
  src/Essentials/src/AppActions/AppActions.android.cs
Labels: area/essentials 🍞, area/perf 🏎️

#5133 [Housekeeping] Update the Gallery with more focus samples
  src/Controls/samples/Controls.Sample/Pages/Controls/EditorPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EditorPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml.cs
Labels: t/housekeeping ♻︎, area/controls 🎮, control-entry

#5167 Fix issue invalidating the Clipping Path
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ClipGallery.xaml
  src/Core/src/Platform/Android/WrapperView.cs
  src/Core/src/Platform/WrapperView.cs
Labels: area/drawing ✏️

#5047 DisplayActionSheet later
  src/Controls/samples/Controls.Sample/Pages/Core/AlertsPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/Page.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Windows.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.iOS.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTests.cs
Labels: platform/windows 🪟

#4524 Add Shell to default template
  src/Templates/src/templates/maui-mobile/App.xaml
  src/Templates/src/templates/maui-mobile/App.xaml.cs
  src/Templates/src/templates/maui-mobile/AppShell.xaml
  src/Templates/src/templates/maui-mobile/AppShell.xaml.cs
  src/Templates/src/templates/maui-mobile/MainPage.xaml
Labels: area/templates 📄

#5170 😭 Comment out the unpackaged build 😭
  src/Controls/samples/Controls.Sample.SingleProject/Maui.Controls.Sample.SingleProject.csproj
  src/Controls/samples/Controls.Sample.SingleProject/Properties/launchSettings.json
Labels: area/desktop 🖥️

#5151 Route Shell Modal Navigation through ShellSection
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/tests/Core.UnitTests/ShellModalTests.cs
Labels: area/shell 🐢

#5166 Implement FillRule property in PolygonHandler and PolylineHandler
  src/Compatibility/ControlGallery/src/Core/GalleryPages/ShapesGalleries/PolygonGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/PolygonGallery.xaml
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.Standard.cs
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.cs
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.iOS.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.Standard.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.iOS.cs
  src/Core/src/Graphics/ShapeDrawable.cs
Labels: area/drawing ✏️

#5077 CarouselView fix measure for CarouselView.Loop
  src/Controls/src/Core/Handlers/Items/Android/Adapters/EmptyViewAdapter.cs
  src/Controls/src/Core/Handlers/Items/Android/MauiCarouselRecyclerView.cs
  src/Controls/src/Core/Handlers/Items/Android/SimpleViewHolder.cs
  src/Controls/src/Core/Handlers/Items/Android/SizedItemContentView.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Android.cs
Labels: area/layout 🔲, area/collectionview 📃

#5122 [Windows] Fix Button incorrect VisualStates
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-button

#5152 Fix Visibility of header elements if they have no content
  src/Controls/src/Core/HandlerImpl/Shell.Impl.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/ShellToolbar.cs
  src/Controls/tests/Core.UnitTests/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Core/src/Platform/Windows/MauiToolbar.xaml.cs
  src/Core/src/Platform/Windows/RootNavigationView.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.Windows.cs
Labels: area/shell 🐢

#4829 [X] Simplify OnPlatformExtension
  .nuspec/Microsoft.Maui.Controls.targets
  src/Controls/src/Build.Tasks/XamlCTask.cs
  src/Controls/src/Xaml/Properties/AssemblyInfo.cs
  src/Controls/src/Xaml/SimplifyOnPlatformVisitor.cs
  src/Controls/src/Xaml/XamlNodeVisitor.cs
  src/Controls/tests/Xaml.UnitTests/MockCompiler.cs
  src/Controls/tests/Xaml.UnitTests/OnPlatformOptimization.xaml
  src/Controls/tests/Xaml.UnitTests/OnPlatformOptimization.xaml.cs
Labels: area/Xaml </>

#5113 Fix Shell Title Calculation
  src/Compatibility/Core/src/Handlers/Shell/Android/ShellSectionRenderer.cs
  src/Compatibility/Core/src/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Compatibility/Core/src/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/src/Core/ShellToolbar.cs
  src/Controls/src/Core/Toolbar.cs
  src/Controls/tests/Core.UnitTests/ShellTests.cs
Labels: area/shell 🐢

#5192 [X] Compile CornerRadiusTypeConversion
  src/Controls/src/Build.Tasks/CompiledConverters/CornerRadiusTypeConverter.cs
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
  src/Controls/tests/Xaml.UnitTests/OnPlatformOptimization.xaml
Labels: area/Xaml </>

#5181 [ios] Fix initial date being wrong for datepicker
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
Labels: control-datetimepicker

#5182 [ios] Fix initial time being wrong for TimePicker
  src/Core/src/Handlers/TimePicker/TimePickerHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiTimePicker.cs
Labels: control-datetimepicker

#5212 Fix Blazor Hybrid page reloading
  src/BlazorWebView/src/Maui/Android/WebKitWebViewClient.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
Labels: area/blazor 🕸️

#5215 Lazy Load Shell Flyout and Bottom Tabs
  src/Compatibility/Core/src/Handlers/Shell/Android/ShellFlyoutRecyclerAdapter.cs
  src/Compatibility/Core/src/Handlers/Shell/Android/ShellFlyoutRenderer.cs
  src/Compatibility/Core/src/Handlers/Shell/Android/ShellFlyoutTemplatedContentRenderer.cs
  src/Compatibility/Core/src/Handlers/Shell/Android/ShellItemRenderer.cs
  src/Compatibility/Core/src/Handlers/Shell/Android/ShellRenderer.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: area/shell 🐢

#5223 Expose a Window property on VisualElement
  src/Controls/src/Core/Cells/Cell.cs
  src/Controls/src/Core/Element.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/src/Core/IWindowController.cs
  src/Controls/src/Core/Internals/PropertyPropagationExtensions.cs
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
Labels: area/controls 🎮

#5278 [Windows] Fix default Slider colors
  src/Controls/samples/Controls.Sample/Pages/Controls/SliderPage.xaml
  src/Core/src/Handlers/Slider/SliderHandler.Windows.cs
  src/Core/src/Platform/Windows/SliderExtensions.cs
Labels: area/controls 🎮, control-slider

#3761 [iOS] Update DatePickerHandler and TimePickerHandler
  src/Compatibility/Core/src/iOS/Renderers/DatePickerRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TimePickerRenderer.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.iOS.cs
  src/Core/src/Platform/iOS/DatePickerExtensions.cs
  src/Core/src/Platform/iOS/MauiTimePicker.cs
  src/Core/src/Platform/iOS/TextFieldExtensions.cs
  src/Core/src/Platform/iOS/TimePickerExtensions.cs
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, control-datetimepicker

#5293 Make TitleView work in NavigationPage and Shell on Windows
  src/Controls/docs/Microsoft.Maui.Controls/NavigationPage.xml
  src/Controls/src/Core/NavigationPageToolbar.cs
  src/Core/src/Platform/Windows/MauiToolbar.xaml
Labels: platform/windows 🪟, area/navigation 🧭

#5173 Set the date after the DatePickerDialog is shown
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
Labels: control-datetimepicker

#5262 Don't calculate routes on shell startup and don't setup bottom menu
  src/Controls/samples/Controls.Sample/Pages/Core/ShellGalleries/ShellChromeGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Core/ShellGalleries/ShellChromeGallery.xaml
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellItemRenderer.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/src/Core/Shell/ShellNavigationManager.cs
  src/Controls/src/Core/Shell/ShellNavigationState.cs
  src/Controls/src/Core/Shell/ShellUriHandler.cs
  src/Controls/tests/Core.UnitTests/ShellParameterPassingTests.cs
Labels: area/shell 🐢

#5320 Add readme for FabricBot
  .github/fabricbot_readme.md
Labels: area/infrastructure 🏗️

#5311 Item Template cleanup
  src/Templates/src/templates/maui-contentpage-xaml/NewPage1.xaml
  src/Templates/src/templates/maui-contentview-xaml/NewContent1.xaml
Labels: area/templates 📄

#5224 [Windows] Fixes related with Clipping
  src/Core/src/Graphics/ShapeDrawable.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.Windows.cs
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: platform/windows 🪟, area/drawing ✏️

#5185 Add IWindow.DisplayDensity
  src/Compatibility/ControlGallery/src/WinUI/Compatibility.ControlGallery.WinUI.csproj
  src/Controls/samples/Controls.Sample.SingleProject/Maui.Controls.Sample.SingleProject.csproj
  src/Controls/samples/Controls.Sample.SingleProject/Platforms/Android/MainActivity.cs
  src/Controls/src/Core/DisplayDensityChangedEventArgs.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.cs
  src/Controls/tests/Core.UnitTests/TestClasses/WindowHandlerStub.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Core/IWindow.cs
  src/Core/src/Handlers/ElementHandlerExtensions.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Handlers/Window/WindowHandler.Android.cs
  src/Core/src/Handlers/Window/WindowHandler.Standard.cs
  src/Core/src/Handlers/Window/WindowHandler.Windows.cs
  src/Core/src/Handlers/Window/WindowHandler.cs
  src/Core/src/Handlers/Window/WindowHandler.iOS.cs
  src/Core/src/ImageSources/FontImageSourceService/FontImageSourceService.Windows.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
  src/Core/src/Platform/Android/MauiAppCompatActivity.Lifecycle.cs
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
  src/Core/src/Platform/Windows/WindowExtensions.cs
  src/Core/src/Platform/iOS/WindowExtensions.cs
  src/Core/src/Primitives/DisplayDensityRequest.cs
  src/Core/src/Primitives/RetrievePlatformValueRequest.cs
  src/Core/tests/Benchmarks/Stubs/WindowStub.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/DeviceTests.Android.cs
  src/Core/tests/DeviceTests/DeviceTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Layout/LayoutHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Navigation/NavigationViewHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Navigation/NavigationViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.cs
  src/Core/tests/DeviceTests/MauiContextTests.Android.cs
  src/Core/tests/DeviceTests/Services/ImageSource/FileImageSourceServiceTests.Android.cs
  src/Core/tests/DeviceTests/Services/ImageSource/FontImageSourceServiceTests.Android.cs
  src/Core/tests/DeviceTests/Services/ImageSource/ImageSourceServiceTests.Android.cs
  src/Core/tests/DeviceTests/Services/ImageSource/StreamImageSourceServiceTests.Android.cs
  src/Core/tests/DeviceTests/Services/ImageSource/UriImageSourceServiceTests.Android.cs
  src/Core/tests/DeviceTests/Startup.cs
  src/Core/tests/DeviceTests/Stubs/ContextStub.cs
  src/Core/tests/DeviceTests/Stubs/SolidPaintStub.cs
  src/Core/tests/DeviceTests/Stubs/WindowHandlerProxyStub.cs
  src/Core/tests/DeviceTests/Stubs/WindowStub.cs
  src/Core/tests/DeviceTests/TestBase.Android.cs
  src/Core/tests/DeviceTests/TestBase.Windows.cs
  src/Core/tests/DeviceTests/TestBase.cs
  src/Core/tests/DeviceTests/TestBase.iOS.cs
  src/Core/tests/DeviceTests/TestCategory.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.shared.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.uwp.cs
  src/Essentials/src/Properties/AssemblyInfo.shared.cs
  src/Templates/src/templates/maui-blazor/Platforms/Android/MainActivity.cs
  src/Templates/src/templates/maui-mobile/Platforms/Android/MainActivity.cs
  src/TestUtils/src/DeviceTests.Runners/HeadlessRunner/Android/MauiTestInstrumentation.cs
  src/TestUtils/src/DeviceTests.Runners/TestWindow.cs
Labels: t/enhancement ☀️, p/1, area/desktop 🖥️, Cost:M, Status:InProgress

#5361 [MacCatalyst] Only respond to selectors that we exported in this class
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.Menu.cs
Labels: platform/macOS 🍏, area/single project ☝️

#5367 Update bug report template with Preview 14
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎

#5368 Fix typo in repro.md
  .github/repro.md
Labels: t/housekeeping ♻︎

#5374 Remove hidden Vector2 type
  src/Controls/docs/Microsoft.Maui.Controls.Shapes/Matrix.xml
  src/Controls/docs/Microsoft.Maui.Controls.Shapes/Vector2.xml
  src/Controls/src/Core/Shapes/GeometryHelper.cs
  src/Controls/src/Core/Shapes/Matrix.cs
  src/Controls/src/Core/Shapes/Vector2.cs
Labels: t/housekeeping ♻︎

#5369 [Windows] Fix crash using SearchBar
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/src/Platform/Windows/Styles/MauiAutoSuggestBoxStyle.xaml
Labels: t/bug, platform/windows 🪟, fatal, control-entry

#5377 [Blazor] Fix Win UI deployed app
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
Labels: area/blazor 🕸️

#5373 [Windows] Fix TextColor issues on TimePicler
  src/Core/src/Platform/Windows/TimePickerExtensions.cs
Labels: t/bug, platform/windows 🪟, control-datetimepicker

#5205 RTL FlowDirection fix for Windows
  src/Core/src/Handlers/Layout/LayoutHandler.Windows.cs
  src/Core/src/Handlers/Layout/LayoutHandler.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Layout/LayoutHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Stubs/LayoutStub.cs
  src/Core/tests/DeviceTests/Stubs/StubBase.cs
Labels: area/layout 🔲

#5028 Trimming Clean up
  .editorconfig
  src/Compatibility/Core/src/Android/AndroidAppIndexProvider.cs
  src/Compatibility/Core/src/Android/AppCompat/FormsFragmentPagerAdapter.cs
  src/Compatibility/Core/src/Compatibility.csproj
  src/Compatibility/Core/src/Properties/AssemblyInfo.cs
  src/Compatibility/Core/src/Windows/BootstrapHelper.cs
  src/Controls/src/Core/BindableProperty.cs
  src/Controls/src/Core/Internals/CellExtensions.cs
  src/Controls/src/Core/ItemsView.cs
  src/Controls/src/Core/MultiPage.cs
  src/Controls/src/Core/Platform/Android/MultiPageFragmentStateAdapter.cs
  src/Controls/src/Core/PlatformBindingHelpers.cs
  src/Controls/src/Core/TemplatedItemsList.cs
  src/Controls/src/Core/Xaml/TypeConversionExtensions.cs
  src/Essentials/src/AssemblyInfo/AssemblyInfo.android.cs
  src/Essentials/src/AssemblyInfo/AssemblyInfo.ios.tvos.watchos.macos.cs
  src/Essentials/src/Essentials.csproj
Labels: area/app-size 🤏

#5088 Mark all the Device [Obsolete]
  src/Compatibility/ControlGallery/src/Android/Compatibility.ControlGallery.Android.csproj
  src/Compatibility/ControlGallery/src/Core/Compatibility.ControlGallery.Core.csproj
  src/Compatibility/ControlGallery/src/WinUI/Compatibility.ControlGallery.WinUI.csproj
  src/Compatibility/ControlGallery/src/iOS/Compatibility.ControlGallery.iOS.csproj
  src/Compatibility/ControlGallery/test/Android.UITests/Compatibility.ControlGallery.Android.UITests.csproj
  src/Compatibility/ControlGallery/test/WinUI.UITests/WinUI.UITests.csproj
  src/Compatibility/ControlGallery/test/iOS.UITests/Compatibility.ControlGallery.iOS.UITests.csproj
  src/Compatibility/Core/src/Windows/ButtonRenderer.cs
  src/Compatibility/Core/src/Windows/DatePickerRenderer.cs
  src/Compatibility/Core/src/Windows/EditorRenderer.cs
  src/Compatibility/Core/src/Windows/EntryRenderer.cs
  src/Compatibility/Core/src/Windows/LabelRenderer.cs
  src/Compatibility/Core/src/Windows/PickerRenderer.cs
  src/Compatibility/Core/src/Windows/RadioButtonRenderer.cs
  src/Compatibility/Core/src/Windows/SearchBarRenderer.cs
  src/Compatibility/Core/src/Windows/TimePickerRenderer.cs
  src/Compatibility/Core/tests/Android/CollectionViewTests.cs
  src/Compatibility/Core/tests/Android/CornerRadiusTests.cs
  src/Compatibility/Core/tests/Android/EmbeddingTests.cs
  src/Compatibility/Core/tests/Android/IsEnabledTests.cs
  src/Compatibility/Core/tests/Android/Issues.cs
  src/Compatibility/Core/tests/Android/PlatformTestFixture.cs
  src/Compatibility/Core/tests/Android/ShellTests.cs
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/Compatibility/Android/FontNamedSizeService.cs
  src/Controls/src/Core/Compatibility/Android/ResourcesProvider.cs
  src/Controls/src/Core/Compatibility/Windows/FontNamedSizeService.cs
  src/Controls/src/Core/Compatibility/Windows/WindowsResourcesProvider.cs
  src/Controls/src/Core/Compatibility/iOS/FontNamedSizeService.cs
  src/Controls/src/Core/Compatibility/iOS/ResourcesProvider.cs
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/DeviceStateTrigger.cs
  src/Controls/src/Core/FontSizeConverter.cs
  src/Controls/src/Core/FontTypeConverter.cs
  src/Controls/src/Core/IFontNamedSizeService.cs
  src/Controls/src/Core/ISystemResourcesProvider.cs
  src/Controls/src/Core/LayoutDirectionExtensions.cs
  src/Controls/src/Core/NamedSize.cs
  src/Controls/src/Core/Platform/Windows/Extensions/FontExtensions.cs
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
  src/Controls/tests/Core.UnitTests/MockPlatformServices.cs
Labels: area/migration 🚚

#5131 [Windows] WebView not loading HtmlWebViewSource
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml
Labels: platform/windows 🪟, t/housekeeping ♻︎, area/controls 🎮, control-webview

#5404 [MacCatalyst] Fix usage of pickers on the Mac
  .nuspec/Microsoft.Maui.Controls.MultiTargeting.targets
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
Labels: area/desktop 🖥️, control-picker

#5139 Move `WeakEventManager` to `Core.csproj`
  src/Core/docs/Microsoft.Maui/WeakEventManager.xml
  src/Core/src/WeakEventManager.cs
  src/Core/tests/UnitTests/WeakEventManagerTests.cs
Labels: area/architecture

#5416 [Anndroid] Fix crash using Shadows with CollectionView items
  src/Controls/src/Core/Handlers/Items/Android/ItemContentView.cs
Labels: platform/android 🤖, area/drawing ✏️, fatal

#5424 [android] port bottomtablayout.axml to Java
  src/Controls/samples/Controls.Sample.Droid/Controls.Sample.Droid.csproj
  src/Controls/src/Core/Compatibility/Android/Resources/layout/bottomtablayout.axml
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellItemRenderer.cs
  src/Controls/src/Core/Controls.Core.csproj
  src/Controls/src/Core/Platform/Android/Resource.designer.cs
  src/Core/AndroidNative/maui/build.gradle
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/ViewHelper.java
  src/Core/src/Platform/Android/Resources/values/attr.xml
  src/Core/src/Platform/Android/Resources/values/styles.xml
  src/Core/src/maui.aar
Labels: platform/android 🤖, area/perf 🏎️

#5317 Remove SetupDefaults
  src/Compatibility/Core/src/Android/Renderers/SliderRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/SearchHandlerAppearanceTracker.cs
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
  src/Core/src/Handlers/Button/ButtonHandler.iOS.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Windows.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Handlers/Label/LabelHandler.Android.cs
  src/Core/src/Handlers/Picker/PickerHandler.Android.cs
  src/Core/src/Handlers/Picker/PickerHandler.Windows.cs
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.Windows.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
  src/Core/src/Handlers/Slider/SliderHandler.Android.cs
  src/Core/src/Handlers/Slider/SliderHandler.Windows.cs
  src/Core/src/Handlers/Slider/SliderHandler.iOS.cs
  src/Core/src/Handlers/Switch/SwitchHandler.Android.cs
  src/Core/src/Handlers/Switch/SwitchHandler.Windows.cs
  src/Core/src/Handlers/Switch/SwitchHandler.iOS.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.Android.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.iOS.cs
  src/Core/src/Platform/Android/DatePickerExtensions.cs
  src/Core/src/Platform/Android/DrawableExtensions.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
  src/Core/src/Platform/Android/PickerExtensions.cs
  src/Core/src/Platform/Android/SliderExtensions.cs
  src/Core/src/Platform/Android/SwitchExtensions.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Windows/BrushHelpers.cs
  src/Core/src/Platform/Windows/DatePickerExtensions.cs
  src/Core/src/Platform/Windows/PickerExtensions.cs
  src/Core/src/Platform/Windows/ProgressBarExtensions.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/src/Platform/Windows/SliderExtensions.cs
  src/Core/src/Platform/Windows/SwitchExtensions.cs
  src/Core/src/Platform/iOS/ButtonExtensions.cs
  src/Core/src/Platform/iOS/DatePickerExtensions.cs
  src/Core/src/Platform/iOS/SearchBarExtensions.cs
  src/Core/src/Platform/iOS/SliderExtensions.cs
  src/Core/src/Platform/iOS/SwitchExtensions.cs
  src/Core/src/Platform/iOS/TextFieldExtensions.cs
Labels: t/housekeeping ♻︎

#5461 [Housekeeping] Update Gallery animation samples
  src/Controls/samples/Controls.Sample/Pages/UserInterface/AnimationPage.xaml
  src/Controls/samples/Controls.Sample/Pages/UserInterface/AnimationPage.xaml.cs
Labels: area/animation 🎬, t/housekeeping ♻︎

#5426 [Blazor] Fixes Win UI deployed apps this time for good
  src/BlazorWebView/src/Maui/build/Microsoft.AspNetCore.Components.WebView.Maui.targets
Labels: area/blazor 🕸️

#5477 Fix the layout computation for the SwipeItems
  src/Core/src/Platform/Android/MauiSwipeView.cs
Labels: area/controls 🎮, area/SwipeView

#4914 [Android] Implement pending focus management logic in Handlers
  src/Compatibility/Core/src/Android/AppCompat/CheckBoxRendererBase.cs
  src/Compatibility/Core/src/Android/AppCompat/RadioButtonRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/DatePickerRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/EditorRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/TimePickerRenderer.cs
  src/Controls/samples/Controls.Sample.Sandbox/MauiProgram.cs
  src/Controls/samples/Controls.Sample.Sandbox/Reproduction/App.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Reproduction/App.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Reproduction/AppShell.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Reproduction/AppShell.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Reproduction/MainPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Reproduction/MainPage.xaml.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Android.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/src/Handlers/Picker/PickerHandler.Android.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.Android.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
Labels: platform/android 🤖, area/controls 🎮

#5497 Fix the main page
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml
Labels: t/housekeeping ♻︎

#5493 [android] port maui_toolbar.axml to Java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/ViewHelper.java
  src/Core/src/Handlers/Toolbar/ToolbarHandler.Android.cs
  src/Core/src/Platform/Android/Resource.designer.cs
  src/Core/src/Platform/Android/Resources/Layout/maui_toolbar.axml
  src/Core/src/maui.aar
Labels: area/perf 🏎️

#5501 Picker: use default ComboBox styles on WinUI 3
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml.cs
  src/Core/src/Handlers/Picker/IPickerHandler.cs
  src/Core/src/Handlers/Picker/PickerHandler.Windows.cs
  src/Core/src/Handlers/Picker/PickerHandler.cs
  src/Core/src/Platform/Windows/CheckBoxExtensions.cs
  src/Core/src/Platform/Windows/MauiCombobox.cs
  src/Core/src/Platform/Windows/PickerExtensions.cs
  src/Core/src/Platform/Windows/Styles/MauiComboBoxStyle.xaml
Labels: area/controls 🎮

#5465 [iOS] Fix clipping issues
  src/Core/src/Handlers/View/ViewHandlerOfT.iOS.cs
  src/Core/src/Platform/iOS/WrapperView.cs
Labels: t/bug, area/drawing ✏️, platform/iOS 🍎

#4882 [iOS] Custom implementation in SearchBar IsEnabled property
  src/Compatibility/Core/src/iOS/Renderers/SearchBarRenderer.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
  src/Core/src/Platform/iOS/SearchBarExtensions.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry

#5488 [Android] Reset pressed state if touch event is cancelled
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-button

#5093 Fix issue using LineBreakMode and MaxLines at the same time
  src/Compatibility/Core/src/Android/Extensions/TextViewExtensions.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Windows/TextBlockExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Label/LabelHandlerTests.Android.cs
Labels: t/bug, area/controls 🎮, control-label

#5482 AutoSuggestBox - Use default control templates for WinUI3
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml
  src/Core/src/Handlers/SearchBar/ISearchBarHandler.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Standard.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
  src/Core/src/Platform/Windows/MauiSearchTextBox.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/src/Platform/Windows/Styles/MauiAutoSuggestBoxStyle.xaml
  src/Core/src/Platform/Windows/Styles/Resources.xaml
Labels: platform/windows 🪟, area/controls 🎮, control-entry

#5495 Normalize RTL behavior for layouts
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Core/src/Core/Extensions/IViewExtensions.cs
  src/Core/src/Handlers/Layout/LayoutHandler.Windows.cs
  src/Core/src/Handlers/Layout/LayoutHandler.cs
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/src/Layouts/HorizontalStackLayoutManager.cs
  src/Core/src/Layouts/LayoutExtensions.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
  src/Core/tests/UnitTests/Layouts/HorizontalStackLayoutManagerTests.cs
  src/Essentials/src/AppInfo/AppInfo.netstandard.cs
Labels: area/layout 🔲

#5515 [Android] Fix rendering shadows in element off-screen controls in ScrollView
  src/Core/src/Platform/Android/WrapperView.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️

#5498 Graphics events
  src/Controls/samples/Controls.Sample/Pages/Others/GraphicsViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Others/GraphicsViewPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/GraphicsView.Impl.cs
  src/Core/src/Core/IGraphicsView.cs
  src/Core/src/Graphics/RectangleExtensions.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.Android.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.Windows.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.iOS.cs
  src/Core/src/Handlers/GraphicsView/IGraphicsViewHandler.cs
  src/Core/src/Platform/Android/PlatformTouchGraphicsView.cs
  src/Core/src/Platform/Windows/PlatformTouchGraphicsView.cs
  src/Core/src/Platform/iOS/PlatformTouchGraphicsView.cs
  src/Core/tests/DeviceTests/Stubs/GraphicsViewStub.cs
Labels: area/drawing ✏️

#4860 Fix Android crashing issue
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/HandlerImpl/Application.Impl.cs
  src/Controls/tests/Core.UnitTests/WindowOverlayTests.cs
Labels: platform/android 🤖, area/templates 📄, high

#5539 [Housekeeping] Added sample in the gallery loading a local html file in WebView
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml.cs
  src/Controls/samples/Controls.Sample/Resources/Raw/index.html
  src/Core/src/Platform/Windows/MauiWebView.cs
Labels: t/bug, platform/windows 🪟, t/housekeeping ♻︎, control-webview

#5548 Graphics hover events to the Graphics View
  src/Controls/samples/Controls.Sample/Pages/Others/GraphicsViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Others/GraphicsViewPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/GraphicsView.Impl.cs
  src/Core/src/Core/IGraphicsView.cs
  src/Core/src/Platform/Android/PlatformTouchGraphicsView.cs
  src/Core/src/Platform/Windows/PlatformTouchGraphicsView.cs
  src/Core/src/Platform/iOS/PlatformTouchGraphicsView.cs
  src/Core/tests/DeviceTests/Stubs/GraphicsViewStub.cs
Labels: area/drawing ✏️

#5225 Fix Shapes Aspect property
  src/Controls/src/Core/Shapes/Shape.cs
  src/Core/src/Platform/Android/MauiShapeView.cs
Labels: area/drawing ✏️

#5540 Revert unnecessary changes in Android ScrollView (impact in perf)
  src/Core/src/Platform/Android/MauiScrollView.cs
Labels: t/housekeeping ♻︎, area/perf 🏎️

#5553 RadioButton - Use default control templates for WinUI3
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/ContentProperties.xaml
  src/Core/src/Handlers/RadioButton/IRadioButtonHandler.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Standard.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Windows.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.cs
  src/Core/src/Platform/Windows/MauiRadioButton.cs
  src/Core/src/Platform/Windows/RadioButtonExtensions.cs
  src/Core/src/Platform/Windows/Styles/MauiRadioButtonStyle.xaml
  src/Core/src/Platform/Windows/Styles/Resources.xaml
Labels: platform/windows 🪟, area/desktop 🖥️, control-radiobutton

#5555 Update the Windows path so we null check like UWP
  src/Essentials/src/MainThread/MainThread.uwp.cs
Labels: area/essentials 🍞

#5463 [Housekeeping] Updated Gallery to verify Slider Maximum value can be updated
  src/Controls/samples/Controls.Sample/Pages/Controls/SliderPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SliderPage.xaml.cs
Labels: platform/iOS 🍎, t/housekeeping ♻︎, area/controls 🎮

#5569 [ci] Don't need to sign on full release
  eng/pipelines/handlers.yml
Labels: area/infrastructure 🏗️

#5570 [ci] Sign new font on the template
  eng/automation/SignList.xml
Labels: area/infrastructure 🏗️

#5579 Fix _omnisharp.sln
  _omnisharp.sln
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#4664 Implement LineBreakMode property in ButtonHandler
  src/Compatibility/Core/src/Android/ButtonLayoutManager.cs
  src/Compatibility/Core/src/Windows/ButtonRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/ButtonLayoutManager.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml.cs
  src/Core/src/Core/ILabel.cs
  src/Core/src/Core/ILineBreakMode.cs
  src/Core/src/Core/ITextButton.cs
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
  src/Core/src/Handlers/Button/ButtonHandler.Standard.cs
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
  src/Core/src/Handlers/Button/ButtonHandler.cs
  src/Core/src/Handlers/Button/ButtonHandler.iOS.cs
  src/Core/src/Platform/Android/ButtonExtensions.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/Windows/TextBlockExtensions.cs
  src/Core/src/Platform/iOS/ButtonExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/ButtonStub.cs
  src/Core/tests/UnitTests/TestClasses/ButtonStub.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
Labels: area/controls 🎮, control-button

#5566 #2948 Fixed ios modalpage dissmiss exception
  src/Controls/src/Core/HandlerImpl/Window/Window.Android.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
Labels: area/navigation 🧭

#5578 Fix DispatcherTimer IsRuning=false during Tick
  src/Core/src/Dispatching/Dispatcher.Android.cs
  src/Core/src/Dispatching/Dispatcher.Windows.cs
  src/Core/src/Dispatching/Dispatcher.iOS.cs
  src/Core/tests/DeviceTests/Services/Dispatching/DispatcherTests.cs
Labels: platform/windows 🪟, area/dispatching

#5510 Ported pending fixes from Xamarin.Forms
  src/Compatibility/Core/src/Android/CollectionView/ItemContentView.cs
  src/Compatibility/Core/src/Android/Renderers/ListViewAdapter.cs
  src/Compatibility/Core/src/Android/VisualElementTracker.cs
  src/Compatibility/Core/src/Windows/CellControl.cs
  src/Compatibility/Core/src/Windows/FontImageSourceHandler.cs
  src/Compatibility/Core/src/iOS/CollectionView/ItemsViewController.cs
  src/Compatibility/Core/src/iOS/CollectionView/ObservableItemsSource.cs
  src/Compatibility/Core/src/iOS/CollectionView/TemplatedCell.cs
  src/Compatibility/Core/src/iOS/Renderers/ImageAnimationHelper.cs
  src/Compatibility/Core/src/iOS/Renderers/ListViewRenderer.cs
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ListViewAdapter.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ListViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Windows/CellControl.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ListViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellContentFragment.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/TemplatedCell.cs
  src/Controls/src/Core/ListView.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
  src/Core/src/Platform/Android/TransformationExtensions.cs
Labels: t/housekeeping ♻︎

#5591 Avoid reconstructing handler when it is already available
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Android.cs
Labels: do-not-merge

#5306 If needed, put WebView2 user data dir under LocalApplicationData. Fixes #4151
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
Labels: area/blazor 🕸️

#5609 Update README.md
  README.md
Labels: t/housekeeping ♻︎

#5607 [Android] Fix Opacity property in Image
  src/Controls/samples/Controls.Sample/Pages/Controls/ImagePage.xaml
  src/Core/src/Handlers/Image/ImageHandler.Android.cs
Labels: t/bug, platform/android 🤖, area/image :framed_picture:

#5552 Update MAUI Graphics
  eng/Version.Details.xml
  eng/Versions.props
  src/Controls/src/Core/HandlerImpl/Brush.Impl.cs
  src/Core/src/Graphics/PaintExtensions.Windows.cs
  src/Core/src/Graphics/PaintExtensions.iOS.cs
  src/Core/src/Platform/Windows/GraphicsExtensions.cs
Labels: area/drawing ✏️, area/infrastructure 🏗️

#4665 Implement Padding property in ImageButtonHandler
  src/Compatibility/Core/src/Android/AppCompat/ImageButtonRenderer.cs
  src/Compatibility/Core/src/Windows/ImageButtonRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/ImageButtonRenderer.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Android.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Standard.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Windows.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.iOS.cs
  src/Core/src/Platform/Android/ImageButtonExtensions.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.iOS.cs
Labels: area/controls 🎮, control-button

#5338 [X] Compile FontSizeConverter
  src/Controls/src/Build.Tasks/CompiledConverters/FontSizeTypeConverter.cs
  src/Controls/src/Core/FontSizeConverter.cs
  src/Controls/tests/Xaml.UnitTests/FontSize.xaml
  src/Controls/tests/Xaml.UnitTests/FontSize.xaml.cs
Labels: area/Xaml </>, area/perf 🏎️

#5525 Update MacOS Repo Setup Instructions
  .github/DEVELOPMENT.md
Labels: area/setup 🪄

#5620 Reduce the insertion stage timeout to 1 min
  eng/pipelines/common/insertion.yml
  eng/pipelines/maui-release.yml
Labels: area/infrastructure 🏗️

#5560 Update global.json to use `6.0.300-preview`
  global.json
Labels: area/setup 🪄

#5588 [android] update to the latest AndroidX packages
  eng/AndroidX.targets
  src/Core/src/Platform/Android/Navigation/StackNavigationManager.cs
  src/Core/tests/DeviceTests/Handlers/Navigation/NavigationViewHandlerTests.Android.cs
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Sdk.After.targets
Labels: platform/android 🤖

#5631 Correctly set the StrokeDashOffset property to Shapes
  src/Core/src/Graphics/ShapeDrawable.cs
Labels: t/bug, area/drawing ✏️

#5656 Optimize Element.OnPropertyChanged
  src/Controls/src/Core/Element.cs
  src/Core/tests/Benchmarks/Benchmarks/ElementBenchmarker.cs
Labels: area/perf 🏎️

#5589 Clip image to ImageView bounds when using CenterCrop (AspectFill)
  src/Core/src/Handlers/Image/ImageHandler.Android.cs
Labels: t/bug, area/layout 🔲, control-image

#5647 Add the Windows App SDK to the packs
  eng/Versions.props
  eng/cake/dotnet.cake
  eng/pipelines/common/pack.yml
  eng/pipelines/common/sdk-insertion.yml
  eng/pipelines/common/sign.yml
  eng/pipelines/maui-release.yml
  src/Workload/Microsoft.NET.Sdk.Maui/Microsoft.NET.Sdk.Maui.csproj
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.json
Labels: platform/windows 🪟, area/infrastructure 🏗️

#5313 Improved non-HTTP(S) link handling behavior
  Microsoft.Maui.sln
  src/BlazorWebView/src/Maui/Android/BlazorWebChromeClient.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/Android/WebKitWebViewClient.cs
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/BlazorWebViewHandler.cs
  src/BlazorWebView/src/Maui/IBlazorWebView.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/ExternalLinkNavigationEventArgs.cs
  src/BlazorWebView/src/SharedSource/ExternalLinkNavigationPolicy.cs
  src/BlazorWebView/src/SharedSource/UrlLoadingEventArgs.cs
  src/BlazorWebView/src/SharedSource/UrlLoadingStrategy.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
Labels: area/blazor 🕸️

#5462 [iOS/MacCatalyst] Fix SearchBar TextChanged event not working issue
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, control-entry

#5640 Optimize BindableProperty
  src/Controls/src/Core/BindableProperty.cs
  src/Controls/src/Xaml/ApplyPropertiesVisitor.cs
Labels: area/perf 🏎️

#5682 [android] add more methods to the AOT profile
  .nuspec/maui-blazor.aotprofile
  .nuspec/maui-blazor.aotprofile.txt
  .nuspec/maui.aotprofile
  .nuspec/maui.aotprofile.txt
  src/ProfiledAot/src/CommonMethods.cs
  src/ProfiledAot/src/maui/App.xaml
Labels: area/perf 🏎️

#5655 Optimize TypeConversionExtensions.ConvertTo
  src/Controls/src/Core/Xaml/TypeConversionExtensions.cs
  src/Core/tests/Benchmarks/Benchmarks/TypeConversionBenchmarker.cs
  src/Core/tests/Benchmarks/Core.Benchmarks.csproj
Labels: area/perf 🏎️
