Repository dotnet/maui, pull requests merged in 2022-02, with the labels that each got.

#4281 Shell page dependency injection now uses IServiceProvider.GetService()
  src/Controls/src/Core/Routing.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/tests/Core.UnitTests/ShellNavigatingTests.cs
  src/Controls/tests/Core.UnitTests/ShellTestBase.cs
Labels: area/shell 🐢

#4333 Move Xaml.VisualDiagnostics to Maui.Core
  src/Controls/docs/Microsoft.Maui.Controls.Xaml.Diagnostics/XamlSourceInfo.xml
  src/Controls/src/Build.Tasks/CreateObjectVisitor.cs
  src/Controls/src/Core/Xaml/Diagnostics/BindingDiagnostics.cs
  src/Controls/src/Core/Xaml/Diagnostics/BindingErrorEventArgs.cs
  src/Controls/src/Core/Xaml/Diagnostics/VisualDiagnostics.cs
  src/Controls/src/Core/Xaml/Diagnostics/VisualTreeChangeEventArgs.cs
  src/Controls/src/Core/Xaml/Diagnostics/XamlSourceInfo.cs
  src/Controls/src/Xaml/CreateValuesVisitor.cs
  src/Controls/src/Xaml/Properties/AssemblyInfo.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh10803.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh11334.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh11335.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui2418.xaml.cs
  src/Core/docs/Microsoft.Maui/VisualDiagnostics.xml
  src/Core/docs/Microsoft.Maui/VisualTreeChangeEventArgs.xml
  src/Core/docs/Microsoft.Maui/VisualTreeChangeType.xml
  src/Core/src/Properties/AssemblyInfo.cs
  src/Core/src/VisualDiagnostics/DebuggerHelper.cs
  src/Core/src/VisualDiagnostics/SourceInfo.cs
  src/Core/src/VisualDiagnostics/VisualDiagnostics.cs
  src/Core/src/VisualDiagnostics/VisualTreeChangeEventArgs.cs
  src/Core/src/VisualDiagnostics/VisualTreeChangeType.cs
Labels: partner/ui-tools

#2763 Essentials: Port xamarin/Essentials#1760
  src/Essentials/docs/en/FrameworksIndex/xamarin-essentials-android.xml
  src/Essentials/docs/en/FrameworksIndex/xamarin-essentials-ios.xml
  src/Essentials/docs/en/FrameworksIndex/xamarin-essentials-macos.xml
  src/Essentials/docs/en/FrameworksIndex/xamarin-essentials-tvos.xml
  src/Essentials/docs/en/FrameworksIndex/xamarin-essentials-uwp.xml
  src/Essentials/docs/en/FrameworksIndex/xamarin-essentials-watchos.xml
  src/Essentials/docs/en/FrameworksIndex/xamarin-essentials.xml
  src/Essentials/docs/en/Xamarin.Essentials/PermissionStatus.xml
  src/Essentials/docs/en/Xamarin.Essentials/Permissions+PhotosAddOnly.xml
  src/Essentials/docs/en/index.xml
  src/Essentials/samples/Samples/Platforms/Mac/Info.plist
  src/Essentials/samples/Samples/Platforms/iOS/Info.plist
  src/Essentials/samples/Samples/View/MediaPickerPage.xaml
  src/Essentials/samples/Samples/View/PermissionsPage.xaml
  src/Essentials/samples/Samples/ViewModel/PermissionsViewModel.cs
  src/Essentials/src/Permissions/Permissions.android.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.macos.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.watchos.cs
  src/Essentials/src/Permissions/Permissions.macos.cs
  src/Essentials/src/Permissions/Permissions.netstandard.cs
  src/Essentials/src/Permissions/Permissions.shared.cs
  src/Essentials/src/Permissions/Permissions.shared.enums.cs
  src/Essentials/src/Platform/Platform.macos.cs
Labels: area/essentials 🍞, community ✨

#4464 Refactor AppInfo into interface
  src/Essentials/src/AppInfo/AppInfo.android.cs
  src/Essentials/src/AppInfo/AppInfo.ios.tvos.watchos.macos.cs
  src/Essentials/src/AppInfo/AppInfo.netstandard.cs
  src/Essentials/src/AppInfo/AppInfo.shared.cs
  src/Essentials/src/AppInfo/AppInfo.tizen.cs
  src/Essentials/src/AppInfo/AppInfo.uwp.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
Labels: area/essentials 🍞

#4466 Refactor PhoneDialer into interface
  src/Essentials/src/PhoneDialer/PhoneDialer.android.cs
  src/Essentials/src/PhoneDialer/PhoneDialer.ios.cs
  src/Essentials/src/PhoneDialer/PhoneDialer.macos.cs
  src/Essentials/src/PhoneDialer/PhoneDialer.netstandard.tvos.watchos.cs
  src/Essentials/src/PhoneDialer/PhoneDialer.shared.cs
  src/Essentials/src/PhoneDialer/PhoneDialer.tizen.cs
  src/Essentials/src/PhoneDialer/PhoneDialer.uwp.cs
Labels: area/essentials 🍞

#4512 [build] don't edit global.json during the build
  eng/package.ps1
Labels: area/infrastructure 🏗️

#4479 Remove `IPlatformInvalidate` and `Device.Invalidate()`
  src/Compatibility/Core/src/Android/Forms.cs
  src/Compatibility/Core/src/Android/PlatformInvalidate.cs
  src/Compatibility/Core/src/AppHostBuilderExtensions.cs
  src/Compatibility/Core/src/Windows/Forms.cs
  src/Compatibility/Core/src/Windows/PlatformInvalidate.cs
  src/Compatibility/Core/src/Windows/WindowsPlatformServices.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Compatibility/Core/src/iOS/PlatformInvalidate.cs
  src/Controls/docs/Microsoft.Maui.Controls/Device.xml
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/IPlatformInvalidate.cs
  src/Controls/src/Core/VisualElement.cs
Labels: area/migration 🚚

#4501 Shell WinUI Handler
  src/Compatibility/Core/src/Windows/CellControl.cs
  src/Compatibility/Core/src/Windows/FrameworkElementExtensions.cs
  src/Controls/samples/Controls.Sample/Pages/AppShell.xaml
  src/Controls/samples/Controls.Sample/Pages/AppShell.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/NavigationGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/ShellGalleries/ShellChromeGallery.cs
  src/Controls/src/Core/HandlerImpl/NavigationPage/NavigationPage.Impl.cs
  src/Controls/src/Core/HandlerImpl/Page.Impl.cs
  src/Controls/src/Core/HandlerImpl/Shell.Impl.cs
  src/Controls/src/Core/HandlerImpl/ShellSection.Impl.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Windows.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.cs
  src/Controls/src/Core/Handlers/Shell/ShellContentHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellHandler.cs
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellSectionHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellFlyoutItemView.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellFooterView.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellHeaderView.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellItemView.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellPageWrapper.xaml.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellSectionView.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellSplitView.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellView.cs
  src/Controls/src/Core/Handlers/TabbedPage/TabbedPageHandler.Windows.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/NavigationPage.cs
  src/Controls/src/Core/NavigationPageToolbar.cs
  src/Controls/src/Core/Platform/Windows/Styles/Resources.xaml
  src/Controls/src/Core/Platform/Windows/Styles/ShellPageWrapper.xaml
  src/Controls/src/Core/Platform/Windows/Styles/ShellStyles.xaml
  src/Controls/src/Core/Platform/Windows/TabbedPage/TabbedPageStyle.xaml
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellNavigationManager.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/src/Core/ShellToolbar.cs
  src/Controls/src/Core/Toolbar.cs
  src/Controls/tests/Core.UnitTests/TestClasses/TestNavigationPage.cs
  src/Core/src/Core/IStackNavigation.cs
  src/Core/src/Core/IStackNavigationView.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.Windows.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.Android.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.Standard.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.Windows.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.iOS.cs
  src/Core/src/Handlers/Toolbar/ToolbarHandler.Windows.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Platform/Android/Navigation/StackNavigationManager.cs
  src/Core/src/Platform/Windows/MauiNavigationView.cs
  src/Core/src/Platform/Windows/NavigationViewExtensions.cs
  src/Core/src/Platform/Windows/NavigationViewItemViewModel.cs
  src/Core/src/Platform/Windows/RootNavigationView.cs
  src/Core/src/Platform/Windows/StackNavigationManager.cs
  src/Core/tests/DeviceTests/Handlers/Navigation/NavigationViewHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Navigation/NavigationViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Stubs/NavigationViewStub.cs
Labels: area/shell 🐢

#4507 EvaluateJavaScriptAsync with CommandMapper (Version 2)
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml.cs
  src/Controls/src/Core/WebView.cs
  src/Core/src/Core/IWebView.cs
  src/Core/src/Handlers/ElementHandlerExtensions.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Standard.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
  src/Core/src/Handlers/WebView/WebViewHandler.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
  src/Core/src/Platform/Android/WebViewExtensions.cs
  src/Core/src/Platform/Windows/WebViewExtensions.cs
  src/Core/src/Platform/iOS/WebViewExtensions.cs
  src/Core/src/Primitives/EvaluateJavaScriptAsyncCommand.cs
  src/Core/src/TaskExtensions.cs
  src/Core/tests/DeviceTests/Stubs/WebView.cs
Labels: area/controls 🎮

#4495 [templates] add xml encoding directive
  src/Templates/src/templates/maui-mobile/App.xaml
  src/Templates/src/templates/maui-mobile/MainPage.xaml
Labels: area/templates 📄

#4465 Refactor DeviceInfo to use an interface
  src/Essentials/src/DeviceDisplay/DeviceDisplay.android.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.ios.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.macos.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.netstandard.tvos.watchos.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.shared.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.tizen.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.uwp.cs
  src/Essentials/src/DeviceInfo/DeviceInfo.android.cs
  src/Essentials/src/DeviceInfo/DeviceInfo.ios.tvos.watchos.cs
  src/Essentials/src/DeviceInfo/DeviceInfo.macos.cs
  src/Essentials/src/DeviceInfo/DeviceInfo.netstandard.cs
  src/Essentials/src/DeviceInfo/DeviceInfo.shared.cs
  src/Essentials/src/DeviceInfo/DeviceInfo.tizen.cs
  src/Essentials/src/DeviceInfo/DeviceInfo.uwp.cs
Labels: area/essentials 🍞

#4505 Remove MS.Extensions.Hosting from Maui
  eng/Microsoft.Extensions.targets
  src/Compatibility/Core/src/AppHostBuilderExtensions.cs
  src/Compatibility/Core/src/Compatibility.csproj
  src/Controls/samples/Controls.Sample/Controls/BordelessEntry/BordelessEntryServiceBuilder.cs
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml.cs
  src/Controls/src/Core/Controls.Core.csproj
  src/Controls/tests/Core.UnitTests/Controls.Core.UnitTests.csproj
  src/Controls/tests/Core.UnitTests/HostBuilderAppTests.cs
  src/Core/src/Core.csproj
  src/Core/src/Hosting/EssentialsMauiAppBuilderExtensions.cs
  src/Core/src/Hosting/Internal/BootstrapHostBuilder.cs
  src/Core/src/Hosting/Internal/ConfigurationProviderSource.cs
  src/Core/src/Hosting/Internal/ConfigureContainerAdapter.cs
  src/Core/src/Hosting/Internal/ConfigureHostBuilder.cs
  src/Core/src/Hosting/Internal/FallbackLogging.Debug.cs
  src/Core/src/Hosting/Internal/FallbackLogging.cs
  src/Core/src/Hosting/Internal/HostingLoggerExtensions.cs
  src/Core/src/Hosting/Internal/IConfigureContainerAdapter.cs
  src/Core/src/Hosting/Internal/IServiceFactoryAdapter.cs
  src/Core/src/Hosting/Internal/MauiServiceProviderFactory.cs
  src/Core/src/Hosting/Internal/ServiceFactoryAdapter.cs
  src/Core/src/Hosting/Internal/TrackingChainedConfigurationSource.cs
  src/Core/src/Hosting/MauiApp.cs
  src/Core/src/Hosting/MauiAppBuilder.cs
  src/Core/src/Hosting/ServiceProviderExtensions.cs
  src/Core/tests/UnitTests/Core.UnitTests.csproj
  src/Core/tests/UnitTests/Hosting/HostBuilderAppConfigurationTests.cs
  src/Core/tests/UnitTests/Hosting/HostBuilderConfigureContainerTests.cs
  src/Core/tests/UnitTests/Hosting/HostBuilderLoggingTests.cs
  src/Core/tests/UnitTests/Hosting/HostBuilderServiceBuilderTests.cs
  src/Workload/Microsoft.Maui.Extensions/Microsoft.Maui.Extensions.csproj
Labels: area/hosting 🧩

#4372 [Housekeeping] Add pending events in iOS DatePickerHandler and TimePickerHandler
  src/Compatibility/Core/src/iOS/Renderers/DatePickerRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TimePickerRenderer.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.iOS.cs
Labels: platform/iOS 🍎, t/housekeeping ♻︎

#4548 Make Device.Idiom and Device.RuntimePlatform use Essentials
  Microsoft.Maui.sln
  eng/cake/dotnet.cake
  src/Compatibility/Core/src/Android/Forms.cs
  src/Compatibility/Core/src/GTK/Forms.cs
  src/Compatibility/Core/src/GTK/GtkPlatformServices.cs
  src/Compatibility/Core/src/Tizen/Forms.cs
  src/Compatibility/Core/src/Tizen/TizenPlatformServices.cs
  src/Compatibility/Core/src/WPF/Forms.cs
  src/Compatibility/Core/src/WPF/WPFPlatformServices.cs
  src/Compatibility/Core/src/Windows/Forms.cs
  src/Compatibility/Core/src/Windows/WindowsPlatformServices.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Controls/DualScreen/test/MockPlatformServices.cs
  src/Controls/docs/Microsoft.Maui.Controls/Device.xml
  src/Controls/samples/Controls.Sample.Tests/Controls.Sample.Tests.csproj
  src/Controls/samples/Controls.Sample.Tests/MauiTests.cs
  src/Controls/samples/Controls.Sample.Tests/MockPlatformServices.cs
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/IPlatformServices.cs
  src/Controls/tests/Core.UnitTests/AbsoluteLayoutTests.cs
  src/Controls/tests/Core.UnitTests/BaseTestFixture.cs
  src/Controls/tests/Core.UnitTests/CarouselViewTests.cs
  src/Controls/tests/Core.UnitTests/DataTemplateSelectorTests.cs
  src/Controls/tests/Core.UnitTests/FlyoutPageUnitTests.cs
  src/Controls/tests/Core.UnitTests/ItemsViewTests.cs
  src/Controls/tests/Core.UnitTests/ListViewTests.cs
  src/Controls/tests/Core.UnitTests/MockDeviceDisplay.cs
  src/Controls/tests/Core.UnitTests/MockPlatformServices.cs
  src/Controls/tests/Core.UnitTests/RefreshViewTests.cs
  src/Controls/tests/Core.UnitTests/ShadowTests.cs
  src/Controls/tests/Core.UnitTests/ViewUnitTests.cs
  src/Controls/tests/Core.UnitTests/VisualTests.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz44213.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz45891.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz55343.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz58922.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz59818.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh3862.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh4319.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh7156.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Issue1545.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Issue1594.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Pr3384.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Unreported007.xaml.cs
  src/Controls/tests/Xaml.UnitTests/MarkupExpressionParserTests.cs
  src/Controls/tests/Xaml.UnitTests/NativeViewsAndBindings.xaml.cs
  src/Controls/tests/Xaml.UnitTests/OnPlatform.xaml.cs
  src/Controls/tests/Xaml.UnitTests/OnPlatformTests.cs
Labels: area/controls 🎮

#4557 Refactored Map to an interface
  src/Essentials/src/Map/Map.android.cs
  src/Essentials/src/Map/Map.ios.watchos.macos.cs
  src/Essentials/src/Map/Map.netstandard.tvos.cs
  src/Essentials/src/Map/Map.shared.cs
  src/Essentials/src/Map/Map.uwp.cs
Labels: area/essentials 🍞

#4558 Allow to create custom layouts using Layout<View>
  src/Compatibility/Core/src/AppHostBuilderExtensions.cs
  src/Controls/samples/Controls.Sample/Pages/Layouts/CustomLayoutPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Layouts/CustomLayoutPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/LayoutsViewModel.cs
Labels: area/layout 🔲, t/housekeeping ♻︎

#4583 Remove all GetAssemblies() implementations
  src/Compatibility/ControlGallery/src/Core/Startup.cs
  src/Compatibility/Core/src/Android/Forms.cs
  src/Compatibility/Core/src/GTK/GtkPlatformServices.cs
  src/Compatibility/Core/src/Tizen/TizenPlatformServices.cs
  src/Compatibility/Core/src/WPF/WPFPlatformServices.cs
  src/Compatibility/Core/src/Windows/WindowsPlatformServices.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Controls/DualScreen/test/MockPlatformServices.cs
  src/Controls/docs/Microsoft.Maui.Controls/Device.xml
  src/Controls/src/Core/DependencyService.cs
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/Registrar.cs
  src/Controls/src/Core/Visuals/VisualTypeConverter.cs
Labels: area/migration 🚚

#4547 [ci] Software Bill of Materials (SBOM) support
  eng/pipelines/common/variables.yml
  eng/pipelines/handlers.yml
Labels: t/housekeeping ♻︎

#4625 Run BlazorWebView tests only on Android API level 28+
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
Labels: area/blazor 🕸️

#4570 Moved IPlatformServices.GetNamedSize into a separate service
  src/Compatibility/Core/src/Android/FontNamedSizeService.cs
  src/Compatibility/Core/src/Android/Forms.cs
  src/Compatibility/Core/src/AppHostBuilderExtensions.Android.cs
  src/Compatibility/Core/src/AppHostBuilderExtensions.cs
  src/Compatibility/Core/src/GTK/FontNamedSizeService.cs
  src/Compatibility/Core/src/GTK/GtkPlatformServices.cs
  src/Compatibility/Core/src/Tizen/FontNamedSizeService.cs
  src/Compatibility/Core/src/Tizen/TizenPlatformServices.cs
  src/Compatibility/Core/src/WPF/FontNamedSizeService.cs
  src/Compatibility/Core/src/WPF/WPFPlatformServices.cs
  src/Compatibility/Core/src/Windows/FontNamedSizeService.cs
  src/Compatibility/Core/src/Windows/WindowsPlatformServices.cs
  src/Compatibility/Core/src/iOS/FontNamedSizeService.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/IFontNamedSizeService.cs
  src/Controls/src/Core/IPlatformServices.cs
  src/Controls/tests/Core.UnitTests/MockPlatformServices.cs
Labels: area/migration 🚚

#4626 [Android] Implement RadioButton Border properties
  src/Compatibility/ControlGallery/src/Core/GalleryPages/RadioButtonGalleries/RadioButtonBorder.xaml
  src/Compatibility/ControlGallery/src/Core/GalleryPages/RadioButtonGalleries/RadioButtonBorder.xaml.cs
  src/Compatibility/ControlGallery/src/Core/GalleryPages/RadioButtonGalleries/RadioButtonGalleries.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonBorder.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonBorder.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGalleries.cs
  src/Controls/samples/Controls.Sample/ViewModels/ControlsViewModel.cs
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.Impl.cs
  src/Core/src/Core/IRadioButton.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Android.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Standard.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Windows.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.iOS.cs
  src/Core/src/Platform/Android/BorderDrawable.cs
  src/Core/src/Platform/Android/RadioButtonExtensions.cs
  src/Core/tests/DeviceTests/Stubs/RadioButtonStub.cs
Labels: platform/android 🤖, area/controls 🎮, control-radiobutton

#4639 [WinUI] Fix Flyout Background Color and Locked Flyout Margins
  src/Controls/src/Core/Handlers/Shell/ShellHandler.Windows.cs
  src/Controls/src/Core/Platform/Android/Shell/ShellFlyoutTemplatedContentView.cs
  src/Controls/src/Core/Platform/Android/Shell/ShellView.cs
  src/Controls/src/Core/ToolbarTracker.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Platform/Android/Navigation/StackNavigationManager.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Windows/FrameworkElementExtensions.cs
  src/Core/src/Platform/Windows/MauiNavigationView.cs
  src/Core/src/Platform/Windows/NavigationRootManager.cs
  src/Core/src/Platform/Windows/RootNavigationView.cs
  src/TestUtils/src/DeviceTests.Runners.SourceGen/RunnerGenerator.cs
Labels: platform/windows 🪟, area/shell 🐢

#4661 product name / terminology corrections
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/RegistrarValidationService.cs
  src/Compatibility/Core/src/GTK/Renderers/OpenGLViewRenderer.cs
  src/Compatibility/Core/src/GTK/Renderers/WebViewRenderer.cs
  src/Compatibility/Core/src/MacOS/Controls/FormsNSSlider.cs
  src/Compatibility/Core/src/MacOS/Controls/MacOSOpenGLView.cs
  src/Compatibility/Core/src/MacOS/PlatformNavigation.cs
  src/Compatibility/Core/src/MacOS/Renderers/LayoutRenderer.cs
  src/Compatibility/Core/src/WPF/Microsoft.Windows.Shell/WindowChromeWorker.cs
  src/Core/src/Fonts/FontRegistrar.iOS.cs
Labels: t/housekeeping ♻︎

#4620 [ci] Provisionator channel as a parameter on the pipeline
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/common/provision.yml
  eng/pipelines/device-tests.yml
  eng/pipelines/handlers.yml
Labels: area/infrastructure 🏗️

#4347 [iOS] Add pending events in EntryHandler
  src/Compatibility/Core/src/iOS/Renderers/EntryRenderer.cs
  src/Core/src/Handlers/Entry/EntryHandler.iOS.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry

#4200 [Windows] CarouselViewHandler
  src/Compatibility/ControlGallery/src/Core/GalleryPages/CollectionViewGalleries/CarouselViewGalleries/ExampleTemplateCarousel.xaml
  src/Compatibility/Core/src/Windows/CollectionView/CarouselViewRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselCodeGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselItemsGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselSnapGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselViewGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselXamlGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselXamlGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CollectionCarouselViewGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/EmptyCarouselGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/EmptyCarouselGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/ExampleTemplateCarousel.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/ExampleTemplateCarousel.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/IndicatorCodeGallery.cs
  src/Controls/samples/Controls.Sample/ViewModels/CompatibilityViewModel.cs
  src/Controls/samples/Controls.Sample/ViewModels/ControlsViewModel.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Android.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Standard.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Windows.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.iOS.cs
  src/Controls/src/Core/Handlers/Items/iOS/CarouselViewController.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/LoopableCollectionView.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/ScrollHelpers.cs
Labels: platform/windows 🪟, area/collectionview 📃

#4636 Fix cell parenting when using Retain Caching
  src/Compatibility/Core/src/Handlers/ListView/Android/ListViewAdapter.cs
  src/Compatibility/Core/src/Handlers/ListView/Android/ListViewRenderer.cs
Labels: area/ListView

#3391 [Core] Implement IsReadOnly property in SearchBar
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
  src/Core/src/Platform/Android/SearchViewExtensions.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/src/Platform/iOS/SearchBarExtensions.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.iOS.cs
Labels: area/controls 🎮, control-entry

#4687 [X] use compiled converter for Color
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
Labels: area/Xaml </>

#4677 [Android] Fix the math for GenerateAdornerOffset
  src/Core/src/VisualDiagnostics/VisualDiagnosticsOverlay.Android.cs
Labels: partner/ui-tools

#4678 Add ExecutionPolicy and NoProfile to powershell command
  src/DotNet/DotNet.csproj
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#4635 [iOS] Replace UIDevice.CheckSystemVersion checks
  src/Compatibility/Core/src/Handlers/ListView/iOS/CellRenderer.cs
  src/Compatibility/Core/src/Handlers/ListView/iOS/ContextActionCell.cs
  src/Compatibility/Core/src/Handlers/ListView/iOS/ContextScrollViewDelegate.cs
  src/Compatibility/Core/src/iOS/Cells/CellRenderer.cs
  src/Compatibility/Core/src/iOS/ContextActionCell.cs
  src/Compatibility/Core/src/iOS/ContextScrollViewDelegate.cs
  src/Compatibility/Core/src/iOS/Extensions/FlowDirectionExtensions.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Compatibility/Core/src/iOS/Platform.cs
  src/Compatibility/Core/src/iOS/Renderers/ListViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/PickerRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/RefreshViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/SafeShellTabBarAppearanceTracker.cs
  src/Compatibility/Core/src/iOS/Renderers/ShellFlyoutRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/ShellSectionRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TabbedRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TableViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TabletFlyoutPageRenderer.cs
  src/Compatibility/Maps/src/iOS/FormsMaps.cs
  src/Compatibility/Maps/src/iOS/MapRenderer.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
  src/Core/src/Platform/iOS/ElementExtensions.cs
  src/Core/src/Platform/iOS/NativeVersion.cs
  src/Essentials/src/Platform/Platform.ios.tvos.watchos.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
Labels: platform/iOS 🍎

#4515 Implement image caching functionality for iOS
  src/Core/src/ImageSources/UriImageSourceService/UriImageSourceService.iOS.cs
Labels: platform/iOS 🍎, area/image :framed_picture:

#4663 Essentials.MediaPicker refactored to interface and singleton
  src/Essentials/src/MediaPicker/MediaPicker.android.cs
  src/Essentials/src/MediaPicker/MediaPicker.ios.cs
  src/Essentials/src/MediaPicker/MediaPicker.macos.cs
  src/Essentials/src/MediaPicker/MediaPicker.netstandard.watchos.tvos.cs
  src/Essentials/src/MediaPicker/MediaPicker.shared.cs
  src/Essentials/src/MediaPicker/MediaPicker.tizen.cs
  src/Essentials/src/MediaPicker/MediaPicker.uwp.cs
Labels: area/essentials 🍞

#4680 Blazor Windows Open Links in Browser with Configurability
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
Labels: area/blazor 🕸️

#4702 Try enabling FabricBot
  .github/fabricbot.json
Labels: area/infrastructure 🏗️

#4637 [tests] Add Task.Delay to some unreliable tests
  src/Controls/tests/DeviceTests/DispatchingTests.cs
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#4698 Some optimization to speed up device test discovery
  src/TestUtils/src/DeviceTests/xUnitCustomizations.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#4460 Initial work to get unpackaged WinUI apps
  Directory.Build.props
  src/Controls/samples/Controls.Sample.SingleProject/Maui.Controls.Sample.SingleProject.csproj
  src/Controls/samples/Controls.Sample.SingleProject/Properties/launchSettings.json
  src/Controls/samples/Controls.Sample/Startup.cs
  src/Core/src/Fonts/FontRegistrar.Windows.cs
  src/Essentials/src/AppInfo/AppInfo.android.cs
  src/Essentials/src/AppInfo/AppInfo.ios.tvos.watchos.macos.cs
  src/Essentials/src/AppInfo/AppInfo.netstandard.cs
  src/Essentials/src/AppInfo/AppInfo.shared.cs
  src/Essentials/src/AppInfo/AppInfo.tizen.cs
  src/Essentials/src/AppInfo/AppInfo.uwp.cs
  src/Essentials/src/FileSystem/FileSystem.android.cs
  src/Essentials/src/FileSystem/FileSystem.ios.tvos.watchos.macos.cs
  src/Essentials/src/FileSystem/FileSystem.netstandard.cs
  src/Essentials/src/FileSystem/FileSystem.shared.cs
  src/Essentials/src/FileSystem/FileSystem.tizen.cs
  src/Essentials/src/FileSystem/FileSystem.uwp.cs
Labels: area/desktop 🖥️

#4707 [ci] Add retryCountOnTaskFailure
  eng/pipelines/handlers.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#4472 Shapes Handlers
  src/Controls/src/Core/Handlers/Shapes/Line/LineHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/Line/LineHandler.Standard.cs
  src/Controls/src/Core/Handlers/Shapes/Line/LineHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/Line/LineHandler.cs
  src/Controls/src/Core/Handlers/Shapes/Line/LineHandler.iOS.cs
  src/Controls/src/Core/Handlers/Shapes/Path/PathHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/Path/PathHandler.Standard.cs
  src/Controls/src/Core/Handlers/Shapes/Path/PathHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/Path/PathHandler.cs
  src/Controls/src/Core/Handlers/Shapes/Path/PathHandler.iOS.cs
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.Standard.cs
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.cs
  src/Controls/src/Core/Handlers/Shapes/Polygon/PolygonHandler.iOS.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.Standard.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.cs
  src/Controls/src/Core/Handlers/Shapes/Polyline/PolylineHandler.iOS.cs
  src/Controls/src/Core/Handlers/Shapes/Rectangle/RectangleHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/Rectangle/RectangleHandler.Standard.cs
  src/Controls/src/Core/Handlers/Shapes/Rectangle/RectangleHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/Rectangle/RectangleHandler.cs
  src/Controls/src/Core/Handlers/Shapes/Rectangle/RectangleHandler.iOS.cs
  src/Controls/src/Core/Handlers/Shapes/RoundRectangle/RoundRectangleHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/RoundRectangle/RoundRectangleHandler.Standard.cs
  src/Controls/src/Core/Handlers/Shapes/RoundRectangle/RoundRectangleHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/RoundRectangle/RoundRectangleHandler.cs
  src/Controls/src/Core/Handlers/Shapes/RoundRectangle/RoundRectangleHandler.iOS.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
Labels: area/drawing ✏️

#4630 Refactor Accelerometer into an interface
  src/Essentials/src/Accelerometer/Accelerometer.android.cs
  src/Essentials/src/Accelerometer/Accelerometer.ios.watchos.cs
  src/Essentials/src/Accelerometer/Accelerometer.netstandard.tvos.macos.cs
  src/Essentials/src/Accelerometer/Accelerometer.shared.cs
  src/Essentials/src/Accelerometer/Accelerometer.tizen.cs
  src/Essentials/src/Accelerometer/Accelerometer.uwp.cs
  src/Essentials/src/Accelerometer/AccelerometerQueue.shared.cs
  src/Essentials/test/UnitTests/Accelerometer_Tests.cs
Labels: area/essentials 🍞

#4697 Remove storage read from essentials android - file/media picker
  src/Essentials/src/FilePicker/FilePicker.android.cs
  src/Essentials/src/MediaPicker/MediaPicker.android.cs
Labels: area/essentials 🍞

#4718 Update current .NET MAUI version in bug issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎

#4674 Refactor Share to use an interface
  src/Essentials/src/Share/Share.android.cs
  src/Essentials/src/Share/Share.ios.cs
  src/Essentials/src/Share/Share.macos.cs
  src/Essentials/src/Share/Share.netstandard.tvos.watchos.cs
  src/Essentials/src/Share/Share.shared.cs
  src/Essentials/src/Share/Share.tizen.cs
  src/Essentials/src/Share/Share.uwp.cs
Labels: area/essentials 🍞

#4713 [X] use TypeRefComparer for finding converters
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
Labels: area/Xaml </>

#4710 [X] remove RegisterSourceInfo from Xamlc
  src/Controls/src/Build.Tasks/CreateObjectVisitor.cs
  src/Controls/src/Build.Tasks/ILContext.cs
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Build.Tasks/XamlCTask.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh10803.xaml.cs
Labels: area/Xaml </>

#4732 Initial set of FabricBot rules for issue/PR management (TEST)
  .github/fabricbot.json
Labels: area/infrastructure 🏗️

#3256 Allow to use string to define StrokeShape in XAML
  src/Controls/src/Core/Shapes/StrokeShapeTypeConverter.cs
  src/Controls/tests/Core.UnitTests/StrokeShapeTests.cs
  src/Controls/tests/Xaml.UnitTests/Border.xaml
  src/Controls/tests/Xaml.UnitTests/Border.xaml.cs
Labels: area/Xaml </>, area/drawing ✏️

#4739 Add FabricBot rules for s/needs-repro label
  .github/fabricbot.json
Labels: area/infrastructure 🏗️

#4588 [iOS] Implement IsFocused property and Focus(), Unfocus() methods
  src/Compatibility/Core/src/Windows/VisualElementRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/EditorRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/PageRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/PickerRenderer.cs
  src/Compatibility/Core/src/iOS/ViewRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Core/FocusPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/FocusPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/CoreViewModel.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/VisualElement.cs
  src/Core/src/Core/IView.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Handlers/Entry/EntryHandler.iOS.cs
  src/Core/src/Handlers/Page/PageHandler.iOS.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.iOS.cs
  src/Core/src/Handlers/View/ViewHandler.Windows.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Standard/ViewExtensions.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/src/Primitives/FocusRequest.cs
  src/Core/tests/Benchmarks/Stubs/StubBase.cs
  src/Core/tests/DeviceTests/Stubs/StubBase.cs
  src/Core/tests/UnitTests/Layouts/ZIndexTests.cs
  src/Core/tests/UnitTests/TestClasses/ViewStub.cs
Labels: platform/iOS 🍎, area/a11y

#4596 Essentials.AppActions refactored to interface and singleton
  src/Essentials/src/AppActions/AppActions.android.cs
  src/Essentials/src/AppActions/AppActions.ios.cs
  src/Essentials/src/AppActions/AppActions.netstandard.tvos.watchos.macos.tizen.cs
  src/Essentials/src/AppActions/AppActions.shared.cs
  src/Essentials/src/AppActions/AppActions.uwp.cs
  src/Essentials/src/Platform/Platform.android.cs
  src/Essentials/src/Platform/Platform.ios.tvos.watchos.cs
Labels: area/essentials 🍞

#4587 [Android] Implement IsFocused property and Focus(), Unfocus() methods
  src/Compatibility/Core/src/Android/AppCompat/ImageButtonRenderer.cs
  src/Compatibility/Core/src/Android/FastRenderers/ButtonRenderer.cs
  src/Compatibility/Core/src/Android/PlatformRenderer.cs
  src/Compatibility/Core/src/Android/ViewRenderer.cs
  src/Controls/samples/Controls.Sample/ViewModels/CoreViewModel.cs
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Android.cs
  src/Core/src/Handlers/View/ViewHandler.Android.cs
  src/Core/src/Platform/Android/LayoutViewGroup.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Standard/ViewExtensions.cs
Labels: platform/android 🤖, area/a11y

#4770 Oops, comma.
  .github/fabricbot.json
Labels: area/infrastructure 🏗️

#4747 Essentials.TextToSpeech refactored to interface and singleton
  src/Essentials/src/TextToSpeech/TextToSpeech.android.cs
  src/Essentials/src/TextToSpeech/TextToSpeech.ios.tvos.watchos.cs
  src/Essentials/src/TextToSpeech/TextToSpeech.macos.cs
  src/Essentials/src/TextToSpeech/TextToSpeech.netstandard.cs
  src/Essentials/src/TextToSpeech/TextToSpeech.shared.cs
  src/Essentials/src/TextToSpeech/TextToSpeech.tizen.cs
  src/Essentials/src/TextToSpeech/TextToSpeech.uwp.cs
Labels: area/essentials 🍞

#4605 Essentials.Browser refactored to interface and singleton
  src/Essentials/src/Browser/Browser.android.cs
  src/Essentials/src/Browser/Browser.ios.cs
  src/Essentials/src/Browser/Browser.macos.cs
  src/Essentials/src/Browser/Browser.netstandard.tvos.watchos.cs
  src/Essentials/src/Browser/Browser.shared.cs
  src/Essentials/src/Browser/Browser.tizen.cs
  src/Essentials/src/Browser/Browser.uwp.cs
  src/Essentials/src/Browser/BrowserLaunchMode.shared.cs
  src/Essentials/src/Browser/BrowserLaunchOptions.shared.cs
  src/Essentials/src/Browser/BrowserTitleMode.shared.cs
Labels: area/essentials 🍞

#4763 Interfaced handlers for ContentView, DatePicker, Editor
  src/Core/src/Handlers/ContentView/ContentViewHandler.Android.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Standard.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Windows.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.iOS.cs
  src/Core/src/Handlers/ContentView/IContentViewHandler.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Standard.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Windows.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/DatePicker/IDatePickerHandler.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/src/Handlers/Editor/EditorHandler.Standard.cs
  src/Core/src/Handlers/Editor/EditorHandler.Windows.cs
  src/Core/src/Handlers/Editor/EditorHandler.cs
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Handlers/Editor/IEditorHandler.cs
  src/Core/src/Handlers/Page/PageHandler.cs
Labels: area/controls 🎮

#4728 Annotate web Content items to avoid workarounds in Xamarin and iOS SDKs
  src/BlazorWebView/src/Maui/build/Microsoft.AspNetCore.Components.WebView.Maui.targets
Labels: area/blazor 🕸️

#4346 Add pending Picker events and notify items collection changes
  src/Compatibility/Core/src/iOS/Renderers/PickerRenderer.cs
  src/Controls/src/Core/HandlerImpl/Picker.Impl.cs
  src/Core/src/Core/Extensions/IPickerExtension.cs
  src/Core/src/Core/IPicker.cs
  src/Core/src/Handlers/Picker/PickerHandler.Android.cs
  src/Core/src/Handlers/Picker/PickerHandler.Windows.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
Labels: area/controls 🎮, control-picker

#4776 Remove packages not used directly by MAUI [WIP]
  eng/Microsoft.Extensions.targets
  eng/Version.Details.xml
  eng/Versions.props
  src/Workload/Microsoft.NET.Sdk.Maui/Microsoft.NET.Sdk.Maui.csproj
Labels: do-not-merge, area/infrastructure 🏗️

#4541 [Core] Implement SizeChanged event
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
Labels: t/housekeeping ♻︎, area/controls 🎮, control-general

#4623 Essentials.Email refactored to interface and singleton
  src/Essentials/src/Email/Email.android.cs
  src/Essentials/src/Email/Email.ios.cs
  src/Essentials/src/Email/Email.macos.cs
  src/Essentials/src/Email/Email.netstandard.tvos.watchos.cs
  src/Essentials/src/Email/Email.shared.cs
  src/Essentials/src/Email/Email.tizen.cs
  src/Essentials/src/Email/Email.uwp.cs
Labels: area/essentials 🍞

#4761 Essentials Barometer - alternate approach
  src/Essentials/src/Barometer/Barometer.android.cs
  src/Essentials/src/Barometer/Barometer.ios.watchos.cs
  src/Essentials/src/Barometer/Barometer.netstandard.tvos.macos.cs
  src/Essentials/src/Barometer/Barometer.shared.cs
  src/Essentials/src/Barometer/Barometer.tizen.cs
  src/Essentials/src/Barometer/Barometer.uwp.cs
Labels: area/essentials 🍞

#4419 Implement Cookies property in WebView
  src/Compatibility/Core/src/Android/Renderers/WebViewRenderer.cs
  src/Compatibility/Core/src/Windows/WebViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/WkWebViewRenderer.cs
  src/Core/src/Core/IWebView.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
  src/Core/src/Platform/Android/MauiWebViewClient.cs
  src/Core/src/Platform/Android/WebViewExtensions.cs
  src/Core/src/Platform/iOS/MauiWKWebView.cs
  src/Core/src/Platform/iOS/WebViewExtensions.cs
  src/Core/tests/DeviceTests/Stubs/WebView.cs
Labels: area/controls 🎮, control-webview

#4817 [iOS] Implement pending custom WKWebKitDelegate in WebViewHandler
  src/Compatibility/Core/src/iOS/Renderers/WkWebViewRenderer.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiWebViewUIDelegate.cs
Labels: platform/iOS 🍎, control-webview

#4775 [ci] Add maui release yaml
  eng/package.ps1
  eng/pipelines/common/insertion.yml
  eng/pipelines/common/pack.yml
  eng/pipelines/common/sdk-insertion.yml
  eng/pipelines/common/security-compliance.yml
  eng/pipelines/common/sign.yml
  eng/pipelines/handlers.yml
  eng/pipelines/maui-release.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#4833 Fix tests screenshot
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
  src/Essentials/test/DeviceTests/Tests/Screenshot_Tests.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#4676 Interfaced BorderHandler and CheckBoxHandler
  src/Core/src/Handlers/Border/BorderHandler.Android.cs
  src/Core/src/Handlers/Border/BorderHandler.Standard.cs
  src/Core/src/Handlers/Border/BorderHandler.Windows.cs
  src/Core/src/Handlers/Border/BorderHandler.cs
  src/Core/src/Handlers/Border/BorderHandler.iOS.cs
  src/Core/src/Handlers/Border/IBorderHandler.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Android.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Standard.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Windows.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.iOS.cs
  src/Core/src/Handlers/CheckBox/ICheckboxHandler.cs
Labels: area/controls 🎮

#4851 [Housekeeping] Fix incorrect encoding in XAML file templates
  src/Templates/src/templates/maui-blazor/MainPage.xaml
  src/Templates/src/templates/maui-contentpage-xaml/NewPage1.xaml
  src/Templates/src/templates/maui-contentview-xaml/NewContent1.xaml
  src/Templates/src/templates/maui-mobile/MainPage.xaml
Labels: t/housekeeping ♻︎, high

#4854 [iOS] Allow to customize the WebView Delegate using the Mapper
  src/Core/src/Handlers/WebView/WebViewHandler.Standard.cs
  src/Core/src/Handlers/WebView/WebViewHandler.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
Labels: platform/iOS 🍎, t/housekeeping ♻︎

#4858 Don't generate xamlc debug on design time builds
  .nuspec/Microsoft.Maui.Controls.Debug.targets
Labels: area/Xaml </>

#4662 Essentials.OrientationSensor refactored to interface and singleton
  src/Essentials/src/OrientationSensor/OrientationSensor.android.cs
  src/Essentials/src/OrientationSensor/OrientationSensor.ios.watchos.cs
  src/Essentials/src/OrientationSensor/OrientationSensor.netstandard.tvos.macos.cs
  src/Essentials/src/OrientationSensor/OrientationSensor.shared.cs
  src/Essentials/src/OrientationSensor/OrientationSensor.tizen.cs
  src/Essentials/src/OrientationSensor/OrientationSensor.uwp.cs
Labels: area/essentials 🍞

#4649 Essentials.Gyroscope refactored to interface and singleton
  src/Essentials/src/Gyroscope/Gyroscope.android.cs
  src/Essentials/src/Gyroscope/Gyroscope.ios.watchos.cs
  src/Essentials/src/Gyroscope/Gyroscope.netstandard.tvos.macos.cs
  src/Essentials/src/Gyroscope/Gyroscope.shared.cs
  src/Essentials/src/Gyroscope/Gyroscope.tizen.cs
  src/Essentials/src/Gyroscope/Gyroscope.uwp.cs
Labels: area/essentials 🍞

#4615 Essentials.Compass refactored to interface and singleton
  src/Essentials/src/Compass/Compass.android.cs
  src/Essentials/src/Compass/Compass.ios.cs
  src/Essentials/src/Compass/Compass.netstandard.tvos.watchos.macos.cs
  src/Essentials/src/Compass/Compass.shared.cs
  src/Essentials/src/Compass/Compass.tizen.cs
  src/Essentials/src/Compass/Compass.uwp.cs
Labels: area/essentials 🍞

#4634 Essentials.Geolocation refactored to interface and singleton
  src/Essentials/src/Geolocation/Geolocation.android.cs
  src/Essentials/src/Geolocation/Geolocation.ios.macos.cs
  src/Essentials/src/Geolocation/Geolocation.netstandard.tvos.watchos.cs
  src/Essentials/src/Geolocation/Geolocation.shared.cs
  src/Essentials/src/Geolocation/Geolocation.tizen.cs
  src/Essentials/src/Geolocation/Geolocation.uwp.cs
Labels: area/essentials 🍞

#4842 Update LayoutHandler to use current conventions
  src/Controls/tests/Core.UnitTests/Layouts/LayoutTests.cs
  src/Core/src/Handlers/Layout/ILayoutHandler.cs
  src/Core/src/Handlers/Layout/LayoutHandler.cs
Labels: area/layout 🔲

#4841 Interfaced handlers for Label, NavigationView, Page
  src/Controls/src/Core/HandlerImpl/Label/Label.cs
  src/Core/src/Handlers/Label/ILabelHandler.cs
  src/Core/src/Handlers/Label/LabelHandler.Android.cs
  src/Core/src/Handlers/Label/LabelHandler.Standard.cs
  src/Core/src/Handlers/Label/LabelHandler.Windows.cs
  src/Core/src/Handlers/Label/LabelHandler.cs
  src/Core/src/Handlers/Label/LabelHandler.iOS.cs
  src/Core/src/Handlers/NavigationPage/INavigationViewHandler.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.Android.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.Standard.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.Windows.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.iOS.cs
  src/Core/src/Handlers/Page/IPageHandler.cs
  src/Core/src/Handlers/Page/PageHandler.Android.cs
  src/Core/src/Handlers/Page/PageHandler.Standard.cs
  src/Core/src/Handlers/Page/PageHandler.Windows.cs
  src/Core/src/Handlers/Page/PageHandler.cs
  src/Core/src/Handlers/Page/PageHandler.iOS.cs
Labels: area/controls 🎮

#4843 Interfaced handlers for Picker and ProgressBar
  src/Core/src/Handlers/Picker/IPickerHandler.cs
  src/Core/src/Handlers/Picker/PickerHandler.Android.cs
  src/Core/src/Handlers/Picker/PickerHandler.Standard.cs
  src/Core/src/Handlers/Picker/PickerHandler.Windows.cs
  src/Core/src/Handlers/Picker/PickerHandler.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
  src/Core/src/Handlers/ProgressBar/IProgressBarHandler.cs
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.Android.cs
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.Standard.cs
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.Windows.cs
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.cs
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.iOS.cs
Labels: area/controls 🎮

#4652 Essentials.Magnetometer refactored to interface and singleton
  src/Essentials/src/Magnetometer/Magnetometer.android.cs
  src/Essentials/src/Magnetometer/Magnetometer.ios.watchos.cs
  src/Essentials/src/Magnetometer/Magnetometer.netstandard.tvos.macos.cs
  src/Essentials/src/Magnetometer/Magnetometer.shared.cs
  src/Essentials/src/Magnetometer/Magnetometer.tizen.cs
  src/Essentials/src/Magnetometer/Magnetometer.uwp.cs
Labels: area/essentials 🍞

#4846 Interfaced handler for RadioButton
  src/Core/src/Handlers/RadioButton/IRadioButtonHandler.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Android.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Standard.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Windows.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.iOS.cs
Labels: area/controls 🎮, control-radiobutton

#4699 Refactor Screenshot to use an interface
  src/Essentials/docs/Microsoft.Maui.Essentials/IScreenshotResult.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/Screenshot.xml
  src/Essentials/src/Screenshot/Screenshot.android.cs
  src/Essentials/src/Screenshot/Screenshot.ios.cs
  src/Essentials/src/Screenshot/Screenshot.netstandard.tizen.watchos.macos.cs
  src/Essentials/src/Screenshot/Screenshot.shared.cs
  src/Essentials/src/Screenshot/Screenshot.tvos.cs
  src/Essentials/src/Screenshot/Screenshot.uwp.cs
  src/Essentials/test/DeviceTests/Tests/Screenshot_Tests.cs
Labels: area/essentials 🍞

#4633 Essentials.FileSystem refactored to interface and singleton
  src/Core/src/Fonts/FontRegistrar.Windows.cs
  src/Essentials/src/Email/Email.uwp.cs
  src/Essentials/src/FileSystem/FileSystem.android.cs
  src/Essentials/src/FileSystem/FileSystem.ios.cs
  src/Essentials/src/FileSystem/FileSystem.ios.tvos.watchos.macos.cs
  src/Essentials/src/FileSystem/FileSystem.netstandard.cs
  src/Essentials/src/FileSystem/FileSystem.shared.cs
  src/Essentials/src/FileSystem/FileSystem.tizen.cs
  src/Essentials/src/FileSystem/FileSystem.uwp.cs
  src/Essentials/src/MediaPicker/MediaPicker.android.cs
  src/Essentials/src/Platform/Platform.android.cs
Labels: area/essentials 🍞

#4668 Refactor SecureStorage into an interface
  src/Essentials/src/SecureStorage/SecureStorage.android.cs
  src/Essentials/src/SecureStorage/SecureStorage.ios.tvos.watchos.macos.cs
  src/Essentials/src/SecureStorage/SecureStorage.netstandard.cs
  src/Essentials/src/SecureStorage/SecureStorage.shared.cs
  src/Essentials/src/SecureStorage/SecureStorage.tizen.cs
  src/Essentials/src/SecureStorage/SecureStorage.uwp.cs
  src/Essentials/test/DeviceTests/Tests/SecureStorage_Tests.cs
Labels: area/essentials 🍞

#4900 [ci] Fix insertion agents
  eng/pipelines/common/insertion.yml
  eng/pipelines/maui-release.yml
Labels: area/infrastructure 🏗️

#4645 Blazor Open Links in Browser with Configurability
  Microsoft.Maui.sln
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebChromeClient.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/Android/WebKitWebViewClient.cs
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/BlazorWebViewHandler.cs
  src/BlazorWebView/src/Maui/IBlazorWebView.cs
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/ExternalLinkNavigationEventArgs.cs
  src/BlazorWebView/src/SharedSource/ExternalLinkNavigationPolicy.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
Labels: area/blazor 🕸️

#2704 Generate the Windows manifests as well
  .nuspec/Microsoft.Maui.Resizetizer.targets
  eng/cake/dotnet.cake
  src/Controls/samples/Controls.Sample.SingleProject/Maui.Controls.Sample.SingleProject.csproj
  src/Controls/samples/Controls.Sample.SingleProject/Platforms/Windows/Package.appxmanifest
  src/SingleProject/Resizetizer/src/GeneratePackageAppxManifest.cs
  src/SingleProject/Resizetizer/test/UnitTests/GeneratePackageAppxManifestTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/testdata/appxmanifest/empty.appxmanifest
  src/SingleProject/Resizetizer/test/UnitTests/testdata/appxmanifest/typical.appxmanifest
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-blazor/Platforms/Windows/Package.appxmanifest
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/Platforms/Windows/Package.appxmanifest
Labels: area/single project ☝️, platform/windows 🪟

#3299 Implement RefreshViewHandler on Windows
  src/Controls/samples/Controls.Sample/Pages/Controls/RefreshViewPage.xaml
  src/Controls/samples/Controls.Sample/ViewModels/RefreshViewModel.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Core/src/Handlers/RefreshView/RefreshViewHandler.Windows.cs
  src/Core/src/Handlers/RefreshView/RefreshViewHandler.iOS.cs
Labels: area/controls 🎮, control-refreshview

#4905 Update LICENSE
  LICENSE
Labels: t/housekeeping ♻︎

#4904 Add doc comments for BlazorWebView APIs
  src/BlazorWebView/src/Maui/Android/BlazorWebView.Android.cs
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/BlazorWebViewHandler.cs
  src/BlazorWebView/src/Maui/BlazorWebViewRegistrationExtensions.cs
  src/BlazorWebView/src/Maui/IBlazorWebView.cs
  src/BlazorWebView/src/Maui/Microsoft.AspNetCore.Components.WebView.Maui.csproj
  src/BlazorWebView/src/Maui/RootComponentsCollection.cs
  src/BlazorWebView/src/Maui/Standard/BlazorWebViewHandler.cs
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/ExternalLinkNavigationEventArgs.cs
  src/BlazorWebView/src/SharedSource/QueryStringHelper.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/WindowsForms/Microsoft.AspNetCore.Components.WebView.WindowsForms.csproj
  src/BlazorWebView/src/WindowsForms/RootComponentsCollection.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/Microsoft.AspNetCore.Components.WebView.Wpf.csproj
  src/BlazorWebView/src/Wpf/RootComponentsCollection.cs
Labels: area/blazor 🕸️

#4908 [Essentials] Fix maciOS version checks
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Core/src/Platform/iOS/ElementExtensions.cs
  src/Core/src/Platform/iOS/PlatformVersion.cs
  src/Essentials/src/AppActions/AppActions.ios.cs
  src/Essentials/src/AppInfo/AppInfo.ios.tvos.watchos.macos.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.ios.cs
  src/Essentials/src/FilePicker/FilePicker.ios.cs
  src/Essentials/src/HapticFeedback/HapticFeedback.ios.cs
  src/Essentials/src/Launcher/Launcher.ios.tvos.cs
  src/Essentials/src/MediaPicker/MediaPicker.ios.cs
  src/Essentials/src/Permissions/Permissions.ios.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.macos.cs
  src/Essentials/src/Permissions/Permissions.ios.watchos.cs
  src/Essentials/src/Platform/Platform.ios.tvos.watchos.cs
  src/Essentials/src/Platform/Platform.macos.cs
  src/Essentials/src/Share/Share.ios.cs
  src/Essentials/src/Types/LocationExtensions.ios.tvos.watchos.macos.cs
  src/Essentials/src/WebAuthenticator/AppleSignInAuthenticator.ios.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.macos.cs
  src/Essentials/test/DeviceTests/Tests/AppActions_Tests.cs
Labels: platform/macOS 🍏, platform/iOS 🍎, area/essentials 🍞

#4906 [iOS][macOS] Remove more superflous version checks
  src/Compatibility/Core/src/Handlers/ListView/iOS/ListViewRenderer.cs
  src/Compatibility/Core/src/Handlers/TabbedPage/iOS/TabbedRenderer.cs
  src/Compatibility/Core/src/Handlers/TableView/iOS/TableViewRenderer.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: platform/macOS 🍏, platform/iOS 🍎

#4827 [Android] Hide Keyboard in Android Entry and Editor when back key is pressed
  src/Compatibility/Core/src/Android/Renderers/EntryRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/FormsEditText.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Platform/Android/IMauiEditText.cs
  src/Core/src/Platform/Android/KeyboardManager.cs
  src/Core/src/Platform/Android/MauiEditText.cs
Labels: platform/android 🤖, area/controls 🎮, control-entry

#4873 Ensure InvokeAsync(Func<Task>) is properly awaited
  src/BlazorWebView/src/WindowsForms/WindowsFormsDispatcher.cs
Labels: area/blazor 🕸️

#4816 [Windows] Detect when image failed to load in Windows ImageButton
  src/Compatibility/Core/src/Windows/ImageButtonRenderer.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Windows.cs
Labels: platform/windows 🪟, area/controls 🎮, control-button

#4820 Convert dp to px when setting ImageButton.CornerRadius
  src/Core/src/Platform/Android/ImageButtonExtensions.cs
Labels: area/controls 🎮, control-button

#4933 [android] refactor font loading
  src/Core/src/Fonts/FontManager.Android.cs
  src/Core/src/Fonts/FontRegistrar.Android.cs
  src/Core/tests/DeviceTests/Platforms/Android/AndroidManifest.xml
  src/Core/tests/DeviceTests/Platforms/Android/Assets/Fonts/insubfolder.ttf
  src/Core/tests/DeviceTests/Services/FontManagerTests.Android.cs
  src/Core/tests/DeviceTests/Services/FontManagerTests.cs
  src/Core/tests/DeviceTests/TestCategory.cs
Labels: area/fonts 🅰️

#4443 Implement WebView navigation events
  src/Compatibility/Core/src/Android/Renderers/FormsWebViewClient.cs
  src/Compatibility/Core/src/Windows/WebViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/WkWebViewRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/WebView.Impl.cs
  src/Controls/src/Core/WebNavigationEvent.cs
  src/Controls/src/Core/WebNavigationResult.cs
  src/Core/src/Core/IWebView.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
  src/Core/src/Platform/Android/MauiWebView.cs
  src/Core/src/Platform/Android/MauiWebViewClient.cs
  src/Core/src/Platform/Windows/WebViewExtensions.cs
  src/Core/src/Platform/iOS/MauiWebViewNavigationDelegate.cs
  src/Core/src/Primitives/WebNavigationEvent.cs
  src/Core/src/Primitives/WebNavigationResult.cs
  src/Core/tests/DeviceTests/Stubs/WebView.cs
Labels: area/controls 🎮, control-webview

#4891 Refactor VersionTracking into interface
  src/Essentials/src/VersionTracking/VersionTracking.shared.cs
Labels: area/essentials 🍞

#4928 Enable File Picker in Blazor Android WebView
  src/BlazorWebView/src/Maui/Android/BlazorWebChromeClient.cs
  src/BlazorWebView/src/Maui/Microsoft.AspNetCore.Components.WebView.Maui.csproj
  src/Controls/samples/Controls.Sample.SingleProject/Platforms/Android/AndroidManifest.xml
  src/Core/src/TaskExtensions.cs
Labels: platform/android 🤖, area/blazor 🕸️

#4965 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/infrastructure 🏗️

#4954 Remove IImageSourceServiceConfiguration
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/PlatformConfiguration/WindowsSpecific/Application.cs
  src/Core/src/Hosting/ImageSources/ImageSourcesMauiAppBuilderExtensions.cs
  src/Core/src/ImageSources/FileImageSourceService/FileImageSourceService.Windows.cs
  src/Core/src/ImageSources/FileImageSourceService/FileImageSourceService.cs
  src/Core/src/ImageSources/IImageSourceServiceConfiguration.cs
  src/Core/src/ImageSources/ImageSourceServiceConfiguration.cs
  src/Core/src/ImageSources/ImageSourceServiceConfigurationExtensions.cs
  src/Core/src/Platform/Windows/ImageExtensions.cs
Labels: area/image :framed_picture:

#4916 Use bash to install dotnet rather than sh
  src/DotNet/DotNet.csproj
Labels: area/infrastructure 🏗️

#4828 [Android] Clear focus and hide keyboard submitting the text or disabling the View
  src/Compatibility/Core/src/Android/Renderers/SearchBarRenderer.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
  src/Core/src/Platform/Android/SearchViewExtensions.cs
Labels: platform/android 🤖, area/controls 🎮, control-entry

#4881 [iOS] Custom implementation in ScrollView IsEnabled property
  src/Compatibility/Core/src/iOS/Renderers/ScrollViewRenderer.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/Platform/iOS/ScrollViewExtensions.cs
Labels: area/layout 🔲, platform/iOS 🍎

#4815 [Android] Update the DatePicker Dialog if the display info changes
  src/Compatibility/Core/src/Android/Renderers/DatePickerRenderer.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
Labels: platform/android 🤖, area/controls 🎮, control-datetimepicker
