Repository dotnet/maui, pull requests merged in 2022-09, with the labels that each got.

#9831 [workload] Improve pack name suffix consistency
  eng/automation/vs-workload.template.props
  src/Templates/src/Microsoft.Maui.Templates.csproj
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.json
Labels: area/setup 🪄

#9815 [Housekeeping] Added pending BindableProperty known type converters
  src/Controls/src/Core/BindableProperty.cs
Labels: area/Xaml </>, t/housekeeping ♻︎

#9809 [Android] Fix issue with offsets in Frame gradient background
  src/Controls/src/Core/Platform/Android/Extensions/BrushExtensions.cs
Labels: t/bug, area/drawing ✏️, area/controls 🎮, control-frame

#9767 [Tizen] Update SkiaGraphicsView.Tizen.cs
  NuGet.config
  eng/Versions.props
  src/Core/src/Platform/Tizen/GraphicsViewExtensions.cs
  src/Core/src/Platform/Tizen/PlatformTouchGraphicsView.cs
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Graphics/samples/GraphicsTester.Skia.Tizen/Main.cs
  src/Graphics/samples/GraphicsTester.Skia.Tizen/SimpleViewStack.cs
  src/Graphics/src/Graphics.Skia/Views/SkiaGraphicsView.Tizen.cs
Labels: community ✨, platform/tizen

#9830 [workload] Trim dot from pack names and alias
  eng/Versions.props
  eng/automation/vs-workload.template.props
  src/Templates/src/Microsoft.Maui.Templates.csproj
  src/Workload/Microsoft.NET.Sdk.Maui/Microsoft.NET.Sdk.Maui.csproj
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.json
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.targets
Labels: area/setup 🪄

#9846 Update to the new Maui.Graphics
  NuGet.config
  eng/Versions.props
  src/Core/src/Platform/Tizen/GraphicsViewExtensions.cs
  src/Core/src/Platform/Tizen/PlatformTouchGraphicsView.cs
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Shipped.txt
Labels: platform/tizen, partner/tizen

#9855 Bump AspNet.Security.OAuth.Apple to 6.0.10
  src/Essentials/samples/Sample.Server.WebAuthenticator/Essentials.Sample.Server.WebAuthenticator.csproj
Labels: area/infrastructure 🏗️

#9862 Bump Microsoft.AspNetCore Package Versions
  eng/Versions.props
Labels: area/blazor 🕸️

#9863 [net6.0] Bump Microsoft.AspNetCore Packages to 6.0.8
  eng/Versions.props
Labels: area/blazor 🕸️

#9861 [MacCatalyst] PointerGestureRecognizer Catalyst and iPad implementation
  src/Controls/src/Core/Platform/GestureManager/GestureManager.iOS.cs
  src/Controls/src/Core/Platform/iOS/CustomHoverGestureRecognizer.cs
  src/Controls/src/Core/PointerGestureRecognizer.cs
Labels: area/Xaml </>

#9915 Shorten the msi filenames
  eng/automation/vs-workload.template.props
Labels: t/housekeeping ♻︎

#9956 Don't Propagate Command Mappers when Android View is Disposed of
  src/Core/src/CommandMapper.cs
  src/Core/src/Handlers/ElementHandlerExtensions.cs
  src/Core/src/PropertyMapper.cs
Labels: platform/android 🤖, t/housekeeping ♻︎

#9933 [Android] Fix crash opening Shell app via notification tray
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
Labels: t/bug, platform/android 🤖, area/shell 🐢, high

#9865 [Android] Fix crash using a Name in a GradientStop
  src/Controls/src/Core/GradientStop.cs
  src/Controls/tests/Core.UnitTests/BrushUnitTests.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️, high

#9914 Remove pipelines check
  eng/pipelines/common/provision.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#9950 [Housekeeping] Added pending Core xml comments
  src/Controls/src/Core/PointerGestureRecognizer.cs
  src/Core/src/Core/IAbsoluteLayout.cs
  src/Core/src/Core/IApplication.cs
  src/Core/src/Core/IGraphicsView.cs
  src/Core/src/Core/IMenuBar.cs
  src/Core/src/Core/IMenuBarItem.cs
  src/Core/src/Core/IMenuFlyout.cs
  src/Core/src/Core/IMenuFlyoutItem.cs
  src/Core/src/Core/IMenuFlyoutSeparator.cs
  src/Core/src/Core/IMenuFlyoutSubItem.cs
  src/Core/src/Core/ISwipeView.cs
  src/Core/src/Core/ITabbedView.cs
  src/Core/src/Core/IToolTipElement.cs
  src/Core/src/Core/IWindow.cs
Labels: t/housekeeping ♻︎

#9946 Update Extensions inline docs
  src/Core/src/Extensions/ArrayExtensions.cs
  src/Core/src/Extensions/EnumerableExtensions.cs
  src/Core/src/Extensions/IndicatorViewExtensions.cs
  src/Core/src/Extensions/ListExtensions.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#9780 Fix TypeConverters API Docs
  src/Core/src/Converters/CornerRadiusTypeConverter.cs
  src/Core/src/Converters/EasingTypeConverter.cs
  src/Core/src/Converters/FlexEnumsConverters.cs
  src/Core/src/Converters/KeyboardTypeConverter.cs
  src/Core/src/Converters/ThicknessTypeConverter.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#9676 [Housekeeping] Added new Border samples to the Gallery
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPlayground.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPlayground.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStyles.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStyles.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/ControlsViewModel.cs
Labels: t/bug, area/drawing ✏️, t/housekeeping ♻︎

#9926 First load absolute image paths before trying drawables
  src/Core/src/ImageSources/FileImageSourceService/FileImageSourceService.Android.cs
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Services/ImageSource/BaseImageSourceServiceTests.cs
  src/Core/tests/DeviceTests/Services/ImageSource/FileImageSourceServiceTests.Android.cs
  src/Core/tests/DeviceTests/Services/ImageSource/FileImageSourceServiceTests.cs
  src/Core/tests/DeviceTests/Services/ImageSource/FileImageSourceServiceTests.iOS.cs
Labels: area/image :framed_picture:

#9930 [net6.0][Core]Fixes wrong declared CommandMapper types
  src/Core/src/Handlers/Editor/EditorHandler.cs
  src/Core/src/Handlers/IndicatorView/IndicatorViewHandler.cs
  src/Core/src/Handlers/Label/LabelHandler.cs
  src/Core/src/Handlers/MenuFlyoutItem/MenuFlyoutItemHandler.cs
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.cs
  src/Core/src/Handlers/SwipeItemMenuItem/SwipeItemMenuItemHandler.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: t/housekeeping ♻︎, community ✨

#9998 [release/6.0.5xx-sr5] Update dependencies from xamarin/xamarin-macios
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/infrastructure 🏗️

#9943 Update Dispatcher inline docs
  src/Core/src/Dispatching/Dispatcher.Android.cs
  src/Core/src/Dispatching/Dispatcher.Standard.cs
  src/Core/src/Dispatching/Dispatcher.Tizen.cs
  src/Core/src/Dispatching/Dispatcher.Windows.cs
  src/Core/src/Dispatching/Dispatcher.cs
  src/Core/src/Dispatching/Dispatcher.iOS.cs
  src/Core/src/Dispatching/DispatcherExtensions.cs
  src/Core/src/Dispatching/DispatcherProvider.cs
  src/Core/src/Dispatching/IDispatcher.cs
  src/Core/src/Dispatching/IDispatcherProvider.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#9982 Add Release Schedule doc
  docs/README.md
  docs/ReleaseSchedule.md
Labels: area/docs 📓, t/housekeeping ♻︎

#9675 Enable Graphics API docs generation
  src/Graphics/src/Graphics/Graphics.csproj
Labels: area/docs 📓, t/housekeeping ♻︎

#9997 Lower Catalyst/iOS SupportedOSPlatformVersion
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: platform/iOS 🍎

#10023 Delete label-partner-issues.yml
  .github/workflows/label-partner-issues.yml
Labels: area/infrastructure 🏗️

#9917 [Core] Fix ImageButton IsLoading property
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/ImageButton/ImageButton.Impl.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/ImageButtonStub.cs
Labels: t/bug, area/controls 🎮, control-button, control-image

#9916 [Android] Fix rendering using WebView without Source
  src/Core/src/Platform/Android/WebViewExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-webview

#9944 [iOS] Align GraphicsView Background behavior between platforms
  src/Core/src/Platform/iOS/PlatformTouchGraphicsView.cs
Labels: t/bug, area/drawing ✏️, platform/iOS 🍎

#8605 Fix CheckBox's VisualStates
  src/Controls/src/Core/CheckBox.cs
  src/Core/tests/DeviceTests/Handlers/CheckBox/CheckBoxHandlerTests.cs
Labels: t/bug, area/controls 🎮, control-checkbox

#10062 [Windows] Fix COMException using Connectivity class
  src/Essentials/src/Connectivity/Connectivity.uwp.cs
Labels: t/bug, platform/windows 🪟, area/essentials 🍞

#10097 Remove MauiApplicationServiceCollection and use MakeReadOnly
  src/Core/src/Hosting/Internal/MauiApplicationServiceCollection.cs
  src/Core/src/Hosting/MauiAppBuilder.cs
Labels: area/hosting 🧩

#10073 Compress Grid measurements for star rows/columns
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#10142 Use the correct delegate
  src/Core/src/LifecycleEvents/iOS/iOSLifecycleBuilderExtensions.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: 7.0-rc2

#9918 [Android] Fix focused events in SearchBar
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
Labels: t/bug, area/a11y, area/controls 🎮, control-entry

#9955 Fix root page swapping
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellContentFragment.cs
  src/Controls/src/Core/HandlerImpl/TabbedPage/TabbedPage.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowPageSwapTestCases.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.Android.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.iOS.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.Android.cs
  src/Core/src/Handlers/Window/WindowHandler.Android.cs
  src/Core/src/Platform/Android/Navigation/NavigationRootManager.cs
  src/Core/src/Platform/Android/Navigation/ViewFragment.cs
  src/Core/src/Platform/Windows/MauiNavigationView.cs
  src/Core/src/Platform/Windows/RootNavigationView.cs
  src/Core/src/Platform/Windows/WindowRootView.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/WindowOverlay/WindowOverlay.Android.cs
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/ViewModels/TestCaseViewModel.cs
Labels: platform/android 🤖, area/navigation 🧭

#9221 Simplify ShellItem Parenting
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutRecyclerAdapter.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/UIContainerCell.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellFlyoutItemView.cs
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/src/Core/Shell/ShellContentCollection.cs
  src/Controls/src/Core/Shell/ShellItem.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellFlyoutTests.cs
Labels: area/shell 🐢

#10147 Fix cleanup up WebView code
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Platform/Android/MauiWebChromeClient.cs
  src/Core/src/Platform/Android/MauiWebViewClient.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: platform/android 🤖, control-webview

#10083 Fix layout and safe area on FlyoutPage
  src/Controls/src/Core/Compatibility/Handlers/FlyoutPage/iOS/PhoneFlyoutPageRenderer.cs
  src/Controls/src/Core/PlatformConfiguration/iOSSpecific/Page.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.iOS.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.iOS.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: area/layout 🔲

#10093 [Windows] Fix crash using MainDisplayInfoChanged on page constructor
  src/Essentials/src/DeviceDisplay/DeviceDisplay.uwp.cs
Labels: t/bug, platform/windows 🪟, area/essentials 🍞

#10061 [Windows] Fix Border clipping issue
  src/Core/src/Platform/Windows/ContentPanel.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️

#9980 Allow custom layout managers for existing layout types in Controls
  src/Controls/src/Core/Layout/ILayoutManagerFactory.cs
  src/Controls/src/Core/Layout/Layout.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/Layouts/LayoutTests.cs
Labels: area/layout 🔲

#10187 [documentation] Fix typo
  docs/design/HandlerResolution.md
Labels: community ✨

#10201 [Tizen] Update Shell to handle FlyoutHeaderBehavior
  src/Controls/src/Core/Handlers/Shell/ShellHandler.Tizen.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemTemplateAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemTemplatedView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellItemTemplateAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellView.cs
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Shipped.txt
Labels: area/shell 🐢, community ✨

#10003 Add visual state for PointerOver
  src/Controls/samples/Controls.Sample/Pages/UserInterface/VisualStatesPage.xaml
  src/Controls/src/Core/Platform/GestureManager/GestureManager.Windows.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/View.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/src/Core/VisualStateManager.cs
  src/Controls/tests/Core.UnitTests/ViewUnitTests.cs
Labels: area/Xaml </>

#9632 [Android] Fire Completed event using ReturnType.Search
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-entry

#9125 Implement SkiaImage Save
  src/Graphics/src/Graphics.Skia/SkiaImage.cs
Labels: area/drawing ✏️

#10332 Standardize all the ctors for the core handlers
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.cs
  src/Core/src/Handlers/Application/ApplicationHandler.cs
  src/Core/src/Handlers/Border/BorderHandler.cs
  src/Core/src/Handlers/Button/ButtonHandler.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.cs
  src/Core/src/Handlers/Editor/EditorHandler.cs
  src/Core/src/Handlers/Entry/EntryHandler.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.cs
  src/Core/src/Handlers/Image/ImageHandler.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.cs
  src/Core/src/Handlers/IndicatorView/IndicatorViewHandler.cs
  src/Core/src/Handlers/Label/LabelHandler.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.cs
  src/Core/src/Handlers/Page/PageHandler.cs
  src/Core/src/Handlers/Picker/PickerHandler.cs
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.cs
  src/Core/src/Handlers/RefreshView/RefreshViewHandler.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.cs
  src/Core/src/Handlers/Slider/SliderHandler.cs
  src/Core/src/Handlers/Stepper/StepperHandler.cs
  src/Core/src/Handlers/SwipeItemMenuItem/SwipeItemMenuItemHandler.cs
  src/Core/src/Handlers/SwipeItemView/SwipeItemViewHandler.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.cs
  src/Core/src/Handlers/Switch/SwitchHandler.cs
  src/Core/src/Handlers/TabbedView/TabbedViewHandler.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.cs
  src/Core/src/Handlers/Toolbar/ToolbarHandler.cs
  src/Core/src/Handlers/Window/WindowHandler.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Tests.cs
Labels: t/housekeeping ♻︎

#10356 Fix FilePicker on Windows Unpackaged
  src/Essentials/samples/Samples/ViewModel/FilePickerViewModel.cs
  src/Essentials/src/FilePicker/FilePicker.uwp.cs
Labels: platform/windows 🪟, area/essentials 🍞

#10063 [Windows] Fix Essentials Email
  src/Essentials/src/Email/Email.uwp.cs
  src/Essentials/src/Email/EmailHelper.uwp.cs
Labels: t/bug, platform/windows 🪟, area/essentials 🍞

#10369 [iOS] Fix NRE when removing prototype cell
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ListViewRenderer.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.cs
Labels: t/bug, platform/iOS 🍎, area/ListView

#10156 Fix Semantic Property Propagation and CV TabStop
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/ItemContentControl.cs
  src/Controls/src/Core/SemanticProperties.cs
  src/Controls/tests/Core.UnitTests/SemanticPropertyUnitTests.cs
  src/Core/src/Platform/Windows/MauiToolbar.xaml
  src/Core/src/Platform/Windows/WindowRootView.cs
Labels: area/a11y

#10090 Fix remaining (API) docs warnings
  src/Controls/docs/Microsoft.Maui.Controls/AcceleratorTypeConverter.xml
  src/Controls/src/Core/AcceleratorTypeConverter.cs
  src/Controls/src/Core/ActivityIndicator.cs
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/BoxView.cs
  src/Controls/src/Core/Button.cs
  src/Controls/src/Core/CarouselPage.cs
  src/Controls/src/Core/Cells/Cell.cs
  src/Controls/src/Core/CheckBox.cs
  src/Controls/src/Core/DatePicker.cs
  src/Controls/src/Core/Editor.cs
  src/Controls/src/Core/Entry.cs
  src/Controls/src/Core/FlyoutPage.cs
  src/Controls/src/Core/Frame.cs
  src/Controls/src/Core/IElementConfiguration.cs
  src/Controls/src/Core/Image.cs
  src/Controls/src/Core/ImageButton.cs
  src/Controls/src/Core/Interactivity/Behavior.cs
  src/Controls/src/Core/Label.cs
  src/Controls/src/Core/LegacyLayouts/AbsoluteLayout.cs
  src/Controls/src/Core/LegacyLayouts/Grid.cs
  src/Controls/src/Core/LegacyLayouts/RelativeLayout.cs
  src/Controls/src/Core/LegacyLayouts/StackLayout.cs
  src/Controls/src/Core/ListView.cs
  src/Controls/src/Core/NavigationPage.cs
  src/Controls/src/Core/OpenGLView.cs
  src/Controls/src/Core/Page.cs
  src/Controls/src/Core/Picker.cs
  src/Controls/src/Core/PlatformConfigurationRegistry.cs
  src/Controls/src/Core/ProgressBar.cs
  src/Controls/src/Core/ProvideCompiledAttribute.cs
  src/Controls/src/Core/RadioButton.cs
  src/Controls/src/Core/RefreshView.cs
  src/Controls/src/Core/ScrollView.cs
  src/Controls/src/Core/SearchBar.cs
  src/Controls/src/Core/Shell/ShellItem.cs
  src/Controls/src/Core/Slider.cs
  src/Controls/src/Core/Stepper.cs
  src/Controls/src/Core/SwipeView.cs
  src/Controls/src/Core/Switch.cs
  src/Controls/src/Core/TabbedPage.cs
  src/Controls/src/Core/TableView.cs
  src/Controls/src/Core/TimePicker.cs
  src/Controls/src/Core/ViewExtensions.cs
  src/Controls/src/Core/WebView.cs
  src/Core/docs/Microsoft.Maui/ViewExtensions.xml
  src/Core/src/Converters/CornerRadiusTypeConverter.cs
  src/Core/src/Converters/EasingTypeConverter.cs
  src/Core/src/Converters/FlexEnumsConverters.cs
  src/Core/src/Converters/KeyboardTypeConverter.cs
  src/Core/src/Converters/ThicknessTypeConverter.cs
  src/Core/src/Dispatching/Dispatcher.cs
  src/Core/src/VisualDiagnostics/RectangleAdorner.cs
  src/Core/src/VisualDiagnostics/RectangleGridAdorner.cs
  src/Core/src/WindowOverlay/WindowOverlay.cs
Labels: area/docs 📓, t/housekeeping ♻︎, t/docs 📝

#9984 Fix AdaptiveTriggers
  src/Controls/src/Core/AdaptiveTrigger.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/Core.UnitTests/AdaptiveTriggerTests.cs
Labels: t/bug, area/Xaml </>

#10376 Make sure StackLayout Spacing property propagates to generated Grid
  src/Controls/src/Core/Layout/AndExpandLayoutManager.cs
Labels: area/layout 🔲

#10381 PhoneCallManager no longer works on Windows 11
  src/Essentials/src/PhoneDialer/PhoneDialer.uwp.cs
Labels: area/essentials 🍞

#10309 Sizing and inset math corrections for Button contentlayout
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/src/Core/Platform/Android/Extensions/ButtonExtensions.cs
  src/Controls/src/Core/Platform/iOS/Extensions/ButtonExtensions.cs
Labels: area/controls 🎮

#10353 Disconnect lifecycle callback when nav removed
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/Core/src/Platform/Android/Navigation/StackNavigationManager.cs
Labels: platform/android 🤖, area/lifecycle 🔁

#10295 Propagate Flyout Selected Item w/ AsMultipleItems
  src/Controls/samples/Controls.Sample/Pages/AppShell.xaml
  src/Controls/src/Core/Handlers/Shell/ShellHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellSectionHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellFlyoutItemView.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellFlyoutTemplateSelector.cs
  src/Controls/src/Core/Handlers/Shell/Windows/ShellView.cs
  src/Controls/src/Core/Platform/Windows/Styles/ShellStyles.xaml
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
  src/Core/src/Platform/Windows/NavigationViewItemViewModel.cs
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/ViewModels/TestCaseViewModel.cs
Labels: area/shell 🐢

#10393 Provisioning more android images
  eng/provisioning/provisioning.csx
  src/BlazorWebView/tests/MauiDeviceTests/WebViewHelpers.Android.cs
  src/Essentials/test/DeviceTests/Tests/Geocoding_Tests.cs
Labels: area/infrastructure 🏗️

#10290 Bumps for 7.0.0-rc2
  .nuspec/Microsoft.Maui.Resizetizer.targets
  Directory.Build.props
  Directory.Build.targets
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/cake/dotnet.cake
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/Compatibility/ControlGallery/src/Android/Properties/AndroidManifest.xml
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/DeviceTests/Platforms/Android/AndroidManifest.xml
  src/Core/src/Platform/iOS/MauiPageControl.cs
  src/Core/tests/Benchmarks.Droid/Benchmarks.Droid.csproj
  src/Essentials/src/DeviceDisplay/DeviceDisplay.ios.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.shared.cs
Labels: area/infrastructure 🏗️

#10153 [android] bring back `$(AndroidLinkResources)` by default
  .nuspec/Microsoft.Maui.Controls.targets
Labels: platform/android 🤖, area/app-size 🤏, area/perf 🏎️

#7611 [iOS] Implement IsEnabled property on Editor
  src/Core/src/Handlers/Editor/EditorHandler.cs
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Platform/iOS/TextViewExtensions.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.iOS.cs
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, control-entry

#10014 Update Font inline docs
  src/Core/src/Fonts/EmbeddedFont.cs
  src/Core/src/Fonts/EmbeddedFontLoader.Android.cs
  src/Core/src/Fonts/EmbeddedFontLoader.Standard.cs
  src/Core/src/Fonts/EmbeddedFontLoader.Tizen.cs
  src/Core/src/Fonts/EmbeddedFontLoader.Windows.cs
  src/Core/src/Fonts/EmbeddedFontLoader.cs
  src/Core/src/Fonts/EmbeddedFontLoader.iOS.cs
  src/Core/src/Fonts/FileSystemEmbeddedFontLoader.cs
  src/Core/src/Fonts/FontFile.cs
  src/Core/src/Fonts/FontManager.Android.cs
  src/Core/src/Fonts/FontManager.Standard.cs
  src/Core/src/Fonts/FontManager.Tizen.cs
  src/Core/src/Fonts/FontManager.Windows.cs
  src/Core/src/Fonts/FontManager.iOS.cs
  src/Core/src/Fonts/FontRegistrar.Android.cs
  src/Core/src/Fonts/FontRegistrar.Standard.cs
  src/Core/src/Fonts/FontRegistrar.Tizen.cs
  src/Core/src/Fonts/FontRegistrar.Windows.cs
  src/Core/src/Fonts/FontRegistrar.cs
  src/Core/src/Fonts/FontRegistrar.iOS.cs
  src/Core/src/Fonts/FontSize.Android.cs
  src/Core/src/Fonts/IEmbeddedFontLoader.cs
  src/Core/src/Fonts/IFontManager.Android.cs
  src/Core/src/Fonts/IFontManager.Tizen.cs
  src/Core/src/Fonts/IFontManager.Windows.cs
  src/Core/src/Fonts/IFontManager.cs
  src/Core/src/Fonts/IFontManager.iOS.cs
  src/Core/src/Fonts/IFontRegistrar.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#9746 Update docs animations
  src/Core/src/Animations/Animation.cs
  src/Core/src/Animations/AnimationManager.cs
  src/Core/src/Animations/Easing.cs
  src/Core/src/Animations/IAnimationManager.cs
  src/Core/src/Animations/IAnimator.cs
  src/Core/src/Animations/ITicker.cs
  src/Core/src/Animations/LerpingAnimation.cs
  src/Core/src/Animations/PlatformTicker.Android.cs
  src/Core/src/Animations/PlatformTicker.Standard.cs
  src/Core/src/Animations/PlatformTicker.Tizen.cs
  src/Core/src/Animations/PlatformTicker.Windows.cs
  src/Core/src/Animations/PlatformTicker.iOS.cs
  src/Core/src/Animations/Ticker.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#10421 Update the diff tool
  .config/dotnet-tools.json
Labels: area/infrastructure 🏗️

#10409 Ensure that star rows and columns cannot exceed the available space
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲
