Repository dotnet/maui, pull requests merged in 2022-12, with the labels that each got.

#11694 Notify StrokeDashPattern changes with StrokeDashArray changes
  src/Controls/src/Core/Border.cs
Labels: t/bug, area/drawing ✏️, area/controls 🎮, control-border

#11604 [Android] Invalidate Button background drawable if size changes
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml.cs
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️, area/controls 🎮, control-button

#11768 Add API changes doc
  docs/design/APIChangeTracking.md
Labels: area/infrastructure 🏗️

#11803 [build] Add support for Visual Studio on win-arm64
  eng/automation/vs-workload.template.props
Labels: platform/windows 🪟, area/infrastructure 🏗️

#11034 Update templates to have separate default for framework selection
  src/Templates/src/templates/maui-blazor/.template.config/ide.host.json
  src/Templates/src/templates/maui-lib/.template.config/ide.host.json
  src/Templates/src/templates/maui-mobile/.template.config/ide.host.json
Labels: t/housekeeping ♻︎, area/templates 📄

#11757 [Build] Add maestro-changelog workflow action
  .github/workflows/maestro-changelog.yml
Labels: area/infrastructure 🏗️

#11783 Remove Android LaunchAdjacent flag for Essentials
  src/Essentials/src/AppInfo/AppInfo.android.cs
  src/Essentials/src/Email/Email.android.cs
  src/Essentials/src/Launcher/Launcher.android.cs
  src/Essentials/src/Map/Map.android.cs
  src/Essentials/src/PhoneDialer/PhoneDialer.android.cs
  src/Essentials/src/Sms/Sms.android.cs
Labels: t/housekeeping ♻︎, area/essentials 🍞

#11346 [Android] Fix crash disconnecting the IndicatorView
  src/Core/src/Handlers/IndicatorView/IndicatorViewHandler.Android.cs
  src/Core/src/Handlers/IndicatorView/IndicatorViewHandler.Windows.cs
  src/Core/src/Handlers/IndicatorView/IndicatorViewHandler.iOS.cs
  src/Core/tests/DeviceTests/Handlers/IndicatorView/IndicatorViewHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/IndicatorView/IndicatorViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/IndicatorView/IndicatorViewHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/IndicatorView/IndicatorViewHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/IndicatorViewStub.cs
  src/Core/tests/DeviceTests/TestCategory.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, version/android-13

#11937 Fix UpdateSemantics for UIStepper and UIPagerControl
  src/Core/src/Platform/iOS/SemanticExtensions.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
Labels: t/housekeeping ♻︎, area/controls 🎮

#11974 Make OnShouldReceiveMapTouch static
  src/Core/maps/src/Platform/iOS/MauiMKMapView.cs
Labels: area/Maps🗺

#11934 Update Essentials MainThread API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/MainThread.xml
  src/Essentials/src/MainThread/MainThread.netstandard.cs
  src/Essentials/src/MainThread/MainThread.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11920 Update Essentials Flashlight API Docs
  src/Essentials/docs/en/Xamarin.Essentials/Flashlight.xml
  src/Essentials/src/Flashlight/Flashlight.netstandard.tvos.watchos.macos.cs
  src/Essentials/src/Flashlight/Flashlight.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11946 Prepare MAUI to support building with NuGets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.NuGets.Sdk.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Sdk.targets
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.targets
Labels: area/setup 🪄

#11927 [iOS] Fix crash typing in Shell SearchHandler
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/SearchHandlerAppearanceTracker.cs
Labels: t/bug, platform/iOS 🍎, area/shell 🐢, version/ios-16

#11438 Fix crash using BackButtonBehavior and navigating to root
  src/Controls/src/Core/ShellToolbar.cs
  src/Controls/tests/Core.UnitTests/ShellToolbarTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: t/bug, area/navigation 🧭, area/shell 🐢

#11314 Vibrate - Detect zero duration and return early
  src/Essentials/src/Vibration/Vibration.android.cs
Labels: area/essentials 🍞, community ✨

#10522 [Android] Fix SwipeItemView size issues
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/CustomSwipeItemViewGallery.xaml
  src/Core/src/Platform/Android/MauiSwipeView.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-swipeview

#12005 Update Development.md
  .github/DEVELOPMENT.md
Labels: area/infrastructure 🏗️

#11932 Update Essentials Launcher API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Launcher.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/OpenFileRequest.xml
  src/Essentials/src/Launcher/Launcher.netstandard.watchos.cs
  src/Essentials/src/Launcher/Launcher.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11986 [Tizen] Add requesting re-layout step
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Tizen.cs
  src/Core/src/Platform/Tizen/LayoutViewGroup.cs
Labels: area/layout 🔲, community ✨, platform/tizen

#11919 Update Essentials FileSystem API Docs
  src/Essentials/docs/en/Xamarin.Essentials/FileBase.xml
  src/Essentials/docs/en/Xamarin.Essentials/FileResult.xml
  src/Essentials/docs/en/Xamarin.Essentials/FileSystem.xml
  src/Essentials/docs/en/Xamarin.Essentials/ReadOnlyFile.xml
  src/Essentials/src/FileSystem/FileSystem.netstandard.cs
  src/Essentials/src/FileSystem/FileSystem.shared.cs
  src/Essentials/src/FileSystem/FileSystemUtils.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11924 Update Essentials Geolocation API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/AltitudeReferenceSystem.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/DistanceUnits.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/Location.xml
  src/Essentials/docs/en/Xamarin.Essentials/AltitudeReferenceSystem.xml
  src/Essentials/docs/en/Xamarin.Essentials/DistanceUnits.xml
  src/Essentials/docs/en/Xamarin.Essentials/Geolocation.xml
  src/Essentials/docs/en/Xamarin.Essentials/GeolocationAccuracy.xml
  src/Essentials/docs/en/Xamarin.Essentials/GeolocationRequest.xml
  src/Essentials/docs/en/Xamarin.Essentials/Location.xml
  src/Essentials/src/Accelerometer/Accelerometer.shared.cs
  src/Essentials/src/Geolocation/Geolocation.shared.cs
  src/Essentials/src/Geolocation/GeolocationRequest.shared.cs
  src/Essentials/src/Types/Location.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11868 Update Essentials Email API Docs
  src/Essentials/docs/en/Xamarin.Essentials/Email.xml
  src/Essentials/docs/en/Xamarin.Essentials/EmailAttachment.xml
  src/Essentials/docs/en/Xamarin.Essentials/EmailBodyFormat.xml
  src/Essentials/docs/en/Xamarin.Essentials/EmailMessage.xml
  src/Essentials/src/Clipboard/Clipboard.shared.cs
  src/Essentials/src/Email/Email.netstandard.tvos.watchos.cs
  src/Essentials/src/Email/Email.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11933 Update Essentials MagnetoMeter API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Magnetometer.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/MagnetometerChangedEventArgs.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/MagnetometerData.xml
  src/Essentials/src/Magnetometer/Magnetometer.netstandard.tvos.macos.cs
  src/Essentials/src/Magnetometer/Magnetometer.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11597 [Tizen] Add missing Shell features in Tizen
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Tizen.cs
  src/Controls/src/Core/Handlers/Shell/ShellSectionHandler.Tizen.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/INavigationView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ItemAppearance.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/NavigationContentView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemTemplatedView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemTemplateAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemTemplatedView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellItemTemplateAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSearchItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSearchView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionStackManager.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellView.cs
  src/Controls/src/Core/Platform/Tizen/Extensions/ToolbarExtensions.cs
  src/Controls/src/Core/Platform/Tizen/IconConverter.cs
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/Platform/Tizen/ColorExtensions.cs
  src/Core/src/Platform/Tizen/MauiSearchBar.cs
  src/Core/src/Platform/Tizen/MauiToolbar.cs
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
Labels: area/shell 🐢, community ✨

#11930 Update Essentials HapticFeedback API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/HapticFeedback.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/HapticFeedbackType.xml
  src/Essentials/src/HapticFeedback/HapticFeedback.netstandard.tvos.watchos.cs
  src/Essentials/src/HapticFeedback/HapticFeedback.shared.cs
  src/Essentials/src/HapticFeedback/HapticFeedbackType.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11870 Update Essentials FilePicker API Docs
  src/Essentials/docs/en/Xamarin.Essentials/FilePicker.xml
  src/Essentials/docs/en/Xamarin.Essentials/FilePickerFileType.xml
  src/Essentials/docs/en/Xamarin.Essentials/PickOptions.xml
  src/Essentials/src/FilePicker/FilePicker.netstandard.watchos.tvos.cs
  src/Essentials/src/FilePicker/FilePicker.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11921 Update Essentials Geocoding Docs
  src/Essentials/docs/en/Xamarin.Essentials/Geocoding.xml
  src/Essentials/src/Geocoding/Geocoding.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12125 [net6.0]Fix Managing Layout Children
  src/Core/src/Handlers/Layout/LayoutHandler.Tizen.cs
Labels: area/layout 🔲, community ✨, platform/tizen

#11925 Update Essentials Gyroscope API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Gyroscope.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/GyroscopeChangedEventArgs.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/GyroscopeData.xml
  src/Essentials/src/Barometer/Barometer.shared.cs
  src/Essentials/src/Gyroscope/Gyroscope.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12135 Improve BlazorWebView Docs
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/Standard/BlazorWebViewHandler.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
Labels: area/docs 📓, area/blazor 🕸️

#12170 [iOS] Fix crash using DataTemplateSelector CarouselView
  src/Controls/src/Core/Handlers/Items/iOS/ListSource.cs
  src/Controls/tests/DeviceTests/Elements/CarouselView/CarouselViewTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/CarouselView/CarouselViewTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/CarouselView/CarouselViewTests.cs
  src/Controls/tests/DeviceTests/Elements/CarouselView/CarouselViewTests.iOS.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
Labels: t/bug, platform/iOS 🍎, area/collectionview 📃

#12128 [net6.0] [Tizen] Add missing Shell features in Tizen
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Tizen.cs
  src/Controls/src/Core/Handlers/Shell/ShellSectionHandler.Tizen.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/INavigationView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ItemAppearance.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/NavigationContentView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemTemplatedView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemTemplateAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemTemplatedView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellItemTemplateAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSearchItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSearchView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionStackManager.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellView.cs
  src/Controls/src/Core/Platform/Tizen/Extensions/ToolbarExtensions.cs
  src/Controls/src/Core/Platform/Tizen/IconConverter.cs
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Core/src/Platform/Tizen/ColorExtensions.cs
  src/Core/src/Platform/Tizen/MauiSearchBar.cs
  src/Core/src/Platform/Tizen/MauiToolbar.cs
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Shipped.txt
Labels: area/shell 🐢, community ✨, platform/tizen

#11942 Added StartPath to get/set initial BlazorWebView URL
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/IBlazorWebView.cs
  src/BlazorWebView/src/Maui/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/PublicAPI/net/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Maui/Tizen/BlazorWebViewHandler.Tizen.cs
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/WindowsForms/PublicAPI.Unshipped.txt
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/PublicAPI.Unshipped.txt
Labels: area/blazor 🕸️

#11779 [WinUI] Fix the size returned when measuring Frame
  src/Controls/samples/Controls.Sample/Pages/Compatibility/FramePage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/BoxViewPage.xaml
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Windows/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/iOS/FrameRenderer.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/DeviceTests/Elements/Frame/FrameHandlerTest.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.cs
  src/Controls/tests/DeviceTests/Stubs/FrameStub.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/layout 🔲

#12215 Add BlazorWebView binaries to xmldocs artifacts
  eng/cake/dotnet.cake
Labels: area/docs 📓, t/housekeeping ♻︎

#11982 [xamlc] remove `LoadInSeparateAppDomain` and `static` state
  src/Controls/src/Build.Tasks/BindablePropertyReferenceExtensions.cs
  src/Controls/src/Build.Tasks/CompiledConverters/BindablePropertyConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/BoundsTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/BrushTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/ColorTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/ColumnDefinitionCollectionTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/ConstraintTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/CornerRadiusTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/EasingTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/FlexBasisTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/FontSizeTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/GridLengthTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/ImageSourceTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/LayoutOptionsConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/ListStringTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/PointTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/RDSourceTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/RectangleTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/RowDefinitionCollectionTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/StrokeShapeTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/ThicknessTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/TypeTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledConverters/UriTypeConverter.cs
  src/Controls/src/Build.Tasks/CompiledMarkupExtensions/ArrayExtension.cs
  src/Controls/src/Build.Tasks/CompiledMarkupExtensions/DataTemplateExtension.cs
  src/Controls/src/Build.Tasks/CompiledMarkupExtensions/StaticExtension.cs
  src/Controls/src/Build.Tasks/CompiledMarkupExtensions/TypeExtension.cs
  src/Controls/src/Build.Tasks/CompiledValueProviders/SetterValueProvider.cs
  src/Controls/src/Build.Tasks/CompiledValueProviders/StyleSheetProvider.cs
  src/Controls/src/Build.Tasks/CreateObjectVisitor.cs
  src/Controls/src/Build.Tasks/DebugXamlCTask.cs
  src/Controls/src/Build.Tasks/ExpandMarkupsVisitor.cs
  src/Controls/src/Build.Tasks/ILContext.cs
  src/Controls/src/Build.Tasks/MethodDefinitionExtensions.cs
  src/Controls/src/Build.Tasks/ModuleDefinitionExtensions.cs
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
  src/Controls/src/Build.Tasks/SetFieldVisitor.cs
  src/Controls/src/Build.Tasks/SetNamescopesAndRegisterNamesVisitor.cs
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Build.Tasks/SetResourcesVisitor.cs
  src/Controls/src/Build.Tasks/TypeDefinitionExtensions.cs
  src/Controls/src/Build.Tasks/TypeReferenceExtensions.cs
  src/Controls/src/Build.Tasks/VariableDefinitionExtensions.cs
  src/Controls/src/Build.Tasks/XamlCTask.cs
  src/Controls/src/Build.Tasks/XamlCache.cs
  src/Controls/src/Build.Tasks/XamlTask.cs
  src/Controls/src/Build.Tasks/XmlTypeExtensions.cs
  src/Controls/tests/Xaml.UnitTests/CecilExtensionsTests.cs
  src/Controls/tests/Xaml.UnitTests/LoaderTests.cs
  src/Controls/tests/Xaml.UnitTests/XamlC/FieldReferenceExtensionsTests.cs
  src/Controls/tests/Xaml.UnitTests/XamlC/MethodDefinitionExtensionsTests.cs
  src/Controls/tests/Xaml.UnitTests/XamlC/MethodReferenceExtensionsTests.cs
  src/Controls/tests/Xaml.UnitTests/XamlC/ModuleDefinitionExtensionsTests.cs
  src/Controls/tests/Xaml.UnitTests/XamlC/TypeReferenceExtensionsTests.cs
Labels: area/Xaml </>, area/perf 🏎️

#12155 [net7.0] Only add PointerGesture if PointerOver VisualState exists
  src/BlazorWebView/tests/MauiDeviceTests/HandlerTestBase.Android.cs
  src/BlazorWebView/tests/MauiDeviceTests/HandlerTestBase.Windows.cs
  src/BlazorWebView/tests/MauiDeviceTests/HandlerTestBase.iOS.cs
  src/Controls/src/Core/PointerGestureRecognizer.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/View.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/src/Core/VisualStateManager.cs
  src/Controls/tests/Core.UnitTests/PointerGestureRecognizerTests.cs
  src/Controls/tests/Core.UnitTests/ViewUnitTests.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Accessibility/AccessibilityTests.cs
  src/Controls/tests/DeviceTests/Elements/ElementTests.cs
  src/Controls/tests/DeviceTests/MauiProgram.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Android.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Windows.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.iOS.cs
  src/Core/tests/DeviceTests/MauiProgram.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: t/housekeeping ♻︎

#12247 Update Essentials OrientationSensor API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/OrientationSensor.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/OrientationSensorChangedEventArgs.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/OrientationSensorData.xml
  src/Essentials/src/Gyroscope/Gyroscope.shared.cs
  src/Essentials/src/OrientationSensor/OrientationSensor.netstandard.tvos.macos.cs
  src/Essentials/src/OrientationSensor/OrientationSensor.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12245 Update Essentials MediaPicker API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/MediaPicker.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/MediaPickerOptions.xml
  src/Essentials/src/FilePicker/FilePicker.shared.cs
  src/Essentials/src/MediaPicker/MediaPicker.netstandard.watchos.tvos.cs
  src/Essentials/src/MediaPicker/MediaPicker.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12252 Update Essentials Permissions API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/FeatureNotEnabledException.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/FeatureNotSupportedException.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/NotImplementedInReferenceAssemblyException.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/PermissionException.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/PermissionStatus.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/Permissions.xml
  src/Essentials/src/Permissions/Permissions.netstandard.cs
  src/Essentials/src/Permissions/Permissions.shared.cs
  src/Essentials/src/Permissions/Permissions.shared.enums.cs
  src/Essentials/src/Types/Shared/Exceptions.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12310 Update image source after recycling bitmap in custom target
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiCustomViewTarget.java
  src/Core/src/maui.aar
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.Android.cs
Labels: area/image :framed_picture:

#12265 Update Essentials Preferences API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Preferences.xml
  src/Essentials/src/Preferences/Preferences.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12269 Update Essentials Screenshot API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/IScreenshotResult.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/Screenshot.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/ScreenshotFormat.xml
  src/Essentials/src/Screenshot/Screenshot.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎
