Repository dotnet/maui, pull requests merged in 2022-01, with the labels that each got.

#3914 [WinUI] Allow Hot Reload In-App Selector to work with WindowOverlay
  src/Core/src/WindowOverlay/WindowOverlay.Windows.cs
Labels: partner/ui-tools

#3784 Radiobutton Handler
  src/Controls/samples/Controls.Sample/Extensions/GalleryBuilder.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/ContentProperties.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/ContentProperties.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonContentGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonContentGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGalleries.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGroupBindingGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGroupBindingGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGroupGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGroupGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGroupGalleryPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGroupGalleryPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/ScatteredRadioButtonGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/ScatteredRadioButtonGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/TemplateFromStyle.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/TemplateFromStyle.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/ControlsViewModel.cs
  src/Controls/src/Core/HandlerImpl/RadioButton.Impl.cs
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.Android.cs
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.Impl.cs
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.cs
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.iOS.cs
  src/Controls/src/Core/HandlerImpl/Toolbar/Toolbar.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/RadioButton.cs
  src/Controls/src/Core/RadioButtonGroup.cs
  src/Controls/src/Core/RadioButtonGroupController.cs
  src/Core/src/Core/IRadioButton.cs
  src/Core/src/Handlers/Label/LabelHandler.Android.cs
  src/Core/src/Handlers/Label/LabelHandler.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Android.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Standard.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Windows.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.iOS.cs
  src/Core/src/Platform/Android/RadioButtonExtensions.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/Windows/RadioButtonExtensions.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/RadioButton/RadioButtonHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/RadioButton/RadioButtonHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/RadioButton/RadioButtonHandlerTests.cs
  src/Core/tests/DeviceTests/Stubs/RadioButtonStub.cs
Labels: area/controls 🎮

#3825 [core] remove Try/AddHandlers() APIs for linker-friendliness
  src/Controls/samples/Controls.Sample/Controls/BordelessEntry/BordelessEntryServiceBuilder.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Core/src/Hosting/MauiHandlersCollectionExtensions.cs
  src/Core/tests/UnitTests/Hosting/HostBuilderHandlerTests.cs
Labels: t/housekeeping ♻︎

#3873 Ensure that changing RowSpacing/ColumnSpacing invalidates grid
  src/Controls/src/Core/Layout/GridLayout.cs
  src/Controls/tests/Core.UnitTests/Layouts/GridLayoutTests.cs
Labels: area/layout 🔲

#3987 Swipe View Handler
  src/Compatibility/Core/src/Windows/SwipeViewRenderer.cs
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample-net6.csproj
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/CarouselViewGalleries/ExampleTemplateCarousel.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/BasicSwipeGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/HorizontalSwipeThresholdGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/OpenCloseSwipeGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/ResourceSwipeItemsGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeBindableLayoutGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeCarouselViewGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeHorizontalCollectionViewGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeItemPositionGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeItemViewPositionGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeListViewGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeVerticalCollectionViewGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeViewGestureRecognizerGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeViewVisualStatesCollectionGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/VerticalSwipeThresholdGallery.xaml
  src/Controls/samples/Controls.Sample/Resources/Images/books.png
  src/Controls/samples/Controls.Sample/Resources/Images/calculator.png
  src/Controls/src/Core/HandlerImpl/MenuItem.Impl.cs
  src/Controls/src/Core/HandlerImpl/SwipeItem.Impl.cs
  src/Controls/src/Core/HandlerImpl/SwipeItemView.Impl.cs
  src/Controls/src/Core/HandlerImpl/SwipeView.Impl.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/ISwipeItem.cs
  src/Controls/src/Core/MenuItem.cs
  src/Controls/src/Core/Platform/Android/Extensions/ViewExtensions.cs
  src/Controls/src/Core/SwipeItem.cs
  src/Controls/src/Core/SwipeItemView.cs
  src/Controls/src/Core/SwipeItems.cs
  src/Controls/src/Core/SwipeView.cs
  src/Core/src/Core/IMenuElement.cs
  src/Core/src/Core/ISwipeItem.cs
  src/Core/src/Core/ISwipeItemMenuItem.cs
  src/Core/src/Core/ISwipeItemView.cs
  src/Core/src/Core/ISwipeItems.cs
  src/Core/src/Core/ISwipeView.cs
  src/Core/src/Handlers/SwipeView/ISwipeViewHandler.cs
  src/Core/src/Handlers/SwipeView/SwipeItemMenuItemHandler.Android.cs
  src/Core/src/Handlers/SwipeView/SwipeItemViewHandler.Android.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.Android.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.Standard.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.Windows.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.iOS.cs
  src/Core/src/Platform/Android/MauiSwipeView.cs
  src/Core/src/Platform/Android/SwipeViewExtensions.cs
  src/Core/src/Platform/Android/SwipeViewPager.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Primitives/GestureStatus.cs
  src/Core/src/Primitives/OpenSwipeItem.cs
  src/Core/src/Primitives/SwipeBehaviorOnInvoked.cs
  src/Core/src/Primitives/SwipeDirection.cs
  src/Core/src/Primitives/SwipeMode.cs
  src/Core/src/Primitives/SwipeViewCloseRequest.cs
  src/Core/src/Primitives/SwipeViewOpenRequest.cs
  src/Core/src/Primitives/SwipeViewSwipeChanging.cs
  src/Core/src/Primitives/SwipeViewSwipeEnded.cs
  src/Core/src/Primitives/SwipeViewSwipeStarted.cs
  src/Core/src/TaskExtensions.cs
Labels: platform/android 🤖, area/controls 🎮

#2605 Essentials: Port xamarin/Essentials#1846
  src/Essentials/samples/Samples/View/HomePage.xaml
  src/Essentials/src/Contacts/Contacts.ios.macos.cs
  src/Essentials/src/Email/Email.ios.cs
  src/Essentials/src/FilePicker/FilePicker.ios.cs
  src/Essentials/src/MediaPicker/MediaPicker.ios.cs
  src/Essentials/src/Platform/Platform.ios.tvos.watchos.cs
  src/Essentials/src/Sms/Sms.ios.cs
Labels: area/essentials 🍞, community ✨

#3620 [Android] Changes to improve Border control drawing performance
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/Core/src/Handlers/Border/BorderHandler.Android.cs
  src/Core/src/Platform/Android/StrokeExtensions.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️, area/perf 🏎️

#4055 [Housekeeping] Added CSS Brushes sample to the Gallery
  src/Controls/samples/Controls.Sample/Pages/Core/BrushesPage.xaml
Labels: t/housekeeping ♻︎

#3735 WinUI Flyout Handler
  src/Controls/samples/Controls.Sample/Pages/Base/BasePage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/ModalPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/CustomFlyoutPage.xaml
  src/Controls/samples/Controls.Sample/Pages/CustomFlyoutPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/CustomNavigationPage.xaml.cs
  src/Controls/samples/Controls.Sample/Startup.cs
  src/Controls/src/Core/FlyoutPage.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.Android.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.Windows.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.cs
  src/Core/src/Handlers/Window/WindowHandler.Android.cs
  src/Core/src/Handlers/Window/WindowHandler.Windows.cs
  src/Core/src/Platform/Android/MauiContextExtensions.cs
  src/Core/src/Platform/Android/Navigation/NavigationRootManager.cs
  src/Core/src/Platform/ElementExtensions.cs
  src/Core/src/Platform/Windows/MauiNavigationView.cs
  src/Core/src/Platform/Windows/NavigationRootManager.cs
  src/Core/src/Platform/Windows/NavigationRootView.cs
  src/Core/src/Platform/Windows/StackNavigationManager.cs
  src/Core/src/Platform/Windows/Styles/NavigationRootViewStyle.xaml
  src/Core/src/Platform/Windows/WindowHeader.xaml.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.uwp.cs
Labels: area/FlyoutPage

#4133 Invalidate GraphicsView if the FlowDirection changes
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.Android.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.Standard.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.Windows.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.cs
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.iOS.cs
Labels: t/bug, platform/windows 🪟, area/drawing ✏️

#4160 Remove unused WebViewManagerCreated event and types
  src/BlazorWebView/src/Maui/WebViewManagerCreatedEventArgs.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/WindowsForms/WebViewManagerCreatedEventArgs.cs
Labels: area/blazor 🕸️

#4159 Unify Windows shared source for BlazorWebView
  Microsoft.Maui-mac.slnf
  Microsoft.Maui-net6.sln
  Microsoft.Maui.Packages-mac.slnf
  Microsoft.Maui.Packages-net6.slnf
  src/BlazorWebView/src/Maui/Microsoft.AspNetCore.Components.WebView.Maui.csproj
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/Windows/DeferralWrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/CoreWebView2WebResourceContextWrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/ICoreWebView2SettingsWrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/ICoreWebView2WebResourceRequestWrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/ICoreWebView2WebResourceRequestedEventArgsWrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/ICoreWebView2Wrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/IDeferralWrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/IWebView2Wrapper.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/WebMessageReceivedEventArgs.cs
  src/BlazorWebView/src/Maui/Windows/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/Maui/Windows/StaticContentProvider.cs
  src/BlazorWebView/src/Maui/Windows/WinUICoreWebView2SettingsWrapper.cs
  src/BlazorWebView/src/Maui/Windows/WinUICoreWebView2WebResourceRequestWrapper.cs
  src/BlazorWebView/src/Maui/Windows/WinUICoreWebView2WebResourceRequestedEventArgsWrapper.cs
  src/BlazorWebView/src/Maui/Windows/WinUICoreWebView2Wrapper.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebView2Wrapper.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WebView2/CoreWebView2WebResourceContextWrapper.cs
  src/BlazorWebView/src/WebView2/ICoreWebView2SettingsWrapper.cs
  src/BlazorWebView/src/WebView2/ICoreWebView2WebResourceRequestWrapper.cs
  src/BlazorWebView/src/WebView2/ICoreWebView2WebResourceRequestedEventArgsWrapper.cs
  src/BlazorWebView/src/WebView2/ICoreWebView2Wrapper.cs
  src/BlazorWebView/src/WebView2/IWebView2Wrapper.cs
  src/BlazorWebView/src/WebView2/Microsoft.AspNetCore.Components.WebView.WebView2.csproj
  src/BlazorWebView/src/WebView2/WebMessageReceivedEventArgs.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/WindowsForms/Microsoft.AspNetCore.Components.WebView.WindowsForms.csproj
  src/BlazorWebView/src/WindowsForms/WindowsFormsCoreWebView2SettingsWrapper.cs
  src/BlazorWebView/src/WindowsForms/WindowsFormsCoreWebView2WebResourceRequestWrapper.cs
  src/BlazorWebView/src/WindowsForms/WindowsFormsCoreWebView2WebResourceRequestedEventArgsWrapper.cs
  src/BlazorWebView/src/WindowsForms/WindowsFormsCoreWebView2Wrapper.cs
  src/BlazorWebView/src/WindowsForms/WindowsFormsWebView2Wrapper.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/Microsoft.AspNetCore.Components.WebView.Wpf.csproj
  src/BlazorWebView/src/Wpf/WpfCoreWebView2SettingsWrapper.cs
  src/BlazorWebView/src/Wpf/WpfCoreWebView2WebResourceRequestWrapper.cs
  src/BlazorWebView/src/Wpf/WpfCoreWebView2WebResourceRequestedEventArgsWrapper.cs
  src/BlazorWebView/src/Wpf/WpfCoreWebView2Wrapper.cs
  src/BlazorWebView/src/Wpf/WpfWebView2Wrapper.cs
Labels: area/blazor 🕸️

#4064 [iOS] SwipeViewHandler
  src/Compatibility/Core/src/Handlers/ListView/Android/ViewCellRenderer.cs
  src/Compatibility/Core/src/iOS/Extensions/UIViewExtensions.cs
  src/Core/src/Handlers/SwipeView/ISwipeViewHandler.cs
  src/Core/src/Handlers/SwipeView/SwipeItemMenuItemHandler.Android.cs
  src/Core/src/Handlers/SwipeView/SwipeItemMenuItemHandler.iOS.cs
  src/Core/src/Handlers/SwipeView/SwipeItemViewHandler.iOS.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.iOS.cs
  src/Core/src/Platform/Android/MauiSwipeView.cs
  src/Core/src/Platform/SwipeViewExtensions.cs
  src/Core/src/Platform/iOS/MauiSwipeView.cs
  src/Core/src/Platform/iOS/SwipeViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: platform/iOS 🍎, area/SwipeView

#4177 [Windows] Avoid crash using DisconnectHandler method with Layouts
  src/Core/src/Handlers/Layout/LayoutHandler.Windows.cs
Labels: t/bug, platform/windows 🪟

#3709 Clip layouts to bounds
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample-net6.csproj
  src/Controls/samples/Controls.Sample/Pages/Layouts/ClippingPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Layouts/ClippingPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/LayoutsViewModel.cs
  src/Controls/src/Core/HandlerImpl/Layout.Impl.cs
  src/Controls/src/Core/Layout.cs
  src/Controls/src/Core/Layout/Layout.cs
  src/Core/src/Core/ILayout.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Android.cs
  src/Core/src/Handlers/Label/LabelHandler.Windows.cs
  src/Core/src/Handlers/Label/LabelHandler.cs
  src/Core/src/Handlers/Layout/LayoutHandler.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.Windows.cs
  src/Core/src/Handlers/ViewHandlerExtensions.Windows.cs
  src/Core/src/Layouts/HorizontalStackLayoutManager.cs
  src/Core/src/Platform/Android/LayoutViewGroup.cs
  src/Core/src/Platform/Android/LayoutViewGroupExtensions.cs
  src/Core/src/Platform/Standard/ViewExtensions.cs
  src/Core/src/Platform/Windows/LayoutPanel.cs
  src/Core/src/Platform/Windows/LayoutPanelExtensions.cs
  src/Core/src/Platform/iOS/LayoutView.cs
  src/Core/src/Platform/iOS/LayoutViewExtensions.cs
  src/Core/tests/DeviceTests/Stubs/LayoutStub.cs
  src/Core/tests/UnitTests/Layouts/ZIndexTests.cs
Labels: area/layout 🔲

#3865 GridLayout -> Grid to reduce confusion
  src/Controls/samples/Controls.Sample/Pages/Blazor/BlazorPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/CarouselViewGalleries/CarouselItemsGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/CarouselViewGalleries/CarouselSnapGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/CarouselViewGalleries/CollectionCarouselViewGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/ScrollModeGalleries/ScrollModeTestGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/IndicatorPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Layouts/LayoutUpdatesPage.cs
  src/Controls/samples/Controls.Sample/Pages/Layouts/ScrollViewPage.xaml
  src/Controls/src/Core/Layout/AndExpandLayoutManager.cs
  src/Controls/src/Core/Layout/Grid.cs
  src/Controls/src/Core/Layout/GridExtensions.cs
  src/Controls/src/Core/Layout/Shims.cs
  src/Controls/src/Core/Properties/AssemblyInfo.cs
  src/Controls/tests/Core.UnitTests/Layouts/GridExtensionTests.cs
  src/Controls/tests/Core.UnitTests/Layouts/GridLayoutExtensionTests.cs
  src/Controls/tests/Core.UnitTests/Layouts/GridLayoutTests.cs
  src/Essentials/samples/Samples/View/HomePage.xaml
Labels: proposal/open, area/layout 🔲

#4178 [Windows] Fix crash using pan gesture with ScrollView
  src/Controls/src/Core/Platform/GestureManager/GestureManager.Windows.cs
Labels: t/bug, platform/windows 🪟

#4183 Fixes hang waiting for cancelled Essentials TextToSpeech on Android
  src/Essentials/src/TextToSpeech/TextToSpeech.android.cs
Labels: area/essentials 🍞

#4219 Better BlazorWebView Custom IFileProvider design
  src/BlazorWebView/samples/BlazorWinFormsApp/CustomFilesBlazorWebView.cs
  src/BlazorWebView/samples/BlazorWpfApp/CustomFilesBlazorWebView.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/Maui/IBlazorWebView.cs
  src/BlazorWebView/src/Maui/Standard/BlazorWebViewHandler.cs
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
Labels: area/blazor 🕸️

#3575 Button Padding
  src/Controls/samples/Controls.Sample/Converters/ThicknessConverter.cs
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample-net6.csproj
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/XamlApp.xaml
  src/Controls/src/Core/Button.cs
  src/Controls/src/Core/Platform/iOS/Extensions/ButtonExtensions.cs
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
  src/Core/src/Handlers/Button/ButtonHandler.iOS.cs
  src/Core/src/Platform/Android/ButtonExtensions.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
  src/Core/src/Platform/Android/Resources/values/styles.xml
  src/Core/src/Platform/Windows/ControlExtensions.cs
  src/Core/src/Platform/iOS/ButtonExtensions.cs
  src/Core/src/Primitives/Thickness.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.iOS.cs
Labels: area/controls 🎮

#4185 Added dependency to _CollectHotRestartBundleResources for hiding/unhi…
  src/BlazorWebView/src/Maui/build/Microsoft.AspNetCore.Components.WebView.Maui.targets
Labels: area/blazor 🕸️

#3993 [Android] Fix SetSemanticFocus
  src/Core/src/SemanticExtensions.cs
Labels: platform/android 🤖, area/a11y

#4220 Update Maui Graphics and SkiaSharp
  eng/Versions.props
Labels: area/drawing ✏️

#3316 Implement GoBack, GoForward and Reload methods in WebViewHandler
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1666.cs
  src/Compatibility/Core/src/Windows/WebViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/WkWebViewRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml.cs
  src/Controls/src/Core/WebView.cs
  src/Core/src/Core/IWebView.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Standard.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
  src/Core/src/Handlers/WebView/WebViewHandler.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
  src/Core/tests/DeviceTests/Stubs/WebView.cs
Labels: area/controls 🎮

#4289 [Housekeeping] Add pending Core interface comments
  src/Core/src/Core/IAdorner.cs
  src/Core/src/Core/IBorder.cs
  src/Core/src/Core/IFlyoutView.cs
  src/Core/src/Core/ISwipeItem.cs
  src/Core/src/Core/ISwipeItemView.cs
  src/Core/src/Core/ISwipeItems.cs
  src/Core/src/Core/ISwipeView.cs
  src/Core/src/Core/IToolbar.cs
Labels: t/housekeeping ♻︎

#4134 [Android] Fix Switch color issues
  src/Core/src/Handlers/Switch/SwitchHandler.Android.cs
  src/Core/src/Platform/Android/SwitchExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮

#4288 Implement CanGoBack and CanGoForward properties in WebViewHandlers
  src/Compatibility/Core/src/Android/Renderers/WebViewRenderer.cs
  src/Compatibility/Core/src/Windows/WebViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/WkWebViewRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/WebView.Impl.cs
  src/Controls/src/Core/WebView.cs
  src/Core/src/Core/IWebView.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
  src/Core/src/Platform/Android/MauiWebViewClient.cs
  src/Core/src/Platform/Android/WebViewExtensions.cs
  src/Core/src/Platform/Windows/WebViewExtensions.cs
  src/Core/src/Platform/iOS/MauiWebViewNavigationDelegate.cs
  src/Core/src/Platform/iOS/WebViewExtensions.cs
  src/Core/tests/DeviceTests/Stubs/WebView.cs
Labels: partner/webview2, area/controls 🎮

#4158 Update IOSWebViewManager.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
Labels: area/blazor 🕸️, platform/iOS 🍎, s/needs info ❓

#4320 Introduce IPlatformApplication
  src/Core/src/Core/IPlatformApplication.cs
  src/Core/src/Platform/Android/MauiApplication.cs
  src/Core/src/Platform/Windows/MauiWinUIApplication.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.cs
  src/Core/tests/DeviceTests/ApplicationTests.Android.cs
  src/Core/tests/DeviceTests/TestCategory.cs
Labels: partner/ui-tools

#3871 Account for spacing when determining available space for star rows/columns
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#4324 [Housekeeping] Validate Button Command property
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml.cs
Labels: t/housekeeping ♻︎

#4284 Implement Eval method in WebViewHandlers
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml.cs
  src/Controls/src/Core/WebView.cs
  src/Core/src/Core/IWebView.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Standard.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
  src/Core/src/Handlers/WebView/WebViewHandler.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
  src/Core/src/Platform/Android/MauiWebView.cs
  src/Core/src/Platform/Android/WebViewExtensions.cs
  src/Core/src/Platform/Windows/WebViewExtensions.cs
  src/Core/src/Platform/iOS/WebViewExtensions.cs
  src/Core/tests/DeviceTests/Stubs/WebView.cs
Labels: partner/webview2, area/controls 🎮

#4191 [Windows] Fix issue not rendering ProgressBar control
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.Windows.cs
Labels: t/bug, platform/windows 🪟

#4268 Support opening a new window in iOS Blazor WebView
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
Labels: area/blazor 🕸️, platform/iOS 🍎

#4229 [Android] Changes to reduce unnecessary layout requests
  src/Controls/src/Core/Layout/Layout.cs
  src/Core/src/Handlers/ViewHandlerExtensions.Android.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
Labels: area/layout 🔲, platform/android 🤖, partner

#4365 Add `@dotnet/dotnet-maui-blazor-eng` to Blazor Desktop CODEOWNERS
  .github/CODEOWNERS
Labels: area/blazor 🕸️

#4364 Support Blazor Android WebView `Back` Navigation
  src/BlazorWebView/src/Maui/Android/BlazorWebView.Android.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
Labels: area/blazor 🕸️

#4367 Improve consistency with resizetizer
  .nuspec/Microsoft.Maui.Resizetizer.targets
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/tests/MauiDeviceTests/Platforms/Windows/Package.appxmanifest
  src/Controls/samples/Controls.Sample.Profiling/App.xaml
  src/Controls/samples/Controls.Sample.Sandbox/Platforms/Windows/Package.appxmanifest
  src/Controls/samples/Controls.Sample.SingleProject/Platforms/Windows/Package.appxmanifest
  src/Controls/samples/Controls.Sample/Resources/Raw/RawAsset.txt
  src/Controls/samples/Controls.Sample/XamlApp.xaml
  src/Controls/samples/Controls.Sample/XamlApp.xaml.cs
  src/Controls/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Core/src/Fonts/FontRegistrar.Windows.cs
  src/Core/src/Platform/Windows/Styles/WindowRootViewStyle.xaml
  src/Core/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Essentials/samples/Samples/Platforms/Windows/Package.appxmanifest
  src/Essentials/src/AppActions/AppActions.uwp.cs
  src/Essentials/test/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/SingleProject/Resizetizer/src/DpiPath.cs
  src/SingleProject/Resizetizer/src/GetMauiAssetPath.cs
  src/SingleProject/Resizetizer/test/UnitTests/DpiPathTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/GenerateSplashAssetsTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/ResizetizeImagesTests.cs
  src/Templates/src/templates/maui-blazor/App.xaml
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-blazor/Platforms/Windows/Package.appxmanifest
  src/Templates/src/templates/maui-blazor/Resources/Raw/AboutAssets.txt
  src/Templates/src/templates/maui-mobile/App.xaml
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/Platforms/Windows/Package.appxmanifest
  src/Templates/src/templates/maui-mobile/Resources/Raw/AboutAssets.txt
  src/TestUtils/samples/DeviceTests.Sample/Platforms/Windows/Package.appxmanifest
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/MauiVisualRunnerApp.xaml
Labels: t/breaking 💥, area/single project ☝️, platform/windows 🪟

#4382 ScrollView and Activityindicator interfaced Handlers
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.Android.cs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.Standard.cs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.Windows.cs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.cs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.iOS.cs
  src/Core/src/Handlers/ActivityIndicator/IActivityIndicatorHandler.cs
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
  src/Core/src/Handlers/Button/ButtonHandler.cs
  src/Core/src/Handlers/Button/ButtonHandler.iOS.cs
  src/Core/src/Handlers/Button/IButtonHandler.cs
  src/Core/src/Handlers/ScrollView/IScrollViewHandler.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Android.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Standard.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Windows.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
Labels: area/controls 🎮

#4387 Update api-tools to support roll-forward
  .config/dotnet-tools.json
Labels: area/infrastructure 🏗️

#2484 Update template so you can find it under Windows as well
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-lib/.template.config/template.json
  src/Templates/src/templates/maui-mobile/.template.config/template.json
Labels: area/templates 📄, community ✨

#4385 Correctly register DependencyService entries
  src/Compatibility/Core/src/AppHostBuilderExtensions.cs
  src/Controls/samples/Controls.Sample/AppResources.xaml
  src/Controls/samples/Controls.Sample/AppResources.xaml.cs
  src/Controls/samples/Controls.Sample/XamlApp.xaml
Labels: area/hosting 🧩

#4376 [X] add error diagnostics to XamlG sourceGen
  src/Controls/src/SourceGen/AnalyzerReleases.Shipped.md
  src/Controls/src/SourceGen/AnalyzerReleases.Unshipped.md
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/src/SourceGen/Controls.SourceGen.csproj
  src/Controls/src/SourceGen/Descriptors.cs
  src/Controls/src/SourceGen/MauiGResources.Designer.cs
  src/Controls/src/SourceGen/MauiGResources.resx
Labels: area/Xaml </>

#3763 [Catalyst] Fix OnPlatform and OnIdiom on macOS
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml
  src/Controls/src/Core/Device.cs
  src/Controls/src/Xaml/MarkupExtensions/OnPlatformExtension.cs
  src/Essentials/src/DeviceInfo/DeviceInfo.ios.tvos.watchos.cs
  src/Essentials/src/Types/DevicePlatform.shared.cs
Labels: t/bug, platform/macOS 🍏, area/Xaml </>
