Repository dotnet/maui, pull requests merged in 2022-08, with the labels that each got.

#9051 Pin net6 branch
  global.json
Labels: area/infrastructure 🏗️

#8724 Exclude `global.json` from iOS Bundle Resources
  src/BlazorWebView/src/Maui/build/Microsoft.AspNetCore.Components.WebView.Maui.targets
Labels: area/blazor 🕸️

#8854 [Housekeeping] Added more Windows Device Tests (added around 900 tests)
  src/Core/src/Hosting/ImageSources/ImageSourceServiceProviderExtensions.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/Border/BorderHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/BoxView/BoxViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/CheckBox/CheckBoxHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorTextInputTests.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryTextInputTests.cs
  src/Core/tests/DeviceTests/Handlers/GraphicsView/GraphicsViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBase.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Windows.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.cs
  src/Core/tests/DeviceTests/Handlers/Label/LabelHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Label/LabelHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Layout/LayoutHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Navigation/NavigationViewHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/Navigation/NavigationViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Navigation/NavigationViewHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Page/PageHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Picker/PickerHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/ProgressBar/ProgressBarHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/ProgressBar/ProgressBarHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/ProgressBar/ProgressBarHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/ProgressBar/ProgressBarHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/RefreshView/RefreshViewHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/RefreshView/RefreshViewHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/RefreshView/RefreshViewHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Slider/SliderHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Slider/SliderHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Stepper/StepperHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/TextInput/TextInputHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/TimePicker/TimePickerHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/WebView/WebViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Memory/MemoryTestOrdering.cs
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/ViewModels/TestAssemblyViewModel.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
Labels: platform/windows 🪟, t/housekeeping ♻︎

#9124 Fix set the Font to Microsoft.Maui.Graphics.Skia
  src/Graphics/src/Graphics.Skia/SkiaCanvasState.cs
Labels: area/drawing ✏️

#9076 Fixes for case-sensitive filesystems
  src/Compatibility/Core/src/Compatibility.csproj
  src/Controls/Foldable/src/Controls.Foldable.csproj
  src/Controls/src/Core/Controls.Core.csproj
Labels: area/infrastructure 🏗️

#8672 fix tests
  src/Controls/tests/Core.UnitTests/BindingUnitTests.cs
  src/Controls/tests/Core.UnitTests/TypedBindingUnitTests.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#9136 Add public triage information
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/fabricbot.json
  docs/IssueManagementPolicies.md
  docs/README.md
  docs/ReleasePlanning.md
  docs/TriageProcess.md
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#9121 Fix TextColor for SearchBar and CheckBox on Windows
  src/Core/src/Platform/Windows/CheckBoxExtensions.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/tests/DeviceTests/Handlers/HandlerTestBaseOfT.Windows.cs
Labels: area/controls 🎮

#7143 [X] simpilfy and avoid duplication in conversion
  src/Controls/src/Core/BindableProperty.cs
  src/Controls/src/Core/IValueConverterProvider.cs
  src/Controls/src/Core/Interactivity/BindingCondition.cs
  src/Controls/src/Core/Interactivity/PropertyCondition.cs
  src/Controls/src/Core/OnPlatform.cs
  src/Controls/src/Core/Setter.cs
  src/Controls/src/Core/StyleSheets/Style.cs
  src/Controls/src/Core/Xaml/TypeConversionExtensions.cs
  src/Controls/src/Core/Xaml/ValueConverterProvider.cs
  src/Controls/src/Xaml/ApplyPropertiesVisitor.cs
  src/Controls/src/Xaml/MarkupExtensions/AppThemeBindingExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/OnIdiomExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/OnPlatformExtension.cs
Labels: area/perf 🏎️

#9226 Update repro.md
  .github/repro.md
Labels: community ✨

#8947 [VisualDiagnostics] Allow RegisterSourceInfo to update existing targets
  src/Core/src/VisualDiagnostics/VisualDiagnostics.cs
Labels: partner/ui-tools

#8781 Disconnect old handler after setting new handler
  src/Controls/src/Core/HandlerImpl/Element/Element.Impl.cs
  src/Controls/src/Core/HandlerImpl/Shell.Impl.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/HandlerLifeCycleTests.cs
  src/Controls/tests/Core.UnitTests/TestClasses/TestNavigationPage.cs
  src/Core/src/Handlers/Element/ElementHandler.cs
Labels: area/controls 🎮

#9267 Combined Dependabot androidx PR's
  eng/AndroidX.targets
Labels: area/infrastructure 🏗️

#9254 Stop copying content stream in .NET MAUI Blazor Windows
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
Labels: area/blazor 🕸️, 7.0-rc1

#9293 Fix broken fabricbot links
  .github/fabricbot.json
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#9289 Use the versions by maestro
  eng/Microsoft.Extensions.targets
  eng/Versions.props
  src/Essentials/samples/Sample.Server.WebAuthenticator/Essentials.Sample.Server.WebAuthenticator.csproj
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#9195 Add props file that allows us to easily isolate to a single TFM
  .gitignore
  Directory.Build.Override.props.in
  Directory.Build.props
  eng/cake/dotnet.cake
Labels: area/infrastructure 🏗️

#7526 [iOS] Expose ApplicationSignificantTimeChange method in lifecycle events
  src/Controls/samples/Controls.Sample/MauiProgram.cs
  src/Core/src/LifecycleEvents/iOS/iOSLifecycle.cs
  src/Core/src/LifecycleEvents/iOS/iOSLifecycleBuilderExtensions.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: area/lifecycle 🔁, platform/iOS 🍎

#9297 Fix the TFM order for VS
  Directory.Build.props
Labels: area/infrastructure 🏗️

#9215 Fix [Android] CollectionView EmptyView SelectionMode=Single on Android
  src/Controls/src/Core/Platform/Android/Extensions/RecyclerViewExtensions.cs
Labels: area/collectionview 📃, community ✨

#9280 [NET7.0][Tizen] Bump up SamsungTizenSdkPackageVersion
  eng/Versions.props
Labels: community ✨

#6514 [foldable] Package reference instead of project reference
  Microsoft.Maui.Packages-mac.slnf
  Microsoft.Maui.Packages.slnf
  Microsoft.Maui.Samples.slnf
  eng/cake/dotnet.cake
  src/Controls/Foldable/src/Controls.Foldable.csproj
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/samples/Controls.Sample/MauiProgram.cs
  src/Controls/samples/Controls.Sample/Pages/Others/TwoPaneViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Others/TwoPaneViewPage.xaml.cs
Labels: do-not-merge, area/controls 🎮, area/infrastructure 🏗️, control-dualscreen

#9350 Fix incorrect MSBuild property name for catalyst
  Directory.Build.Override.props.in
Labels: t/housekeeping ♻︎

#9361 Pass the correct parameter value to the method
  src/Essentials/src/Preferences/Preferences.uwp.cs
  src/Essentials/test/DeviceTests/Tests/Preferences_Tests.cs
Labels: platform/windows 🪟, area/essentials 🍞, i/regression

#9393 [.NET 6] [Blazor] Account for Maui multi-rid builds (#9348)
  src/BlazorWebView/src/Maui/build/Microsoft.AspNetCore.Components.WebView.Maui.targets
Labels: area/blazor 🕸️

#9342 Convert more Android controls to AppCompat counterparts
  src/Compatibility/Core/src/Android/AppCompat/PickerRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/EditorRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/FormsEditText.cs
  src/Compatibility/Core/src/Android/Renderers/FormsTextView.cs
  src/Compatibility/Core/src/Android/Renderers/SearchBarRenderer.cs
  src/Compatibility/Core/tests/Android/PlatformTestFixture.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/BaseCellView.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/EntryCellEditText.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/EntryCellView.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/TextCellRenderer.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Android.cs
Labels: platform/android 🤖, area/controls 🎮

#9521 Make sure cursor doesn't go out of bounds when setting Entry/Editor text
  src/Controls/src/Core/Platform/Android/Extensions/EditTextExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-entry

#8864 Tooltip Text support for Views
  eng/cake/dotnet.cake
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml
  src/Controls/src/Core/HandlerImpl/Element/Element.Impl.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/ToolTipProperties.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTests.cs
  src/Core/src/Core/IToolTipElement.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Tizen/ViewExtensions.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/src/Primitives/ToolTip.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/View/ViewHandlerTests.cs
  src/Core/tests/DeviceTests/Stubs/StubBase.cs
  src/Core/tests/UnitTests/Layouts/ZIndexTests.cs
Labels: t/enhancement ☀️, area/controls 🎮

#9557 Fix GC issues and cancel button visibility
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiDatePickerDelegate.cs
  src/Core/src/Platform/iOS/MauiSearchBar.cs
  src/Core/src/Platform/iOS/SearchBarExtensions.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Memory/MemoryTestTypes.cs
  src/Core/tests/DeviceTests/Memory/MemoryTests.cs
Labels: area/a11y, control-button

#9534 Get the Mac Catalyst device tests running
  Directory.Build.Override.props.in
  Directory.Build.props
  src/BlazorWebView/tests/MauiDeviceTests/MauiBlazorWebView.DeviceTests.csproj
  src/BlazorWebView/tests/MauiDeviceTests/WebViewHelpers.NetStandard.cs
  src/Controls/samples/Controls.Sample.Profiling/Maui.Controls.Sample.Profiling.csproj
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Page/PageTests.cs
  src/Controls/tests/DeviceTests/Elements/PlatformBehaviorTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellFlyoutTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTests.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTreeTests.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.cs
  src/Controls/tests/DeviceTests/HandlerTestBase.cs
  src/Controls/tests/DeviceTests/Stubs/ContextStub.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/RadioButton/RadioButtonHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/TimePicker/TimePickerHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/TimePicker/TimePickerHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/SolidPaintStub.cs
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/TestUtils/samples/DeviceTests.Sample/TestUtils.DeviceTests.Sample.csproj
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
Labels: platform/macOS 🍏, area/testing

#9584 [Windows] Notify changes in Picker ItemsSource
  src/Controls/src/Core/HandlerImpl/Picker/Picker.Impl.cs
  src/Controls/src/Core/Picker.cs
  src/Core/tests/DeviceTests/Handlers/Picker/PickerHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Stubs/PickerStub.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-picker

#9605 [net7.0] remove $(NoWarn) for AD0001
  Directory.Build.targets
Labels: area/infrastructure 🏗️

#8464 [iOS] Fix Shadow rendering on iOS Border
  src/Core/src/Handlers/View/ViewHandler.iOS.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: t/bug, area/drawing ✏️, platform/iOS 🍎

#9553 [iOS] Fix updating Border Background using VisualStateManager
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: t/bug, area/drawing ✏️, platform/iOS 🍎

#9616 Don't add space around collapsed children when measuring stack layouts
  src/Core/src/Layouts/HorizontalStackLayoutManager.cs
  src/Core/src/Layouts/VerticalStackLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
  src/Core/tests/UnitTests/Layouts/HorizontalStackLayoutManagerTests.cs
  src/Core/tests/UnitTests/Layouts/StackLayoutManagerTests.cs
  src/Core/tests/UnitTests/Layouts/VerticalStackLayoutManagerTests.cs
Labels: area/layout 🔲

#9641 Display orientation should not use window size
  src/Essentials/samples/Samples/Platforms/Android/MainActivity.cs
  src/Essentials/samples/Samples/View/DeviceInfoPage.xaml
  src/Essentials/samples/Samples/ViewModel/DeviceInfoViewModel.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.uwp.cs
Labels: platform/windows 🪟

#9589 Secondary ButtonMask
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla38978.cs
  src/Controls/samples/Controls.Sample/Pages/Core/TapGestureGalleryPage.cs
  src/Controls/samples/Controls.Sample/ViewModels/GesturesViewModel.cs
  src/Controls/src/Core/ButtonsMask.cs
  src/Controls/src/Core/ClickGestureRecognizer.cs
  src/Controls/src/Core/Platform/Android/InnerGestureListener.cs
  src/Controls/src/Core/Platform/Android/PanGestureHandler.cs
  src/Controls/src/Core/Platform/Android/SwipeGestureHandler.cs
  src/Controls/src/Core/Platform/Android/TapGestureHandler.cs
  src/Controls/src/Core/Platform/GestureManager/GestureManager.Android.cs
  src/Controls/src/Core/Platform/GestureManager/GestureManager.Windows.cs
  src/Controls/src/Core/Platform/GestureManager/GestureManager.iOS.cs
  src/Controls/src/Core/Platform/SemanticExtensions.cs
  src/Controls/src/Core/Platform/Windows/VisualElementTracker.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Span.cs
  src/Controls/src/Core/TapGestureRecognizer.cs
  src/Controls/src/Core/TappedEventArgs.cs
  src/Controls/tests/DeviceTests/GestureTests.iOS.cs
  src/Core/src/Platform/Windows/RoutedEventArgsExtensions.cs
Labels: area/Xaml </>

#7841 [MacCatalyst] Fix Button appearance on Catalyst using UIDeviceFamily 6
  src/Core/src/Handlers/Button/ButtonHandler.iOS.cs
Labels: t/bug, do-not-merge, area/desktop 🖥️, control-button

#9682 Reducing the maps API space
  src/Core/maps/src/Handlers/Map/IMapHandler.cs
  src/Core/maps/src/Handlers/Map/MapHandler.Android.cs
  src/Core/maps/src/Handlers/Map/MapHandler.Tizen.cs
  src/Core/maps/src/Handlers/MapElement/IMapElementHandler.cs
  src/Core/maps/src/Handlers/MapElement/MapElementHandler.Tizen.cs
  src/Core/maps/src/Handlers/MapElement/MapElementHandler.cs
  src/Core/maps/src/Handlers/MapPin/IMapPinHandler.cs
  src/Core/maps/src/Handlers/MapPin/MapPinHandler.Tizen.cs
  src/Core/maps/src/Handlers/MapPin/MapPinHandler.cs
  src/Core/maps/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/maps/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
Labels: area/controls 🎮, control-map

#9614 Windows message loop manager
  src/Core/src/Handlers/Window/WindowHandler.Windows.cs
  src/Core/src/Hosting/EssentialsMauiAppBuilderExtensions.cs
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
  src/Core/src/Platform/Windows/NavigationRootManager.cs
  src/Core/src/Platform/Windows/WindowExtensions.cs
  src/Core/src/Platform/Windows/WindowsPlatformMessageIds.cs
  src/Essentials/src/AppInfo/AppInfo.uwp.cs
  src/Essentials/src/DeviceDisplay/DeviceDisplay.uwp.cs
  src/Essentials/src/Platform/ActiveWindowTracker.uwp.cs
  src/Essentials/src/Platform/Platform.shared.cs
  src/Essentials/src/Platform/PlatformMethods.uwp.cs
  src/Essentials/src/Platform/WindowMessageEventArgs.uwp.cs
  src/Essentials/src/Platform/WindowMessageManager.uwp.cs
  src/Essentials/src/Platform/WindowStateManager.uwp.cs
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/test/DeviceTests/Tests/Windows/ActiveWindowTracker_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Windows/BaseWindowMessageManager_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Windows/WindowMessageManager_Tests.cs
  src/Essentials/test/DeviceTests/Utils.cs
Labels: platform/windows 🪟, area/lifecycle 🔁, area/desktop 🖥️

#4942 Enable Window Sizing
  _omnisharp.sln
  src/Controls/samples/Controls.Sample/Pages/Core/MultiWindowPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/MultiWindowPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
  src/Core/src/Core/IWindow.cs
  src/Core/src/Handlers/Window/WindowHandler.Windows.cs
  src/Core/src/Handlers/Window/WindowHandler.cs
  src/Core/src/Handlers/Window/WindowHandler.iOS.cs
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
  src/Core/src/Platform/Windows/WindowExtensions.cs
  src/Core/src/Platform/iOS/MauiUISceneDelegate.cs
  src/Core/src/Platform/iOS/WindowExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/Benchmarks/Stubs/WindowStub.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Platforms/MacCatalyst/Info.plist
  src/Core/tests/DeviceTests/Platforms/MacCatalyst/SceneDelegate.cs
  src/Core/tests/DeviceTests/Stubs/WindowStub.cs
  src/Essentials/src/Platform/PlatformMethods.uwp.cs
  src/Graphics/src/Graphics/Rect.cs
  src/Graphics/src/Graphics/RectF.cs
  src/TestUtils/src/DeviceTests/UINSWindow.iOS.cs
Labels: t/enhancement ☀️, platform/macOS 🍏, platform/windows 🪟, area/desktop 🖥️

#9695 Add Maui project capability for development
  src/Maui.InTree.targets
Labels: t/housekeeping ♻︎

#9735 [Tizen] Update MauiPicker.cs
  src/Core/src/Platform/Tizen/MauiPicker.cs
Labels: area/controls 🎮, community ✨, control-picker

#9205 [xamlc] fix compiled {OnPlatform}
  src/Controls/src/Xaml/SimplifyOnPlatformVisitor.cs
  src/Controls/tests/Xaml.UnitTests/OnPlatformOptimization.xaml
  src/Controls/tests/Xaml.UnitTests/OnPlatformOptimization.xaml.cs
Labels: area/Xaml </>

#9760 Revert "Fix Shadow rendering on iOS Border (#8464)"
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.cs
  src/Controls/tests/DeviceTests/Extensions.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Handlers/View/ViewHandler.iOS.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: area/controls 🎮

#9776 [Maps] Fix initial property set when Map is not ready yet
  src/Core/maps/src/Handlers/Map/MapHandler.Android.cs
Labels: platform/android 🤖

#9509 Update SkiaSharp to the new stable
  NuGet.config
  eng/Versions.props
  src/SingleProject/Resizetizer/test/UnitTests/BaseTest.cs
  src/SingleProject/Resizetizer/test/UnitTests/Resizetizer.UnitTests.csproj
Labels: area/single project ☝️

#9782 Use correct type for template selector on Shell
  src/Controls/src/Core/Handlers/Shell/Windows/ShellFlyoutTemplateSelector.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: area/shell 🐢

#9788 Add Grey color overloads
  src/SingleProject/Resizetizer/src/ColorTable.cs
  src/SingleProject/Resizetizer/test/UnitTests/UtilsTests.cs
Labels: area/single project ☝️

#9807 Add repro link field on issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#9802 Fix unit tests
  src/Controls/tests/Xaml.UnitTests/OnPlatformOptimization.xaml.cs
Labels: t/housekeeping ♻︎

#9797 Correctly size the Android 12 splash screen
  src/SingleProject/Resizetizer/src/GenerateSplashAndroidResources.cs
  src/SingleProject/Resizetizer/test/UnitTests/testdata/androidsplash/maui_splash_image.xml
Labels: area/single project ☝️, platform/android 🤖

#9787 [.NET 6] Backport WinForms & WPF CSS Hot Reload Fixes
  Microsoft.Maui.sln
  src/BlazorWebView/src/SharedSource/AutoCloseOnReadCompleteStream.cs
  src/BlazorWebView/src/SharedSource/StaticContentHotReloadManager.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
Labels: area/blazor 🕸️, feature-blazor-windesktop

#9769 [Tizen] Update handling IconPressed event of MauiToolbar
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellView.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.Tizen.cs
  src/Core/src/Handlers/Toolbar/ToolbarHandler.Tizen.cs
  src/Core/src/Platform/Tizen/MauiFlyoutView.cs
  src/Core/src/Platform/Tizen/MauiTVFlyoutView.cs
  src/Core/src/Platform/Tizen/StackNavigationManager.cs
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
Labels: community ✨, platform/tizen

#9811 [Android] Avoid crash in IsLoaded View extension method (if controls is disposed)
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Windows/FrameworkElementExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: t/bug, platform/android 🤖, high
