Repository dotnet/maui, pull requests merged in 2023-04, with the labels that each got.

#14327 [IntegrationTests] Bump template creation timeout
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Microsoft.Maui.IntegrationTests.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
Labels: area/templates 📄

#14330 Don't update the top tabs frame inside the safe area changed
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRootRenderer.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: area/shell 🐢

#14302 [iOS] Make sure to update the frame of the RefreshView content
  src/Core/src/Platform/iOS/MauiRefreshView.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, control-refreshview

#13824 Refactor keyboard focus code for .NET 8
  src/Controls/src/Core/Entry/Entry.Android.cs
  src/Controls/src/Core/Entry/Entry.Mapper.cs
  src/Controls/src/Core/HandlerImpl/Editor/Editor.Android.cs
  src/Controls/src/Core/HandlerImpl/Editor/Editor.cs
  src/Controls/src/Core/HandlerImpl/SearchBar/SearchBar.Android.cs
  src/Controls/src/Core/HandlerImpl/SearchBar/SearchBar.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.cs
  src/Controls/src/Core/Platform/Android/Extensions/InputViewExtensions.cs
  src/Controls/src/Core/ViewExtensions.cs
  src/Controls/src/Core/VisualElement.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
Labels: area/controls 🎮

#14328 Add top safe area when top tabs are present
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRootRenderer.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
Labels: area/shell 🐢

#14370 [iOS/Catalyst] Fix Shell TitleView rendering issues on iOS 16 (#1283…
  src/Controls/samples/Controls.Sample/Pages/AppShell.xaml
  src/Controls/samples/Controls.Sample/Pages/AppShell.xaml.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
Labels: area/shell 🐢

#14383 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: area/docs 📓, t/housekeeping ♻︎

#14301 [xamlc] fix `assembly=mscorlib` namespaces in `Release` mode
  src/Controls/src/Xaml/XmlTypeXamlExtensions.cs
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/DeviceTests/Elements/RadioButton/RadioButtonTests.cs
  src/Controls/tests/DeviceTests/Elements/RadioButton/RadioButtonUsing.xaml
  src/Controls/tests/DeviceTests/Elements/RadioButton/RadioButtonUsing.xaml.cs
  src/Controls/tests/Xaml.UnitTests/TestXmlnsUsing.xaml
  src/Controls/tests/Xaml.UnitTests/TestXmlnsUsing.xaml.cs
Labels: area/Xaml </>, backport/suggested

#14361 [macOS] Display alert by Window
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Windows.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.iOS.cs
Labels: t/bug, platform/macOS 🍏, area/controls 🎮, control-dialogalert, backport/suggested

#14280 [ios] fix memory leak in `Button`
  src/Controls/tests/DeviceTests/Elements/Button/ButtonTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Extensions.cs
  src/Core/src/Handlers/Button/ButtonHandler.iOS.cs
Labels: area/perf 🏎️, area/controls 🎮

#14405 Hook up CarouselView Scrolled event on Windows
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Windows.cs
Labels: platform/windows 🪟, area/collectionview 📃, backport/suggested, backport/approved

#14399 Propagate title property to catalyst window
  src/Core/src/Handlers/Window/WindowHandler.iOS.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.iOS.cs
Labels: backport/suggested

#14435 [net6.0] Microsoft.Windows.SDK.BuildTools can be transitive
  eng/Microsoft.Extensions.targets
  src/Workload/Microsoft.Maui.Dependencies/Microsoft.Maui.Dependencies.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
Labels: area/infrastructure 🏗️

#14436 [net7.0] Microsoft.Windows.SDK.BuildTools can be transitive
  eng/Microsoft.Extensions.targets
  src/Core/src/Core.csproj
  src/Essentials/src/Essentials.csproj
  src/Graphics/samples/GraphicsTester.WinUI.Desktop/GraphicsTester.WinUI.Desktop.csproj
  src/Graphics/src/Graphics.Win2D/Graphics.Win2D.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
Labels: area/infrastructure 🏗️

#14362 [iOS/Catalyst] Fix clipping issues with some views
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml
  src/Core/src/Platform/iOS/WrapperView.cs
Labels: t/bug, area/drawing ✏️, platform/iOS 🍎

#14483 Remove typo in ResourceDictionary docs
  src/Controls/docs/Microsoft.Maui.Controls/ResourceDictionary.xml
Labels: community ✨

#14466 Refactor the device tests to avoid duplicate tests
  src/Controls/tests/DeviceTests/Elements/Border/BorderTests.cs
  src/Core/tests/DeviceTests.Shared/Core.DeviceTests.Shared.csproj
  src/Core/tests/DeviceTests.Shared/HandlerTests/Focus/FocusHandlerTests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBase.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Android.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Windows.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.iOS.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBasement.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBasementOfT.Android.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBasementOfT.Windows.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBasementOfT.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBasementOfT.iOS.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/TextInput/TextInputHandlerTests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/TextStyle/TextStyleHandlerTests.cs
  src/Core/tests/DeviceTests.Shared/Stubs/ContextStub.cs
  src/Core/tests/DeviceTests.Shared/Stubs/ITextInputStub.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorTextInputTests.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryTextInputTests.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/EditorStub.cs
  src/Core/tests/DeviceTests/Stubs/EntryStub.cs
  src/Core/tests/DeviceTests/Stubs/SearchBarStub.cs
  src/Core/tests/DeviceTests/Stubs/StubPropertyChangedEventArgs.cs
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
Labels: t/housekeeping ♻︎

#14492 [xamlc] fix build error for System.Private.CoreLib
  src/Controls/src/Build.Tasks/XamlCAssemblyResolver.cs
Labels: area/Xaml </>

#14196 Updated Templates for Blazor apps for MacCatalyst
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-blazor/Platforms/MacCatalyst/Entitlements.Debug.plist
  src/Templates/src/templates/maui-blazor/Platforms/MacCatalyst/Entitlements.Release.plist
  src/Templates/src/templates/maui-blazor/Platforms/MacCatalyst/Info.plist
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/Platforms/MacCatalyst/Entitlements.Debug.plist
  src/Templates/src/templates/maui-mobile/Platforms/MacCatalyst/Entitlements.Release.plist
  src/Templates/src/templates/maui-mobile/Platforms/MacCatalyst/Info.plist
Labels: platform/macOS 🍏, area/blazor 🕸️, area/templates 📄, Blazor ❤️ MAUI

#14171 Code generation now supports internal duplicate types
  Microsoft.Maui-dev.sln
  Microsoft.Maui-mac.slnf
  Microsoft.Maui-windows.slnf
  Microsoft.Maui.BuildTasks.slnf
  Microsoft.Maui.sln
  src/Controls/src/Build.Tasks/CompiledMarkupExtensions/StaticExtension.cs
  src/Controls/src/Build.Tasks/ModuleDefinitionExtensions.cs
  src/Controls/src/Build.Tasks/TypeDefinitionExtensions.cs
  src/Controls/src/Build.Tasks/TypeReferenceExtensions.cs
  src/Controls/src/Build.Tasks/XmlTypeExtensions.cs
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/src/Xaml/XamlParser.cs
  src/Controls/tests/Xaml.UnitTests.ExternalAssembly/Issues/Maui14158/Attributes.cs
  src/Controls/tests/Xaml.UnitTests.ExternalAssembly/Issues/Maui14158/PublicTypes.cs
  src/Controls/tests/Xaml.UnitTests.ExternalAssembly/Issues/Maui14158/WithSuffix.cs
  src/Controls/tests/Xaml.UnitTests.InternalsHiddenAssembly/Controls.Xaml.UnitTests.InternalsHiddenAssembly.csproj
  src/Controls/tests/Xaml.UnitTests.InternalsHiddenAssembly/Directory.Build.targets
  src/Controls/tests/Xaml.UnitTests.InternalsHiddenAssembly/Issues/Maui14158/PublicTypes.cs
  src/Controls/tests/Xaml.UnitTests.InternalsHiddenAssembly/Issues/Maui14158/WithSuffix.cs
  src/Controls/tests/Xaml.UnitTests.InternalsHiddenAssembly/XmlnsDefinitionAttribute.cs
  src/Controls/tests/Xaml.UnitTests.InternalsVisibleAssembly/AssemblyInfo.cs
  src/Controls/tests/Xaml.UnitTests.InternalsVisibleAssembly/Controls.Xaml.UnitTests.InternalsVisibleAssembly.csproj
  src/Controls/tests/Xaml.UnitTests.InternalsVisibleAssembly/Directory.Build.targets
  src/Controls/tests/Xaml.UnitTests.InternalsVisibleAssembly/Issues/Maui14158/Attributes.cs
  src/Controls/tests/Xaml.UnitTests.InternalsVisibleAssembly/Issues/Maui14158/InternalVisibleTypes.cs
  src/Controls/tests/Xaml.UnitTests.InternalsVisibleAssembly/Issues/Maui14158/PublicTypes.cs
  src/Controls/tests/Xaml.UnitTests.InternalsVisibleAssembly/Issues/Maui14158/WithSuffix.cs
  src/Controls/tests/Xaml.UnitTests/Controls.Xaml.UnitTests.csproj
  src/Controls/tests/Xaml.UnitTests/Issues/Maui14158/InternalVisibleTypes.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui14158/InternalVisibleTypes.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui14158/PublicTypes.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui14158/PublicTypes.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui14158/WithSuffix.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui14158/WithSuffix.xaml.cs
Labels: area/Xaml </>

#13034 [net7.0] Windows apps do not need GUIDs (remove check)
  src/SingleProject/Resizetizer/src/GeneratePackageAppxManifest.cs
Labels: area/single project ☝️, backport/suggested, backport/approved

#14521 [Windows] Allow early use of DeviceDisplay.Current.MainDisplayInfo
  src/Core/src/Hosting/EssentialsMauiAppBuilderExtensions.cs
  src/Core/src/LifecycleEvents/Windows/WindowsLifecycleBuilderExtensions.cs
  src/Essentials/src/Platform/Platform.shared.cs
  src/Essentials/src/Platform/WindowStateManager.uwp.cs
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/test/DeviceTests/Tests/Windows/ActiveWindowTracker_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Windows/DeviceDisplay_Windows_Tests.cs
Labels: t/bug, platform/windows 🪟, area/essentials 🍞

#14551 [Android] Properly remove the Frame's border thickness
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/src/Core/Frame.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.cs
  src/Core/src/Handlers/ViewHandlerExtensions.Android.cs
Labels: backport/suggested

#13321 [iOS] Fix focus issues with DatePicker and TimePicker
  src/Controls/samples/Controls.Sample/Pages/Controls/DatePickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/DatePickerPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/TimePickerPage.xaml
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiDatePicker.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.cs
Labels: t/bug, area/controls 🎮, control-datetimepicker

#14556 readme spelling correction
  src/Workload/README.md
Labels: area/docs 📓, community ✨

#14329 [controls] fix memory leak in `CollectionView`
  src/Controls/src/Core/Handlers/Items/Android/MauiRecyclerView.cs
  src/Controls/src/Core/Handlers/Items/StructuredItemsViewHandler.Windows.cs
  src/Controls/src/Core/Handlers/Items/iOS/CarouselViewDelegator.cs
  src/Controls/src/Core/Handlers/Items/iOS/GroupableItemsViewDelegator.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewDelegator.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewLayout.cs
  src/Controls/src/Core/Handlers/Items/iOS/LoopObservableItemsSource.cs
  src/Controls/src/Core/Handlers/Items/iOS/ObservableItemsSource.cs
  src/Controls/src/Core/Handlers/Items/iOS/ReorderableItemsViewDelegator.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: area/collectionview 📃

#14567 Add Controls.Compatibility to local cache
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.json
Labels: t/housekeeping ♻︎

#14080 Strong name the build tasks for the IDE
  Directory.Build.props
  eng/ILRepack.exe
  eng/ILRepack.targets
  src/Controls/src/Build.Tasks/Controls.Build.Tasks.csproj
  src/SingleProject/Resizetizer/src/Resizetizer.csproj
  src/SingleProject/Resizetizer/src/ResizetizerPackages.projitems
Labels: area/tooling ⚙️

#14574 Fix android border stroke to use dp vs px
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/src/Core/Frame.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
Labels: area/controls 🎮, control-frame, needs-breaking-change-doc-created

#12227 [Android] Allow to update Entry Background (once established)
  src/Controls/samples/Controls.Sample/Pages/Controls/DatePickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/DatePickerPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/EditorPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EditorPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/TimePickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/TimePickerPage.xaml.cs
  src/Core/src/Graphics/PaintExtensions.Android.cs
  src/Core/src/Graphics/PaintExtensions.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Platform/Android/Resource.designer.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Android.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️, area/controls 🎮

#14614 [net7.0] Try fix ems on net7
  eng/Versions.props
Labels: t/housekeeping ♻︎

#14546 [xaml] fix x:Array and x:Double in Release mode
  src/Controls/src/Xaml/XmlTypeXamlExtensions.cs
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/DeviceTests/Elements/RadioButton/RadioButtonTests.cs
  src/Controls/tests/DeviceTests/Xaml/RadioButtonUsing.xaml
  src/Controls/tests/DeviceTests/Xaml/RadioButtonUsing.xaml.cs
  src/Controls/tests/DeviceTests/Xaml/XamlTests.cs
Labels: area/Xaml </>, backport/suggested

#14610 Add updated WKWebView Inspectable flag
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
Labels: area/blazor 🕸️

#14627 [graphics] fix CA1307 and CA1309 for performance
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/Graphics/src/Graphics/Font.cs
  src/Graphics/src/Graphics/FontSource.cs
  src/Graphics/src/Graphics/Graphics.csproj
  src/Graphics/src/Graphics/PathBuilder.cs
  src/Graphics/src/Graphics/PdfExportContext.cs
  src/Graphics/src/Graphics/Platforms/MaciOS/Text/NSAttributedStringExtension.cs
  src/Graphics/src/Graphics/Text/XmlAttributedTextReader.cs
  src/Graphics/src/Graphics/Text/XmlAttributedTextWriter.cs
Labels: area/drawing ✏️, area/perf 🏎️

#14499 [Tests] Move sample build test to IntegrationTests
  eng/cake/dotnet.cake
  eng/pipelines/handlers.yml
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/SampleTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
Labels: area/infrastructure 🏗️

#14447 Make Benchmarks.Droid runnable as APK for perf testing
  NuGet.config
  src/Core/tests/Benchmarks.Droid/Benchmarks.Droid.csproj
  src/Core/tests/Benchmarks.Droid/MainInstrumentation.cs
Labels: area/perf 🏎️, community ✨

#13716 Allow SearchBar to take full width on Android
  src/Core/src/Platform/Android/MauiSearchView.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.Android.cs
Labels: platform/android 🤖, area/controls 🎮, control-entry

#14650 Fix InputTransparent for layouts
  src/Controls/src/Core/HandlerImpl/Layout/Layout.Android.cs
  src/Controls/src/Core/HandlerImpl/Layout/Layout.Windows.cs
  src/Controls/src/Core/HandlerImpl/Layout/Layout.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.iOS.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Platform/iOS/LayoutView.cs
Labels: area/layout 🔲, backport/suggested, backport/approved

#14639 [Housekeeping] Removed fixed page background color in the Gallery
  src/Controls/samples/Controls.Sample/Pages/Base/BasePage.cs
  src/Controls/samples/Controls.Sample/Pages/MainPage.xaml
  src/Controls/samples/Controls.Sample/Pages/SettingsPage.xaml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#14625 [controls] fix performance issue in {AppThemeBinding}
  src/Controls/src/Core/AppThemeBinding.cs
Labels: area/perf 🏎️, area/collectionview 📃, area/controls 🎮

#14638 [xamlc] enable for $(Configuration) names like ReleaseProd
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/tests/Xaml.UnitTests/MSBuild/MSBuildTests.cs
Labels: area/Xaml </>

#14571 Add Xceed partners
  .github/fabricbot.json
Labels: area/infrastructure 🏗️

#14402 [Core] Fix Border margin issue
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/Borderless.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/Borderless.xaml.cs
  src/Controls/src/Core/Border.cs
Labels: t/bug, area/drawing ✏️, area/controls 🎮, control-border

#14334 [net7.0] Update dependencies from xamarin/xamarin-macios to Xcode 14.3
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/devices/ios.cake
  eng/pipelines/common/variables.yml
  eng/pipelines/device-tests.yml
  eng/pipelines/handlers.yml
  src/Core/src/ImageSources/iOS/ImageSourceExtensions.cs
  src/Core/src/Platform/iOS/LabelExtensions.cs
  src/Core/src/Platform/iOS/MauiWebViewNavigationDelegate.cs
Labels: area/infrastructure 🏗️

#14757 Call the correct Disconnect method from DisconnectHandler
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
Labels: backport/suggested

#14623 Set menuItem show action back to Never
  src/Controls/src/Core/Platform/Android/Extensions/ToolbarExtensions.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Toolbar/ToolbarTests.cs
Labels: backport/suggested

#14216 Use Background as Fill, if Fill is null in Shapes
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ShapeBackgroundGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ShapeBackgroundGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ShapesGallery.cs
  src/Core/src/Graphics/ShapeDrawable.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Android.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Windows.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.iOS.cs
Labels: t/bug, area/drawing ✏️

#14705 Don't measure text spans if type is HTML
  src/Controls/src/Core/HandlerImpl/Label/Label.Android.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
Labels: area/controls 🎮, backport/suggested

#14783 Support reading fonts from files
  src/Core/src/Fonts/FontManager.Windows.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Platforms/Windows/Assets/Fonts/insubfolder.ttf
  src/Core/tests/DeviceTests/Services/FontManagerTests.Windows.cs
  src/Essentials/src/FileSystem/FileSystem.uwp.cs
  src/Essentials/src/FileSystem/FileSystemUtils.uwp.cs
Labels: area/fonts 🅰️

#14701 Correctly re-apply font formatting to HTML text
  src/Controls/src/Core/HandlerImpl/Label/Label.Android.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.Tizen.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.Windows.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
  src/Core/src/Handlers/Label/LabelHandler.iOS.cs
Labels: area/controls 🎮, backport/suggested

#14799 [Android] Avoid OnDestroy lifecycle event firing twice
  src/Core/src/Platform/Android/MauiAppCompatActivity.Lifecycle.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Shipped.txt
Labels: t/bug, platform/android 🤖, area/lifecycle 🔁

#14821 Fix some sample XAML so the text wraps
  src/Controls/samples/Controls.Sample/Pages/Core/WindowTitleBar.xaml
Labels: t/housekeeping ♻︎

#14815 Add some dummy images to the sandbox
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Images/groceries.png
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Images/shopping_cart.png
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Splash/splash.svg
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
Labels: t/housekeeping ♻︎

#14532 [Windows] Update CollectionView changing ItemsLayout
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/AdaptiveCollectionView.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/AdaptiveCollectionView.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/CollectionViewGallery.cs
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.Windows.cs
  src/Controls/src/Core/Handlers/Items/StructuredItemsViewHandler.Windows.cs
  src/Controls/src/Core/Platform/Windows/Extensions/CollectionViewExtensions.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: t/bug, platform/windows 🪟, area/collectionview 📃

#14838 [android] AOT profiles for .NET 8 Preview 4
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui-blazor.aotprofile
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui-blazor.aotprofile.txt
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui.aotprofile
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui.aotprofile.txt
Labels: area/perf 🏎️

#14833 [android] MauiTextView doesn't need ViewAttachedToWindow
  src/Core/src/Platform/Android/MauiTextView.cs
Labels: area/perf 🏎️, area/controls 🎮, control-label
