Repository dotnet/maui, pull requests merged in 2023-05, with the labels that each got.

#14863 [tests] Update timeout for iOS template runs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AppleTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/XHarness.cs
Labels: area/testing

#14843 Backport some net8.0 changes to main
  src/Compatibility/Core/src/iOS/DragAndDropDelegate.cs
  src/Controls/samples/Controls.Sample/MauiProgram.cs
  src/Controls/src/Core/BindableObject.cs
  src/Controls/src/Core/Cells/Cell.cs
  src/Controls/src/Core/FileImageSource.cs
  src/Controls/src/Core/InvalidNavigationException.cs
  src/Controls/src/Core/ListView.cs
  src/Controls/src/Core/Platform/iOS/DragAndDropDelegate.cs
  src/Controls/src/Core/RefreshView.cs
  src/Controls/src/Core/ScrollView.cs
  src/Controls/src/Core/Shell/ShellItem.cs
  src/Controls/src/Core/TableView.cs
  src/Controls/src/Core/TemplatedItemsList.cs
  src/Controls/src/Core/UnsolvableConstraintsException.cs
  src/Controls/src/Core/XamlParseException.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.cs
  src/Core/src/Platform/HandlerNotFoundException.cs
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#14371 Adding ContentInsets to iOS Keyboard Scrolling
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry, keyboard

#14852 Removing skip attribute from SearchBarHandlerTests.CancelButtonColorInitializeCorrectly on Windows
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.cs
Labels: t/housekeeping ♻︎

#14830 [controls] improve performance of {Binding}
  src/Controls/src/Core/BindingExpression.cs
  src/Core/tests/Benchmarks/Benchmarks/BindingBenchmarker.cs
Labels: area/perf 🏎️

#14410 [Android] Fix gestures in Label Spans
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/Label/Label.Android.cs
  src/Controls/src/Core/Platform/Android/Extensions/FormattedStringExtensions.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Android.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Region.cs
  src/Core/tests/DeviceTests.Shared/Stubs/ContextStub.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-label, area/gestures

#14798 [Housekeeping] Added sample to the Gallery to validate shape invalidations clipping
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/InvalidateClipGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/InvalidateClipGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ShapesGallery.cs
Labels: area/drawing ✏️, t/housekeeping ♻︎

#14382 [Android] Fix Entry issues with Keyboard using IsPassword
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Core/src/Platform/Android/EditTextExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Android.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-entry, keyboard

#14900 [core] use StringComparer for Dictionary/HashSet
  src/BlazorWebView/src/Maui/Tizen/BlazorWebViewHandler.Tizen.cs
  src/BlazorWebView/src/Maui/Windows/StaticContentProvider.cs
  src/Compatibility/Core/src/Android/Renderers/FormsVideoView.cs
  src/Compatibility/Core/src/Tizen/Renderers/VisualElementRenderer.cs
  src/Compatibility/Core/src/WPF/Extensions/FontExtensions.cs
  src/Controls/src/Build.Tasks/PerformanceProvider.cs
  src/Controls/src/Core/AppLinkEntry.cs
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/DragAndDrop/DataPackagePropertySet.cs
  src/Controls/src/Core/HandlerImpl/Application/Application.Impl.cs
  src/Controls/src/Core/Internals/NameScope.cs
  src/Controls/src/Core/Registrar.cs
  src/Controls/src/Core/ResourceDictionary.cs
  src/Controls/src/Core/ResourcesExtensions.cs
  src/Controls/src/Core/Routing.cs
  src/Controls/src/Core/Shell/ShellNavigationManager.cs
  src/Controls/src/Core/StyleSheets/Style.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/src/Core/VisualStateManager.cs
  src/Controls/src/Xaml/XamlServiceProvider.cs
  src/Core/src/CommandMapper.cs
  src/Core/src/Fonts/FontRegistrar.cs
  src/Core/src/HotReload/HotReloadHelper.cs
  src/Core/src/LifecycleEvents/LifecycleEventService.cs
  src/Core/src/PropertyMapper.cs
  src/Core/src/WeakEventManager.cs
  src/Essentials/src/TextToSpeech/TextToSpeech.android.cs
  src/Essentials/src/Types/Shared/WebUtils.shared.cs
  src/Essentials/src/VersionTracking/VersionTracking.shared.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticatorResult.shared.cs
  src/Graphics/src/Graphics/Text/TextColors.cs
  src/Graphics/src/Text.Markdig/Renderer/SimpleCssParser.cs
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/TizenResourceXmlGenerator.cs
Labels: area/perf 🏎️

#14391 [Windows] Fix CollectionView.RemainingItemsThresholdReached
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.Windows.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Windows.cs
Labels: platform/windows 🪟, area/collectionview 📃

#14937 Updated info around the Task return type
  src/Core/src/Dispatching/DispatcherExtensions.cs
Labels: community ✨

#14971 Update XamlParseExceptionConstraint.cs(removed unused method)
  src/Controls/tests/Xaml.UnitTests/XamlParseExceptionConstraint.cs
Labels: community ✨

#14453 [iOS] Fix Label Truncation on iOS with HorizontalOptions
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
  src/Core/src/Platform/iOS/MauiLabel.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-label

#11763 [Android] Fix CollectionView EmptyView
  src/Controls/src/Core/Handlers/Items/Android/Adapters/EmptyViewAdapter.cs
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.Android.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: t/bug, platform/android 🤖, area/collectionview 📃

#14980 [android] improve layout performance of Label
  src/Core/src/Handlers/ViewHandlerExtensions.Android.cs
Labels: area/perf 🏎️, area/controls 🎮, control-label

#12909 Fix Layout issues with the details page on Flyout
  src/Controls/src/Core/Compatibility/Handlers/FlyoutPage/iOS/PhoneFlyoutPageRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.iOS.cs
Labels: t/breaking 💥, area/layout 🔲, partner/cat 😻, needs-breaking-change-doc-created

#14867 Remove view from previous containerview
  src/Controls/samples/Controls.Sample/Pages/Core/ModalPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/NavigationPage/NavigationPage.Impl.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/src/Core/NavigationPageToolbar.cs
  src/Controls/tests/Core.UnitTests/ToolbarTests.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Toolbar/ToolbarTests.cs
  src/Controls/tests/DeviceTests/TestCases/ControlsPageTypesTestCases.cs
  src/Core/src/Platform/Android/ContainerView.cs
  src/Core/src/Platform/Android/Navigation/NavigationRootManager.cs
Labels: platform/android 🤖, partner/cat 😻

#15022 Make layout honor MaxWidth and MaxHeight requests
  src/Core/src/Layouts/LayoutExtensions.cs
  src/Core/tests/UnitTests/Layouts/LayoutExtensionTests.cs
Labels: area/layout 🔲

#14874 [Android] Correctly notify ImageButton border changes
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml
  src/Controls/src/Core/HandlerImpl/ImageButton/ImageButton.Impl.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: t/bug, t/housekeeping ♻︎, area/controls 🎮, control-button

#13267 Set Icon to null and back again, working around Android issue
  src/Controls/src/Core/Platform/Android/Extensions/ButtonExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.Android.cs
Labels: platform/android 🤖, area/controls 🎮, control-button

#12011 CollectionView - Recycle DataTemplates when using template selector
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/DataTemplateSelectorGalleries/VariedSizeDataTemplateSelectorGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/DataTemplateSelectorGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/DataTemplateSelectorGallery.xaml.cs
  src/Controls/src/Core/DataTemplate.cs
  src/Controls/src/Core/Handlers/Items/Android/Adapters/CarouselViewAdapter.cs
  src/Controls/src/Core/Handlers/Items/Android/Adapters/ItemsViewAdapter.cs
  src/Controls/src/Core/Handlers/Items/iOS/CarouselViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: area/collectionview 📃

#15120 Add full list of MAUI versions to bug-report issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: area/infrastructure 🏗️, community ✨

#14568 [iOS] Normalize the orientation from MediaPicker photos
  src/Essentials/src/FileSystem/FileSystem.ios.cs
Labels: t/bug, platform/iOS 🍎, area/essentials 🍞

#15117 [workload] add metadata about .NET 6 EOL
  src/Workload/Microsoft.Maui.Sdk/Sdk/AutoImport.in.props
Labels: area/setup 🪄

#14951 Make CollectionView on iOS measure to content size
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.iOS.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewSizingTestCase.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: area/collectionview 📃

#15143 Account for padding when expanding * rows/columns to new sizes
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#15010 [Android] Allow to use system fonts
  src/Core/src/Fonts/FontManager.Android.cs
  src/Core/tests/DeviceTests/Services/FontManagerTests.Android.cs
Labels: t/bug, platform/android 🤖, area/fonts 🅰️

#15119 Tests and fixes to verify that spanned views are including spacing in measurements
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#15220 [shell] [windows] fix NRE when clearing shell items
  src/Controls/src/Core/Handlers/Shell/ShellSectionHandler.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: platform/windows 🪟, area/shell 🐢, partner/hot-reload-xaml

#14109 Fixed Android's StreamImageSourceService.LoadDrawableAsync()
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.cs
  src/Controls/tests/DeviceTests/Resources/Images/red-embedded.png
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiCustomViewTarget.java
  src/Core/src/ImageSources/StreamImageSourceService/StreamImageSourceService.Android.cs
Labels: area/image :framed_picture:

#15218 Implements Color.Equal() correctly
  src/Graphics/src/Graphics/Color.cs
  src/Graphics/tests/Graphics.Tests/ColorTypeConverterTests.cs
Labels: area/drawing ✏️

#15187 Fix Android WebAuth callback for system browser flows
  src/Essentials/src/WebAuthenticator/WebAuthenticator.android.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.shared.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticatorCallbackActivity.android.cs
Labels: area/essentials 🍞

#15275 Set DOTNET_gcServer
  eng/cake/dotnet.cake
  eng/cake/helpers.cake
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/SampleTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/TestEnvironment.cs
Labels: area/infrastructure 🏗️

#15298 Enable parallel builds back
  eng/cake/dotnet.cake
Labels: area/infrastructure 🏗️

#15245 Improved WebUtils.ParseQueryString()
  src/Essentials/src/Types/Shared/WebUtils.shared.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticatorResult.shared.cs
  src/Essentials/test/DeviceTests/Tests/WebAuthenticator_Tests.cs
Labels: area/essentials 🍞

#15274 [net7.0] [Android] Disable caching when loading images from streams
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.Android.cs
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/src/maui.aar
Labels: area/image :framed_picture:

#15250 [net7.0] [Windows] Notify changes in CollectionView Layouts
  src/Controls/src/Core/Handlers/Items/StructuredItemsViewHandler.Windows.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: area/collectionview 📃

#15277 Update cake scripts
  build.cake
  eng/cake/dotnet.cake
  eng/cake/helpers.cake
  eng/devices/android.cake
  eng/devices/catalyst.cake
  eng/devices/ios.cake
  eng/devices/windows.cake
Labels: area/infrastructure 🏗️

#15238 Set Version for Windows
  src/Core/src/nuget/buildTransitive/WinUI.targets
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Sdk.Before.targets
Labels: backport/suggested

#15334 [CI] Remove the template explosion in the CI via a matrix
  eng/pipelines/common/device-tests.yml
Labels: area/infrastructure 🏗️

#15246 Fix issue with CollectionView ignoring margins for content
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.iOS.cs
  src/Core/src/Handlers/ViewHandlerExtensions.iOS.cs
Labels: area/collectionview 📃

#15352 [net8.0] Add insertion back
  eng/pipelines/maui-release.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#15351 [release/8.0.1xx-preview5 ] Update stable version of net7
  eng/Versions.props
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#15353 Fix UItests scripts
  eng/devices/catalyst.cake
  eng/devices/windows.cake
Labels: t/housekeeping ♻︎
