Repository dotnet/maui, pull requests merged in 2023-01, with the labels that each got.

#12258 Allow CommunityToolkit to avoid reflection to access the CollectionView controller
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.iOS.cs
Labels: area/collectionview 📃, community ✨

#12321 Initial Commit for third party notice file
  Directory.Build.props
  Directory.Build.targets
  THIRD-PARTY-NOTICES.TXT
Labels: area/infrastructure 🏗️

#11804 [Android] Setup `Frame` with all of the missing `Mapper` methods
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameHandlerTest.Android.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameHandlerTest.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
Labels: area/controls 🎮

#12360 Update Essentials SecureStorage API Docs
  src/Essentials/docs/en/Xamarin.Essentials/SecureStorage.xml
  src/Essentials/src/SecureStorage/SecureStorage.android.cs
  src/Essentials/src/SecureStorage/SecureStorage.ios.tvos.watchos.macos.cs
  src/Essentials/src/SecureStorage/SecureStorage.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12453 Update to stable version branding
  GitInfo.txt
Labels: area/infrastructure 🏗️

#8651 [Android] Fix crash in SwipeView collapsing ListView groups
  src/Core/src/Platform/Android/MauiSwipeView.cs
Labels: platform/android 🤖, area/controls 🎮

#12418 Ensure image creation on any thread
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/GraphicsView/GraphicsViewHandlerTests.cs
  src/Core/tests/DeviceTests/Resources/Raw/black.png
  src/Core/tests/DeviceTests/Resources/Raw/blue.png
  src/Core/tests/DeviceTests/Resources/Raw/green.png
  src/Core/tests/DeviceTests/Resources/Raw/red.png
  src/Core/tests/DeviceTests/Resources/Raw/white.png
  src/Graphics/src/Graphics.Win2D/W2DGraphicsService.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/CaptureHelper.Windows.cs
Labels: area/drawing ✏️

#11981 Address Android SearchBar keyboard issue relating to TextTransform
  src/Controls/src/Core/Platform/Android/Extensions/SearchViewExtensions.cs
Labels: area/controls 🎮

#12456 [net6.0] Updating Windows App SDK version to 1.1.5
  eng/Versions.props
Labels: area/infrastructure 🏗️, community ✨

#12356 Give fallback width/height for Shapes prior to layout
  src/Controls/src/Core/HandlerImpl/Ellipse.Impl.cs
  src/Controls/src/Core/HandlerImpl/Rectangle.Impl.cs
  src/Controls/src/Core/HandlerImpl/RoundRectangle.Impl.cs
  src/Controls/src/Core/Shapes/Shape.cs
  src/Controls/tests/DeviceTests/Elements/Border/BorderTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBase.cs
Labels: area/drawing ✏️

#12471 Use an older version of Json to match VS
  src/SingleProject/Resizetizer/src/ResizetizerPackages.projitems
Labels: area/single project ☝️

#12412 Remove old versions from bug template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: area/infrastructure 🏗️

#12517 Fixed a typo on the Display Info Width documentation
  src/Essentials/docs/Microsoft.Maui.Essentials/DisplayInfo.xml
  src/Essentials/docs/en/Xamarin.Essentials/DisplayInfo.xml
Labels: area/docs 📓, community ✨

#12518 [iOS] ItemsViewController add `_measurementCells` null checks
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
Labels: platform/iOS 🍎, area/collectionview 📃

#12530 Disable WinUI optional extras by default
  .nuspec/Microsoft.Maui.Controls.SingleProject.props
Labels: platform/windows 🪟, t/housekeeping ♻︎

#11936 Update Essentials Map API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Map.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/MapLaunchOptions.xml
  src/Essentials/src/Map/Map.netstandard.tvos.cs
  src/Essentials/src/Map/Map.shared.cs
  src/Essentials/src/Map/MapLaunchOptions.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#11414 Update Essentials Compass API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Compass.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/CompassChangedEventArgs.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/CompassData.xml
  src/Essentials/src/Compass/Compass.ios.cs
  src/Essentials/src/Compass/Compass.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎, area/essentials 🍞

#12253 Update Essentials PhoneDialer API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/PhoneDialer.xml
  src/Essentials/src/PhoneDialer/PhoneDialer.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12102 Notify CheckBox Foreground update after Color changed (alternative)
  src/Controls/samples/Controls.Sample/Pages/Controls/CheckBoxPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CheckBoxPage.xaml.cs
  src/Controls/src/Core/ColorElement.cs
  src/Controls/src/Core/HandlerImpl/CheckBox/CheckBox.Impl.cs
  src/Controls/src/Core/HandlerImpl/CheckBox/CheckBox.cs
  src/Controls/src/Core/HandlerImpl/IMapColorPropertyToPaint.cs
  src/Core/tests/DeviceTests/Handlers/CheckBox/CheckBoxHandlerTests.Android.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-checkbox

#12529 Update Essentials Vibration API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Vibration.xml
  src/Essentials/src/Vibration/Vibration.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎, community ✨

#12554 Revert "Update dependencies from xamarin/xamarin-macios"
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/variables.yml
Labels: area/infrastructure 🏗️

#12157 [net7.0] [Tizen] Add missing Shell features in Tizen
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Tizen.cs
  src/Controls/src/Core/Handlers/Shell/ShellSectionHandler.Tizen.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/INavigationView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ItemAppearance.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/NavigationContentView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemTemplatedView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemTemplateAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemTemplatedView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellItemTemplateAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSearchItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSearchView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionStackManager.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellView.cs
  src/Controls/src/Core/Platform/Tizen/Extensions/ToolbarExtensions.cs
  src/Controls/src/Core/Platform/Tizen/IconConverter.cs
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/Platform/Tizen/ColorExtensions.cs
  src/Core/src/Platform/Tizen/MauiSearchBar.cs
  src/Core/src/Platform/Tizen/MauiToolbar.cs
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
Labels: area/shell 🐢, community ✨, platform/tizen

#12472 [net7.0] Use older versions to match msbuild in VS
  src/SingleProject/Resizetizer/src/ResizetizerPackages.projitems
Labels: area/single project ☝️

#12514 [Windows] Fix Slider crash using the same Minimum, Maximum value
  src/Controls/samples/Controls.Sample/Pages/Controls/SliderPage.xaml
  src/Core/src/Platform/Windows/SliderExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Slider/SliderHandlerTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-slider

#12528 Update Essentials VersionTracking API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/VersionTracking.xml
  src/Essentials/src/VersionTracking/VersionTracking.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎, community ✨

#12357 Add more logging for BlazorWebView
  src/BlazorWebView/samples/BlazorWinFormsApp/BlazorWinFormsApp.csproj
  src/BlazorWebView/samples/BlazorWinFormsApp/Form1.cs
  src/BlazorWebView/samples/BlazorWpfApp/BlazorWpfApp.csproj
  src/BlazorWebView/samples/BlazorWpfApp/MainWindow.xaml.cs
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/Android/WebKitWebViewClient.cs
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/Log.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
  src/Controls/samples/Controls.Sample/MauiProgram.cs
Labels: area/blazor 🕸️

#12568 Fix shapes and maps types collisions on XAML
  src/Controls/Maps/src/Properties/AssemblyInfo.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/MapsGalleries/BasicMapGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/MapsGalleries/CircleGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/MapsGalleries/MapPinsGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/MapsGalleries/MapTypeGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/MapsGalleries/PinItemsSourceGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/MapsGalleries/PolygonsGallery.xaml
Labels: t/bug, t/breaking 💥, area/Xaml </>, area/Maps🗺

#10948 Remove gesture from page that interferes with accessibility
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.iOS.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.iOS.cs
  src/Core/src/Handlers/Page/PageHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiSearchBar.cs
  src/Core/src/Platform/iOS/MauiTextField.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
  src/Core/src/Platform/iOS/ResignFirstResponderTouchGestureRecognizer.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Memory/MemoryTestTypes.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/a11y, area/gestures

#12601 Add PublicAPI to the Graphics projects
  Directory.Build.props
  src/Graphics/src/Graphics.Skia.GtkSharp/Graphics.Skia.GtkSharp.csproj
  src/Graphics/src/Graphics.Skia.GtkSharp/PublicAPI/netstandard/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia.GtkSharp/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Skia.WPF/Graphics.Skia.WPF.csproj
  src/Graphics/src/Graphics.Skia.WPF/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia.WPF/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Skia/Graphics.Skia.csproj
  src/Graphics/src/Graphics.Skia/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-macos/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-macos/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/netstandard/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Skia/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics.Win2D/Graphics.Win2D.csproj
  src/Graphics/src/Graphics.Win2D/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics.Win2D/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/Graphics.csproj
  src/Graphics/src/Graphics/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-macos/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-macos/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/netstandard/PublicAPI.Shipped.txt
  src/Graphics/src/Graphics/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Graphics/src/Text.Markdig/Graphics.Text.Markdig.csproj
  src/Graphics/src/Text.Markdig/PublicAPI/netstandard/PublicAPI.Shipped.txt
  src/Graphics/src/Text.Markdig/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: t/housekeeping ♻︎

#12673 Mark ISecureStorage- and SecureStorage.GetAsync returning a nullable string.
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Essentials/src/SecureStorage/SecureStorage.shared.cs
Labels: community ✨

#12718 [Actions] Provide an actin that will bump the maui hash in the unified pipeline.
  .github/workflows/sdk-insertion-bump.yml
Labels: community ✨

#12713 Update Essentials Contact objects API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Contact.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/ContactEmail.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/ContactPhone.xml
  src/Essentials/src/Types/Contact.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12736 Fix typo in repro.md.
  .github/repro.md
Labels: t/housekeeping ♻︎

#12108 Attach the gestures to the correct (container or platform) view
  src/Controls/src/Core/Platform/GestureManager/GestureManager.iOS.cs
  src/Controls/tests/DeviceTests/Elements/View/ViewTests.cs
  src/Controls/tests/DeviceTests/Elements/View/ViewTests.iOS.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBase.cs
Labels: area/Xaml </>

#12481 Generate everything splash related in the splash target
  .nuspec/Microsoft.Maui.Resizetizer.targets
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/samples/Controls.Sample/Resources/Splash/dotnet_splash.svg
  src/SingleProject/Resizetizer/src/AppleIconAssetsGenerator.cs
  src/SingleProject/Resizetizer/src/GeneratePackageAppxManifest.cs
  src/SingleProject/Resizetizer/src/GenerateSplashAndroidResources.cs
  src/SingleProject/Resizetizer/src/GenerateSplashAssets.cs
  src/SingleProject/Resizetizer/src/GenerateSplashStoryboard.cs
  src/SingleProject/Resizetizer/src/ResizeImageInfo.cs
  src/SingleProject/Resizetizer/src/Resizer.cs
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/Resources/MauiSplash.storyboard
  src/SingleProject/Resizetizer/test/UnitTests/GenerateSplashAndroidResourcesTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/GenerateSplashStoryboardTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/imageresults/GenerateSplashAndroidResourcesTests/SingleImageNoResizeSucceeds/output.png
Labels: area/single project ☝️

#12730 Initial code for replacing the deployment manager
  .nuspec/Microsoft.Maui.Controls.SingleProject.props
  src/Core/src/Platform/Windows/DeploymentManagerAutoInitializer.cs
  src/Core/src/Platform/Windows/MauiWinUIApplication.cs
Labels: t/housekeeping ♻︎

#12738 Update sdk-insertion-bump.yml
  .github/workflows/sdk-insertion-bump.yml
Labels: t/housekeeping ♻︎

#12363 Fix timing on iOS Toolbar
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/SlideFlyoutTransition.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/UIContainerView.cs
  src/Controls/src/Core/Compatibility/iOS/Extensions/UIViewExtensions.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/src/Core/ShellToolbar.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellFlyoutTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/shell 🐢, area/toolbar

#12724 Update SemanticScreenReader API Docs
  src/Essentials/src/SemanticScreenReader/SemanticScreenReader.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12722 Update Essentials Share API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Share.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/ShareFile.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/ShareFileRequest.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/ShareMultipleFilesRequest.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/ShareRequestBase.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/ShareTextRequest.xml
  src/Essentials/src/Share/Share.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12794 [Actions] Use the default github token.
  .github/workflows/sdk-insertion-bump.yml
Labels: community ✨

#12756 Prevent mobile and lib templates from opening editors if in VS
  src/Templates/src/templates/maui-lib/.template.config/template.json
  src/Templates/src/templates/maui-mobile/.template.config/template.json
Labels: community ✨

#12788 Revert "Fix timing on iOS Toolbar (#12363)"
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/SlideFlyoutTransition.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/UIContainerView.cs
  src/Controls/src/Core/Compatibility/iOS/Extensions/UIViewExtensions.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/src/Core/ShellToolbar.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellFlyoutTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: platform/iOS 🍎, t/housekeeping ♻︎

#12774 [Windows] Fix crash disconnecting CollectionView
  src/Controls/src/Core/Handlers/Items/SelectableItemsViewHandler.Windows.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.iOS.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
Labels: t/bug, platform/windows 🪟, area/collectionview 📃

#10812 Generate unique filenames for iOS splash screens
  .nuspec/Microsoft.Maui.Resizetizer.targets
Labels: area/single project ☝️

#12792 Fix password placeholder font issue on Android
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: area/controls 🎮

#12813 Add more Essentials Permissions API Docs
  src/Essentials/src/Permissions/Permissions.ios.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.macos.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.watchos.cs
  src/Essentials/src/Permissions/Permissions.ios.watchos.cs
  src/Essentials/src/Permissions/Permissions.netstandard.cs
  src/Essentials/src/Permissions/Permissions.shared.cs
  src/Essentials/src/Permissions/Permissions.uwp.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12259 Connect gestures LifeCycle to Container and Window
  src/Controls/src/Core/HandlerImpl/Element/Element.Impl.cs
  src/Controls/src/Core/HandlerImpl/View/View.Impl.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.cs
  src/Controls/src/Core/IControlsElement.cs
  src/Controls/src/Core/IControlsView.cs
  src/Controls/src/Core/IControlsVisualElement.cs
  src/Controls/src/Core/Platform/GestureManager/GestureManager.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Android.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Standard.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Tizen.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.iOS.cs
  src/Controls/src/Core/Platform/Windows/VisualElementTracker.cs
  src/Controls/src/Core/Properties/AssemblyInfo.cs
  src/Controls/src/Core/View.cs
  src/Controls/tests/Core.UnitTests/Gestures/DragGestureRecognizerTests.cs
  src/Controls/tests/Core.UnitTests/Gestures/DropGestureRecognizerTests.cs
  src/Controls/tests/Core.UnitTests/Gestures/GestureManagerTests.cs
  src/Controls/tests/Core.UnitTests/Gestures/PinchGestureRecognizerTests.cs
  src/Controls/tests/Core.UnitTests/Gestures/PointerGestureRecognizerTests.cs
  src/Controls/tests/Core.UnitTests/Gestures/SwipeGestureRecognizerTests.cs
  src/Controls/tests/Core.UnitTests/Gestures/TapGestureRecognizerTests.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
  src/Controls/tests/DeviceTests/Elements/View/ViewTests.iOS.cs
  src/Controls/tests/DeviceTests/GestureTests.iOS.cs
Labels: area/lifecycle 🔁

#12810 Update sdk-insertion-bump.yml
  .github/workflows/sdk-insertion-bump.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#12855 [Actions] Update the action to use a new PAT and be able to trigger it manually
  .github/workflows/sdk-insertion-bump.yml
Labels: community ✨

#12582 Internalize MessagingCenter
  src/Controls/src/Core/MessagingCenter.cs
  src/Controls/src/Core/Properties/AssemblyInfo.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: t/breaking 💥, t/housekeeping ♻︎, needs-breaking-change-doc-created

#12856 [build] Fix maui-release
  eng/pipelines/maui-release.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#12870 [Action] Fix manual trigger.
  .github/workflows/sdk-insertion-bump.yml
Labels: community ✨

#12871 [Actions] Github actions do not support double quotes on expressions.
  .github/workflows/sdk-insertion-bump.yml
Labels: community ✨

#12869 Update HOWTOBUILD for MAUI
  src/Core/AndroidNative/HOWTOBUILD
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#12811 [Windows] Fix default item min height in CollectionView
  src/Controls/src/Core/Handlers/Items/StructuredItemsViewHandler.Windows.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/collectionview 📃

#12634 Allow to dynamically add/remove the Frame content
  src/Controls/samples/Controls.Sample/Pages/Compatibility/FramePage.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/FramePage.xaml.cs
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Windows/FrameRenderer.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.cs
Labels: t/bug, area/controls 🎮, control-frame

#12885 Use the CommunityToolkit.Mvvm messenger instead of MessagingCenter in the samples
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselXamlGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/ExampleTemplateCarousel.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/ItemsSourceGenerator.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/CustomSwipeItemViewGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/ResourceSwipeItemsGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeBindableLayoutGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeCarouselViewGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeHorizontalCollectionViewGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeListViewGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeVerticalCollectionViewGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeViewGestureRecognizerGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeViewVisualStatesCollectionGallery.xaml.cs
  src/Controls/src/Core/MessagingCenter.cs
  src/Controls/src/Core/Properties/AssemblyInfo.cs
  src/Controls/tests/Xaml.UnitTests/Controls.Xaml.UnitTests.csproj
  src/Controls/tests/Xaml.UnitTests/Issues/Bz54334.xaml.cs
  src/Essentials/samples/Samples/Essentials.Sample.csproj
  src/Essentials/samples/Samples/Model/PermissionItem.cs
  src/Essentials/samples/Samples/View/PermissionsPage.xaml.cs
Labels: t/housekeeping ♻︎

#12766 Make MediaPicker capture methods work in Android 13+
  src/Essentials/src/MediaPicker/MediaPicker.android.cs
Labels: area/essentials 🍞, community ✨

#12851 Update Essentials Text-To-Speech API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Locale.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/SpeechOptions.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/TextToSpeech.xml
  src/Essentials/src/TextToSpeech/TextToSpeech.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#12773 [Windows] Fix issues invalidating the Background of some controls
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml.cs
  src/Core/src/Handlers/Switch/SwitchHandler.Windows.cs
  src/Core/src/Platform/Windows/FrameworkElementExtensions.cs
  src/Core/src/Platform/Windows/PickerExtensions.cs
  src/Core/src/Platform/Windows/RadioButtonExtensions.cs
  src/Core/src/Platform/Windows/SwitchExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Picker/PickerHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/RadioButton/RadioButtonHandlerTests.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮

#12750 Retain the cursor position when transforming the text
  src/Controls/src/Core/HandlerImpl/Editor/Editor.Android.cs
  src/Controls/src/Core/HandlerImpl/Entry/Entry.Android.cs
  src/Controls/src/Core/Platform/Android/Extensions/EditTextExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Handlers/View/DataFlowDirection.cs
  src/Core/src/Handlers/View/ViewHandler.cs
Labels: area/controls 🎮

#10413 Add `UserAgent` property to `WebView` control.
  src/Controls/docs/Microsoft.Maui.Controls/WebView.xml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml.cs
  src/Controls/samples/Controls.Sample/Resources/Raw/useragent.html
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/WebView.cs
  src/Core/src/Core/IWebView.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Standard.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Tizen.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
  src/Core/src/Handlers/WebView/WebViewHandler.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
  src/Core/src/Platform/Android/WebViewExtensions.cs
  src/Core/src/Platform/Tizen/WebViewExtensions.cs
  src/Core/src/Platform/Windows/WebViewExtensions.cs
  src/Core/src/Platform/iOS/WebViewExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Stubs/WebView.cs
Labels: area/controls 🎮, community ✨, control-webview

#12888 Fix timing on iOS Toolbar
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/SlideFlyoutTransition.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/UIContainerView.cs
  src/Controls/src/Core/Compatibility/iOS/Extensions/UIViewExtensions.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/src/Core/ShellToolbar.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellFlyoutTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/toolbar

#12946 Add more BlazorWebView device tests
  src/BlazorWebView/samples/WebViewAppShared/CustomStart.razor
  src/BlazorWebView/samples/WebViewAppShared/CustomStart.razor.css
  src/BlazorWebView/samples/WebViewAppShared/NoOpComponent.razor
  src/BlazorWebView/samples/WebViewAppShared/RouterComponent.razor
  src/BlazorWebView/samples/WebViewAppShared/_Imports.razor
  src/BlazorWebView/tests/MauiDeviceTests/Elements/BlazorWebViewTests.cs
  src/BlazorWebView/tests/MauiDeviceTests/TestLogger.cs
Labels: area/blazor 🕸️

#12897 [Tizen] refactor splash updater
  src/SingleProject/Resizetizer/src/TizenSplashUpdater.cs
Labels: community ✨, partner/tizen

#12912 Pre-compute Grid star values when possible
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/Benchmarks/Benchmarks/GridLayoutManagerBenchMarker.cs
  src/Core/tests/Benchmarks/Core.Benchmarks.csproj
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#12963 Mega pipeline
  eng/cake/dotnet.cake
  eng/pipelines/common/pack.yml
  eng/scripts/update-version-props.ps1
  src/Core/src/ImageSources/iOS/ImageSourceExtensions.cs
  src/Core/src/Platform/iOS/LabelExtensions.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
Labels: area/infrastructure 🏗️

#12801 [net7.0] Add more logging for BlazorWebView (#12357)
  src/BlazorWebView/samples/BlazorWinFormsApp/BlazorWinFormsApp.csproj
  src/BlazorWebView/samples/BlazorWinFormsApp/Form1.cs
  src/BlazorWebView/samples/BlazorWpfApp/BlazorWpfApp.csproj
  src/BlazorWebView/samples/BlazorWpfApp/MainWindow.xaml.cs
  src/BlazorWebView/src/Maui/Android/AndroidWebKitWebViewManager.cs
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
  src/BlazorWebView/src/Maui/Android/WebKitWebViewClient.cs
  src/BlazorWebView/src/Maui/Windows/BlazorWebViewHandler.Windows.cs
  src/BlazorWebView/src/Maui/Windows/WinUIWebViewManager.cs
  src/BlazorWebView/src/Maui/iOS/BlazorWebViewHandler.iOS.cs
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/BlazorWebView/src/SharedSource/Log.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
  src/Controls/samples/Controls.Sample/MauiProgram.cs
Labels: area/blazor 🕸️

#13002 [Windows] Fix issue changing Picker ItemsSource
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml.cs
  src/Controls/src/Core/Picker.cs
  src/Core/tests/DeviceTests/Handlers/Picker/PickerHandlerTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-picker

#12997 [Housekeeping] Removed duplicated item in the Core section from the Gallery
  src/Controls/samples/Controls.Sample/ViewModels/CoreViewModel.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13003 [mega-pipeline] Update folder nuget source when installing .net
  eng/cake/dotnet.cake
  eng/pipelines/common/pack.yml
Labels: area/infrastructure 🏗️

#13024 Merge a few net8.0 changes into main to make conflicts happen less
  src/Compatibility/Core/src/Android/CollectionView/SelectableViewHolder.cs
  src/Compatibility/Core/src/Android/DragAndDropGestureHandler.cs
  src/Compatibility/Core/src/Android/Extensions/EntryRendererExtensions.cs
  src/Compatibility/Core/src/Android/FastRenderers/LabelRenderer.cs
  src/Compatibility/Core/src/Android/Forms.cs
  src/Compatibility/Core/src/Android/Renderers/CircularProgress.cs
  src/Compatibility/Core/src/Android/Renderers/LabelRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/ListViewRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/PageRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/SearchBarRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ListViewRenderer.cs
  src/Controls/src/Core/Platform/Android/DragAndDropGestureHandler.cs
  src/Controls/src/Core/Platform/Android/ImeActionExtensions.cs
  src/Controls/tests/Core.UnitTests/ImageButtonUnitTest.cs
  src/Core/src/ImageSources/iOS/ImageSourceExtensions.cs
  src/Core/src/Platform/Android/LocalizedDigitsKeyListener.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/iOS/LabelExtensions.cs
  src/Essentials/src/AppInfo/AppInfo.android.cs
  src/Essentials/src/FileSystem/FileSystemUtils.android.cs
  src/Essentials/src/HapticFeedback/HapticFeedback.android.cs
  src/Essentials/src/Permissions/Permissions.android.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
  src/Essentials/test/DeviceTests/Tests/Vibration_Tests.cs
  src/Graphics/src/Graphics/Platforms/Android/PlatformCanvas.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
Labels: area/infrastructure 🏗️
