Repository dotnet/maui, pull requests merged in 2023-10, with the labels that each got.

#17758 Don't run hide on tapped code if window is null
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.Platform.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: platform/android 🤖, area/keyboard

#17637 Make ALL template warnings show up as test errors (not just C# warnings), and produce more diagnostic artifacts
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
Labels: area/templates 📄

#17746 Make sure to account for a null AppWindow
  eng/BannedSymbols.txt
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue17490.cs
  src/Controls/samples/Controls.Sample.UITests/Platforms/Windows/PlatformMethods.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.Windows.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17490.cs
  src/Core/src/Handlers/Window/WindowHandler.Windows.cs
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
  src/Core/src/Platform/Windows/NavigationRootManager.cs
  src/Core/src/Platform/Windows/WindowExtensions.cs
Labels: platform/windows 🪟

#17786 Enforce CA1805 across Core
  src/Core/src/.editorconfig
  src/Core/src/Animations/Animation.cs
  src/Core/src/Layouts/FlexEnums.cs
  src/Core/src/Platform/Tizen/LayoutViewGroup.cs
  src/Core/src/Platform/Windows/WindowRootView.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
  src/Core/src/Services/Crc64HashAlgorithm.cs
  src/Core/src/VisualDiagnostics/AdornerModel.cs
  src/Core/src/WeakList.cs
  src/Core/src/WindowOverlay/WindowOverlay.Standard.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#17750 Correctly expand rows/columns when grid padding
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#17941 Update README.md
  README.md
Labels: community ✨

#17732 API Doc improvements to fix online browser warnings
  src/Compatibility/ControlGallery/src/Core/ControlGalleryPages/AutomationPropertiesGallery.cs
  src/Compatibility/ControlGallery/src/iOS/AppDelegate.cs
  src/Compatibility/ControlGallery/src/iOS/Compatibility/CustomRenderers/CustomRenderer.cs
  src/Compatibility/ControlGallery/src/iOS/Compatibility/CustomRenderers/CustomRenderers.cs
  src/Compatibility/Core/src/Tizen/Extensions/LayoutExtensions.cs
  src/Compatibility/Material/src/Tizen/MaterialTimePickerRenderer.cs
  src/Controls/docs/Microsoft.Maui.Controls/AbsoluteLayout.xml
  src/Controls/docs/Microsoft.Maui.Controls/AppLinkEntry.xml
  src/Controls/docs/Microsoft.Maui.Controls/Application.xml
  src/Controls/docs/Microsoft.Maui.Controls/Behavior.xml
  src/Controls/docs/Microsoft.Maui.Controls/Button.xml
  src/Controls/docs/Microsoft.Maui.Controls/ContentPage.xml
  src/Controls/docs/Microsoft.Maui.Controls/Device.xml
  src/Controls/docs/Microsoft.Maui.Controls/Entry.xml
  src/Controls/docs/Microsoft.Maui.Controls/FlexLayout.xml
  src/Controls/docs/Microsoft.Maui.Controls/Image.xml
  src/Controls/docs/Microsoft.Maui.Controls/Label.xml
  src/Controls/docs/Microsoft.Maui.Controls/StackLayout.xml
  src/Controls/docs/Microsoft.Maui.Controls/TabbedPage.xml
  src/Controls/docs/Microsoft.Maui.Controls/VisualElement.xml
  src/Controls/docs/Microsoft.Maui.Controls/_images/AbsoluteLayout.TripleScreenShot.png
  src/Controls/docs/Microsoft.Maui.Controls/_images/Entry.TripleScreenShot.png
  src/Controls/src/Core/Element/Element.cs
  src/Controls/src/Core/IElementController.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/View/View.cs
  src/Controls/src/Core/WebView/WebView.cs
  src/Core/docs/Microsoft.Maui/FlowDirection.xml
  src/Core/src/Platform/Tizen/TimePickerExtensions.cs
  src/Essentials/src/Types/DeviceIdiom.shared.cs
  src/Essentials/src/Types/DevicePlatform.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#17904 [net8.0] Update to rtm versions
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Core/src/Platform/Tizen/CoreAppExtensions.cs
  src/Core/src/Platform/iOS/MauiSwipeView.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#17964 Use Cake for running integration tests
  eng/cake/dotnet.cake
  eng/cake/helpers.cake
  eng/pipelines/common/maui-templates.yml
  eng/pipelines/handlers.yml
Labels: area/infrastructure 🏗️

#17949 Only attach log files for current test
  src/TestUtils/src/UITest.NUnit/UITestBase.cs
Labels: t/housekeeping ♻︎, area/testing

#17971 Fail UI test run when all tests are inconclusive
  eng/devices/android.cake
  eng/devices/devices-shared.cake
  eng/devices/ios.cake
Labels: t/housekeeping ♻︎, area/testing

#17972 Revert UITest dependency version bump
  src/Compatibility/ControlGallery/test/Android.UITests/Compatibility.ControlGallery.Android.UITests.csproj
  src/Compatibility/ControlGallery/test/WinUI.UITests/WinUI.UITests.csproj
  src/Compatibility/ControlGallery/test/iOS.UITests/Compatibility.ControlGallery.iOS.UITests.csproj
Labels: platform/iOS 🍎, t/housekeeping ♻︎, area/testing

#17833 Make Entitlements in Templates for MacCatalyst more consistent between debug and release configs.
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-blazor/Platforms/MacCatalyst/Entitlements.Debug.plist
  src/Templates/src/templates/maui-blazor/Platforms/MacCatalyst/Entitlements.plist
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/Platforms/MacCatalyst/Entitlements.Debug.plist
  src/Templates/src/templates/maui-mobile/Platforms/MacCatalyst/Entitlements.plist
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
Labels: area/blazor 🕸️, area/templates 📄, Blazor ❤️ MAUI

#17243 [Android] Fix ScrollView filling layouts
  src/Controls/tests/DeviceTests/Elements/ScrollView/ScrollViewTests.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Android.cs
Labels: area/layout 🔲, platform/android 🤖, layout-scrollview

#17946 Update Blazor Hybrid template to match ASP.NET Core Blazor Web template
  src/BlazorWebView/src/Maui/build/Microsoft.AspNetCore.Components.WebView.Maui.targets
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.en.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.json
  src/Templates/src/templates/maui-blazor/Components/Layout/MainLayout.razor
  src/Templates/src/templates/maui-blazor/Components/Layout/MainLayout.razor.css
  src/Templates/src/templates/maui-blazor/Components/Layout/NavMenu.razor
  src/Templates/src/templates/maui-blazor/Components/Layout/NavMenu.razor.css
  src/Templates/src/templates/maui-blazor/Components/Pages/Counter.razor
  src/Templates/src/templates/maui-blazor/Components/Pages/Home.razor
  src/Templates/src/templates/maui-blazor/Components/Pages/Weather.razor
  src/Templates/src/templates/maui-blazor/Data/WeatherForecast.cs
  src/Templates/src/templates/maui-blazor/Data/WeatherForecastService.cs
  src/Templates/src/templates/maui-blazor/Main.razor
  src/Templates/src/templates/maui-blazor/MainPage.xaml
  src/Templates/src/templates/maui-blazor/MauiProgram.cs
  src/Templates/src/templates/maui-blazor/Pages/FetchData.razor
  src/Templates/src/templates/maui-blazor/Routes.razor
  src/Templates/src/templates/maui-blazor/Shared/NavMenu.razor
  src/Templates/src/templates/maui-blazor/Shared/NavMenu.razor.css
  src/Templates/src/templates/maui-blazor/_Imports.razor
  src/Templates/src/templates/maui-blazor/wwwroot/css/app.css
  src/Templates/src/templates/maui-blazor/wwwroot/css/open-iconic/FONT-LICENSE
  src/Templates/src/templates/maui-blazor/wwwroot/css/open-iconic/ICON-LICENSE
  src/Templates/src/templates/maui-blazor/wwwroot/css/open-iconic/README.md
  src/Templates/src/templates/maui-blazor/wwwroot/css/open-iconic/font/css/open-iconic-bootstrap.min.css
  src/Templates/src/templates/maui-blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.eot
  src/Templates/src/templates/maui-blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.otf
  src/Templates/src/templates/maui-blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.svg
  src/Templates/src/templates/maui-blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.ttf
  src/Templates/src/templates/maui-blazor/wwwroot/css/open-iconic/font/fonts/open-iconic.woff
  src/Templates/src/templates/maui-blazor/wwwroot/favicon.ico
  src/Templates/src/templates/maui-blazor/wwwroot/favicon.png
  src/Templates/src/templates/maui-blazor/wwwroot/index.html
Labels: area/blazor 🕸️, area/templates 📄

#18019 Enable <Nullable> in .NET MAUI project templates
  src/Templates/src/templates/maui-blazor/Components/Pages/Weather.razor
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-lib/MauiLib1.csproj
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TestResources/TemplateLaunchInstrumentation.cs
Labels: area/templates 📄

#17672 Run template tests run in parallel to save 15min of run time
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AndroidTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AppleTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
Labels: area/templates 📄

#17961 Update .NET versions to be the latest public release on nuget.org
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/DotNet/DotNet.csproj
Labels: area/infrastructure 🏗️

#17880 Limit star expansion when measuring/arranging at constrained sizes
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#18077 Revert "Run template tests run in parallel to save 15min of run time"
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AndroidTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AppleTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
Labels: area/templates 📄

#18109 [ci] Dependabot should only use nuget.org
  .github/dependabot.yml
Labels: t/housekeeping ♻︎

#18155 [WinUI] Fixes window blinking when resizing
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Windows.cs
Labels: platform/windows 🪟, area/navigation 🧭, area/desktop 🖥️

#18192 [ci] Update dependabot.yml
  .github/dependabot.yml
Labels: t/housekeeping ♻︎

#17778 [Android] Avoid issues creating a Borderless Entry with a custom Handler
  src/Controls/samples/Controls.Sample/MauiProgram.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-entry

#17733 [X] revert #5611
  src/Controls/src/Xaml/SimplifyOnPlatformVisitor.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui17461.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui17461.xaml.cs
  src/Controls/tests/Xaml.UnitTests/OnPlatformOptimization.xaml.cs
Labels: area/Xaml </>

#17120 [iOS] Fix downscaled images not occupying correct space
  src/Controls/src/Core/Compatibility/iOS/Extensions/ToolbarItemExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.iOS.cs
  src/Controls/tests/DeviceTests/Resources/Images/big_white_horizontal.png
  src/Core/src/Handlers/ViewHandlerExtensions.iOS.cs
  src/Core/src/Platform/iOS/ImageViewExtensions.cs
  src/Core/src/Platform/iOS/WrapperView.cs
Labels: platform/macOS 🍏, platform/iOS 🍎, area/image :framed_picture:

#18105 Rework the Label mappers for FormattedText
  src/Controls/src/Core/Label/Label.Android.cs
  src/Controls/src/Core/Label/Label.Mapper.cs
  src/Controls/src/Core/Label/Label.Standard.cs
  src/Controls/src/Core/Label/Label.Tizen.cs
  src/Controls/src/Core/Label/Label.Windows.cs
  src/Controls/src/Core/Label/Label.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.cs
Labels: area/controls 🎮

#17796 Fix 17776
  src/Controls/tests/Core.UnitTests/BindingUnitTests.cs
Labels: area/Xaml </>, s/pr-needs-author-input, stale

#18163 [net7.0] Fix iOS tests net7
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/variables.yml
  eng/pipelines/device-tests.yml
  eng/pipelines/handlers.yml
  eng/provisioning/xcode.csx
Labels: t/housekeeping ♻︎, area/testing

#18266 Allow iOS Keyboard Scrolling to be turned off in Lifecycle Events
  src/Core/src/Hosting/LifecycleEvents/AppHostBuilderExtensions.iOS.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry, area/keyboard

#18272 [Templates] Remove get-task-allow entitlement from Templates
  src/Templates/src/templates/maui-blazor/Platforms/MacCatalyst/Entitlements.plist
  src/Templates/src/templates/maui-mobile/Platforms/MacCatalyst/Entitlements.plist
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
Labels: area/blazor 🕸️, area/templates 📄, Blazor ❤️ MAUI

#18166 [Templates] Fix template typo
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: area/templates 📄

#18351 Merge RC 2.2 into net8.0
  eng/BannedSymbols.txt
  src/Compatibility/ControlGallery/src/Core/ControlGalleryPages/AutomationPropertiesGallery.cs
  src/Compatibility/ControlGallery/src/iOS/AppDelegate.cs
  src/Compatibility/ControlGallery/src/iOS/Compatibility/CustomRenderers/CustomRenderer.cs
  src/Compatibility/ControlGallery/src/iOS/Compatibility/CustomRenderers/CustomRenderers.cs
  src/Compatibility/Core/src/Tizen/Extensions/LayoutExtensions.cs
  src/Compatibility/Material/src/Tizen/MaterialTimePickerRenderer.cs
  src/Controls/docs/Microsoft.Maui.Controls/AbsoluteLayout.xml
  src/Controls/docs/Microsoft.Maui.Controls/AppLinkEntry.xml
  src/Controls/docs/Microsoft.Maui.Controls/Application.xml
  src/Controls/docs/Microsoft.Maui.Controls/Behavior.xml
  src/Controls/docs/Microsoft.Maui.Controls/Button.xml
  src/Controls/docs/Microsoft.Maui.Controls/ContentPage.xml
  src/Controls/docs/Microsoft.Maui.Controls/Device.xml
  src/Controls/docs/Microsoft.Maui.Controls/Entry.xml
  src/Controls/docs/Microsoft.Maui.Controls/FlexLayout.xml
  src/Controls/docs/Microsoft.Maui.Controls/Image.xml
  src/Controls/docs/Microsoft.Maui.Controls/Label.xml
  src/Controls/docs/Microsoft.Maui.Controls/StackLayout.xml
  src/Controls/docs/Microsoft.Maui.Controls/TabbedPage.xml
  src/Controls/docs/Microsoft.Maui.Controls/VisualElement.xml
  src/Controls/docs/Microsoft.Maui.Controls/_images/AbsoluteLayout.TripleScreenShot.png
  src/Controls/docs/Microsoft.Maui.Controls/_images/Entry.TripleScreenShot.png
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue17490.cs
  src/Controls/samples/Controls.Sample.UITests/Platforms/Windows/PlatformMethods.cs
  src/Controls/src/Core/Element/Element.cs
  src/Controls/src/Core/IElementController.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/View/View.cs
  src/Controls/src/Core/WebView/WebView.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.Windows.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17490.cs
  src/Core/docs/Microsoft.Maui/FlowDirection.xml
  src/Core/src/Handlers/Window/WindowHandler.Windows.cs
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/src/Platform/Tizen/TimePickerExtensions.cs
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
  src/Core/src/Platform/Windows/NavigationRootManager.cs
  src/Core/src/Platform/Windows/WindowExtensions.cs
  src/Core/src/Platform/iOS/LayoutView.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
  src/Essentials/src/Types/DeviceIdiom.shared.cs
  src/Essentials/src/Types/DevicePlatform.shared.cs
Labels: area/infrastructure 🏗️

#18346 [dependabot] Limit to 0 pr's
  .github/dependabot.yml
Labels: area/infrastructure 🏗️

#18068 Support finding nearest TFM to collect assets from
  src/SingleProject/Resizetizer/src/nuget/buildTransitive/Microsoft.Maui.Resizetizer.After.targets
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/ResizetizerTests.cs
Labels: area/single project ☝️

#18374 [ci] Don't run 13.7 on xcode15
  eng/pipelines/device-tests.yml
  eng/pipelines/ui-tests.yml
Labels: t/housekeeping ♻︎

#18381 Bump to xamarin/xamarin-android/release/8.0.1xx@b48acafb 34.0.39
  eng/Versions.props
Labels: area/infrastructure 🏗️

#18379 .NET 8 template tweaks
  src/Templates/src/templates/maui-mobile/MainPage.xaml
  src/Templates/src/templates/maui-mobile/Resources/Images/dotnet_bot.png
  src/Templates/src/templates/maui-mobile/Resources/Images/dotnet_bot.svg
  src/Templates/src/templates/maui-mobile/Resources/Styles/Colors.xaml
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
Labels: area/templates 📄

#18388 Fix project name substitution in Blazor template nav menu and "VS install" prompt
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.cs.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.de.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.en.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.es.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.fr.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.it.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.ja.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.ko.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.pl.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.pt-BR.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.ru.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.tr.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.zh-Hans.json
  src/Templates/src/templates/maui-blazor/.template.config/localize/templatestrings.zh-Hant.json
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-blazor/Components/Layout/NavMenu.razor
Labels: area/blazor 🕸️, area/templates 📄

#18390 Fix Device Info Test API 33
  src/Essentials/test/DeviceTests/Tests/DeviceInfo_Tests.cs
Labels: t/housekeeping ♻︎, area/testing

#18398 [C] clear _targetObject
  src/Controls/src/Core/MultiBinding.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui18123.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui18123.xaml.cs
Labels: t/bug, area/Xaml </>

#18434 [ios] fix memory leaks in various controls
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Core/src/Platform/iOS/MauiActivityIndicator.cs
  src/Core/src/Platform/iOS/MauiPageControl.cs
  src/Graphics/src/Graphics/Platforms/iOS/PlatformGraphicsView.cs
Labels: platform/iOS 🍎, memory-leak 💦

#18353 [net8.0] Bump xharness for rtm and bring iOS17 tests
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/devices/devices-shared.cake
  eng/devices/ios.cake
  eng/pipelines/device-tests.yml
  eng/pipelines/ui-tests.yml
  src/Compatibility/ControlGallery/src/iOS/Compatibility.ControlGallery.iOS.csproj
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.iOS.cs
  src/Controls/tests/UITests/Tests/Issues/Issue16561.cs
  src/Controls/tests/UITests/Tests/UITestBase.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/infrastructure 🏗️
