Repository dotnet/maui, pull requests merged in 2023-02, with the labels that each got.

#13032 Windows apps do not need GUIDs (drop GUIDs)
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Graphics/tests/DeviceTests/Graphics.DeviceTests.csproj
  src/SingleProject/Resizetizer/src/GeneratePackageAppxManifest.cs
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: area/single project ☝️, area/templates 📄

#13018 Fix dotnet format workflows
  .github/workflows/dotnet-autoformat-pr.yml
  .github/workflows/dotnet-format-daily.yml
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/src/Platform/iOS/WebViewExtensions.cs
  src/Core/tests/Benchmarks/Benchmarks/GridLayoutManagerBenchMarker.cs
  src/Essentials/src/Platform/PlatformUtils.android.cs
Labels: area/infrastructure 🏗️

#12195 Simplify hardcoded array of C# keywords in CodeBehindGenerator
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
Labels: community ✨

#11721 [iOS/Catalyst] Correctly render ContentPage brushes background
  src/Controls/samples/Controls.Sample/Pages/Core/ContentPageGalleries/ContentPageBackgroundGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/ContentPageGalleries/ContentPageBackgroundGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/ContentPageGalleries/ContentPageBackgroundImageGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/ContentPageGalleries/ContentPageBackgroundImageGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/ContentPageGalleries/ContentPageGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Core/ContentPageGallery.xaml.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/ContentView/ContentViewTests.iOS.cs
Labels: t/bug, area/drawing ✏️, platform/iOS 🍎, area/controls 🎮, control-pages

#12579 Remove obsoleted OpenGLView
  src/Compatibility/ControlGallery/src/Android/Compatibility.ControlGallery.Android.csproj
  src/Compatibility/ControlGallery/src/Android/PlatformSpecificCoreGalleryFactory.cs
  src/Compatibility/ControlGallery/src/Core/ControlGalleryPages/FlowDirectionGallery.cs
  src/Compatibility/ControlGallery/src/Core/CoreGallery.cs
  src/Compatibility/ControlGallery/src/Core/CoreGalleryPages/OpenGLViewCoreGalleryPage.cs
  src/Compatibility/ControlGallery/src/Core/GalleryPages/MemoryLeakGallery.cs
  src/Compatibility/ControlGallery/src/Core/GalleryPages/OpenGLGalleries/AdvancedOpenGLGallery.cs
  src/Compatibility/ControlGallery/src/Core/GalleryPages/OpenGLGalleries/BasicOpenGLGallery.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Helpers/ViewHelper.cs
  src/Compatibility/ControlGallery/src/Tizen/RegistrarValidationService.cs
  src/Compatibility/ControlGallery/src/UITests.Shared/PlatformQueries.cs
  src/Compatibility/ControlGallery/src/UITests.Shared/Queries.cs
  src/Compatibility/ControlGallery/src/WinUI/RegistrarValidationService.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/PlatformSpecificCoreGalleryFactory.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/Xamarin.Forms.ControlGallery.GTK.csproj
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/PlatformSpecificCoreGalleryFactory.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/PlatformSpecificCoreGalleryFactory.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/RegistrarValidationService.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  src/Compatibility/ControlGallery/src/iOS/Compatibility.ControlGallery.iOS.csproj
  src/Compatibility/ControlGallery/src/iOS/PlatformSpecificCoreGalleryFactory.cs
  src/Compatibility/Core/src/Android/Renderers/OpenGLViewRenderer.cs
  src/Compatibility/Core/src/AppHostBuilderExtensions.cs
  src/Compatibility/Core/src/GTK/Compatibility.GTK.csproj
  src/Compatibility/Core/src/GTK/Controls/OpenGLView.cs
  src/Compatibility/Core/src/GTK/Properties/AssemblyInfo.cs
  src/Compatibility/Core/src/GTK/Renderers/OpenGLViewRenderer.cs
  src/Compatibility/Core/src/MacOS/Compatibility.macOS.csproj
  src/Compatibility/Core/src/MacOS/Controls/MacOSOpenGLView.cs
  src/Compatibility/Core/src/MacOS/Properties/AssemblyInfo.cs
  src/Compatibility/Core/src/MacOS/Renderers/OpenGLViewRenderer.cs
  src/Compatibility/Core/src/WPF/Properties/AssemblyInfo.cs
  src/Compatibility/Core/src/WPF/Renderers/OpenGLViewRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/OpenGLViewRenderer.cs
  src/Controls/docs/Microsoft.Maui.Controls/OpenGLView.xml
  src/Controls/src/Core/IOpenGlViewController.cs
  src/Controls/src/Core/OpenGLView.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/NotifiedPropertiesTests.cs
  src/Controls/tests/Core.UnitTests/OpenGLViewUnitTests.cs
Labels: t/breaking 💥, t/housekeeping ♻︎, area/controls 🎮, needs-breaking-change-doc-created

#13065 Merge main into net8.0
  .github/workflows/dotnet-autoformat-pr.yml
  .github/workflows/dotnet-format-daily.yml
  src/Compatibility/ControlGallery/test/Android.UITests/Compatibility.ControlGallery.Android.UITests.csproj
  src/Compatibility/ControlGallery/test/WinUI.UITests/WinUI.UITests.csproj
  src/Compatibility/ControlGallery/test/iOS.UITests/Compatibility.ControlGallery.iOS.UITests.csproj
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/samples/Controls.Sample/Pages/Controls/PickerPage.xaml.cs
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
  src/Controls/tests/Xaml.UnitTests/Controls.Xaml.UnitTests.csproj
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/src/Platform/iOS/WebViewExtensions.cs
  src/Core/tests/Benchmarks.Droid/Benchmarks.Droid.csproj
  src/Core/tests/Benchmarks.Droid/ImageBenchmarks.cs
  src/Core/tests/Benchmarks.Droid/MainInstrumentation.cs
  src/Core/tests/Benchmarks.Droid/ViewHandlerBenchmark.cs
  src/Core/tests/Benchmarks/Benchmarks/GridLayoutManagerBenchMarker.cs
  src/Core/tests/Benchmarks/Core.Benchmarks.csproj
  src/Essentials/src/Platform/PlatformUtils.android.cs
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Graphics/tests/DeviceTests/Graphics.DeviceTests.csproj
  src/Graphics/tests/Graphics.Benchmarks/Graphics.Benchmarks.csproj
  src/SingleProject/Resizetizer/src/GeneratePackageAppxManifest.cs
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: area/infrastructure 🏗️

#13068 Fix DotNetCoreTestSettings.Logger build warning
  eng/cake/dotnet.cake
Labels: area/infrastructure 🏗️

#12564 added monochrome element to the AdaptiveIconDrawableXml
  src/SingleProject/Resizetizer/src/AndroidAdaptiveIconGenerator.cs
Labels: community ✨

#12901 Fix EvaluateJavaScriptAsync using Compatibility WebView Renderer
  src/Controls/src/Core/WebView.cs
Labels: t/bug, area/controls 🎮, control-webview

#13067 Fix Download build warning
  eng/cake/dotnet.cake
Labels: area/infrastructure 🏗️

#12950 fix: Fixed nullable annotations for WeakEventManager.
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/src/WeakEventManager.cs
Labels: community ✨

#13081 [net8.0] Fix format net8
  src/Compatibility/Core/src/iOS/DragAndDropDelegate.cs
  src/Controls/samples/Controls.Sample/MauiProgram.cs
  src/Controls/src/Core/Platform/iOS/DragAndDropDelegate.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/tests/Benchmarks.Droid/MainInstrumentation.cs
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13089 Remove Deprecated Application.Properties
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: t/breaking 💥

#9924 [Windows] Fixes DatePicker format
  src/Core/src/Platform/Windows/CalendarDatePickerExtensions.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.Windows.cs
Labels: area/controls 🎮, community ✨

#11710 Update WebAuthenticator to support custom ResponseDecoder (#11641)
  src/Essentials/docs/Microsoft.Maui.Essentials/WebAuthenticator.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/WebAuthenticatorResult.xml
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Essentials/src/WebAuthenticator/WebAuthenticator.android.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.netstandard.watchos.tizen.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.shared.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.uwp.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticatorResult.shared.cs
  src/Essentials/test/DeviceTests/Tests/WebAuthenticator_Tests.cs
Labels: t/breaking 💥, area/essentials 🍞, community ✨

#13083 [iOS] Fix crash with a hidden CarouselView
  src/Controls/src/Core/Handlers/Items/iOS/CarouselViewLayout.cs
  src/Controls/tests/DeviceTests/Elements/CarouselView/CarouselViewTests.cs
Labels: t/bug, platform/iOS 🍎, area/collectionview 📃

#13078 [Android] Fix Html text rendering issue
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/LabelViewModel.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.Android.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-label

#12413 [Essentials] add Bluetooth permissions
  src/Essentials/src/Permissions/Permissions.android.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.watchos.cs
  src/Essentials/src/Permissions/Permissions.macos.cs
  src/Essentials/src/Permissions/Permissions.netstandard.cs
  src/Essentials/src/Permissions/Permissions.shared.cs
  src/Essentials/src/Permissions/Permissions.tizen.cs
  src/Essentials/src/Permissions/Permissions.uwp.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Shipped.txt
Labels: area/essentials 🍞, community ✨

#13079 Remove PhoneDialer.Current
  src/Essentials/src/PhoneDialer/PhoneDialer.shared.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: t/breaking 💥, area/essentials 🍞

#11914 [iOS] Fix Entry Next Keyboard Button Finds Next TextField
  THIRD-PARTY-NOTICES.TXT
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/EntryCellRenderer.cs
  src/Core/src/Handlers/Entry/EntryHandler.iOS.cs
  src/Core/src/Platform/iOS/KeyboardAutoManager.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/HorizontalStackLayoutStub.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry

#11530 Resolve some life cycle issues with `TabbedPage` when nested inside a `NavigationPage`
  src/Compatibility/Core/src/Android/AppCompat/FlyoutPageContainer.cs
  src/Compatibility/Core/src/Android/AppCompat/FormsFragmentPagerAdapter.cs
  src/Controls/samples/Controls.Sample/Pages/Compatibility/TabbedPageGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/TabbedPageGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Compatibility/TabbedPageGalleryMainPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/TabbedPageGalleryMainPage.xaml.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFragmentContainer.cs
  src/Controls/src/Core/HandlerImpl/NavigationPage/NavigationPage.Impl.cs
  src/Controls/src/Core/Platform/Android/AdapterItemKey.cs
  src/Controls/src/Core/Platform/Android/FragmentContainer.cs
  src/Controls/src/Core/Platform/Android/MultiPageFragmentStateAdapter.cs
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
  src/Controls/tests/Core.UnitTests/NavigationUnitTest.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Window/ChangingToNewMauiContextDoesntCrashTestCases.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.cs
  src/Controls/tests/DeviceTests/Stubs/ApplicationStub.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.Android.cs
  src/Core/src/Handlers/NavigationPage/NavigationViewHandler.Android.cs
  src/Core/src/Handlers/Window/WindowHandler.Android.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
  src/Core/src/Platform/Android/FragmentManagerExtensions.cs
  src/Core/src/Platform/Android/MauiContextExtensions.cs
  src/Core/src/Platform/Android/Navigation/MauiNavHostFragment.cs
  src/Core/src/Platform/Android/Navigation/NavigationRootManager.cs
  src/Core/src/Platform/Android/Navigation/NavigationViewFragment.cs
  src/Core/src/Platform/Android/Navigation/StackNavigationManager.cs
  src/Core/src/Platform/Android/Resources/Layout/fragment_backstack.axml
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBase.cs
Labels: platform/android 🤖, area/navigation 🧭, area/TabbedPage

#12661 Fix Modal page offset measuring for AdjustPan and AdjustResize
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutTemplatedContentRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Controls/src/Core/Platform/Android/GenericGlobalLayoutListener.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/modal

#12348 Fix initial page and back button Navigation events
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/HandlerImpl/NavigationPage/NavigationPage.Legacy.cs
  src/Controls/src/Core/NavigationPage.cs
  src/Controls/tests/Core.UnitTests/PageLifeCycleTests.cs
  src/Controls/tests/Core.UnitTests/TestClasses/TestNavigationPage.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.iOS.cs
Labels: area/navigation 🧭

#12536 Correctly propagate BindingContext in all ContentView scenarios
  src/Controls/samples/Controls.Sample/Pages/Layouts/ContentViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Layouts/ContentViewPage.xaml.cs
  src/Controls/src/Core/ContentView.cs
  src/Controls/tests/DeviceTests/Elements/ContentView/ContentViewTests.cs
Labels: t/bug, area/Xaml </>

#13148 Update GitInfo.txt fo net8 release p1
  GitInfo.txt
Labels: area/infrastructure 🏗️

#13140 [iOS] Use same font size for Editor/Entry placeholders
  src/Core/src/Platform/iOS/MauiTextView.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.iOS.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry

#12882 [iOS] Fix issue using SVG in SwipeItem Icon
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/BasicSwipeGallery.xaml
  src/Controls/samples/Controls.Sample/Resources/Images/ic_flag.svg
  src/Core/src/Handlers/SwipeItemMenuItem/SwipeItemMenuItemHandler.iOS.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, control-swipeview

#13170 Remove Navigation workaround in tests
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.cs
Labels: t/housekeeping ♻︎

#13146 [listview] fixes for various null/empty DataTemplate
  src/Compatibility/Core/src/Android/VisualElementRenderer.cs
  src/Controls/src/Core/TemplatedItemsList.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.cs
Labels: area/ListView

#13209 Don't auto-close s/move-to-vs-feedback issues
  .github/fabricbot.json
Labels: area/infrastructure 🏗️

#13205 [Windows] Add convenience and nullable safe method.
  src/Core/src/Platform/Windows/FrameworkElementExtensions.cs
Labels: t/housekeeping ♻︎

#13208 Add more tests for Graphics
  src/Graphics/src/Graphics.Skia/SkiaImage.cs
  src/Graphics/src/Graphics.Win2D/W2DImage.cs
  src/Graphics/src/Graphics/PlatformImage.cs
  src/Graphics/src/Graphics/Platforms/Android/PlatformImage.cs
  src/Graphics/src/Graphics/Platforms/Mac/PlatformImage.cs
  src/Graphics/src/Graphics/Platforms/iOS/PlatformImage.cs
  src/Graphics/tests/DeviceTests/Tests/ImageTests.cs
Labels: area/drawing ✏️

#13206 Wire up WebView2 to window life cycle
  src/Controls/samples/Controls.Sample/Pages/Core/MultiWindowPage.xaml
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
  src/Core/tests/DeviceTests.Shared/Stubs/ContextStub.cs
  src/Core/tests/DeviceTests/Handlers/WebView/WebViewHandlerTests.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
Labels: area/controls 🎮

#12924 [Android] Fix crash setting SelectedTabColor on TabbedPage
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.Android.cs
Labels: t/bug, platform/android 🤖, area/TabbedPage

#13174 [iOS] Better Find Next Textfield Algo
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry

#12693 [Android] Align dash effect between Border and Shapes
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/Core/tests/DeviceTests/Handlers/Border/BorderHandlerTests.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️, area/controls 🎮, control-border

#12539 [Android] Avoid to update Shell Toolbar colors if already disposed the Tracker
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarAppearanceTracker.cs
Labels: t/bug, platform/android 🤖, area/shell 🐢

#13225 [Android] Fix wrong conversions between Graphics RectF and Android RectF
  src/Core/tests/DeviceTests/Graphics/GraphicsTests.Android.cs
  src/Core/tests/DeviceTests/Graphics/GraphicsTests.cs
  src/Core/tests/DeviceTests/TestCategory.cs
  src/Graphics/src/Graphics/Platforms/Android/AndroidDrawingImplicitConversions.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️

#13201 [build] use stable bits in main
  eng/Version.Details.xml
  eng/Versions.props
  eng/cake/dotnet.cake
  src/BlazorWebView/tests/MauiDeviceTests/MauiBlazorWebView.DeviceTests.csproj
  src/Controls/samples/Controls.Sample.Profiling/Maui.Controls.Sample.Profiling.csproj
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/DotNet/DotNet.csproj
  src/Essentials/samples/Samples/Essentials.Sample.csproj
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Graphics/tests/DeviceTests/Graphics.DeviceTests.csproj
  src/TestUtils/samples/DeviceTests.Sample/TestUtils.DeviceTests.Sample.csproj
Labels: area/infrastructure 🏗️

#13236 Don't refresh the filtered tests if the filter hasn't actually changed
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/Utils/FilteredCollectionView.cs
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/ViewModels/TestAssemblyViewModel.cs
Labels: t/housekeeping ♻︎

#10996 Fix shadow visibility on Windows
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: area/controls 🎮, community ✨

#11603 [Android] Fix shadows size in clipped views
  src/Core/src/Platform/Android/WrapperView.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️

#12834 [iOS/Catalyst] Fix Shell TitleView rendering issues on iOS 16
  src/Controls/samples/Controls.Sample/Pages/AppShell.xaml
  src/Controls/samples/Controls.Sample/Pages/AppShell.xaml.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
Labels: t/bug, area/shell 🐢, version/ios-16, control-titleview

#13090 Remove TargetIdiom
  src/Controls/src/Core/Device.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/TargetIdiom.cs
Labels: t/breaking 💥

#13232 [core] `WeakEventManager+Subscription` needs `IEquatable`
  .editorconfig
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue8958.xaml.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/TransparentOverlayTests.cs
  src/Compatibility/Core/src/Android/AppCompat/FormsAppCompatActivity.cs
  src/Compatibility/Core/src/Android/Forms.cs
  src/Compatibility/Core/src/Tizen/Forms.cs
  src/Compatibility/Core/src/Windows/Forms.cs
  src/Compatibility/Core/src/iOS/Forms.cs
  src/Controls/src/Core/LayoutOptions.cs
  src/Controls/src/Core/Profiler.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Region.cs
  src/Controls/src/Core/Shapes/Matrix.cs
  src/Controls/tests/Core.UnitTests/AcceleratorUnitTests.cs
  src/Core/src/Fonts/FontSize.Android.cs
  src/Core/src/Layouts/FlexEnums.cs
  src/Core/src/Primitives/GridLength.cs
  src/Core/src/Primitives/SizeRequest.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/src/WeakEventManager.cs
  src/Graphics/src/Graphics/Font.cs
  src/Graphics/src/Graphics/FontSource.cs
  src/Graphics/src/Graphics/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-macos/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Graphics/src/Graphics/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: t/breaking 💥, area/perf 🏎️, backport/suggested

#13173 feat: Added nullable annotations for IValueConverter.
  src/Controls/src/Core/Handlers/Items/Tizen/ItemTemplateAdaptor.cs
  src/Controls/src/Core/IValueConverter.cs
  src/Controls/src/Core/Platform/Tizen/IconConverter.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/Converters/RunStatusToColorConverter.cs
Labels: community ✨

#13165 Remove Compatibility packages by default
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
Labels: t/housekeeping ♻︎, needs-breaking-change-doc-created, backport/NO

#13028 [Windows] Fix issue with caching the page that holds unfocused control
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
Labels: t/bug, platform/windows 🪟, needs-breaking-change-doc-created

#13253 [Housekeeping] Revert changes from 11721
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/ContentView/ContentViewTests.iOS.cs
Labels: t/bug, platform/iOS 🍎, t/housekeeping ♻︎

#12849 Update Essentials SMS API Docs
  src/Essentials/docs/Microsoft.Maui.Essentials/Sms.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/SmsMessage.xml
  src/Essentials/src/Sms/Sms.netstandard.tvos.watchos.cs
  src/Essentials/src/Sms/Sms.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#13194 [Windows] Correctly set the Slider ThumbImageSource
  src/Controls/samples/Controls.Sample/Pages/Controls/SliderPage.xaml
  src/Controls/samples/Controls.Sample/Resources/Images/thumb_image.svg
  src/Core/src/Handlers/Slider/SliderHandler.Windows.cs
  src/Core/src/Platform/Windows/SliderExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Slider/SliderHandlerTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-slider

#13216 When measuring FlexLayout unconstrained, allow child to be desired size
  src/Controls/src/Core/Layout/FlexLayout.cs
  src/Controls/tests/Core.UnitTests/Layouts/FlexLayoutTests.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Layouts/Flex.cs
Labels: area/layout 🔲, layout-flex

#13260 [controls] fix memory leak in Style and AttachedCollection
  src/Controls/src/Core/Interactivity/AttachedCollection.cs
  src/Controls/src/Core/Style.cs
  src/Core/src/HotReload/HotReloadHelper.cs
  src/Core/src/HotReload/WeakList.cs
  src/Core/src/Platform/Android/EnergySaverListenerManager.cs
  src/Core/src/WeakList.cs
  src/Core/tests/UnitTests/WeakListTests.cs
Labels: area/perf 🏎️

#13304 [controls] one less WeakReference in TypedBinding
  src/Controls/src/Core/TypedBinding.cs
  src/Controls/tests/Core.UnitTests/TypedBindingUnitTests.cs
Labels: area/perf 🏎️

#12996 Update Essentials API Docs Misc
  src/Essentials/docs/Microsoft.Maui.Essentials/DeviceIdiom.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/DevicePlatform.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/DisplayInfo.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/DisplayOrientation.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/DisplayRotation.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/Placemark.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/SensorSpeed.xml
  src/Essentials/docs/Microsoft.Maui.Essentials/UnitConverters.xml
  src/Essentials/docs/en/Xamarin.Essentials/AppleSignInAuthenticator+Options.xml
  src/Essentials/docs/en/Xamarin.Essentials/AppleSignInAuthenticator.xml
  src/Essentials/docs/en/Xamarin.Essentials/DisplayOrientation.xml
  src/Essentials/docs/en/Xamarin.Essentials/LocationExtensions.xml
  src/Essentials/docs/en/Xamarin.Essentials/NavigationMode.xml
  src/Essentials/docs/en/Xamarin.Essentials/PlacemarkExtensions.xml
  src/Essentials/docs/en/Xamarin.Essentials/SensorSpeed.xml
  src/Essentials/docs/en/Xamarin.Essentials/UnitConverters.xml
  src/Essentials/src/Accelerometer/Accelerometer.shared.cs
  src/Essentials/src/Barometer/Barometer.shared.cs
  src/Essentials/src/Compass/Compass.shared.cs
  src/Essentials/src/FilePicker/FilePicker.shared.cs
  src/Essentials/src/FileSystem/FileSystem.shared.cs
  src/Essentials/src/Magnetometer/Magnetometer.shared.cs
  src/Essentials/src/Map/NavigationMode.shared.cs
  src/Essentials/src/OrientationSensor/OrientationSensor.shared.cs
  src/Essentials/src/Platform/ActivityStateManager.android.cs
  src/Essentials/src/Platform/Platform.shared.cs
  src/Essentials/src/Platform/WindowStateManager.ios.cs
  src/Essentials/src/Platform/WindowStateManager.uwp.cs
  src/Essentials/src/Types/DeviceIdiom.shared.cs
  src/Essentials/src/Types/DevicePlatform.shared.cs
  src/Essentials/src/Types/DisplayInfo.shared.cs
  src/Essentials/src/Types/DisplayOrientation.shared.cs
  src/Essentials/src/Types/DisplayRotation.shared.cs
  src/Essentials/src/Types/Location.shared.cs
  src/Essentials/src/Types/LocationExtensions.shared.cs
  src/Essentials/src/Types/Placemark.shared.cs
  src/Essentials/src/Types/PlacemarkExtensions.shared.cs
  src/Essentials/src/Types/SensorSpeed.shared.cs
  src/Essentials/src/UnitConverters/UnitConverters.shared.cs
  src/Essentials/src/WebAuthenticator/AppleSignInAuthenticator.shared.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#13104 Obsolete some of the AutomationProperties
  src/Compatibility/Core/src/Android/FastRenderers/AutomationPropertiesProvider.cs
  src/Compatibility/Core/src/Windows/AccessibilityExtensions.cs
  src/Controls/src/Core/AutomationProperties.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/CellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/VisualElementRenderer.cs
  src/Controls/src/Core/Compatibility/iOS/Extensions/AccessibilityExtensions.cs
  src/Controls/src/Core/Compatibility/iOS/Extensions/ToolbarItemExtensions.cs
  src/Controls/src/Core/Platform/Android/AutomationPropertiesProvider.cs
  src/Controls/src/Core/Platform/Windows/Extensions/AccessibilityExtensions.cs
  src/Controls/src/Core/SemanticProperties.cs
Labels: area/a11y

#13224 [Resizetizer] Do not update images if they have not been updated.
  src/SingleProject/Resizetizer/src/AndroidAdaptiveIconGenerator.cs
  src/SingleProject/Resizetizer/src/AppleIconAssetsGenerator.cs
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/Utils.cs
  src/SingleProject/Resizetizer/src/WindowsIconGenerator.cs
  src/SingleProject/Resizetizer/test/UnitTests/ResizetizeImagesTests.cs
Labels: area/single project ☝️

#13222 [Windows] Fix crash on Windows WebView updating the Html Source more than once
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml.cs
  src/Core/src/Platform/Windows/MauiWebView.cs
  src/Core/src/Platform/Windows/WebViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/WebView/WebViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Stubs/HtmlWebViewSourceStub.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-webview

#13333 [core] WeakEventManager.RemoveEventHandler() should clear subscriptions
  src/Core/src/WeakEventManager.cs
  src/Core/tests/UnitTests/WeakEventManagerTests.cs
Labels: area/perf 🏎️

#12599 reduce duplicate IndexOf calls
  src/Controls/src/Core/HandlerImpl/Application/Application.Impl.cs
  src/Controls/src/Core/ListView.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/src/Xaml/TypeArgumentsParser.cs
  src/Controls/src/Xaml/XmlTypeXamlExtensions.cs
  src/Core/src/Handlers/View/ViewHandlerOfT.Windows.cs
Labels: community ✨

#10999 ItemContentControl - apply bindings once for ItemTemplate (Windows)
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/CollectionViewGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/OnlineImages.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/OnlineImages.xaml.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/ItemContentControl.cs
Labels: community ✨

#13301 [Android] Don't lose the padding when background is set
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Android.cs
Labels: area/controls 🎮, control-button

#12889 Fix setting bottom tab icon title
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellItemRenderer.cs
  src/Controls/src/Core/Platform/Android/BottomNavigationViewUtils.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.Android.cs
Labels: area/shell 🐢

#11926 [macOS] Fix crash using Shell SearchHandler on Catalyst
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/UIContainerCell.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: t/bug, platform/macOS 🍏, area/shell 🐢

#13250 [iOS] Fix sizing of button when using CharacterSpacing
  src/Core/src/Platform/iOS/ButtonExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.iOS.cs
Labels: area/controls 🎮, control-button

#13326 [Windows] Fixed dupe items in ShellView
  src/Controls/src/Core/Handlers/Shell/Windows/ShellView.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/shell 🐢

#13348 Changes in project template to avoid BoxView mistake
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
Labels: t/bug, area/templates 📄, area/controls 🎮

#11409 [Windows] Fix crash using complex html content
  src/Core/src/Platform/Windows/TextBlockExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Label/LabelHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Label/LabelHandlerTests.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-label

#11989 [Housekeeping] Added pending changes in Android AlertManager
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Android.cs
Labels: platform/android 🤖, t/housekeeping ♻︎, area/controls 🎮, control-dialogalert

#13390 Update dotnet-autoformat-pr-push.yml
  .github/workflows/dotnet-autoformat-pr-push.yml
Labels: t/housekeeping ♻︎

#13153 Ensure OnMeasure always calls SetMeasuredDimension in ShellPageContainer
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellPageContainer.cs
Labels: area/shell 🐢, community ✨

#13401 [net7.0] Fix Modal page offset measuring for AdjustPan and AdjustResize
  src/Controls/src/Core/Platform/Android/GenericGlobalLayoutListenerImproved.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/modal

#13385 [Android] Fix crash adding items to CollectionView on navigating
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.Android.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: t/bug, platform/android 🤖, area/collectionview 📃

#13234 [iOS/MacCatalyst] Fix Editor scrolling
  src/Core/src/Platform/iOS/MauiTextView.cs
Labels: area/controls 🎮

#13132 [Windows] Fix Shell FlyoutBackground property
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
  src/Core/src/Platform/Windows/NavigationViewExtensions.cs
Labels: t/bug, platform/windows 🪟, area/shell 🐢

#13327 [core] fix memory leaks in bindings
  src/Controls/src/Core/BindableObject.cs
  src/Controls/src/Core/BindingExpression.cs
  src/Controls/src/Core/Brush.cs
  src/Controls/src/Core/TypedBinding.cs
  src/Controls/tests/Core.UnitTests/BindingUnitTests.cs
  src/Controls/tests/Core.UnitTests/TypedBindingUnitTests.cs
Labels: area/Xaml </>, area/perf 🏎️

#13420 [CI] Fix the step to copy the metadata.
  eng/pipelines/common/pack.yml
Labels: t/housekeeping ♻︎

#13332 Add shell pages via controller instead of handler
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRootRenderer.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.iOS.cs
  src/Controls/tests/DeviceTests/Extensions.cs
  src/Controls/tests/DeviceTests/TestCases/ControlsPageTypesTestCases.cs
Labels: area/shell 🐢

#13256 Use and clear a local nuget cache
  eng/cake/dotnet.cake
Labels: area/infrastructure 🏗️

#13336 Have Frame use MinimumHeight/Width for minimums instead of constraints
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameHandlerTest.Android.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
Labels: area/controls 🎮, control-frame

#13113 [Proposal] Organize partial classes inside Controls
  src/Controls/src/Core/Entry/Entry.Android.cs
  src/Controls/src/Core/Entry/Entry.Controls.cs
  src/Controls/src/Core/Entry/Entry.Mapper.cs
  src/Controls/src/Core/Entry/Entry.Standard.cs
  src/Controls/src/Core/Entry/Entry.Tizen.cs
  src/Controls/src/Core/Entry/Entry.Windows.cs
  src/Controls/src/Core/Entry/Entry.iOS.cs
  src/Controls/src/Core/HandlerImpl/Entry/Entry.Impl.cs
Labels: area/architecture

#13371 Geolocation: Add #nullable for Essentials Geolocation code
  src/Essentials/src/Geolocation/Geolocation.android.cs
  src/Essentials/src/Geolocation/Geolocation.ios.macos.cs
  src/Essentials/src/Geolocation/Geolocation.netstandard.tvos.watchos.cs
  src/Essentials/src/Geolocation/Geolocation.tizen.cs
  src/Essentials/src/Geolocation/GeolocationAccuracyExtensionMethods.uwp.cs
  src/Essentials/src/Geolocation/GeolocationRequest.shared.cs
  src/Essentials/src/Geolocation/GeolocationRequest.uwp.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: area/essentials 🍞, community ✨

#13424 Implement IAsyncDisposable on MauiApp
  src/Core/src/Hosting/MauiApp.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: area/hosting 🧩

#13431 move BootstrapHelper to Maui Core
  src/Compatibility/Core/src/Compatibility.csproj
  src/Core/src/VisualDiagnostics/BootstrapHelper.cs
Labels: partner/hot-reload-xaml

#13419 Include border size in Frame's measurement
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Windows/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/iOS/FrameRenderer.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.cs
Labels: area/layout 🔲

#13372 SensorSpeed: unify sensor intervals across all platforms
  src/Essentials/src/Types/SensorSpeed.android.cs
  src/Essentials/src/Types/SensorSpeed.ios.tvos.watchos.cs
  src/Essentials/src/Types/SensorSpeed.shared.cs
  src/Essentials/src/Types/SensorSpeed.tizen.cs
  src/Essentials/src/Types/SensorSpeed.uwp.cs
Labels: t/breaking 💥, area/essentials 🍞, community ✨

#13506 Tag Dave Britch for breaking changes
  .github/fabricbot.json
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13519 Updated news
  README.md
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13526 Remove not used GTK Gallery app head
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/App.config
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/Assets/ionicons.ttf
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/Icon.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/PlatformSpecificCoreGalleryFactory.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/Program.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/RegistrarValidationService.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/SampleNativeControl.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/Xamarin.Forms.ControlGallery.GTK.csproj
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/gtk_back_button.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/gtk_hamburguer_button.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/ic_share.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/ratchet.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/ratchet_full.jpg
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/tdl.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.GTK/twitternav.png
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13525 Remove not used WPF Gallery app head
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/App.config
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/App.xaml
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/App.xaml.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/Assets/fontawesome-webfont.ttf
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/Assets/ionicons.ttf
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/Assets/pickax.ttf
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/GifOne.gif
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/Issue11923.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/MainWindow.xaml
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/MainWindow.xaml.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/PlatformSpecificCoreGalleryFactory.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/Properties/AssemblyInfo.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/RegistrarValidationService.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/Renderers/Issue6693ControlRenderer.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/SampleNativeControl.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/Xamarin.Forms.ControlGallery.WPF.csproj
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/bank.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/coffee.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/crimson.jpg
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.WPF/photo.jpg
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13521 Add Shell.Title to default template
  src/Templates/README.md
  src/Templates/src/templates/maui-mobile/AppShell.xaml
Labels: t/bug, platform/windows 🪟, area/a11y, area/templates 📄

#13527 Remove not used macOS Gallery app head
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/AppDelegate.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-128.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-128@2x.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-16.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-16@2x.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-256.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-256@2x.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-32.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-32@2x.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-512.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/AppIcon-512@2x.png
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/AppIcons.appiconset/Contents.json
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Assets.xcassets/Contents.json
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/BrokenNativeControl.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/CustomRenderers.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Info.plist
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Main.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Main.storyboard
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/NativeServices.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/PlatformSpecificCoreGalleryFactory.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/RegistrarValidationService.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/SampleNativeControl.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/SeparatorMenuItem.cs
  src/Compatibility/ControlGallery/src/Xamarin.Forms.ControlGallery.MacOS/Xamarin.Forms.ControlGallery.MacOS.csproj
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13531 Handled x:ClassModifier attribute to set the visibility of rootType
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
Labels: area/Xaml </>, community ✨

#13415 [iOS] Don't scroll more than the available scrollable space
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
Labels: area/layout 🔲, platform/iOS 🍎, layout-scrollview

#13475 Use the TextColor value to set the ClearButton color on the Entry
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Platform/iOS/TextFieldExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Stubs/StubBase.cs
Labels: t/bug, area/controls 🎮, control-entry

#13530 [windows] fix memory leak when `CollectionView.ItemsSource` changes
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.Windows.cs
  src/Controls/src/Core/Items/ItemsView.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: platform/windows 🪟, area/perf 🏎️, area/collectionview 📃

#13251 Handle renamed or deleted MauiImage files
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/TizenResourceXmlGenerator.cs
  src/SingleProject/Resizetizer/src/nuget/buildTransitive/Microsoft.Maui.Resizetizer.After.targets
  src/SingleProject/Resizetizer/test/UnitTests/ResizetizeImagesTests.cs
Labels: area/single project ☝️

#13550 [controls] fix memory leak in `BindableLayout`
  src/Controls/src/Core/BindableLayout.cs
  src/Controls/tests/Core.UnitTests/BindableLayoutTests.cs
Labels: area/perf 🏎️

#13408 Add legacy Grid method (and a better one)
  src/Controls/docs/Microsoft.Maui.Controls/Grid.xml
  src/Controls/docs/Microsoft.Maui.Controls/SearchHandler.xml
  src/Controls/src/Core/Layout/Grid.cs
  src/Controls/src/Core/Layout/GridExtensions.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/Layouts/GridExtensionTests.cs
Labels: t/breaking 💥, area/layout 🔲, layout-grid

#13601 [net8.0] Don't use fixed manifest version for Tizen
  eng/Versions.props
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13602 [net7.0] Backport yaml changes to net7.0
  .gitignore
  eng/automation/SignList.xml
  eng/cake/dotnet.cake
  eng/pipelines/common/controlgallery-android.yml
  eng/pipelines/common/controlgallery-ios.yml
  eng/pipelines/common/controlgallery-windows.yml
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/common/insertion.yml
  eng/pipelines/common/pack.yml
  eng/pipelines/common/provision.yml
  eng/pipelines/common/sdk-insertion.yml
  eng/pipelines/common/security-compliance.yml
  eng/pipelines/common/sign.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/device-tests.yml
  eng/pipelines/handlers.yml
  eng/pipelines/maui-release.yml
  eng/scripts/update-version-props.ps1
Labels: area/infrastructure 🏗️

#13606 Add area label to formatting PRs
  .github/workflows/dotnet-format-daily.yml
Labels: area/infrastructure 🏗️

#13589 [housekeeping] Bump to 7.0.201
  eng/Versions.props
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13536 Fix test runner issues around our stubbed windows
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/tests/DeviceTests/ControlsDeviceTestExtensions.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Elements/Toolbar/ToolbarTests.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTests.cs
  src/Controls/tests/DeviceTests/Stubs/MauiAppNewWindowStub.Windows.cs
  src/Controls/tests/DeviceTests/Stubs/MauiAppNewWindowStub.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.Android.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.iOS.cs
  src/Core/tests/DeviceTests.Shared/Stubs/ContextStub.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: backport/suggested
