Repository dotnet/maui, pull requests merged in 2023-12, with the labels that each got.

#18624 [Testing] Added UI Test for manual test E1
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18623.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18623.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18623.cs
  src/Controls/tests/UITests/snapshots/android/EntryIsPasswordObscureText.png
  src/Controls/tests/UITests/snapshots/windows/EntryIsPasswordObscureText.png
Labels: t/housekeeping ♻︎, area/testing

#18386 [Android] Avoid possible crash using essentials Battery
  src/Essentials/src/Battery/Battery.android.cs
  src/Essentials/test/DeviceTests/Tests/Battery_Tests.cs
Labels: t/bug, platform/android 🤖, area/essentials 🍞

#19132 [Testing] Add swipe gestures methods to UITest
  src/Controls/samples/Controls.Sample.UITests/CoreViews/CorePageView.cs
  src/Controls/samples/Controls.Sample.UITests/Elements/SwipeViewCoreGalleryPage.cs
  src/Controls/tests/UITests/Tests/SwipeViewUITests.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumSwipeActions.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: t/housekeeping ♻︎, area/testing, legacy-ui-test

#19131 [Testing] Add PressVolumeUp and PressVolumeDown methods to UITest
  src/TestUtils/src/UITest.Appium/Actions/AppiumAndroidVirtualKeyboardActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumIOSVirtualKeyboardActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumVirtualKeyboardActions.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: t/housekeeping ♻︎, area/testing, legacy-ui-test

#19182 [Testing] Add SetSliderValue method to UITest
  src/Controls/samples/Controls.Sample.UITests/Elements/SliderCoreGalleryPage.cs
  src/Controls/tests/UITests/Tests/SliderUITests.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumSliderActions.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: t/housekeeping ♻︎, area/controls 🎮, area/testing, control-slider, legacy-ui-test

#19223 Fix flaky Appium install
  eng/pipelines/common/ui-tests-steps.yml
  eng/scripts/appium-install.ps1
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️, area/testing

#19234 [ci] Use the token from the variable group
  eng/pipelines/device-tests.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#19070 [Windows] Fix setting flyout width (#19068)
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Core/src/Platform/Windows/RootNavigationView.cs
Labels: platform/windows 🪟, area/layout 🔲, community ✨

#17788 Correct InputView.MaxLengthProperty declaring type
  src/Controls/src/Core/InputView/InputView.cs
Labels: t/housekeeping ♻︎, area/controls 🎮, stale

#18932 [WinUI] Fix resizing CV rows when content size changed
  src/Controls/src/Core/Platform/Windows/CollectionView/ItemContentControl.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.iOS.cs
Labels: area/collectionview 📃

#19181 [Testing] Add scroll methods to UITest
  src/Controls/tests/UITests/Tests/ScrollViewUITests.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumScrollActions.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: t/housekeeping ♻︎, area/testing, legacy-ui-test

#19333 [Testing] Added DragCoordinates action to appium UITest
  src/TestUtils/src/UITest.Appium/Actions/AppiumPointerActions.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: t/housekeeping ♻︎, area/testing, legacy-ui-test

#19102 [Testing] Added lifecycle methods to UITest
  src/TestUtils/src/UITest.Appium/Actions/AppiumLifecycleActions.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: t/housekeeping ♻︎, area/testing, legacy-ui-test

#19248 Improve appium install on CI build agents
  eng/pipelines/common/ui-tests-steps.yml
  eng/scripts/appium-install.ps1
Labels: area/infrastructure 🏗️, area/testing, testing-flakiness

#18938 Allow GesturePlatformManager to be created for views with null window…
  src/Controls/src/Core/Platform/GestureManager/GestureManager.cs
  src/Controls/tests/Core.UnitTests/Gestures/GestureManagerTests.cs
Labels: community ✨, area/gestures

#17464 Fix for #11991 - CollectionView SelectedItem BackgroundColor is always Gray on iOS
  src/Controls/src/Core/Handlers/Items/iOS/TemplatedCell.cs
  src/Core/src/Platform/iOS/ColorExtensions.cs
Labels: area/collectionview 📃, community ✨, stale

#19341 Preserve logs from retries as they have data!
  src/TestUtils/src/UITest.Appium/AppiumAndroidApp.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Appium/AppiumCatalystApp.cs
  src/TestUtils/src/UITest.Appium/AppiumIOSApp.cs
  src/TestUtils/src/UITest.Appium/AppiumWindowsApp.cs
  src/TestUtils/src/UITest.Core/ApplicationState.cs
  src/TestUtils/src/UITest.Core/IApp.cs
  src/TestUtils/src/UITest.NUnit/UITestBase.cs
Labels: area/testing, testing-flakiness

#19157 Correct nullable annotations on IMediaPicker
  src/Essentials/src/MediaPicker/MediaPicker.shared.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: t/bug, t/breaking 💥, area/essentials 🍞

#19194 NativeAOT: Add integration tests for testing MAUI compatibility with NativeAOT on iOS
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Microsoft.Maui.IntegrationTests.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/BuildWarningsUtilities.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
Labels: area/testing

#18762 [Testing] Added UI Test for manual test D9
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18754.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18754.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18675.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18754.cs
Labels: t/housekeeping ♻︎, area/testing, control-editor

#19236 [net9.0] Update net9.0 with new versions
  Directory.Build.props
  Microsoft.Maui.sln
  eng/Version.Details.xml
  eng/Versions.props
  eng/cake/dotnet.cake
  src/Compatibility/ControlGallery/test/Android.UITests/Compatibility.ControlGallery.Android.UITests.csproj
  src/Compatibility/Core/src/Compatibility.csproj
  src/Compatibility/Core/src/Windows/NativeEventWrapper.cs
  src/Controls/src/Build.Tasks/Controls.Build.Tasks.csproj
  src/DotNet/Dependencies/Workloads.csproj
  src/DotNet/DotNet.csproj
  src/SingleProject/Resizetizer/src/Resizetizer.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
  src/Workload/Microsoft.NET.Sdk.Maui.Manifest/WorkloadManifest.in.json
  src/Workload/Microsoft.NET.Sdk.Maui.Manifest/WorkloadManifest.in.targets
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#19434 Remove Fuschia once again...
  src/Controls/src/Core/Brush/Brush.cs
Labels: t/housekeeping ♻︎

#19442 [Testing] Add Back method in the UITest lifecycle actions
  src/TestUtils/src/UITest.Appium/Actions/AppiumLifecycleActions.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area/testing

#19441 [net9.0] Update with main changes
  .config/dotnet-tools.json
  eng/Versions.props
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/ui-tests-steps.yml
  eng/scripts/appium-install.ps1
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18754.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18754.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19283.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19283.xaml.cs
  src/Controls/src/Core/Brush/Brush.cs
  src/Controls/src/Core/Handlers/Items/iOS/TemplatedCell.cs
  src/Controls/src/Core/Platform/GestureManager/GestureManager.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/ItemContentControl.cs
  src/Controls/src/Core/Platform/iOS/CustomPressGestureRecognizer.cs
  src/Controls/tests/Core.UnitTests/Gestures/GestureManagerTests.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18675.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18754.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19283.cs
  src/Controls/tests/UITests/Tests/ScrollViewUITests.cs
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/src/Platform/Android/ButtonExtensions.cs
  src/Core/src/Platform/iOS/ColorExtensions.cs
  src/Core/src/maui.aar
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.Android.cs
  src/Essentials/src/MediaPicker/MediaPicker.shared.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Microsoft.Maui.IntegrationTests.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/BuildWarningsUtilities.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumLifecycleActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumPointerActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumScrollActions.cs
  src/TestUtils/src/UITest.Appium/AppiumAndroidApp.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Appium/AppiumCatalystApp.cs
  src/TestUtils/src/UITest.Appium/AppiumIOSApp.cs
  src/TestUtils/src/UITest.Appium/AppiumWindowsApp.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
  src/TestUtils/src/UITest.Core/ApplicationState.cs
  src/TestUtils/src/UITest.Core/IApp.cs
  src/TestUtils/src/UITest.NUnit/UITestBase.cs
Labels: area/infrastructure 🏗️

#17543 [Android] Correctly clear text tapping the clear button on Entry
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue17453.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue17453.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17453.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-entry, stale

#19085 Save device logs when UI Tests fail
  src/Controls/tests/UITests/Tests/Concepts/InputTransparencyGalleryTests.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Core/IApp.cs
  src/TestUtils/src/UITest.NUnit/UITestBase.cs
Labels: area/infrastructure 🏗️, area/testing, testing-flakiness

#19337 XamlC WarnAsErrors.
  src/Controls/src/Build.Tasks/BuildException.cs
  src/Controls/src/Build.Tasks/ErrorMessages.Designer.cs
  src/Controls/src/Build.Tasks/ErrorMessages.resx
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Build.Tasks/XamlCTask.cs
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/tests/Xaml.UnitTests/Controls.Xaml.UnitTests.csproj
Labels: area/Xaml </>

#18747 Move the device test for ShowsKeyboardOnFocus to Appium
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18740.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18740.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18740Editor.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18740Editor.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18740Entry.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18740Entry.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18740SearchBar.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18740SearchBar.xaml.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.cs
  src/Controls/tests/DeviceTests/Elements/SearchBar/SearchBarTests.cs
  src/Controls/tests/DeviceTests/Elements/TextInput/TextInputFocusTests.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18740.cs
Labels: t/housekeeping ♻︎, area/testing, area/keyboard

#18899 [Testing] Added UI Test for manual test C3
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18896.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18896.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18896.cs
  src/Controls/tests/UITests/snapshots/android/Issue18896Test.png
Labels: t/housekeeping ♻︎, area/controls 🎮, area/testing, control-refreshview

#18794 [Testing] Added UI Test for manual test C2
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18751.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18751.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18751.cs
  src/Controls/tests/UITests/snapshots/android/Issue18751Test.png
  src/Controls/tests/UITests/snapshots/ios/Issue18751Test.png
Labels: t/housekeeping ♻︎, area/controls 🎮, area/testing, control-refreshview

#19494 [Housekeeping] Fix main build
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18896.xaml.cs
Labels: t/housekeeping ♻︎

#19390 [X] Change the default value for xaml-comp
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/tests/Xaml.UnitTests/CecilExtensionsTests.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh13209.xaml.cs
  src/Controls/tests/Xaml.UnitTests/ResourceDictionaryWithSource.xaml.cs
Labels: area/Xaml </>

#19482 Fix Clear Button size calculation
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue17453.xaml
  src/Controls/tests/UITests/Tests/Issues/Issue17453.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: platform/android 🤖, area/controls 🎮, control-entry

#19360 [X] Warn on non compiled bindings
  src/Compatibility/ControlGallery/src/Core/Compatibility.ControlGallery.Core.csproj
  src/Controls/samples/Directory.Build.props
  src/Controls/src/Build.Tasks/BuildException.cs
  src/Controls/src/Build.Tasks/ErrorMessages.Designer.cs
  src/Controls/src/Build.Tasks/ErrorMessages.resx
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/tests/Xaml.UnitTests/Controls.Xaml.UnitTests.csproj
  src/Essentials/samples/Directory.Build.props
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
Labels: area/perf 🏎️

#19475 [ci] Move to new compliance task
  eng/automation/guardian/CredScanSuppressions.json
  eng/automation/guardian/PoliCheck.Exclusions.xml
  eng/automation/guardian/source.gdnsuppress
  eng/automation/guardian/tsaoptions-v2.json
  eng/pipelines/common/pack.yml
  eng/pipelines/common/provision.yml
  eng/pipelines/common/security-compliance.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/handlers.yml
  eng/provisioning/provisioning.csx
  eng/provisioning/vs.csx
  src/Compatibility/ControlGallery/src/Core/GalleryPages/EditableList.cs
  src/Compatibility/Core/src/iOS/CollectionView/ItemsViewController.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellContentFragment.cs
Labels: area/infrastructure 🏗️

#19394 Bump Xamarin.UITest from 4.1.4 to 4.3.3
  eng/devices/ios.cake
  src/Compatibility/ControlGallery/test/Android.UITests/Compatibility.ControlGallery.Android.UITests.csproj
  src/Compatibility/ControlGallery/test/WinUI.UITests/WinUI.UITests.csproj
  src/Compatibility/ControlGallery/test/iOS.UITests/Compatibility.ControlGallery.iOS.UITests.csproj
Labels: t/housekeeping ♻︎, area/testing, testing-legacy-ui-tests

#19301 Add design time converters
  src/Controls/src/Core.Design/AttributeTableBuilder.cs
  src/Controls/src/Core.Design/BoundsDesignTypeConverter.cs
  src/Controls/src/Core.Design/ButtonContentDesignTypeConverter.cs
  src/Controls/src/Core.Design/ConstraintDesignTypeConverter.cs
  src/Controls/src/Core.Design/Controls.Core.Design.csproj
  src/Controls/src/Core.Design/CornerRadiusDesignTypeConverter.cs
  src/Controls/src/Core.Design/DesignTypeConverterHelper.cs
  src/Controls/src/Core.Design/ImageSourceDesignTypeConverter.cs
  src/Controls/src/Core.Design/PointTypeDesignConverter.cs
  src/Controls/src/Core.Design/RectTypeDesignConverter.cs
  src/Controls/src/Core.Design/ThicknessTypeDesignConverter.cs
  src/Controls/src/Core.Design/VisibilityDesignTypeConverter.cs
  src/Controls/src/Core/Button/Button.cs
  src/Controls/src/Core/ImageSourceConverter.cs
  src/Controls/src/Core/Layout/BoundsTypeConverter.cs
  src/Controls/src/Core/LegacyLayouts/ConstraintTypeConverter.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/tests/Core.Design.UnitTests/BoundsDesignTypeConverterTests.cs
  src/Controls/tests/Core.Design.UnitTests/ButtonContentDesignTypeConverterTests.cs
  src/Controls/tests/Core.Design.UnitTests/ConstraintDesignTypeConverterTests.cs
  src/Controls/tests/Core.Design.UnitTests/Controls.Core.Design.UnitTests.csproj
  src/Controls/tests/Core.Design.UnitTests/CornerRadiusDesignTypeConverterTests.cs
  src/Controls/tests/Core.Design.UnitTests/ImageSourceDesignTypeConverterTests.cs
  src/Controls/tests/Core.Design.UnitTests/PointTypeDesignConverterTests.cs
  src/Controls/tests/Core.Design.UnitTests/RectTypeDesignConverterTests.cs
  src/Controls/tests/Core.Design.UnitTests/ThicknessTypeDesignConverterTests.cs
  src/Controls/tests/Core.Design.UnitTests/VisibilityDesignTypeConverterTests.cs
  src/Core/src/Converters/CornerRadiusTypeConverter.cs
  src/Core/src/Converters/ThicknessTypeConverter.cs
  src/Graphics/src/Graphics/Point.cs
  src/Graphics/src/Graphics/Rect.cs
Labels: area/Xaml </>

#17696 [iOS] Fix wrong gray color using transparent in iOS gradients
  src/Controls/samples/Controls.Sample.UITests/Issues/Issues17366.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issues17366.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Compatibility/FramePage.xaml
  src/Controls/src/Core/Compatibility/Handlers/iOS/FrameRenderer.cs
  src/Controls/src/Core/Platform/iOS/Extensions/BrushExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.iOS.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17366.cs
  src/Controls/tests/UITests/snapshots/ios/Issue17366Test.png
  src/Core/src/Graphics/PaintExtensions.iOS.cs
Labels: t/bug, area/drawing ✏️, platform/iOS 🍎

#19540 Set Simulator UDID explicitly for CG UI tests
  src/Compatibility/ControlGallery/src/Issues.Shared/TestPages/TestPages.cs
Labels: t/housekeeping ♻︎, area/testing, testing-legacy-ui-tests

#19546 Disable flaky compat test
  src/Compatibility/ControlGallery/src/Issues.Shared/Github6384.cs
Labels: t/housekeeping ♻︎, area/testing, testing-flakiness, testing-legacy-ui-tests
