Repository dotnet/maui, pull requests merged in 2023-08, with the labels that each got.

#16457 [build] Remove the old step for vs insertion on release
  eng/pipelines/common/insertion.yml
Labels: t/housekeeping ♻︎

#16411 Reinstate IContentView and ILayout methods
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/src/Core/ContentPage/ContentPage.cs
  src/Core/src/Core/IContentView.cs
  src/Core/src/Core/ILayout.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Android.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Windows.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: area/layout 🔲, t/housekeeping ♻︎

#15832 [iOS/Catalyst] Fix issue setting ContentPage gradient background
  src/Core/src/Handlers/Page/PageHandler.cs
  src/Core/src/Handlers/Page/PageHandler.iOS.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: t/bug, area/drawing ✏️, platform/iOS 🍎, area/controls 🎮, control-pages

#16484 [Housekeeping] Add latest versions to bug template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️, Task

#14718 [Essentials] add WiFi permissions on Android 13+
  src/Essentials/src/Permissions/Permissions.android.cs
  src/Essentials/src/Permissions/Permissions.ios.tvos.watchos.cs
  src/Essentials/src/Permissions/Permissions.macos.cs
  src/Essentials/src/Permissions/Permissions.netstandard.cs
  src/Essentials/src/Permissions/Permissions.shared.cs
  src/Essentials/src/Permissions/Permissions.tizen.cs
  src/Essentials/src/Permissions/Permissions.uwp.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Shipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Shipped.txt
Labels: area/essentials 🍞, community ✨

#16477 [uitests] Skip a couple of more Compatibility UITests
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue12574.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2681.cs
Labels: t/housekeeping ♻︎, area/testing

#14999 Add visual testing support, on top of Appium
  .gitignore
  eng/devices/android.cake
  src/Controls/samples/Controls.Sample.UITests/Issues/Issues15330.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issues15330.xaml.cs
  src/Controls/tests/UITests/Controls.AppiumTests.csproj
  src/Controls/tests/UITests/Tests/Issues/Issue15330.cs
  src/Controls/tests/UITests/Tests/UITestBase.cs
  src/Controls/tests/UITests/Tests/VisualTestContext.cs
  src/Controls/tests/UITests/snapshots/android/Issue15330Test.png
  src/Controls/tests/UITests/snapshots/ios/Issue15330Test.png
  src/Controls/tests/UITests/snapshots/windows/Issue15330Test.png
  src/TestUtils/src/TestUtils.Appium.UITests/AppiumUITestApp.cs
  src/TestUtils/src/TestUtils.Appium.UITests/IApp2.cs
  src/TestUtils/src/TestUtils/TestUtils.csproj
Labels: area/testing

#16487 Fix BlazorWebView tests on Windows
  src/BlazorWebView/tests/MauiDeviceTests/Elements/BlazorWebViewTests.cs
  src/BlazorWebView/tests/MauiDeviceTests/HandlerTestBase.cs
  src/BlazorWebView/tests/MauiDeviceTests/WebViewHelpers.Windows.cs
  src/Core/tests/DeviceTests.Shared/Stubs/CoreApplicationStub.cs
Labels: area/blazor 🕸️

#16479 [testing] Make test by default on 16.4
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/automation/SignList.xml
  eng/devices/ios.cake
  eng/pipelines/device-tests.yml
  eng/pipelines/handlers.yml
  eng/pipelines/ui-tests.yml
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/XHarness.cs
Labels: t/housekeeping ♻︎, area/testing

#16508 [build] allow main to be built with a .NET 8 SDK
  eng/cake/dotnet.cake
  global.json
  src/DotNet/DotNet.csproj
Labels: area/infrastructure 🏗️

#16488 Allow * rows/columns treated as Auto to expand during 2nd measure pass
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
  src/Core/tests/UnitTests/Layouts/LayoutTestHelpers.cs
Labels: area/layout 🔲, backport/suggested

#16541 Revert "[Windows] fixing window glitches while moving or resizing (#14861)"
  src/Controls/src/Core/Window/Window.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
Labels: t/housekeeping ♻︎

#16532 [ios] fix memory leak in SwipeView
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiSwipeView.cs
Labels: platform/iOS 🍎, area/perf 🏎️, memory-leak 💦

#16549 [tests] Fix run Compatibility on iOS
  eng/pipelines/common/provision.yml
  eng/pipelines/ui-tests.yml
Labels: t/housekeeping ♻︎, area/testing

#16535 Add <inheritdoc /> XML docs for explicit interface implementations in BlazorWebView
  src/BlazorWebView/src/Maui/BlazorWebView.cs
Labels: area/docs 📓, area/blazor 🕸️, t/docs 📝

#16461 Add `dotnet-local` scripts to make using in tree dotnet easier.
  .github/DEVELOPMENT.md
  dotnet-local.cmd
  dotnet-local.sh
Labels: area/infrastructure 🏗️

#16486 [SourceGen] Support genric types from XML namespaces
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/tests/Xaml.UnitTests.ExternalAssembly/App.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui2304Closed.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui2304Closed.xaml.cs
Labels: area/Xaml </>

#16265 [ios] fix memory leak in TimePicker
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.MacCatalyst.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiTimePicker.cs
Labels: platform/iOS 🍎, area/perf 🏎️, memory-leak 💦

#16299 Document Element
  src/Controls/docs/Microsoft.Maui.Controls/Element.xml
  src/Controls/src/Core/Element/Element.Mapper.cs
  src/Controls/src/Core/Element/Element.Standard.cs
  src/Controls/src/Core/Element/Element.cs
  src/Controls/src/Core/Element/Element_StyleSheets.cs
  src/Controls/src/Core/IElementController.cs
  src/Controls/src/Core/IElementDefinition.cs
  src/Controls/src/Core/IVisualElementController.cs
  src/Controls/src/Core/Internals/INameScope.cs
  src/Core/src/Core/IVisualTreeElement.cs
Labels: area/docs 📓

#15985 Fix Graphics Font comparison method
  src/Graphics/src/Graphics/Font.cs
  src/Graphics/tests/Graphics.Tests/FontUnitTests.cs
Labels: t/bug, area/drawing ✏️

#16213 [WinUI] Implement PointerPressed and PointerReleased
  src/Controls/samples/Controls.Sample/Pages/Core/PointerGestureGalleryPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/PointerGestureGalleryPage.xaml.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/src/Core/PointerGestureRecognizer.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/Gestures/PointerGestureRecognizerTests.cs
Labels: area/desktop 🖥️, area/gestures

#5611 [X] Optimize OnPlatform element syntax
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/src/SourceGen/Controls.SourceGen.csproj
  src/Controls/src/Xaml/SimplifyOnPlatformVisitor.cs
  src/Controls/src/Xaml/XamlNode.cs
  src/Controls/tests/Xaml.UnitTests/OnPlatformOptimization.xaml
  src/Controls/tests/Xaml.UnitTests/OnPlatformOptimization.xaml.cs
Labels: area/Xaml </>, area/perf 🏎️

#16613 [Housekeeping] Add 8.0 preview 7 to bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎, Task

#16597 [X] Support DynResources as AppThemeBinding values
  src/Controls/src/Core/AppThemeBinding.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui13619.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui13619.xaml.cs
Labels: area/Xaml </>

#16331 Adds prompts when creating a new page.
  src/Templates/src/templates/maui-contentpage-csharp/.template.config/template.json
  src/Templates/src/templates/maui-contentpage-xaml/.template.config/template.json
  src/Templates/src/templates/maui-contentview-csharp/.template.config/template.json
  src/Templates/src/templates/maui-contentview-xaml/.template.config/template.json
  src/Templates/src/templates/maui-resourcedictionary-xaml/.template.config/template.json
Labels: community ✨, backport/suggested

#16605 [ios] fix memory leak in GraphicsView
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Core/src/Platform/iOS/PlatformTouchGraphicsView.cs
Labels: area/drawing ✏️, platform/iOS 🍎, memory-leak 💦

#16603 [iOS] Added DeviceTest to validate CharacterSpacing on Button
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.iOS.cs
Labels: platform/iOS 🍎, t/housekeeping ♻︎, area/testing

#16426 Implement Additional PointerGestureRecognizer Platform Arguments
  src/Controls/samples/Controls.Sample.UITests/CoreViews/CorePageView.cs
  src/Controls/samples/Controls.Sample.UITests/Elements/GestureRecognizerGallery.cs
  src/Controls/samples/Controls.Sample.UITests/Elements/PointerGestureRecognizerEvents.xaml
  src/Controls/samples/Controls.Sample.UITests/Elements/PointerGestureRecognizerEvents.xaml.cs
  src/Controls/src/Core/Platform/Android/PointerGestureHandler.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.iOS.cs
  src/Controls/src/Core/PlatformPointerEventArgs.cs
  src/Controls/src/Core/PointerEventArgs.cs
  src/Controls/src/Core/PointerGestureRecognizer.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/UITests/IUITestContextExtensions.cs
  src/Controls/tests/UITests/Tests/GestureRecognizerUITests.cs
Labels: platform/macOS 🍏, platform/windows 🪟, platform/android 🤖, platform/iOS 🍎, area/gestures

#16404 [C] fix Specificity for VSM
  src/Controls/src/Core/SetterSpecificity.cs
  src/Controls/src/Core/VisualStateManager.cs
  src/Controls/tests/Core.UnitTests/VisualStateManagerTests.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui11204.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui11204.xaml.cs
Labels: area/Xaml </>

#16078 Prevent Android timer from adding multiple callbacks
  src/Core/src/Dispatching/Dispatcher.Android.cs
  src/Core/tests/DeviceTests/Services/Dispatching/DispatcherTests.cs
Labels: area/dispatching

#16650 [Housekeeping] Remove checkboxes from bug template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎, Task

#16463 Locate MAUI View for PlatformView
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTree/FindVisualTreeElementInsideTestCase.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTree/VisualElementTreeTests.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTreeTests.cs
  src/Controls/tests/DeviceTests/TestClasses/NestingView.cs
  src/Core/src/Core/Extensions/VisualTreeElementExtensions.cs
  src/Core/src/Core/IVisualTreeElementProvidable.cs
  src/Core/src/Platform/Android/ContentViewGroup.cs
  src/Core/src/Platform/Android/LayoutViewGroup.cs
  src/Core/src/Platform/Android/MauiSwipeView.cs
  src/Core/src/Platform/Android/ViewGroupExtensions.cs
  src/Core/src/Platform/Tizen/ViewExtensions.cs
  src/Core/src/Platform/ViewExtensions.cs
  src/Core/src/Platform/Windows/MauiPanel.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/MauiView.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Layout/LayoutHandlerTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
Labels: area/architecture

#16644 [android] update AOT profile for .NET 8.0.100-rc.1.23404.2
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui-blazor.aotprofile
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui-blazor.aotprofile.txt
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui.aotprofile
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui.aotprofile.txt
Labels: platform/android 🤖, area/perf 🏎️

#16614 [ios] fix memory leak in SwipeItem
  src/Controls/tests/DeviceTests/Elements/SwipeView/SwipeViewTests.cs
  src/Core/src/Handlers/SwipeItemMenuItem/SwipeItemMenuItemHandler.iOS.cs
Labels: platform/iOS 🍎, memory-leak 💦

#16589 [ios/catalyst] fix memory leak in DatePicker
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.MacCatalyst.cs
  src/Core/src/Platform/iOS/MauiDatePicker.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-datetimepicker, memory-leak 💦

#16374 [build] Bump XCode to 14.3.1
  eng/pipelines/common/variables.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#16552 Add doc comments for common types used in templates, maps, webview
  src/Controls/Maps/src/AppHostBuilderExtensions.cs
  src/Controls/Maps/src/Controls.Maps.csproj
  src/Controls/Maps/src/Pin.cs
  src/Controls/Maps/src/PinType.cs
  src/Controls/src/Core/WebView/WebView.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
  src/Core/maps/src/Core/IMap.cs
  src/Core/src/Hosting/Fonts/FontCollectionExtensions.cs
  src/Core/src/Hosting/Fonts/FontsMauiAppBuilderExtensions.cs
  src/Core/src/Hosting/Fonts/IFontCollection.cs
  src/Core/src/Hosting/MauiApp.cs
  src/Core/src/Platform/Android/MauiApplication.cs
  src/Core/src/Platform/Windows/MauiWinUIApplication.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.cs
  src/Core/src/Primitives/LayoutAlignment.cs
  src/Core/src/Primitives/WebNavigationEvent.cs
  src/Core/src/Primitives/WebNavigationResult.cs
Labels: area/docs 📓, t/docs 📝

#16682 Update CODEOWNERS
  .github/CODEOWNERS
Labels: t/housekeeping ♻︎, Task

#16676 Fix the case where silent was requested
  src/Controls/src/Core/BindableObject.cs
  src/Controls/tests/Core.UnitTests/BindableObjectUnitTests.cs
Labels: area/Xaml </>

#16683 Use the correct WASDK property
  src/Core/src/nuget/buildTransitive/Microsoft.Maui.Core.After.targets
  src/SingleProject/Resizetizer/src/nuget/buildTransitive/Microsoft.Maui.Resizetizer.After.targets
Labels: area/single project ☝️, backport/suggested

#16637 Re-land "[Windows] fixing window glitches while moving or resizing"
  src/Controls/src/Core/Window/Window.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
Labels: community ✨

#16710 Update WebNavigationResult.cs doc comments
  src/Core/src/Primitives/WebNavigationResult.cs
Labels: area/docs 📓, t/docs 📝

#16591 Make Android visual test screenshots more deterministic
  src/Controls/samples/Controls.Sample.UITests/CoreViews/CoreNavigationPage.cs
  src/Controls/samples/Controls.Sample.UITests/TestCases.cs
  src/Controls/tests/UITests/Tests/UITestBase.cs
  src/Controls/tests/UITests/snapshots/android/Issue15330Test.png
  src/Controls/tests/UITests/snapshots/ios/Issue15330Test.png
  src/Controls/tests/UITests/snapshots/windows/Issue15330Test.png
Labels: area/infrastructure 🏗️

#16750 Obsolete VisualElement.FocusChangeRequested event
  src/Controls/src/Core/VisualElement/VisualElement.cs
Labels: t/breaking 💥, t/housekeeping ♻︎, area/controls 🎮

#16687 [UITest] Add more logging and restart in setup
  src/Controls/tests/UITests/IUITestContextExtensions.cs
  src/Controls/tests/UITests/Tests/CheckBoxUITests.cs
  src/Controls/tests/UITests/Tests/EditorUITests.cs
  src/Controls/tests/UITests/Tests/Issues/_IssuesUITest.cs
  src/Controls/tests/UITests/Tests/RadioButtonUITests.cs
  src/Controls/tests/UITests/Tests/UITestBase.cs
  src/Controls/tests/UITests/Tests/_ViewUITests.cs
  src/Controls/tests/UITests/ViewContainers/BaseViewContainerRemote.cs
  src/Controls/tests/UITests/ViewContainers/EventViewContainerRemote.cs
  src/Controls/tests/UITests/ViewContainers/StateViewContainerRemote.cs
  src/TestUtils/src/TestUtils.Appium.UITests/AppiumContext.cs
  src/TestUtils/src/TestUtils.Appium.UITests/UITestContext.cs
  src/TestUtils/src/TestUtils.Appium.UITests/UITestContextTestBase.cs
Labels: area/testing

#16685 [ios] fix memory leak in Picker
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiPicker.cs
Labels: platform/iOS 🍎, memory-leak 💦

#15873 [X] avoid AmbiguousMatchException
  src/Controls/src/Xaml/ApplyPropertiesVisitor.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui13962.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui13962.xaml.cs
Labels: area/Xaml </>

#16769 [UITest] Add reset to test teardown if the app is not running anymore
  src/Controls/tests/UITests/Tests/UITestBase.cs
  src/TestUtils/src/TestUtils.Appium.UITests/AppiumUITestApp.cs
  src/TestUtils/src/TestUtils.Appium.UITests/ApplicationState.cs
  src/TestUtils/src/TestUtils.Appium.UITests/IApp2.cs
Labels: area/testing

#16766 [tests] Enable TreatWarningsAsErrors=true
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/SampleTests.cs
Labels: area/infrastructure 🏗️

#16753 Streamline SwipeView Children
  src/Controls/src/Core/Layout.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/SwipeView/SwipeItems.cs
  src/Controls/src/Core/SwipeView/SwipeView.cs
  src/Controls/src/Core/TemplatedView/TemplatedView.cs
  src/Controls/tests/Core.UnitTests/SwipeViewTests.cs
Labels: area/controls 🎮

#16534 Allow "duplicate" files to be processed
  src/Core/tests/DeviceTests/Resources/Images/appicon.svg
  src/SingleProject/Resizetizer/src/DetectInvalidResourceOutputFilenamesTask.cs
  src/SingleProject/Resizetizer/src/ResizeImageInfo.cs
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/nuget/buildTransitive/Microsoft.Maui.Resizetizer.After.targets
  src/SingleProject/Resizetizer/test/UnitTests/DetectInvalidResourceOutputFilenamesTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/ResizetizeImagesTests.cs
Labels: area/single project ☝️

#15652 [net7.0] Make CollectionView on iOS measure to content size
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.iOS.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewSizingTestCase.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: t/housekeeping ♻︎, area/collectionview 📃

#16633 Make ImageSourcePartExtensions public
  src/Core/src/Platform/Android/ImageSourcePartExtensions.cs
  src/Core/src/Platform/Windows/ImageSourcePartExtensions.cs
  src/Core/src/Platform/iOS/ImageSourcePartExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: area/image :framed_picture:, t/housekeeping ♻︎, i/regression

#16795 [build] avoid NETSDK1195 error
  src/Compatibility/Core/src/Compatibility.csproj
  src/Essentials/src/Essentials.csproj
Labels: t/housekeeping ♻︎

#16706 Document IElementHandler
  src/Core/src/Handlers/IElementHandler.cs
Labels: area/docs 📓

#16572 Import Keyboard Extension APIs
  src/Compatibility/Core.LegacyRenderers/Android/Cells/EntryCellView.cs
  src/Compatibility/Core/src/Android/AppCompat/FormsAppCompatActivity.cs
  src/Compatibility/Core/src/Android/PickerManager.cs
  src/Compatibility/Core/src/Android/Renderers/EditorRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/EntryRenderer.cs
  src/Compatibility/Core/src/Android/Renderers/FormsEditText.cs
  src/Compatibility/Core/src/Android/Renderers/SearchBarRenderer.cs
  src/Compatibility/Material/src/Android/MaterialFormsEditText.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/SoftInputExtensionsPage.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/EntryPage.xaml.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/EntryCellView.cs
  src/Controls/src/Core/Platform/Android/Extensions/InputViewExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.Android.cs
  src/Controls/tests/UITests/Tests/Issues/SoftInputExtensionsPageTests.cs
  src/Core/src/Platform/Android/KeyboardExtensions.cs
  src/Core/src/Platform/Android/KeyboardManager.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Tizen/ViewExtensions.cs
  src/Core/src/Platform/Windows/FrameworkElementExtensions.cs
  src/Core/src/Platform/Windows/KeyboardExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/src/SoftInputExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
Labels: area/controls 🎮

#16762 [windows] fix memory leak in ListView
  src/Controls/src/Core/Compatibility/Handlers/ListView/Windows/CellControl.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: area/ListView, memory-leak 💦

#16738 Document Brush & Colors
  src/Controls/docs/Microsoft.Maui.Controls/Brush.xml
  src/Controls/src/Core/Brush/Brush.cs
  src/Graphics/src/Graphics/Colors.cs
Labels: area/docs 📓

#16852 [Backport net7.0] Add doc comments for common types used in templates
  src/Controls/Maps/src/AppHostBuilderExtensions.cs
  src/Controls/Maps/src/Controls.Maps.csproj
  src/Controls/Maps/src/Pin.cs
  src/Controls/Maps/src/PinType.cs
  src/Controls/src/Core/WebView.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
  src/Core/maps/src/Core/IMap.cs
  src/Core/src/Hosting/Fonts/FontCollectionExtensions.cs
  src/Core/src/Hosting/Fonts/FontsMauiAppBuilderExtensions.cs
  src/Core/src/Hosting/Fonts/IFontCollection.cs
  src/Core/src/Hosting/MauiApp.cs
  src/Core/src/Platform/Android/MauiApplication.cs
  src/Core/src/Platform/Windows/MauiWinUIApplication.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.cs
  src/Core/src/Primitives/LayoutAlignment.cs
  src/Core/src/Primitives/WebNavigationEvent.cs
  src/Core/src/Primitives/WebNavigationResult.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#16678 [macOS] Don't force the RID to be x64-only
  src/BlazorWebView/tests/MauiDeviceTests/MauiBlazorWebView.DeviceTests.csproj
  src/Controls/samples/Controls.Sample.Profiling/Maui.Controls.Sample.Profiling.csproj
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Controls/samples/Controls.Sample.UITests/Controls.Sample.UITests.csproj
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Essentials/samples/Samples/Essentials.Sample.csproj
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Graphics/samples/GraphicsTester.MacCatalyst/GraphicsTester.MacCatalyst.csproj
  src/Graphics/tests/DeviceTests/Graphics.DeviceTests.csproj
  src/TestUtils/samples/DeviceTests.Sample/TestUtils.DeviceTests.Sample.csproj
Labels: area/infrastructure 🏗️

#16840 Make it more obvious how to use shell with sandbox
  src/Controls/samples/Controls.Sample.Sandbox/MauiProgram.cs
Labels: area/infrastructure 🏗️, area/testing

#16837 [net7.0] Fix Grid cells not honoring MaxWidth
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/Core/src/Handlers/ViewHandlerExtensions.iOS.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
Labels: area/layout 🔲

#16732 Add a "VSCode" target to open the "maui.code-workspace".
  .github/DEVELOPMENT.md
  eng/cake/dotnet.cake
Labels: area/infrastructure 🏗️

#16752 [windows] Fix Picker PointerOver TextColor (#16751)
  src/Core/src/Platform/Windows/PickerExtensions.cs
Labels: platform/windows 🪟, area/controls 🎮, community ✨, control-picker

#16833 Add note about ClipsToBounds/IsClippedToBounds
  docs/design/layout.md
Labels: area/docs 📓

#16853 Correct minor Barometer API docs mistake
  src/Essentials/src/Barometer/Barometer.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#15984 [iOS] Fix ScrollTo method issues
  src/Controls/samples/Controls.Sample.UITests/CoreViews/CorePageView.cs
  src/Controls/samples/Controls.Sample.UITests/Elements/ScrollViewCoreGalleryPage.cs
  src/Controls/samples/Controls.Sample/Pages/Layouts/ScrollViewPages/ScrollToFromConstructorPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Layouts/ScrollViewPages/ScrollToFromConstructorPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/ScrollViewOptionsModel.cs
  src/Controls/src/Core/ScrollView/ScrollView.cs
  src/Controls/tests/DeviceTests/Elements/ScrollView/ScrollViewTests.cs
  src/Controls/tests/UITests/Tests/ScrollViewUITests.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, layout-scrollview, backport/suggested

#16165 [Android] Fix issue setting CarouselView position on Ctor or Appearing
  src/Controls/samples/Controls.Sample.UITests/CoreViews/CorePageView.cs
  src/Controls/samples/Controls.Sample.UITests/Elements/CarouselViewCoreGalleryPage.xaml
  src/Controls/samples/Controls.Sample.UITests/Elements/CarouselViewCoreGalleryPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselItemsGallery.cs
  src/Controls/src/Core/Handlers/Items/Android/MauiCarouselRecyclerView.cs
  src/Controls/tests/DeviceTests/Elements/CarouselView/CarouselViewTests.Android.cs
  src/Controls/tests/UITests/Tests/CarouselViewUITests.cs
Labels: t/bug, platform/android 🤖, area/collectionview 📃

#16838 [windows] improve memory usage of `CollectionView`
  src/Controls/src/Core/Platform/Windows/CollectionView/ItemTemplateContextList.cs
Labels: area/collectionview 📃, memory-leak 💦

#16346 [ios] test MemoryAnalyzers package
  src/Core/src/Core.csproj
  src/Core/src/Platform/iOS/ContainerViewController.cs
  src/Core/src/Platform/iOS/MauiCheckBox.cs
  src/Core/src/Platform/iOS/MauiRefreshView.cs
  src/Core/src/Platform/iOS/MauiSearchBar.cs
  src/Core/src/Platform/iOS/MauiSwipeView.cs
  src/Core/src/Platform/iOS/MauiTextField.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
  src/Core/src/Platform/iOS/MauiTimePicker.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.cs
  src/Core/src/Platform/iOS/MauiWKWebView.cs
  src/Core/src/Platform/iOS/PlatformTouchGraphicsView.cs
  src/Core/src/Platform/iOS/ResignFirstResponderTouchGestureRecognizer.cs
  src/Core/src/Platform/iOS/WrapperView.cs
Labels: platform/iOS 🍎, area/perf 🏎️, memory-leak 💦

#16138 Fix support for VisualDiagnosticsOverlay/IWindowOverlay on Android Shell Apps
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellRenderer.cs
  src/Core/src/Platform/Android/Navigation/NavigationRootManager.cs
Labels: platform/android 🤖, area/tooling ⚙️, area/shell 🐢

#16770 Tests: Add support for connected component analysis
  src/Controls/tests/DeviceTests/Elements/Border/BorderTests.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBasement.cs
  src/Core/tests/DeviceTests.Shared/ImageAnalysis/ConnectedComponentAnalysis.cs
  src/Core/tests/DeviceTests.Shared/ImageAnalysis/RawBitmap.cs
Labels: area/testing, community ✨

#16754 Update VisualElement docs
  src/Controls/src/Core/VisualElement/VisualElement.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#16756 Enable Windows device tests on net7.0
  .config/dotnet-tools.json
  eng/cake/dotnet.cake
  eng/devices/windows.cake
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
  src/BlazorWebView/tests/MauiDeviceTests/Elements/BlazorWebViewTests.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Core/tests/DeviceTests.Shared/Core.DeviceTests.Shared.csproj
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/TestBase.cs
  src/Core/tests/DeviceTests/Handlers/ActivityIndicator/ActivityIndicatorHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/ActivityIndicator/ActivityIndicatorHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/TextInput/TextInputHandlerTests.cs
  src/Core/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Core/tests/DeviceTests/Stubs/BorderStub.cs
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Essentials/test/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Essentials/test/DeviceTests/Tests/AppActions_Tests.cs
  src/Essentials/test/DeviceTests/Tests/AppInfo_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Battery_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Launcher_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Vibration_Tests.cs
  src/Graphics/tests/DeviceTests/Graphics.DeviceTests.csproj
  src/Graphics/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/TestUtils/src/DeviceTests.Runners/AppHostBuilderExtensions.cs
  src/TestUtils/src/DeviceTests.Runners/HeadlessRunner/TestDevice.cs
  src/TestUtils/src/DeviceTests.Runners/HeadlessRunner/Windows/HeadlessTestRunner.cs
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/Pages/HomePage.xaml.cs
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
Labels: platform/windows 🪟, t/housekeeping ♻︎, area/testing

#16530 Add property for tapping on page to close soft input keyboard
  src/Controls/samples/Controls.Sample.UITests/Issues/HideSoftInputOnTappedPage.cs
  src/Controls/src/Core/ContentPage/ContentPage.Mapper.cs
  src/Controls/src/Core/ContentPage/ContentPage.cs
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.Android.cs
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.Platform.cs
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.cs
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.iOS.cs
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/ResignFirstResponderTouchGestureRecognizer.iOS.cs
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/TapWindowTracker.Android.cs
  src/Controls/src/Core/Editor/Editor.Android.cs
  src/Controls/src/Core/Editor/Editor.Mapper.cs
  src/Controls/src/Core/Entry/Entry.Android.cs
  src/Controls/src/Core/Entry/Entry.Mapper.cs
  src/Controls/src/Core/InputView/InputView.Android.cs
  src/Controls/src/Core/InputView/InputView.Platform.cs
  src/Controls/src/Core/InputView/InputView.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/SearchBar/SearchBar.Android.cs
  src/Controls/src/Core/SearchBar/SearchBar.Mapper.cs
  src/Controls/src/Core/Window/Window.Android.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
  src/Controls/tests/Core.UnitTests/NavigationUnitTest.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.iOS.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.iOS.cs
  src/Controls/tests/UITests/Tests/AppExtensions.cs
  src/Controls/tests/UITests/Tests/Issues/HideSoftInputOnTappedPageTests.cs
  src/Core/src/Core/IPlatformEventsListener.cs
  src/Core/src/Platform/Android/MauiAppCompatActivity.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/iOS/MauiSearchBar.cs
  src/Core/src/Platform/iOS/MauiTextField.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
  src/Core/src/Platform/iOS/ResignFirstResponderTouchGestureRecognizer.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests.Shared/HandlerTests/TestBase.cs
  src/Core/tests/DeviceTests/Memory/UIViewSubclassTests.cs
  src/TestUtils/src/TestUtils.Appium.UITests/AppiumUITestApp.cs
  src/TestUtils/src/TestUtils.Appium.UITests/IApp2.cs
Labels: area/keyboard

#16933 Improve VisualElement API Docs Follow-up
  src/Controls/src/Core/VisualElement/VisualElement.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#16905 [UITest] Get the tabbedpage UI test working
  src/Controls/samples/Controls.Sample.UITests/Elements/TabbedPageScrollConflictsPage.xaml
  src/Controls/samples/Controls.Sample.UITests/Elements/TabbedPageScrollConflictsPage.xaml.cs
  src/Controls/tests/UITests/Tests/TabbedPageScrollConflictsTests.cs
Labels: area/testing

#16842 [windows] Fixed CarouselView items rendering
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue12567.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Windows.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/ItemContentControl.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/tests/UITests/Tests/Issues/Issue12567.cs
Labels: partner/cat 😻, area/collectionview 📃, backport/suggested

#16937 [workload] Only install the WinUI pack on Windows
  src/Workload/Microsoft.NET.Sdk.Maui/WorkloadManifest.in.json
Labels: area/setup 🪄

#16741 [core] use factory methods for registering services
  eng/BannedSymbols.txt
  src/BlazorWebView/src/SharedSource/BlazorWebViewServiceCollectionExtensions.cs
  src/Compatibility/Core/src/MauiHandlersCollectionExtensions.cs
  src/Controls/Maps/src/AppHostBuilderExtensions.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/DeviceTests/ControlsDeviceTestExtensions.cs
  src/Core/src/Hosting/ImageSources/ImageSourceServiceCollectionExtensions.cs
  src/Core/src/Hosting/MauiHandlersCollectionExtensions.cs
  src/Core/src/HotReload/HotReloadHelper.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/Benchmarks/Core.Benchmarks.csproj
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
Labels: area/perf 🏎️

#16939 [UITest] Add a timeout to the appium server startup
  src/Controls/tests/UITests/Tests/Issues/_IssuesUITest.cs
  src/Controls/tests/UITests/Tests/_ViewUITests.cs
  src/TestUtils/src/TestUtils.Appium.UITests/AppiumContext.cs
Labels: area/testing

#16970 Revert adding Windows DeviceTests to .NET 7
  .config/dotnet-tools.json
  eng/cake/dotnet.cake
  eng/devices/windows.cake
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
  src/BlazorWebView/tests/MauiDeviceTests/Elements/BlazorWebViewTests.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Core/tests/DeviceTests.Shared/Core.DeviceTests.Shared.csproj
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/TestBase.cs
  src/Core/tests/DeviceTests/Handlers/ActivityIndicator/ActivityIndicatorHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/ActivityIndicator/ActivityIndicatorHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/TextInput/TextInputHandlerTests.cs
  src/Core/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Core/tests/DeviceTests/Stubs/BorderStub.cs
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Essentials/test/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Essentials/test/DeviceTests/Tests/AppActions_Tests.cs
  src/Essentials/test/DeviceTests/Tests/AppInfo_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Battery_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Launcher_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Vibration_Tests.cs
  src/Graphics/tests/DeviceTests/Graphics.DeviceTests.csproj
  src/Graphics/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/TestUtils/src/DeviceTests.Runners/AppHostBuilderExtensions.cs
  src/TestUtils/src/DeviceTests.Runners/HeadlessRunner/TestDevice.cs
  src/TestUtils/src/DeviceTests.Runners/HeadlessRunner/Windows/HeadlessTestRunner.cs
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/Pages/HomePage.xaml.cs
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
Labels: platform/windows 🪟, t/housekeeping ♻︎, area/testing

#16942 Fix so updating FlyoutItemIsVisible hides/shows shell menu item
  src/Controls/src/Core/Shell/MenuShellItem.cs
  src/Controls/tests/Core.UnitTests/ShellTests.cs
Labels: area/shell 🐢

#16941 [android] Fixed ListView visibility and opacity on Android
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue12211.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue12211.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue15357.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue15357.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue15826.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue15826.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue12211.cs
  src/Controls/tests/UITests/Tests/Issues/Issue15357.cs
  src/Controls/tests/UITests/Tests/Issues/Issue15826.cs
  src/Core/src/Handlers/View/ViewHandler.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/Standard/ViewExtensions.cs
  src/Core/src/Platform/Tizen/ViewExtensions.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: area/ListView

#16956 Use a fixed WinUI window size for Appium test app
  src/Controls/samples/Controls.Sample.UITests/MauiProgram.cs
  src/Controls/samples/Controls.Sample.UITests/Platforms/Windows/App.xaml
  src/Controls/tests/UITests/Tests/UITestBase.cs
  src/Controls/tests/UITests/snapshots/android/Issue16094Test.png
  src/Controls/tests/UITests/snapshots/ios/Issue16094Test.png
  src/Controls/tests/UITests/snapshots/windows/Issue15330Test.png
  src/Controls/tests/UITests/snapshots/windows/Issue16094Test.png
Labels: area/testing

#16763 Default paths for Appium projects, to simplify run steps
  eng/devices/android.cake
  eng/devices/catalyst.cake
  eng/devices/devices-shared.cake
  eng/devices/ios.cake
  eng/devices/windows.cake
Labels: area/testing

#17001 Add Windows unpackaged DeviceTests in CI
  eng/devices/windows.cake
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
Labels: platform/windows 🪟, area/testing

#16163 [Android] Fix Keyboard.Numeric issue
  src/Core/src/Platform/Android/LocalizedDigitsKeyListener.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-dialogalert, area/keyboard

#16593 [Windows] Notify Shell tab title changes
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellSectionHandler.Windows.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/shell 🐢

#16800 Fix Flyout Crash (Windows)
  src/Controls/src/Core/Layout/Layout.cs
  src/Controls/tests/DeviceTests/Elements/ContextFlyout/ContextFlyoutTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
Labels: platform/windows 🪟, area/controls 🎮, control-flyout, i/regression

#17009 [net8.0] Bump net7 version
  eng/Versions.props
Labels: area/infrastructure 🏗️

#17004 [core] factory methods for registering services, part 2
  eng/BannedSymbols.txt
  src/BlazorWebView/src/SharedSource/BlazorWebViewServiceCollectionExtensions.cs
  src/Controls/src/Core/Hosting/Effects/AppHostBuilderExtensions.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
Labels: area/perf 🏎️, area/hosting 🧩

#16986 Fix Android text alignment in migrated projects
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.Android.cs
  src/Core/src/Platform/Android/TextAlignmentExtensions.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/TextInput/TextInputHandlerTests.Android.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/TextInput/TextInputHandlerTests.cs
  src/Core/tests/DeviceTests.Shared/Stubs/ITextInputStub.cs
Labels: platform/android 🤖, area/controls 🎮

#17033 [release/8.0.1xx-rx1] Bump xamarin-macios rc1 packages
  eng/Version.Details.xml
  eng/Versions.props
  src/Graphics/samples/GraphicsTester.Android/GraphicsTester.Android.csproj
  src/Graphics/samples/GraphicsTester.Mac/GraphicsTester.Mac.csproj
  src/Graphics/samples/GraphicsTester.MacCatalyst/GraphicsTester.MacCatalyst.csproj
  src/Graphics/samples/GraphicsTester.Skia.Mac/GraphicsTester.Skia.Mac.csproj
  src/Graphics/samples/GraphicsTester.iOS/GraphicsTester.iOS.csproj
  src/Graphics/tests/Graphics.Benchmarks/Graphics.Benchmarks.csproj
Labels: area/infrastructure 🏗️, area/upstream

#16335 Add GetPosition method to DragStartingEventArgs, DragEventArgs, and DropEventArgs
  src/Controls/docs/Microsoft.Maui.Controls/DragEventArgs.xml
  src/Controls/docs/Microsoft.Maui.Controls/DragGestureRecognizer.xml
  src/Controls/docs/Microsoft.Maui.Controls/DragStartingEventArgs.xml
  src/Controls/docs/Microsoft.Maui.Controls/DropEventArgs.xml
  src/Controls/samples/Controls.Sample.UITests/Elements/DragAndDropBetweenLayouts.xaml
  src/Controls/samples/Controls.Sample.UITests/Elements/DragAndDropBetweenLayouts.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/DragAndDropBetweenLayouts.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/DragAndDropBetweenLayouts.xaml.cs
  src/Controls/src/Core/DragAndDrop/DragEventArgs.cs
  src/Controls/src/Core/DragAndDrop/DragGestureRecognizer.cs
  src/Controls/src/Core/DragAndDrop/DragStartingEventArgs.cs
  src/Controls/src/Core/DragAndDrop/DropEventArgs.cs
  src/Controls/src/Core/Platform/Android/DragAndDropGestureHandler.cs
  src/Controls/src/Core/Platform/Android/Extensions/DragEventExtensions.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/src/Core/Platform/Windows/VisualElementTracker.cs
  src/Controls/src/Core/Platform/iOS/DragAndDropDelegate.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/Gestures/DragGestureRecognizerTests.cs
  src/Controls/tests/UITests/Tests/DragAndDropUITests.cs
  src/Core/src/Platform/Windows/PrimitiveExtensions.cs
  src/Core/src/Platform/Windows/RoutedEventArgsExtensions.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: platform/windows 🪟, platform/android 🤖, platform/iOS 🍎, area/gestures

#17069 Fixed the tab bar not hiding/showing if property changed
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTabBarTests.Windows.cs
Labels: platform/windows 🪟, area/shell 🐢, partner/cat 😻, backport/suggested

#17081 Obsolete ClickGestureRecognizer
  src/Compatibility/ControlGallery/src/Core/ControlGalleryPages/ClickGestureGalleryPage.cs
  src/Compatibility/ControlGallery/src/Core/CoreGallery.cs
  src/Controls/src/Core/ClickGestureRecognizer.cs
Labels: area/gestures

#16864 Fix blurry FontImageSource icons in iOS Tab Bar and buttons
  src/Core/src/Handlers/Image/ImageHandler.iOS.cs
  src/Core/src/ImageSources/FontImageSourceService/FontImageSourceService.Windows.cs
  src/Core/src/ImageSources/ImageSourceExtensions.cs
  src/Core/src/ImageSources/ImageSourceServiceResultManager.cs
  src/Core/src/ImageSources/StreamImageSourceService/StreamImageSourceService.iOS.cs
  src/Core/src/ImageSources/UriImageSourceService/UriImageSourceService.iOS.cs
  src/Core/src/Platform/ImageSourcePartLoader.cs
  src/Core/src/Platform/Windows/FrameworkElementExtensions.cs
  src/Core/src/Platform/Windows/ImageExtensions.cs
  src/Core/src/Platform/Windows/ImageSourcePartExtensions.cs
  src/Core/src/Platform/iOS/ImageSourcePartExtensions.cs
  src/Core/src/Platform/iOS/ImageViewExtensions.cs
  src/Core/src/Platform/iOS/MauiContextExtensions.cs
  src/Core/src/Platform/iOS/SliderExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: area/image :framed_picture:

#17076 [build] Try fix provisioning mono
  eng/provisioning/provisioning.csx
Labels: t/housekeeping ♻︎

#17044 Fix UI drag & drop tests
  src/Controls/samples/Controls.Sample.UITests/Elements/DragAndDropBetweenLayouts.xaml
  src/Controls/samples/Controls.Sample.UITests/Elements/DragAndDropBetweenLayouts.xaml.cs
  src/Controls/tests/UITests/Tests/DragAndDropUITests.cs
Labels: area/testing

#17080 [Android] Fix-Issue-With-Refresh-Indicator-Not-Hiding
  src/Core/src/Handlers/RefreshView/RefreshViewHandler.Android.cs
Labels: platform/android 🤖, area/controls 🎮, control-refreshview

#17023 Grid distribution fix
  src/Core/src/Layouts/GridLayoutManager.cs
Labels: community ✨

#16740 Rename Accelerator to KeyboardAccelerator and Refactor APIs
  src/Controls/samples/Controls.Sample/Pages/Core/ContextFlyoutPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/ContextFlyoutPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/MenuBarPage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/MenuBarPage.xaml
  src/Controls/src/Core/Accelerator.cs
  src/Controls/src/Core/AcceleratorTypeConverter.cs
  src/Controls/src/Core/KeyboardAccelerator.cs
  src/Controls/src/Core/Menu/MenuFlyoutItem.cs
  src/Controls/src/Core/Menu/MenuItem.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/AcceleratorTypeConverterUnitTests.cs
  src/Controls/tests/Core.UnitTests/AcceleratorUnitTests.cs
  src/Controls/tests/Core.UnitTests/KeyboardAcceleratorUnitTests.cs
  src/Controls/tests/Core.UnitTests/MenuItemTests.cs
  src/Core/src/Core/IKeyboardAccelerator.cs
  src/Core/src/Core/IMenuElement.cs
  src/Core/src/Core/IMenuFlyoutItem.cs
  src/Core/src/Handlers/MenuFlyoutItem/MenuFlyoutItemHandler.Windows.cs
  src/Core/src/Handlers/MenuFlyoutItem/MenuFlyoutItemHandler.cs
  src/Core/src/Handlers/MenuFlyoutSubItem/MenuFlyoutSubItemHandler.Windows.cs
  src/Core/src/Handlers/MenuFlyoutSubItem/MenuFlyoutSubItemHandler.cs
  src/Core/src/Platform/Windows/KeyboardAcceleratorExtensions.cs
  src/Core/src/Platform/iOS/KeyboardAcceleratorExtensions.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.Menu.cs
  src/Core/src/Primitives/KeyboardAcceleratorModifiers.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: area/keyboard

#16962 [RC1] Implement Platform Args for Drag and Drop EventArgs
  src/Compatibility/Core/src/iOS/DragAndDropDelegate.cs
  src/Controls/samples/Controls.Sample.UITests/Elements/DragAndDropEventArgs.xaml
  src/Controls/samples/Controls.Sample.UITests/Elements/DragAndDropEventArgs.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Elements/DragAndDropGallery.cs
  src/Controls/src/Core/DragAndDrop/DragEventArgs.cs
  src/Controls/src/Core/DragAndDrop/DragGestureRecognizer.cs
  src/Controls/src/Core/DragAndDrop/DragStartingEventArgs.cs
  src/Controls/src/Core/DragAndDrop/DropCompletedEventArgs.cs
  src/Controls/src/Core/DragAndDrop/DropEventArgs.cs
  src/Controls/src/Core/DragAndDrop/PlatformDragEventArgs.cs
  src/Controls/src/Core/DragAndDrop/PlatformDragStartingEventArgs.cs
  src/Controls/src/Core/DragAndDrop/PlatformDropCompletedEventArgs.cs
  src/Controls/src/Core/DragAndDrop/PlatformDropEventArgs.cs
  src/Controls/src/Core/Platform/Android/DragAndDropGestureHandler.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/src/Core/Platform/iOS/DragAndDropDelegate.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/UITests/Tests/DragAndDropUITests.cs
Labels: platform/macOS 🍏, platform/windows 🪟, platform/android 🤖, platform/iOS 🍎, area/gestures, area/platform

#17099 Update BindableObject API docs
  src/Controls/src/Core/BindableObject.cs
Labels: area/docs 📓, t/housekeeping ♻︎
