Repository dotnet/maui, pull requests merged in 2023-03, with the labels that each got.

#13400 [controls] fix memory leak in `Window`
  src/Controls/src/Core/HandlerImpl/Application/Application.Impl.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
Labels: area/perf 🏎️

#13509 [templates] Fix applicationId template option
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: area/templates 📄

#9814 Allow string property binding as Color source
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml.cs
  src/Controls/src/Core/BindableProperty.cs
  src/Controls/tests/Xaml.UnitTests/ColorConverter.xaml
  src/Controls/tests/Xaml.UnitTests/ColorConverter.xaml.cs
Labels: t/bug, area/Xaml </>

#13663 Fix reliability of RemoveLastPage test
  src/Controls/tests/Core.UnitTests/NavigationPageLifecycleTests.cs
  src/Controls/tests/Core.UnitTests/PageLifeCycleTests.cs
Labels: t/housekeeping ♻︎

#13654 [net7.0] fix memory leak in `Window` (#13400)
  src/Controls/src/Core/HandlerImpl/Application/Application.Impl.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
Labels: t/housekeeping ♻︎

#13680 Update GitInfo.txt for net8 release p2
  GitInfo.txt
Labels: area/infrastructure 🏗️

#13607 Backport yaml changes and update GitInfo
  .gitignore
  GitInfo.txt
  eng/automation/SignList.xml
  eng/cake/dotnet.cake
  eng/pipelines/common/controlgallery-android.yml
  eng/pipelines/common/controlgallery-ios.yml
  eng/pipelines/common/controlgallery-windows.yml
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/common/insertion.yml
  eng/pipelines/common/pack.yml
  eng/pipelines/common/provision.yml
  eng/pipelines/common/sdk-insertion.yml
  eng/pipelines/common/security-compliance.yml
  eng/pipelines/common/sign.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/device-tests.yml
  eng/pipelines/handlers.yml
  eng/pipelines/maui-release.yml
  eng/scripts/update-version-props.ps1
Labels: area/infrastructure 🏗️

#13392 Fix e-mail URI escaping recipients
  src/Essentials/src/Email/Email.shared.cs
  src/Essentials/test/UnitTests/Email_Tests.cs
Labels: area/essentials 🍞, community ✨

#13611 Set a GroupName when creating new WinUI RadioButtons
  src/Controls/tests/DeviceTests/Elements/RadioButton/RadioButtonTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/RadioButton/RadioButtonTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.Windows.cs
Labels: area/controls 🎮, control-radiobutton

#13629 [templates] Add BorderWidth to button style
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
Labels: area/templates 📄, needs-breaking-change-doc-created

#13407 [RadioButton] Fix Issue with BorderWidth, Incorrect spacing in Default Control Template.
  src/Controls/src/Core/RadioButton.cs
  src/Controls/tests/Core.UnitTests/RadioButtonTemplateTests.cs
Labels: area/controls 🎮, control-radiobutton

#13421 [Windows] Add helper method to get GetFirstChildOfType with null support.
  src/Core/src/Platform/Android/ViewGroupExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: platform/windows 🪟, t/housekeeping ♻︎

#13708 Essentials: fix share title on iOS
  src/Essentials/src/Share/Share.ios.cs
Labels: area/essentials 🍞, community ✨

#13737 Update Fabricbot backlog messaging
  .github/fabricbot.json
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13220 Use the launcher to start the Windows camera
  src/Essentials/samples/Samples/ViewModel/MediaPickerViewModel.cs
  src/Essentials/src/MediaPicker/MediaPicker.uwp.cs
Labels: area/essentials 🍞

#13658 Document ContainsKey behavior
  src/Controls/docs/Microsoft.Maui.Controls/ResourceDictionary.xml
  src/Controls/src/Core/ResourceDictionary.cs
Labels: area/docs 📓, area/Xaml </>, t/docs 📝

#13689 Cast to a less derived type on TabbedPageManager
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.cs
  src/Controls/tests/DeviceTests/TestClasses/CustomTestAdapterHandler.Android.cs
Labels: area/TabbedPage, backport/suggested

#10759 [Windows] Fix Button LineBreakMode property
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml.cs
  src/Controls/src/Core/HandlerImpl/Button/Button.Windows.cs
  src/Controls/src/Core/Platform/Windows/Extensions/ButtonExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Button/ButtonTests.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-button

#13756 Fixed RadioButtonGallery TemplateFromStyle page.
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/TemplateFromStyle.xaml
Labels: area/controls 🎮, control-radiobutton

#13616 [Android] Fix shadow clipping issue using SwipeView
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeViewGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeViewMarginGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeViewShadowGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/SwipeViewGalleries/SwipeViewShadowGallery.xaml.cs
  src/Core/src/Handlers/SwipeItemMenuItem/SwipeItemMenuItemHandler.Android.cs
  src/Core/src/Platform/Android/MauiSwipeView.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-swipeview

#12347 Preventing NullReferenceException on WebAuthenticatorIntermediateActi…
  src/Essentials/src/WebAuthenticator/WebAuthenticatorIntermediateActivity.android.cs
Labels: area/essentials 🍞, community ✨

#13656 [controls] fix memory leak in `VisualElement.Background`
  src/Controls/src/Core/BindableLayout.cs
  src/Controls/src/Core/BindingExpression.cs
  src/Controls/src/Core/Internals/MaybeNullWhenAttribute.cs
  src/Controls/src/Core/Internals/WeakEventProxy.cs
  src/Controls/src/Core/ListProxy.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/TypedBinding.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/Core.UnitTests/BrushUnitTests.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
Labels: area/controls 🎮

#13623 [Android] Fix bidirectional scrolling on Android
  src/Core/src/Platform/Android/MauiScrollView.cs
Labels: t/bug, area/layout 🔲, platform/android 🤖, layout-scrollview

#12134 [Housekeeping] Alternative to #11795
  src/Controls/src/Core/Platform/iOS/ModalWrapper.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.iOS.cs
Labels: t/bug, platform/iOS 🍎, t/housekeeping ♻︎

#13769 [Windows] Fix ClearButtonVisibility and VerticalTextAlignment issues with invisible Entry
  src/Core/src/Handlers/Entry/EntryHandler.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-entry

#11420 [Housekeeping] Port latest fixes from Xamarin.Forms to .NET MAUI
  src/Compatibility/ControlGallery/src/Issues.Shared/Compatibility.ControlGallery.Issues.Shared.projitems
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue15542.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue15565.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
Labels: t/housekeeping ♻︎

#13518 Change Windows WebView Cookies to CoreWebView2
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewPage.xaml.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Windows.cs
  src/Core/src/Platform/Windows/MauiWebView.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-webview

#13800 [net7.0] Organize partial classes inside Controls (#13113)
  src/Controls/src/Core/Entry/Entry.Android.cs
  src/Controls/src/Core/Entry/Entry.Controls.cs
  src/Controls/src/Core/Entry/Entry.Mapper.cs
  src/Controls/src/Core/Entry/Entry.Standard.cs
  src/Controls/src/Core/Entry/Entry.Tizen.cs
  src/Controls/src/Core/Entry/Entry.Windows.cs
  src/Controls/src/Core/Entry/Entry.iOS.cs
  src/Controls/src/Core/HandlerImpl/Entry/Entry.Impl.cs
Labels: t/housekeeping ♻︎

#13821 Add references to Blazor Hybrid in .NET MAUI Templates
  src/Templates/src/templates/maui-blazor/.template.config/template.json
Labels: area/blazor 🕸️, t/housekeeping ♻︎, area/templates 📄

#13806 [controls] fix memory leak in `VisualElement.Clip`
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
Labels: area/perf 🏎️

#13111 Disable caching when loading images from streams
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.Android.cs
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/src/maui.aar
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
Labels: area/image :framed_picture:

#13874 Revert "Show keyboard on Android entry/editor/searchbar focus (#12890)"
  src/Compatibility/Core/src/Android/AppCompat/FormsAppCompatActivity.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/TextInput/TextInputTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/TextInput/TextInputTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/src/Handlers/Editor/EditorHandler.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Handlers/Entry/EntryHandler.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
  src/Core/src/Platform/Android/KeyboardManager.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/TextInput/TextInputHandlerTests.cs
  src/Core/tests/DeviceTests/Stubs/StubBase.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
Labels: area/controls 🎮

#13318 [Android & iOS] Use the correct colors by themes with Alerts on Android and iOS
  src/Controls/tests/Core.UnitTests/TestClasses/ApplicationStub.cs
  src/Controls/tests/DeviceTests/Stubs/MauiAppNewWindowStub.Windows.cs
  src/Core/src/Core/IApplication.cs
  src/Core/src/Hosting/LifecycleEvents/AppHostBuilderExtensions.Android.cs
  src/Core/src/Platform/Android/ApplicationExtensions.cs
  src/Core/src/Platform/iOS/ApplicationExtensions.cs
  src/Core/src/Platform/iOS/PageViewController.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/Benchmarks/Stubs/ApplicationStub.cs
  src/Core/tests/DeviceTests.Shared/Stubs/CoreApplicationStub.cs
  src/Core/tests/UnitTests/TestClasses/ApplicationStub.cs
Labels: t/bug, platform/android 🤖, platform/iOS 🍎, area/theme

#13890 [Actions] Ensure that strings are valid in json.
  .github/workflows/sdk-insertion-bump.yml
Labels: t/housekeeping ♻︎

#13873 [vs-workload] Use variable to control VSMAN name
  src/Workload/Microsoft.NET.Sdk.Maui/Microsoft.NET.Sdk.Maui.csproj
Labels: area/setup 🪄

#13892 [Actions] Do not execute the ping for all branches.
  .github/workflows/sdk-insertion-bump.yml
Labels: t/housekeeping ♻︎

#13906 Fabricbot: remove "try latest version" label from issue when author responds
  .github/fabricbot.json
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13215 [MacOS/iOS] Fixed incorrect color of RadioButton in Dark Mode using Default Control Template.
  src/Controls/src/Core/BindableObjectExtensions.cs
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.Tizen.cs
  src/Controls/src/Core/RadioButton.cs
  src/Controls/tests/Core.UnitTests/AppThemeTests.cs
Labels: platform/macOS 🍏, platform/iOS 🍎, area/controls 🎮, control-radiobutton

#12480 Fix Flyout and TitleView Offset Measurements
  src/Compatibility/Core/src/iOS/Renderers/UIContainerView.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutContentRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutHeaderContainer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutLayoutManager.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/UIContainerView.cs
  src/Controls/src/Core/HandlerImpl/Toolbar/Toolbar.Android.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/Shell/ShellFlyoutTemplatePartsTestCases.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellFlyoutTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: area/shell 🐢

#13926 [Actions] DO not double quote a already quoted string.
  .github/workflows/sdk-insertion-bump.yml
Labels: area/infrastructure 🏗️

#13911 Remove unsupported UIDeviceFamily for Mac Catalyst
  src/Templates/src/templates/maui-blazor/Platforms/MacCatalyst/Info.plist
  src/Templates/src/templates/maui-mobile/Platforms/MacCatalyst/Info.plist
Labels: platform/macOS 🍏, area/templates 📄

#13614 Blank image when Source set to null or on image loading error
  src/Core/src/Platform/Android/ImageSourcePartExtensions.cs
  src/Core/src/Platform/ImageSourcePartLoader.cs
  src/Core/src/Platform/Windows/ImageSourcePartExtensions.cs
  src/Core/src/Platform/iOS/ImageSourcePartExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/controls 🎮, control-image

#13933 Add an error if Xamarin.Forms was found
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
Labels: t/housekeeping ♻︎

#13899 Fix for RadioButton.DefaultTemplate not drawing inner check glyph when selected on Android and WinUI
  src/Controls/src/Core/RadioButton.cs
Labels: platform/android 🤖, area/controls 🎮, control-radiobutton

#13137 [Windows] Notify changes in CollectionView Layouts
  src/Controls/src/Core/Handlers/Items/StructuredItemsViewHandler.Windows.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: t/bug, platform/windows 🪟, area/collectionview 📃

#13740 [C] Properly set SelectedItem and Index
  src/Controls/src/Core/Picker.cs
Labels: area/Xaml </>, area/controls 🎮, control-picker

#13816 Fix issue updating the Path Data
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/ShapesGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/UpdatePathDataGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ShapesGalleries/UpdatePathDataGallery.xaml.cs
  src/Controls/src/Core/Handlers/Shapes/Path/PathHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/Path/PathHandler.Tizen.cs
  src/Controls/src/Core/Handlers/Shapes/Path/PathHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/Path/PathHandler.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Path/PathTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Path/PathTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
Labels: t/bug, area/drawing ✏️

#13636 [Windows] Implement IsTextPredictionEnabled on Windows SearchBar
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-entry

#10420 Enable parallel builds back
  eng/cake/dotnet.cake
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#13979 Fix typo in PathBuilder.cs
  src/Graphics/src/Graphics/PathBuilder.cs
Labels: t/housekeeping ♻︎, community ✨

#6206 Make Android sizing of ShapeViews consistent with iOS and Windows
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.Android.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/ShapeView/ShapeViewHandlerTests.cs
Labels: t/bug, area/layout 🔲, area/drawing ✏️

#13025 Fix syncing modal stack when the window is created/recreated
  src/Compatibility/Core/src/Android/AppCompat/FormsAppCompatActivity.cs
  src/Compatibility/Core/src/iOS/Platform.cs
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/iOS/DisposeHelpers.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/src/Core/Internals/MaybeNullWhenAttribute.cs
  src/Controls/src/Core/NavigationProxy.cs
  src/Controls/src/Core/NavigationStepRequest.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Standard.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Tizen.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Windows.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.iOS.cs
  src/Controls/src/Core/Platform/iOS/ControlsModalWrapper.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellNavigatingEventArgs.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/tests/Core.UnitTests/ApplicationTests.cs
  src/Controls/tests/Core.UnitTests/NavigationModelTests.cs
  src/Controls/tests/Core.UnitTests/NavigationUnitTest.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/Controls/tests/DeviceTests/Stubs/WindowHandlerStub.iOS.cs
  src/Core/src/Platform/Android/KeyboardManager.cs
  src/Core/src/Platform/Android/MauiContextExtensions.cs
  src/Core/src/Platform/ViewExtensions.cs
  src/Core/src/Platform/Windows/MauiContextExtensions.cs
  src/Core/src/Platform/Windows/NavigationRootManager.cs
  src/Core/src/Platform/Windows/StackNavigationManager.cs
  src/Core/src/Platform/iOS/MauiContextExtensions.cs
  src/Core/src/Platform/iOS/ModalWrapper.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: t/breaking 💥, area/modal, needs-breaking-change-doc-created

#13963 [net7.0] Cache the dynamic AppTheme value in Controls (and not Essentials) (#11200)
  src/Controls/samples/Controls.Sample/Platforms/Android/MainActivity.cs
  src/Controls/src/Core/Application.cs
  src/Controls/src/Core/HandlerImpl/Application/Application.Impl.cs
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/tests/Core.UnitTests/MockPlatformServices.cs
  src/Controls/tests/Xaml.UnitTests/OnAppThemeTests.cs
  src/Core/src/MauiContextExtensions.cs
  src/Essentials/src/AppInfo/AppInfo.android.cs
Labels: t/housekeeping ♻︎

#13989 [net7.0] Blank image when Source set to null or on image loading error
  src/Core/src/Platform/Android/ImageSourcePartExtensions.cs
  src/Core/src/Platform/ImageSourcePartLoader.cs
  src/Core/src/Platform/Windows/ImageSourcePartExtensions.cs
  src/Core/src/Platform/iOS/ImageSourcePartExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/image :framed_picture:, t/housekeeping ♻︎

#11199 [macOS/iOS] Fix RequestedThemeChanged event
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRootRenderer.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: t/bug, area/Xaml </>, backport/suggested, area/theme

#13712 Fix Android ListView header / footer gone (#12312)
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ListViewRenderer.cs
Labels: community ✨, area/ListView

#13908 Show keyboard on Android entry/editor/searchbar focus
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/TextInput/TextInputTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/TextInput/TextInputTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/src/Handlers/Editor/EditorHandler.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Handlers/Entry/EntryHandler.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
  src/Core/src/Platform/Android/KeyboardManager.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/TextInput/TextInputHandlerTests.cs
  src/Core/tests/DeviceTests/Stubs/StubBase.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/controls 🎮, keyboard

#14002 [Code Style] Add some extra style checks focused on nullability.
  .editorconfig
Labels: t/housekeeping ♻︎

#13996 Removed Duplicate code in RadioButton.Tizen
  src/Controls/src/Core/HandlerImpl/RadioButton/RadioButton.Tizen.cs
Labels: area/controls 🎮, platform/tizen, partner/tizen

#13999 Ensure that Grid is treating star rows/columns as Auto when unconstrained
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
Labels: area/layout 🔲

#13657 [iOS] Implement ScrollView Orientation
  src/Controls/samples/Controls.Sample/Pages/Layouts/ScrollViewPages/ScrollViewOrientationPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Layouts/ScrollViewPages/ScrollViewOrientationPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/ScrollViewOptionsModel.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: area/layout 🔲, platform/iOS 🍎, layout-scrollview

#13997 [controls] fix cases a GC causes events to not fire
  src/Controls/src/Core/BindableLayout.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/Core.UnitTests/BindableLayoutTests.cs
  src/Controls/tests/Core.UnitTests/BindingUnitTests.cs
  src/Controls/tests/Core.UnitTests/MapTests.cs
  src/Controls/tests/Core.UnitTests/MessagingCenterTests.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
  src/Controls/tests/Core.UnitTests/WeakEventProxyTests.cs
Labels: area/perf 🏎️

#13499 [iOS] Scroll with the keyboard to not block entries and editors
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ListViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellScrollViewTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/TableView/iOS/TableViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/iOS/KeyboardInsetTracker.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/Hosting/LifecycleEvents/AppHostBuilderExtensions.iOS.cs
  src/Core/src/Platform/iOS/KeyboardAutoManager.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
  src/Core/src/Platform/iOS/MauiScrollView.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.iOS.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry, layout-scrollview, keyboard

#9851 Implement Keyboard on SearchBarHandler
  src/Compatibility/Core/src/iOS/Renderers/SearchBarRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Standard.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
  src/Core/src/Platform/Android/SearchViewExtensions.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/src/Platform/iOS/SearchBarExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.iOS.cs
Labels: t/bug, area/controls 🎮, control-entry

#14012 [net7.0] Show keyboard on Android entry/editor/searchbar focus (#13908)
  src/Compatibility/Core/src/Android/AppCompat/FormsAppCompatActivity.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/TextInput/TextInputTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/TextInput/TextInputTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
  src/Core/src/Handlers/Editor/EditorHandler.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Handlers/Entry/EntryHandler.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
  src/Core/src/Platform/Android/KeyboardManager.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/TextInput/TextInputHandlerTests.cs
  src/Core/tests/DeviceTests/Stubs/StubBase.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/controls 🎮

#14010 [net8.0] Update extensions versions
  eng/Versions.props
Labels: area/upstream, dependencies

#14055 Fix TableSection TextColor null ref exp (#14027)
  src/Controls/src/Core/Compatibility/Handlers/TableView/iOS/TableViewModelRenderer.cs
Labels: community ✨

#13687 Bump WASDK and BuildTools
  eng/Microsoft.Extensions.targets
  eng/Versions.props
  eng/cake/dotnet.cake
  src/Core/src/Core.csproj
  src/Templates/tests/Directory.Build.props
  src/Templates/tests/Directory.Build.targets
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
Labels: area/infrastructure 🏗️, dependencies

#11698 [iOS] Fix SearchBar focus issues
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.iOS.cs
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, control-entry

#13833 [controls] fix memory leaks in `Page` & navigation
  src/Controls/src/Core/HandlerImpl/Window/Window.Impl.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Windows.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Android.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Windows.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.iOS.cs
  src/Core/src/Platform/Android/Navigation/NavigationViewFragment.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: area/perf 🏎️

#14024 [Android] Avoid to clip the SwipeView to the outline if the SwipeView or the Content has shadow
  src/Core/src/Platform/Android/MauiSwipeView.cs
Labels: t/housekeeping ♻︎, area/controls 🎮, control-swipeview

#14076 [net7.0] [macOS/iOS] Fix RequestedThemeChanged event (#11199)
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRootRenderer.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: t/housekeeping ♻︎

#11439 Avoid crash using BoxView visibility (avoid unnecessary parent)
  src/Controls/samples/Controls.Sample/Pages/Controls/BoxViewPage.xaml
  src/Controls/src/Core/Handlers/Shapes/BoxView/BoxViewHandler.Android.cs
  src/Controls/src/Core/Handlers/Shapes/BoxView/BoxViewHandler.Standard.cs
  src/Controls/src/Core/Handlers/Shapes/BoxView/BoxViewHandler.Tizen.cs
  src/Controls/src/Core/Handlers/Shapes/BoxView/BoxViewHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shapes/BoxView/BoxViewHandler.cs
  src/Controls/src/Core/Handlers/Shapes/BoxView/BoxViewHandler.iOS.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮

#13960 Fix memory leak in VisualElement.Shadow
  src/Controls/src/Core/HandlerImpl/VisualElement/VisualElement.Impl.cs
  src/Controls/src/Core/Internals/WeakEventProxy.cs
  src/Controls/src/Core/VisualElement.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
Labels: t/bug, area/perf 🏎️

#14081 Bump to .NET 8 Preview 3 builds
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/infrastructure 🏗️

#14102 [release/7.0.2xx] Fix iOS and Android versions
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/infrastructure 🏗️

#13501 [Android] Fixed SwipeItems size dynamically changing the Content Margin
  src/Controls/src/Core/HandlerImpl/SwipeView.Impl.cs
  src/Core/src/Handlers/SwipeItemMenuItem/SwipeItemMenuItemHandler.Android.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮, control-swipeview

#13622 [Windows] Implement SearchBar CancelButtonColor on Windows
  src/Controls/samples/Controls.Sample/Pages/Controls/SearchBarPage.xaml
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-entry

#13554 Ensure an exact measure for the nested horizontal scrollview
  src/Core/src/Platform/Android/MauiScrollView.cs
  src/Core/tests/DeviceTests/Handlers/ScrollView/ScrollViewHandlerTests.Android.cs
Labels: area/layout 🔲

#14096 [iOS] Don't apply mask to UIScrollView so the content doesn't get masked out
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: platform/iOS 🍎, area/controls 🎮, control-border

#13793 Correctly propagate BindingContext to Border StrokeShape
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStyles.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStyles.xaml.cs
  src/Controls/src/Core/Border.cs
  src/Controls/src/Core/Internals/WeakEventProxy.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/tests/UnitTests/Views/BorderTests.cs
Labels: t/bug, area/drawing ✏️, area/controls 🎮, control-border

#14127 [CI] Fix the generated rollback files.
  src/Workload/Microsoft.NET.Sdk.Maui/Rollback.in.json
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#14131 [net8] Bump to latest .NET 8 Preview 3 builds
  eng/Version.Details.xml
  eng/Versions.props
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#14138 Fix window life cycle calls on tests
  src/Controls/tests/DeviceTests/Stubs/MauiAppNewWindowStub.Windows.cs
Labels: area/lifecycle 🔁

#13599 Catch InvalidProtocolBufferException creating EncryptedSharedPreferences
  src/Essentials/src/SecureStorage/SecureStorage.android.cs
Labels: area/essentials 🍞, community ✨

#14146 [android] update AOT profile for .NET 8
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui-blazor.aotprofile
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui-blazor.aotprofile.txt
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui.aotprofile
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/maui.aotprofile.txt
  src/ProfiledAot/build.proj
Labels: area/perf 🏎️

#14103 Make KeyboardAutoManagerScroll Public
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: platform/iOS 🍎, area/controls 🎮, control-entry, keyboard

#13672 [Android] Fix controls RTL issues
  src/Core/src/Handlers/Picker/PickerHandler.Android.cs
  src/Core/src/Platform/Android/FlowDirectionExtensions.cs
  src/Core/src/Platform/Android/PickerExtensions.cs
Labels: t/bug, platform/android 🤖, area/controls 🎮

#13662 Run templates on Android and iOS
  .github/DEVELOPMENT.md
  Microsoft.Maui.sln
  eng/cake/dotnet.cake
  eng/pipelines/common/maui-templates.yml
  eng/pipelines/handlers.yml
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Android/Adb.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Android/Emulator.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AndroidTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Apple/Simulator.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AppleTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Microsoft.Maui.IntegrationTests.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TestResources/TemplateLaunchInstrumentation.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Usings.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/FileUtilities.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/TestEnvironment.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/ToolRunner.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/XHarness.cs
Labels: area/infrastructure 🏗️, area/testing

#14161 [Housekeeping] Added Gallery sample to validate that colors changes from Converters
  src/Controls/samples/Controls.Sample/Converters/BoolToCustomValueConverter.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml.cs
Labels: t/housekeeping ♻︎, area/controls 🎮

#13940 [Essentials] Remove lock from SecureStorage
  src/Essentials/src/SecureStorage/SecureStorage.android.cs
  src/Essentials/test/DeviceTests/Tests/SecureStorage_Tests.cs
Labels: area/essentials 🍞

#14150 [net7.0] Updating Microsoft.Windows.SDK.BuildTools to 10.0.22621.756
  eng/Versions.props
Labels: area/infrastructure 🏗️

#14106 [net6.0] Updating Microsoft.Windows.SDK.BuildTools to 10.0.22621.756
  eng/Versions.props
Labels: area/infrastructure 🏗️

#14170 Merge main into net8.0
  .github/DEVELOPMENT.md
  Microsoft.Maui.sln
  eng/cake/dotnet.cake
  eng/pipelines/common/maui-templates.yml
  eng/pipelines/handlers.yml
  src/Controls/samples/Controls.Sample/Converters/BoolToCustomValueConverter.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml.cs
  src/Core/src/Handlers/Picker/PickerHandler.Android.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/Platform/Android/FlowDirectionExtensions.cs
  src/Core/src/Platform/Android/PickerExtensions.cs
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Essentials/src/SecureStorage/SecureStorage.android.cs
  src/Essentials/test/DeviceTests/Tests/SecureStorage_Tests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Android/Adb.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Android/Emulator.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AndroidTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Apple/Simulator.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AppleTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Microsoft.Maui.IntegrationTests.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TestResources/TemplateLaunchInstrumentation.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Usings.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/FileUtilities.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/TestEnvironment.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/ToolRunner.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/XHarness.cs
Labels: area/infrastructure 🏗️

#14217 Comments/refactoring for clarification (#14176)
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
Labels: area/layout 🔲

#13703 Microsoft.Maui.Devices.Flashlight: Check if supported
  src/Essentials/samples/Samples/ViewModel/FlashlightViewModel.cs
  src/Essentials/src/Flashlight/Flashlight.android.cs
  src/Essentials/src/Flashlight/Flashlight.ios.cs
  src/Essentials/src/Flashlight/Flashlight.netstandard.tvos.watchos.macos.cs
  src/Essentials/src/Flashlight/Flashlight.shared.cs
  src/Essentials/src/Flashlight/Flashlight.tizen.cs
  src/Essentials/src/Flashlight/Flashlight.uwp.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: area/essentials 🍞, community ✨, s/pr-needs-author-input

#13838 Fix next keyboard into a ListView and TableView iOS
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.iOS.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: platform/iOS 🍎, area/controls 🎮, area/ListView, control-entry

#14117 RadioButton Default Template Fill Theme Fix and new Theme Colors for Samples app
  src/Controls/samples/Controls.Sample/AppResources.xaml
  src/Controls/src/Core/RadioButton.cs
Labels: area/controls 🎮, control-radiobutton

#14237 Create a Rebase PR bot
  .github/workflows/rebase.yml
Labels: t/housekeeping ♻︎

#14225 [net8.0] Update Tizen packages
  eng/Versions.props
Labels: platform/tizen

#14229 [Windows] Display alerts by Window
  src/Controls/samples/Controls.Sample/Pages/Core/MultiWindowPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/MultiWindowPage.xaml.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-dialogalert

#14246 Merge main into net8.0
  .github/workflows/rebase.yml
  src/Controls/samples/Controls.Sample/AppResources.xaml
  src/Controls/src/Core/RadioButton.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.iOS.cs
  src/Core/AndroidNative/gradle/wrapper/gradle-wrapper.jar
  src/Core/AndroidNative/gradle/wrapper/gradle-wrapper.properties
  src/Core/AndroidNative/gradlew
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Essentials/samples/Samples/ViewModel/FlashlightViewModel.cs
  src/Essentials/src/Flashlight/Flashlight.android.cs
  src/Essentials/src/Flashlight/Flashlight.ios.cs
  src/Essentials/src/Flashlight/Flashlight.netstandard.tvos.watchos.macos.cs
  src/Essentials/src/Flashlight/Flashlight.shared.cs
  src/Essentials/src/Flashlight/Flashlight.tizen.cs
  src/Essentials/src/Flashlight/Flashlight.uwp.cs
  src/Essentials/src/Permissions/Permissions.android.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Microsoft.Maui.IntegrationTests.csproj
Labels: t/housekeeping ♻︎

#13642 Reenable ViewTransform unit tests for iOS
  src/Core/src/Platform/iOS/CoreAnimationExtensions.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
Labels: platform/iOS 🍎, t/housekeeping ♻︎, area/testing

#14218 [iOS] Update CollectionView layout when reloading data
  src/Controls/src/Core/Handlers/Items/iOS/GroupableItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ObservableGroupedSource.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.iOS.cs
Labels: area/collectionview 📃

#14269 Move maybe null when attribute back to core
  src/Core/src/Attributes/MaybeNullWhenAttribute.cs
  src/Core/src/Graphics/PaintExtensions.cs
Labels: t/housekeeping ♻︎

#14215 Make .NET MAUI (Blazor) templates project based
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-blazor/MauiApp.1.App.sln
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.App.sln
Labels: area/templates 📄

#10964 [iOS] Fix Border Content clipping issues
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderClipPlayground.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderClipPlayground.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderLayout.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderLayout.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPlayground.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPlayground.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStroke.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStroke.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStyles.xaml
  src/Controls/src/Core/HandlerImpl/RoundRectangle.Impl.cs
  src/Controls/src/Core/HandlerImpl/Shape/Shape.Impl.cs
  src/Controls/src/Core/Shapes/Shape.cs
  src/Core/src/Graphics/IShape.cs
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/Core/src/Handlers/Border/BorderHandler.iOS.cs
  src/Core/src/Platform/Android/ContentViewGroup.cs
  src/Core/src/Platform/Android/ShapeExtensions.cs
  src/Core/src/Platform/iOS/ContentView.cs
  src/Core/src/Platform/iOS/MauiCALayer.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: t/bug, area/drawing ✏️, platform/iOS 🍎

#14108 [ios] fix memory leak with `Page` + `Layout`
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Core/src/Handlers/Layout/LayoutHandler.iOS.cs
  src/Core/src/Platform/iOS/LayoutView.cs
  src/Core/src/Platform/iOS/MauiView.cs
Labels: area/perf 🏎️

#14261 [Windows] Allow to refresh the RefreshView using the mouse
  src/Core/src/Handlers/RefreshView/RefreshViewHandler.Windows.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-refreshview

#14006 Add TitleView to VisualChildren list for Shell
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/tests/Core.UnitTests/ShellTests.cs
Labels: area/shell 🐢

#14100 Do not scroll for UIAlertControllers
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.iOS.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
  src/Core/src/Platform/iOS/MauiScrollView.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry, keyboard

#14307 [net8.0] Merge main to net8.0
  .config/dotnet-tools.json
  eng/AndroidX.targets
  eng/Version.Details.xml
  eng/Versions.props
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderClipPlayground.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderClipPlayground.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderLayout.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderLayout.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPlayground.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderPlayground.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStroke.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStroke.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderStyles.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/MultiWindowPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/MultiWindowPage.xaml.cs
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRootRenderer.cs
  src/Controls/src/Core/HandlerImpl/RoundRectangle.Impl.cs
  src/Controls/src/Core/HandlerImpl/Shape/Shape.Impl.cs
  src/Controls/src/Core/Handlers/Items/iOS/GroupableItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ObservableGroupedSource.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Windows.cs
  src/Controls/src/Core/Shapes/Shape.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/tests/Core.UnitTests/ShellTests.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/Controls/tests/DeviceTests/Extensions.cs
  src/Controls/tests/DeviceTests/TestCases/ControlsPageTypesTestCases.cs
  src/Core/src/Attributes/MaybeNullWhenAttribute.cs
  src/Core/src/Graphics/IShape.cs
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/Core/src/Graphics/PaintExtensions.cs
  src/Core/src/Handlers/Border/BorderHandler.iOS.cs
  src/Core/src/Handlers/Layout/LayoutHandler.iOS.cs
  src/Core/src/Handlers/RefreshView/RefreshViewHandler.Windows.cs
  src/Core/src/Platform/Android/ContentViewGroup.cs
  src/Core/src/Platform/Android/ShapeExtensions.cs
  src/Core/src/Platform/iOS/ContentView.cs
  src/Core/src/Platform/iOS/CoreAnimationExtensions.cs
  src/Core/src/Platform/iOS/LayoutView.cs
  src/Core/src/Platform/iOS/MauiCALayer.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.Menu.cs
  src/Core/src/Platform/iOS/MauiUISceneDelegate.cs
  src/Core/src/Platform/iOS/MauiView.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-blazor/MauiApp.1.App.sln
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.App.sln
  src/Workload/Microsoft.Maui.Sdk/Sdk/Sdk.props
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#14315 Ensure that second-pass measures of Auto rows/columns are allowed to expand
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
  src/Core/tests/UnitTests/Layouts/LayoutTestHelpers.cs
Labels: area/layout 🔲, backport/suggested
