Repository dotnet/maui, pull requests merged in 2023-07, with the labels that each got.

#15938 [net7.0] Grid star expansion fixes
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/src/Platform/iOS/ContentView.cs
  src/Core/src/Platform/iOS/LayoutView.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
  src/Core/tests/UnitTests/Layouts/LayoutTestHelpers.cs
Labels: area/layout 🔲, t/housekeeping ♻︎

#15887 [release/8.0.1xx-preview6] Update aspnet packages
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/infrastructure 🏗️

#15855 Add note to Colors.xaml to make people aware of Android specific colors
  src/Templates/src/templates/maui-mobile/Resources/Styles/Colors.xaml
Labels: t/housekeeping ♻︎, area/templates 📄

#14740 [Windows/macOS] Implement menu key accelerators
  src/Controls/docs/Microsoft.Maui.Controls/Accelerator.xml
  src/Controls/samples/Controls.Sample/Pages/Core/ContextFlyoutPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/ContextFlyoutPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/MenuBarPage.cs
  src/Controls/samples/Controls.Sample/Pages/Core/MenuBarPage.xaml
  src/Controls/src/Core/Accelerator.cs
  src/Controls/src/Core/Menu/MenuItem.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/AcceleratorUnitTests.cs
  src/Core/src/Core/IAccelerator.cs
  src/Core/src/Core/IMenuElement.cs
  src/Core/src/Handlers/MenuFlyoutItem/MenuFlyoutItemHandler.Windows.cs
  src/Core/src/Handlers/MenuFlyoutItem/MenuFlyoutItemHandler.cs
  src/Core/src/Handlers/MenuFlyoutItem/MenuFlyoutItemHandler.iOS.cs
  src/Core/src/Handlers/MenuFlyoutSubItem/MenuFlyoutSubItemHandler.Windows.cs
  src/Core/src/Handlers/MenuFlyoutSubItem/MenuFlyoutSubItemHandler.cs
  src/Core/src/Platform/Windows/KeyboardAcceleratorExtensions.cs
  src/Core/src/Platform/iOS/AcceleratorExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: t/bug, platform/windows 🪟, area/desktop 🖥️, control-menubar

#15881 [X] Connect event to internal handler
  src/Controls/src/Xaml/ApplyPropertiesVisitor.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui12566.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui12566.xaml.cs
Labels: area/Xaml </>

#15734 [Android] Fix issues setting Shell TabBar appearance.
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellBottomNavViewAppearanceTracker.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTabBarTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTabBarTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTabBarTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
Labels: t/bug, platform/android 🤖, area/shell 🐢

#15990 Fix ".SFUI" magic font string on iOS/MacCatalyst
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml
  src/Core/src/Fonts/FontManager.iOS.cs
  src/Core/tests/DeviceTests/Services/FontManagerTests.iOS.cs
Labels: t/bug, area/fonts 🅰️

#15998 [tests] make Windows memory leak tests consistent
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: area/testing

#15799 Streamline ModalNavigation lifecycle events
  src/Controls/src/Core/NavigationPage/NavigationPage.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/tests/Core.UnitTests/NavigationModelTests.cs
  src/Controls/tests/Core.UnitTests/ShellModalTests.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Modal/ModalTests.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/navigation 🧭, area/lifecycle 🔁

#14846 Implement all permutations of InputTransparent and CascadeInputTransparent
  src/Controls/samples/Controls.Sample/Pages/Core/InputTransparentPage.xaml
  src/Controls/src/Core/IInputTransparentContainerElement.cs
  src/Controls/src/Core/Layout.cs
  src/Controls/src/Core/Layout/Layout.Android.cs
  src/Controls/src/Core/Layout/Layout.Mapper.cs
  src/Controls/src/Core/Layout/Layout.Tizen.cs
  src/Controls/src/Core/Layout/Layout.Windows.cs
  src/Controls/src/Core/Layout/Layout.cs
  src/Controls/src/Core/Layout/Layout.iOS.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/tests/Core.UnitTests/Layouts/LayoutTests.cs
  src/Controls/tests/Core.UnitTests/VisualElementInputTransparentTests.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz54334.xaml.cs
Labels: area/layout 🔲

#15979 Include headers/footers in EmptySource count so they show up when ItemsSource is null
  src/Controls/src/Core/Handlers/Items/Android/Adapters/EmptyViewAdapter.cs
  src/Controls/src/Core/Handlers/Items/Android/ItemsSources/EmptySource.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: area/collectionview 📃

#15512 Set the SafeAreaInset Property with updated value
  src/Controls/src/Core/Page/Page.cs
  src/Controls/tests/DeviceTests/Elements/Page/PageTests.iOS.cs
  src/Core/src/Core/ISafeAreaView2.cs
  src/Core/src/Platform/iOS/MauiView.cs
  src/Core/src/Platform/iOS/UIEdgeInsetsExtensions.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: area/layout 🔲, platform/iOS 🍎

#16032 Improve the customization of WebView on Android
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Platform/Android/MauiWebViewClient.cs
  src/Core/tests/DeviceTests/Handlers/WebView/WebViewHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Resources/Raw/extracontent.html
  src/Core/tests/DeviceTests/Stubs/LayoutStub.cs
  src/Core/tests/DeviceTests/Stubs/StubBase.cs
Labels: platform/android 🤖, area/controls 🎮, control-webview

#16045 [android] fix memory leak in Window
  src/Controls/src/Core/Window/Window.cs
  src/Core/src/Hosting/LifecycleEvents/AppHostBuilderExtensions.Android.cs
Labels: area/perf 🏎️

#16111 [housekeeping] Group dependabot PR's by dependency area/type
  .github/dependabot.yml
Labels: t/housekeeping ♻︎

#16086 Null check small refactoring
  src/Controls/src/Core/Page/Page.cs
Labels: area/infrastructure 🏗️, community ✨

#15585 Add GotoAsync overload for single use query parameters
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/src/Core/Shell/ShellNavigationManager.cs
  src/Controls/src/Core/Shell/ShellNavigationQueryParameters.cs
  src/Controls/src/Core/Shell/ShellRouteParameters.cs
  src/Controls/tests/Core.UnitTests/ShellParameterPassingTests.cs
  src/Controls/tests/Core.UnitTests/ShellTestBase.cs
Labels: area/shell 🐢

#15835 Add logic to set DefaultLabelPosition on the WinUI CommandBar
  src/Controls/src/Core/Toolbar/Toolbar.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Toolbar/ToolbarTests.Windows.cs
Labels: platform/windows 🪟, area/toolbar

#16127 Update sourcelink, set deterministic builds in CI
  Directory.Build.props
  eng/SourceLink.Build.props
Labels: t/housekeeping ♻︎, do-not-merge

#15091 Android: fix dialog button colors in dark mode
  src/Controls/tests/DeviceTests/Elements/AlertDialog/AlertDialogTests.Android.cs
  src/Core/src/Handlers/Picker/PickerHandler.Android.cs
  src/Core/src/Platform/Android/PickerExtensions.cs
  src/Core/src/Platform/Android/Resources/values/styles.xml
Labels: platform/android 🤖, area/controls 🎮, community ✨, control-dialogalert, s/pr-needs-author-input

#16101 [iOS] Avoid to use CornerCurve in iOS < 13
  src/Core/src/Platform/iOS/ContentView.cs
Labels: t/bug, platform/iOS 🍎, high

#16151 [tests] fix DeviceTests on Windows, maybe other platforms?
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Android.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Tizen.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Windows.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.iOS.cs
Labels: area/testing

#16057 [Windows] Fix Slider MinimumTrackColor (#16056)
  src/Core/src/Platform/Windows/SliderExtensions.cs
Labels: platform/windows 🪟, area/controls 🎮, community ✨, control-slider

#15458 Various fixes for Border on Android
  src/Controls/src/Core/Border/Border.cs
  src/Controls/tests/DeviceTests/Elements/Border/BorderTests.cs
  src/Core/src/Platform/Android/ShapeExtensions.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.iOS.cs
Labels: area/drawing ✏️

#16174 Map all menu items through a single selector
  src/Core/src/Handlers/MenuFlyoutItem/MenuFlyoutItemHandler.iOS.cs
  src/Core/src/Platform/iOS/AcceleratorExtensions.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.Menu.cs
Labels: platform/macOS 🍏, area/controls 🎮, control-menubar

#15629 Windows (packaged) Device tests for CI
  eng/devices/windows.cake
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
  src/BlazorWebView/tests/MauiDeviceTests/Elements/BlazorWebViewTests.cs
  src/Controls/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Core/tests/DeviceTests/Platforms/Windows/Package.appxmanifest
  src/Essentials/test/DeviceTests/Tests/AppActions_Tests.cs
  src/Essentials/test/DeviceTests/Tests/AppInfo_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Battery_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Launcher_Tests.cs
  src/Essentials/test/DeviceTests/Tests/Vibration_Tests.cs
  src/TestUtils/src/DeviceTests.Runners/AppHostBuilderExtensions.cs
  src/TestUtils/src/DeviceTests.Runners/HeadlessRunner/TestDevice.cs
  src/TestUtils/src/DeviceTests.Runners/HeadlessRunner/Windows/HeadlessTestRunner.cs
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/Pages/HomePage.xaml.cs
Labels: platform/windows 🪟, area/desktop 🖥️, area/testing

#16121 Add VS Feedback and VS Code links to bug report template list
  .github/ISSUE_TEMPLATE/config.yml
Labels: area/infrastructure 🏗️

#15885 Enable WinUI Core Tests on CI
  eng/pipelines/device-tests.yml
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/TestBase.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/TextInput/TextInputHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/ActivityIndicator/ActivityIndicatorHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/ActivityIndicator/ActivityIndicatorHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/SwipeView/SwipeViewHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/WebView/WebViewHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Stubs/BorderStub.cs
Labels: area/testing

#16145 [controls] fix memory leak with Grid Row/ColumnDefinitions
  src/Controls/src/Core/DefinitionCollection.cs
  src/Controls/tests/Core.UnitTests/Layouts/GridLayoutTests.cs
Labels: layout-grid, memory-leak 💦

#15944 [X] Compiled Bindings to Array
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Build.Tasks/TypeReferenceExtensions.cs
  src/Controls/src/Core/TypedBinding.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui10396.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui10396.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui10396Card.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui10396Card.xaml.cs
Labels: area/Xaml </>

#15836 Start docs for UITesting
  .github/DEVELOPMENT.md
  cSpell.json
  docs/design/UITesting.md
  src/Controls/samples/Controls.Sample.UITests/Issues/RefreshViewPage.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/TestContentPage.cs
  src/Controls/samples/Controls.Sample.UITests/TestCases.cs
  src/Controls/tests/UITests/Tests/AppExtensions.cs
  src/Controls/tests/UITests/Tests/Issues/RefreshViewTests.cs
  src/Controls/tests/UITests/Tests/Issues/_IssuesUITest.cs
  src/Controls/tests/UITests/Tests/UITestBase.cs
  src/TestUtils/src/TestUtils.Appium.UITests/AppiumUITestApp.cs
  src/TestUtils/src/TestUtils.Appium.UITests/IApp2.cs
Labels: area/testing

#16046 Make Add/Remove Logical public
  src/Controls/docs/Microsoft.Maui.Controls/ItemsView.xml
  src/Controls/src/Core/Application/Application.cs
  src/Controls/src/Core/BindableObject.cs
  src/Controls/src/Core/BindableObjectExtensions.cs
  src/Controls/src/Core/Border/Border.cs
  src/Controls/src/Core/Cells/Cell.cs
  src/Controls/src/Core/Cells/ViewCell.cs
  src/Controls/src/Core/Compatibility/Handlers/TabbedPage/iOS/TabbedRenderer.cs
  src/Controls/src/Core/Element/Element.cs
  src/Controls/src/Core/Element/Element_StyleSheets.cs
  src/Controls/src/Core/FormattedString.cs
  src/Controls/src/Core/Items/ItemsView.cs
  src/Controls/src/Core/Layout/Layout.cs
  src/Controls/src/Core/ListView/ListView.cs
  src/Controls/src/Core/Menu/FlyoutBase.cs
  src/Controls/src/Core/Menu/MenuBarItem.cs
  src/Controls/src/Core/Menu/MenuBarTracker.cs
  src/Controls/src/Core/Menu/MenuFlyout.cs
  src/Controls/src/Core/Menu/MenuFlyoutSubItem.cs
  src/Controls/src/Core/NavigationPage/NavigationPage.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellItem.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/src/Core/StyleSheets/Style.cs
  src/Controls/src/Core/SwipeView/SwipeView.cs
  src/Controls/src/Core/VisualElement/VisualElement.Platform.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/src/Core/Window/Window.cs
  src/Controls/tests/Core.UnitTests/ListViewTests.cs
  src/Controls/tests/Core.UnitTests/PageTests.cs
  src/Controls/tests/Core.UnitTests/ShellTests.cs
  src/Controls/tests/Core.UnitTests/TabbedFormUnitTests.cs
  src/Controls/tests/Core.UnitTests/VisualTreeHelperTests.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
  src/Controls/tests/DeviceTests/Elements/VisualElementTests.cs
  src/Controls/tests/Xaml.UnitTests/FontImageExtension.xaml.cs
Labels: area/layout 🔲, area/navigation 🧭, area/shell 🐢, area/collectionview 📃, area/controls 🎮, area/FlyoutPage, area/modal, control-swipeview, area/ListView, control-border, control-pages, control-menubar, control-flyout, control-window

#16093 Revert default for UseSafeAreaProperty to value from .NET 6 for iOS
  src/Controls/src/Core/PlatformConfiguration/iOSSpecific/Page.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.cs
Labels: backport/suggested

#16229 Add a solution for vscode on macos
  Microsoft.Maui-vscode.sln
Labels: t/housekeeping ♻︎

#16231 [net8.0] Fix cells leak tests
  src/Controls/tests/DeviceTests/Elements/Border/BorderTests.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/ContentView/ContentViewTests.cs
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Elements/ScrollView/ScrollViewTests.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.cs
Labels: t/housekeeping ♻︎

#16211 [net8.0] Bump Tizen to 8.0.100-preview7 version 7.0.122
  eng/Versions.props
Labels: area/infrastructure 🏗️, partner/tizen

#16248 TextTransform set before Text
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.cs
Labels: t/housekeeping ♻︎, area/testing

#16262 Improve the names of the test files/runs
  eng/pipelines/common/device-tests-steps.yml
Labels: t/housekeeping ♻︎

#16260 Add a Mac Catalyst device test run
  .vscode/settings.json
  eng/devices/catalyst.cake
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
  src/Essentials/test/DeviceTests/Platforms/MacCatalyst/Info.plist
  src/Essentials/test/DeviceTests/Startup.cs
  src/Essentials/test/DeviceTests/Tests/DeviceInfo_Tests.cs
  src/Essentials/test/DeviceTests/Tests/HardwareSupport.cs
  src/Essentials/test/DeviceTests/Tests/SecureStorage_Tests.cs
  src/Essentials/test/DeviceTests/Traits.cs
Labels: t/housekeeping ♻︎, area/testing

#16215 [Bug] Fix Grid cells not honoring MaxWidth
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/Core/src/Handlers/ViewHandlerExtensions.iOS.cs
  src/Core/src/Platform/Android/ContextExtensions.cs
Labels: area/layout 🔲, layout-grid

#16270 Fix default constructors for many control handlers
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.cs
  src/Core/src/Handlers/Image/ImageHandler.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.cs
  src/Core/src/Handlers/IndicatorView/IndicatorViewHandler.cs
  src/Core/src/Handlers/Label/LabelHandler.cs
  src/Core/src/Handlers/ProgressBar/ProgressBarHandler.cs
  src/Core/src/Handlers/RadioButton/RadioButtonHandler.cs
  src/Core/src/Handlers/ShapeView/ShapeViewHandler.cs
  src/Core/src/Handlers/Slider/SliderHandler.cs
  src/Core/src/Handlers/Stepper/StepperHandler.cs
  src/Core/src/Handlers/Switch/SwitchHandler.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.cs
Labels: community ✨

#13836 Update mappers instead of replacing field values
  src/Controls/src/Core/Application/Application.Mapper.cs
  src/Controls/src/Core/Button/Button.Mapper.cs
  src/Controls/src/Core/CheckBox/CheckBox.Mapper.cs
  src/Controls/src/Core/DatePicker/DatePicker.Mapper.cs
  src/Controls/src/Core/Editor/Editor.Android.cs
  src/Controls/src/Core/Editor/Editor.Mapper.cs
  src/Controls/src/Core/Element/Element.Mapper.cs
  src/Controls/src/Core/Entry/Entry.Android.cs
  src/Controls/src/Core/Entry/Entry.Mapper.cs
  src/Controls/src/Core/FlyoutPage/FlyoutPage.Mapper.cs
  src/Controls/src/Core/Label/Label.Mapper.cs
  src/Controls/src/Core/Label/Label.iOS.cs
  src/Controls/src/Core/Layout/Layout.Android.cs
  src/Controls/src/Core/Layout/Layout.Mapper.cs
  src/Controls/src/Core/Layout/Layout.Standard.cs
  src/Controls/src/Core/Layout/Layout.Tizen.cs
  src/Controls/src/Core/Layout/Layout.Windows.cs
  src/Controls/src/Core/Layout/Layout.iOS.cs
  src/Controls/src/Core/NavigationPage/NavigationPage.Mapper.cs
  src/Controls/src/Core/Picker/Picker.Mapper.cs
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/RadioButton/RadioButton.Android.cs
  src/Controls/src/Core/RadioButton/RadioButton.Mapper.cs
  src/Controls/src/Core/RadioButton/RadioButton.Standard.cs
  src/Controls/src/Core/RefreshView/RefreshView.Mapper.cs
  src/Controls/src/Core/ScrollView/ScrollView.Mapper.cs
  src/Controls/src/Core/SearchBar/SearchBar.Mapper.cs
  src/Controls/src/Core/Shape/Shape.Mapper.cs
  src/Controls/src/Core/TabbedPage/TabbedPage.Mapper.cs
  src/Controls/src/Core/TimePicker/TimePicker.Mapper.cs
  src/Controls/src/Core/Toolbar/Toolbar.Mapper.cs
  src/Controls/src/Core/VisualElement/VisualElement.Mapper.cs
  src/Controls/src/Core/WebView/WebView.Mapper.cs
  src/Controls/src/Core/Window/Window.Mapper.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Application/ApplicationTests.Android.cs
  src/Controls/tests/DeviceTests/MapperTests.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
Labels: t/breaking 💥, needs-breaking-change-doc-created

#16264 Fix infinite recursion error in CommandMapper.Add()
  src/Core/src/CommandMapper.cs
  src/Core/tests/UnitTests/CommandMapperTests.cs
Labels: community ✨

#16131 [vs-workload][net8.0] Set EnableSideBySideManifests=true
  eng/automation/vs-workload.template.props
Labels: area/setup 🪄

#14663 [Windows] Allow to customize the Shell FlyoutIcon
  src/Controls/samples/Controls.Sample/Pages/AppShell.xaml
  src/Controls/src/Core/Handlers/Shell/ShellHandler.Windows.cs
  src/Controls/src/Core/Handlers/Shell/ShellHandler.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Windows.cs
  src/Core/src/Platform/Windows/NavigationViewExtensions.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: t/bug, platform/windows 🪟, area/shell 🐢

#16347 [provisioning] Make sure to provision mono for nuget
  eng/provisioning/provisioning.csx
Labels: t/housekeeping ♻︎

#16257 [net8.0] Bump Microsoft.Extensions packages
  eng/Microsoft.Extensions.targets
  eng/Versions.props
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
Labels: area/upstream, dependencies

#16351 [appium] Bump appium version
  eng/scripts/appium-install.ps1
Labels: area/upstream, dependencies

#16350 [uitests] Don't continue pipeline if appium install fails
  eng/pipelines/common/ui-tests-steps.yml
Labels: t/housekeeping ♻︎

#16348 [ios] fix memory leak in Editor
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.cs
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
Labels: platform/iOS 🍎, memory-leak 💦

#16349 [ios] fix memory leak in Entry
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.cs
  src/Core/src/Handlers/Entry/EntryHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiTextField.cs
Labels: platform/iOS 🍎, memory-leak 💦

#16342 [net8.0] Bump maui stable version
  eng/Versions.props
Labels: t/housekeeping ♻︎

#16370 [X] attribute SolidColorBrush for the XamlC processor
  src/Controls/src/Core/SolidColorBrush.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui11857.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui11857.xaml.cs
Labels: area/Xaml </>

#16375 [net8.0] Bump aspnet packages 8.0.0-preview.7
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/upstream, dependencies, nuget

#16380 [ios] fix memory leaks in MauiDoneAccessoryView
  src/Core/src/Platform/iOS/MauiDoneAccessoryView.cs
  src/Core/tests/DeviceTests/Memory/UIViewSubclassTests.cs
  src/Core/tests/DeviceTests/TestCategory.cs
Labels: platform/iOS 🍎, memory-leak 💦

#16226 [Windows] Fix SwipeView DeviceTests
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.Windows.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBasement.cs
  src/Core/tests/DeviceTests/Handlers/SwipeView/SwipeViewHandlerTests.cs
Labels: platform/windows 🪟, t/housekeeping ♻︎, control-swipeview

#16376 [iOS] Avoid CheckBox memory leak
  src/Controls/tests/DeviceTests/Elements/CheckBox/CheckBoxTests.cs
  src/Core/src/Platform/iOS/MauiCheckBox.cs
Labels: platform/iOS 🍎, area/perf 🏎️, area/controls 🎮, control-checkbox

#16384 [ios] fix memory leak in RefreshView
  src/Controls/tests/DeviceTests/Elements/RefreshView/RefreshViewTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Core/src/Handlers/RefreshView/RefreshViewHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiRefreshView.cs
Labels: platform/iOS 🍎, memory-leak 💦

#16407 [tests] consolidate various DoesNotLeak tests
  src/Controls/tests/DeviceTests/Elements/Border/BorderTests.cs
  src/Controls/tests/DeviceTests/Elements/CheckBox/CheckBoxTests.cs
  src/Controls/tests/DeviceTests/Elements/ContentView/ContentViewTests.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.cs
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.cs
  src/Controls/tests/DeviceTests/Elements/RefreshView/RefreshViewTests.cs
  src/Controls/tests/DeviceTests/Elements/ScrollView/ScrollViewTests.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Core/src/Platform/iOS/MauiCheckBox.cs
  src/Core/src/Platform/iOS/MauiRefreshView.cs
  src/Core/src/Platform/iOS/MauiTextField.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
Labels: t/housekeeping ♻︎

#16387 [C] fix SelectedIndex propagation for picker
  src/Controls/src/Core/Picker/Picker.cs
  src/Controls/tests/Core.UnitTests/PickerTests.cs
Labels: t/bug, area/controls 🎮, control-picker

#16420 [net8.0] Merge main to net8.0
  eng/Versions.props
  eng/pipelines/common/provision.yml
  eng/provisioning/provisioning.csx
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue14257.cs
  src/Controls/src/Core/Picker/Picker.cs
  src/Controls/src/Core/SolidColorBrush.cs
  src/Controls/tests/Core.UnitTests/PickerTests.cs
  src/Controls/tests/DeviceTests/Elements/Border/BorderTests.cs
  src/Controls/tests/DeviceTests/Elements/CheckBox/CheckBoxTests.cs
  src/Controls/tests/DeviceTests/Elements/ContentView/ContentViewTests.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.cs
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.cs
  src/Controls/tests/DeviceTests/Elements/RefreshView/RefreshViewTests.cs
  src/Controls/tests/DeviceTests/Elements/ScrollView/ScrollViewTests.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Controls/tests/DeviceTests/TestCategory.cs
  src/Controls/tests/UITests/Tests/Issues/Issue14257.cs
  src/Controls/tests/UITests/Tests/UITestBase.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui11857.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui11857.xaml.cs
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Handlers/Entry/EntryHandler.iOS.cs
  src/Core/src/Handlers/RefreshView/RefreshViewHandler.iOS.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/Handlers/SwipeView/SwipeViewHandler.Windows.cs
  src/Core/src/Platform/iOS/MauiCheckBox.cs
  src/Core/src/Platform/iOS/MauiDoneAccessoryView.cs
  src/Core/src/Platform/iOS/MauiRefreshView.cs
  src/Core/src/Platform/iOS/MauiTextField.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBasement.cs
  src/Core/tests/DeviceTests/Handlers/SwipeView/SwipeViewHandlerTests.cs
  src/Core/tests/DeviceTests/Memory/UIViewSubclassTests.cs
  src/Core/tests/DeviceTests/TestCategory.cs
  src/Essentials/src/Essentials.csproj
  src/TestUtils/src/TestUtils.Appium.UITests/AppiumUITestApp.cs
Labels: t/housekeeping ♻︎

#14403 [Windows] Fix Border corners clipping issue
  src/Controls/samples/Controls.Sample/Pages/Core/BorderGalleries/BorderClipPlayground.xaml
  src/Controls/src/Core/Border/Border.cs
  src/Controls/tests/DeviceTests/Elements/Border/BorderTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Border/BorderTests.cs
  src/Core/src/Platform/Windows/ContentPanel.cs
  src/Core/src/Platform/Windows/StrokeExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Border/BorderHandlerTests.Windows.cs
Labels: t/bug, area/drawing ✏️, area/controls 🎮, control-border

#16296 Add ViewHandler Mapper docs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.Android.cs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.Standard.cs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.Tizen.cs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.Windows.cs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.cs
  src/Core/src/Handlers/ActivityIndicator/ActivityIndicatorHandler.iOS.cs
  src/Core/src/Handlers/Application/ApplicationHandler.Android.cs
  src/Core/src/Handlers/Application/ApplicationHandler.Standard.cs
  src/Core/src/Handlers/Application/ApplicationHandler.Tizen.cs
  src/Core/src/Handlers/Application/ApplicationHandler.Windows.cs
  src/Core/src/Handlers/Application/ApplicationHandler.cs
  src/Core/src/Handlers/Application/ApplicationHandler.iOS.cs
  src/Core/src/Handlers/Border/BorderHandler.Android.cs
  src/Core/src/Handlers/Border/BorderHandler.Standard.cs
  src/Core/src/Handlers/Border/BorderHandler.Tizen.cs
  src/Core/src/Handlers/Border/BorderHandler.Windows.cs
  src/Core/src/Handlers/Border/BorderHandler.cs
  src/Core/src/Handlers/Border/BorderHandler.iOS.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Android.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Standard.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Tizen.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.Windows.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.cs
  src/Core/src/Handlers/CheckBox/CheckBoxHandler.iOS.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Android.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Standard.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Tizen.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.Windows.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.cs
  src/Core/src/Handlers/ContentView/ContentViewHandler.iOS.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.MacCatalyst.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Standard.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Tizen.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Windows.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: area/docs 📓

#16408 [tests] Fix device tests to run on arm64
  eng/devices/android.cake
  eng/pipelines/common/device-tests.yml
  eng/pipelines/common/ui-tests.yml
  eng/pipelines/device-tests.yml
  eng/pipelines/ui-tests.yml
  eng/provisioning/provisioning.csx
Labels: t/housekeeping ♻︎

#16451 [uitests] Fix appium script
  eng/pipelines/common/provision.yml
  eng/pipelines/common/ui-tests-steps.yml
  eng/pipelines/maui-release.yml
  eng/scripts/appium-install.ps1
Labels: t/housekeeping ♻︎

#15883 [iOS] Fix Editor placeholder issues
  src/Controls/samples/Controls.Sample/Pages/Controls/EditorPage.xaml
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.iOS.cs
Labels: t/bug, platform/iOS 🍎, area/controls 🎮, control-label, i/regression

#16454 [Essentials] Make PublisherName public on NET8
  src/Essentials/src/AppInfo/AppInfo.uwp.cs
Labels: t/housekeeping ♻︎, area/essentials 🍞

#16452 [compatibility] Skip test on iOS
  src/Compatibility/ControlGallery/src/Issues.Shared/ShellInsets.cs
Labels: migration-compatibility

#16365 [iOS] Re-enable editor tests
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.cs
Labels: t/housekeeping ♻︎, area/testing, control-editor
