Repository dotnet/maui, pull requests merged in 2024-06, with the labels that each got.

#22753 [Housekeeping] Fix Issue22433Test
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue22433_Default.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue22433_Layout.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue22433_Spacing.png
Labels: t/housekeeping ♻︎, area-testing

#17290 Fixes BindableLayout BindingContext inheritance
  src/Controls/src/Core/BindableLayout/BindableLayout.cs
  src/Controls/tests/Core.UnitTests/BindableLayoutTests.cs
Labels: area-xaml, legacy-area-perf, community ✨, memory-leak 💦, t/perf

#20052 Call RootViewChanged when setting ContentView to null
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellRenderer.cs
  src/Core/src/Handlers/Window/WindowHandler.Android.cs
  src/Core/src/Platform/Android/Navigation/NavigationRootManager.cs
Labels: area-controls-shell

#19728 Picker ItemsSource fixes
  src/Controls/src/Core/Picker/Picker.cs
  src/Controls/tests/Core.UnitTests/PickerTests.cs
Labels: community ✨, area-controls-picker, stale

#22759 Remove .NET 7 from bug template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎, area-infrastructure

#22503 Memory Leak in Style with Trigger - fix
  src/Controls/src/Core/Interactivity/EventTrigger.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22036.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22036.xaml.cs
Labels: area-xaml, community ✨

#22583 Support changing Window coordinates while changing those coordinates
  src/Controls/src/Core/Window/Window.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.iOS.cs
Labels: platform/macOS 🍏, area-controls-window

#22788 Make sure the package source mapping is correct
  NuGet.config
  eng/cake/dotnet.cake
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/TestEnvironment.cs
Labels: t/housekeeping ♻︎

#22821 Added some additional testing assets to sandbox
  src/Controls/samples/Controls.Sample.Sandbox/App.xaml
  src/Controls/samples/Controls.Sample.Sandbox/App.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Controls/samples/Controls.Sample.Sandbox/MauiProgram.cs
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/Dokdo-Regular.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/LobsterTwo-Bold.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/LobsterTwo-BoldItalic.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/LobsterTwo-Italic.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/LobsterTwo-Regular.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/SegoeUI-Bold-Italic.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/SegoeUI-Bold.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/SegoeUI-Italic.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/SegoeUI.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/ionicons.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Raw/RawAsset.txt
  src/Controls/samples/Controls.Sample.Sandbox/SandboxShell.xaml.cs
Labels: t/housekeeping ♻︎, area-testing

#22807 Fixing _loaded event firing logic
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/tests/Core.UnitTests/PageLifeCycleTests.cs
Labels: area-core-lifecycle, community ✨

#21725 Binding source generator
  Microsoft.Maui-dev.sln
  Microsoft.Maui-vscode.sln
  Microsoft.Maui.sln
  THIRD-PARTY-NOTICES.TXT
  eng/cake/dotnet.cake
  src/Controls/src/BindingSourceGen/AccessExpressionBuilder.cs
  src/Controls/src/BindingSourceGen/BindingCodeWriter.cs
  src/Controls/src/BindingSourceGen/BindingSourceGenerator.cs
  src/Controls/src/BindingSourceGen/BindingSourceGeneratorUtilities.cs
  src/Controls/src/BindingSourceGen/BindingTransformer.cs
  src/Controls/src/BindingSourceGen/Controls.BindingSourceGen.csproj
  src/Controls/src/BindingSourceGen/DiagnosticsFactory.cs
  src/Controls/src/BindingSourceGen/EquatableArray.cs
  src/Controls/src/BindingSourceGen/GeneratorDataModels.cs
  src/Controls/src/BindingSourceGen/HashCode.cs
  src/Controls/src/BindingSourceGen/IsExternalInitCompat.cs
  src/Controls/src/BindingSourceGen/PathParser.cs
  src/Controls/src/BindingSourceGen/Setter.cs
  src/Controls/src/Core/BindableObjectExtensions.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/BindingSourceGen.UnitTests/AccessExpressionBuilderTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/AssertExtensions.cs
  src/Controls/tests/BindingSourceGen.UnitTests/BindingCodeWriterTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/BindingRepresentationGenTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/BindingTransformerTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/Controls.BindingSourceGen.UnitTests.csproj
  src/Controls/tests/BindingSourceGen.UnitTests/DiagnosticsTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/IncrementalGenerationTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/IntegrationTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/SetterBuilderTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/SourceGenHelpers.cs
  src/Core/tests/Benchmarks/Benchmarks/SourceGeneratedBindingBenchmarker.cs
  src/Core/tests/Benchmarks/Core.Benchmarks.csproj
Labels: area-xaml

#22829 [net9.0] Update versions for preview5
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Workload/Shared/Maestro.targets
Labels: area-infrastructure

#22816 Update project & solution templates
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-multiproject/.template.config/template.json
Labels: t/housekeeping ♻︎, area-templates

#22717 Make sure ImageButton always has a background
  src/Core/src/Platform/Android/ButtonExtensions.cs
  src/Core/src/Platform/Android/ImageButtonExtensions.cs
  src/Core/src/Platform/Android/MauiRippleDrawableExtensions.cs
Labels: area-controls-button

#22840 [net9.0] Merge main to net9.0
  .github/ISSUE_TEMPLATE/bug-report.yml
  NuGet.config
  eng/cake/dotnet.cake
  src/Controls/samples/Controls.Sample.Sandbox/App.xaml
  src/Controls/samples/Controls.Sample.Sandbox/App.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml
  src/Controls/samples/Controls.Sample.Sandbox/MainPage.xaml.cs
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Controls/samples/Controls.Sample.Sandbox/MauiProgram.cs
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/Dokdo-Regular.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/LobsterTwo-Bold.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/LobsterTwo-BoldItalic.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/LobsterTwo-Italic.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/LobsterTwo-Regular.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/SegoeUI-Bold-Italic.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/SegoeUI-Bold.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/SegoeUI-Italic.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/SegoeUI.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Fonts/ionicons.ttf
  src/Controls/samples/Controls.Sample.Sandbox/Resources/Raw/RawAsset.txt
  src/Controls/samples/Controls.Sample.Sandbox/SandboxShell.xaml.cs
  src/Controls/src/Core/Border/Border.cs
  src/Controls/src/Core/Interactivity/EventTrigger.cs
  src/Controls/src/Core/Label/Label.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/src/Core/Window/Window.cs
  src/Controls/tests/Core.UnitTests/PageLifeCycleTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19955.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ReduceInvalidateMeasure.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ReduceInvalidateMeasuresUpdatingLabel.png
  src/Controls/tests/TestCases/Issues/Issue19955.cs
  src/Controls/tests/TestCases/Issues/ReduceInvalidateMeasure.xaml
  src/Controls/tests/TestCases/Issues/ReduceInvalidateMeasure.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22036.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22036.xaml.cs
  src/Core/src/Platform/Android/Navigation/NavigationViewFragment.cs
  src/Core/src/Platform/iOS/MauiLabel.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests.Shared/Core.DeviceTests.Shared.csproj
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Window/WindowHandlerTests.iOS.cs
  src/Microsoft.Maui.TestUtils.DeviceTests.Runners.targets
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/TestEnvironment.cs
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
Labels: area-infrastructure

#22810 [ios/catalyst] fix leak in NavigationPage
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Menu/MenuItemTracker.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
Labels: area-navigation, platform/iOS 🍎, memory-leak 💦

#22787 [Android] Fix RadioButton selection in Group
  src/Controls/src/Core/RadioButton/RadioButton.cs
  src/Controls/tests/Core.UnitTests/RadioButtonTests.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/RadioButtonUpdateValueInsideBorderNo.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/RadioButtonUpdateValueInsideBorderYes.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22183.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22750.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/RadioButtonWithValueChangeSelected.png
  src/Controls/tests/TestCases/Issues/Issue22183.xaml
  src/Controls/tests/TestCases/Issues/Issue22183.xaml.cs
  src/Controls/tests/TestCases/Issues/Issue22750.xaml
  src/Controls/tests/TestCases/Issues/Issue22750.xaml.cs
Labels: t/bug, platform/android 🤖, platform/iOS 🍎, area-controls-radiobutton

#22781 [Windows] Subscribe less pointer events in `UpdatingGestureRecognizers`
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
Labels: platform/windows 🪟, community ✨, area-gestures

#22867 [ios/catalyst] fix memory leak in CollectionView cells
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/TemplatedCell.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: memory-leak 💦

#22871 Add DarkTheme style for Frame
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
  src/Templates/src/templates/maui-multiproject/MauiApp.1/Resources/Styles/Styles.xaml
Labels: area-xaml, area-controls-frame

#22861 [iOS] Fix setting the CurrentItem on CarouselView load
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.iOS.cs
  src/Controls/src/Core/Handlers/Items/iOS/CarouselViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/MauiCollectionView.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CarouselViewUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue10234.cs
  src/Controls/tests/TestCases/Elements/CarouselViewCoreGalleryPage.xaml
  src/Controls/tests/TestCases/Elements/CarouselViewCoreGalleryPage.xaml.cs
  src/Controls/tests/TestCases/Issues/Issue10234.cs
Labels: platform/iOS 🍎, area-controls-collectionview

#22782 [Windows] Optimize getting default font size and font family values
  src/Core/src/Fonts/FontManager.Windows.cs
  src/Essentials/src/AppInfo/AppInfo.shared.cs
  src/Essentials/src/AppInfo/AppInfo.uwp.cs
Labels: platform/windows 🪟, area-fonts, community ✨

#22526 [Testing] Remove IgnoreIfPlatforms usage on UITests
  src/Controls/tests/TestCases.Shared.Tests/IUITestContextExtensions.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CollectionView/CollectionViewUITests.MultipleBoundSelection.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CollectionView/CollectionViewUITests.SingleBoundSelection.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CollectionView/CollectionViewUITests.VisitAndUpdateItemsSource.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/GestureRecognizerUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.AdjustPeekAreaInsets.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.LoopNoFreeze.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.NoItemTemplate.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.PositionVisibility.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.RemoveAt.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.SetOrientation.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.UpdateCurrentItem.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.UpdatePosition.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.ClearGroupedNoCrash.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.CollectionViewBindingErrors.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.CollectionViewItemsUpdatingScrollMode.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.CollectionViewTabbedPage.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.DynamicallyLoad.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.EmptyViewNoCrash.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/HideSoftInputOnTappedPageTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue15330.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue16320.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue16561.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17490.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17789.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18111.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18242.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18623.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18675.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18706.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18716.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18751.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18754.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18857.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18896.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19509.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19786.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20156.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20199.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21314.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21513.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21631.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21726.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21846.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21967.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22000.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22035.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue5555.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue7823.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ScrollViewUITests.Bugzilla28570.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ScrollViewUITests.Bugzilla35127.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ScrollViewUITests.Bugzilla44461.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ScrollViewUITests.ScrollViewDelayedContent.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ScrollViewUITests.ScrollViewDisableScroll.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ScrollViewUITests.ScrollViewIsEnabled.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ScrollViewUITests.ScrollViewObjectDisposed.cs
  src/Controls/tests/TestCases.Shared.Tests/UITestIgnoreAttributes.cs
  src/Controls/tests/TestCases/Issues/Issue19509.xaml.cs
Labels: t/housekeeping ♻︎, area-testing

#22893 [ios/catalyst] fix memory leak in `ToolbarItem`
  src/Controls/src/Core/Compatibility/iOS/Extensions/ToolbarItemExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.cs
Labels: memory-leak 💦

#22883 Fix Appium install PowerShell script
  eng/scripts/appium-install.ps1
Labels: t/housekeeping ♻︎, area-infrastructure

#22864 iOS Entry & Editor Placeholder font follows FontFamily property
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.iOS.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
Labels: t/bug, platform/iOS 🍎, area-controls-entry, area-controls-editor

#20045 [WinUI] Fix DateTimeFormatter for "ddd"
  src/Compatibility/Core/src/Windows/DatePickerRenderer.cs
  src/Core/src/Platform/Windows/CalendarDatePickerExtensions.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.Windows.cs
Labels: area-controls-datetimepicker

#22959 Remove unnecessary SendAppearing call
  src/Controls/tests/Core.UnitTests/NavigationPageLifecycleTests.cs
Labels: area-navigation, t/housekeeping ♻︎, area-testing

#22992 [Windows] Upgrade Windows App SDK from 1.5.1 to 1.5.4
  eng/Versions.props
Labels: platform/windows 🪟, t/housekeeping ♻︎, community ✨

#22741 SwipeView shows what's beneath while still swiping - fix
  src/Controls/src/Core/SwipeView/SwipeView.Mapper.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
Labels: community ✨, area-controls-swipeview

#23043 [XC] Fix SimplifyTypeExtensionVisitor
  src/Controls/src/Xaml/SimplifyTypeExtensionVisitor.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui21757_2.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui21757_2.xaml.cs
Labels: area-xaml

#23031 [XC] Make assembly comparison less strict
  src/Controls/src/Build.Tasks/TypeReferenceExtensions.cs
Labels: area-xaml

#23044 Update vscode extension recommendations
  .vscode/extensions.json
Labels: area-infrastructure

#23094 [iOS] Fixed NRE after calling ViewCell.ForceUpdateSize
  src/Controls/src/Core/Cells/Cell.cs
  src/Controls/tests/Core.UnitTests/ListViewTests.cs
Labels: community ✨

#23113 [NativeAOT] Fix CarouselViewUITests
  src/Controls/tests/TestCases/Elements/CarouselViewCoreGalleryPage.xaml
Labels: platform/iOS 🍎, area-testing

#22874 Fix animated gifs in Release builds
  src/Controls/tests/CustomAttributes/Test.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ImageUITests_IsAnimationPlaying_No.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ImageUITests_IsAnimationPlaying_Yes.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/ImageUITests.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ImageUITests_IsAnimationPlaying_No.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ImageUITests_IsAnimationPlaying_Yes.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ImageUITests_IsAnimationPlaying_No.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ImageUITests_IsAnimationPlaying_Yes.png
  src/Controls/tests/TestCases/Controls.TestCases.App.csproj
  src/Controls/tests/TestCases/Elements/ImageCoreGalleryPage.cs
  src/Controls/tests/TestCases/Resources/Images/red_is_good.gif
  src/Core/src/Platform/Android/ImageViewExtensions.cs
  src/Core/src/Platform/Android/JavaObjectExtensions.cs
Labels: area-image

#23118 [Tests] Update to Appium 5.0.0
  src/Controls/tests/TestCases.Android.Tests/Controls.TestCases.Android.Tests.csproj
  src/Controls/tests/TestCases.Mac.Tests/Controls.TestCases.Mac.Tests.csproj
  src/Controls/tests/TestCases.WinUI.Tests/Controls.TestCases.WinUI.Tests.csproj
  src/Controls/tests/TestCases.iOS.Tests/Controls.TestCases.iOS.Tests.csproj
  src/TestUtils/src/UITest.Appium/Actions/AppiumLifecycleActions.cs
  src/TestUtils/src/UITest.Appium/UITest.Appium.csproj
Labels: t/housekeeping ♻︎, area-testing

#23144 [Windows] Ensure titlebar button foreground colors use app theme
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
Labels: platform/windows 🪟, area-controls-window

#22890 `Size` and `SizeF` should not throw on `NaN`
  src/Graphics/src/Graphics/Size.cs
  src/Graphics/src/Graphics/SizeF.cs
Labels: area-core-platform

#19629 Fix Action Sheets for macOS
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.iOS.cs
  src/Controls/tests/CustomAttributes/Test.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Concepts/AlertsGalleryTests.cs
  src/Controls/tests/TestCases/Concepts/AlertsGalleryPage.cs
  src/Controls/tests/TestCases/CoreViews/CorePageView.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumAndroidAlertActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumAppleAlertActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumCatalystAlertActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumIOSAlertActions.cs
  src/TestUtils/src/UITest.Appium/AppiumAndroidApp.cs
  src/TestUtils/src/UITest.Appium/AppiumCatalystApp.cs
  src/TestUtils/src/UITest.Appium/AppiumIOSApp.cs
  src/TestUtils/src/UITest.Appium/AppiumQuery.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
  src/TestUtils/src/UITest.Core/IQuery.cs
Labels: platform/macOS 🍏, area-controls-dialogalert, stale

#23143 [ios] fix leak in ListView *Cells
  src/Controls/src/Core/Cells/Cell.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/CellRenderer.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: area-controls-listview, memory-leak 💦

#22803 [XC] Produce warning when x:DataType is inherited from outer scope of `DataTemplate`
  src/Controls/src/Build.Tasks/BuildException.cs
  src/Controls/src/Build.Tasks/ErrorMessages.resx
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Build.Tasks/XamlCTask.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22714.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22714.xaml.cs
  src/Controls/tests/Xaml.UnitTests/MockCompiler.cs
Labels: area-xaml

#23164 [ios/catalyst] fix more cycles in `NavigationPage`
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ViewHandlerDelegator.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: memory-leak 💦

#23120 Bump to Android 34.0.113
  eng/Versions.props
Labels: area-infrastructure, area/infrastructure 🏗️

#18567 [Housekeeping] Added UI Test to validate project template
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/NoScrollbarsTest.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19509.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/NoScrollbarsTest.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/NoScrollbarsTest.png
  src/Controls/tests/TestCases/Issues/Issues17801.xaml
  src/Controls/tests/TestCases/Issues/Issues17801.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17801.cs
Labels: t/housekeeping ♻︎, area-testing

#23102 [ci] Set OfficialBuildId when building asset manifests
  eng/pipelines/common/sdk-insertion.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/maui-release.yml
  src/Workload/Shared/Maestro.targets
Labels: area-infrastructure

#19987 Optimize resetting gesture recognizers
  src/Controls/src/Core/View/View.cs
  src/Core/tests/Benchmarks/Benchmarks/GestureRecognizerBenchmarker.cs
Labels: community ✨, stale, area-gestures

#22746 [Windows] Fix ListView insert not working properly
  src/Controls/src/Core/Compatibility/Handlers/ListView/Windows/ListViewRenderer.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.Windows.cs
Labels: platform/windows 🪟, area-controls-listview

#22084 Fix <ApplicationTitle> encoding in maui templates
  src/Templates/README.md
  src/Templates/src/templates/maui-blazor/.template.config/template.json
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-blazor/Platforms/Tizen/tizen-manifest.xml
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/Platforms/Tizen/tizen-manifest.xml
  src/Templates/src/templates/maui-multiproject/.template.config/template.json
  src/Templates/src/templates/maui-multiproject/MauiApp.1.Droid/MauiApp.1.Droid.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1.Droid/Resources/values/strings.xml
  src/Templates/src/templates/maui-multiproject/MauiApp.1.Mac/MauiApp.1.Mac.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1.WinUI/MauiApp.1.WinUI.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1.iOS/MauiApp.1.iOS.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1/MauiApp.1.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
Labels: area-templates, community ✨, stale

#23170 NavHost cannot be null on Back key pressed - fix
  src/Core/src/Platform/Android/Navigation/NavigationViewFragment.cs
  src/Core/src/Platform/Android/Navigation/StackNavigationManager.cs
Labels: platform/android 🤖, area-navigation, community ✨

#23166 [ios/catalyst] fix memory leak in TabbedPage
  src/Controls/src/Core/Compatibility/Handlers/TabbedPage/iOS/TabbedRenderer.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: memory-leak 💦

#22856 Enable Binding inteceptors source generator by default
  docs/design/FeatureSwitches.md
  src/Controls/src/BindingSourceGen/BindingSourceGenerator.cs
  src/Controls/src/Build.Tasks/Controls.Build.Tasks.csproj
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/src/Core/BindableObjectExtensions.cs
  src/Controls/tests/BindingSourceGen.UnitTests/DiagnosticsTests.cs
  src/Core/src/RuntimeFeature.cs
Labels: area-core-platform

#23142 Simplify Development.md
  .github/DEVELOPMENT.md
  docs/DevelopmentTips.md
Labels: area-infrastructure

#23047 [Windows] FilePicker picking multiple files is very slow because of `FutureAccessList` use
  src/Essentials/src/FilePicker/FilePicker.uwp.cs
Labels: area-essentials, community ✨

#22453 [Android] Fix flyout behaviour switching exception
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18161.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20858.cs
  src/Controls/tests/TestCases/Issues/Issue18161.xaml
  src/Controls/tests/TestCases/Issues/Issue18161.xaml.cs
  src/Controls/tests/TestCases/Issues/Issue20858.xaml
  src/Controls/tests/TestCases/Issues/Issue20858.xaml.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.Android.cs
Labels: platform/android 🤖, community ✨, area-controls-flyout

#22815 [Essentials] Add DateTimeOffset overload in Preferences
  src/Essentials/src/Preferences/Preferences.android.cs
  src/Essentials/src/Preferences/Preferences.ios.tvos.watchos.macos.cs
  src/Essentials/src/Preferences/Preferences.shared.cs
  src/Essentials/src/Preferences/Preferences.tizen.cs
  src/Essentials/src/Preferences/Preferences.uwp.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Essentials/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Essentials/test/DeviceTests/Tests/Preferences_Tests.cs
Labels: area-essentials, community ✨

#23269 Split SingleProject targets
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.Build.Tasks.Before.targets
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.SingleProject.Before.targets
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.SingleProject.targets
Labels: area-single-project

#23289 Null terminate iOS TabbedRenderer
  src/Controls/src/Core/Compatibility/Handlers/TabbedPage/iOS/TabbedRenderer.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Android.cs
Labels: area-controls-tabbedpage

#22698 [Windows] Improve performance in accessibility extensions
  src/Controls/src/Core/Platform/Windows/Extensions/AccessibilityExtensions.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: platform/windows 🪟, community ✨, area-core-platform, t/perf

#23209 Bump `Microsoft.Web.WebView2` from `1.0.2151.40` to `1.0.2592.51`
  eng/Versions.props
Labels: area-blazor, community ✨

#23324 [tests] test a lot more things in `MemoryTests.cs`
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: memory-leak 💦, testing-missing-tests

#23337 Bump Appium version to 2.11
  eng/scripts/appium-install.ps1
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.UpdateCurrentItem.cs
Labels: area-infrastructure, area-testing

#23184 Obsolete Frame for NET9 in favor of Border
  src/Controls/samples/Controls.Sample/Controls/CardView/CardView.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/FramePage.xaml
  src/Controls/samples/Controls.Sample/Pages/Compatibility/FramePage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselItemsGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CarouselSnapGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/CollectionCarouselViewGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/CarouselViewGalleries/ExampleTemplateCarousel.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/CollectionViewGalleries/ExampleTemplates.cs
  src/Controls/samples/Controls.Sample/ViewModels/CompatibilityViewModel.cs
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Tizen/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Windows/FrameRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/iOS/FrameRenderer.cs
  src/Controls/src/Core/Frame/Frame.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionItemView.cs
  src/Controls/src/Core/Properties/AssemblyInfo.cs
  src/Controls/src/Core/TabbedPage/TabbedPage.Tizen.cs
  src/Controls/src/Xaml/Hosting/AppHostBuilderExtensions.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameHandlerTest.Android.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameHandlerTest.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.cs
  src/Controls/tests/DeviceTests/Elements/Frame/FrameTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Controls/tests/DeviceTests/Stubs/FrameStub.cs
  src/Controls/tests/DeviceTests/TestCases/ControlsViewTypesTestCases.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/IsInvokeRequiredRaceCondition.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue10947.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue15330.cs
  src/Controls/tests/TestCases/Elements/CollectionView/ExampleTemplates.cs
  src/Controls/tests/TestCases/Elements/FrameCoreGalleryPage.cs
  src/Controls/tests/TestCases/Issues/Issue12567.cs
  src/Core/tests/Benchmarks/Benchmarks/GestureRecognizerBenchmarker.cs
  src/Core/tests/Benchmarks/Benchmarks/VisualTreeBenchmarker.cs
  src/Core/tests/UnitTests/Views/BorderTests.cs
Labels: t/docs 📝, area-controls-frame

#23345 Simplify `NavigationRootManager.Connect` on the Windows platform.
  src/Core/src/Platform/Windows/NavigationRootManager.cs
Labels: community ✨
