Repository dotnet/maui, pull requests merged in 2024-04, with the labels that each got.

#20352 [Android] Span line height fix
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19592.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19592.xaml.cs
  src/Controls/src/Core/Platform/Android/Extensions/FormattedStringExtensions.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19592.cs
  src/Controls/tests/UITests/snapshots/android/SpanLineHeightShouldNotGrowProgressively.png
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/src/maui.aar
Labels: platform/android 🤖, area/controls 🎮, community ✨, control-label

#20412 [Android] Fix Ripple effect with custom background (alternative to #17821)
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue17642.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue17642.xaml.cs
  src/Controls/src/Core/GradientBrush.cs
  src/Controls/src/Core/LinearGradientBrush.cs
  src/Controls/src/Core/Platform/Android/Extensions/BrushExtensions.cs
  src/Controls/src/Core/Platform/Android/GradientStrokeDrawable.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/RadialGradientBrush.cs
  src/Core/src/Graphics/GradientShaderFactory.Android.cs
  src/Core/src/Graphics/PaintExtensions.Android.cs
  src/Core/src/Platform/Android/ButtonExtensions.cs
  src/Core/src/Platform/Android/WrapperView.cs
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.Android.cs
Labels: t/bug, platform/android 🤖, area/drawing ✏️, area/controls 🎮, control-button

#21610 Add remark Screenshot Quality only applies to JPG
  src/Essentials/src/Screenshot/Screenshot.shared.cs
Labels: t/housekeeping ♻︎, area/essentials 🍞, t/docs 📝

#16100 Resizetizer issues fixes - nuget bumps
  .github/dependabot.yml
  eng/NuGetVersions.targets
  eng/Versions.props
  eng/automation/SignList.xml
  src/Controls/tests/UITests/snapshots/android/Issue16094Test.png
  src/Controls/tests/UITests/snapshots/android/Issue18242Test.png
  src/Controls/tests/UITests/snapshots/android/LoadAndVerifySvg.png
  src/Controls/tests/UITests/snapshots/ios/LoadAndVerifySvg.png
  src/SingleProject/Resizetizer/src/ResizetizerPackages.projitems
  src/SingleProject/Resizetizer/test/UnitTests/BaseTest.cs
  src/SingleProject/Resizetizer/test/UnitTests/ResizetizeImagesTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/SkiaSharpSvgToolsTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/imageresults/ResizetizeImagesTests+ExecuteForAndroid/DiffPropoprtionWithoutBase/output-mdpi.png
  src/SingleProject/Resizetizer/test/UnitTests/imageresults/ResizetizeImagesTests+ExecuteForAndroid/DiffPropoprtionWithoutBase/output-xhdpi.png
  src/SingleProject/Resizetizer/test/UnitTests/imageresults/ResizetizeImagesTests+ExecuteForAndroid/MultipleVectorAppIconWithOnlyPathConvertsToRaster/output-prismicon-rasters-m-f.png
  src/SingleProject/Resizetizer/test/UnitTests/imageresults/ResizetizeImagesTests+ExecuteForAndroid/MultipleVectorAppIconWithOnlyPathConvertsToRaster/output-prismicon-rasters-m-i.png
  src/SingleProject/Resizetizer/test/UnitTests/imageresults/ResizetizeImagesTests+ExecuteForAndroid/MultipleVectorAppIconWithOnlyPathConvertsToRaster/output-prismicon-rasters-xh-f.png
  src/SingleProject/Resizetizer/test/UnitTests/imageresults/ResizetizeImagesTests+ExecuteForAndroid/MultipleVectorAppIconWithOnlyPathConvertsToRaster/output-prismicon-rasters-xh-i.png
  src/SingleProject/Resizetizer/test/UnitTests/imageresults/SkiaSharpAppIconToolsTests+Resize/ComplexIconTest/output-1-1-appicon.svg-prismicon.svg.png
  src/SingleProject/Resizetizer/test/UnitTests/images/find_icon.svg
  src/SingleProject/Resizetizer/test/UnitTests/images/warning.svg
Labels: area/single project ☝️, stale

#19054 [Testing] Add legacy ScrollView UITests
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1538.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2680ScrollView.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue3507.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue773.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/ScrollViewIsEnabled.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/ScrollViewObjectDisposed.cs
  src/Controls/samples/Controls.Sample.UITests/CoreViews/CorePageView.cs
  src/Controls/samples/Controls.Sample.UITests/Elements/ScrollViewCoreGalleryPage.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Bugzilla28570.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Bugzilla35127.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Bugzilla41415.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Bugzilla44461.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Bugzilla49069.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/ScrollChangeOrientation.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/ScrollViewDelayedContent.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/ScrollViewDisableScroll.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/ScrollViewIsEnabled.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/ScrollViewNoContent.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/ScrollViewObjectDisposed.cs
  src/Controls/samples/Controls.Sample.UITests/TestBuilder.cs
  src/Controls/samples/Controls.Sample.UITests/TestCases.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18751.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.Bugzilla28570.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.Bugzilla35127.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.Bugzilla41415.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.Bugzilla44461.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.Bugzilla49069.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.ScrollChangeOrientation.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.ScrollViewDelayedContent.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.ScrollViewDisableScroll.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.ScrollViewIsEnabled.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.ScrollViewNoContent.cs
  src/Controls/tests/UITests/Tests/Issues/ScrollViewUITests.ScrollViewObjectDisposed.cs
  src/Controls/tests/UITests/Tests/ScrollViewUITests.cs
  src/Controls/tests/UITests/UITestCategories.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/TestUtils/src/UITest.Appium/Actions/AppiumOrientationActions.cs
  src/TestUtils/src/UITest.Appium/AppiumAndroidApp.cs
  src/TestUtils/src/UITest.Appium/AppiumCatalystApp.cs
  src/TestUtils/src/UITest.Appium/AppiumIOSApp.cs
  src/TestUtils/src/UITest.NUnit/UITestBase.cs
Labels: t/housekeeping ♻︎, area/testing, layout-scrollview, testing-legacy-ui-tests

#21519 Making sure FindMauiContext fallbacks to default for the title icon i…
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
Labels: community ✨

#19004 IndicatorView IndicatorTemplate Binding
  src/Controls/samples/Controls.Sample/Pages/Controls/IndicatorPage.xaml
  src/Controls/src/Core/IndicatorView/IndicatorStackLayout.cs
  src/Controls/tests/Core.UnitTests/IndicatorViewLayoutTests.cs
Labels: area/collectionview 📃, community ✨, stale

#21516 [Windows] Prevent image from covering text in buttons if the image is too big
  src/Controls/samples/Controls.Sample.UITests/Controls.Sample.UITests.csproj
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21513.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21513.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue21513.cs
  src/Controls/tests/UITests/snapshots/android/Issue21513Test.png
  src/Controls/tests/UITests/snapshots/windows/Issue21394Test.png
  src/Controls/tests/UITests/snapshots/windows/Issue21513Test.png
  src/Core/src/Platform/Windows/MauiButton.cs
Labels: platform/windows 🪟, area/controls 🎮, control-button

#21676 Update bug-report.yml to add 8.0.14 and 9.0.0-preview.2.10293
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: community ✨

#21523 BindableObject System.NullReferenceException when bindings queue gets messed up
  src/Controls/src/Core/BindableObject.cs
Labels: area/Xaml </>, community ✨

#21450 [WinUI] Allocate less when updating gestures
  src/Controls/src/Core/EnumerableExtensions.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
Labels: area/perf 🏎️, community ✨, area/gestures

#20100 Fixed entry text color [iOS]
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19509.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19509.xaml.cs
  src/Controls/src/Core/Entry/Entry.iOS.cs
  src/Controls/src/Core/Platform/iOS/Extensions/TextExtensions.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19509.cs
  src/Controls/tests/UITests/snapshots/android/Issue19509Test.png
  src/Controls/tests/UITests/snapshots/ios-iphonex/Issue19509Test.png
  src/Controls/tests/UITests/snapshots/ios/Issue19509Test.png
  src/Controls/tests/UITests/snapshots/windows/Issue19509Test.png
Labels: platform/iOS 🍎, area/controls 🎮, community ✨, control-entry

#21712 [android] improve FormattedString performance
  src/Controls/src/Core/Platform/Android/Extensions/FormattedStringExtensions.cs
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformFontSpan.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformLineHeightSpan.java
  src/Core/src/maui.aar
Labels: platform/android 🤖, area/perf 🏎️, area/controls 🎮, control-label

#21636 [net9.0] [testing] Enable Windows UITests back (#20727) and make sure Android works too
  eng/cake/dotnet.cake
  eng/devices/android.cake
  eng/devices/devices-shared.cake
  eng/devices/windows.cake
  eng/pipelines/common/ui-tests.yml
Labels: area/testing

#20506 Make sure to await async test asserts (2)
  src/Controls/Foldable/test/Controls.DualScreen.UnitTests.csproj
  src/Controls/tests/Core.UnitTests/Controls.Core.UnitTests.csproj
  src/Controls/tests/Core.UnitTests/DeviceUnitTests.cs
  src/Controls/tests/Core.UnitTests/Gestures/DropGestureRecognizerTests.cs
  src/Controls/tests/Core.UnitTests/NavigationUnitTest.cs
  src/Controls/tests/Core.UnitTests/ScrollViewUnitTests.cs
  src/Controls/tests/Core.UnitTests/ShellLifeCycleTests.cs
  src/Controls/tests/Core.UnitTests/ShellNavigatingTests.cs
  src/Controls/tests/Core.UnitTests/ShellTests.cs
  src/Controls/tests/Core.UnitTests/ShellUriHandlerTests.cs
  src/Controls/tests/Core.UnitTests/SingleThreadSynchronizationContext.cs
  src/Controls/tests/Core.UnitTests/ToolbarTests.cs
  src/Controls/tests/Core.UnitTests/ViewUnitTests.cs
  src/Controls/tests/Xaml.UnitTests.ExternalAssembly/Controls.Xaml.UnitTests.ExternalAssembly.csproj
  src/Controls/tests/Xaml.UnitTests.InternalsHiddenAssembly/Controls.Xaml.UnitTests.InternalsHiddenAssembly.csproj
  src/Controls/tests/Xaml.UnitTests.InternalsVisibleAssembly/Controls.Xaml.UnitTests.InternalsVisibleAssembly.csproj
  src/Essentials/test/UnitTests/AppActions_Tests.cs
  src/Essentials/test/UnitTests/Sms_Tests.cs
  src/Essentials/test/UnitTests/TextToSpeech_Tests.cs
Labels: area/testing, community ✨

#21697 Clarify PlatformImage supported image formats docs
  src/Graphics/src/Graphics/PlatformImage.cs
  src/Graphics/src/Graphics/Platforms/Android/PlatformImage.cs
  src/Graphics/src/Graphics/Platforms/Mac/PlatformImage.cs
  src/Graphics/src/Graphics/Platforms/Windows/PlatformImage.cs
  src/Graphics/src/Graphics/Platforms/iOS/PlatformImage.cs
Labels: area/docs 📓, t/housekeeping ♻︎, t/docs 📝

#21720 [Testing] Update Appium to RC7
  src/Controls/tests/UITests/Controls.AppiumTests.csproj
  src/TestUtils/src/UITest.Appium/UITest.Appium.csproj
Labels: t/housekeeping ♻︎, area/testing

#21737 Init the flex item before adding it to the layout
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21711.cs
  src/Controls/src/Core/Layout/FlexLayout.cs
  src/Controls/tests/UITests/Tests/Issues/Issue21711.cs
Labels: area/layout 🔲, layout-flex

#21684 [Catalyst,Windows] Allow drag item from outside the app
  src/Controls/samples/Controls.Sample.Sandbox/MauiProgram.cs
  src/Controls/samples/Controls.Sample/Pages/Core/DropFileToMauiApp.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/DropFileToMauiApp.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/GesturesViewModel.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/src/Core/Platform/iOS/DragAndDropDelegate.cs
Labels: platform/macOS 🍏, platform/windows 🪟, area/gestures

#21767 Move CollectionViewItemsLayoutUpdate to appium
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue5354.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue5354.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue5354.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue5354.cs
Labels: area/collectionview 📃, area/testing

#21775 Add s/triaged label for issues opened by core team
  .github/policies/resourceManagement.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#21322 [Android] Fixed box view properties
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19926.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19926.xaml.cs
  src/Controls/src/Core/BoxView/BoxView.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19926.cs
  src/Controls/tests/UITests/snapshots/android/PropertiesShouldBeCorrectlyApplied.png
Labels: t/bug, area/controls 🎮, community ✨

#21458 fix issue in orientation of images
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21314.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21314.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Resources/Images/photo21314.jpg
  src/Controls/tests/UITests/Tests/Issues/Issue21314.cs
  src/Controls/tests/UITests/UITest.cs
  src/Core/src/ImageSources/iOS/ImageSourceExtensions.cs
Labels: area/controls 🎮, community ✨, control-image

#21507 Document NavigableElement
  src/Controls/docs/Microsoft.Maui.Controls/NavigableElement.xml
  src/Controls/src/Core/INavigation.cs
  src/Controls/src/Core/NavigationProxy.cs
  src/Controls/src/Core/Shell/NavigableElement.cs
Labels: area/navigation 🧭

#21718 [iOS] Fix crash closing Popup with WebView
  src/Core/src/Platform/iOS/MauiWebViewNavigationDelegate.cs
Labels: t/bug, area/navigation 🧭, area/controls 🎮, control-webview

#20420 [Android] Fix crash navigating back
  src/Controls/src/Core/Platform/Android/PointerGestureHandler.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
Labels: t/bug, platform/android 🤖, area/shell 🐢, area/gestures

#21454 [XC] Fix x:DataType resolution for BindingContext
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui21434.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui21434.xaml
Labels: area/Xaml </>

#21797 fix: Use AppContext.BaseDirectory instead of Environment.CurrentDirec…
  src/BlazorWebView/src/WindowsForms/BlazorWebView.cs
  src/BlazorWebView/src/Wpf/BlazorWebView.cs
Labels: area/blazor 🕸️, community ✨

#21850 [ios/catalyst] fix memory leak with CollectionView
  src/Controls/src/Core/Handlers/Items/iOS/TemplatedCell.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.iOS.cs
Labels: platform/iOS 🍎, area/collectionview 📃, memory-leak 💦

#21894 Update locker.yml
  .github/workflows/locker.yml
Labels: area/infrastructure 🏗️, community ✨

#21806 [iOS] Fix KeyboardScrolling for controls inside the NavBar
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
Labels: platform/iOS 🍎, area/shell 🐢, area/keyboard

#21792 `LayoutHandler.Windows`: Store children to a local variable
  src/Core/src/Handlers/Layout/LayoutHandler.Windows.cs
Labels: area/perf 🏎️, community ✨

#21928 [controls] fix leak in ImageSource, caused by Task that never completes
  src/Controls/src/Core/ImageSource.cs
  src/Controls/tests/Core.UnitTests/ImageSourceTests.cs
Labels: area/image :framed_picture:, memory-leak 💦

#20083 More IndexOf() optimization
  src/Compatibility/ControlGallery/src/Core/GalleryPages/GroupedListContactsGallery.cs
  src/Compatibility/Core/src/Android/CollectionView/ObservableItemsSource.cs
  src/Compatibility/Core/src/iOS/CollectionView/ObservableItemsSource.cs
  src/Controls/src/Core/Handlers/Items/Android/ItemsSources/ObservableItemsSource.cs
  src/Core/src/Extensions/EnumerableExtensions.cs
  src/Core/src/Handlers/Layout/LayoutHandler.Android.cs
Labels: community ✨

#21940 Go back to ignoring ExpectingPageNotToBreak
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue7534.cs
Labels: area/testing

#21887 [ios/catalyst] fix memory leak in gestures
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.iOS.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: platform/iOS 🍎, area/collectionview 📃, memory-leak 💦

#21423 Setup scaffolding for legacy test runner
  Microsoft.Maui.sln
  eng/pipelines/common/ui-tests-legacy-steps.yml
  eng/pipelines/common/ui-tests.yml
  eng/pipelines/ui-tests.yml
  src/Compatibility/ControlGallery/src/Android/FormsAppCompatActivity.cs
  src/Compatibility/ControlGallery/test/Android.Appium.UITests/ControlGallery.Android.Appium.UITests.csproj
  src/Compatibility/ControlGallery/test/Android.Appium.UITests/PlatformSpecificSampleTest.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/AppiumServerHelper.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/ControlGallery.Shared.Appium.UITests.csproj
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/GalleryQueries.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/IssuesUITest.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/TestAttributes.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/TestContextSetupFixture.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/TestDevice.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/Tests/Issues/Issue11853.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/UITest.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/UITestBase.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/UITestCategories.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/UITestContextBase.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/UITestExtensions.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/UITestIgnoreAttributes.cs
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/VisualTestContext.cs
  src/Compatibility/ControlGallery/test/iOS.Appium.UITests/ControlGallery.iOS.Appium.UITests.csproj
  src/Compatibility/ControlGallery/test/iOS.Appium.UITests/PlatformSpecificSampleTest.cs
  src/Controls/tests/CustomAttributes/Controls.CustomAttributes.csproj
  src/Controls/tests/UITests/Tests/Issues/Issue19509.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: t/housekeeping ♻︎, area/testing

#21953 [WinUI] `GesturePlatformManager.Windows.cs` - unused variable
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
Labels: community ✨

#21965 IndexOf() stackOverflow fix (#20083)
  src/Core/src/Extensions/EnumerableExtensions.cs
Labels: community ✨

#21978 add unit test for EnumerableExtensions
  src/Core/tests/UnitTests/EnumerableExtensionTests.cs
Labels: community ✨

#21988 Re-generate template localization
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.cs.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.de.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.en.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.es.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.fr.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.it.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.ja.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.ko.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.pl.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.pt-BR.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.ru.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.tr.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.zh-Hans.json
  src/Templates/src/templates/maui-multiproject/.template.config/localize/templatestrings.zh-Hant.json
Labels: t/housekeeping ♻︎, area/templates 📄

#21156 Added TimePicker TimeSelected Event (Reopened)
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/TimeChangedEventArgs.cs
  src/Controls/src/Core/TimePicker/TimePicker.cs
  src/Controls/tests/Core.UnitTests/TimePickerUnitTest.cs
Labels: area/controls 🎮, control-datetimepicker

#22006 Add s/triaged label for issues opened by (core) team
  .github/policies/resourceManagement.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#21892 [Windows] Remove 2nd WebView used to add `base` tag when using HtmlWebViewSource
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21631.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21631.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue21631.cs
  src/Controls/tests/UITests/snapshots/windows/NavigateToStringWithWebviewWorks.png
  src/Core/src/Platform/Windows/MauiWebView.cs
Labels: platform/windows 🪟, area/controls 🎮, control-webview

#21951 [iOS] Add UITest for #21806
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21630.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21630.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21630_navPage.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21630_navPage.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21630_shellPage.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21630_shellPage.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue21630.cs
Labels: area/navigation 🧭, platform/iOS 🍎, area/shell 🐢, area/controls 🎮, area/testing, control-entry, area/keyboard

#22013 [Windows] Use correct build version check
  src/Essentials/src/Connectivity/Connectivity.uwp.cs
Labels: platform/windows 🪟, area/essentials 🍞

#20069 [iOS] Implemented PrefersHomeIndicatorAutoHidden, PrefersStatusBarHidden and PreferredStatusBarUpdateAnimation Platform Specifics
  src/Controls/samples/Controls.Sample/Pages/PlatformSpecifics/iOS/iOSHideHomeIndicatorPage.xaml
  src/Controls/samples/Controls.Sample/Pages/PlatformSpecifics/iOS/iOSHideHomeIndicatorPage.xaml.cs
  src/Controls/src/Core/Compatibility/Handlers/FlyoutPage/iOS/PhoneFlyoutPageRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/TabbedPage/iOS/TabbedRenderer.cs
  src/Controls/src/Core/ContentPage/ContentPage.Mapper.cs
  src/Controls/src/Core/FlyoutPage/FlyoutPage.Mapper.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/TabbedPage/TabbedPage.Mapper.cs
  src/Controls/src/Core/TabbedPage/TabbedPage.iOS.cs
  src/Core/src/Handlers/Page/PageHandler.cs
  src/Core/src/Handlers/Page/PageHandler.iOS.cs
  src/Core/src/Platform/iOS/IiOSPageSpecifics.cs
  src/Core/src/Platform/iOS/PageViewController.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: platform/iOS 🍎, community ✨, area/platform

#20238 [Windows] Reenabled ReturnsNonEmptyNativeBoundingBox tests
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBaseOfT.Tests.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.Windows.cs
Labels: platform/windows 🪟, area/testing, testing-reenable

#21759 [iOS] Allow compat iOS buttons to resize image and to respect spacing and padding
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18242_2.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18242_2.xaml.cs
  src/Controls/src/Core/Platform/iOS/Extensions/ButtonExtensions.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18242.cs
  src/Controls/tests/UITests/snapshots/ios/Issue18242Test.png
Labels: platform/iOS 🍎, partner/cat 😻, area/controls 🎮, control-button

#21753 Fix null reference exception in KeyboardAutoManagerScroll when UIWindow is null
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21726.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21726.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue21726.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
Labels: community ✨, area/keyboard, control-window

#22088 Bump $(MicrosoftMauiPreviousDotNetReleasedVersion) to 8.0.21 (#22066)
  eng/Versions.props
Labels: area/infrastructure 🏗️

#22040 [android] use Java primitive `boolean` for `UriImageSource`
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformInterop.java
  src/Core/src/ImageSources/UriImageSourceService/UriImageSourceService.Android.cs
  src/Core/src/maui.aar
Labels: platform/android 🤖, area/perf 🏎️

#22033 `Microsoft.Maui-dev.sln` contains an invalid path
  Microsoft.Maui-dev.sln
Labels: area/infrastructure 🏗️, community ✨, s/pr-needs-author-input

#22092 Enforce CA1853 performance analyzer
  src/Controls/src/Core/Handlers/Items/Android/Adapters/ItemsViewAdapter.cs
  src/Core/src/.editorconfig
  src/Core/src/VisualDiagnostics/VisualDiagnosticsOverlay.Windows.cs
Labels: community ✨

#22064 Improve error logging for failed resizetizering
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/SkiaSharpSvgTools.cs
  src/SingleProject/Resizetizer/test/UnitTests/MSBuildTaskFixture.cs
  src/SingleProject/Resizetizer/test/UnitTests/ResizetizeImagesTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/images/link_out.svg
Labels: area/single project ☝️
