Repository dotnet/maui, pull requests merged in 2024-08, with the labels that each got.

#23824 [Windows] Handle non-seekable streams in `PlatformImage.FromStream` (take 2)
  eng/NuGetVersions.targets
  eng/Versions.props
  src/Graphics/src/Graphics/Graphics.csproj
  src/Graphics/src/Graphics/Platforms/Windows/PlatformImage.cs
  src/Graphics/tests/Graphics.Tests/PlatformImageTests.cs
Labels: community ✨

#23655 [net8.0] Update net8.0 to Sonoma and iOS
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/common/maui-templates.yml
  eng/pipelines/common/provision.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/device-tests.yml
  eng/pipelines/handlers.yml
  eng/pipelines/ui-tests.yml
  src/Core/src/Platform/iOS/LabelExtensions.cs
  src/Essentials/src/Connectivity/Connectivity.ios.tvos.macos.reachability.cs
  src/Essentials/src/HapticFeedback/HapticFeedback.ios.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.ios.tvos.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/BuildWarningsUtilities.cs
Labels: area-infrastructure

#24021 Fixes Android FontModel Glide In-Memory Caching
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/font/FontModel.java
Labels: community ✨

#24031 Update Rebase GitHub Action
  .github/workflows/rebase.yml
Labels: t/housekeeping ♻︎, area-infrastructure

#23779 [Windows] Fix CarouselView not showing new items
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Windows.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/LoopableCollectionView.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/AddItemsToCarouselViewWorks.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue22417.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue22417.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22417.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/AddItemsToCarouselViewWorks.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/AddItemsToCarouselViewWorks.png
Labels: platform/windows 🪟, area-controls-collectionview

#23945 Added condition in WindowStateManager for selecting proper scene used
  src/Essentials/src/Platform/WindowStateManager.ios.cs
Labels: area-essentials, community ✨

#22168 [Android] Border Stroke gradient can only switch to another gradient - fix
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/BorderColorShouldChange.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue22042.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue22042.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22042.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/BorderColorShouldChange.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/BorderColorShouldChange.png
  src/Core/src/Graphics/MauiDrawable.Android.cs
Labels: platform/android 🤖, area-drawing, community ✨

#23787 Updating Maui templates to build unpackaged Windows apps by default
  src/Templates/src/templates/maui-blazor-solution/MauiApp.1/MauiApp.1.csproj
  src/Templates/src/templates/maui-blazor-solution/MauiApp.1/Properties/launchSettings.json
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-blazor/Properties/launchSettings.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/Properties/launchSettings.json
  src/Templates/src/templates/maui-multiproject/MauiApp.1.WinUI/MauiApp.1.WinUI.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1.WinUI/Properties/launchSettings.json
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/FileUtilities.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/WindowsTemplateTest.cs
Labels: area-templates

#22508 [Testing] Added a support for the device's theme change
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/AppThemeShouldChangeDarkTheme.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/AppThemeShouldChangeLightTheme.png
  src/Controls/tests/TestCases.HostApp/Issues/ThemeChange.xaml
  src/Controls/tests/TestCases.HostApp/Issues/ThemeChange.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ThemeChange.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/AppThemeShouldChangeDarkTheme.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/AppThemeShouldChangeLightTheme.png
  src/TestUtils/src/UITest.Appium/Actions/AppiumAndroidThemeChangeAction.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumIOSThemeChangeAction.cs
  src/TestUtils/src/UITest.Appium/AppiumAndroidApp.cs
  src/TestUtils/src/UITest.Appium/AppiumIOSApp.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-testing, community ✨

#23666 [android] use cached value for `GetDisplayDensity()`
  src/Core/src/Platform/Android/ContextExtensions.cs
Labels: platform/android 🤖, t/perf

#23685 [xaml] improve performance of `BindableProperty.TryConvert`
  src/Controls/src/Core/BindableProperty.cs
Labels: area-xaml, t/perf

#24114 Remove excessive StackLayout API docs
  src/Controls/docs/Microsoft.Maui.Controls/StackLayout.xml
  src/Controls/src/Core/Layout/StackLayout.cs
Labels: area-docs, t/housekeeping ♻︎

#24095 Add shared project for multi-project template when generated in Visual Studio
  src/Templates/src/templates/maui-multiproject/.template.config/template.json
Labels: area-templates

#24125 Ensure border stroke only updates when needed
  src/Controls/src/Core/Border/Border.cs
Labels: area-controls-border

#24126 Remove instances of '#if NET6_0_OR_GREATER'
  src/Compatibility/Core.LegacyRenderers/Android/Cells/CellAdapter.cs
  src/Controls/samples/Controls.Sample/MauiProgram.cs
  src/Controls/samples/Controls.Sample/Pages/Blazor/BlazorPage.xaml.cs
  src/Controls/samples/Controls.Sample/ViewModels/MainViewModel.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/CellAdapter.cs
  src/Controls/src/Core/Interactivity/PlatformBehavior.cs
  src/Controls/tests/DeviceTests/Elements/PlatformBehaviorTests.cs
Labels: area-infrastructure

#23965 [Windows] Allow setting `PlatformCanvas.Antialias`
  src/Graphics/src/Graphics/Platforms/Windows/PlatformCanvas.cs
Labels: community ✨

#24138 [Android] App crash when text exceeds Entry MaxLength
  src/Controls/src/Core/Platform/Android/Extensions/EditTextExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.Android.cs
Labels: community ✨

#24137 Add new Blazor Hybrid Solution template to CODEOWNERS
  .github/CODEOWNERS
Labels: t/housekeeping ♻︎, area-infrastructure

#24135 Remove MAUI styling from Blazor Hybrid template
  src/Templates/src/templates/maui-blazor/App.xaml
Labels: area-templates

#24124 Correct "can not" to "cannot" in messages, comments, etc.
  loc/cs/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/de/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/es/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/fr/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/it/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/ja/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/ko/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/pl/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/pt-BR/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/ru/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/tr/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/zh-Hans/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/zh-Hant/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue6929.cs
  src/Compatibility/Core/src/Tizen/Renderers/VisualElementRenderer.cs
  src/Compatibility/Core/src/WPF/Microsoft.Windows.Shell/Standard/Verify.cs
  src/Compatibility/Core/src/Windows/NativeEventWrapper.cs
  src/Compatibility/Core/src/iOS/Renderers/SwipeViewRenderer.cs
  src/Controls/docs/Microsoft.Maui.Controls/BindingBase.xml
  src/Controls/src/Build.Tasks/ErrorMessages.Designer.cs
  src/Controls/src/Build.Tasks/ErrorMessages.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.cs.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.de.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.es.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.fr.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.it.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.ja.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.ko.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.pl.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.pt-BR.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.ru.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.tr.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.zh-Hans.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.zh-Hant.xlf
  src/Controls/src/Xaml/ApplyPropertiesVisitor.cs
  src/Controls/src/Xaml/MarkupExtensions/ReferenceExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/StyleSheetExtension.cs
  src/Controls/tests/Core.UnitTests/BindingUnitTests.cs
  src/Controls/tests/Core.UnitTests/TypedBindingUnitTests.cs
  src/Core/src/Handlers/SwipeItemMenuItem/SwipeItemMenuItemHandler.iOS.cs
  src/Core/src/VisualDiagnostics/BootstrapHelper.cs
  src/Essentials/src/Battery/Battery.shared.cs
  src/Essentials/src/Platform/ActivityStateManager.android.cs
  src/Essentials/src/Platform/WindowStateManager.ios.cs
  src/Essentials/src/Platform/WindowStateManager.uwp.cs
Labels: area-xaml

#24103 [ci] Simplify shipping drop metadata names
  eng/pipelines/common/sdk-insertion.yml
Labels: area-infrastructure

#24167 Move EnsureSupportForCustomWebViewClients to Appium
  src/Controls/tests/TestCases.HostApp/Issues/Issue16032.cs
  src/Controls/tests/TestCases.HostApp/Resources/Raw/extracontent.html
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue16032.cs
  src/Core/tests/DeviceTests/Handlers/WebView/WebViewHandlerTests.Android.cs
Labels: area-testing

#24176 [Windows] Fix memory leak w/ main window
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.Windows.cs
  src/Core/src/Platform/Windows/MauiWinUIWindow.cs
Labels: platform/windows 🪟, memory-leak 💦

#20173 Fix Shell.NavBarIsVisible property
  src/Controls/src/Core/Internals/PropertyPropagationExtensions.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Issue18948.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Issue18948.xaml.cs
Labels: area-xaml, area-controls-shell

#24018 [Accessibility] Make flyout titles on iOS read as buttons
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/UIContainerCell.cs
Labels: platform/iOS 🍎, t/a11y

#24130 Add xUnit types to avoid first-chance exceptions in tests
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
  src/TestUtils/src/DeviceTests/xUnitCustomizations.cs
  src/TestUtils/src/TestShared/xUnitSharedAttributes.cs
  src/TestUtils/src/TestUtils/TestUtils.csproj
  src/TestUtils/src/TestUtils/xUnitCustomizations.cs
Labels: area-testing

#16704 Fixed scroll to group item on Android + Windows
  src/Controls/src/Core/Handlers/Items/Android/MauiRecyclerView.cs
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.Windows.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: t/bug, platform/windows 🪟, platform/android 🤖, area-controls-collectionview, stale

#24199 Blazor Hybrid Template Remove reference to removed styling
  src/Templates/src/templates/maui-blazor/MainPage.xaml
Labels: area-templates

#24220 [ci] Use passwordless auth for darc/maestro
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/sdk-insertion.yml
Labels: area-infrastructure

#21330 [Testing] Added specific actions by platform
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18740.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19509.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumAndroidSpecificActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumDeviceActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumIOSSpecificActions.cs
  src/TestUtils/src/UITest.Appium/AppiumAndroidApp.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Appium/AppiumIOSApp.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: t/housekeeping ♻︎, area-testing

#20542 [Testing] Added UITest to validate the Switch OnColor property
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SwitchTrackColorTest.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue20535.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue20535.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20535.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SwitchTrackColorTest.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SwitchTrackColorTest.png
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
Labels: area-testing, area-controls-switch, testing-flakiness

#24222 [android] call `PlatformContentViewGroup.postInvalidate()` less
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformContentViewGroup.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformWrapperView.java
  src/Core/src/maui.aar
Labels: platform/android 🤖, t/perf

#23076 NavigationBar properties not updating - fix
  src/Controls/src/Core/NavigationPage/NavigationPageToolbar.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue22899Test.png
  src/Controls/tests/TestCases.HostApp/Issues/Issues22899.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issues22899.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22899.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue22899Test.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue22899Test.png
Labels: area-navigation, community ✨

#22809 Adopt chromium methodology for determining tablet on Windows
  src/Essentials/src/DeviceInfo/DeviceInfo.uwp.cs
Labels: community ✨, area-controls-window

#23769 HybridWebView: Invoke JS methods from .NET
  src/Controls/samples/Controls.Sample/Pages/Controls/HybridWebViewPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/HybridWebViewPage.xaml.cs
  src/Controls/samples/Controls.Sample/Resources/Raw/HybridSamplePage/asyncdata.txt
  src/Controls/samples/Controls.Sample/Resources/Raw/HybridSamplePage/index.html
  src/Controls/samples/Controls.Sample/Resources/Raw/HybridSamplePage/scripts/HybridWebView.js
  src/Controls/src/Core/HybridWebView/HybridWebView.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/WebView/WebView.cs
  src/Controls/tests/DeviceTests/Elements/HybridWebView/HybridWebViewTests.cs
  src/Controls/tests/DeviceTests/Resources/Raw/HybridTestRoot/asyncdata.txt
  src/Controls/tests/DeviceTests/Resources/Raw/HybridTestRoot/index.html
  src/Controls/tests/DeviceTests/Resources/Raw/HybridTestRoot/scripts/HybridWebView.js
  src/Core/src/Core/IHybridWebView.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.Android.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.Standard.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.Tizen.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.Windows.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.iOS.cs
  src/Core/src/Platform/Windows/MauiHybridWebView.cs
  src/Core/src/Primitives/HybridWebViewRawMessage.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: area-controls-hybridwebview

#24248 [android] cache `Join` and `Cap` enum values
  src/Core/src/Graphics/MauiDrawable.Android.cs
Labels: platform/android 🤖, t/perf

#24267 [android] improve performance of `StrokeExtensions`
  src/Core/src/Platform/Android/StrokeExtensions.cs
Labels: platform/android 🤖, t/perf

#19921 [Windows] Fix crash using ScrollTo on CollectionView
  src/Controls/src/Core/Platform/Windows/CollectionView/ScrollHelpers.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue17865.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue17865.xaml.cs
  src/Controls/tests/TestCases.HostApp/MauiProgram.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17865.cs
Labels: t/bug, platform/windows 🪟, area-controls-collectionview

#21714 [Android] Removing TapGestureRecognizer with at least 2 taps causes Exception - fix
  src/Controls/src/Core/Platform/Android/InnerGestureListener.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue21437.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue21437.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21437.cs
Labels: platform/android 🤖, community ✨, area-gestures

#23474 [Windows] Make `WebView.CaptureAsync()` work
  Microsoft.Maui-windows.slnf
  src/Controls/tests/TestCases.HostApp/Issues/Issue14825.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue14825.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue14825.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ValidateWebViewScreenshot.png
  src/Essentials/src/Screenshot/Screenshot.uwp.cs
Labels: community ✨

#24281 [Windows] Optimize `WrapperView`
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: community ✨

#24033 Add Android LoadImageFromFont benchmark and enable verbose Glide logging
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/GlideLogging.java
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/glide/MauiGlideModule.java
  src/Core/src/Core.csproj
  src/Core/tests/Benchmarks.Droid/Benchmarks.Droid.csproj
  src/Core/tests/Benchmarks.Droid/ImageBenchmarks.cs
Labels: community ✨

#24247 Backport maestro and artifact drop infra improvements from net9.0
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/sdk-insertion.yml
  eng/pipelines/common/sign.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/maui-release.yml
  src/Workload/Shared/Maestro.targets
Labels: area-infrastructure

#24288 [Android] Add test for scroll without group
  src/Controls/src/Core/Handlers/Items/Android/MauiRecyclerView.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: platform/android 🤖, i/regression

#24334 Optimize UI Tests build time in CI by only building TestCases.HostApp
  eng/cake/dotnet.cake
  eng/pipelines/common/ui-tests-build-sample.yml
Labels: t/housekeeping ♻︎, area-infrastructure

#17665 Wrap Image with a container on Windows so that it is centered with AspectFill
  src/Controls/tests/TestCases.HostApp/Issues/Issue10645.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue10645.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue10645Test.png
  src/Core/src/Handlers/Image/ImageHandler.Windows.cs
  src/Core/src/Handlers/Image/ImageHandler.cs
  src/Core/src/Platform/Windows/ImageViewExtensions.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: platform/windows 🪟, area-controls-image

#23810 [Binding SG] Enable usage of private fields and properties in SetBinding path
  src/Controls/src/BindingSourceGen/AccessExpressionBuilder.cs
  src/Controls/src/BindingSourceGen/BindingCodeWriter.cs
  src/Controls/src/BindingSourceGen/GeneratorDataModels.cs
  src/Controls/src/BindingSourceGen/PathParser.cs
  src/Controls/src/BindingSourceGen/Setter.cs
  src/Controls/src/BindingSourceGen/UnsafeAccessorsMethodName.cs
  src/Controls/tests/BindingSourceGen.UnitTests/AccessExpressionBuilderTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/BindingRepresentationGenTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/DiagnosticsTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/IntegrationTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/SetterBuilderTests.cs
Labels: area-xaml

#22573 [Android] Allow custom background drawable with a custom handler
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SettingDatePickerBackgroundFromHandler.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SettingEditorBackgroundFromHandler.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SettingEntryBackgroundFromHandler.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SettingTimePickerBackgroundFromHandler.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue18720.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue18720.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue18720DatePicker.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue18720DatePicker.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue18720Editor.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue18720Editor.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue18720TimePicker.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue18720TimePicker.xaml.cs
  src/Controls/tests/TestCases.HostApp/MauiProgram.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18720.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18720DatePicker.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18720Editor.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18720TimePicker.cs
  src/Core/src/Platform/Android/MauiLayerDrawable.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
Labels: t/bug, platform/android 🤖, area-controls-entry, area-controls-datetimepicker, area-controls-editor

#24348 [net9.0] Update sdk and aspnet rc1
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#24063 [Windows] Fix Span Foreground property
  src/Controls/src/Core/Platform/Windows/Extensions/FormattedStringExtensions.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/LabelHyperlinkUnderlineColor.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue23488.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue23488.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23488.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LabelHyperlinkUnderlineColor.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/LabelHyperlinkUnderlineColor.png
Labels: community ✨

#24371 [net9.0] Update packages rc1
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/SetupNugetSources.ps1
  eng/common/SetupNugetSources.sh
  global.json
Labels: area-infrastructure

#23617 Remove non-functioning code and instead throw a more helpful platform-not-supported error
  src/Essentials/src/WebAuthenticator/WebAuthenticator.shared.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.uwp.cs
  src/Essentials/test/DeviceTests/Tests/WebAuthenticator_Tests.cs
Labels: community ✨

#24064 [Android] Fix for Entry SelectionLength
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/EntrySelectionLengthRuntimeUpdate.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue18443.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue18443.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18443.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
Labels: community ✨

#24294 [Testing] moved FlyoutHeaderAdaptsToMinimumHeight to appium
  src/Controls/tests/DeviceTests/Elements/Shell/ShellFlyoutTests.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue24284.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24284.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24284.cs
Labels: community ✨, testing-green-ci

#24212 Fixed FlyoutItemIsVisible is not working with bindings
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue24203.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24203.xaml.cs
Labels: community ✨

#20505 [iOS] Readonly Editor - Scrolling fix
  src/Controls/tests/TestCases.HostApp/Issues/Issue19500.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19500.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18675.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19500.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/TextInEditorShouldScroll.png
  src/Core/src/Platform/iOS/TextViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Editor/EditorHandlerTests.iOS.cs
Labels: platform/iOS 🍎, community ✨, area-controls-editor

#24408 Use older JS API for HybridWebView test code and wait longer for web view to be ready
  src/Controls/tests/DeviceTests/Elements/HybridWebView/HybridWebViewTests.cs
Labels: area-controls-hybridwebview

#24376 Add support for `TextAlignment.Justify` - fix
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml
  src/Core/src/Platform/Android/TextAlignmentExtensions.cs
  src/Core/src/Platform/Android/TextViewExtensions.cs
  src/Core/src/Platform/Windows/AlignmentExtensions.cs
  src/Core/src/Platform/Windows/TextAlignmentToHorizontalAlignmentConverter.cs
  src/Core/src/Platform/iOS/TextAlignmentExtensions.cs
  src/Core/src/Primitives/TextAlignment.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: community ✨

#24445 [net9.0] Android RC 1 build, with feeds
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#24205 Fixed the CollectionView GroupFooterTemplate crashes the application
  src/Controls/src/Core/Platform/Windows/CollectionView/GroupTemplateContext.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue18702.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18702.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/CollectionViewGroupFooterTemplateShouldNotCrash.png
Labels: platform/windows 🪟, community ✨

#24196 [Windows] Fix Entry clear button is not taking the color of the text.
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/EntryClearButtonColorShouldMatchTextColor.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue19152.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19152.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19152.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/EntryClearButtonColorShouldMatchTextColor.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/EntryClearButtonColorShouldMatchTextColor.png
  src/Core/src/Platform/Windows/TextBoxExtensions.cs
Labels: community ✨

#24460 [net9.0] Move packages to rc2
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#24128 [net9.0] Fix API23 Core device tests
  eng/devices/android.cake
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/Services/ImageSource/StreamImageSourceServiceTests.Android.cs
Labels: testing-green-ci

#22487 [iOS] Bugfix/22469 ios label crash
  src/Controls/src/Core/Platform/iOS/Extensions/FormattedStringExtensions.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue22469.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22469.cs
Labels: community ✨, area-controls-label

#24453 [resizetizer] fix a build performance issue
  src/SingleProject/Resizetizer/src/nuget/buildTransitive/Microsoft.Maui.Resizetizer.After.targets
Labels: area-single-project

#24427 Remove excessive Application API docs
  src/Controls/docs/Microsoft.Maui.Controls/Application.xml
Labels: area-docs, t/housekeeping ♻︎

#24473 [net9.0] Update net9 arcade bits
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/core-templates/job/job.yml
  eng/common/internal/Tools.csproj
  eng/common/templates-official/job/job.yml
  eng/common/templates/job/job.yml
  global.json
Labels: area-infrastructure

#24461 [Android] Fix item fading when moving between groups in Grouped CollectionView
  src/Controls/src/Core/Handlers/Items/Android/ItemsSources/ObservableItemsSource.cs
Labels: area-controls-collectionview, community ✨

#24462 [Binding SG] Refactor data models
  src/Controls/src/BindingSourceGen/BindingInvocationDescription.cs
  src/Controls/src/BindingSourceGen/BindingSourceGenerator.cs
  src/Controls/src/BindingSourceGen/BindingSourceGeneratorUtilities.cs
  src/Controls/src/BindingSourceGen/GeneratorDataModels.cs
  src/Controls/src/BindingSourceGen/ITypeSymbolExtensions.cs
  src/Controls/src/BindingSourceGen/PathParser.cs
  src/Controls/src/BindingSourceGen/PathPart.cs
  src/Controls/src/BindingSourceGen/Result.cs
Labels: area-xaml

#23052 Make `MeasureInvalidated` event work correctly
  src/Controls/src/Core/LegacyLayouts/Layout.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/tests/TestCases.HostApp/Elements/CollectionView/CollectionViewCoreGalleryPage.cs
Labels: community ✨, area-controls-general

#24431 [Android] Fix for the CarouselView doesn't scroll to the right Position after changing the ItemSource with Loop enabled.
  src/Controls/src/Core/Handlers/Items/Android/MauiCarouselRecyclerView.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CarouselViewShouldScrollToRightPosition.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue17283.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue17283.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17283.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CarouselViewShouldScrollToRightPosition.png
Labels: area-controls-collectionview, community ✨

#24477 Remove code from iOS that short circuits propagation
  src/Controls/src/Core/Compatibility/Handlers/iOS/FrameRenderer.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue24434.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24434.cs
  src/Core/src/Platform/iOS/LayoutView.cs
  src/Core/src/Platform/iOS/MauiView.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/src/Platform/iOS/WrapperView.cs
Labels: area-navigation

#24494 [Testing]Changed Scroll to 12, added comment
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Github5623.cs
Labels: area-testing

#24528 Add changed iOS Button Screenshot
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage4.png
Labels: platform/iOS 🍎, area-testing

#24195 Fix for FlexLayout padding issue
  src/Controls/tests/Core.UnitTests/Layouts/FlexLayoutTests.cs
  src/Core/src/Layouts/FlexLayoutManager.cs
Labels: area-layout, community ✨

#23850 [Android] SecureStorage: Rework logic to delete shared prefs when key is corrupt
  src/Essentials/src/SecureStorage/SecureStorage.android.cs
Labels: area-essentials

#24161 894511 : Shell Tab is still visible after set Tab.IsVisible to false
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellItemRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellItemRenderer.cs
  src/Controls/src/Core/Handlers/Shell/ShellItemHandler.Windows.cs
  src/Controls/src/Core/Shell/ShellItem.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ShellTabItemsShouldUpdateForDynamicChangesInVisibility.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue8788.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue8788.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8788.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ShellTabItemsShouldUpdateForDynamicChangesInVisibility.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ShellTabItemsShouldUpdateForDynamicChangesInVisibility.png
Labels: area-controls-shell, community ✨
