Repository dotnet/maui, pull requests merged in 2024-09, with the labels that each got.

#24549 Show number of filtered tests in DeviceTests UI
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/Pages/TestAssemblyPage.xaml
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/ViewModels/TestAssemblyViewModel.cs
Labels: area-testing

#24325 Fix "Grey" cannot be used to set Background property
  src/Controls/src/Core/Brush/Brush.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyGreyShades.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue21325.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue21325.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21325.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyGreyShades.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyGreyShades.png
Labels: community ✨

#24328 [Windows] Upgrade Windows App SDK from 1.5.5 to 1.5.6
  eng/Versions.props
Labels: area-infrastructure, community ✨

#24513 [X] do not look for parent DataType on collections
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/src/Xaml/XamlServiceProvider.cs
  src/Controls/tests/Xaml.UnitTests/Controls.Xaml.UnitTests.csproj
  src/Controls/tests/Xaml.UnitTests/Issues/Maui23989.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui23989.xaml.cs
Labels: area-xaml

#23909 Always return Granted for Read-Write Storage permissions on Android
  src/Essentials/src/Permissions/Permissions.android.cs
  src/Essentials/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Essentials/test/DeviceTests/Tests/Permissions_Tests.cs
Labels: area-essentials

#24415 Fix shadow consistency on Android and iOS
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue24414Test.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ShadowsDontRespectControlShape.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue24414.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24414.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24414.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue24414Test.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue17366Test.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue24414Test.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ShadowsDontRespectControlShape.png
  src/Core/src/Core/IShadow.cs
  src/Core/src/Platform/Android/WrapperView.cs
  src/Core/src/Platform/iOS/ShadowExtensions.cs
Labels: area-drawing, community ✨

#24559 [Android & iOS] dialog theme change on changing UserAppTheme
  src/Controls/src/Core/Application/Application.cs
  src/Core/src/Handlers/Application/ApplicationHandler.Android.cs
  src/Core/src/Handlers/Application/ApplicationHandler.cs
  src/Core/src/Handlers/Application/ApplicationHandler.iOS.cs
Labels: platform/android 🤖, platform/iOS 🍎, community ✨, area-theme

#24290 RefreshView IsEnabled enhancements
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/RefreshView/RefreshView.cs
  src/Controls/tests/Core.UnitTests/RefreshViewTests.cs
Labels: platform/android 🤖, platform/iOS 🍎, community ✨, area-controls-refreshview

#24165 UI testing doc changes
  docs/assets/FailedTestScreenshot.png
  docs/assets/SnapshotsFolder.png
  docs/assets/VerifyScreenshotsPart1.png
  docs/assets/VerifyScreenshotsPart2.png
  docs/assets/VerifyScreenshotsPart3.png
  docs/assets/VerifyScreenshotsPart4.png
  docs/assets/VerifyScreenshotsPart5.png
  docs/design/UITesting.md
Labels: area-docs

#16573 Null guard in `ShellFlyoutTemplatedContentRenderer.HeaderContainer.UpdateMinimumHeight`
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutTemplatedContentRenderer.cs
Labels: area-controls-shell, community ✨, stale

#24553 Avoid recomputing bindings multiple times and bind BindingContext first
  src/Controls/src/Core/BindableObject.cs
  src/Controls/src/Core/Element/Element.cs
  src/Controls/tests/Core.UnitTests/BindingUnitTests.cs
  src/Core/tests/Benchmarks/Benchmarks/ElementBenchmarker.cs
Labels: area-xaml, community ✨

#24495 Improve Android device type check and improve UI Test cake scripts
  eng/devices/android.cake
  eng/devices/devices-shared.cake
  eng/devices/ios.cake
  src/Controls/tests/TestCases.Shared.Tests/UITest.cs
Labels: area-testing

#23136 Improve performance and stability of `BindableLayout`
  src/Controls/src/Core/BindableLayout/BindableLayout.cs
  src/Controls/tests/Core.UnitTests/BindableLayoutTests.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: area-layout, community ✨

#23602 [net9.0][Enhancement] FontImageSource defaults and style
  src/Controls/src/Core/ImageSource.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue13474Test.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue13474.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue13474.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue13474.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue13474Test.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue13474Test.png
  src/Controls/tests/Xaml.UnitTests/Issues/Maui13474.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui13474.xaml.cs
Labels: proposal/open, do-not-merge, area-fonts, community ✨

#24360 Fix border lagging and unwanted animations on iOS
  src/Compatibility/Core/src/MacOS/Extensions/BrushExtensions.cs
  src/Compatibility/Core/src/iOS/VisualElementTracker.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutLayoutManager.cs
  src/Controls/src/Core/Platform/iOS/Extensions/BrushExtensions.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue18204.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue18204.xaml.cs
  src/Core/src/Graphics/PaintExtensions.iOS.cs
  src/Core/src/Handlers/Border/BorderHandler.iOS.cs
  src/Core/src/Platform/iOS/ContentView.cs
  src/Core/src/Platform/iOS/MauiCALayer.cs
  src/Core/src/Platform/iOS/StaticCAGradientLayer.cs
  src/Core/src/Platform/iOS/StaticCALayer.cs
  src/Core/src/Platform/iOS/StaticCAShapeLayer.cs
  src/Core/src/Platform/iOS/StrokeExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/src/Platform/iOS/WrapperView.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: area-drawing, community ✨

#24561 [Android] invalidate shadows on parent's size change
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ShadowShouldUpdate.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue24034.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue24034.xaml
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24034.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ShadowShouldUpdate.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ShadowShouldUpdate.png
  src/Core/src/Platform/Android/WrapperView.cs
Labels: platform/android 🤖, area-drawing, platform/iOS 🍎, community ✨

#24488 Remove netPrevious TFMs from RC/GA
  Directory.Build.props
  src/BlazorWebView/samples/MauiRazorClassLibrarySample/MauiRazorClassLibrarySample.csproj
  src/BlazorWebView/src/Maui/Microsoft.AspNetCore.Components.WebView.Maui.csproj
  src/Compatibility/Core/src/Compatibility.csproj
  src/Controls/Foldable/src/Controls.Foldable.csproj
  src/Controls/Maps/src/Controls.Maps.csproj
  src/Controls/samples/Controls.Sample.Sandbox/Maui.Controls.Sample.Sandbox.csproj
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/src/Core/Controls.Core.csproj
  src/Controls/src/NuGet/Controls.NuGet.csproj
  src/Controls/src/Xaml/Controls.Xaml.csproj
  src/Controls/tests/TestCases.HostApp/Controls.TestCases.HostApp.csproj
  src/Core/maps/src/Maps.csproj
  src/Core/src/Core.csproj
  src/Essentials/samples/Samples/Essentials.Sample.csproj
  src/Essentials/src/Essentials.csproj
  src/Graphics/src/Graphics.Skia/Graphics.Skia.csproj
  src/Graphics/src/Graphics.Win2D/Graphics.Win2D.csproj
  src/Graphics/src/Graphics/Graphics.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/SimpleTemplateTest.cs
Labels: area-infrastructure

#24629 Re-able the Localization steps and add new credentials
  eng/pipelines/common/localization-handback.yml
  eng/pipelines/common/localization-handoff.yml
  eng/pipelines/handlers.yml
Labels: area-localization

#24658 [Android] Failed to inflate ColorStateList - error fix for CheckBox
  src/Core/src/Platform/Android/Resources/values/styles.xml
Labels: platform/android 🤖, community ✨, area-controls-checkbox

#24647 Trigger InvalidateMeasure event on CollectionView when content size changes (iOS)
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: community ✨

#21998 Changed order of calls to properly close MediaPicker Activity / ViewController and set the picker result
  src/Essentials/src/MediaPicker/MediaPicker.ios.cs
  src/Essentials/src/Platform/IntermediateActivity.android.cs
Labels: platform/android 🤖, platform/iOS 🍎, area-essentials, community ✨

#24646 Update TriageProcess.md
  docs/TriageProcess.md
Labels: community ✨

#23442 [iOS] SwipeView: Fix reenabling parent scrolling after cancelled swipe
  src/Core/src/Platform/iOS/MauiSwipeView.cs
Labels: community ✨, area-controls-swipeview

#24585 [Testing] Split off HandlerDoesNotLeak.DatePicker into its own UI test
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue22972.cs
  src/Controls/tests/TestCases.HostApp/Issues/MemoryTests.cs
  src/Controls/tests/TestCases.HostApp/Utils/GarbageCollectionHelper.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22972.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/MemoryTests.cs
Labels: area-testing

#24207 Editor completed event is not triggered properly when unfocused
  src/Controls/tests/TestCases.HostApp/Issues/Issue9796.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue9796.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue9796.cs
  src/Core/src/Handlers/Editor/EditorHandler.Android.cs
Labels: community ✨, area-controls-entry, s/pr-needs-author-input, area-controls-editor

#24679 Fix HybridWebView browser dev tools on iOS/MacCat
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.iOS.cs
Labels: area-controls-hybridwebview

#24493 [xamlc] return early in `NodeILExtensions` for `ValidateOnly`
  src/Controls/src/Build.Tasks/ILContext.cs
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Build.Tasks/XamlCTask.cs
Labels: area-xaml

#24543 Fix for the Nested Entry View In A Frame Causes Crash
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue15196.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue15196.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue15196.cs
Labels: community ✨, area-controls-entry

#24564 [iOS] Fix for CollectionView single item horizontal alignment issue when using ItemsLayout with a Footer.
  src/Controls/src/Core/Handlers/Items/iOS/GridViewLayout.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CollectionViewSingleItemAlignmentWithFooter.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue21728.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue21728.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21728.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/CollectionViewSingleItemAlignmentWithFooter.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CollectionViewSingleItemAlignmentWithFooter.png
Labels: platform/iOS 🍎, area-controls-collectionview, community ✨

#24699 Ensure disconnected ItemsViewHandler doesn't hold onto the items source
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Windows.cs
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.Windows.cs
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.iOS.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/tests/DeviceTests/Elements/CarouselView/CarouselViewTests.cs
Labels: area-controls-collectionview

#24567 [IOS] - Fix error when running new template maui app on iOS
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellItemRenderer.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/NavigationBetweenFlyoutItems.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue22452.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue22452.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22452.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/NavigationBetweenFlyoutItems.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/NavigationBetweenFlyoutItems.png
Labels: area-controls-shell, community ✨

#24700 Clear out prototype cell when changing ItemSource
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ListViewRenderer.cs
  src/Controls/tests/DeviceTests/Elements/ListView/ListViewTests.cs
Labels: area-controls-listview

#24693 Revert "[X] do not apply Bindings if DataType doesnt match (#22056)"
  src/Controls/src/Core/Binding.cs
  src/Controls/src/Core/IXamlDataTypeProvider.cs
  src/Controls/src/Xaml/MarkupExtensions/BindingExtension.cs
  src/Controls/src/Xaml/XamlServiceProvider.cs
  src/Controls/tests/Xaml.UnitTests/BindingsCompiler.xaml.cs
Labels: area-xaml

#24688 [C] Add ImageSource as LogicalChildren of MenuItem
  src/Controls/src/Core/Menu/MenuItem.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui20508.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui20508.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui23201.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui23201.xaml.cs
Labels: area-xaml

#24760 Add Padding for iOS Buttons in some scenarios
  src/Controls/src/Core/Button/Button.iOS.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ButtonPaddingIsAddedWhenNeeded.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue24746.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24746.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24746.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ButtonPaddingIsAddedWhenNeeded.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonPaddingIsAddedWhenNeeded.png
Labels: platform/iOS 🍎, area-controls-button

#24589 Improve keyboard scrolling with editors, contentInsets, and different keyboards
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214_2.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214_2.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214_3.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214_3.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue22715.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue22715.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue24496.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24496.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214_2.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214_3.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19956.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22715.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24496.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrolling.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/PageShouldNotScroll.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/PickerNewKeyboardIsAboveKeyboard_Entry7.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/PickerNewKeyboardIsAboveKeyboard_Picker6.png
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
  src/Core/src/Platform/iOS/MauiView.cs
Labels: platform/iOS 🍎, area-controls-entry, area-controls-scrollview, area-keyboard

#22437 [iOS] Tab Selected Icon Color not changing if using Font icons - fix
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SelectedTabIconShouldChangeColor.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue22032.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue22032.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22032.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SelectedTabIconShouldChangeColor.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SelectedTabIconShouldChangeColor.png
  src/Core/src/ImageSources/iOS/ImageSourceExtensions.cs
Labels: platform/iOS 🍎, area-controls-shell, area-controls-tabbedpage, community ✨

#24845 [net9.0] Update versions on public rc2
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/device-tests.yml
Labels: area-infrastructure

#24762 Adds a rendering performance test
  src/Controls/tests/TestCases.HostApp/Issues/RenderingPerformance.xaml
  src/Controls/tests/TestCases.HostApp/Issues/RenderingPerformance.xaml.cs
  src/Controls/tests/TestCases.HostApp/MauiProgram.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/RenderingPerformance.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-layout, area-testing, community ✨

#24756 [xaml] fix potential NRE in `{Binding}`
  src/Controls/src/Xaml/MarkupExtensions/BindingExtension.cs
  src/Controls/tests/Xaml.UnitTests/BindingExtensionTests.cs
Labels: area-xaml

#24479 Move HybridWebView platform code to handlers
  src/Controls/src/Core/HybridWebView/HybridWebView.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/WebView/WebView.cs
  src/Core/src/Core.csproj
  src/Core/src/Core/IHybridWebView.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.Android.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.Windows.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.iOS.cs
  src/Core/src/Handlers/HybridWebView/IHybridWebViewTaskManager.cs
  src/Core/src/Primitives/HybridWebViewInvokeJavaScriptRequest.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: area-controls-hybridwebview

#24870 [net8.0] Merge main to net8.0
  .config/dotnet-tools.json
  .github/ISSUE_TEMPLATE/bug-report.yml
  eng/Version.Details.xml
  eng/Versions.props
  eng/devices/android.cake
  eng/pipelines/device-tests.yml
  eng/pipelines/ui-tests.yml
  src/Controls/src/Core/Button/Button.iOS.cs
  src/Controls/src/Core/Menu/MenuItem.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ButtonPaddingIsAddedWhenNeeded.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SelectedTabIconShouldChangeColor.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214_2.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214_2.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214_3.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19214_3.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue22032.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue22032.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue22715.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue22715.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue24496.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24496.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue24746.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24746.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/RenderingPerformance.xaml
  src/Controls/tests/TestCases.HostApp/Issues/RenderingPerformance.xaml.cs
  src/Controls/tests/TestCases.HostApp/MauiProgram.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214_2.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214_3.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19956.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22032.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22715.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24496.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24746.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/RenderingPerformance.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrolling.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ButtonPaddingIsAddedWhenNeeded.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SelectedTabIconShouldChangeColor.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonPaddingIsAddedWhenNeeded.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/PageShouldNotScroll.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/PickerNewKeyboardIsAboveKeyboard_Entry7.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/PickerNewKeyboardIsAboveKeyboard_Picker6.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SelectedTabIconShouldChangeColor.png
  src/Controls/tests/Xaml.UnitTests/Issues/Maui20508.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui20508.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui23201.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui23201.xaml.cs
  src/Core/src/ImageSources/iOS/ImageSourceExtensions.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
  src/Core/src/Platform/iOS/MauiTextView.cs
  src/Core/src/Platform/iOS/MauiView.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-infrastructure

#24781 Fixed NavigationPage Title property
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/NavigationPage/NavigationPageToolbar.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/NavigationPageTitle.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue19859.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19859.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19859.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/NavigationPageTitle.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/NavigationPageTitle.png
Labels: area-navigation, platform/iOS 🍎, community ✨

#24780 Avoid throwing in async void when applying relative source bindings
  src/Controls/src/Core/Binding.cs
  src/Controls/src/Core/TypedBinding.cs
Labels: area-xaml

#24806 Fix ShellContent Title doesn't observe changes to bound properties
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellSectionRenderer.cs
  src/Controls/src/Core/Handlers/Shell/ShellContentHandler.Windows.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ChangeShellContentTitle.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue7453.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue7453.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue7453.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ChangeShellContentTitle.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ChangeShellContentTitle.png
Labels: community ✨

#24911 [housekeeping] Remove similar issues workflow
  .github/workflows/similarIssues.yml
Labels: t/housekeeping ♻︎

#24530 [X] Ignore Parent DataType on collection
  src/Controls/src/Xaml/XamlServiceProvider.cs
  src/Controls/tests/Xaml.UnitTests/Controls.Xaml.UnitTests.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/BuildWarningsUtilities.cs
Labels: area-xaml

#24665 Android Ecosystem updates for `net9.0-rc.2`
  eng/AndroidX.targets
  eng/Versions.props
  src/Compatibility/Android.AppLinks/src/Compatibility.Android.AppLinks.csproj
  src/Compatibility/ControlGallery/src/Android/Compatibility.ControlGallery.Android.csproj
  src/Compatibility/ControlGallery/src/EmbeddingTestBeds/Embedding.Droid/Directory.Build.targets
  src/Compatibility/Maps/src/Android/Compatibility.Maps.Android.csproj
  src/Compatibility/Material/src/Android/Compatibility.Material.Android.csproj
  src/Controls/Foldable/src/Controls.Foldable.csproj
  src/Core/maps/src/Handlers/Map/MapHandler.Android.cs
  src/Core/src/Core.csproj
  src/Essentials/src/Essentials.csproj
Labels: do-not-merge, area-infrastructure

#24582 Fix Frame offsets inner content view by 1pt
  src/Controls/src/Core/Frame/Frame.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ValidateFrameOffsets.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue23333.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue23333.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23333.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ValidateFrameOffsets.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue17366Test.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ValidateFrameOffsets.png
Labels: community ✨, area-controls-frame, s/pr-needs-author-input

#24782 Fix Provided consistent behavior of text color in tabbed page in all platforms.
  src/Controls/src/Core/Compatibility/Handlers/TabbedPage/iOS/TabbedRenderer.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/TabbedPageUnselectedBarTextColorConsistency.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue18775.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue18775.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18775.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/TabbedPageUnselectedBarTextColorConsistency.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/TabbedPageUnselectedBarTextColorConsistency.png
Labels: area-controls-tabbedpage, community ✨

#24946 [Localization] Change OneLoc branch to 'lego'
  eng/pipelines/common/variables.yml
Labels: area-localization

#24873 [iOS] Fix for the CollectionView to prevent duplicate groups or crashes when adding a new item to a group or when adding a new group.
  src/Controls/src/Core/Handlers/Items/iOS/GroupableItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ObservableGroupedSource.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CollectionViewAddGroupWhenViewIsEmpty.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CollectionViewDuplicateViewsWhenAddItemToGroup.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue17969.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue17969.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17969.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CollectionViewAddGroupWhenViewIsEmpty.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CollectionViewDuplicateViewsWhenAddItemToGroup.png
Labels: platform/iOS 🍎, area-controls-collectionview, community ✨

#24958 Run Android Device tests on Sonoma
  eng/pipelines/device-tests.yml
Labels: t/housekeeping ♻︎, area-testing

#24886 AppThemeBinding on ToolbarItems
  src/Controls/src/Core/Toolbar/Toolbar.Android.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ToolbarItemsShouldBeVisible.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue24878.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24878.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24878.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ToolbarItemsShouldBeVisible.png
Labels: platform/android 🤖, area-controls-shell, community ✨, area-controls-menubar

#24579 [C] avoid concurrent access to _values
  src/Controls/src/Core/SetterSpecificityList.cs
Labels: area-xaml

#24695 [Windows] Handle focus events using `FocusManager` (take 2)
  src/Core/src/Handlers/View/ViewHandler.Windows.cs
  src/Core/src/Platform/Windows/ViewExtensions.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/Focus/FocusHandlerTests.cs
  src/TestUtils/src/DeviceTests/AssertionExtensions.Windows.cs
Labels: platform/windows 🪟, community ✨, area-keyboard, t/perf

#24884 Update default `BlazorWebView` host address
  Microsoft.Maui-dev.sln
  src/BlazorWebView/src/Maui/BlazorWebView.cs
  src/BlazorWebView/src/SharedSource/HostAddressHelper.cs
  src/BlazorWebView/src/SharedSource/WebView2WebViewManager.cs
Labels: area-blazor

#24924 [XC] Add feature switch to enable compiling bindings with source
  docs/design/FeatureSwitches.md
  src/Compatibility/ControlGallery/src/Core/Compatibility.ControlGallery.Core.csproj
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/samples/Directory.Build.props
  src/Controls/src/Build.Tasks/BuildException.cs
  src/Controls/src/Build.Tasks/ErrorMessages.resx
  src/Controls/src/Build.Tasks/ILContext.cs
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Build.Tasks/XamlCTask.cs
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/src/Core/Binding.cs
  src/Controls/src/Core/TypedBinding.cs
  src/Controls/src/Xaml/MarkupExtensions/BindingExtension.cs
  src/Controls/tests/SourceGen.UnitTests/SourceGen.UnitTests.csproj
  src/Controls/tests/TestCases.HostApp/Controls.TestCases.HostApp.csproj
  src/Controls/tests/TestCases.HostApp/Directory.Build.props
  src/Controls/tests/Xaml.UnitTests/Controls.Xaml.UnitTests.csproj
  src/Controls/tests/Xaml.UnitTests/Issues/Maui23711.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui23711.xaml.cs
  src/Controls/tests/Xaml.UnitTests/MockCompiler.cs
  src/Core/src/RuntimeFeature.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Essentials/samples/Directory.Build.props
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
Labels: area-xaml
