Repository dotnet/maui, pull requests merged in 2024-03, with the labels that each got.

#20728 [ci] Enable 1ES PT
  eng/automation/guardian/CredScanSuppressions.json
  eng/automation/guardian/PoliCheck.Exclusions.xml
  eng/automation/guardian/source.gdnsuppress
  eng/common/SetupNugetSources.ps1
  eng/common/pipeline-logging-functions.sh
  eng/common/tools.ps1
  eng/common/tools.sh
  eng/pipelines/common/apiscan.yml
  eng/pipelines/common/insertion.yml
  eng/pipelines/common/pack.yml
  eng/pipelines/common/sdk-insertion.yml
  eng/pipelines/common/sign.yml
  eng/pipelines/common/variables.yml
  eng/pipelines/handlers.yml
  eng/pipelines/maui-release-internal.yml
  eng/pipelines/maui-release.yml
Labels: area/infrastructure 🏗️

#20893 Update Maps Project API Docs
  src/Controls/Maps/src/AppHostBuilderExtensions.cs
  src/Controls/Maps/src/Circle.cs
  src/Controls/Maps/src/Controls.Maps.csproj
  src/Controls/Maps/src/HandlerImpl/Circle.Impl.cs
  src/Controls/Maps/src/HandlerImpl/Map.Impl.cs
  src/Controls/Maps/src/HandlerImpl/Polygon.Impl.cs
  src/Controls/Maps/src/HandlerImpl/Polyline.Impl.cs
  src/Controls/Maps/src/Map.cs
  src/Controls/Maps/src/MapClickedEventArgs.cs
  src/Controls/Maps/src/MapElement.cs
  src/Controls/Maps/src/Pin.cs
  src/Controls/Maps/src/PinClickedEventArgs.cs
  src/Controls/Maps/src/Polygon.cs
  src/Controls/Maps/src/Polyline.cs
  src/Core/maps/src/Core/ICircleMapElement.cs
  src/Core/maps/src/Core/IFilledMapElement.cs
  src/Core/maps/src/Core/IMapElement.cs
Labels: area/docs 📓, t/housekeeping ♻︎, area/Maps🗺

#20964 Update layout.md
  docs/design/layout.md
Labels: community ✨

#20584 [iOS] Double dash in input field crash fix
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20439.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20439.xaml.cs
  src/Controls/src/Core/Platform/iOS/Extensions/TextExtensions.cs
  src/Controls/tests/UITests/Tests/Issues/Issue20439.cs
Labels: platform/iOS 🍎, area/controls 🎮, community ✨, s/pr-needs-author-input

#20619 SwipeGestureRecognizer return actual detected directions
  src/Controls/src/Core/SwipeGestureRecognizer.cs
  src/Controls/tests/Core.UnitTests/Gestures/SwipeGestureRecognizerTests.cs
Labels: community ✨, area/gestures

#18522 - [Android] Fix ShouldShowToolbarButton for FlyoutPage
  src/Controls/src/Core/NavigationPage/NavigationPageToolbar.cs
Labels: platform/android 🤖, area/FlyoutPage, community ✨

#20531 Enable now passing tests and add some TableView categories
  src/Compatibility/ControlGallery/src/Issues.Shared/BottomTabbedPageTests.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla27085.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla29453.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla31333.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla32040.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla32847.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla33578.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla36559.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla36955.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla37841.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla38112.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla39486.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla40704.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla46458.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla49304.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla51503.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla57317.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Bugzilla59580.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/DateTimePickerLocalizationTests.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/GestureBubblingTests.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Github5623.xaml.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/InputTransparentTests.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1028.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue11224.xaml.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue12193.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue12574.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1259.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1386.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1598.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1777.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue1975.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue214.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2143.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue22246_BZ.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2266.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2414.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue260.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2615.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2767.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2794.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2883.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue2954.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue3262.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue3292.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue3319.xaml.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue4356.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue4597.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue5172.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue5555.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue7534.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue8291.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue9088.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue968.cs
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue9827.xaml.cs
  src/Compatibility/ControlGallery/src/UITests.Shared/Tests/EntryUITests.cs
  src/Compatibility/ControlGallery/src/UITests.Shared/Tests/Legacy-CellsUITests.cs
Labels: area/testing, area/ListView

#21003 Use a different gif URL as MS News blocked us
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ImagePage.xaml.cs
Labels: area/image :framed_picture:, t/housekeeping ♻︎

#19626 Generalize HideSoftInputOnTapped on Android and iOS to support 3rd party input controls
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.Android.cs
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.iOS.cs
Labels: platform/android 🤖, community ✨, area/keyboard

#21011 [net9.0] Move net9 to preview3
  Directory.Build.targets
  eng/Version.Details.xml
  eng/Versions.props
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-lib/MauiLib1.csproj
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1.Mac/MauiApp.1.Mac.csproj
Labels: area/infrastructure 🏗️, needs-breaking-change-doc-created

#21031 Revert to 1.4.240211001
  eng/Versions.props
Labels: platform/windows 🪟, t/housekeeping ♻︎

#21027 Update GitInfo.txt for SR4
  GitInfo.txt
Labels: area/infrastructure 🏗️

#21026 Update GitInfo.txt 8.0.10-preview
  GitInfo.txt
Labels: area/infrastructure 🏗️

#21040 Small fix for WebAuthenticator TaskCanceledException API docs
  src/Essentials/src/WebAuthenticator/WebAuthenticator.shared.cs
Labels: area/docs 📓, t/housekeeping ♻︎, t/docs 📝

#21022 [Windows] Ensure consistent background colors for UI test cases
  src/Controls/samples/Controls.Sample.UITests/CoreViews/CoreNavigationPage.cs
  src/Controls/samples/Controls.Sample.UITests/TestCases.cs
Labels: platform/windows 🪟, area/testing

#21041 Bump editorconfig csharp_prefer_braces down to suggestion
  .editorconfig
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#20610 [XC] Compile bindings with Source
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue11764.xaml
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue11831.xaml
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue9417.xaml
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/tests/Xaml.UnitTests/BindingsCompiler.xaml
  src/Controls/tests/Xaml.UnitTests/BindingsCompiler.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh3606.xaml.cs
Labels: area/Xaml </>

#21054 [Trimming] Fix ILLink warnings in source generated code
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
Labels: area/Xaml </>

#21142 [Windows] Round item size in GridView
  src/Controls/src/Core/Platform/Windows/CollectionView/FormsGridView.cs
Labels: platform/windows 🪟, area/layout 🔲, area/collectionview 📃

#20817 [testing] Cleaning up TemplateTests iOS simulator issues
  eng/pipelines/common/maui-templates.yml
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Apple/Simulator.cs
Labels: area/testing

#21192 Fix XmlType .Equals override
  src/Controls/src/Xaml/XamlNode.cs
  src/Controls/tests/Xaml.UnitTests/XmlTypeTests.cs
Labels: area/Xaml </>

#21140 [iOS] Fix UI loop when setting ContentInset
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20294.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20294.xaml.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewLayout.cs
  src/Controls/src/Core/Handlers/Items/iOS/StructuredItemsViewController.cs
  src/Controls/tests/UITests/Tests/Issues/Issue20294.cs
Labels: platform/iOS 🍎

#20954 [Windows] Add scrolling tests for virtualization w/ Datatemplates
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20842.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20842.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue20842.cs
  src/Controls/tests/UITests/snapshots/windows/VerifyCollectionViewItemsAfterScrolling.png
Labels: platform/windows 🪟, area/collectionview 📃, area/testing

#19834 [Android] Correctly scale Button image
  src/Controls/samples/Controls.Sample/Pages/Controls/ButtonPage.xaml
  src/Controls/src/Core/Platform/Android/Extensions/ButtonExtensions.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18242.cs
  src/Controls/tests/UITests/snapshots/android/Issue18242Test.png
  src/Core/src/Handlers/Button/ButtonHandler.Android.cs
  src/Core/src/Handlers/ViewHandlerExtensions.Android.cs
  src/Core/src/Platform/Android/MauiMaterialButton.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: platform/windows 🪟, platform/android 🤖, area/controls 🎮, control-button

#21218 [android] fix memory leak in `TabbedPage`
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.cs
Labels: platform/android 🤖, memory-leak 💦

#20915 [X] Allow using x:Type and type literals interchangeably in certain scenarios
  src/Controls/src/Build.Tasks/CompiledConverters/BindablePropertyConverter.cs
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Build.Tasks/XamlCTask.cs
  src/Controls/src/Xaml/SimplifyTypeExtensionVisitor.cs
  src/Controls/src/Xaml/XamlLoader.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui20818.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui20818.xaml
Labels: area/Xaml </>

#20034 Optimize performance of Flex.Item
  src/Controls/src/Core/Layout/FlexExtensions.cs
  src/Core/src/Layouts/Flex.cs
  src/Core/tests/Benchmarks/Benchmarks/FlexLayoutBenchmarker.cs
Labels: area/layout 🔲, community ✨

#21151 [ios] fix memory leak in RadioButton
  src/Controls/src/Core/Border/Border.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
Labels: platform/iOS 🍎, memory-leak 💦

#21239 [Windows] Fix CanvasImageSource scaling behavior (SR3)
  src/Core/src/Platform/Windows/ButtonExtensions.cs
Labels: platform/windows 🪟, area/controls 🎮, control-button

#20152 Update Template Shell Foreground colour
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
Labels: area/shell 🐢, community ✨

#20694 [Testing] Updated to latest RC.6 of Appium
  src/Controls/tests/UITests/Controls.AppiumTests.csproj
  src/Controls/tests/UITests/Tests/Issues/Issue15357.cs
  src/Controls/tests/UITests/Tests/Issues/Issue15826.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17610.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19956.cs
  src/Controls/tests/UITests/Tests/Issues/Issue5191.cs
  src/Controls/tests/UITests/Tests/KeyboardScrolling.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumLifecycleActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumPointerActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumScrollActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumSliderActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumSwipeActions.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Appium/UITest.Appium.csproj
Labels: t/housekeeping ♻︎, area/testing

#21212 [Windows] Fix FontImageSource resize behavior
  src/Controls/samples/Controls.Sample.UITests/Controls.Sample.UITests.csproj
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue18242.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21202.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21202.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/MauiProgram.cs
  src/Controls/samples/Controls.Sample.UITests/Resources/Fonts/OpenSans-Regular.ttf
  src/Controls/tests/UITests/Tests/Issues/Issue21202.cs
  src/Controls/tests/UITests/snapshots/windows/Issue21202Test.png
Labels: platform/windows 🪟, control-button, i/regression

#20155 Throw error when pushing without wrapping into navigation page
  src/Controls/src/Core/Window/Window.cs
  src/Controls/tests/Core.UnitTests/NavigationUnitTest.cs
Labels: t/breaking 💥, area/navigation 🧭, community ✨

#21275 [net9.0] Bump Samsung Tizen versions
  eng/Versions.props
Labels: area/infrastructure 🏗️

#21308 [ios] avoid duplicating `CALayer.Sublayer` arrays
  src/Compatibility/Core/src/MacOS/Extensions/BrushExtensions.cs
  src/Controls/src/Core/Platform/iOS/Extensions/BrushExtensions.cs
  src/Core/src/Platform/iOS/LayerExtensions.cs
  src/Core/src/Platform/iOS/StrokeExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/src/Platform/iOS/WrapperView.cs
  src/Essentials/src/Screenshot/Screenshot.ios.cs
Labels: platform/iOS 🍎, area/perf 🏎️, partner/cat 😻

#21276 [net9.0] Update all net9 versions preview3
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/infrastructure 🏗️

#21229 [C] use ResourcesChanged to propagate Theme
  Microsoft.Maui-dev.sln
  src/Controls/src/Core/AppThemeBinding.cs
  src/Controls/src/Core/Application/Application.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/tests/Core.UnitTests/AppThemeTests.cs
  src/Controls/tests/Core.UnitTests/DynamicResourceTests.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui16538.xaml.cs
Labels: area/Xaml </>

#21358 [ci] Fix APIScan
  eng/pipelines/common/apiscan.yml
  eng/pipelines/maui-release.yml
Labels: area/infrastructure 🏗️

#19563 [X] GetValueSource
  src/Controls/src/Core/Xaml/Diagnostics/BindablePropertyDiagnostics.cs
Labels: area/testing

#20653 Change activity attributes
  src/Essentials/src/Platform/IntermediateActivity.android.cs
  src/Essentials/src/WebAuthenticator/WebAuthenticatorIntermediateActivity.android.cs
Labels: platform/android 🤖

#21318 Update BlazorWebView Device Tests to have longer timesouts and more retries
  src/BlazorWebView/tests/MauiDeviceTests/ControlsDeviceTestExtensions.cs
  src/BlazorWebView/tests/MauiDeviceTests/ControlsHandlerTestBase.cs
  src/BlazorWebView/tests/MauiDeviceTests/Elements/BlazorWebViewTests.cs
  src/BlazorWebView/tests/MauiDeviceTests/HandlerTestBase.Android.cs
  src/BlazorWebView/tests/MauiDeviceTests/HandlerTestBase.Windows.cs
  src/BlazorWebView/tests/MauiDeviceTests/HandlerTestBase.cs
  src/BlazorWebView/tests/MauiDeviceTests/HandlerTestBase.iOS.cs
  src/BlazorWebView/tests/MauiDeviceTests/MauiAppNewWindowStub.Windows.cs
  src/BlazorWebView/tests/MauiDeviceTests/MauiProgram.cs
  src/BlazorWebView/tests/MauiDeviceTests/WebViewHelpers.Android.cs
  src/BlazorWebView/tests/MauiDeviceTests/WebViewHelpers.NetStandard.cs
  src/BlazorWebView/tests/MauiDeviceTests/WebViewHelpers.Shared.cs
  src/BlazorWebView/tests/MauiDeviceTests/WebViewHelpers.Windows.cs
  src/BlazorWebView/tests/MauiDeviceTests/WebViewHelpers.iOS.cs
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.cs
  src/Core/tests/DeviceTests.Shared/HandlerTests/HandlerTestBasement.cs
  src/Core/tests/DeviceTests/Handlers/CoreHandlerTestBase.cs
Labels: area/blazor 🕸️

#21366 [X] Fix PropertyChanged on idx for compiledbindings
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/tests/Xaml.UnitTests/BindingsCompiler.xaml.cs
Labels: area/Xaml </>

#21373 [net9.0] Update versions
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/infrastructure 🏗️

#21433 Add install mono step to macOS setup guide
  .github/DEVELOPMENT.md
Labels: community ✨

#21409 Still measure children if size is known on CV
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue7562.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue7562.xaml.cs
  src/Controls/src/Core/Handlers/Items/Android/ItemContentView.cs
  src/Controls/tests/UITests/Tests/Issues/Issue7562.cs
Labels: area/collectionview 📃

#21246 [Windows] Cache full app package file path
  src/Essentials/src/AppInfo/AppInfo.uwp.cs
  src/Essentials/src/FileSystem/FileSystemUtils.uwp.cs
Labels: platform/windows 🪟, area/perf 🏎️, community ✨

#21050 [Trimming] Use type converters instead of implicit cast operators (part 1/2)
  docs/design/FeatureSwitches.md
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/src/Core/BindableProperty.cs
  src/Controls/src/Core/IWrappedValue.cs
  src/Controls/src/Core/OnIdiom.cs
  src/Controls/src/Core/OnPlatform.cs
  src/Controls/src/Core/TypeConversionHelper.cs
  src/Controls/src/Core/Xaml/TypeConversionExtensions.cs
  src/Controls/src/Xaml/CreateValuesVisitor.cs
  src/Controls/src/Xaml/MarkupExtensions/StaticResourceExtension.cs
  src/Core/src/Hosting/TypeConversionAppBuilderExtensions.cs
  src/Core/src/ILLink.Substitutions.xml
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/src/RuntimeFeature.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/BuildWarningsUtilities.cs
Labels: area/Xaml </>

#21432 [android] Add null check to help with #21393
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
Labels: platform/android 🤖, area/TabbedPage

#21467 Make the dev docs more betterer
  .github/DEVELOPMENT.md
Labels: community ✨

#21371 [macOS] Make window overlay to redraw correctly during window resizing
  src/Core/src/WindowOverlay/WindowOverlay.iOS.cs
Labels: platform/macOS 🍏, community ✨, control-window

#21436 Fix for WebView Error when changing page with WebView loading a page
  src/Core/src/Platform/iOS/MauiWebViewUIDelegate.cs
Labels: area/controls 🎮, control-webview

#21291 [android] avoid `OnLayout()` for `Label`
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformAppCompatTextView.java
  src/Core/src/Platform/Android/MauiTextView.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/Transforms/Metadata.xml
  src/Core/src/maui.aar
Labels: platform/android 🤖, area/perf 🏎️

#21334 [controls] improve perf of "merged" ResourceDictionary lookups
  src/Controls/src/Core/ResourceDictionary.cs
  src/Core/tests/Benchmarks/Benchmarks/ResourceDictionaryBenchmarker.cs
Labels: area/perf 🏎️

#21463 [Windows] Ensure images in buttons never scale up, only down
  src/Controls/samples/Controls.Sample.UITests/Controls.Sample.UITests.csproj
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21394.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21394.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Resources/Images/dotnet_bot_resized.svg
  src/Controls/tests/UITests/Tests/Issues/Issue21394.cs
  src/Controls/tests/UITests/snapshots/windows/Issue21394Test.png
  src/Core/src/Platform/Windows/ButtonExtensions.cs
Labels: platform/windows 🪟, area/controls 🎮, control-button

#21493 [Windows] Add crash dumps as artifacts to tests
  eng/pipelines/common/device-tests-steps.yml
Labels: platform/windows 🪟, area/testing

#20727 [net9.0] [testing] Enable Windows UITests back
  eng/cake/dotnet.cake
  eng/devices/windows.cake
  eng/pipelines/common/ui-tests.yml
Labels: area/infrastructure 🏗️

#21484 [C] fix a leak in VSG
  src/Controls/src/Core/VisualStateManager.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui20818.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui21839.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui21839.xaml.cs
Labels: area/Xaml </>, area/perf 🏎️
