Repository dotnet/maui, pull requests merged in 2024-02, with the labels that each got.

#20279 [release/9.0.1xx-preview1] Update versions
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/device-tests.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#20160 iOS Next Entry to skip hidden parents
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.iOS.cs
Labels: platform/iOS 🍎, area/a11y, control-entry, area/keyboard

#20224 [Windows] Resolve issues with ImageSourceInitializesCorrectly tests
  src/Core/tests/DeviceTests/Handlers/Button/ButtonHandlerTests.cs
Labels: platform/windows 🪟, t/housekeeping ♻︎, area/testing, testing-reenable

#15700 PanGesture notify Completed event moving outside View limits
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue5191.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue5191.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/PanGestureGalleries/PanGestureEventsGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Core/PanGestureGalleries/PanGestureEventsGallery.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Core/PanGestureGalleries/PanGestureGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Core/PanGestureGalleries/PanGesturePlaygroundGallery.cs
  src/Controls/samples/Controls.Sample/ViewModels/GesturesViewModel.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/tests/UITests/Tests/Issues/Issue5191.cs
Labels: t/bug, platform/windows 🪟, stale, area/gestures

#20286 [release/9.0.1xx-preview1] Revert "Dont build net8"
  Directory.Build.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/cake/dotnet.cake
  eng/cake/helpers.cake
  eng/devices/android.cake
  eng/devices/catalyst.cake
  eng/devices/ios.cake
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AndroidTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AppleTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
  src/Workload/Microsoft.Maui.Sdk/Microsoft.Maui.Sdk.csproj
  src/Workload/Microsoft.NET.Sdk.Maui.Manifest/Microsoft.NET.Sdk.Maui.Manifest.csproj
  src/Workload/Microsoft.NET.Sdk.Maui.Manifest/WorkloadManifest.in.json
  src/Workload/Microsoft.NET.Sdk.Maui.Manifest/WorkloadManifest.in.targets
Labels: area/infrastructure 🏗️

#19310 [Trimming] Add a feature flag to disable XAML loading at runtime
  docs/design/FeatureSwitches.md
  src/Controls/src/Build.Tasks/XamlCTask.cs
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/src/Core/ResourceDictionary.cs
  src/Controls/src/Core/TrimmerConstants.cs
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/src/Xaml/ViewExtensions.cs
  src/Core/src/Core.csproj
  src/Core/src/ILLink.Substitutions.xml
  src/Core/src/RuntimeFeature.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/BuildWarningsUtilities.cs
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Sdk.Before.targets
Labels: area/publishing 🏁

#20421 [tests] Use public pool for iOS device and uitests
  eng/pipelines/device-tests.yml
  eng/pipelines/ui-tests.yml
Labels: testing-flakiness

#20210 [iOS] Fixed Collection View header and footer update
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19379.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19379.xaml.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.cs
  src/Controls/src/Core/Handlers/Items/CollectionViewHandler.cs
  src/Controls/src/Core/Handlers/Items/GroupableItemsViewHandler.cs
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.cs
  src/Controls/src/Core/Handlers/Items/ReorderableItemsViewHandler.cs
  src/Controls/src/Core/Handlers/Items/SelectableItemsViewHandler.cs
  src/Controls/src/Core/Handlers/Items/StructuredItemsViewHandler.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19379.cs
  src/Controls/tests/UITests/snapshots/ios/UpdateCollectionViewHeaderTest.png
Labels: platform/iOS 🍎, area/collectionview 📃, community ✨

#20130 Bring back some aspect of ConvertView on TableView and avoid AT_MOST Measure
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue5555.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue5555.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue5924.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue5924.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Utils/GarbageCollectionHelper.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/CellFactory.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/CellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/EntryCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/SwitchCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/TextCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ViewCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/TableView/Android/TableViewModelRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/TableView/Android/TableViewRenderer.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/tests/UITests/Tests/Issues/Issue5555.cs
  src/Controls/tests/UITests/Tests/Issues/Issue5924.cs
Labels: area/ListView

#20414 [C] ColorTypeConverter include alpha when <1
  src/Graphics/src/Graphics/Converters/ColorTypeConverter.cs
Labels: area/Xaml </>

#19941 [iOS] Add iOS17 tests again
  eng/devices/android.cake
  eng/devices/ios.cake
  eng/pipelines/device-tests.yml
  eng/pipelines/ui-tests.yml
  src/Compatibility/ControlGallery/src/Issues.Shared/HeaderFooterShellFlyout.cs
  src/Controls/tests/UITests/UITest.cs
  src/Controls/tests/UITests/snapshots/ios-iphonex/ContentPageBackgroundImageSourceWorks.png
  src/Controls/tests/UITests/snapshots/ios-iphonex/EditorBackgroundWorks.png
  src/Controls/tests/UITests/snapshots/ios-iphonex/EditorIsReadOnlyPreventModify.png
  src/Controls/tests/UITests/snapshots/ios-iphonex/EditorPlaceholderPosition.png
  src/Controls/tests/UITests/snapshots/ios-iphonex/Issue15330Test.png
  src/Controls/tests/UITests/snapshots/ios-iphonex/Issue16094Test.png
  src/Controls/tests/UITests/snapshots/ios-iphonex/Issue17366Test.png
  src/Controls/tests/UITests/snapshots/ios-iphonex/Issue18751Test.png
  src/Controls/tests/UITests/snapshots/ios-iphonex/SettingMaximumTrackColorOnSliderWorks.png
  src/Controls/tests/UITests/snapshots/ios/ContentPageBackgroundImageSourceWorks.png
  src/Controls/tests/UITests/snapshots/ios/EditorBackgroundWorks.png
  src/Controls/tests/UITests/snapshots/ios/EditorIsReadOnlyPreventModify.png
  src/Controls/tests/UITests/snapshots/ios/EditorPlaceholderPosition.png
  src/Controls/tests/UITests/snapshots/ios/Issue16094Test.png
  src/Controls/tests/UITests/snapshots/ios/Issue17366Test.png
  src/Controls/tests/UITests/snapshots/ios/Issue18751Test.png
  src/Controls/tests/UITests/snapshots/ios/SettingMaximumTrackColorOnSliderWorks.png
Labels: platform/iOS 🍎, area/testing

#20436 [ci] Use AzurePipelines for testing templates
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/ui-tests-steps.yml
  eng/pipelines/handlers.yml
  eng/pipelines/ui-tests.yml
Labels: area/infrastructure 🏗️

#20445 Android SecureStorage: Stop caching shared preferences instance to fix RemoveAll
  src/Essentials/src/SecureStorage/SecureStorage.android.cs
Labels: platform/android 🤖, area/essentials 🍞

#20001 [iOS] Fixes carouselview layout on iOS
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19657.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19657.xaml.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.iOS.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/UITests/Tests/Issues/Issue19657.cs
  src/Controls/tests/UITests/snapshots/ios/CarouselItemLoadsInCorrectPosition.png
Labels: platform/iOS 🍎, area/collectionview 📃, community ✨

#20374 Fix design time image converter
  src/Controls/src/Core.Design/ImageSourceDesignTypeConverter.cs
  src/Controls/tests/Core.Design.UnitTests/ImageSourceDesignTypeConverterTests.cs
Labels: area/Xaml </>

#20455 [ci] Only run on 17.2 and latest 33
  eng/devices/ios.cake
  eng/pipelines/common/provision.yml
  eng/pipelines/device-tests.yml
  eng/pipelines/ui-tests.yml
  src/Controls/tests/UITests/Tests/Issues/Issue17022.cs
  src/Controls/tests/UITests/snapshots/ios/ContentPageBackgroundImageSourceWorks.png
  src/Controls/tests/UITests/snapshots/ios/EditorBackgroundWorks.png
  src/Controls/tests/UITests/snapshots/ios/EditorIsReadOnlyPreventModify.png
  src/Controls/tests/UITests/snapshots/ios/EditorPlaceholderPosition.png
  src/Controls/tests/UITests/snapshots/ios/Issue16094Test.png
  src/Controls/tests/UITests/snapshots/ios/Issue17022TestNewFlyoutPageGridTranslucentButton.png
  src/Controls/tests/UITests/snapshots/ios/Issue17022TestNewNavigationPageGridTranslucentButton.png
  src/Controls/tests/UITests/snapshots/ios/Issue17022TestSemiTransparentFlyoutPageBackgroundColor.png
  src/Controls/tests/UITests/snapshots/ios/Issue17022TestSemiTransparentFlyoutPageBrush.png
  src/Controls/tests/UITests/snapshots/ios/Issue17022TestSemiTransparentNavigationPageBackgroundColor.png
  src/Controls/tests/UITests/snapshots/ios/Issue17022TestSemiTransparentNavigationPageBrush.png
  src/Controls/tests/UITests/snapshots/ios/Issue17366Test.png
  src/Controls/tests/UITests/snapshots/ios/Issue18751Test.png
  src/Controls/tests/UITests/snapshots/ios/SettingMaximumTrackColorOnSliderWorks.png
  src/Controls/tests/UITests/snapshots/ios/UpdateCollectionViewHeaderTest.png
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Apple/Simulator.cs
Labels: area/testing, testing-flakiness, testing-green-ci

#20147 Adding a test to validate loading images
  src/Controls/samples/Controls.Sample.UITests/Concepts/ImageLoadingGalleryPage.cs
  src/Controls/samples/Controls.Sample.UITests/CoreViews/CorePageView.cs
  src/Controls/samples/Controls.Sample.UITests/Resources/Images/animated_heart.gif
  src/Controls/samples/Controls.Sample.UITests/Test.cs
  src/Controls/tests/UITests/Tests/Concepts/ImageLoadingGalleryTests.cs
  src/Controls/tests/UITests/snapshots/android/LoadAndVerifyGif.png
  src/Controls/tests/UITests/snapshots/android/LoadAndVerifyJpg.png
  src/Controls/tests/UITests/snapshots/android/LoadAndVerifyPng.png
  src/Controls/tests/UITests/snapshots/android/LoadAndVerifySvg.png
  src/Controls/tests/UITests/snapshots/ios/LoadAndVerifyGif.png
  src/Controls/tests/UITests/snapshots/ios/LoadAndVerifyJpg.png
  src/Controls/tests/UITests/snapshots/ios/LoadAndVerifyPng.png
  src/Controls/tests/UITests/snapshots/ios/LoadAndVerifySvg.png
  src/Controls/tests/UITests/snapshots/windows/LoadAndVerifyGif.png
  src/Controls/tests/UITests/snapshots/windows/LoadAndVerifyJpg.png
  src/Controls/tests/UITests/snapshots/windows/LoadAndVerifyPng.png
  src/Controls/tests/UITests/snapshots/windows/LoadAndVerifySvg.png
Labels: t/housekeeping ♻︎, area/testing

#20058 [Trimming] Fix trimming warnings related to image source service provider
  src/Core/src/Hosting/ImageSources/IImageSourceServiceProvider.cs
  src/Core/src/Hosting/ImageSources/ImageSourceServiceCollectionExtensions.cs
  src/Core/src/Hosting/ImageSources/ImageSourceServiceProvider.cs
  src/Core/src/Hosting/ImageSources/ImageSourceServiceProviderExtensions.cs
  src/Core/src/Hosting/ImageSources/ImageSourceToImageSourceServiceTypeMapping.cs
  src/Core/tests/DeviceTests/Services/ImageSource/ImageSourceServiceTests.cs
  src/Core/tests/UnitTests/ImageSource/ImageSourceServiceTests.cs
  src/Core/tests/UnitTests/ImageSource/ImageSourceToImageSourceServiceTypeMappingTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/BuildWarningsUtilities.cs
Labels: area/app-size 🤏

#14619 [iOS] Clear BindingContext when cell is queued for reuse
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewDelegator.cs
  src/Controls/src/Core/Handlers/Items/iOS/TemplatedCell.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/CollectionView/CollectionViewTests.cs
Labels: platform/iOS 🍎, community ✨

#20395 Remove cleanup for CI Builds
  eng/devices/ios.cake
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/ui-tests-compatibility-steps.yml
  eng/pipelines/common/ui-tests-steps.yml
  eng/scripts/clean-bot.sh
  eng/scripts/clean-simulator-runtime.sh
Labels: area/infrastructure 🏗️

#18660 Add benchmarking class for PropertyMapper extensions
  src/Core/tests/Benchmarks/Benchmarks/PropertyMapperExtensionsBenchmarker.cs
Labels: area/perf 🏎️

#20498 Add '#' to trigger UrlEncoding on Android PhoneDialer
  src/Essentials/src/PhoneDialer/PhoneDialer.android.cs
Labels: area/essentials 🍞, community ✨

#19436 Removes dead code from type conversion
  src/Controls/src/Core/Xaml/TypeConversionExtensions.cs
Labels: area/Xaml </>, community ✨

#19459 Devices.Sensors.Location: rework argument handling in constructors
  src/Essentials/src/Types/Location.shared.cs
Labels: area/essentials 🍞, community ✨, stale

#17061 Fix OnPlatform + Setter when no match for current platform
  src/Controls/src/Build.Tasks/CompiledValueProviders/SetterValueProvider.cs
  src/Controls/src/Xaml/MarkupExtensions/OnPlatformExtension.cs
  src/Controls/tests/Xaml.UnitTests/OnPlatform.xaml
  src/Controls/tests/Xaml.UnitTests/OnPlatform.xaml.cs
Labels: area/Xaml </>, stale

#19303 [Android] Make Flyout footer aware of header/content margin
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellFlyoutTemplatedContentRenderer.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellFlyoutTests.cs
Labels: platform/android 🤖, area/shell 🐢, stale

#19968 Fix connectivity broadcast receiver never triggered on android 14.0/34+
  src/Essentials/src/Connectivity/Connectivity.android.cs
Labels: platform/android 🤖, area/essentials 🍞, community ✨

#20536 Temporarily Remove Tests
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.cs
Labels: area/testing

#20415 Add support for relative binding sources to TypedBinding
  src/Controls/src/Core/Binding.cs
  src/Controls/src/Core/RelativeBindingSource.cs
  src/Controls/src/Core/TypedBinding.cs
  src/Controls/tests/Core.UnitTests/MultiBindingTests.cs
  src/Controls/tests/Core.UnitTests/RelativeSourceBindingTests.cs
Labels: area/Xaml </>

#19945 [XC] only generate the services that'll be used
  src/Controls/src/Build.Tasks/BuildException.cs
  src/Controls/src/Build.Tasks/CompiledValueProviders/SetterValueProvider.cs
  src/Controls/src/Build.Tasks/CreateObjectVisitor.cs
  src/Controls/src/Build.Tasks/ErrorMessages.Designer.cs
  src/Controls/src/Build.Tasks/ErrorMessages.resx
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Core/IMarkupExtension.cs
  src/Controls/src/Core/LegacyLayouts/ConstraintExpression.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/ReferenceTypeConverter.cs
  src/Controls/src/Core/Setter.cs
  src/Controls/src/Xaml/MarkupExtensions/AppThemeBindingExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/DynamicResourceExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/OnIdiomExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/OnPlatformExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/ReferenceExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/StaticResourceExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/StyleSheetExtension.cs
  src/Controls/src/Xaml/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/XamlServiceProvider.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz34037.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz53275.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh2171.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh4760.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Gh9212.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Unreported005.xaml.cs
  src/Controls/tests/Xaml.UnitTests/MarkupExtensionTests.cs
  src/Controls/tests/Xaml.UnitTests/ServiceProviderTests.xaml
  src/Controls/tests/Xaml.UnitTests/ServiceProviderTests.xaml.cs
  src/Controls/tests/Xaml.UnitTests/TypeExtension.xaml.cs
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/BuildWarningsUtilities.cs
Labels: area/Xaml </>

#20581 [testing] Ignore flacky tests on iOS17
  src/Controls/tests/UITests/Tests/Issues/Issue17022.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18751.cs
  src/Controls/tests/UITests/Tests/KeyboardScrollingNonScrollingPageSmallTitlesTests.cs
  src/Controls/tests/UITests/Tests/KeyboardScrollingScrollingPageLargeTitlesTests.cs
  src/Controls/tests/UITests/Tests/KeyboardScrollingScrollingPageSmallTitlesTests.cs
Labels: platform/iOS 🍎, area/testing, testing-flakiness, testing-green-ci

#15544 [iOS] Fix gestures in Label Spans
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/LabelPage.xaml.cs
  src/Controls/src/Core/Label/Label.iOS.cs
  src/Controls/src/Core/Platform/iOS/Extensions/FormattedStringExtensions.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Region.cs
  src/Controls/tests/UITests/Tests/Issues/Issue3525.cs
  src/Controls/tests/UITests/Tests/LabelUITests.cs
Labels: t/bug, platform/iOS 🍎, area/gestures

#20587 [CI] Fix template to get it back to work with the megapipeline.
  eng/pipelines/common/maui-templates.yml
Labels: area/infrastructure 🏗️

#20562 [iOS] Adjust Keyboard Scrolling for Sticky Headers and Fix Bottom Content Inset
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19956.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19956.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19956.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-entry, area/keyboard

#20194 Add new Keyboards for Prompt
  src/Controls/src/Core/Platform/AlertManager/PromptDialog.Windows.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/KeyboardTests.cs
  src/Core/src/Converters/KeyboardTypeConverter.cs
  src/Core/src/Platform/Android/KeyboardExtensions.cs
  src/Core/src/Platform/Tizen/KeyboardExtensions.cs
  src/Core/src/Platform/Windows/KeyboardExtensions.cs
  src/Core/src/Platform/Windows/MauiPasswordTextBox.cs
  src/Core/src/Platform/iOS/KeyboardExtensions.cs
  src/Core/src/Primitives/DateTimeKeyboard.cs
  src/Core/src/Primitives/Keyboard.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: t/enhancement ☀️, do-not-merge, community ✨, area/keyboard

#19411 Add animated GIF support for Image on iOS
  THIRD-PARTY-NOTICES.TXT
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ImageButtonPage.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/ImagePage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/ImagePage.xaml.cs
  src/Core/src/Handlers/Image/ImageHandler.iOS.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.iOS.cs
  src/Core/src/ImageSources/FileImageSourceService/FileImageSourceService.iOS.cs
  src/Core/src/ImageSources/StreamImageSourceService/StreamImageSourceService.iOS.cs
  src/Core/src/ImageSources/UriImageSourceService/UriImageSourceService.iOS.cs
  src/Core/src/ImageSources/iOS/ImageAnimationHelper.cs
  src/Core/src/ImageSources/iOS/ImageSourceExtensions.cs
  src/Core/src/Platform/iOS/ImageViewExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.cs
  src/Core/tests/DeviceTests/Handlers/Image/ImageHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Resources/Images/numbers.gif
Labels: platform/iOS 🍎, area/image :framed_picture:

#19903 Fix modal page push in immersive mode
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
Labels: community ✨, area/modal

#20639 [net9.0] Fix test related issues
  eng/cake/dotnet.cake
  eng/pipelines/common/ui-tests.yml
  src/Compatibility/ControlGallery/src/iOS/Compatibility.ControlGallery.iOS.csproj
Labels: area/testing

#20693 Remove weird comment/copy&paste error
  src/Core/src/Animations/Animation.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#20702 Remove dotnet-format run for net7 branch
  .github/workflows/dotnet-format-daily-net7.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#20022 [iOS] Figure a better EstimatedItemSize for HorizontalList
  src/Controls/samples/Controls.Sample.UITests/Issues/Issues15815.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issues15815.xaml.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewDelegator.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewLayout.cs
  src/Controls/tests/UITests/Tests/Issues/Issue15815.cs
Labels: platform/iOS 🍎, area/collectionview 📃

#20704 [net9.0] Enable parallel builds back
  eng/cake/dotnet.cake
Labels: area/infrastructure 🏗️, testing-infrastructure

#20699 [Catalyst] Fix Selectors for Menus
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.Menu.cs
Labels: platform/macOS 🍏, control-menubar

#20670 Move entry related input view device tests to appium
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue5724.cs
  src/Controls/tests/UITests/Tests/Issues/Issue5724.cs
  src/Core/tests/DeviceTests/Handlers/Entry/EntryHandlerTests.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area/controls 🎮, area/testing, control-entry

#20576 [main] Update to stable iOS and Android workloads
  eng/Versions.props
  eng/provisioning/provisioning.csx
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#20541 [Testing] NativeAOT: Stand up UI testing on iOS platforms
  eng/cake/dotnet.cake
  eng/devices/ios.cake
  eng/pipelines/common/ui-tests-steps.yml
  eng/pipelines/common/ui-tests.yml
  src/Controls/samples/Controls.Sample.UITests/Controls.Sample.UITests.csproj
  src/Controls/samples/Controls.Sample.UITests/TestCases.cs
  src/Controls/tests/UITests/Controls.AppiumTests.csproj
Labels: area/testing

#20672 Setup Android App With More Accurate settings
  src/Controls/samples/Controls.Sample.UITests/Platforms/Android/MainActivity.cs
  src/Controls/tests/UITests/UITest.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumLifecycleActions.cs
  src/TestUtils/src/UITest.Appium/AppiumAndroidApp.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
  src/TestUtils/src/UITest.NUnit/UITestContextBase.cs
Labels: t/housekeeping ♻︎, area/testing

#17731 [Windows] Implement gestures on Spans
  src/Controls/src/Core/Label/Label.Windows.cs
  src/Controls/src/Core/Platform/Windows/Extensions/FormattedStringExtensions.cs
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/tests/UITests/Tests/Issues/Issue3525.cs
  src/Controls/tests/UITests/Tests/LabelUITests.cs
Labels: t/bug, platform/windows 🪟, area/controls 🎮, control-label, s/pr-needs-author-input

#20712 [net8.0] Update xharness
  .config/dotnet-tools.json
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common/maui-templates.yml
  eng/pipelines/device-tests.yml
  eng/pipelines/handlers.yml
  eng/pipelines/ui-tests.yml
Labels: area/infrastructure 🏗️

#20454 [Window] Fix transforms being offset by 0.5x0.5
  src/Controls/samples/Controls.Sample.UITests/Controls.Sample.UITests.csproj
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue17694.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17694.cs
  src/Controls/tests/UITests/snapshots/windows/Issue17694Test.png
  src/Core/src/Platform/Windows/TransformationExtensions.cs
Labels: platform/windows 🪟, area/drawing ✏️, partner

#20751 [ci] Update azdo BuildNumber
  eng/Versions.targets
Labels: area/infrastructure 🏗️

#20813 [ci] Add mono back to provisioning
  eng/provisioning/provisioning.csx
Labels: area/infrastructure 🏗️

#20792 Add the trailing .0 to all the windows things
  Directory.Build.props
  eng/devices/windows.cake
  eng/pipelines/common/device-tests.yml
  eng/pipelines/common/ui-tests.yml
  src/Compatibility/ControlGallery/src/WinUI/Compatibility.ControlGallery.WinUI.csproj
  src/Compatibility/Core/tests/WinUI/Compatibility.Windows.UnitTests.csproj
  src/Controls/tests/UITests/UITest.cs
Labels: platform/windows 🪟

#20790 Support the unpackaged format for font loading
  src/Core/src/ImageSources/FontImageSourceService/FontImageSourceService.Windows.cs
Labels: area/fonts 🅰️

#20492 [iOS] NullReferenceException for Span GridItemsLayout fix
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19803.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19803.xaml.cs
  src/Controls/src/Core/Handlers/Items/iOS/GridViewLayout.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19803.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Bz18828.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Bz18828.xaml.cs
Labels: area/layout 🔲, platform/iOS 🍎, community ✨

#20815 [net8.0] Merge latest changes from main
  Directory.Build.props
  Microsoft.Maui-dev.sln
  Microsoft.Maui-windows.slnf
  eng/Versions.targets
  eng/devices/windows.cake
  eng/pipelines/common/device-tests.yml
  eng/pipelines/common/ui-tests.yml
  eng/provisioning/provisioning.csx
  src/Compatibility/ControlGallery/src/WinUI/Compatibility.ControlGallery.WinUI.csproj
  src/Compatibility/Core/tests/WinUI/Compatibility.Windows.UnitTests.csproj
  src/Controls/samples/Controls.Sample.UITests/Controls.Sample.UITests.csproj
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue17694.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19803.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19803.xaml.cs
  src/Controls/src/Core/Handlers/Items/iOS/GridViewLayout.cs
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/src/SourceGen/TrackingNames.cs
  src/Controls/tests/SourceGen.UnitTests/SourceGen.UnitTests.csproj
  src/Controls/tests/SourceGen.UnitTests/SourceGenCssTests.cs
  src/Controls/tests/SourceGen.UnitTests/SourceGenTestsBase.cs
  src/Controls/tests/SourceGen.UnitTests/SourceGenXamlTests.cs
  src/Controls/tests/SourceGen.UnitTests/SourceGeneratorDriver.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17694.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19803.cs
  src/Controls/tests/UITests/UITest.cs
  src/Controls/tests/UITests/snapshots/windows/Issue17694Test.png
  src/Controls/tests/Xaml.UnitTests/Issues/Bz18828.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Bz18828.xaml.cs
  src/Core/src/ImageSources/FontImageSourceService/FontImageSourceService.Windows.cs
  src/Core/src/Platform/Windows/TransformationExtensions.cs
Labels: area/infrastructure 🏗️

#20796 Fallback if user doesn't specify ext on image
  src/Controls/tests/DeviceTests/Elements/Image/ImageTests.iOS.cs
  src/Core/src/ImageSources/FileImageSourceService/FileImageSourceService.iOS.cs
Labels: area/controls 🎮, control-image

#20716 [net9.0] [ci] Remove ForceNet8Current
  eng/cake/dotnet.cake
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/DotnetInternal.cs
Labels: area/infrastructure 🏗️

#20540 Prepare the FabricBot config for migration to Policy Service
  .github/fabricbot.json
Labels: area/infrastructure 🏗️, community ✨

#20848 [net9.0] Revert runtime bumps
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/infrastructure 🏗️

#19532 Fix page swap from background
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue11501.cs
  src/Controls/src/Core/Platform/Android/Extensions/ToolbarExtensions.cs
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
  src/Controls/tests/UITests/Tests/Issues/Issue11501.cs
  src/Core/src/Handlers/FlyoutView/FlyoutViewHandler.Android.cs
  src/Core/src/Platform/Android/FragmentManagerExtensions.cs
  src/Core/src/Platform/Android/Navigation/NavigationRootManager.cs
  src/Core/src/Platform/Android/Navigation/StackNavigationManager.cs
Labels: area/navigation 🧭

#16383 [ios] fix memory leak in SearchBar
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiSearchBar.cs
  src/Core/src/Platform/iOS/SearchBarExtensions.cs
Labels: platform/iOS 🍎, area/perf 🏎️, memory-leak 💦

#20618 [UITest] Re-enable iOS Scrolling tests
  src/Controls/tests/UITests/Tests/KeyboardScrollingNonScrollingPageLargeTitlesTests.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
Labels: platform/iOS 🍎, area/controls 🎮, area/testing, control-entry, area/keyboard

#20795 iOS Shell TitleView Update Height
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.iOS.cs
Labels: platform/iOS 🍎, area/shell 🐢, partner/cat 😻, migration-compatibility

#19875 Ignore ScrollRectToVisible if KeyboardAutoManagerScroll is enabled in ItemsViewController
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue10947.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue10947.xaml.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/MauiCollectionView.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/UITests/Tests/Issues/Issue10947.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
Labels: platform/macOS 🍏, platform/iOS 🍎, area/controls 🎮, community ✨

#20872 Add IEffectControlProvider docs
  src/Controls/src/Core/Element/Element.cs
  src/Controls/src/Core/IEffectControlProvider.cs
Labels: area/docs 📓

#20853 Document missing properties for ViewHandler
  src/Core/src/Handlers/View/ViewHandler.Standard.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#20891 [testing] Ignore TopTabsDontScrollBackToStartWhenSelected
  src/Compatibility/ControlGallery/src/Issues.Shared/Issue10134.cs
Labels: area/testing, testing-flakiness, testing-legacy-ui-tests, testing-green-ci

#20757 [Windows] Handle ConnectionProfiles exception
  src/Essentials/src/Connectivity/Connectivity.uwp.cs
Labels: platform/windows 🪟, area/essentials 🍞, potential-regression

#20188 Fixed Shell.NavBarHasShadow on Android
  src/Controls/samples/Controls.Sample/Pages/Core/ShellGalleries/ShellChromeGallery.cs
  src/Controls/samples/Controls.Sample/Pages/Core/ShellGalleries/ShellChromeGallery.xaml
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellToolbarTracker.cs
  src/Controls/tests/DeviceTests/Elements/Shell/ShellTests.Android.cs
Labels: platform/android 🤖, area/shell 🐢, community ✨

#20861 Graphics TextAttribute wrongly uses FontName value for FontSize
  src/Graphics/src/Graphics/Text/TextAttributeExtensions.cs
Labels: area/fonts 🅰️

#20787 [XamlC] Fix error XDataTypeSyntax message format
  loc/cs/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/de/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/es/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/fr/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/it/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/ja/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/ko/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/pl/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/pt-BR/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/ru/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/tr/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/zh-Hans/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  loc/zh-Hant/src/Controls/src/Build.Tasks/ErrorMessages.resx.lcl
  src/Controls/src/Build.Tasks/ErrorMessages.Designer.cs
  src/Controls/src/Build.Tasks/ErrorMessages.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.cs.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.cs.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.de.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.de.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.es.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.es.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.fr.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.fr.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.it.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.it.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.ja.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.ja.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.ko.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.ko.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.pl.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.pl.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.pt-BR.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.pt-BR.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.ru.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.ru.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.tr.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.tr.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.zh-Hans.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.zh-Hans.xlf
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.zh-Hant.resx
  src/Controls/src/Build.Tasks/xlf/ErrorMessages.zh-Hant.xlf
Labels: area/Xaml </>

#20879 [release/9.0.1xx-preview2] Update all dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: area/infrastructure 🏗️

#20905 [Windows] Registering new double-tap event can end up in the event being firing more times than expected
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20903.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20903.xaml.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/tests/UITests/Tests/Issues/Issue20903.cs
Labels: platform/windows 🪟, community ✨, area/gestures

#20642 [Testing] Added categories to Controls.AppiumTests
  src/Controls/tests/UITests/Tests/BorderUITests.cs
  src/Controls/tests/UITests/Tests/ButtonUITests.cs
  src/Controls/tests/UITests/Tests/CarouselViewUITests.cs
  src/Controls/tests/UITests/Tests/CheckBoxUITests.cs
  src/Controls/tests/UITests/Tests/DragAndDropUITests.cs
  src/Controls/tests/UITests/Tests/EditorUITests.cs
  src/Controls/tests/UITests/Tests/GestureRecognizerUITests.cs
  src/Controls/tests/UITests/Tests/Issues/Issue12211.cs
  src/Controls/tests/UITests/Tests/Issues/Issue14257.cs
  src/Controls/tests/UITests/Tests/Issues/Issue14557.cs
  src/Controls/tests/UITests/Tests/Issues/Issue15330.cs
  src/Controls/tests/UITests/Tests/Issues/Issue15357.cs
  src/Controls/tests/UITests/Tests/Issues/Issue15826.cs
  src/Controls/tests/UITests/Tests/Issues/Issue16094.cs
  src/Controls/tests/UITests/Tests/Issues/Issue16320.cs
  src/Controls/tests/UITests/Tests/Issues/Issue16321.cs
  src/Controls/tests/UITests/Tests/Issues/Issue16386.cs
  src/Controls/tests/UITests/Tests/Issues/Issue16499.cs
  src/Controls/tests/UITests/Tests/Issues/Issue16561.cs
  src/Controls/tests/UITests/Tests/Issues/Issue16787.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17022.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17347.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17366.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17400.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17453.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17490.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17610.cs
  src/Controls/tests/UITests/Tests/Issues/Issue17789.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18111.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18282.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18617.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18623.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18645.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18647.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18675.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18706.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18740.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18751.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18754.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18896.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19283.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19329.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19379.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19657.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19956.cs
  src/Controls/tests/UITests/Tests/Issues/Issue3525.cs
  src/Controls/tests/UITests/Tests/Issues/Issue5191.cs
  src/Controls/tests/UITests/Tests/Issues/Issue5555.cs
  src/Controls/tests/UITests/Tests/Issues/Issue5924.cs
  src/Controls/tests/UITests/Tests/Issues/RefreshViewTests.cs
  src/Controls/tests/UITests/Tests/Issues/SoftInputExtensionsPageTests.cs
  src/Controls/tests/UITests/Tests/Issues/XFIssue2681.cs
  src/Controls/tests/UITests/Tests/LabelUITests.cs
  src/Controls/tests/UITests/Tests/RadioButtonUITests.cs
  src/Controls/tests/UITests/Tests/ScrollViewUITests.cs
  src/Controls/tests/UITests/Tests/SliderUITests.cs
  src/Controls/tests/UITests/Tests/SwipeViewUITests.cs
  src/Controls/tests/UITests/UITestCategories.cs
Labels: t/housekeeping ♻︎, area/testing

#20543 Updated Development guide
  .github/DEVELOPMENT.md
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#20487 Remove Switch On/Off content
  src/Core/src/Handlers/Switch/SwitchHandler.Windows.cs
  src/Core/tests/DeviceTests/Handlers/Switch/SwitchHandlerTests.Windows.cs
Labels: platform/windows 🪟, area/controls 🎮, community ✨, control-switch

#20914 Restore iOS/macOS SecureStorage.DefaultAccessible default value
  src/Essentials/src/SecureStorage/SecureStorage.ios.tvos.watchos.macos.cs
Labels: area/essentials 🍞, migration-compatibility

#20637 [C] Propagate Resource changes to Background
  src/Controls/src/Core/Border/Border.cs
  src/Controls/src/Core/Shapes/Shape.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui18545.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui18545.xaml.cs
Labels: area/Xaml </>, area/drawing ✏️

#20567 [Trimming] Use typed bindings internally
  docs/design/FeatureSwitches.md
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellSearchViewAdapter.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSearchResultsRenderer.cs
  src/Controls/src/Core/ContentConverter.cs
  src/Controls/src/Core/ContentPresenter.cs
  src/Controls/src/Core/Items/CarouselView.cs
  src/Controls/src/Core/ListView/ListView.cs
  src/Controls/src/Core/RadioButton/RadioButton.cs
  src/Controls/src/Core/Shell/BaseShellItem.cs
  src/Controls/src/Core/Shell/MenuShellItem.cs
  src/Controls/src/Core/Shell/SearchHandler.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/src/Core/Shell/ShellContent.cs
  src/Controls/src/Core/Shell/ShellItem.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/src/Core/TemplatedItemsList.cs
  src/Controls/src/Core/TrimmerConstants.cs
  src/Core/src/ILLink.Substitutions.xml
  src/Core/src/RuntimeFeature.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/BuildWarningsUtilities.cs
Labels: area/Xaml </>
