Repository dotnet/maui, pull requests merged in 2024-05, with the labels that each got.

#22107 [Android] Crash removing item from CarouselView - fix
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19786.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue19786.xaml.cs
  src/Controls/src/Core/Handlers/Items/Android/MauiCarouselRecyclerView.cs
  src/Controls/tests/UITests/Tests/Issues/Issue19786.cs
Labels: platform/android 🤖, area/collectionview 📃, community ✨

#20575 [iOS] Shell page title fix
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20199.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20199.xaml.cs
  src/Controls/src/Core/Shell/ShellSection.cs
  src/Controls/tests/UITests/Tests/Issues/Issue20199.cs
  src/Controls/tests/UITests/snapshots/ios/TitleViewShouldBeVisible.png
Labels: platform/iOS 🍎, area/shell 🐢, community ✨

#22152 Add VS Code Extension to move-to-vs-feedback label
  .github/policies/resourceManagement.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#21838 Android mipmap/appicon failing with "APT2260"
  src/SingleProject/Resizetizer/src/ResizetizeImages.cs
  src/SingleProject/Resizetizer/src/nuget/buildTransitive/Microsoft.Maui.Resizetizer.After.targets
Labels: area/single project ☝️, platform/android 🤖

#22170 Create similarIssues.yml which automatically comments with similar issues on the repo
  .github/workflows/similarIssues.yml
Labels: area/infrastructure 🏗️, community ✨

#21925 [Trimming] Enable analyzers in Controls.Core on Tizen
  src/Controls/src/Core/Compatibility/Handlers/ListView/Tizen/CellContentFactory.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Tizen/ListViewRenderer.cs
  src/Controls/src/Core/Controls.Core.csproj
  src/Controls/src/Core/Handlers/Items/Tizen/ItemTemplateAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellContentItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellFlyoutItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellItemView.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSearchItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionItemAdaptor.cs
  src/Controls/src/Core/Handlers/Shell/Tizen/ShellSectionItemView.cs
  src/Controls/src/Core/TabbedPage/TabbedPage.Tizen.cs
Labels: area/infrastructure 🏗️

#21927 [Trimming] Enable analyzers in Controls.Xaml
  src/Controls/samples/Controls.Sample.UITests/Controls.Sample.UITests.csproj
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/src/Xaml/ApplyPropertiesVisitor.cs
  src/Controls/src/Xaml/Controls.Xaml.csproj
  src/Controls/src/Xaml/CreateValuesVisitor.cs
  src/Controls/src/Xaml/ExpandMarkupsVisitor.cs
  src/Controls/src/Xaml/FillResourceDictionariesVisitor.cs
  src/Controls/src/Xaml/MarkupExpressionParser.cs
  src/Controls/src/Xaml/MarkupExtensionParser.cs
  src/Controls/src/Xaml/MarkupExtensions/ArrayExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/BindingExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/OnIdiomExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/OnPlatformExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/StaticExtension.cs
  src/Controls/src/Xaml/MarkupExtensions/TemplateBindingExtension.cs
  src/Controls/src/Xaml/NodeExtensions.cs
  src/Controls/src/Xaml/ResourceDictionaryHelpers.cs
  src/Controls/src/Xaml/SimplifyOnPlatformVisitor.cs
  src/Controls/src/Xaml/SimplifyTypeExtensionVisitor.cs
  src/Controls/src/Xaml/ViewExtensions.cs
  src/Controls/src/Xaml/XamlLoader.cs
  src/Controls/src/Xaml/XamlParser.cs
  src/Controls/src/Xaml/XamlServiceProvider.cs
  src/Core/src/RuntimeFeature.cs
Labels: area/infrastructure 🏗️

#22227 [release/9.0.1xx-preview4] Update versions for release of 9.0.0 p4
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#21766 [Windows] Fix pointer released event not being handled on ImageButton
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21706.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21706.xaml.cs
  src/Controls/samples/Controls.Sample/Pages/Layouts/FlexLayoutPage.xaml
  src/Controls/tests/UITests/Tests/Issues/Issue21706.cs
  src/Controls/tests/UITests/snapshots/windows/ImageButtonStuckAfterRightClick.png
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Windows.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumTouchActions.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: platform/windows 🪟, area/controls 🎮, control-button

#16796 Fix text toolbar item icon not removed when navigating on Android
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue7823.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue7823.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue7823Page2.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue7823Page2.xaml.cs
  src/Controls/src/Core/Platform/Android/Extensions/ToolbarExtensions.cs
  src/Controls/tests/UITests/Tests/Issues/Issue7823.cs
  src/Controls/tests/UITests/snapshots/android/UpdateToolbarItemAfterNavigate.png
  src/Controls/tests/UITests/snapshots/ios/UpdateToolbarItemAfterNavigate.png
  src/Controls/tests/UITests/snapshots/windows/UpdateToolbarItemAfterNavigate.png
Labels: platform/android 🤖, community ✨, area/toolbar

#20912 [Docs] Update Shell inline comments
  src/Controls/docs/Microsoft.Maui.Controls/Shell.xml
  src/Controls/src/Core/Shell/Shell.cs
Labels: area/docs 📓, t/housekeeping ♻︎

#22295 Don't push to maestro by default
  eng/pipelines/maui-release-internal.yml
  eng/pipelines/maui-release.yml
  src/Workload/Shared/Maestro.targets
Labels: area/infrastructure 🏗️

#22283 Shape crash on 125% display size
  src/Controls/src/Core/Shapes/Shape.cs
Labels: platform/windows 🪟, area/drawing ✏️, partner/cat 😻

#22222 [Windows] Avoid Carousel changes the current position when window is resized
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue22000.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue22000.xaml.cs
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Windows.cs
  src/Controls/tests/UITests/Tests/Issues/Issue22000.cs
  src/Controls/tests/UITests/snapshots/android/ResizeCarouselViewKeepsIndex.png
  src/Controls/tests/UITests/snapshots/ios/ResizeCarouselViewKeepsIndex.png
  src/Controls/tests/UITests/snapshots/windows/ResizeCarouselViewKeepsIndex.png
Labels: t/bug, platform/windows 🪟, area/perf 🏎️, area/collectionview 📃

#22294 Don't include removed projects
  src/Templates/src/templates/maui-multiproject/MauiApp.1.sln
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/TemplateTests.cs
Labels: area/templates 📄

#22300 Revert ios button changes
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue22288.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue22288.xaml.cs
  src/Controls/src/Core/Platform/iOS/Extensions/ButtonExtensions.cs
  src/Controls/tests/UITests/Tests/Issues/Issue18242.cs
  src/Controls/tests/UITests/Tests/Issues/Issue22288.cs
Labels: area/perf 🏎️, area/controls 🎮

#22270 Trigger remeasure when constraints on CV changes
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21967.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue21967.xaml.cs
  src/Controls/src/Core/Handlers/Items/Android/Adapters/StructuredItemsViewAdapter.cs
  src/Controls/src/Core/Handlers/Items/Android/ItemContentView.cs
  src/Controls/tests/UITests/Tests/Issues/Issue21967.cs
Labels: t/bug, platform/android 🤖, area/collectionview 📃

#22312 Fix PopoverPresentationController for action sheet
  src/Controls/samples/Controls.Sample.UITests/Issues/Issues16321.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issues16321.xaml.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.iOS.cs
  src/Controls/tests/UITests/Tests/Issues/Issue16321.cs
Labels: platform/iOS 🍎, area/controls 🎮, control-dialogalert

#22282 [build] make `TrimMode=full` function like NativeAOT
  docs/design/FeatureSwitches.md
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/src/Core/StyleSheets/StylePropertyAttribute.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AndroidTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AppleTemplateTests.cs
Labels: area/publishing 🏁

#22089 [ios/catalyst] fix memory leak in modal pages
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
  src/Core/src/Platform/iOS/ContainerViewController.cs
Labels: platform/iOS 🍎, memory-leak 💦

#22335 Update dependabot.yml labels for upstream/infrastructure
  .github/dependabot.yml
Labels: area/infrastructure

#22207 [Android] CarouselView: VirtualView cannot be null here, when clearing and adding items on second navigation - fix
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue22035.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue22035.xaml.cs
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue22035Page2.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue22035Page2.xaml.cs
  src/Controls/src/Core/Handlers/Items/Android/MauiCarouselRecyclerView.cs
  src/Controls/tests/UITests/Tests/Issues/Issue22035.cs
Labels: area-controls-collectionview, community ✨

#22338 Flakey test fixes
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue7823Page2.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue7823Page2.xaml.cs
  src/Controls/tests/UITests/UITest.cs
Labels: area-testing

#22339 Bump to 8.0.60
  eng/Versions.props
Labels: area-infrastructure

#22350 Fix Android multi-window error message notation
  src/Core/src/Platform/Android/ApplicationExtensions.cs
Labels: platform/android 🤖, community ✨, area-controls-window

#22186 fix: fix 22183 RadioButton checked value
  src/Controls/src/Core/RadioButton/RadioButton.cs
  src/Controls/src/Core/RadioButton/RadioButtonGroup.cs
  src/Controls/src/Core/RadioButton/RadioButtonGroupSelectionChanged.cs
  src/Controls/tests/Core.UnitTests/RadioButtonTests.cs
Labels: community ✨, area-controls-radiobutton

#22351 [iOS] FlyoutPage Shadow works incorrectly on iOS - fix
  src/Controls/src/Core/Compatibility/Handlers/FlyoutPage/iOS/PhoneFlyoutPageRenderer.cs
Labels: area-controls-flyoutpage, community ✨

#22367 [release/8.0.1xx-sr5] Try fix package stable version
  eng/Versions.props
Labels: area-infrastructure

#22337 Update dependabot.yml to fix slash vs. dash
  .github/dependabot.yml
Labels: area-infrastructure

#22382 Fix null handling in UpdateIndicatorLayout method (#22361)
  src/Controls/src/Core/IndicatorView/IndicatorView.cs
  src/Controls/tests/Core.UnitTests/IndicatorViewLayoutTests.cs
Labels: area-controls-collectionview, community ✨

#21197 Border has a 1 pixel thickness even when it's thickness property is set to 0 - fix
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20156.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20156.xaml.cs
  src/Controls/src/Core/Border/Border.cs
  src/Controls/tests/UITests/Tests/Issues/Issue20156.cs
  src/Controls/tests/UITests/snapshots/android/BorderShouldHaveNoThickness.png
  src/Controls/tests/UITests/snapshots/ios/BorderShouldHaveNoThickness.png
  src/Controls/tests/UITests/snapshots/windows/BorderShouldHaveNoThickness.png
Labels: area-drawing, area-controls-border

#22385 Add (back) VSMac feedback tool mention when move-to-vs-feedback label is applied
  .github/policies/resourceManagement.yml
Labels: t/housekeeping ♻︎, area/infrastructure 🏗️

#22410 Update policy/workflow automation to use new area labels
  .github/policies/resourceManagement.yml
  .github/workflows/dotnet-format-daily-main.yml
Labels: area-infrastructure

#22420 Revert "Add (back) VSMac feedback tool mention when move-to-vs-feedback label is applied"
  .github/policies/resourceManagement.yml
Labels: t/housekeeping ♻︎, area-infrastructure

#22276 [Windows] Clamp images inside buttons to button width/height
  src/Controls/src/Core/Platform/Windows/Extensions/ButtonExtensions.cs
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
  src/Controls/tests/UITests/snapshots/windows/Issue21513Test.png
  src/Core/src/Platform/Windows/ButtonExtensions.cs
  src/Core/src/Platform/Windows/MauiButton.cs
Labels: platform/windows 🪟, area-controls-button

#22347 Don't propagate VE.Frame changes back down to the Handler
  src/Controls/src/Core/Element/Element.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/tests/Core.UnitTests/TestClasses/BasicVisualElement.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
Labels: area-controls-general

#22431 [ci] Improve maestro artifact publishing
  eng/Versions.props
  eng/pipelines/common/sdk-insertion.yml
  eng/pipelines/maui-release-internal.yml
  eng/pipelines/maui-release.yml
  src/Workload/Shared/Maestro.targets
Labels: area-infrastructure

#22203 Remove implicit reference to Maui Compatibility and template references
  src/Templates/src/templates/maui-blazor-solution/MauiApp.1/MauiApp.1.csproj
  src/Templates/src/templates/maui-blazor/MauiApp.1.csproj
  src/Templates/src/templates/maui-lib/MauiLib1.csproj
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1.Droid/MauiApp.1.Droid.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1.Mac/MauiApp.1.Mac.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1.WinUI/MauiApp.1.WinUI.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1.iOS/MauiApp.1.iOS.csproj
  src/Templates/src/templates/maui-multiproject/MauiApp.1/MauiApp.1.csproj
  src/Workload/Microsoft.Maui.Sdk/Sdk/BundledVersions.in.targets
Labels: area-templates

#21651 Add unit test for button images in layouts
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
Labels: area-testing, community ✨, area-controls-button

#21692 [iOS] FlyoutHeader size change fix
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20696.xaml
  src/Controls/samples/Controls.Sample.UITests/Issues/Issue20696.xaml.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutHeaderContainer.cs
  src/Controls/tests/UITests/Tests/Issues/Issue20696.cs
Labels: platform/iOS 🍎, area-controls-flyoutpage, community ✨, area-controls-flyout

#21959 [WinUI] Cache gesture event subscriptions
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
Labels: platform/windows 🪟, community ✨, area-gestures, t/perf

#22428 Fix arcade warnings and update versions
  eng/Versions.props
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Core/tests/DeviceTests.Shared/Core.DeviceTests.Shared.csproj
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Graphics/tests/DeviceTests/Graphics.DeviceTests.csproj
  src/Graphics/tests/Graphics.Tests/Graphics.Tests.csproj
  src/SingleProject/Resizetizer/test/UnitTests/Resizetizer.UnitTests.csproj
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/DeviceRunner.cs
  src/TestUtils/src/DeviceTests.Runners/VisualRunner/Sinks/DiagnosticMessageSink.cs
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
Labels: area-infrastructure

#22446 [release/9.0.1xx-preview4] Update release versions for net9 preview4
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#22456 [Housekeeping] Remove duplicate tests from LayoutTests
  src/Controls/tests/DeviceTests/Elements/Layout/LayoutTests.cs
Labels: t/housekeeping ♻︎, area-testing

#22459 Update to correct ExcludeMicrosoftNetTestSdk
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Controls/tests/TestCases.Android.Tests/Controls.TestCases.Android.Tests.csproj
  src/Controls/tests/TestCases.Mac.Tests/Controls.TestCases.Mac.Tests.csproj
  src/Controls/tests/TestCases.WinUI.Tests/Controls.TestCases.WinUI.Tests.csproj
  src/Controls/tests/TestCases.iOS.Tests/Controls.TestCases.iOS.Tests.csproj
  src/Controls/tests/TestCases/Controls.TestCases.App.csproj
  src/Core/tests/DeviceTests.Shared/Core.DeviceTests.Shared.csproj
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Graphics/tests/DeviceTests/Graphics.DeviceTests.csproj
  src/TestUtils/src/DeviceTests.Runners/TestUtils.DeviceTests.Runners.csproj
  src/TestUtils/src/DeviceTests/TestUtils.DeviceTests.csproj
  src/TestUtils/src/TestUtils/TestUtils.csproj
Labels: t/housekeeping ♻︎

#22419 enable css for StackBase, remove for StackLayout
  src/Controls/src/Core/Properties/AssemblyInfo.cs
Labels: community ✨

#22399 [net9.0] Update to net9 preview5
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-infrastructure

#22067 [ios/catalyst] fix memory leaks in `*Cell`
  src/Controls/src/Core/Cells/Cell.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/CellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/CellTableViewCell.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/EntryCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ImageCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/SwitchCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/TextCellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ViewCellRenderer.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: platform/iOS 🍎, area-controls-listview, memory-leak 💦

#22483 [Housekeeping] Moved Issue20696 to the correct new TestCases path
  src/Controls/tests/TestCases/Issues/Issue20696.xaml
  src/Controls/tests/TestCases/Issues/Issue20696.xaml.cs
Labels: t/housekeeping ♻︎, area-testing

#22411 Prevent measure in flexlayout during arrange pass
  src/Controls/src/Core/Layout/FlexLayout.cs
  src/Controls/tests/Core.UnitTests/Layouts/FlexLayoutTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20696.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue9075.cs
  src/Controls/tests/TestCases/Issues/Issue9075.xaml
  src/Controls/tests/TestCases/Issues/Issue9075.xaml.cs
  src/Controls/tests/UITests/Tests/Issues/Issue20696.cs
Labels: platform/windows 🪟, area-layout, layout-flex

#21615 [X] generate less IL for x:Array
  src/Controls/src/Build.Tasks/CompiledMarkupExtensions/ArrayExtension.cs
  src/Controls/src/Build.Tasks/CreateObjectVisitor.cs
  src/Controls/tests/Xaml.UnitTests/XArray.xaml
  src/Controls/tests/Xaml.UnitTests/XArray.xaml.cs
Labels: area-xaml

#22488 [X] rename XFC to XC
  src/Controls/src/Build.Tasks/BuildException.cs
  src/Controls/tests/Xaml.UnitTests/MSBuild/MSBuildTests.cs
Labels: area-xaml, t/housekeeping ♻︎

#22496 Add switch to BlazorWebView to configure 'fire and forget' for Android Disposal
  src/BlazorWebView/src/Maui/Android/BlazorWebViewHandler.Android.cs
Labels: area-blazor

#22550 Clean up some of the UI tests code
  src/Compatibility/ControlGallery/test/Shared.Appium.UITests/TestAttributes.cs
  src/Controls/tests/CustomAttributes/Test.cs
  src/Controls/tests/CustomAttributes/TestAttributes.cs
  src/Controls/tests/TestCases.Android.Tests/Controls.TestCases.Android.Tests.csproj
  src/Controls/tests/TestCases.Mac.Tests/Controls.TestCases.Mac.Tests.csproj
  src/Controls/tests/TestCases.Shared.Tests/Controls - Backup.TestCases.Shared.Tests.csproj
  src/Controls/tests/TestCases.Shared.Tests/Controls.TestCases.Shared.Tests.csproj
  src/Controls/tests/TestCases.Shared.Tests/Test.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/ButtonUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CheckBoxUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Concepts/ImageLoadingGalleryTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Concepts/InputTransparencyGalleryTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/DragAndDropUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/EditorUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/GestureRecognizerUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21314.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingGridTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingNonScrollingPageLargeTitlesTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingNonScrollingPageSmallTitlesTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingScrollingPageLargeTitlesTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingScrollingPageSmallTitlesTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/LabelUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/RadioButtonUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/_ViewUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/UITest.cs
  src/Controls/tests/TestCases.Shared.Tests/ViewContainers/BaseViewContainerRemote.cs
  src/Controls/tests/TestCases.Shared.Tests/ViewContainers/LayeredViewContainerRemote.cs
  src/Controls/tests/TestCases.Shared.Tests/ViewContainers/StateViewContainerRemote.cs
  src/Controls/tests/TestCases.Shared.Tests/ViewContainers/ViewContainerRemote.cs
  src/Controls/tests/TestCases.WinUI.Tests/Controls.TestCases.WinUI.Tests.csproj
  src/Controls/tests/TestCases.iOS.Tests/Controls.TestCases.iOS.Tests.csproj
  src/Controls/tests/TestCases/Controls.TestCases.App.csproj
  src/Controls/tests/TestCases/CoreViews/ViewContainers/StateViewContainer.cs
Labels: t/housekeeping ♻︎, area-testing

#22492 App Crash during Scroll Animation while navigating away from Page - fix
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22443.cs
  src/Controls/tests/TestCases/Issues/Issue22443.xaml
  src/Controls/tests/TestCases/Issues/Issue22443.xaml.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Android.cs
Labels: area-animation, community ✨

#21919 [Android] Geolocation IsListeningForeground property is always false
  src/Essentials/src/Geolocation/Geolocation.android.cs
  src/Essentials/test/DeviceTests/Tests/Geolocation_Tests.cs
Labels: platform/android 🤖, area-essentials, community ✨

#22413 Just trigger SizeChanged when Window size changes
  src/Controls/src/Core/Window/Window.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
Labels: community ✨, area-controls-window

#22559 [android] fix design-time build on project creation
  src/Workload/Microsoft.Maui.Sdk/Sdk/Microsoft.Maui.Sdk.After.targets
Labels: area-tooling

#19889 Allow PathFigureCollection to string conversion via converter
  src/Controls/src/Core/Shapes/PathFigureCollectionConverter.cs
  src/Controls/tests/Core.UnitTests/PathFigureCollectionTests.cs
Labels: area-drawing, community ✨

#22546 [Android] Allow custom handler with key listener
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21109.cs
  src/Controls/tests/TestCases/Issues/Issue21109.xaml
  src/Controls/tests/TestCases/Issues/Issue21109.xaml.cs
  src/Controls/tests/TestCases/MauiProgram.cs
  src/Controls/tests/TestCases/Platforms/Android/Issue21109NumericKeyListener.cs
  src/Core/src/Handlers/Entry/EntryHandler.Android.cs
  src/Core/src/Platform/Android/EditTextExtensions.cs
Labels: t/bug, platform/android 🤖, area-controls-entry

#22558 Binding Border.StrokeShape stopped working - fix
  src/Controls/src/Core/Border/Border.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/BindingOnStrokeShapeWithRadius.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/BindingOnStrokeShapeWithoutRadius.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22549.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/BindingOnStrokeShapeWithRadius.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/BindingOnStrokeShapeWithoutRadius.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/BindingOnStrokeShapeWithRadius.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/BindingOnStrokeShapeWithoutRadius.png
  src/Controls/tests/TestCases/Issues/Issue22549.xaml
  src/Controls/tests/TestCases/Issues/Issue22549.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Border.xaml
  src/Controls/tests/Xaml.UnitTests/Border.xaml.cs
Labels: community ✨, area-controls-border

#22554 Only the library projects updates build numbers
  eng/Versions.targets
Labels: area-infrastructure

#22552 Update appium/drivers versions
  eng/pipelines/common/ui-tests-legacy-steps.yml
  eng/pipelines/common/ui-tests-steps.yml
  eng/pipelines/common/ui-tests.yml
  eng/pipelines/common/variables.yml
  eng/scripts/appium-install.ps1
Labels: area-infrastructure

#22481 [WinUI] Optimize `TransformationExtensions`
  src/Core/src/Platform/Windows/TransformationExtensions.cs
Labels: area-animation, community ✨, t/perf

#22524 [Trimming] Remove feature switch which is not necessary anymore
  docs/design/FeatureSwitches.md
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Controls/src/Core/BindablePropertyConverter.cs
  src/Controls/src/Xaml/XamlParser.cs
  src/Core/src/RuntimeFeature.cs
Labels: area-xaml

#22644 Crash on iOS when initializing a TabbedPage without children - fix
  src/Controls/src/Core/Compatibility/Handlers/FlyoutPage/iOS/PhoneFlyoutPageRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/TabbedPage/iOS/TabbedRenderer.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22633.cs
  src/Controls/tests/TestCases/Issues/Issue22633.xaml
  src/Controls/tests/TestCases/Issues/Issue22633.xaml.cs
Labels: area-controls-tabbedpage, community ✨

#22621 [testing] Try xunit 2.6.6 with 2.8.0 vs runner
  eng/Versions.props
Labels: t/housekeeping ♻︎, area-testing

#22346 [Windows] Improve performance of `ContentPanel.EnsureBorderPath`
  src/Core/src/Platform/Windows/ContentPanel.cs
Labels: platform/windows 🪟, legacy-area-perf, community ✨, t/perf

#22281 Stop Android from pinning native references to system services
  src/Essentials/src/Barometer/Barometer.android.cs
  src/Essentials/src/Battery/Battery.android.cs
  src/Essentials/src/Compass/Compass.android.cs
  src/Essentials/src/Connectivity/Connectivity.android.cs
  src/Essentials/src/Flashlight/Flashlight.android.cs
  src/Essentials/src/Geolocation/Geolocation.android.cs
  src/Essentials/src/Gyroscope/Gyroscope.android.cs
  src/Essentials/src/Magnetometer/Magnetometer.android.cs
  src/Essentials/src/OrientationSensor/OrientationSensor.android.cs
  src/Essentials/src/Screenshot/Screenshot.android.cs
Labels: platform/android 🤖, area-essentials, community ✨

#22018 Fixed creation of the CustomTabsActivityManager
  src/Essentials/src/WebAuthenticator/WebAuthenticator.android.cs
Labels: area-essentials, community ✨

#22661 [iOS] Fix ListView Scrolled event not triggering
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ListViewRenderer.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22630.cs
  src/Controls/tests/TestCases/Issues/Issue22630.xaml
  src/Controls/tests/TestCases/Issues/Issue22630.xaml.cs
Labels: t/bug, platform/iOS 🍎, area-controls-listview

#22561 Weak Parent
  src/Controls/src/Core/Element/Element.cs
Labels: area-controls-general, t/perf

#22679 [Testing] Removed repetitive code from UITests
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue16561.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17610.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19956.cs
Labels: t/housekeeping ♻︎, area-testing

#22691 [ci] Update packages System.Drawing
  eng/NuGetVersions.targets
  eng/Versions.props
  src/SingleProject/Resizetizer/src/ResizetizerPackages.projitems
Labels: area-infrastructure

#22684 [Testing] Added attribute to mark (and ignore) flaky UI Tests
  src/Controls/tests/TestCases.Shared.Tests/Tests/FlakyTestAttribute.cs
Labels: t/housekeeping ♻︎, area-testing

#22650 [Windows] Remove workaround for label text decorations
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21787.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LabelTextDecorationsWorks.png
  src/Controls/tests/TestCases/Issues/Issue21787.xaml
  src/Controls/tests/TestCases/Issues/Issue21787.xaml.cs
  src/Core/src/Platform/Windows/TextBlockExtensions.cs
Labels: platform/windows 🪟, community ✨, area-controls-label, t/perf

#22589 IllegalArgumentException when changing number of tabbar pages - fix
  src/Controls/src/Core/Platform/Android/BottomNavigationViewUtils.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18251.cs
  src/Controls/tests/TestCases/Issues/Issue18251.xaml
  src/Controls/tests/TestCases/Issues/Issue18251.xaml.cs
Labels: platform/android 🤖, area-controls-shell, community ✨

#22689 [ci] Update Maestro.targets
  src/Workload/Shared/Maestro.targets
Labels: area-infrastructure

#22008 [XC] Compile TemplateBindingExtension
  src/Controls/src/Build.Tasks/SetPropertiesVisitor.cs
  src/Controls/src/Xaml/MarkupExtensions/TemplateBindingExtension.cs
  src/Controls/src/Xaml/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Controls/src/Xaml/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Controls/src/Xaml/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Controls/src/Xaml/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Controls/src/Xaml/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Controls/src/Xaml/PublicAPI/net/PublicAPI.Shipped.txt
  src/Controls/src/Xaml/PublicAPI/netstandard/PublicAPI.Shipped.txt
  src/Controls/tests/Xaml.UnitTests/TemplateBindingsCompiler.xaml
  src/Controls/tests/Xaml.UnitTests/TemplateBindingsCompiler.xaml.cs
Labels: area-xaml

#22622 Add a bunch of button tests
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue22433_Default.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue22433_Layout.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue22433_Spacing.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22433.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue22433_Default.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue22433_Layout.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue22433_Spacing.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue22433_Default.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue22433_Layout.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue22433_Spacing.png
  src/Controls/tests/TestCases/Issues/Issue22433_Default.xaml
  src/Controls/tests/TestCases/Issues/Issue22433_Default.xaml.cs
  src/Controls/tests/TestCases/Issues/Issue22433_Layout.xaml
  src/Controls/tests/TestCases/Issues/Issue22433_Layout.xaml.cs
  src/Controls/tests/TestCases/Issues/Issue22433_Spacing.xaml
  src/Controls/tests/TestCases/Issues/Issue22433_Spacing.xaml.cs
  src/Controls/tests/TestCases/Resources/Styles/ButtonDefaultStyles.xaml
Labels: area-testing, area-controls-button

#22707 We don't need System.Drawing
  src/SingleProject/Resizetizer/src/TizenSplashUpdater.cs
Labels: t/housekeeping ♻︎, platform/tizen

#22664 [XC] Fix loading non-compiled ResourceDictionary
  src/Controls/src/Build.Tasks/CompiledConverters/RDSourceTypeConverter.cs
  src/Controls/src/Xaml/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/ResourceDictionaryHelpers.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22536.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22536.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22536ResourceDictionary.xaml
Labels: area-xaml

#21648 Update SkiaSharp
  eng/Versions.props
Labels: area-drawing

#22626 Make sure to redraw the background drawable when the size is updated
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/BorderBackgroundSizeUpdatesWhenRotatingScreen.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue22606_SetHeightTo200.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue22606_SetHeightTo500.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22606.cs
  src/Controls/tests/TestCases.Shared.Tests/UITest.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue22606_SetHeightTo200.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue22606_SetHeightTo500.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/BorderBackgroundSizeUpdatesWhenRotatingScreen.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue22606_SetHeightTo200.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue22606_SetHeightTo500.png
  src/Controls/tests/TestCases/Issues/Issue22606.xaml
  src/Controls/tests/TestCases/Issues/Issue22606.xaml.cs
  src/Core/src/Graphics/MauiDrawable.Android.cs
  src/TestUtils/src/UITest.NUnit/UITestBase.cs
Labels: t/bug, platform/android 🤖, area-drawing

#22726 [iOS] Crash because of FontIconSource - fix
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22682.cs
  src/Controls/tests/TestCases/Issues/Issue22682.xaml
  src/Controls/tests/TestCases/Issues/Issue22682.xaml.cs
  src/Core/src/ImageSources/iOS/ImageSourceExtensions.cs
Labels: community ✨

#22758 Add .NET 9 preview 4 to bug template
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: t/housekeeping ♻︎, area-infrastructure

#22737 Correct path to gather API docs artifacts in CI
  eng/cake/dotnet.cake
  src/Controls/docs/Microsoft.Maui.Controls/Application.xml
Labels: area-docs, t/housekeeping ♻︎, area-infrastructure
