Repository dotnet/maui, pull requests merged in 2025-04, with the labels that each got.

#28724 [ci] Fix publish zip for insertions
  eng/Publishing.props
Labels: area-infrastructure

#28730 [ci] Fix variable _UploadPathRoot
  eng/Publishing.props
Labels: area-infrastructure, area/infrastructure 🏗️

#28690 Fixed iOS cell resizing issue #23319
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/CellRenderer.cs
Labels: community ✨, area-controls-listview

#28740 [ci] Fix naming of workloads
  src/Workload/workloads.csproj
Labels: area-infrastructure, area/infrastructure 🏗️

#28610 [iOS] CollectionView footer sizing when source is empty - fix
  src/Controls/src/Core/Handlers/Items/iOS/StructuredItemsViewController.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/FooterWithEmptyCVShouldHaveCorrectSize.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue28580.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue28580.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/FooterWithEmptyCVShouldHaveCorrectSize.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28580.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/FooterWithEmptyCVShouldHaveCorrectSize.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/FooterWithEmptyCVShouldHaveCorrectSize.png
Labels: platform/iOS 🍎, area-controls-collectionview, community ✨

#28758 Obsolete platform-specific ListView APIs
  src/Controls/samples/Controls.Sample/Maui.Controls.Sample.csproj
  src/Controls/src/Core/Compatibility/Handlers/ListView/Android/ListViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/Windows/ListViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/CellRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ListViewRenderer.cs
  src/Controls/src/Core/PlatformConfiguration/AndroidSpecific/ListView.cs
  src/Controls/src/Core/PlatformConfiguration/AndroidSpecific/ViewCell.cs
  src/Controls/src/Core/PlatformConfiguration/WindowsSpecific/ListView.cs
  src/Controls/src/Core/PlatformConfiguration/iOSSpecific/Cell.cs
  src/Controls/src/Core/PlatformConfiguration/iOSSpecific/ListView.cs
  src/Controls/tests/TestCases.HostApp/Controls.TestCases.HostApp.csproj
Labels: t/breaking 💥, area-controls-listview

#28670 Fix iOS CollectionView not reacting properly to orientation changes
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewCell.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/StructuredItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/TemplatedCell.cs
  src/Controls/src/Core/Handlers/Items2/iOS/ItemsViewCell2.cs
  src/Controls/src/Core/Handlers/Items2/iOS/TemplatedCell2.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/AccessibilityTraitsSetCorrectlyMultiple.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/AccessibilityTraitsSetCorrectlyNone.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/AccessibilityTraitsSetCorrectlySingle.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/HeaderFooterGridWorks.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/HeaderFooterTemplateWorks.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue11896.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue25362.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue28657.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/AccessibilityTraitsSetCorrectlyMultiple.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/AccessibilityTraitsSetCorrectlyNone.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/AccessibilityTraitsSetCorrectlySingle.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CollectionViewMeasureFirstItem.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/CollectionView/CollectionViewUITests.HeaderAndFooter.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25671.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26817.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28657.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/AccessibilityTraitsSetCorrectlyMultiple.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/AccessibilityTraitsSetCorrectlyNone.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/AccessibilityTraitsSetCorrectlySingle.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CarouselViewItemsShouldRenderVertically.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CollectionViewHeaderBlankWhenLastItemRemoved.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CollectionViewMeasureFirstItem.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CollectionviewFooterHideswhenDynamicallyAddorRemoveItems.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/HeaderFooterGridWorks.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/HeaderFooterTemplateWorks.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/HeaderShouldNotCollapseWithItems.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue28657_Landscape.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue28657_Portrait.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/RefreshShouldNotChangeSize.png
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: platform/iOS 🍎, p/0, area-controls-collectionview, community ✨

#28636 [Android] Fix for SearchHandler Placeholder did not update when changed at runtime
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/SearchHandlerAppearanceTracker.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySearchHandlerPlaceholderText.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue28634.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifySearchHandlerPlaceholderText.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28634.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifySearchHandlerPlaceholderText.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySearchHandlerPlaceholderText.png
Labels: platform/android 🤖, area-controls-shell, community ✨, partner/syncfusion

#28496 [Testing] Migration of Compatibility.Core platform-specific unit tests into device tests - 8
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.Windows.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.iOS.cs
  src/Controls/tests/DeviceTests/Elements/Page/PageTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Page/PageTests.iOS.cs
  src/Core/tests/DeviceTests/Handlers/ImageButton/ImageButtonHandlerTests.iOS.cs
Labels: area-testing, community ✨, partner/syncfusion

#28764 [Testing] Fix for flaky UITests in CI that occasionally fail - 7
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/EntryClearButtonColorShouldMatchTextColor.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.LoopNoFreeze.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3049.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue12652.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue892.cs
Labels: area-testing, community ✨, partner/syncfusion

#28510 Update CommunityToolkit.Maui reference in sample content template
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
  src/Templates/src/templates/maui-mobile/Pages/MainPage.xaml
  src/Templates/src/templates/maui-mobile/Pages/ManageMetaPage.xaml
Labels: p/0, area-templates

#28747 [Testing] Fix for flaky UITests in CI that occasionally fail - 6
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/TextInEditorShouldScroll.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19500.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25473.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyEntryClearButtonVisibilitySetToNever.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyEntryClearButtonVisibilitySetToWhileEditing.png
Labels: area-testing, community ✨, partner/syncfusion

#28807 [Testing] Fix for flaky Issue19509Test in CI
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19509.cs
Labels: area-testing, community ✨, partner/syncfusion

#28803 [Testing] Resaved TabbedPage UI Test Images for Catalyst Due to Tab Bar Background Color Variations
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/DynamicFontImageSourceColorShouldApplyOnTabIcon.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/FontImageSourceColorShouldApplyOnTabIcon.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue22899Test.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SelectedTabIconShouldChangeColor.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/TabbedPageBackButtonUpdated.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/UpdatedSelectionIndicatorProperly.png
Labels: area-testing, community ✨, partner/syncfusion

#28702 Fixed ListView leak caused by not disposed ContextActionsCell
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ListViewRenderer.cs
Labels: community ✨, area-controls-listview, memory-leak 💦, t/perf

#28828 [Testing] Fix for flaky UITests in CI that occasionally fail - 8
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/HeaderFooterGridHorizontalWorks.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla34912.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue7678.cs
Labels: area-testing, community ✨, partner/syncfusion

#28756 Cleanup virtual layer measure invalidation
  src/Controls/src/Core/ContentPresenter.cs
  src/Controls/src/Core/InvalidationEventArgs.cs
  src/Controls/src/Core/LegacyLayouts/Layout.cs
  src/Controls/src/Core/LegacyLayouts/StackLayout.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/ScrollView/ScrollView.cs
  src/Controls/src/Core/TemplatedView/TemplatedView.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/tests/Core.UnitTests/PageTests.cs
Labels: area-layout, community ✨

#28780 Fixed Test case failure in PR 28486
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/EntryClearButtonColorShouldMatchTextColor.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ReorderBetweenGroupsShouldNotOccurWhenCanMixGroupsIsFalse.png
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
Labels: community ✨, partner/syncfusion, test-flight

#28746 [Windows] - Fix Visual State Issue with Picker TextColor After Navigation
  src/Controls/tests/TestCases.HostApp/Issues/Issue28536.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28536.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CheckNavigationBreaksVisualStatesForPicker.png
  src/Core/src/Platform/Windows/PickerExtensions.cs
Labels: platform/windows 🪟, community ✨, area-controls-picker, partner/syncfusion

#28802 Revert "Fix HideSoftInputOnTapped Not Working Net9 "
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.Android.cs
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.Platform.cs
  src/Controls/src/Core/ContentPage/HideSoftInputOnTappedChanged/HideSoftInputOnTappedChangedManager.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue26792.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26792.cs
Labels: platform/android 🤖, community ✨, partner/syncfusion, test-flight

#28768 Revert Applying visibility change to child controls
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/tests/Core.UnitTests/VisualElementTests.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Issue1549.cs
Labels: p/0, area-controls-general

#28864 The footer position is not on the far right of the horizontal grid - fix
  src/Controls/src/Core/Handlers/Items/iOS/StructuredItemsViewController.cs
  src/Controls/tests/TestCases.HostApp/Elements/CollectionView/HeaderFooterGalleries/HeaderFooterGallery.cs
  src/Controls/tests/TestCases.HostApp/Elements/CollectionView/HeaderFooterGalleries/HeaderFooterViewHorizontal.xaml
  src/Controls/tests/TestCases.HostApp/Elements/CollectionView/HeaderFooterGalleries/HeaderFooterViewHorizontal.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CollectionView/CollectionViewUITests.HeaderAndFooter.cs
Labels: p/0, area-controls-collectionview, community ✨

#28804 [iOS] Fix for Transparent Background Color not applied to WebView
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyWebViewBackgroundColor.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyWebViewDynamicBackgroundColor.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue28714.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyWebViewBackgroundColor.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyWebViewDynamicBackgroundColor.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28714.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyWebViewBackgroundColor.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyWebViewDynamicBackgroundColor.png
  src/Core/src/Handlers/WebView/WebViewHandler.cs
  src/Core/src/Handlers/WebView/WebViewHandler.iOS.cs
Labels: platform/iOS 🍎, community ✨, area-controls-webview, partner/syncfusion

#28868 Revert "[Accessibility] Add 'button' for TalkBalk on Android Tap Gesture Recognizers"
  src/Controls/src/Core/Platform/Android/Extensions/SemanticExtensions.cs
  src/Controls/src/Core/Platform/SemanticExtensions.cs
Labels: p/0, area-gestures, t/a11y

#28873 Revert "Revert "Cleanup virtual layer measure invalidation (#28756)" (#28872)"
  src/Compatibility/Core/tests/Compatibility.UnitTests/StackLayoutUnitTests.cs
  src/Controls/src/Core/ContentPresenter.cs
  src/Controls/src/Core/InvalidationEventArgs.cs
  src/Controls/src/Core/LegacyLayouts/Layout.cs
  src/Controls/src/Core/LegacyLayouts/StackLayout.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/ScrollView/ScrollView.cs
  src/Controls/src/Core/TemplatedView/TemplatedView.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/tests/Core.UnitTests/PageTests.cs
Labels: area-layout, community ✨

#28887 [Testing] Fix for flaky tests which randomly fails on CI - 9
  src/Controls/tests/TestCases.HostApp/Issues/Issue10222.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/DragAndDropUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue10222.cs
Labels: area-testing, community ✨, partner/syncfusion

#28871 [release/9.0.1xx-sr5] Backport uitest fixes to .NET9 SR5
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/BlankScreenOnNavigationBack.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue28098.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue28098.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/EntryClearButtonColorShouldMatchTextColor.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue22899Test.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SelectedTabIconShouldChangeColor.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/UpdatedSelectionIndicatorProperly.png
Labels: area-testing

#28889 Fixed Test case failure in PR 28867
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Windows.cs
Labels: p/0, community ✨, partner/syncfusion, test-flight

#28641 [iOS] - Resolved Proper Rendering of Dynamic Header/Footer Updates in CV2
  src/Controls/src/Core/Handlers/Items2/CollectionViewHandler2.iOS.cs
  src/Controls/src/Core/Handlers/Items2/iOS/GroupableItemsViewController2.cs
  src/Controls/src/Core/Handlers/Items2/iOS/StructuredItemsViewController2.cs
  src/Controls/src/Core/Handlers/Items2/iOS/TemplatedCell2.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue28509.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28509.cs
Labels: platform/iOS 🍎, area-controls-collectionview, community ✨, partner/syncfusion

#28911 [Android] Fixed ScalingCanvas.SetBlur not working
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CanvasShouldHonorBlur.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue8632.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8632.cs
  src/Graphics/src/Graphics/Platforms/Android/PlatformCanvas.cs
Labels: area-drawing, community ✨, partner/syncfusion

#28499 [Windows] Upgrade to Windows App SDK 1.7
  eng/Versions.props
  src/Templates/tests/Directory.Build.targets
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/WindowsTemplateTest.cs
Labels: platform/windows 🪟, area-infrastructure, community ✨, partner/syncfusion/review

#28884 [iOS] Fix FlyoutPage does not respond to changes in the FlyoutLayoutBehavior property
  src/Controls/src/Core/Compatibility/Handlers/FlyoutPage/iOS/PhoneFlyoutPageRenderer.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue18158.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18158.cs
Labels: platform/iOS 🍎, area-controls-flyoutpage, community ✨, partner/syncfusion

#28310 [XC] add IRootObjectProvider
  src/Controls/src/Build.Tasks/NodeILExtensions.cs
  src/Controls/src/Build.Tasks/XamlCache.cs
  src/Controls/src/Xaml/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/XamlServiceProvider.cs
  src/Controls/tests/Xaml.UnitTests/ServiceProviderTests.xaml
  src/Controls/tests/Xaml.UnitTests/ServiceProviderTests.xaml.cs
Labels: area-xaml

#28479 Stop iOS SetNeedsLayout propagation by looking at VisualElement computed Constraint
  src/Controls/src/Core/Compatibility/Handlers/iOS/VisualElementRenderer.cs
  src/Controls/src/Core/Handlers/Items/iOS/MauiCollectionView.cs
  src/Controls/src/Core/Handlers/Items/iOS/TemplatedCell.cs
  src/Controls/src/Core/Handlers/Items2/iOS/TemplatedCell2.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Core/src/Core/IConstrainedView.cs
  src/Core/src/Handlers/Page/PageHandler.iOS.cs
  src/Core/src/Platform/iOS/ContentView.cs
  src/Core/src/Platform/iOS/IPlatformMeasureInvalidationController.cs
  src/Core/src/Platform/iOS/MauiScrollView.cs
  src/Core/src/Platform/iOS/MauiView.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/src/Platform/iOS/WrapperView.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: area-layout, platform/iOS 🍎, community ✨

#28956 [Testing]Fix some Flaky UI tests that fails on android
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.RemoveAt.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue10608.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue2809.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: community ✨, testing-flakiness

#29000 [ci] Update arcade
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#28980 [net10.0] Update arcade
  .config/dotnet-tools.json
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/core-templates/job/publish-build-assets.yml
  eng/common/core-templates/post-build/post-build.yml
  eng/common/core-templates/steps/install-microbuild.yml
  eng/common/post-build/publish-using-darc.ps1
  eng/common/sdl/packages.config
  global.json
Labels: area-infrastructure

#28964 Fixed Test case failure in PR 28867
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ReorderBetweenGroupsShouldNotOccurWhenCanMixGroupsIsFalse.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue28530.xaml
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ReorderBetweenGroupsShouldNotOccurWhenCanMixGroupsIsFalse.png
Labels: platform/iOS 🍎, community ✨, collectionview-cv2, partner/syncfusion, test-flight

#28984 Add IsAspireSharedProject prop to ServiceDefaults template
  src/Templates/src/templates/maui-aspire-servicedefaults/Maui.ServiceDefaults.csproj
Labels: area-templates

#29005 Avoid qualified name in x:Type binding for Blazor Hybrid template
  src/Templates/src/templates/maui-blazor/MainPage.xaml
Labels: area-templates

#28971 [iOS] CollectionView footer sizing when source is empty in SR5
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/MauiCollectionView.cs
  src/Controls/src/Core/Handlers/Items/iOS/StructuredItemsViewController.cs
Labels: p/0, area-controls-collectionview, community ✨, partner/syncfusion

#29030 [workloads] Remove Emscripten references
  src/DotNet/Dependencies/Workloads.csproj
  src/Workload/Microsoft.NET.Sdk.Maui.Manifest/Rollback.in.json
Labels: area-infrastructure

#29029 [Testing] Update UIAutomator2 driver version
  eng/Versions.props
Labels: area-testing

#29026 [Testing] Fix for flaky tests which randomly fails on CI - 10
  src/Controls/tests/TestCases.HostApp/Issues/Issue18443.xaml
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19500.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/EntrySelectionLengthRuntimeUpdate.png
Labels: area-testing, community ✨, partner/syncfusion

#27845 [Windows] - Handle Dynamic Updates for CanDrag and AllowDrop in Drag and Drop Gesture
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue12726.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue12726.cs
Labels: platform/windows 🪟, community ✨, area-gestures, partner/syncfusion

#28354 [Android][iOS] WebView Navigated event not triggered when using HtmlWebViewSource
  src/Controls/tests/TestCases.HostApp/Issues/Issue23502.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23502.cs
  src/Core/src/Handlers/WebView/WebViewHandler.Android.cs
  src/Core/src/Platform/Android/MauiWebViewClient.cs
  src/Core/src/Platform/iOS/MauiWebViewNavigationDelegate.cs
Labels: platform/android 🤖, platform/iOS 🍎, community ✨, area-controls-webview, partner/syncfusion

#28638 Fixed Refresh Color not applying to RefreshView initially.
  src/Controls/tests/TestCases.HostApp/Issues/Issue16973.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue16973.cs
  src/Core/src/Handlers/RefreshView/RefreshViewHandler.Windows.cs
Labels: community ✨, area-controls-refreshview, partner/syncfusion

#28932 [Windows] Fixed BarTextColor applied to secondary toolbar items
  src/Controls/src/Core/Toolbar/Toolbar.Windows.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue20177.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20177.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ToolBarSecondayItemsShouldNotUseBarTextColor.png
Labels: platform/windows 🪟, community ✨, partner/syncfusion

#29019 Exclude .NET bot for sample content template
  src/Templates/src/templates/maui-mobile/.template.config/template.json
  src/Templates/src/templates/maui-mobile/MauiApp.1.csproj
Labels: area-templates

#28495 [net10.0, Testing] Enabled failed UITests for Switch control due to new OffColor API.
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/UpdatedIsEnabledProperty.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifySwitchNullColor.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifySwitchOffColorAfterToggling.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifySwitchOffColorAfterTogglingDarkTheme.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue15695.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23608.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8263.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SwitchOnOffVisualStatesTest_SwitchOn.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/UpdatedIsEnabledProperty.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SwitchOnOffVisualStatesTest_SwitchOn.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/UpdatedIsEnabledProperty.png
Labels: area-testing, community ✨, partner/syncfusion

#27930 Nullable TimePicker (make Time nullable)
  src/Compatibility/Core/src/Android/Renderers/TimePickerRenderer.cs
  src/Compatibility/Core/src/Windows/TimePickerRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/TimePickerRenderer.cs
  src/Controls/samples/Controls.Sample/Pages/Controls/TimePickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/TimePickerPage.xaml.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/TimePicker/TimePicker.Mapper.cs
  src/Controls/src/Core/TimePicker/TimePicker.cs
  src/Controls/tests/Core.UnitTests/NotifiedPropertiesTests.cs
  src/Controls/tests/Core.UnitTests/TimePickerUnitTest.cs
  src/Core/src/Core/ITimePicker.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.Android.cs
  src/Core/src/Handlers/TimePicker/TimePickerHandler.Windows.cs
  src/Core/src/Platform/Android/TimePickerExtensions.cs
  src/Core/src/Platform/TimeExtensions.cs
  src/Core/src/Platform/Windows/TimePickerExtensions.cs
  src/Core/src/Platform/iOS/DatePickerExtensions.cs
  src/Core/src/Platform/iOS/MauiTimePicker.cs
  src/Core/src/Platform/iOS/TimePickerExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Stubs/TimePickerStub.cs
Labels: t/breaking 💥, area-controls-datetimepicker

#29049 Fixed Test case failure in PR 29037 - [2025/04/21] Candidate
  src/Controls/src/Core/Compatibility/Handlers/FlyoutPage/iOS/PhoneFlyoutPageRenderer.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CheckNavigationBreaksVisualStatesForPicker.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CheckNavigationBreaksVisualStatesForPicker.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28536.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8632.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/CheckNavigationBreaksVisualStatesForPicker.png
Labels: area-testing, community ✨, partner/syncfusion, test-flight

#24027 [Android] MediaPicker: Use New Photo Picker
  src/Essentials/src/Essentials.csproj
  src/Essentials/src/MediaPicker/MediaPicker.android.cs
  src/Essentials/src/Platform/ActivityForResultRequest.android.cs
  src/Essentials/src/Platform/ActivityResultCallback.android.cs
  src/Essentials/src/Platform/ActivityStateManager.android.cs
  src/Essentials/src/Platform/PickVisualMediaForResult.android.cs
Labels: area-essentials, community ✨

#29035 Fix CarouselView layout SR6 regressions
  src/Controls/src/Core/Handlers/Items/iOS/CarouselTemplatedCell.cs
  src/Controls/src/Core/Handlers/Items/iOS/CarouselViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items2/CarouselViewHandler2.iOS.cs
  src/Controls/src/Core/Handlers/Items2/iOS/CarouselTemplatedCell2.cs
  src/Controls/src/Core/Handlers/Items2/iOS/CarouselViewController2.cs
  src/Controls/src/Core/Handlers/Items2/iOS/ItemsViewController2.cs
  src/Controls/src/Core/Handlers/Items2/iOS/TemplatedCell2.cs
  src/Controls/tests/TestCases.HostApp/Issues/CarouselViewLoopNoFreeze.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue28930.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue28930.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CarouselViewItemsShouldRenderVertically.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28930.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: community ✨

#28679 [Testing] Feature Matrix UITest Cases for CollectionView EmptyView Feature
  src/Controls/tests/TestCases.HostApp/CoreViews/CorePageView.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/CollectionViewFeaturePage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/CollectionViewFeaturePage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/EmptyView/CollectionViewEmptyViewPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/EmptyView/CollectionViewEmptyViewPage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/EmptyView/EmptyViewOptionsPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/EmptyView/EmptyViewOptionsPage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/HeaderFooter/CollectionViewHeaderPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/HeaderFooter/CollectionViewHeaderPage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/HeaderFooter/HeaderFooterOptionsPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/HeaderFooter/HeaderFooterOptionsPage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/HeaderFooterMainPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/HeaderFooterMainPage.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/CollectionView_EmptyViewFeatureTests.cs
Labels: area-testing, community ✨, partner/syncfusion

#29062 Backport CarouselView layout SR6 regressions
  src/Controls/src/Core/Handlers/Items/iOS/CarouselTemplatedCell.cs
  src/Controls/src/Core/Handlers/Items/iOS/CarouselViewController.cs
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items2/CarouselViewHandler2.iOS.cs
  src/Controls/src/Core/Handlers/Items2/iOS/CarouselTemplatedCell2.cs
  src/Controls/src/Core/Handlers/Items2/iOS/CarouselViewController2.cs
  src/Controls/src/Core/Handlers/Items2/iOS/ItemsViewController2.cs
  src/Controls/src/Core/Handlers/Items2/iOS/TemplatedCell2.cs
  src/Controls/tests/TestCases.HostApp/Issues/CarouselViewLoopNoFreeze.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue28930.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue28930.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CarouselViewItemsShouldRenderVertically.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28930.cs
  src/Core/src/Layouts/GridLayoutManager.cs
  src/Core/tests/UnitTests/Layouts/GridLayoutManagerTests.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-controls-collectionview, community ✨

#28429 [Android][NET 10] Fix: Ensure Image consumes touches properly
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue6262.cs
  src/Core/src/Handlers/Image/ImageHandler.Android.cs
  src/Core/src/Handlers/Image/ImageHandler.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: proposal/open, platform/android 🤖, area-image, community ✨, area-gestures

#29127 Add testing note to GitHub PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: t/housekeeping ♻︎, area-infrastructure

#29122 Fixed the CollectionView grouped item highlighting issue on selection
  src/Controls/src/Core/Handlers/Items/iOS/ObservableGroupedSource.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SelectionShouldNotMovedToTopWithGroupedCollection.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue22320.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22320.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SelectionShouldNotMovedToTopWithGroupedCollection.png
Labels: community ✨, partner/syncfusion

#29058 [Windows]Fix Dot based Date Format property in DatePicker not working on Windows
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyDatePickerDotBasedDateFormat.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue10805.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue10805.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyDatePickerDotBasedDateFormat.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyDatePickerDotBasedDateFormat.png
  src/Core/src/Platform/Windows/CalendarDatePickerExtensions.cs
Labels: platform/windows 🪟, community ✨, area-controls-datetimepicker, partner/syncfusion

#29139 [Windows] Bump `Microsoft.Web.WebView2` from `1.0.2903.40` to `1.0.3179.45`
  eng/Versions.props
Labels: community ✨

#29159 [Inflight] Fix Build Issue in [2025/04/28] Candidate
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19831.cs
Labels: community ✨

#29124 [ci] Update stable versions
  eng/Versions.props
Labels: area-infrastructure, area-sfi

#28994 Remove InternalsVisibleTo for Toolkit
  src/Controls/src/Core/ICornerElement.cs
  src/Controls/src/Core/ILineHeightElement.cs
  src/Controls/src/Core/ITextAlignmentElement.cs
  src/Controls/src/Core/ITextElement.cs
  src/Controls/src/Core/Properties/AssemblyInfo.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Xaml/Properties/AssemblyInfo.cs
  src/Core/src/Properties/AssemblyInfo.cs
  src/Essentials/src/AssemblyInfo/AssemblyInfo.shared.cs
Labels: t/breaking 💥, area-architecture

#28682 Replace obsolete iOS BeginImageContextWithOptions
  src/Compatibility/Core/src/iOS/Renderers/FormsCheckBox.cs
  src/Compatibility/Core/src/iOS/Renderers/ImageRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/SwipeViewRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/src/Core/Platform/iOS/Extensions/BrushExtensions.cs
  src/Core/src/Handlers/SwipeItemMenuItem/SwipeItemMenuItemHandler.iOS.cs
  src/Core/src/ImageSources/iOS/ImageSourceExtensions.cs
  src/Core/src/Platform/iOS/TextFieldExtensions.cs
  src/Core/tests/DeviceTests.Shared/ImageAnalysis/RawBitmap.cs
  src/Core/tests/DeviceTests/Services/ImageSource/BaseImageSourceServiceTests.iOS.cs
  src/Core/tests/DeviceTests/Services/ImageSource/FileImageSourceServiceTests.cs
  src/Core/tests/DeviceTests/Services/ImageSource/StreamImageSourceServiceTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/CountedImageSourceServiceStub.iOS.cs
  src/Core/tests/DeviceTests/Stubs/CustomImageCacheStub.iOS.cs
  src/Core/tests/DeviceTests/Stubs/CustomImageSourceServiceStub.iOS.cs
  src/Essentials/src/Screenshot/Screenshot.ios.cs
  src/Graphics/src/Graphics/Platforms/iOS/UIImageExtensions.cs
Labels: platform/iOS 🍎, t/housekeeping ♻︎, p/0, area-controls-general

#29161 [Testing][Inflight] Fix failing test case in [2025/04/28] Candidate
  src/Controls/tests/TestCases.HostApp/Issues/Issue19831.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19831.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SelectionShouldNotMovedToTopWithGroupedCollection.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SelectionShouldNotMovedToTopWithGroupedCollection.png
Labels: area-testing, community ✨, test-flight

#29168 Fixed Test case failure in PR 29158 - [2025/04/28] Candidate
  src/Controls/tests/TestCases.HostApp/Issues/Issue17105.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/HidePasswordHint.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla32615.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28098.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8529.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/BlankScreenOnNavigationBack.png
Labels: area-testing, community ✨, partner/syncfusion, test-flight

#29213 fixed typo in Connectivity.shared.cs
  src/Essentials/src/Connectivity/Connectivity.shared.cs
Labels: area-essentials, community ✨

#29165 [Testing] Feature Matrix UITest Cases for CollectionView Selection Feature
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySelectionModeMultipleWhenProgrammaticSelectionWhithItemsSourceGroupList.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySelectionModeMultipleWhenProgrammaticSelectionWorksWithHorizontalList.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySelectionModeMultipleWhenProgrammaticSelectionWorksWithVerticalList.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySelectionModeSingleWhenProgrammaticSelectionWhithItemsSourceGroupList.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySelectionModeSingleWhenProgrammaticSelectionWorksWithHorizontalList.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySelectionModeSingleWhenProgrammaticSelectionWorksWithVerticalList.png
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/CollectionViewFeaturePage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/CollectionViewFeaturePage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/CollectionViewViewModel.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/Selection/CollectionViewSelectionPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/Selection/CollectionViewSelectionPage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/Selection/SelectionOptionsPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/Selection/SelectionOptionsPage.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifySelectionModeSingleWhenProgrammaticSelectionWorksWithVerticalList.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/CollectionView_SelectionFeatureTests.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifySelectionModeMultipleWhenProgrammaticSelectionWorksWithVerticalList.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifySelectionModeSingleWhenProgrammaticSelectionWorksWithVerticalList.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySelectionModeMultipleWhenProgrammaticSelectionWorksWithVerticalList.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySelectionModeSingleWhenProgrammaticSelectionWorksWithVerticalList.png
Labels: area-testing, community ✨, partner/syncfusion

#29143 [net 10.0 Testing] Enabled CachedFilenameIsCorrectAndValid test
  src/Core/tests/DeviceTests/Services/ImageSource/UriImageSourceServiceTests.iOS.cs
Labels: area-testing, community ✨, partner/syncfusion

#29024 Fixed - On iOS GestureRecognizers don't work on Span in a Label, which doesn't get IsVisible (=true) update from its parent
  src/Controls/src/Core/Label/Label.iOS.cs
  src/Controls/src/Core/Platform/iOS/Extensions/FormattedStringExtensions.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue28949.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28949.cs
Labels: platform/iOS 🍎, community ✨, area-controls-label, partner/syncfusion

#28779 [Android] Fixed the CollectionView Header and Footer Do Not Align with Horizontal ItemsLayout When EmptyView is Displayed"
  src/Controls/src/Core/Handlers/Items/Android/MauiRecyclerView.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ItemsLayoutShouldRenderProperlyOnEmptyView.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue28622.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue28622.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28622.cs
Labels: platform/android 🤖, area-controls-collectionview, community ✨, partner/syncfusion

#27921 Nullable DatePicker (make Date, MinimumDate & MaximumDate nullable)
  src/Compatibility/Core/src/Android/Renderers/DatePickerRenderer.cs
  src/Compatibility/Core/src/Windows/DatePickerRenderer.cs
  src/Compatibility/Core/src/iOS/Renderers/DatePickerRenderer.cs
  src/Controls/docs/Microsoft.Maui.Controls/DateChangedEventArgs.xml
  src/Controls/samples/Controls.Sample/Pages/Controls/DatePickerPage.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/DatePickerPage.xaml.cs
  src/Controls/src/Core/DateChangedEventArgs.cs
  src/Controls/src/Core/DatePicker/DatePicker.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/DatePickerUnitTest.cs
  src/Controls/tests/Core.UnitTests/NotifiedPropertiesTests.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Unreported008.xaml.cs
  src/Core/src/Core/IDatePicker.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Android.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.MacCatalyst.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.Windows.cs
  src/Core/src/Handlers/DatePicker/DatePickerHandler.iOS.cs
  src/Core/src/Platform/Android/DatePickerExtensions.cs
  src/Core/src/Platform/Windows/DatePickerExtensions.cs
  src/Core/src/Platform/iOS/DateExtensions.cs
  src/Core/src/Platform/iOS/DatePickerExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.Android.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Handlers/DatePicker/DatePickerHandlerTests.iOS.cs
  src/Core/tests/DeviceTests/Stubs/DatePickerStub.cs
Labels: t/breaking 💥, area-controls-datetimepicker

#29123 Changes in Android cake to fix emulator boot issues on Linux
  eng/devices/android.cake
Labels: t/housekeeping ♻︎, area-testing

#29242 Fix typo in source-gen error: soruce -> source
  src/Controls/src/BindingSourceGen/DiagnosticsFactory.cs
Labels: area-xaml, community ✨

#29222 Removed Frame styles from the default project template
  src/Controls/samples/Controls.Sample.Embedding/Resources/Styles/Styles.xaml
  src/Templates/src/templates/maui-mobile/Resources/Styles/Styles.xaml
  src/Templates/src/templates/maui-multiproject/MauiApp.1/Resources/Styles/Styles.xaml
Labels: community ✨, partner/syncfusion

#23599 [Android] Added Platform specific ripple color
  src/Controls/src/Core/Button/Button.Android.cs
  src/Controls/src/Core/Button/Button.Mapper.cs
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/ImageButton/ImageButton.Android.cs
  src/Controls/src/Core/ImageButton/ImageButton.Mapper.cs
  src/Controls/src/Core/PlatformConfiguration/AndroidSpecific/Button.cs
  src/Controls/src/Core/PlatformConfiguration/AndroidSpecific/ImageButton.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/Button/ButtonTests.Android.cs
  src/Core/src/Platform/Android/ButtonExtensions.cs
  src/Core/src/Platform/Android/ImageButtonExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: proposal/open, community ✨, area-controls-button

#29021 Obsolete UseMauiCompatibility for .NET 10
  src/Compatibility/Core/src/AppHostBuilderExtensions.cs
  src/Compatibility/Core/tests/Compatibility.UnitTests/HostBuilderAppTests.cs
Labels: t/breaking 💥, area-compatibility

#29250 [ci] Update AspNet.Security.OAuth.Apple
  src/Essentials/samples/Sample.Server.WebAuthenticator/Essentials.Sample.Server.WebAuthenticator.csproj
Labels: area-infrastructure, area-sfi

#29248 [Testing] Fix for flaky UITests in CI that occasionally fail - 9
  src/Controls/tests/TestCases.HostApp/Issues/Issue28930.xaml
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla42832.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28930.cs
Labels: area-testing, community ✨, partner/syncfusion

#29244 [sfi] Add cgmanifest.json
  build.cake
  docs/CgManifest.md
  docs/README.md
  eng/CgManifest.targets
  eng/Versions.props
  eng/cake/dotnet.cake
  eng/scripts/update-cgmanifest.ps1
  src/Templates/src/Microsoft.Maui.Templates.csproj
  src/Templates/src/cgmanifest.json
Labels: area-sfi

#28885 [Windows] Upgrade `Microsoft.Graphics.Win2D` from `1.2.0` to `1.3.2` to fix a build warning
  eng/Versions.props
  src/Core/src/nuget/buildTransitive/WinUI.targets
  src/Essentials/src/Essentials.csproj
Labels: platform/windows 🪟, community ✨

#29270 [ci] Add cgmanifest word to cSpell
  eng/automation/cspell/cSpell.json
Labels: area-infrastructure
