Repository dotnet/maui, pull requests merged in 2025-01, with the labels that each got.

#26874 [Testing] Enable Catalyst UI Tests with Screenshot Verification - 2
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/TapGestureRecognizerNotWorkingOnEntry.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue12213.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue25038.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CarouselViewShouldScrollToRightPosition.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CollectionViewFooterMovestoBottomWithEmptyvieworEmptyviewTemplate.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CollectionViewHeaderBlankWhenLastItemRemoved.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CollectionviewFooterHideswhenDynamicallyAddorRemoveItems.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Shell_Issue21916.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/TabbedPageUnselectedBarTextColorConsistency.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyCollectionViewVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyEntryClearButtonVisibility.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyEntryHorizontalEndTextAlignmentPosition.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla39702.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue11896.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue12213.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17283.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18775.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21916.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22104.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23291.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24405.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24966.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25038.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue5669.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue7453.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/TapGestureRecognizerNotWorkingOnEntry.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/TapGestureRecognizerNotWorkingOnEntry.png
Labels: area-testing, community ✨, partner/syncfusion

#26950 [Testing] Added TapTab helper extension method in Appium
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla30317.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla32801.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla39702.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla41153.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla43519.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla52419.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue1323.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue15542.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue15565.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue1704.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue198.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue2470.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue3276.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue4684.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue6878.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue8145.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue889.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue973.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/ShellItemIsVisible.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/ShellTitleView.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/TabbedPageTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/TabbedPageWithList.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-testing, community ✨, partner/syncfusion

#26948 [Testing] Enabling ported UITests from Xamarin.UITests to Appium - 66
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/TableViewEntryCellShowsDefaultKeyboard.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/TableViewEntryCellShowsNumberKeyboard.png
  src/Controls/tests/TestCases.HostApp/Elements/CollectionView/SelectionGalleries/MultipleBoundSelection.xaml
  src/Controls/tests/TestCases.HostApp/Elements/CollectionView/SelectionGalleries/MultipleBoundSelection.xaml.cs
  src/Controls/tests/TestCases.HostApp/Elements/CollectionView/SelectionGalleries/SingleBoundSelection.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Bugzilla/Bugzilla33578.cs
  src/Controls/tests/TestCases.HostApp/Issues/Bugzilla/Bugzilla59925.cs
  src/Controls/tests/TestCases.HostApp/Issues/XFIssue/Issue5766.cs
  src/Controls/tests/TestCases.HostApp/Issues/XFIssue/Issue9088.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CollectionView/CollectionViewUITests.MultipleBoundSelection.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CollectionView/CollectionViewUITests.SingleBoundSelection.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla33578.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla56771.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla59925.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue9088.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/TableViewEntryCellShowsDefaultKeyboard.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/TableViewEntryCellShowsNumberKeyboard.png
Labels: area-testing, community ✨, partner/syncfusion

#26960 [Testing] Implemented catalyst scroll
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26629.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumCatalystScrollActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumScrollActions.cs
  src/TestUtils/src/UITest.Appium/AppiumCatalystApp.cs
Labels: area-testing, community ✨, area-controls-scrollview

#26018 Fixed Extra Padding on iOS buttons required when image on top or bottom
  src/Controls/src/Core/Button/Button.iOS.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/RemoveExtraPaddingFromButton.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue25489.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue25489.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25489.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/RemoveExtraPaddingFromButton.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonLayoutResizesWithImagePositionBottom.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonLayoutResizesWithImagePositionTop.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonPaddingIsAddedWhenNeeded.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonResizesWhenTitleOrImageChangesAltered.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonResizesWhenTitleOrImageChangesOriginal.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonTitleFillsSpaceWhenImageChangesAltered.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonTitleFillsSpaceWhenImageChangesOriginal.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonsLayoutResolveWhenParentSizeChangesOriginal.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonsLayoutResolveWhenParentSizeChangesOriginal2.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ButtonsLayoutResolveWhenParentSizeChangesSizeButtonsDownPortrait.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue22433_Default.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue22433_Layout.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue22433_Spacing.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/RemoveExtraPaddingFromButton.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage1_Border.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage1_NoBorder.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage3.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage4.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage6.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage7.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage8_Center.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage8_End.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyButtonPage8_Start.png
Labels: community ✨, area-controls-button, partner/syncfusion

#26893 [iOS] Simplify iOS ScrollView - improvement
  src/Controls/tests/TestCases.HostApp/Issues/Issue26900.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26900.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
Labels: platform/iOS 🍎, p/0, community ✨, area-controls-scrollview

#26568 Fix for Setting Window.TitleBar to null does not remove the customization 
  src/Core/src/Platform/Windows/WindowRootView.cs
Labels: community ✨, area-controls-titlebar, partner/syncfusion

#24841 Relative layout content disappeared when Relative layout has the border with border stroke element.
  src/Controls/src/Core/LegacyLayouts/Layout.cs
  src/Controls/tests/Core.UnitTests/RelativeLayoutTests.cs
Labels: platform/macOS 🍏, platform/windows 🪟, area-layout, platform/android 🤖, platform/iOS 🍎, community ✨, partner/syncfusion

#26573 Fix for CollectionView with RefreshView when ObservableCollection<T>.Clear() throws System.ArgumentOutOfRangeException
  src/Controls/src/Core/Handlers/Items/iOS/ObservableItemsSource.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue23868.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue23868.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23868.cs
Labels: area-controls-collectionview, community ✨, partner/syncfusion

#26834 [Windows] Tap Events Incorrectly passed Through Button - fix
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue12213.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue12213.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: platform/windows 🪟, p/0, community ✨, area-gestures

#26919 Improve accessibility Add button in sample content template
  src/Templates/src/templates/maui-mobile/Pages/Controls/AddButton.xaml
Labels: area-templates, a11y/sf-template-app

#26920 Improve accessibility MainPage in sample content template
  src/Templates/src/templates/maui-mobile/Pages/MainPage.xaml
Labels: area-templates, a11y/sf-template-app

#26903 Improve accessibility sample content new project template
  src/Templates/src/templates/maui-mobile/Pages/ManageMetaPage.xaml
  src/Templates/src/templates/maui-mobile/Pages/TaskDetailPage.xaml
Labels: area-templates, a11y/sf-template-app

#26923 Improve accessibility tags sample content template
  src/Templates/src/templates/maui-mobile/Pages/ProjectDetailPage.xaml
Labels: area-templates, a11y/sf-template-app

#26468 Fix Incorrect First and Last Visible Item index in CollectionView Scrolled Event
  src/Controls/src/Core/Handlers/Items/Android/RecyclerViewScrollListener.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue25649.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue25649.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25649.cs
Labels: area-controls-collectionview, community ✨, partner/syncfusion

#26865 [Windows] Fixed the exception when using CarouselView PeekAreaInsets Property in OnSizeAllocated method
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Windows.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CarouselViewUITests.AdjustPeekAreaInsets.cs
Labels: area-controls-collectionview, community ✨, partner/syncfusion

#26787 dotnetcli.azureedge.net -> builds.dotnet.microsoft.com
  .config/dotnet-tools.json
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/cross/toolchain.cmake
  eng/common/tools.ps1
  eng/common/tools.sh
  global.json
  src/DotNet/DotNet.csproj
Labels: area-infrastructure, community ✨

#26981 [Testing] - Ported Issue7678 from XamarinUITest into Appium
  src/Controls/tests/TestCases.HostApp/Issues/XFIssue/Issue7678.cs
  src/Controls/tests/TestCases.HostApp/Issues/XFIssue/Issue7678_1.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue7678.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue7678_1.cs
Labels: area-testing, community ✨, partner/syncfusion

#26928 Fix problem with null VirtualView in HybridVewHandler on iOS
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.iOS.cs
Labels: community ✨

#25072 Fix [Android] Image AspectFill is not honored
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyImageAspects.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue21368.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue21368.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21368.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyImageAspects.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyImageAspects.png
  src/Core/src/Platform/Android/ImageViewExtensions.cs
Labels: platform/android 🤖, area-image, community ✨, partner/syncfusion

#26126 Fix for Application Crash When Updating ToolbarItem Icon and Navigating Between Shell Pages
  src/Controls/src/Core/Compatibility/iOS/Extensions/ToolbarItemExtensions.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue25534.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue25534.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25534.cs
Labels: platform/macOS 🍏, platform/iOS 🍎, community ✨, area-controls-toolbar, partner/syncfusion

#26202 Fixed [Windows] TabbedPage current page indicator can be wrong
  src/Controls/src/Core/TabbedPage/TabbedPage.Windows.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/UpdatedSelectionIndicatorProperly.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue26096.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26096.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/UpdatedSelectionIndicatorProperly.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/UpdatedSelectionIndicatorProperly.png
Labels: platform/windows 🪟, area-controls-tabbedpage, community ✨, partner/syncfusion

#26515 Fix more things with fonts (embedded) and unpackaged apps
  eng/pipelines/common/ui-tests.yml
  src/Controls/tests/CustomAttributes/Test.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/FromBundle_Image.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/FromBundle_Label.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/FromEmbedded_Image.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/FromEmbedded_Label.png
  src/Controls/tests/TestCases.HostApp/Concepts/FontsGalleryPage.cs
  src/Controls/tests/TestCases.HostApp/Controls.TestCases.HostApp.csproj
  src/Controls/tests/TestCases.HostApp/CoreViews/CorePageView.cs
  src/Controls/tests/TestCases.HostApp/MauiProgram.cs
  src/Controls/tests/TestCases.HostApp/Resources/Fonts/Dokdo-Regular.ttf
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/FromBundle_Image.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/FromBundle_Label.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/FromEmbedded_Image.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/FromEmbedded_Label.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/LabelUITests_FontFamily_FontAwesome.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Concepts/FontsGalleryTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/LabelUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/UITestCategories.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/FromBundle_Image.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/FromEmbedded_Image.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/FromEmbedded_Label.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/FromBundle_Image.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/FromBundle_Label.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/FromEmbedded_Image.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/FromEmbedded_Label.png
  src/Core/src/Fonts/EmbeddedFontLoader.Windows.cs
  src/Core/src/Fonts/FontManager.Windows.cs
  src/Core/src/ImageSources/FontImageSourceService/FontImageSourceService.Windows.cs
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Core/tests/DeviceTests/CoreDeviceTestExtensions.cs
  src/Core/tests/DeviceTests/Handlers/Label/LabelHandlerTests.Windows.cs
  src/Core/tests/DeviceTests/Resources/Fonts/FontAwesome.ttf
  src/Core/tests/DeviceTests/Resources/Fonts/ionicons.ttf
  src/Core/tests/DeviceTests/Services/FontManagerTests.Windows.cs
Labels: area-fonts

#25851 [Android] Fix for frame disappears when assigning GradientStops to LinearGradientBrush inside this Frame
  src/Controls/src/Core/Compatibility/Handlers/Android/FrameRenderer.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/FrameCornerRadiusShouldnotChange.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue23951.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue23951.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23951.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/FrameCornerRadiusShouldnotChange.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/FrameCornerRadiusShouldnotChange.png
Labels: platform/android 🤖, area-drawing, community ✨, area-controls-frame, partner/syncfusion

#26706 [Windows] Fixed CollectionView ScrollTo Method Crash with Invalid GroupIndex Value.
  src/Controls/src/Core/Handlers/Items/ItemsViewHandler.Windows.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/ScrollToGroup.cs
Labels: area-controls-collectionview, community ✨, partner/syncfusion

#27026 Add TJ to the core team for automation
  .github/policies/resourceManagement.yml
Labels: t/housekeeping ♻︎, area-infrastructure

#26982 Improved Documentation Readability
  README.md
  SECURITY.md
  docs/CodeDocumentationGuidelines.md
  docs/DevelopmentTips.md
  docs/IssueManagementPolicies.md
  docs/README.md
  docs/TriageProcess.md
Labels: area-docs, community ✨

#26956 [iOS] ObservableGroupedSource - improvements
  src/Controls/src/Core/Handlers/Items/iOS/ObservableGroupedSource.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue25514.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue25514.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25514.cs
Labels: area-controls-collectionview, community ✨

#26067 [iOS] Fixed the RemainingItemsThresholdReachedCommand not firing issue in CollectionView
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewDelegator.cs
  src/Controls/src/Core/Handlers/Items2/iOS/ItemsViewDelegator2.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue25889.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue25889.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25889.cs
Labels: platform/iOS 🍎, area-controls-collectionview, community ✨, partner/syncfusion

#27031 Move cSpell config to subfolder (clean up repo root)
  .github/workflows/spellcheck.yml
  eng/automation/cspell/cSpell.json
Labels: t/housekeeping ♻︎, area-infrastructure

#25098 [iOS] Put the UIScrollView into a UIView in a border handler
  src/Controls/tests/TestCases.HostApp/Issues/Issue20736.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue20736.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/EditorScrollingWhenEnclosedInBorder.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20736.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/EditorScrollingWhenEnclosedInBorder.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/EditorScrollingWhenEnclosedInBorder.png
  src/Core/src/Handlers/Border/BorderHandler.iOS.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: platform/iOS 🍎, community ✨, area-controls-scrollview

#24429 BarBackground with Brush in NavigationPage on theme change
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Toolbar/Toolbar.Android.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/NavigationBarBackgroundShouldChangeDarkTheme.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/NavigationBarBackgroundShouldChangeLightTheme.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue24428.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24428.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24428.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/NavigationBarBackgroundShouldChangeDarkTheme.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/NavigationBarBackgroundShouldChangeLightTheme.png
Labels: platform/android 🤖, area-navigation, platform/iOS 🍎, community ✨

#27054 [tests] Disable CollectionView related flaky failing tests
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22417.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25514.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25889.cs
Labels: area-testing, testing-flakiness, testing-green-ci

#27024 Don't suppress exit codes Appium driver install
  eng/pipelines/common/setup-jdk.yml
  eng/scripts/appium-install.ps1
Labels: area-testing

#27012 [Testing] Enabling CV related UITests in Appium
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CollectionViewGroupFooterTemplateShouldNotCrash.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CollectionViewGroupFooterTemplateShouldNotCrash.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue18751Test.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.CollectionViewTabbedPage.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.EmptyViewNoCrash.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue10454.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue12374.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue12714.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue13126_2.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18702.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18751.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2777.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue4600.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue5535.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue6932.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue7102.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8870.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8899.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue9196.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue9929.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CollectionViewGroupFooterTemplateShouldNotCrash.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue18751Test.png
Labels: area-testing, community ✨, partner/syncfusion

#26521 [Windows] Fix Shell animation and button visual states on Shell nav
  src/Controls/tests/TestCases.HostApp/Issues/Issue26466.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26466.cs
  src/Core/src/Handlers/Button/ButtonHandler.Windows.cs
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Windows.cs
  src/Core/src/Platform/Windows/StackNavigationManager.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumMouseActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumTouchActions.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-navigation, p/0

#25857 [Windows] Fix FlyoutPage ShouldShowToolbarButton when overridden to return false, still shows button in title bar
  src/Controls/src/Core/Platform/Windows/Extensions/ToolbarExtensions.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyInitialToolbarButtonHidden.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue24547.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24547.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyInitialToolbarButtonHidden.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyInitialToolbarButtonHidden.png
Labels: platform/windows 🪟, area-controls-flyoutpage, community ✨, partner/syncfusion

#27066 [Testing] Resolved bunch of Android UI Test random failures in CI.
  src/Controls/tests/TestCases.Shared.Tests/Tests/BorderUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CollectionView/CollectionViewUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CoreGalleryBasePageTest.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/DragAndDropUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/GestureRecognizerUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/_IssuesUITest.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingGridTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingNonScrollingPageLargeTitlesTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingNonScrollingPageSmallTitlesTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingScrollingPageLargeTitlesTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrollingScrollingPageSmallTitlesTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/ScrollViewUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/SliderUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/StepperUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/SwipeViewUITests.cs
Labels: area-testing, community ✨, partner/syncfusion

#27036 [Testing] Enabling some UITests from Issues folder in Appium-1
  src/Controls/tests/TestCases.HostApp/Issues/Issue1683.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue1700.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla38978.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue11209.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1146.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue12153.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1590.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1601.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1667.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1683.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1700.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1747.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1799.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1851.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18623.cs
Labels: area-testing, community ✨, partner/syncfusion

#27100 [Testing] Enabling some UITests from Issues folder in Appium-5
  src/Controls/tests/TestCases.HostApp/Issues/Issue2354.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2004.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2035.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2222.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2259.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2354.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue9087.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue9306.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue9355.cs
Labels: area-testing, community ✨, partner/syncfusion

#27067 [Testing] Enabling some UITests from Issues folder in Appium-4
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue2728TestsItalicLabel.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ContentPageBackgroundImageSourceWorks.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ImageDoesntDisappearWhenNavigatingBack.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue2728TestsItalicLabel.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1236.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue14471.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17789.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2728.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2983.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3089.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue2728TestsItalicLabel.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue2728TestsItalicLabel.png
Labels: area-testing, community ✨, partner/syncfusion

#27051 [iOS] Fixed a crash issue with CollectionView when configured with CollectionViewHandler2 on iOS 15 and iOS 16.
  src/Controls/src/Core/Handlers/Items2/iOS/ItemsViewController2.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue26997.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue26997.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26997.cs
Labels: area-controls-collectionview, community ✨, collectionview-cv2, partner/syncfusion

#21812 CollectionView Items display issue when Header is resized on iOS
  src/Controls/src/Core/Handlers/Items/iOS/StructuredItemsViewController.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/HeaderShouldNotCollapseWithItems.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue25362.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue25362.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25362.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/HeaderShouldNotCollapseWithItems.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/HeaderShouldNotCollapseWithItems.png
  src/Core/src/Platform/iOS/MauiView.cs
Labels: platform/iOS 🍎, area-controls-collectionview, community ✨

#26196 Fix issue with template processing
  src/Templates/src/templates/maui-mobile/MauiProgram.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/SimpleTemplateTest.cs
Labels: area-templates

#27005 Fixed scrolling issue on ProjectListPage
  src/Templates/src/templates/maui-mobile/Pages/ProjectListPage.xaml
Labels: area-templates, community ✨, partner/syncfusion

#26967 [Testing] Resolved flaky UITests failed due to image differences on Catalyst
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/EntryClearButtonColorShouldMatchTextColor.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/EntrySelectionLengthRuntimeUpdate.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ValidateEntryClearButtonVisibilityBehavior.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue19338.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue23291.xaml
  src/Controls/tests/TestCases.HostApp/Issues/XFIssue/Issue2470.xaml
  src/Controls/tests/TestCases.HostApp/Issues/XFIssue/Issue2470.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/HeaderAndFooterShouldBeVisible.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla33578.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla40092.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla43469.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla43663.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla59172.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18443.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19152.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21109.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23158.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26066.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue2470.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue2883.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue3139.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue7290.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-testing, community ✨, partner/syncfusion

#26671 [X] Avoid unnecessary steps
  src/Controls/src/Build.Tasks/CompiledValueProviders/PassthroughValueProvider.cs
  src/Controls/src/Core/Interactivity/BindingCondition.cs
  src/Controls/src/Core/Interactivity/DataTrigger.cs
  src/Controls/src/Core/Interactivity/PropertyCondition.cs
  src/Controls/src/Core/Interactivity/Trigger.cs
Labels: area-xaml

#26991 [ci] Add integration test stage to dnceng/public
  eng/pipelines/arcade/setup-test-env.yml
  eng/pipelines/arcade/stage-integration-tests.yml
  eng/pipelines/arcade/stage-pack.yml
  eng/pipelines/arcade/stage-unit-tests.yml
  eng/pipelines/azure-pipelines-public.yml
  eng/pipelines/common/setup-android-dependencies.yml
  eng/pipelines/common/variables.yml
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Android/Adb.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Android/Emulator.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AndroidTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/TestEnvironment.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/Utilities/ToolRunner.cs
Labels: area-testing

#26694 Fix for CollectionView SelectedItem loses Background after opening and closing a Modal page
  src/Controls/src/Core/Handlers/Items/iOS/SelectableItemsViewController.cs
  src/Controls/src/Core/Handlers/Items2/iOS/SelectableItemsViewController2.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CollectionViewSelectedItemBackgroundShouldPersistAfterModalNavigation.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue22467.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue22467.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CollectionViewSelectedItemBackgroundShouldPersistAfterModalNavigation.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22467.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/CollectionViewSelectedItemBackgroundShouldPersistAfterModalNavigation.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CollectionViewSelectedItemBackgroundShouldPersistAfterModalNavigation.png
Labels: area-controls-collectionview, community ✨, partner/syncfusion

#26921 Improve accessibility task overview sample content template
  src/Templates/src/templates/maui-mobile/Pages/Controls/TaskView.xaml
Labels: area-templates, a11y/sf-template-app

#25011 Fix for unable to select a tab after backing out of a page and returning.
  src/Controls/src/Core/TabbedPage/TabbedPage.Windows.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue24741.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue24741TabbedPage.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24741TabbedPage.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24741.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SelectTabAfterNavigation.png
  src/Core/src/Platform/Windows/NavigationViewItemViewModel.cs
  src/TestUtils/src/UITest.Appium/AppiumApp.cs
Labels: platform/windows 🪟, area-navigation, community ✨, partner/syncfusion

#25497 Fix for [iOS] Use non-overridden traits in AppInfoImplementation.RequestTheme
  src/Controls/tests/TestCases.HostApp/Issues/Issue23411.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue23411.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23411.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ThemeUnspecifiedDoesNotAffectModalPageSheet.png
  src/Essentials/src/AppInfo/AppInfo.ios.tvos.watchos.macos.cs
Labels: platform/iOS 🍎, community ✨, area-theme, partner/syncfusion

#25552 Fix OnNavigatedTo not called when navigating back to a specific page
  src/Controls/tests/TestCases.HostApp/Issues/Issue25371.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25371.cs
Labels: area-navigation, platform/iOS 🍎, community ✨, partner/syncfusion

#27064 [Testing] Enabling some UITests from Issues folder in Appium-2
  src/Controls/tests/TestCases.HostApp/Issues/Issue1685.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue1769.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue11962.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue11969.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1267.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1469.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1685.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1747.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1769.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1851.cs
Labels: area-testing, community ✨, partner/syncfusion

#26771 Fixed #26769 - crash when iOS app is running on MacOS
  src/Compatibility/Core/src/iOS/ContextActionCell.cs
  src/Compatibility/Core/src/iOS/Platform.cs
  src/Controls/src/Core/Compatibility/Handlers/ListView/iOS/ContextActionCell.cs
Labels: community ✨, area-controls-listview

#26786 NullReference fix in ShellPageRendererTracker.UpdateTabBarVisibility()
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
Labels: area-controls-shell, community ✨

#27155 [ci] Reduce Xcode platform installations
  eng/pipelines/arcade/setup-test-env.yml
  eng/pipelines/common/provision.yml
Labels: testing-infrastructure

#27091 [Testing] Fix flaky UITests failing sometimes 1
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla59925.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23801.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25889.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue889.cs
Labels: area-testing, testing-flakiness

#27068 [HybridWebView] Always serialize the value in JS when invoking
  src/Controls/samples/Controls.Sample/Resources/Raw/HybridSamplePage/scripts/HybridWebView.js
  src/Controls/tests/DeviceTests/Elements/HybridWebView/HybridWebViewTests.cs
  src/Controls/tests/DeviceTests/Resources/Raw/HybridTestRoot/index.html
  src/Controls/tests/DeviceTests/Resources/Raw/HybridTestRoot/scripts/HybridWebView.js
Labels: area-controls-hybridwebview

#27154 [Testing] Fix flaky UITests failing sometimes 2
  src/Controls/tests/TestCases.HostApp/Issues/Issue2354.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/CollectionView/CollectionViewUITests.HeaderAndFooter.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8761.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-testing, testing-flakiness

#26759 Implementation of Customizable Search Button Color for SearchBar Across Platforms
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/SearchBar/SearchBar.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchIconColorInitializesCorrectly.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue22963.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SearchIconColorInitializesCorrectly.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22963.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SearchIconColorInitializesCorrectly.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SearchIconColorInitializesCorrectly.png
  src/Core/src/Core/ISearchBar.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Standard.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Tizen.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Windows.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.iOS.cs
  src/Core/src/Platform/Android/SearchViewExtensions.cs
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
  src/Core/src/Platform/iOS/SearchBarExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/DeviceTests/Stubs/SearchBarStub.cs
Labels: platform/macOS 🍏, platform/windows 🪟, platform/android 🤖, platform/iOS 🍎, community ✨, area-controls-searchbar, partner/syncfusion

#26995 Fix up relevant CA1416 warnings - Set 4
  src/Core/src/Handlers/Application/ApplicationHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiUIApplicationDelegate.Menu.cs
Labels: area-infrastructure, community ✨, partner/syncfusion

#27182 [Testing] Enabling some UITests from Issues folder in Appium-8
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue3884Test.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/BorderShouldHaveNoThickness.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/EntryTextColorStopsWorkingAfterPropertyIsUpdatedFromBinding.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue22433_Default.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue22433_Layout.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue22433_Spacing.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue3884Test.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/TextsInEditorsAfterScaling.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/TextsInEditorsBeforeScaling.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/UpdateToolbarItemAfterNavigate.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ValidateEntryClearButtonVisibilityBehavior.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19509.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20156.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22433.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23158.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24574.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24583.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3049.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3087.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3385.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3507.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3884.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue5239.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue5376.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue5461.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue5555.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue6472.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue7823.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue3884Test.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue3884Test.png
Labels: area-testing, community ✨, partner/syncfusion

#27178 [Testing] Fix for WebView flaky tests in CI which fails due to network connectivity.
  src/Controls/tests/CustomAttributes/TestAttributes.cs
  src/Controls/tests/TestCases.HostApp/CoreViews/NoInternetConnectionPage.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue3262.cs
  src/Controls/tests/TestCases.HostApp/TestCases.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3262.cs
Labels: area-testing, community ✨, partner/syncfusion

#27222 [Templates] Make the Project Section accessible using the keyboard
  src/Templates/src/templates/maui-mobile/Pages/ProjectListPage.xaml
Labels: area-templates, t/a11y

#27224 [Templates] Make Project Section from MainPage accessible using the keyboard
  src/Templates/src/templates/maui-mobile/Pages/MainPage.xaml
Labels: area-templates, t/a11y

#27245 Detect Appium driver installation failures
  eng/scripts/appium-install.ps1
Labels: t/housekeeping ♻︎, area-testing

#19335 [X] CSS specificity
  src/Controls/src/Core/StyleSheets/Selector.cs
  src/Controls/src/Core/StyleSheets/Style.cs
  src/Controls/src/Core/StyleSheets/StyleSheet.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui18980.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui18980.xaml.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui18980Style.css
  src/Controls/tests/Xaml.UnitTests/Issues/Maui18980Style.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui18980Style.xaml.cs
Labels: area-xaml, stale

#27184 [Testing] Updated Appium.WebDriver to v7.0.0
  src/Controls/tests/TestCases.Android.Tests/Controls.TestCases.Android.Tests.csproj
  src/Controls/tests/TestCases.Mac.Tests/Controls.TestCases.Mac.Tests.csproj
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214_2.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19214_3.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22715.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/KeyboardScrolling.cs
  src/Controls/tests/TestCases.WinUI.Tests/Controls.TestCases.WinUI.Tests.csproj
  src/Controls/tests/TestCases.iOS.Tests/Controls.TestCases.iOS.Tests.csproj
  src/TestUtils/src/UITest.Appium/Actions/AppiumDeviceActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumScrollActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumSliderActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumSwipeActions.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
  src/TestUtils/src/UITest.Appium/UITest.Appium.csproj
Labels: area-testing

#27243 Disable some flaky UI tests
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2354.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25514.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue7393.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8761.cs
Labels: area-testing, testing-flakiness, testing-green-ci

#27129 [HybridWebView] Bubble up exceptions in JS into .NET
  src/Controls/samples/Controls.Sample/Resources/Raw/HybridSamplePage/scripts/HybridWebView.js
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/tests/DeviceTests/Elements/HybridWebView/HybridWebViewTests.cs
  src/Controls/tests/DeviceTests/MauiProgram.cs
  src/Controls/tests/DeviceTests/Resources/Raw/HybridTestRoot/index.html
  src/Controls/tests/DeviceTests/Resources/Raw/HybridTestRoot/scripts/HybridWebView.js
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewInvokeJavaScriptException.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewTask.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewTaskManager.cs
  src/Core/src/Handlers/HybridWebView/IHybridWebViewTaskManager.cs
Labels: area-controls-hybridwebview

#27094 [HybridWebView] Support calling void and "no return" functions in JS
  src/Controls/src/Core/HybridWebView/HybridWebView.cs
  src/Controls/tests/DeviceTests/Elements/HybridWebView/HybridWebViewTests.cs
  src/Controls/tests/DeviceTests/Resources/Raw/HybridTestRoot/index.html
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.cs
  src/Core/src/Primitives/HybridWebViewInvokeJavaScriptRequest.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Labels: area-controls-hybridwebview

#25967 [HybridWebView] Add support for async .NET methods
  src/Controls/samples/Controls.Sample/Pages/Controls/HybridWebViewPage.xaml.cs
  src/Controls/samples/Controls.Sample/Resources/Raw/HybridSamplePage/index.html
  src/Controls/tests/DeviceTests/Elements/HybridWebView/HybridWebViewTests.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.Windows.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.cs
  src/Core/src/Handlers/HybridWebView/HybridWebViewHandler.iOS.cs
  src/Core/src/Platform/Android/MauiHybridWebViewClient.cs
Labels: area-controls-hybridwebview

#27119 [A11y] Add SemanticProperties.Description to the Toolbar Icon
  src/Controls/src/Core/Compatibility/iOS/Extensions/AccessibilityExtensions.cs
  src/Controls/src/Core/SemanticProperties.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Core/src/Platform/iOS/SemanticExtensions.cs
  src/Core/src/SemanticExtensions.cs
Labels: platform/macOS 🍏, t/a11y

#27276 Add category names in CI test runs
  eng/pipelines/common/setup-jdk.yml
  eng/pipelines/common/ui-tests-steps.yml
  eng/pipelines/common/ui-tests.yml
Labels: t/housekeeping ♻︎, area-testing, area/infrastructure 🏗️

#26966 Title doesn't visible when set IsVisible to true of ShellContent
  src/Controls/src/Core/Handlers/Shell/Windows/ShellFlyoutItemView.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue19783.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19783.cs
Labels: area-controls-shell, community ✨, partner/syncfusion

#24396 Enhanced Stepper to Support Dynamic Increment Mapping
  src/Controls/src/Core/Hosting/AppHostBuilderExtensions.cs
  src/Controls/src/Core/Stepper/Stepper.Mapper.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue20706.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue20706.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20706.cs
Labels: community ✨, area-controls-stepper, partner/syncfusion

#27181 [Testing] Enabling some UITests from Issues folder in Appium-7
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.CollectionViewBindingErrors.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2674.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2680ScrollView.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue6705.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue6945.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue6994.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue7313.cs
Labels: area-testing, community ✨, partner/syncfusion

#25601 [Testing] Implement ScrollDownTo and ScrollUpTo methods in Appium
  src/TestUtils/src/UITest.Appium/Actions/AppiumScrollActions.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-testing

#27298 Fix iOS ScrollView content being measured with non-infinite constraints during LayoutSubviews pass
  src/Controls/tests/TestCases.HostApp/Issues/Issue27169.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue27169.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiScrollView.cs
  src/Core/src/Platform/iOS/MauiView.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
  src/Core/src/Platform/iOS/WrapperView.cs
Labels: platform/iOS 🍎, community ✨, area-controls-scrollview

#27321 Add/remove all-checks-passed label on PR check suites
  .github/workflows/add-remove-label-check-suites.yml
Labels: t/housekeeping ♻︎, area-infrastructure

#27145 [Binding SG] Removed deprecated `InterceptsLocationAttribute`
  src/Controls/src/BindingSourceGen/BindingCodeWriter.cs
  src/Controls/src/BindingSourceGen/BindingInvocationDescription.cs
  src/Controls/src/BindingSourceGen/BindingSourceGenerator.cs
  src/Controls/src/BindingSourceGen/Controls.BindingSourceGen.csproj
  src/Controls/tests/BindingSourceGen.UnitTests/AssertExtensions.cs
  src/Controls/tests/BindingSourceGen.UnitTests/BindingCodeWriterTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/BindingRepresentationGenTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/BindingTransformerTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/Controls.BindingSourceGen.UnitTests.csproj
  src/Controls/tests/BindingSourceGen.UnitTests/IncrementalGenerationTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/IntegrationTests.cs
  src/Controls/tests/BindingSourceGen.UnitTests/SourceGenHelpers.cs
Labels: area-xaml

#22148 Fixed On Platform="Default" not working
  src/Controls/src/Core/OnPlatform.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22105.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui22105.xaml.cs
Labels: area-xaml, community ✨

#27232 [Testing] Enabling some UITests from Issues folder in Appium-9
  src/Controls/tests/TestCases.HostApp/Issues/Issue1905.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue1906.cs
  src/Controls/tests/TestCases.HostApp/Issues/ScrollViewDisableScroll.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue15330Test.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.DynamicallyLoad.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CollectionViewUITests.HiddenCollectionViewBind.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue15330.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue16320.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1905.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1906.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ScrollViewDelayedContent.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/ScrollViewDisableScroll.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue15330Test.png
Labels: area-testing, community ✨, partner/syncfusion

#27233 [Testing] Enabling some UITests from Issues folder in Appium-10
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SwitchOnOffVisualStatesTest_SwitchOff.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SwitchOnOffVisualStatesTest_SwitchOn.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue8004.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/BindingOnStrokeShapeWithRadius.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/BindingOnStrokeShapeWithoutRadius.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/GradientImageButtonBackground.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SwitchOnOffVisualStatesTest_SwitchOff.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SwitchOnOffVisualStatesTest_SwitchOn.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18857.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22549.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue6262.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8004.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8167.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8263.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue852.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/AnimateScaleOfBoxView_BigBox.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/AnimateScaleOfBoxView_SmallBox.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/GradientImageButtonBackground.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SwitchOnOffVisualStatesTest_SwitchOff.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SwitchOnOffVisualStatesTest_SwitchOn.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/GradientImageButtonBackground.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SwitchOnOffVisualStatesTest_SwitchOff.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SwitchOnOffVisualStatesTest_SwitchOn.png
Labels: area-testing, community ✨, partner/syncfusion

#26931 ScrollX and ScrollY values at the ScrollView.Scrolled event are not consistent in ScrollOrientation.Both mode
  src/Controls/tests/TestCases.HostApp/Issues/Bugzilla/Bugzilla41415.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla41415.cs
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Android.cs
  src/Core/src/Platform/Android/MauiScrollView.cs
Labels: platform/android 🤖, community ✨, area-controls-scrollview, partner/syncfusion

#27342 Add wildcard to find JDK more precisely
  eng/pipelines/common/setup-jdk.yml
Labels: t/housekeeping ♻︎, area-infrastructure

#24332 Move some absolute layout api docs directly in code
  src/Controls/docs/Microsoft.Maui.Controls/AbsoluteLayout.xml
  src/Controls/src/Core/Layout/AbsoluteLayout.cs
Labels: area-docs, t/housekeeping ♻︎

#27255 [Testing] Enabling some UITests from Issues folder in Appium-11
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Issue2842Test.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ScrollToElement1Start.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ScrollToElement2Center.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ScrollToElement3End.png
  src/Controls/tests/TestCases.HostApp/Elements/ScrollViewCoreGalleryPage.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue5367.cs
  src/Controls/tests/TestCases.HostApp/Resources/Images/cover1.jpg
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ScrollToElement1Start.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ScrollToElement2Center.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ScrollToElement3End.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue10234.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1219.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1937.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue2842.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3275.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue5367.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/ScrollViewUITests.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue2842Test.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ScrollToElement1Start.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ScrollToElement2Center.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ScrollToElement3End.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/HeaderFooterGridWorks.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/HeaderFooterTemplateWorks.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ScrollToElement1Start.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ScrollToElement2Center.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ScrollToElement3End.png
Labels: area-testing, community ✨, partner/syncfusion

#27275 [iOS] Fix for NullReferenceException in WillMoveToParentViewController When Removing Page During Navigation
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue25726.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25726.cs
Labels: area-navigation, platform/iOS 🍎, community ✨, partner/syncfusion

#27244 [Testing] Written UI test for the issue reported in PR 27200
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CollectionViewHeaderSizewithIsVisibleBinding.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue27200.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue27200.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CollectionViewHeaderSizewithIsVisibleBinding.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue27200.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/CollectionViewHeaderSizewithIsVisibleBinding.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CollectionViewHeaderSizewithIsVisibleBinding.png
Labels: community ✨, partner/syncfusion

#27256 [Testing] Enabling some UITests from Issues folder in Appium-12
  src/Controls/tests/TestCases.HostApp/Issues/Issue8766.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Issue18242Test.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue12060.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18242.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22035.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue6932.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8766.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Issue18242Test.png
Labels: area-testing, community ✨, partner/syncfusion

#26724 Fix up relevant CA1416 warnings - Set 2
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyCheckBoxCheckedState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyCheckBoxUnCheckedState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySwipeViewApperance.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyTimePickerApperance.png
  src/Controls/tests/TestCases.HostApp/Issues/CheckBoxUITest.cs
  src/Controls/tests/TestCases.HostApp/Issues/SwipeViewUITest.cs
  src/Controls/tests/TestCases.HostApp/Issues/TimePickerUITest.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/CheckBoxUITest.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/SwipeViewUITest.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/TimePickerUITest.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyCheckBoxCheckedState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyCheckBoxUnCheckedState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyTimePickerApperance.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyCheckBoxCheckedState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyCheckBoxUnCheckedState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySwipeViewApperance.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyTimePickerApperance.png
  src/Core/src/Handlers/SwipeItemMenuItem/SwipeItemMenuItemHandler.iOS.cs
  src/Core/src/Platform/iOS/MauiCheckBox.cs
  src/Core/src/Platform/iOS/MauiTimePicker.cs
Labels: community ✨, area-controls-swipeview, area-controls-checkbox, partner/syncfusion

#27278 Run every category separately
  eng/pipelines/common/ui-tests.yml
Labels: area-testing, testing-green-ci

#27310 [sfi] Update the provisionator task
  eng/pipelines/common/provision.yml
Labels: area-sfi

#27017 Improve debugger experience
  src/Controls/src/Core/ActivityIndicator/ActivityIndicator.cs
  src/Controls/src/Core/Application/Application.cs
  src/Controls/src/Core/Button/Button.cs
  src/Controls/src/Core/CheckBox/CheckBox.cs
  src/Controls/src/Core/ContentPage/ContentPage.cs
  src/Controls/src/Core/ContentView/ContentView.cs
  src/Controls/src/Core/DatePicker/DatePicker.cs
  src/Controls/src/Core/FlyoutPage/FlyoutPage.cs
  src/Controls/src/Core/Image/Image.cs
  src/Controls/src/Core/IndicatorView/IndicatorView.cs
  src/Controls/src/Core/InputView/InputView.cs
  src/Controls/src/Core/Items/ItemsView.cs
  src/Controls/src/Core/Label/Label.cs
  src/Controls/src/Core/Layout/Layout.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/Picker/Picker.cs
  src/Controls/src/Core/ProgressBar/ProgressBar.cs
  src/Controls/src/Core/RadioButton/RadioButton.cs
  src/Controls/src/Core/RefreshView/RefreshView.cs
  src/Controls/src/Core/ScrollView/ScrollView.cs
  src/Controls/src/Core/SearchBar/SearchBar.cs
  src/Controls/src/Core/Slider/Slider.cs
  src/Controls/src/Core/Stepper/Stepper.cs
  src/Controls/src/Core/Switch/Switch.cs
  src/Controls/src/Core/TimePicker/TimePicker.cs
  src/Controls/src/Core/VisualElement/VisualElement.cs
  src/Controls/src/Core/WebView/WebView.cs
Labels: area-architecture, community ✨

#27102 [Testing] Enabling some UITests from Issues folder in Appium-6
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/TitleViewShouldBeVisible.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue1975.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/EditorBackgroundWorks.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/EditorIsReadOnlyPreventModify.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SettingMaximumTrackColorOnSliderWorks.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/TitleViewShouldBeVisible.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18111.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18675.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18706.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1900.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1975.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19786.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20199.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/TitleViewShouldBeVisible.png
Labels: area-testing, community ✨, partner/syncfusion

#25632 [Android] Build maui.aar with the new AndroidGradleProject item
  eng/cake/dotnet.cake
  src/Core/AndroidNative/HOWTOBUILD
  src/Core/AndroidNative/README.md
  src/Core/AndroidNative/build.gradle
  src/Core/AndroidNative/maui/build.gradle
  src/Core/src/Core.csproj
  src/Core/src/maui.aar
Labels: area-infrastructure

#27373 [ci] Try enable clean agent
  eng/pipelines/common/provision.yml
Labels: t/housekeeping ♻︎

#26292 Navigation from the 'more' tab
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellItemRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellSectionRenderer.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue18193.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18193.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue6784.cs
Labels: platform/iOS 🍎, area-controls-shell, community ✨

#27370 [Testing] Disable system animations to save test execution time
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/_IssuesUITest.cs
  src/Controls/tests/TestCases.Shared.Tests/UITest.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumAndroidSpecificActions.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumAndroidThemeChangeAction.cs
  src/TestUtils/src/UITest.Appium/Actions/AppiumCatalystSpecificActions.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
  src/TestUtils/src/UITest.Appium/ShellHelper.cs
Labels: area-testing

#27412 [net10.0] Skip android leak tests
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.cs
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: area-testing, memory-leak 💦, testing-reenable, testing-green-ci

#27446 [net10.0] Fix iOS Label html tests
  src/Core/src/Platform/iOS/LabelExtensions.cs
Labels: platform/iOS 🍎

#27448 [net10.0] Skip more memory leak tests android
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla40955.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla42329.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Bugzilla/Bugzilla44166.cs
Labels: area-testing, memory-leak 💦, testing-green-ci

#26719 Radio button's default template improvements
  src/Controls/src/Core/RadioButton/RadioButton.cs
  src/Controls/tests/Core.UnitTests/RadioButtonTemplateTests.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/RadioButtonShouldApplyPropertiesCorrectly.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue26689.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/RadioButtonShouldApplyPropertiesCorrectly.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26689.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/RadioButtonShouldApplyPropertiesCorrectly.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/RadioButtonShouldApplyPropertiesCorrectly.png
Labels: platform/windows 🪟, platform/android 🤖, platform/iOS 🍎, community ✨, area-controls-radiobutton

#27148 [Windows] - Fixed Window Title Not Shown When Reverting from TitleBar to Default State
  src/Core/src/Platform/Windows/WindowRootView.cs
Labels: community ✨, partner/syncfusion

#27279 [Testing] Fix for MacCatalyst flaky tests in CI which fails due window position below the dock layer
  src/Controls/tests/TestCases.HostApp/MauiProgram.cs
Labels: area-testing, community ✨, partner/syncfusion

#27060 [Windows] Fixed Margin Not Applied to Shell Flyout Template Items on First Display
  src/Controls/src/Core/Handlers/Shell/Windows/ShellFlyoutItemView.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyTemplateViewMarginOnInitialDisplay.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue18423.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyTemplateViewMarginOnInitialDisplay.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18423.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyTemplateViewMarginOnInitialDisplay.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyTemplateViewMarginOnInitialDisplay.png
Labels: platform/windows 🪟, community ✨, partner/syncfusion

#26976 [iOS] Fix for Left SwipeView Items Conflict with Shell Menu Swipe Gesture
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutRenderer.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue9088.cs
Labels: area-controls-shell, community ✨, partner/syncfusion

#27497 [ci] Fix yaml
  eng/pipelines/handlers.yml
Labels: area-infrastructure

#27257 [Testing] Enabling some UITests from Issues folder in Appium-13
  src/Controls/tests/TestCases.HostApp/Issues/Issue3333.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue3413.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue968.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/GestureRecognizerUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue1583.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3333.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue3413.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue342.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue968.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue3413Test.png
Labels: area-testing, community ✨, partner/syncfusion

#25347 [iOS]Fix for Character Spacing Not Updating Correctly in Editor for Dynamically Added Text
  src/Controls/src/Core/Editor/Editor.iOS.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyEditorCharacterSpacingWithText.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue17782.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue17782.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyEditorCharacterSpacingWithText.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17782.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyEditorCharacterSpacingWithText.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyEditorCharacterSpacingWithText.png
Labels: platform/iOS 🍎, community ✨, area-controls-editor, partner/syncfusion
