Repository dotnet/maui, pull requests merged in 2025-06, with the labels that each got.

#29784 Fix CarouselView Feature Matrix tests failing on main
  src/Controls/src/Core/Handlers/Items2/CarouselViewHandler2.iOS.cs
  src/Controls/src/Core/Handlers/Items2/iOS/LayoutFactory2.cs
Labels: area-controls-collectionview, community ✨

#28833 ToolbarItem behavior with ImageSource iOS - fix
  src/Controls/src/Core/Compatibility/iOS/Extensions/ToolbarItemExtensions.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ToolbarItemShouldBeCorrectlyRendered.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue28822.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ToolbarItemShouldBeCorrectlyRendered.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28822.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ToolbarItemShouldBeCorrectlyRendered.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ToolbarItemShouldBeCorrectlyRendered.png
Labels: platform/ios, community ✨, area-controls-toolbar

#27306 Update the comment for the test properties
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
Labels: area-infrastructure

#29840 [api] Fix PublicApi shipped file
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Shipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
Labels: t/housekeeping ♻︎, area-infrastructure

#29796 Fixed ItemSpacing on CarouselView resizes items [Android]
  src/Controls/src/Core/Handlers/Items/CarouselViewHandler.Android.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CarouselViewShouldRenderCorrectly.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySpacingAffectsItemSize.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue29609.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifySpacingAffectsItemSize.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29609.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySpacingAffectsItemSize.png
Labels: platform/android, area-controls-collectionview, community ✨, partner/syncfusion

#29322 [Testing] Feature Matrix UITest Cases for CollectionView ItemsSource Feature
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyModelItemsGroupedListWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyModelItemsGroupedListWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyModelItemsObservableCollectionWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyModelItemsObservableCollectionWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyStringItemsGroupedListWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyStringItemsObservableCollectionWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyStringItemsObservableCollectionWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/CollectionViewFeaturePage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/CollectionViewFeaturePage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/CollectionViewViewModel.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/ItemsSource/CollectionViewItemsSourcePage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/ItemsSource/CollectionViewItemsSourcePage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/ItemsSource/ItemsSourceOptionsPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CollectionView/ItemsSource/ItemsSourceOptionsPage.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyModelItemsGroupedListWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyModelItemsGroupedListWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyModelItemsObservableCollectionWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyModelItemsObservableCollectionWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyStringItemsGroupedListWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyStringItemsObservableCollectionWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyStringItemsObservableCollectionWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/CollectionView_GroupingFeatureTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/CollectionView_ItemsSourceFeatureTests.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyModelItemsGroupedListWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyModelItemsGroupedListWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyModelItemsObservableCollectionWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyModelItemsObservableCollectionWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyStringItemsGroupedListWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyStringItemsObservableCollectionWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyStringItemsObservableCollectionWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyModelItemsGroupedListWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyModelItemsGroupedListWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyModelItemsObservableCollectionWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyModelItemsObservableCollectionWhenSingleModePreSelection.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyStringItemsGroupedListWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyStringItemsObservableCollectionWhenMultipleModePreSelection.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyStringItemsObservableCollectionWhenSingleModePreSelection.png
Labels: area-testing, community ✨, partner/syncfusion

#29288 [Windows] Fix for Assigning null to the SelectedItem of the CollectionView in the SelectionChanged event does not clear the selection
  src/Controls/src/Core/Handlers/Items/SelectableItemsViewHandler.Windows.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySelectedItemClearsOnNullAssignment.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue10025.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue10025.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifySelectedItemClearsOnNullAssignment.png
Labels: platform/windows, area-controls-collectionview, community ✨, partner/syncfusion

#28531 [NET10] Replace the obsolete RunJavaScriptTextInputPanel
  src/BlazorWebView/src/Maui/Microsoft.AspNetCore.Components.WebView.Maui.csproj
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/Controls/samples/Controls.Sample/Pages/Blazor/Index.razor
  src/Core/src/Platform/iOS/UIApplicationExtensions.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
Labels: proposal/open, area-blazor, t/housekeeping ♻︎

#25642 Templated indicator view - improvements
  src/Controls/src/Core/IndicatorView/IndicatorStackLayout.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issues25598.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issues25598.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25598.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/IndicatorWithTemplateShouldBeVisible.png
  src/Core/src/Platform/Android/MauiPageControl.cs
Labels: platform/android, platform/ios, area-controls-collectionview, community ✨

#20987 [iOS] Fix AdaptiveTrigger not working as expected
  src/Controls/tests/TestCases.HostApp/Issues/Issue19197.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue19197.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19197.cs
  src/Core/src/Handlers/Window/WindowHandler.iOS.cs
Labels: t/bug, area-xaml, platform/ios, area-controls-window

#29866 [release/10.0.1xx-preview5] Merge net10.0 to release/10.0.1xx-preview5
  src/BlazorWebView/src/Maui/Microsoft.AspNetCore.Components.WebView.Maui.csproj
  src/BlazorWebView/src/Maui/iOS/IOSWebViewManager.cs
  src/Controls/samples/Controls.Sample/Pages/Blazor/Index.razor
  src/Controls/src/SourceGen/CodeBehindGenerator.cs
  src/Controls/tests/SourceGen.UnitTests/SourceGenXamlTests.cs
  src/Controls/tests/Xaml.UnitTests/GlobalXmlnsWithStyle.xaml.cs
  src/Controls/tests/Xaml.UnitTests/GlobalXmlnsWithXStatic.xaml.cs
  src/Core/src/Platform/iOS/UIApplicationExtensions.cs
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseBuildTest.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/BaseTemplateTests.cs
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/SimpleTemplateTest.cs
Labels: t/housekeeping ♻︎

#29874 [iOS] FormattedText with text color causes stack overflow - fix
  src/Controls/src/Core/Label/Label.iOS.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29851.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29851.cs
Labels: platform/ios, community ✨, area-controls-label

#29765 [iOS] Fix SwipeView programmatic open when background color is set.
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ProgrammaticallyOpenedSwipeViewShouldBeVisible.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue17204.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ProgrammaticallyOpenedSwipeViewShouldBeVisible.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17204.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ProgrammaticallyOpenedSwipeViewShouldBeVisible.png
  src/Core/src/Platform/iOS/MauiSwipeView.cs
Labels: platform/ios, community ✨, area-controls-swipeview, partner/syncfusion

#29138 [Windows] Implemented the Resize and Downsize functions in the W2DImage class
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ImagePaintWithDownsize.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ImagePaintWithResizeModeBleed.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ImagePaintWithResizeModeFit.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ImagePaintWithResizeModeStretch.png
  src/Controls/tests/TestCases.HostApp/Controls.TestCases.HostApp.csproj
  src/Controls/tests/TestCases.HostApp/Issues/Issue16767_Downsize.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue16767_Resize.cs
  src/Controls/tests/TestCases.HostApp/Resources/Images/royals.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue16767_Downsize.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue16767_Resize.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ImagePaintWithDownsize.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ImagePaintWithResizeModeBleed.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ImagePaintWithResizeModeFit.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ImagePaintWithResizeModeStretch.png
  src/Graphics/src/Graphics/Platforms/Windows/PlatformCanvas.cs
  src/Graphics/src/Graphics/Platforms/Windows/PlatformImage.cs
Labels: platform/windows, area-drawing, community ✨, partner/syncfusion

#26868 [iOS] CarouselView with CarouselViewHandler2 make app crash when Loop="False" and user scroll to the last position - fix
  src/Controls/src/Core/Handlers/Items2/iOS/CarouselViewController2.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue26863.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue26863.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26863.cs
Labels: platform/ios, area-controls-collectionview, community ✨, collectionview-cv2, partner/syncfusion/review

#29871 [android] 20250414 net10.0 ecosystem updates
  eng/AndroidX.targets
  eng/Versions.props
  src/Compatibility/Android.AppLinks/src/Compatibility.Android.AppLinks.csproj
  src/Compatibility/Maps/src/Android/Compatibility.Maps.Android.csproj
  src/Controls/Foldable/src/Controls.Foldable.csproj
  src/Controls/src/Core/Controls.Core.csproj
  src/Core/maps/src/Maps.csproj
  src/Core/src/Core.csproj
  src/Essentials/src/Essentials.csproj
Labels: platform/android

#29887 Fix Crash when ItemsSource is set to null in the SelectionChanged handler
  src/Controls/src/Core/Handlers/Items/iOS/SelectableItemsViewController.cs
  src/Controls/src/Core/Handlers/Items2/iOS/SelectableItemsViewController2.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29882.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue29882.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29882.cs
Labels: p/0, community ✨

#29884 Resolved CS8662 nullability error in merge main to net 10 PR -29753
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
Labels: community ✨, partner/syncfusion

#29446 [Android] Add a Platform Specific to allow disable js execution on the WebView
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewGalleries/WebViewGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/WebViewGalleries/WebViewGallery.xaml.cs
  src/Controls/src/Core/Platform/Android/Extensions/WebViewExtensions.cs
  src/Controls/src/Core/PlatformConfiguration/AndroidSpecific/WebView.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/WebView/WebView.Android.cs
  src/Controls/src/Core/WebView/WebView.Mapper.cs
  src/Controls/tests/Core.UnitTests/WebViewUnitTests.cs
Labels: t/enhancement ☀️, area-controls-webview

#29694 [net10.0] [iOS, Windows] Fix: Switch does not use the native default `on` color when OnColor is unset
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySwitchDefaultColors.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue29693.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/LabelShouldSizeProperly.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SwitchOnOffVisualStatesTest_SwitchOn.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/UpdatedIsEnabledProperty.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifySwitchDefaultColors.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29693.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LabelShouldSizeProperly.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SwitchOnOffVisualStatesTest_SwitchOn.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/UpdatedIsEnabledProperty.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifySwitchDefaultColors.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/LabelShouldSizeProperly.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SwitchOnOffVisualStatesTest_SwitchOn.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/UpdatedIsEnabledProperty.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySwitchDefaultColors.png
  src/Core/src/Platform/Android/SwitchExtensions.cs
  src/Core/src/Platform/Windows/SwitchExtensions.cs
  src/Core/src/Platform/iOS/SwitchExtensions.cs
Labels: platform/windows, platform/ios, community ✨, area-controls-switch, partner/syncfusion

#22917 Fixes Setting BackgroundColor to null does not actually changes BackgroundColor #22914
  src/Controls/tests/TestCases.HostApp/Issues/Issue22914.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue22914.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22914.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
  src/Core/src/Platform/iOS/ViewExtensions.cs
Labels: community ✨, area-controls-general

#23075 Fixed the picker title's color
  src/Controls/tests/TestCases.HostApp/Issues/Issues16737.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issues16737.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue16737.cs
  src/Core/src/Platform/Android/PickerExtensions.cs
Labels: platform/android, community ✨, area-controls-picker

#25067 [android] Fallback to default icons in SearchHandler
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellSearchView.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchHandlerRendersCustomSearchIconAndClearIcon.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchHandlerRendersDefaultSearchIconAndClearIcon.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue25067.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue25067.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25067.cs
Labels: platform/android, area-controls-shell, community ✨

#29895 [iOS] - Enabled MultipleTouch Support for Handling Multi-Touch Points in GraphicsView
  src/Core/src/Platform/iOS/PlatformTouchGraphicsView.cs
Labels: area-drawing, platform/ios, community ✨, partner/syncfusion

#29904 [housekeeping] Update namespaces in HostApp and Shared tests projects
  src/Controls/tests/TestCases.HostApp/Issues/Issue15649.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue15649.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue20419.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue20443.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue20443.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue27169.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue27803.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue27803.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue27992.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue27992.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue28153.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue28657.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29216.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29233.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue29233.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29472.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue6387.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue7144.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue27803.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue27992.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29233.cs
Labels: community ✨

#29934 Add defensive IsAlive check to Android ViewExtensions.OnUnloaded
  src/Core/src/Platform/Android/ViewExtensions.cs
Labels: p/0

#25541 ScrollView's Gradient Background - UITest
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ScrollViewGradientBackground.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ScrollViewWithoutGradientBackground.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue24061.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24061.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24061.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ScrollViewGradientBackground.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ScrollViewWithoutGradientBackground.png
Labels: platform/ios, community ✨, area-controls-scrollview

#29965 [Windows] Fixed runtime update issue for SearchBar PlaceholderColor and BackgroundColor
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySearchBarPlaceholderAndBackgroundColor.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue29962.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifySearchBarPlaceholderAndBackgroundColor.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29962.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifySearchBarPlaceholderAndBackgroundColor.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySearchBarPlaceholderAndBackgroundColor.png
  src/Core/src/Platform/Windows/SearchBarExtensions.cs
Labels: platform/windows, community ✨, area-controls-searchbar, partner/syncfusion

#29896 [Testing] Enable HandlerDoesNotLeak for Button and ProgressBar
  src/Controls/tests/DeviceTests/Memory/MemoryTests.cs
Labels: area-testing, community ✨

#30030 Ping just David on breaking changes
  .github/policies/resourceManagement.yml
Labels: t/housekeeping ♻︎, area-infrastructure

#28452 [Testing] Recover the uitest-build task on Android cake
  eng/devices/android.cake
Labels: t/housekeeping ♻︎, area-testing

#27772 [Testing] Updated FlakyTestAttribute to allow retries
  src/Controls/tests/TestCases.Shared.Tests/Tests/FlakyTestAttribute.cs
Labels: area-testing, testing-flakiness

#27888 Replace MessagingCenter in AlertManager
  src/Controls/src/Core/NavigationPage/NavigationPage.cs
  src/Controls/src/Core/Page/Page.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Android.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Standard.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Tizen.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Windows.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.cs
  src/Controls/src/Core/Platform/AlertManager/AlertManager.iOS.cs
  src/Controls/src/Core/Platform/AlertManager/AlertMananger.Standard.cs
  src/Controls/src/Core/Window/Window.cs
  src/Controls/tests/Core.UnitTests/AlertManagerTests.cs
  src/Controls/tests/Core.UnitTests/PageTests.cs
Labels: t/breaking 💥, proposal/open, area-controls-dialogalert, area-controls-dialog

#30023 Revert - Fixed the Label not sized correctly on Android
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CanvasShouldHonorBlur.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/IndicatorViewWithTemplatedIcon.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/LabelShouldSizeCorrectlyOnHorizontalCenterLayoutOptions.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/LabelShouldSizeCorrectlyOnHorizontalEndLayoutOptions.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/LabelShouldSizeCorrectlyOnHorizontalStartLayoutOptions.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/LabelShouldSizeProperlyOnCollectionView.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyCarouselLayoutOrientationChange.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyCarouselViewItemsSourceClearedDynamically.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/WordWrapLineBreakModeNoExtraSpace.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue27614.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29542.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/LabelShouldSizeCorrectlyOnHorizontalCenterLayoutOptions.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/LabelShouldSizeCorrectlyOnHorizontalEndLayoutOptions.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/LabelShouldSizeCorrectlyOnHorizontalStartLayoutOptions.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue27614.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29542.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LabelShouldSizeCorrectlyOnHorizontalCenterLayoutOptions.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LabelShouldSizeCorrectlyOnHorizontalEndLayoutOptions.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LabelShouldSizeCorrectlyOnHorizontalStartLayoutOptions.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/LabelShouldSizeCorrectlyOnHorizontalCenterLayoutOptions.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/LabelShouldSizeCorrectlyOnHorizontalEndLayoutOptions.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/LabelShouldSizeCorrectlyOnHorizontalStartLayoutOptions.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/LabelShouldSizeProperlyOnCollectionView.png
  src/Core/src/Platform/Android/MauiTextView.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
Labels: platform/android, p/0, community ✨, area-controls-label, partner/syncfusion

#29639 Fix CV1 GridItemsLayout centering single item AND Fix Empty view not resizing when bounds change
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items2/iOS/ItemsViewController2.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29595.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29634.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29595.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29634.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyGridItemsLayoutLeftAlignsSingleItem.png
Labels: p/0, area-controls-collectionview, community ✨

#30088 [Testing] Fix for flaky UITests (PlatformDragEventArgs & Issue8870) in CI that occasionally fails
  src/Controls/tests/TestCases.Shared.Tests/Tests/DragAndDropUITests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8870.cs
Labels: area-testing, community ✨, partner/syncfusion

#30124 Fixed Build Failure in PR 30115 - [2025/06/23] Candidate
  src/Controls/tests/TestCases.HostApp/Controls.TestCases.HostApp.csproj
Labels: area-testing, community ✨, partner/syncfusion, test-flight

#27456 [ci] try do full build on dnceng
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/core-templates/job/source-build.yml
  eng/common/core-templates/job/source-index-stage1.yml
  eng/common/core-templates/post-build/post-build.yml
  eng/common/core-templates/steps/source-build.yml
  eng/common/post-build/publish-using-darc.ps1
  eng/helix.proj
  eng/pipelines/arcade/stage-build.yml
  eng/pipelines/arcade/stage-helix-tests.yml
  eng/pipelines/arcade/stage-integration-tests.yml
  eng/pipelines/arcade/stage-pack.yml
  eng/pipelines/arcade/stage-unit-tests.yml
  eng/pipelines/arcade/variables.yml
  eng/pipelines/azure-pipelines-public.yml
  eng/pipelines/common/run-dotnet-preview.yml
  global.json
  helix.cmd
  helix.sh
  src/Controls/tests/BindingSourceGen.UnitTests/Controls.BindingSourceGen.UnitTests.csproj
  src/Controls/tests/Core.UnitTests/BindingUnitTests.cs
  src/Controls/tests/Core.UnitTests/Layouts/GridLayoutTests.cs
  src/Controls/tests/Core.UnitTests/TestHelpers.cs
  src/Core/tests/UnitTests/LocalizationTests.cs
  src/SingleProject/Resizetizer/test/UnitTests/Resizetizer.UnitTests.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/AppleTemplateTests.cs
Labels: area-infrastructure

#30137 [net10.0, Testing] Fix LabelFeatureTests Screenshot Issue on Windows
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/LabelFeatureTests.cs
Labels: area-testing, community ✨, partner/syncfusion

#30058 Add overrides to Help with Obsoleting Compatibility.Layout
  src/Controls/src/Core/ContentPresenter.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/ScrollView/ScrollView.cs
  src/Controls/src/Core/TemplatedView/TemplatedView.cs
Labels: p/0

#30141 Clean up unreferenced API Docs XML files
  src/Controls/docs/Microsoft.Maui.Controls.Internals/EnumerableExtensions.xml
  src/Controls/docs/Microsoft.Maui.Controls.Internals/TextTransformUtilites.xml
  src/Controls/docs/Microsoft.Maui.Controls.PlatformConfiguration/Android.xml
  src/Controls/docs/Microsoft.Maui.Controls.PlatformConfiguration/GTK.xml
  src/Controls/docs/Microsoft.Maui.Controls.PlatformConfiguration/Tizen.xml
  src/Controls/docs/Microsoft.Maui.Controls.PlatformConfiguration/Windows.xml
  src/Controls/docs/Microsoft.Maui.Controls.PlatformConfiguration/iOS.xml
  src/Controls/docs/Microsoft.Maui.Controls.PlatformConfiguration/macOS.xml
  src/Controls/docs/Microsoft.Maui.Controls/AbsoluteLayout.xml
  src/Controls/docs/Microsoft.Maui.Controls/Animation.xml
  src/Controls/docs/Microsoft.Maui.Controls/Behavior.xml
  src/Controls/docs/Microsoft.Maui.Controls/BindableObject.xml
  src/Controls/docs/Microsoft.Maui.Controls/Button.xml
  src/Controls/docs/Microsoft.Maui.Controls/EasingTypeConverter.xml
  src/Controls/docs/Microsoft.Maui.Controls/FontTypeConverter.xml
  src/Controls/docs/Microsoft.Maui.Controls/GridLengthTypeConverter.xml
  src/Controls/docs/Microsoft.Maui.Controls/Layout.xml
  src/Controls/docs/Microsoft.Maui.Controls/Menu.xml
  src/Controls/docs/Microsoft.Maui.Controls/NamedPlatformColor.xml
  src/Controls/docs/Microsoft.Maui.Controls/OSAppTheme.xml
  src/Controls/docs/Microsoft.Maui.Controls/Page.xml
  src/Controls/docs/Microsoft.Maui.Controls/StackLayout.xml
  src/Controls/docs/Microsoft.Maui.Controls/TextAlignmentConverter.xml
  src/Controls/docs/Microsoft.Maui.Controls/TypeConverterAttribute.xml
  src/Controls/docs/Microsoft.Maui.Controls/ViewExtensions.xml
  src/Controls/docs/Microsoft.Maui.Controls/WebNavigationEvent.xml
  src/Controls/docs/Microsoft.Maui.Controls/WebNavigationResult.xml
Labels: area-docs, t/housekeeping ♻︎

#30092 [Testing] Fix ADB Key Generation Failure on CI
  eng/devices/android.cake
Labels: platform/android, t/housekeeping ♻︎, area-testing

#28767 [Android] Removing outdated menu items as Android can delete them after switching activities
  src/Controls/src/Core/Platform/Android/Extensions/ToolbarExtensions.cs
Labels: platform/android, community ✨, area-controls-toolbar

#28399 [Testing] Migration of Compatibility.Core platform-specific unit tests into device tests - 6
  src/Controls/tests/DeviceTests/ControlsHandlerTestBase.Android.cs
  src/Controls/tests/DeviceTests/Elements/BoxView/BoxViewTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Button/ButtonTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/CheckBox/CheckBoxTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Editor/EditorTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Entry/EntryTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/Label/LabelTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/SearchBar/SearchBarTests.Android.cs
  src/Controls/tests/DeviceTests/Elements/SwipeView/SwipeViewTests.Android.cs
Labels: area-testing, community ✨, partner/syncfusion

#30049 Fix for Handler not disconnected when removing a non-visible page from the navigation stack
  src/Controls/src/Core/NavigationProxy.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29923.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29923.cs
Labels: platform/macos, platform/windows, platform/android, area-navigation, platform/ios, partner/syncfusion

#30200 [Testing] Fix for flaky UITests RotatingCollectionViewWithHTMLShouldNotHangOrCrash in CI that occasionally fails
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8870.cs
Labels: area-testing, community ✨, testing-flakiness, partner/syncfusion

#30211 [ci] Add a way to open insiders to cake
  eng/cake/dotnet.cake
Labels: t/housekeeping ♻︎

#29950 [Testing] Feature Matrix UITest Cases for Switch Control
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Switch_Click_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Switch_InitialState_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Switch_SetFlowDirectionAndToggled_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Switch_SetOnColorAndThumbColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Switch_SetThumbColorAndOnColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/Switch_SetToggledAndOnColor_VerifyVisualState.png
  src/Controls/tests/TestCases.HostApp/CoreViews/CorePageView.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/Switch/SwitchControlPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/Switch/SwitchControlPage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/Switch/SwitchOptionsPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/Switch/SwitchOptionsPage.xaml.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/Switch/SwitchViewModel.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Switch_Click_VerifyVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Switch_InitialState_VerifyVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Switch_SetFlowDirectionAndToggled_VerifyVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Switch_SetOnColorAndThumbColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Switch_SetShadowAndOnColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Switch_SetShadowAndThumbColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Switch_SetShadowOpacityAndToggled_VerifyVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Switch_SetThumbColorAndOnColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/Switch_SetToggledAndOnColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/SwitchFeatureTests.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Switch_Click_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Switch_InitialState_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Switch_SetFlowDirectionAndToggled_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Switch_SetOnColorAndThumbColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Switch_SetThumbColorAndOnColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Switch_SetToggledAndOnColor_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Switch_Click_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Switch_InitialState_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Switch_SetFlowDirectionAndToggled_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Switch_SetOnColorAndThumbColor_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Switch_SetShadowAndOnColor_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Switch_SetShadowAndThumbColor_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Switch_SetShadowOpacityAndToggled_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Switch_SetThumbColorAndOnColor_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Switch_SetToggledAndOnColor_VerifyVisualState.png
Labels: area-testing, community ✨, area-controls-switch, partner/syncfusion

#29180 [iOS] Permissions.RequestAsync<Premissions.LocationWhenInUse> is getting main thread warnings - fix
  src/Essentials/src/Permissions/Permissions.ios.tvos.watchos.cs
Labels: platform/ios, area-essentials, community ✨

#30272 [housekeeping] Dispatch MainPage reset to UI thread to prevent crash in HostApp
  src/Controls/tests/TestCases.HostApp/CoreViews/CorePageView.cs
Labels: community ✨

#30268 Reinstate some iOS13+ guards to support iOS 12.2+
  src/Core/src/Hosting/LifecycleEvents/AppHostBuilderExtensions.iOS.cs
  src/Core/src/Platform/iOS/ColorExtensions.cs
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
Labels: platform/ios, p/0, area-controls-general, i/regression

#27056 [iOS] Fix for CarouselView ItemSpacing property in ItemsLayout not working with CV2
  src/Controls/src/Core/Handlers/Items2/iOS/LayoutFactory2.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue25192.xaml
Labels: platform/ios, area-controls-collectionview, community ✨, partner/syncfusion

#30258 Don't generate the typescript file locally
  src/Core/src/Core.csproj
Labels: do-not-merge
