Repository dotnet/maui, pull requests merged in 2025-08, with the labels that each got.

#30811 [Testing] Feature matrix UITest Cases for Secondary Toolbar
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ToolBarSecondayItemsShouldNotUseBarTextColor.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ToolbarItemCorrectSizeTest.png
  src/Controls/tests/TestCases.HostApp/CoreViews/CorePageView.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/ToolbarItem/ToolbarFeaturePage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/ToolbarItem/ToolbarFeaturePage.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ToolbarItemCorrectSizeTest.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/ToolbarFeatureTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20177.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29499.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue7156.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue6127.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/NumberOfToolbarItemsShouldNotIncrease.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ToolbarItemCorrectSizeTest.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySecondaryToolBar_IconAppearance.png
Labels: area-testing, community ✨, area-controls-toolbar, partner/syncfusion

#30962 [Net10] [iOS] Enable sizing back/flyout icon with the FontImageSource size property
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/FlyoutIconShouldAutoscale.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/FlyoutIconShouldAutoscale.png
Labels: platform/ios, area-controls-shell, community ✨, shell-flyout

#30930 Add CornerRadius parameter order notes
  src/Controls/docs/Microsoft.Maui.Controls.Shapes/RoundRectangleGeometry.xml
  src/Controls/docs/Microsoft.Maui.Controls/BoxView.xml
  src/Controls/src/Core/BoxView/BoxView.cs
  src/Controls/src/Core/ICornerElement.cs
  src/Controls/src/Core/Shapes/RoundRectangle.cs
  src/Controls/src/Core/Shapes/RoundRectangleGeometry.cs
Labels: area-docs, t/housekeeping ♻︎

#26904 [Android] Set FillViewport to true to MauiHorizontalScrollView
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/LayoutInHorizontalScrollViewShouldExpand.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue25462.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/LayoutInHorizontalScrollViewShouldExpand.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25462.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LayoutInHorizontalScrollViewShouldExpand.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/LayoutInHorizontalScrollViewShouldExpand.png
  src/Core/src/Platform/Android/MauiScrollView.cs
Labels: platform/android, p/0, community ✨, area-controls-scrollview

#30998 [release/10.0.1xx-preview7] Update release with latest fixes from net10.0 (#30912)
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellPageRendererTracker.cs
  src/Controls/src/Core/FlyoutPage/FlyoutPage.cs
  src/Controls/src/Core/MultiPage.cs
  src/Controls/src/Core/NavigationModel.cs
  src/Controls/src/Core/NavigationPage/NavigationPage.Legacy.cs
  src/Controls/src/Core/NavigationPage/NavigationPage.cs
  src/Controls/src/Core/Page/NavigatedFromEventArgs.cs
  src/Controls/src/Core/Page/NavigatedToEventArgs.cs
  src/Controls/src/Core/Page/NavigatingFromEventArgs.cs
  src/Controls/src/Core/Page/NavigationType.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/ScrollView/ScrollView.cs
  src/Controls/src/Core/Shell/Shell.cs
  src/Controls/tests/Core.UnitTests/AlertManagerTests.cs
  src/Controls/tests/Core.UnitTests/PageLifeCycleTests.cs
  src/Controls/tests/DeviceTests/Elements/FlyoutPage/FlyoutPageTests.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ToolBarSecondayItemsShouldNotUseBarTextColor.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ToolbarItemCorrectSizeTest.png
  src/Controls/tests/TestCases.HostApp/CoreViews/CorePageView.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/ToolbarItem/ToolbarFeaturePage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/ToolbarItem/ToolbarFeaturePage.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue21814FirstPage.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue21814FirstPage.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue21814FlyoutPage.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue21814SecondPage.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue21814SecondPage.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue21814TabbedPage.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/FlyoutIconShouldAutoscale.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ToolbarItemCorrectSizeTest.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/ToolbarFeatureTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue20177.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21814.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21814FlyoutPage.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21814TabbedPage.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29499.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue7156.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/XFIssue/Issue6127.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/NumberOfToolbarItemsShouldNotIncrease.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/FlyoutIconShouldAutoscale.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ToolbarItemCorrectSizeTest.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySecondaryToolBar_IconAppearance.png
  src/Core/src/Handlers/ScrollView/ScrollViewHandler.Android.cs
  src/Core/src/Layouts/LayoutExtensions.cs
  src/Core/src/Platform/Android/MauiScrollView.cs
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: p/0

#30976 [iOS] Fix extra bottom space in ScrollView when using SafeAreaEdges
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
Labels: community ✨, partner/syncfusion

#30873 [Blazor] Clean up duplicate path normalization code in HybridWebView
  src/Core/src/Platform/Android/MauiHybridWebViewClient.cs
Labels: area-blazor, t/housekeeping ♻︎

#31006 [net10.0, Testing] Fix for flaky UITest Issue29559KeyboardDismissonSearchHander in CI
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19152.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29559.cs
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: area-testing, community ✨, testing-flakiness, partner/syncfusion

#31080 [Net10]Fix iOS Snapshots in ScrollView Feature Matrix Test
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyScrollViewWithScrollToPositionCenterAndAbsoluteLayoutContent.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyScrollViewWithScrollToPositionCenterAndImageContent.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyScrollViewWithScrollToPositionEndAndAbsoluteLayoutContent.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyScrollViewWithScrollToPositionEndAndImageContent.png
Labels: community ✨, partner/syncfusion

#20824 [iOS] PullToRefresh activity indicator improvements - fix
  src/Core/src/Platform/iOS/MauiRefreshView.cs
Labels: platform/ios, area-controls-collectionview, community ✨, area-controls-refreshview, collectionview-cv2

#30537 [Windows]Fixed the PointerGestureRecognizer behaves incorrectly when multiple windows are open.
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Windows.cs
Labels: p/0, community ✨, area-gestures, partner/syncfusion

#29649 [Android] Improve Keyboard Accessibility: Support Spacebar for Android Gesture recognisers
  src/Controls/src/Core/Platform/Android/Extensions/SemanticExtensions.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Android.cs
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.iOS.cs
  src/Controls/src/Core/Platform/SemanticExtensions.cs
  src/Core/src/Platform/Android/ViewExtensions.cs
Labels: platform/android, area-gestures, t/a11y

#26297 [Android] Gradient background with ImageButton
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/GradientBackgroundShouldWorkWithImageButton.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue23119.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue23119.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/GradientBackgroundShouldWorkWithImageButton.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23119.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/GradientBackgroundShouldWorkWithImageButton.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/GradientBackgroundShouldWorkWithImageButton.png
  src/Core/src/Handlers/ImageButton/ImageButtonHandler.Android.cs
Labels: platform/android, community ✨, area-controls-button

#26320 [Android] BackgroundColor for GraphicsView
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/GraphicsViewShouldHaveBackgroundColor.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue19568.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue19568.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/GraphicsViewShouldHaveBackgroundColor.png
  src/Core/src/Handlers/GraphicsView/GraphicsViewHandler.Android.cs
  src/Core/src/Platform/Android/GraphicsViewExtensions.cs
Labels: platform/android, area-drawing, community ✨

#27525 [MacOS] Picker's dialog improvement
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CorrectItemShouldBeSelectedWhenOpeningPicker.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue27519.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CorrectItemShouldBeSelectedWhenOpeningPicker.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue27519.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/CorrectItemShouldBeSelectedWhenOpeningPicker.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CorrectItemShouldBeSelectedWhenOpeningPicker.png
  src/Core/src/Handlers/Picker/PickerHandler.iOS.cs
Labels: platform/macos, community ✨, area-controls-picker

#26876 [Windows] Fix for TabbedPage more menu items color.
  src/Controls/src/Core/Platform/Windows/TabbedPage/TabbedPageStyle.xaml
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifyTabbedPageMenuItemTextColor.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue26754.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue26754.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyTabbedPageMenuItemTextColor.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue26754.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyTabbedPageMenuItemTextColor.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyTabbedPageMenuItemTextColor.png
Labels: area-controls-tabbedpage, community ✨, partner/syncfusion

#27516 [iOS] Thumb image improvements
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SliderThumbImageShouldRespectColor.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue27515.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SliderThumbImageShouldRespectColor.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue27515.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SliderThumbImageShouldRespectColor.png
  src/Core/src/Platform/iOS/SliderExtensions.cs
Labels: platform/ios, community ✨, area-controls-slider

#27419 Add support to dismiss the prompt with enter on keyboard
  src/Controls/src/Core/Platform/AlertManager/AlertManager.Windows.cs
Labels: community ✨, area-controls-dialogalert, area-keyboard

#30987 Make IsActivated property public in Window.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/src/Core/Window/Window.cs
  src/Controls/tests/Core.UnitTests/WindowsTests.cs
  src/Controls/tests/DeviceTests/Elements/Window/WindowTests.cs
Labels: p/0, community ✨, area-controls-window

#30872 Make more .NET MAUI Views public
  src/Controls/src/Core/Platform/Android/MauiViewPager.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/Platform/Android/MauiScrollView.cs
  src/Core/src/Platform/Android/MauiShapeableImageView.cs
  src/Core/src/Platform/Windows/MauiSlider.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
Labels: t/enhancement ☀️

#31149 Check if tab bar hidden value actually changed for Shell
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellItemRenderer.cs
Labels: platform/macos, platform/ios, p/0, area-shell

#31184 Revert "Expose DispatcherExtensions so it could be used outside of Maui as well"
  src/Compatibility/Core/src/Android/CollectionView/ObservableGroupedSource.cs
  src/Compatibility/Core/src/Android/CollectionView/ObservableItemsSource.cs
  src/Compatibility/Core/src/Windows/ListViewRenderer.cs
  src/Compatibility/Core/src/iOS/VisualElementTracker.cs
  src/Controls/src/Core/AppThemeBinding.cs
  src/Controls/src/Core/BindingExpression.cs
  src/Controls/src/Core/DispatcherExtensions.cs
  src/Controls/src/Core/Handlers/Items/Android/ItemsSources/ObservableGroupedSource.cs
  src/Controls/src/Core/Handlers/Items/Android/ItemsSources/ObservableItemsSource.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/GroupedItemTemplateCollection.cs
  src/Controls/src/Core/Platform/Windows/CollectionView/ObservableItemTemplateCollection.cs
  src/Core/src/Dispatching/DispatcherExtensions.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Core/src/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Core/tests/UnitTests/Dispatching/DispatcherTests.cs
Labels: platform/windows, p/0, i/regression

#30995 [iOS] Auto Resize chrome icons on iOS to make it more consistent with other platforms - Toolbar items
  src/Controls/src/Core/Compatibility/iOS/Extensions/ToolbarItemExtensions.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ToolbarItemShouldBeCorrectlyRendered.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ToolbarItemShouldBeCorrectlyRendered.png
Labels: platform/ios, p/0, area-controls-shell, area-controls-toolbar

#25910 [iOS] Gradient never returns to the correct color - fix
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/LinearGradientShouldHaveTheSameTopColorAsBackground.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue23575.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23575.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LinearGradientShouldHaveTheSameTopColorAsBackground.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/LinearGradientShouldHaveTheSameTopColorAsBackground.png
  src/Core/src/Platform/iOS/MauiCALayer.cs
Labels: platform/ios, community ✨, area-controls-border

#31229 [XC|XSG] fix target resolution
  src/Controls/src/Build.Tasks/CompiledConverters/BindablePropertyConverter.cs
  src/Controls/src/Build.Tasks/XamlCache.cs
  src/Controls/src/Build.Tasks/XmlTypeExtensions.cs
  src/Controls/src/SourceGen/NodeSGExtensions.cs
  src/Controls/tests/Xaml.UnitTests/Issues/Maui31186.xaml
  src/Controls/tests/Xaml.UnitTests/Issues/Maui31186.xaml.cs
Labels: p/0

#31221 Fix modal and Shell edge to edge scenarios
  src/Controls/src/Core/Compatibility/Android/Resources/layout/flyoutcontent.axml
  src/Controls/src/Core/Compatibility/Android/Resources/layout/shellcontent.axml
  src/Controls/src/Core/Compatibility/Handlers/Shell/Android/ShellContentFragment.cs
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
  src/Core/src/Platform/Android/Resources/Layout/navigationlayout.axml
  src/Core/src/Platform/Android/Resources/values-v35/styles.xml
  src/Core/src/Platform/Android/Resources/values/styles.xml
Labels: p/0

#31036 NET 10 - Added command and command parameter for CheckBox control
  src/Controls/src/Core/CheckBox/CheckBox.cs
  src/Controls/src/Core/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-tizen/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-windows/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/netstandard/PublicAPI.Unshipped.txt
  src/Controls/tests/Core.UnitTests/CheckBoxUnitTests.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CheckBox_ChangeColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CheckBox_SetIsCheckedAndColor_VerifyVisualState.png
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CheckBox/CheckBoxControlPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/CheckBox/CheckBoxViewModel.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CheckBox_ChangeColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/CheckBox_SetIsCheckedAndColor_VerifyVisualState.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/CheckBoxFeatureTests.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/CheckBox_ChangeColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/CheckBox_SetIsCheckedAndColor_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CheckBox_ChangeColor_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/CheckBox_SetIsCheckedAndColor_VerifyVisualState.png
Labels: p/0, community ✨, partner/syncfusion

#31225 Always use dot separators in XAML SG converters
  src/Controls/src/SourceGen/GeneratorHelpers.cs
  src/Controls/src/SourceGen/KnownTypeConverters.cs
  src/Controls/tests/SourceGen.UnitTests/KnownTypeConvertersTests.cs
Labels: area-xaml

#31242 [iOS] iOS button crash with CharacterSpacing and TextColor - fix
  src/Controls/tests/TestCases.HostApp/Issues/Issue31238.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue31238.cs
  src/Core/src/Platform/iOS/AttributedStringExtensions.cs
Labels: platform/ios, community ✨, area-controls-button

#28812 [Android] Overriding back button functionality with OnBackButtonPressed returning false in a modally pushed page causes stack overflow - fix
  src/Controls/src/Core/Platform/ModalNavigationManager/ModalNavigationManager.Android.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue28811.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28811.cs
Labels: platform/android, area-navigation, area-controls-modal

#30959 [Testing] Fix for flaky UITests in CI
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/RefreshIconDisappearsWhenUserCancelsRefreshByScrollingBackUp.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue17610.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue17610.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/EntryFeatureTests.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17610.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue18443.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue8715.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/EntrySelectionLengthRuntimeUpdate.png
  src/TestUtils/src/UITest.Appium/HelperExtensions.cs
Labels: p/0, area-testing, community ✨, testing-flakiness, partner/syncfusion

#29999 [iOS]CarouselView Position Not Respected When Changing From Hidden to Visible in CV2 - fix
  src/Controls/src/Core/Handlers/Items2/iOS/CarouselViewController2.cs
  src/Controls/tests/TestCases.HostApp/Issues/CarouselViewUpdatePosition.xaml
Labels: platform/ios, community ✨, collectionview-cv2

#31358 [Testing] Fixed Test case failure in PR 31327 - [2025/08/25] Candidate
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/PlaceholderColorShouldChange.png
Labels: area-testing, community ✨

#31255 Fix SearchBar IsTextPredictionEnabled false functionality
  src/Controls/src/Core/SearchBar/SearchBar.cs
  src/Core/tests/DeviceTests/Handlers/SearchBar/SearchBarHandlerTests.cs
Labels: community ✨, area-controls-searchbar, partner/syncfusion

#24645 [iOS] Add a done button to text fields
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/PageShouldNotScroll.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/PickerNewKeyboardIsAboveKeyboard_Entry7.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ShadowAddClip.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ShadowRemoveClip.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_AddClip_VerifyShadow.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_ChangeFlowDirection_RTL_VerifyScreenshot.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_SetEnabledStateToFalse_VerifyScreenshot.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_SetOffset_PositiveValues.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_SetOffset_Zero.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_SetOpacity.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_SetOpacity_Zero.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_SetRadius.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_SetRadius_Zero.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/Shadow_SetVisibilityToFalse_VerifyScreenshot.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ValidateEntryClearButtonVisibilityBehavior.png
  src/Core/src/Handlers/Editor/EditorHandler.iOS.cs
  src/Core/src/Handlers/Entry/EntryHandler.iOS.cs
  src/Core/src/Platform/iOS/TextFieldExtensions.cs
  src/Core/src/Platform/iOS/TextViewExtensions.cs
Labels: platform/ios, community ✨, area-controls-entry

#31303 [iOS] ToolbarItems can no longer be manipulated after an incomplete "Back" gesture on iOS - fix
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
Labels: platform/ios, community ✨, area-controls-toolbar

#20959 [iOS] Shell/NavigationPage TitleView
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
Labels: area-controls-shell, community ✨, area-controls-titleview, partner/syncfusion/review

#30431 [Android] Fix SearchBar FlowDirection Property Not Working
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/VerifySearchBarFlowDirection.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue30367.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifySearchBarFlowDirection.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue30367.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifySearchBarFlowDirection.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifySearchBarFlowDirection.png
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Handlers/SearchBar/SearchBarHandler.cs
Labels: platform/android, community ✨, area-controls-searchbar, partner/syncfusion

#23877 [iOS] Pasting long text when the editor has a max length
  src/Controls/tests/TestCases.HostApp/Issues/Issue17783.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17783.cs
  src/Core/src/Core/Extensions/ITextInputExtensions.cs
Labels: platform/macos, community ✨, area-controls-editor

#31392 DependencyService API docs fixes
  src/Controls/src/Core/DependencyFetchTarget.cs
  src/Controls/src/Core/DependencyService.cs
Labels: area-docs

#31213 [Testing] Added Tests for Issue31139 and DispatcherExtensions
  src/Controls/tests/Core.UnitTests/DispatcherExtensionsTests.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue31139.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue31139.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue31139.cs
Labels: area-testing, community ✨, partner/syncfusion

#31401 Improve IPlatformApplication API docs
  src/Core/src/Core/IPlatformApplication.cs
Labels: area-docs

#31399 Improve PathF API docs
  src/Graphics/src/Graphics/PathF.cs
Labels: area-docs

#31398 Bring BindingBase API docs inline
  src/Controls/docs/Microsoft.Maui.Controls/BindingBase.xml
  src/Controls/src/Core/BindingBase.cs
Labels: area-docs

#31406 Document FillPath exceptions and improve PathF documentation
  src/Graphics/src/Graphics/CanvasExtensions.cs
  src/Graphics/src/Graphics/PathF.cs
Labels: area-docs

#31407 Clarify Element.FindByName search scope documentation
  src/Controls/src/Core/Element/Element.cs
Labels: area-docs
