Repository dotnet/maui, pull requests merged in 2025-09, with the labels that each got.

#31430 Bring WebView API docs inline
  src/Controls/docs/Microsoft.Maui.Controls/WebView.xml
  src/Controls/docs/Microsoft.Maui.Controls/_images/WebView.TripleScreenShot.png
  src/Controls/src/Core/WebView/WebView.cs
Labels: area-docs

#31420 remove dupe
  src/Controls/src/SourceGen/MauiGResources.cs.resx
  src/Controls/src/SourceGen/MauiGResources.de.resx
  src/Controls/src/SourceGen/MauiGResources.es.resx
  src/Controls/src/SourceGen/MauiGResources.fr.resx
  src/Controls/src/SourceGen/MauiGResources.it.resx
  src/Controls/src/SourceGen/MauiGResources.ja.resx
  src/Controls/src/SourceGen/MauiGResources.ko.resx
  src/Controls/src/SourceGen/MauiGResources.pl.resx
  src/Controls/src/SourceGen/MauiGResources.pt-BR.resx
  src/Controls/src/SourceGen/MauiGResources.resx
  src/Controls/src/SourceGen/MauiGResources.ru.resx
  src/Controls/src/SourceGen/MauiGResources.tr.resx
  src/Controls/src/SourceGen/MauiGResources.zh-Hans.resx
  src/Controls/src/SourceGen/MauiGResources.zh-Hant.resx
Labels: t/housekeeping ♻︎

#31414 ♻️Fix DebuggerDisplay for ItemsSource
  src/Controls/src/Core/Items/ItemsView.cs
Labels: community ✨

#30601 [Android] SearchBar does not update colors on theme change - fix
  src/Controls/src/Core/SearchBar/SearchBar.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/PlaceholderColorShouldChange.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchBar_SetFontAttributesAndPlaceholderText_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchBar_SetFontFamilyAndPlaceholder_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchBar_SetFontSizeAndPlaceholder_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchBar_SetHorizontalTextAlignmentAndPlaceholder_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchBar_SetPlaceholderAndCharacterSpacing_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchBar_SetPlaceholderAndVerticalTextAlignment_VerifyVisualState.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SearchbarColorsShouldUpdate.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue30601.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SearchbarColorsShouldUpdate.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue30601.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SearchbarColorsShouldUpdate.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SearchbarColorsShouldUpdate.png
  src/Core/src/Handlers/SearchBar/SearchBarHandler.Android.cs
  src/Core/src/Platform/Android/SearchViewExtensions.cs
Labels: platform/android, community ✨, area-controls-searchbar

#27294 [Android] Fixed incorrect tab content display in TabbedPage
  src/Controls/src/Core/Platform/Android/TabbedPageManager.cs
  src/Controls/src/Core/TabbedPage/TabbedPage.Android.cs
  src/Controls/src/Core/TabbedPage/TabbedPage.Mapper.cs
  src/Controls/tests/DeviceTests/Elements/TabbedPage/TabbedPageTests.cs
  src/Controls/tests/TestCases.HostApp/Issues/23732Page.xaml
  src/Controls/tests/TestCases.HostApp/Issues/23732Page.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue21640.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21640.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue23732.cs
Labels: platform/android, area-controls-tabbedpage, community ✨, partner/syncfusion

#31373 Added a README with details about how to compile the manual tests
  src/Controls/tests/ManualTests/README.md
Labels: t/housekeeping ♻︎, area-testing

#30501 [iOS] Flyout Menu CollectionView First Item Misaligned - fix
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellFlyoutLayoutManager.cs
  src/Controls/src/Core/Compatibility/Handlers/Shell/iOS/ShellTableViewController.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/FlyoutMenuCollectionViewFirstItemMisaligned.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue30483.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue30483.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/FlyoutMenuCollectionViewFirstItemMisaligned.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue30483.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/FlyoutMenuCollectionViewFirstItemMisaligned.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/FlyoutMenuCollectionViewFirstItemMisaligned.png
Labels: platform/ios, p/0, area-controls-collectionview, community ✨, area-controls-flyout, collectionview-cv2, shell-flyout

#30525 [Mac Catalyst] TitleBar not reacting on UserAppTheme changes
  src/Core/src/Platform/iOS/WindowViewController.cs
Labels: platform/macos, p/0, community ✨, area-controls-titlebar

#27653 [iOS] CV1 & CV2 - Support for RTL
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items2/iOS/ItemsViewController2.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue27711.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue27711.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue27711.cs
Labels: platform/ios, area-controls-collectionview, community ✨

#31391 [Windows] Optimize `Label.CharacterSpacing` on initial load
  src/Core/src/Handlers/Label/LabelHandler.Windows.cs
Labels: community ✨, area-controls-label, perf/general

#31452 [Windows] Allow to remove shadows at runtime
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue24414Test_5.png
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: platform/windows, area-drawing, community ✨

#30835 [Windows] Fix `ActionSheet` maximum size and styling
  src/Controls/src/Core/Platform/AlertManager/ActionSheetDialog.Windows.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ActionSheetWithLongTitleShouldDisplayProperly.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ActionSheetWithManyActionsShouldDisplayProperly.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ActionSheetWithSixActionsShouldDisplayProperly.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue25200.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/ActionSheetWithSixActionsShouldDisplayProperly.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue25200.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ActionSheetWithLongTitleShouldDisplayProperly.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ActionSheetWithManyActionsShouldDisplayProperly.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ActionSheetWithSixActionsShouldDisplayProperly.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ActionSheetWithLongTitleShouldDisplayProperly.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ActionSheetWithManyActionsShouldDisplayProperly.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/ActionSheetWithSixActionsShouldDisplayProperly.png
  src/Core/src/Platform/Windows/Styles/Resources.xaml
Labels: platform/windows, community ✨, area-controls-dialogalert

#31486 [Android] TapGestureRecognizer cannot be tapped using Android Talkback in MAUI - fix
  src/Controls/src/Core/Platform/GestureManager/GesturePlatformManager.Android.cs
Labels: platform/android, community ✨, area-gestures, t/a11y

#31041 [Testing] Resolved Cursor Visibility issue on UITestSearchBar control
  src/Controls/tests/TestCases.HostApp/Controls/UITestSearchBarHandler.cs
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/SearchBar/SearchBarControlPage.xaml
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/SearchBar/SearchBarControlPage.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/FeatureMatrix/SearchBarFeatureTests.cs
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SearchBar_SetCancelButtonAndTextColor_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SearchBar_SetFlowDirection_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SearchBar_SetFontFamilyAndFontSize_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SearchBar_SetFontFamilyAndText_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SearchBar_SetFontSizeAndText_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SearchBar_SetHorizontalTextAlignmentAndText_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SearchBar_SetShadow_VerifyVisualState.png
Labels: area-testing, community ✨, partner/syncfusion

#31429 [Windows] Optimize `TextHighlighters` use
  src/Controls/src/Core/Platform/Windows/Extensions/TextBlockExtensions.cs
Labels: platform/windows, community ✨, perf/general

#31318 [Android] Sort gradient stops by offset
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/LinearGradientBrushShouldWork.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue31314.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/LinearGradientBrushShouldWork.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue31314.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/LinearGradientBrushShouldWork.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/LinearGradientBrushShouldWork.png
  src/Core/src/Graphics/MauiDrawable.Android.cs
Labels: platform/android, area-drawing, community ✨

#31494 Only enable Aspire functionality in non-optimized builds (i.e. Debug)
  docs/design/FeatureSwitches.md
  src/Controls/src/Build.Tasks/nuget/buildTransitive/netstandard2.0/Microsoft.Maui.Controls.targets
  src/Core/src/Hosting/Dispatching/AppHostBuilderExtensions.cs
  src/Core/src/RuntimeFeature.cs
Labels: area-aspire

#31488 [Windows] Allow to remove clip at runtime
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue24414Test_4.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/Issue24414Test_5.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/WebViewShouldNotMirrored.png
  src/Core/src/Platform/Windows/WrapperView.cs
Labels: platform/windows, area-drawing, community ✨

#29410 Fix for exception thrown when disconnecting page handlers in the Unloaded event while navigating on MacCatalyst and iOS
  src/Controls/src/Core/VisualElement/VisualElement.Platform.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue29297.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue29297.cs
Labels: platform/macos, area-controls-shell, community ✨, partner/syncfusion

#31603 [inflight/candidate] September 15th - Fix null reference in ItemsViewController flow direction
  src/Controls/src/Core/Handlers/Items/iOS/ItemsViewController.cs
  src/Controls/src/Core/Handlers/Items2/iOS/ItemsViewController2.cs
Labels: community ✨

#31592 [Testing] Fixed Test case failure in Update main net10
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CorrectItemShouldBeSelectedWhenOpeningPicker.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ShouldAppearItemsWhenTappingOnPickerUsingPushModalAsync.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ShouldDisplayPickerItemsWhenOpeningPicker.png
  src/Controls/tests/TestCases.HostApp/FeatureMatrix/Slider/SliderViewModal.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/SliderThumbImageShouldRespectColor.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue30690.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SearchBar_SetFontAttributesAndPlaceholderText_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SearchBar_SetFontFamilyAndPlaceholder_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SearchBar_SetHorizontalTextAlignmentAndPlaceholder_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SearchBar_SetPlaceholderAndPlaceholderColor_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SearchBar_SetPlaceholderAndVerticalTextAlignment_VerifyVisualState.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SearchBar_SetPlaceholderColorAndTextColor_VerifyVisualState.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/SliderThumbImageShouldRespectColor.png
Labels: community ✨, partner/syncfusion

#29818 Fix for Preventing Incorrect TalkBack Announcements During CollectionView Deselection on Android
  src/Controls/src/Core/Handlers/Items/Android/Adapters/SelectableItemsViewAdapter.cs
  src/Controls/src/Core/Handlers/Items/Android/SelectableViewHolder.cs
  src/Controls/src/Core/Platform/Android/Extensions/RecyclerViewExtensions.cs
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SelectedItemsShowSelected_multiple.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SelectedItemsShowSelected_none.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/SelectedItemsShowSelected_single.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue21375.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue21375.xaml.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue21375.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SelectedItemsShowSelected_multiple.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SelectedItemsShowSelected_none.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/SelectedItemsShowSelected_single.png
Labels: platform/android, p/0, area-controls-collectionview, t/a11y, partner/syncfusion

#31616 Fix Aspire ServiceDefaults project template naming
  src/Templates/src/templates/maui-aspire-servicedefaults/.template.config/template.json
  src/Templates/src/templates/maui-aspire-servicedefaults/MauiAspire.1.ServiceDefaults.csproj
  src/TestUtils/src/Microsoft.Maui.IntegrationTests/SimpleTemplateTest.cs
Labels: area-templates

#31175 Radio Button Null Selection Fix
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGroupBindingGallery.xaml
  src/Controls/samples/Controls.Sample/Pages/Controls/RadioButtonGalleries/RadioButtonGroupBindingGallery.xaml.cs
  src/Controls/src/Core/RadioButton/RadioButton.cs
  src/Controls/src/Core/RadioButton/RadioButtonGroupController.cs
  src/Controls/tests/Core.UnitTests/RadioButtonTests.cs
Labels: community ✨

#31352 [NET10] [iOS] Fix SafeArea does not correctly account for the view area under the soft input
  src/Controls/tests/TestCases.HostApp/Elements/KeyboardScrollingEntriesPage.xaml
  src/Controls/tests/TestCases.HostApp/Elements/KeyboardScrollingGridPage.xaml
  src/Core/src/Platform/iOS/KeyboardAutoManagerScroll.cs
  src/Core/src/Platform/iOS/MauiView.cs
Labels: platform/ios, community ✨, partner/syncfusion

#30981 [Net10] [iOS] Set NavigationBar.Translucent based on NavigationPage BarBackgroundColor transparency
  src/Controls/src/Core/Compatibility/Handlers/NavigationPage/iOS/NavigationRenderer.cs
  src/Controls/src/Core/NavigationPage/NavigationPage.Mapper.cs
  src/Controls/src/Core/NavigationPage/NavigationPage.iOS.cs
  src/Controls/src/Core/Platform/iOS/Extensions/NavigationPageExtensions.cs
  src/Controls/src/Core/PlatformConfiguration/iOSSpecific/NavigationPage.cs
  src/Controls/src/Core/PublicAPI/net-ios/PublicAPI.Unshipped.txt
  src/Controls/src/Core/PublicAPI/net-maccatalyst/PublicAPI.Unshipped.txt
  src/Controls/tests/DeviceTests/Elements/NavigationPage/NavigationPageTests.iOS.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue17022.cs
Labels: community ✨, partner/syncfusion

#31105 [Essentials: Text to speech] Overwrite system default voice
  src/Essentials/src/TextToSpeech/TextToSpeech.android.cs
  src/Essentials/src/TextToSpeech/TextToSpeech.ios.tvos.watchos.cs
Labels: community ✨, area-essentials-texttospeech

#31685 Candidate branch september 22nd current item should work test fix
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28524.cs
Labels: area-testing, community ✨

#31289 [Windows] Fix `LineHeight` values <1 having no effect by setting `LineStackingStrategy` to `BlockLineHeight`
  src/Controls/tests/TestCases.HostApp/Issues/Issue24520.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue24520.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/VerifyLineHeightRendering.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue24520.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/ReduceInvalidateMeasuresUpdatingLabel.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyLabelWithFormattedTextAndLineHeight.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyLabelWithTextTypeAndLineHeight.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyLabelWithTextWhenLineHeight.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/VerifyLineHeightRendering.png
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/WordWrapLineBreakModeNoExtraSpace.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/VerifyLineHeightRendering.png
  src/Core/src/Platform/Windows/Styles/Resources.xaml
Labels: platform/windows, p/0, community ✨

#31710 Update copilot instructions for UI test categories
  .github/copilot-instructions.md
Labels: area-testing

#31697 [housekeeping] Move to latest extensions version
  eng/Versions.props
Labels: t/housekeeping ♻︎

#31665 [Testing] - Added tests for Graphics IImage Breaking Issues 30350 & 30425
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/DownSizeImageAppearProperly.png
  src/Controls/tests/TestCases.HostApp/Issues/Issue30350.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue30350.xaml.cs
  src/Controls/tests/TestCases.HostApp/Issues/Issue30426.xaml
  src/Controls/tests/TestCases.HostApp/Issues/Issue30426.xaml.cs
  src/Controls/tests/TestCases.Mac.Tests/snapshots/mac/DownSizeImageAppearProperly.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue30350.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue30426.cs
  src/Controls/tests/TestCases.WinUI.Tests/snapshots/windows/DownSizeImageAppearProperly.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/DownSizeImageAppearProperly.png
Labels: area-testing, community ✨, testing-missing-tests, partner/syncfusion

#31709 Add 'SafeAreaEdges' to UI tests configuration
  eng/pipelines/common/ui-tests.yml
Labels: area-testing

#31715 [Testing] Added Left/Right Cropping Support for Screenshot Verification in UI Tests
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/BorderBackgroundSizeUpdatesWhenRotatingScreen.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/CarouselViewItemShouldScaleProperly.png
  src/Controls/tests/TestCases.Android.Tests/snapshots/android/ShouldFlyoutTextWrapsInLandscape.png
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue15154.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue22606.cs
  src/Controls/tests/TestCases.Shared.Tests/Tests/Issues/Issue28523.cs
  src/Controls/tests/TestCases.Shared.Tests/UITest.cs
Labels: area-testing, community ✨, partner/syncfusion

#31712 [Testing] Fixed Test case failure in PR 31681 - [09/22/2025] Candidate2
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/BackButtonVisible.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/IconColorDefault.png
  src/Controls/tests/TestCases.iOS.Tests/snapshots/ios/IconColorRed.png
Labels: area-testing, community ✨, partner/syncfusion

#31730 Delete GlobalXmlns.cs from maui-mobile template
  src/Templates/src/templates/maui-mobile/GlobalXmlns.cs
Labels: area-xaml, area-templates

#31748 Update UI test category Copilot instructions
  .github/copilot-instructions.md
Labels: t/housekeeping ♻︎, area-infrastructure

#31772 [.NET 10] Fix RadioButton Test Failure
  src/Controls/src/Core/RadioButton/RadioButtonGroupController.cs
Labels: community ✨, area-controls-radiobutton, partner/syncfusion

#31771 [ci] Update to latest rc2
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-infrastructure

#31601 [Android] Create a Java layer for LayoutViewGroup
  src/Core/AndroidNative/maui/src/main/java/com/microsoft/maui/PlatformViewGroup.java
  src/Core/src/Platform/Android/LayoutViewGroup.cs
  src/Core/src/PublicAPI/net-android/PublicAPI.Unshipped.txt
  src/Core/src/Transforms/Metadata.xml
Labels: area-layout, community ✨, perf/general

#30686 [tests] Try run device tests with CoreClr
  eng/devices/android.cake
  eng/pipelines/common/device-tests-jobs.yml
  eng/pipelines/common/device-tests-steps.yml
  eng/pipelines/common/device-tests.yml
  eng/pipelines/device-tests.yml
  src/Controls/tests/DeviceTests/Controls.DeviceTests.csproj
  src/Core/tests/DeviceTests/Core.DeviceTests.csproj
  src/Essentials/test/DeviceTests/Essentials.DeviceTests.csproj
  src/Graphics/tests/DeviceTests/Graphics.DeviceTests.csproj
Labels: area-testing
